@import "../../assets/css/color.scss";

.main-heading-billing {
    padding: 52px 0px 0px 16px;

    .back-button {
        background-color: #d9d9d9 !important;
    }

    .giddh-heading {
        font-size: 40px;
        font-weight: bold;
        font-family: initial;
        padding-left: 6%;
    }
}

.welcome-msg {
    padding: 25px 15px 0;
    margin-bottom: 30px;

    .user-details {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .user-title {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 4px;
    }
}

.billing-details {
    padding: 25px 15px;
    padding-top: 0;

    .billing-name {
        font-size: 23px;
        font-weight: 700;
        font-family: "opensans-regular";
        color: gray;
        margin-bottom: 20px;
    }

    .billing-wrapper {
        border-right: 1px solid $gainsboro;
        height: 100%;
    }

    .mat-input {
        float: left;
        width: 100%;
    }

    .form-control {
        background: $white !important;
        border: 1px solid $gainsboro !important;
        border-radius: 2px !important;
        padding: 6px !important;
    }

    .red-text {
        color: gray !important;
    }

    .billing-details form label {
        color: gray;
        font-size: 15px;
        font-weight: 400;
    }

    .billing-details form {
        width: 100%;
    }
}

.whole-renewal {
    float: left;
    width: 100%;
    margin-top: 20px;
    top: 0;

    .renewal-heading {
        margin-bottom: 13px;
    }

    .renwal-details {
        color: gray;
    }

    .renewal-data {
        padding-left: 4px;
        padding-right: 4px;
    }

    .renewal-card-title {
        margin-bottom: -3px;
        padding-top: 10px;
    }

    .renewal-card-subtitle {
        color: gray;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0 !important;
    }

    .year {
        font-size: 14px;
        margin-left: -3px;
    }

    .renewal-list {
        padding-left: 14px;
        padding-top: 10px;
    }

    .renewal-card {
        float: left;
        width: 80%;
    }

    .renewal-off {
        color: gray;
        font-size: 12px;
        font-weight: 600;
        padding-left: 4px;
    }

    .discount-off {
        color: green;
        font-weight: bold;
    }

    .features {
        line-height: 1.7;
        color: #8c8c8c;
    }

    .renewal-payable {
        float: left;
        width: 100%;
    }

    .new-payable {
        font-size: 15px !important;
        padding-left: 5px;
        margin-bottom: 7px !important;
    }

    .renwal-amount {
        padding-left: 5px;
        font-size: 24px;
        font-weight: bolder;
        font-family: initial;
    }

    .including-tax {
        font-size: 13px;
        font-weight: lighter;
    }

    .pay-now {
        margin-top: 11px;
        width: 119px;
        background-color: navy;
        font-weight: bolder;
        height: auto;
        font-size: 20px;
    }
}

.renewal-section {
    float: left;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 13px;
    color: gray;
    font-size: 14px;
    padding-left: 5px;
}
