<ng-container
    appTranslate
    [file]="'create-company'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <div *ngIf="!isCreateAndSwitchCompanyInProcess && localeData?.welcome_to_giddh" id="main" class="welcome-outer">
        <div class="welcome-header">
            <h2>{{ localeData?.welcome_to_giddh }}</h2>
        </div>
        <hr />
        <div class="welcome-msg">
            <div class="row">
                <div class="col-sm-10">
                    <div class="">
                        <p>{{ getHelloUserText() }}</p>
                        <p>{{ localeData?.check_details_note }}</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="back-btn">
                        <button class="btn btn-default" (click)="backToSubscriptions()">
                            {{ commonLocaleData?.app_back }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="billing-details">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="billing-wrapper">
                        <h3>{{ localeData?.billing_details }}</h3>
                        <form name="form" #billingForm="ngForm" novalidate="" autocomplete="off">
                            <div class="form-group">
                                <label>{{ localeData?.billing_name }} <span class="red-text">*</span></label>
                                <input
                                    type="text"
                                    required
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    [(ngModel)]="billingDetailsObj.name"
                                />
                            </div>
                            <div class="form-group">
                                <label>{{ commonLocaleData?.app_email_id }} <span class="red-text">*</span></label>
                                <input
                                    type="email"
                                    required
                                    name="email"
                                    id="email"
                                    [(ngModel)]="billingDetailsObj.email"
                                    class="form-control"
                                />
                            </div>
                            <div class="form-group">
                                <label>{{ commonLocaleData?.app_mobile_number }}</label>
                                <input
                                    type="text"
                                    id="contactNo"
                                    class="form-control"
                                    name="contactNo"
                                    [(ngModel)]="billingDetailsObj.contactNo"
                                    #mobileNoEl
                                />
                            </div>

                            <div class="form-group" *ngIf="formFields['taxName'] !== undefined">
                                <label>{{ formFields["taxName"].label }}</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="gstin"
                                    id="gstin"
                                    autocomplete="false"
                                    maxlength="15"
                                    [(ngModel)]="billingDetailsObj.gstin"
                                    #gstinNumberField
                                    (keyup)="
                                        getStateCode(gstinNumberField, states); checkGstNumValidation(gstinNumberField)
                                    "
                                />
                            </div>
                            <div class="form-group">
                                <label>{{ commonLocaleData?.app_state }} <span class="red-text">*</span></label>
                                <sh-select
                                    #states
                                    [options]="statesSource$ | async"
                                    required
                                    [isRequired]="true"
                                    [isFilterEnabled]="true"
                                    [disabled]="disableState"
                                    [defaultValue]="selectedState"
                                    class="w-100"
                                    [(ngModel)]="billingDetailsObj.stateCode"
                                    id="stateCode"
                                    name="stateCode"
                                >
                                </sh-select>
                            </div>
                            <!-- static pincode start -->
                            <div class="form-group">
                                <label for="pinCodeNum"
                                    >{{ localeData?.pincode }} <span class="red-text">*</span></label
                                >
                                <input type="text" class="form-control" autocomplete="false" name="pinCodeNum" />
                            </div>
                            <!-- static pincode end -->
                            <div class="form-group">
                                <label>{{ commonLocaleData?.app_address }}</label>
                                <textarea
                                    class="form-control"
                                    name="address"
                                    id="address"
                                    [(ngModel)]="billingDetailsObj.address"
                                    [placeholder]="commonLocaleData?.app_address"
                                    rows="5"
                                    cols="12"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <input
                                    type="checkbox"
                                    (click)="autoRenewSelected($event)"
                                    id="autorenew"
                                    name="autorenew"
                                    [(ngModel)]="billingDetailsObj.autorenew"
                                /><label class="mr-l1">{{ localeData?.renew_subscription }}</label>
                            </div>
                            <div class="form-group">
                                <button
                                    type="button"
                                    id="rzp-button1"
                                    (click)="payWithRazor(billingForm)"
                                    [disabled]="billingForm.invalid || !isMobileNumberValid"
                                    class="btn btn-success"
                                >
                                    {{ commonLocaleData?.app_pay_now }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="professional-plan">
                        <p class="plan-title">
                            {{ selectedPlans?.planDetails?.name }}
                            <span class="grey-text"> {{ localeData?.current_plan }} </span>
                        </p>

                        <div class="your-account">
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ localeData?.subscription_price }}
                                    </span>
                                </div>
                                <div class="col-6">
                                    <p>
                                        {{ selectedPlans?.planDetails?.amount | number }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ localeData?.total_companies }}
                                    </span>
                                </div>
                                <div class="col-6">
                                    <p>
                                        {{ selectedPlans?.planDetails?.companiesLimit | number }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ localeData?.transaction_limit }}
                                    </span>
                                </div>
                                <div class="col-6">
                                    <p>
                                        {{ selectedPlans?.planDetails?.transactionLimit | number }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ localeData?.subscription_renewal }}
                                    </span>
                                </div>
                                <div class="col-6">
                                    <p>
                                        {{ selectedPlans?.planDetails?.duration }}
                                        {{ selectedPlans?.planDetails?.durationUnit }}(s)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isCreateAndSwitchCompanyInProcess || !localeData?.welcome_to_giddh">
        <giddh-page-loader></giddh-page-loader>
    </div>
</ng-container>
