@import "../../../assets/css/color.scss";
input {
    width: 100% !important;
}
input.form-control.date-range-picker {
    text-align: left;
    border: 1px solid $gainsboro;
    padding-left: 5px !important;
}
.square-switch {
    width: 110px;
}
.collapse-icons{
    font-size: 10px;
    border: 1px solid $chetwode-blue;
    border-radius: 4px;
    padding: 2px;
    top: 0 !important;
}