input {
    width: 100% !important;
}
input.form-control.date-range-picker {
    text-align: left;
    border: 1px solid #d1d1d1;
    padding-left: 5px !important;
}
.square-switch {
    width: 110px;
}
