input {
    width: 100% !important;
}
/* UNUSED COMPONENT CLASS: form-control - Auto-commented by script
input.form-control.date-range-picker {
    text-align: left;
    border: 1px solid var(--color-silver);
}
*/
/* UNUSED COMPONENT CLASS: icon-calender - Auto-commented by script
.icon-calender {
    position: absolute;
    z-index: 9;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
*/
/* UNUSED COMPONENT CLASS: modal-header - Auto-commented by script
.modal-header {
    > .close {
        top: 10px !important;
    }
}
*/
