@import "../../../../assets/css/color.scss";
.secondryDarkbg span {
    background: $teal;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.secondrylightbg span {
    background: #0cb1af;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}
.dashboard-option li {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-option li.secondryDarkbg {
    color: #087e7d;
    font-size: 14px;
}
.dashboard-option li.secondrylightbg {
    color: #0cb1af;
    font-size: 14px;
}

.dashboard-option li h3 {
    color: #666666;
}
.left-column {
    border-right: 1px solid #ddd;
    margin: 5px 0;
}
span.this-week {
    color: #666666;
    padding-left: 20px;
    font-size: 16px;
    text-decoration: underline;
}
.total-sale-detail {
    text-align: right;
    padding-right: 11px;
}
.total-sale-detail p {
    font-size: 18px;
    color: #666;
}
.total-sale-detail h3 {
    font-size: 22px;
    color: #000000;
}

.total-sale-detail span {
    font-size: 18px;
    color: #000000;
}
.singleSaleDetail {
    padding-top: 30px;
}
span.icon-collapse-icon {
    box-shadow: none;
    outline: none;
}
span.icon-collapse-icon:hover {
    color: #1a237e;
}

/* CSS FOR LINE CHART */

p.bankName {
    font-size: 14px;
    color: #1a237e;
    margin-bottom: 5px;
}

p.bankBalnc {
    color: #666666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.single-bank-detatil {
    border-bottom: 1px solid $gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connectBnk {
    position: absolute;
    bottom: 10px;
    color: #262626;
    font-size: 14px;
    text-decoration: underline;
}
.dashboard-container {
    padding: 15px;
}
.total-sales-header {
    background-color: #fff;
    border: 1px solid $gainsboro;
    border-radius: 2px;
    padding: 15px 15px 20px;
}
.dashboard-container label {
    font-size: 14px;
    color: #484848;
    margin-bottom: 3px;
}
.daterang-block .form-control {
    border: 1px solid #5b64c9;
}
.dateRangeInput {
    position: relative;
}
.dateRangeInput span.icon-calender {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $gainsboro;
    color:$nero;
}
.dateRangeInput input {
    padding-left: 35px !important;
    color:$nero;
}
.page-title h1 {
    color: #1a237e;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 2.3;
    display: inline-flex;
    float: right;
}
.collapse-close {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 58px;
    width: 58px;
    box-shadow: none;
    outline: none;
}
.collapse-close span.icon-collapse-icon {
    transform: rotate(180deg);
    display: inline;
    text-align: right;
    font-size: 24px;
    color: #1a237e;
}
.dateRangeInput.disabled {
    opacity: 0.5;
}
.page-title {
    margin: 0;
}

.about-date {
    display: inline-flex;
    font-size: 18px;
}
.active-date {
    color: #1a237e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #1a237e;
    margin-right: 5px;
}
.inActive-date {
    color: #5b64c9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.inActive-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #5b64c9;
    margin-right: 5px;
}

.panel {
    padding: 15px;
    border-radius: 2px;
    border: 1px solid $gainsboro;

    position: relative;
}
.topdates {
    min-height: 60px;
}
.single-sale-data p {
    color: #484848;
    font-size: 16px;
}
.single-sale-data h3 {
    font-size: 22px;
    color: #1a237e;
    margin-top: 6px;
}
span.dateWiseSale {
    color: #1a237e;
    font-size: 18px;
}

.single-sale-data {
    border-right: 1px solid $gainsboro;
    min-height: 78px;
}
.total-sale-data {
    padding-top: 40px;
    padding-bottom: 30px;
}
.single-sale-data:last-child {
    border-right: none;
}
.total-sales-tabs a {
    color: #484848;
    cursor: pointer;
}
.total-sales-tabs a.active-graph {
    font-family: "opensans-semibold";
}
input:read-only {
    border-color: $gainsboro !important;
}
input:read-only:focus {
    border-color: $gainsboro !important;
}
.total-sales-header label {
    margin-bottom: 5px;
}
.panel-heading-inner-coonent{
    display: flex;
    justify-content: space-between;
}
@media(max-width:991px){
    .about-date {
        font-size: 16px;
    }
    .total-sales-tabs a {
        font-size: 14px;
    }
}
@media(max-width:767px){
    .total-sale-detail{
        text-align: left;
        padding-right: 0;
        .singleSaleDetail{
            padding-top: 0;
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
        }
        h3{
            padding-top: 3px;
            font-size: 18px;
        }
    }
    .left-column {
        border-right: none;
    }
    .panel-heading-inner-coonent {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        position: relative;
        .refresh-btn{
            padding-left: 15px;
            padding-top: 10px;
            .glyphicon-refresh{
                margin-left: 10px !important;
                position: absolute !important;
                right: 0;
                top: 2px !important;
            }
        }   
        .this-week {
            position: absolute;
            right: 30px;
            top: 0;
        }
    }
    .revenue-tabs{
        float: none !important;
        padding-top: 5px;
    }
    .single-sale-data{
        min-height: auto;
        margin-bottom: 15px;
        p{
            font-size: 14px;
        }
        h3{
            font-size: 18px;
        }
    }
    .about-date{
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: baseline;
        float: none !important;
    }
    .daterang-block {
        padding-bottom: 10px;
        font-size: 14px;
    }
    .page-title{
        h1{
            display: flex;
            float: left;
            font-size: 20px
        }
        .collapse-close{
            height: 40px;
            width: 40px;
            span.icon-collapse-icon{
                font-size: 20px;
            }
        }
    }
    .total-sales-header{
        padding: 15px 15px 0;
    }
}