.secondary-dark-bg span {
    background: var(--color-primary-revenue-chart-secondary-dark-bg);
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.secondary-light-bg span {
    background: var(--color-primary-revenue-chart-secondary-dark-bg);
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}
.dashboard-option li {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-option li.secondary-dark-bg {
    color: var(--color-primary-revenue-chart-secondary-dark-bg);
    font-size: var(--font-size-14);
}
.dashboard-option li.secondary-light-bg {
    color: var(--color-primary-revenue-chart-secondary-dark-bg);
    font-size: var(--font-size-14);
}

.dashboard-option li h3 {
    color: var(--color-abbey);
}
.left-column {
    margin: 5px 0;
    border-right: 1px solid var(--color-common-secondary-border);
}
span.this-week {
    color: var(--color-abbey);
    padding-left: 5px;
    font-size: var(--font-size-14);
}
.total-sale-detail {
    text-align: right;
    padding-right: 11px;
}
.total-sale-detail p {
    font-size: var(--font-size-18);
    color: var(--color-abbey);
}
.total-sale-detail h3 {
    font-size: var(--font-size-24);
    color: var(--color-nero);
}

.total-sale-detail span {
    font-size: var(--font-size-18);
    color: var(--color-common-septenary-text);
}
.single-sale-detail {
    padding-top: 30px;
}
span.icon-collapse-icon {
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
span.icon-collapse-icon:hover {
    color: var(--color-giddh-blue);
}

/* CSS FOR LINE CHART */

p.bankName {
    font-size: var(--font-size-14);
    color: var(--color-giddh-blue);
    margin-bottom: 5px;
}

p.bank-balance {
    color: var(--color-abbey);
    font-size: var(--font-size-14);
    display: flex;
    justify-content: space-between;
}
.single-bank-detail {
    border-bottom: 1px solid var(--color-iron);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connect-bank {
    position: absolute;
    bottom: 10px;
    color: var(--color-nero);
    font-size: var(--font-size-14);
    text-decoration: underline;
}
.dashboard-container {
    padding: 15px;
}
.total-sales-header {
    background-color: var(--color-white);
    border: 1px solid var(--color-common-primary-border);
    border-radius: 2px;
    padding: 15px 15px 20px;
}
.dashboard-container label {
    font-size: var(--font-size-14);
    color: var(--color-nero);
    margin-bottom: 3px;
}
.date-range-block .form-control {
    border: 1px solid var(--color-blue);
}
.date-range-input {
    position: relative;
}
.date-range-input span.icon-calender {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-nero);
}
.date-range-input input {
    padding-left: 35px !important;
    color: var(--color-nero);
}
.page-title h1 {
    color: var(--color-giddh-blue);
    font-size: var(--font-size-24);
    text-align: center;
    font-weight: 600;
    line-height: 2.3;
    display: inline-flex;
    float: right;
}
.collapse-close {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 58px;
    width: 58px;
    box-shadow: none;
    outline: none;
}
.collapse-close span.icon-collapse-icon {
    transform: rotate(180deg);
    display: inline;
    text-align: right;
    font-size: 24px;
    color: var(--color-giddh-blue);
}
.date-range-input.disabled {
    opacity: 0.5;
}
.page-title {
    margin: 0;
}

.about-date {
    display: inline-flex;
    font-size: var(--font-size-18);
}
.active-date {
    color: var(--color-giddh-blue);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--color-giddh-blue);
    margin-right: 5px;
}
.in-active-date {
    color: var(--color-blue);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.in-active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--color-blue);
    margin-right: 5px;
}

.panel {
    padding: 15px;
    border-radius: 2px;
    border: 1px solid var(--color-iron);

    position: relative;
}
.top-dates {
    min-height: 60px;
}
.single-sale-data p {
    color: var(--color-nero);
    font-size: var(--font-size-14);
}
.single-sale-data h3 {
    font-size: var(--font-size-24);
    color: var(--color-giddh-blue);
    margin-top: 6px;
}
span.date-wise-sale {
    color: var(--color-giddh-blue);
    font-size: var(--font-size-18);
}

.single-sale-data {
    border-right: 1px solid var(--color-common-secondary-border);
    min-height: 78px;
}
.total-sale-data {
    padding-top: 40px;
    padding-bottom: 30px;
}
.single-sale-data:last-child {
    border-right: none;
}
.total-sales-tabs a {
    color: var(--color-nero);
    cursor: pointer;
}
.total-sales-tabs a.active-graph {
    font-family: var(--font-semibold);
}
input:read-only {
    border-color: var(--color-secondary-input-bar-border) !important;
}
input:read-only:focus {
    border-color: var(--color-secondary-input-bar-border) !important;
}
.total-sales-header label {
    margin-bottom: 5px;
}
.panel-heading-inner-content {
    display: flex;
    justify-content: space-between;
}
.refresh-btn {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 991px) {
    .about-date {
        font-size: var(--font-size-14);
        display: flex;
        flex-direction: column;
    }
    .total-sales-tabs a {
        font-size: var(--font-size-14);
    }
    .total-income-wrap {
        flex-direction: column-reverse;
        .page-title {
            h1 {
                font-size: var(--font-size-14);
                line-height: 1.3;
            }
        }
        .collapse-close {
            height: 20px;
            width: 20px;
            margin-left: 10px;
            .icon-collapse-icon {
                font-size: var(--font-size-18);
            }
        }
    }
}
@media (max-width: 767px) {
    .total-sale-detail {
        text-align: left;
        padding-right: 0;
        .single-sale-detail {
            padding-top: 0;
            padding-bottom: 10px;
        }
        p {
            font-size: var(--font-size-14);
        }
        h3 {
            padding-top: 3px;
            font-size: var(--font-size-18);
        }
    }
    .left-column {
        border-right: none;
    }
    .panel-heading-inner-content {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        position: relative;
        .refresh-btn {
            padding-left: 15px;
            padding-top: 10px;
            .glyphicon-refresh {
                margin-left: 10px !important;
                position: absolute !important;
                right: 0;
                top: 2px !important;
            }
        }
        .this-week {
            position: absolute;
            right: -15px;
            top: 0;
        }
    }
    .revenue-tabs {
        float: none !important;
        padding-top: 5px;
    }
    .single-sale-data {
        min-height: auto;
        margin-bottom: 15px;
        p {
            font-size: var(--font-size-14);
        }
        h3 {
            font-size: var(--font-size-18);
        }
    }
    .about-date {
        display: flex;
        font-size: var(--font-size-14);
        flex-direction: column;
        align-items: baseline;
    }
    .date-range-block {
        padding-bottom: 10px;
        font-size: var(--font-size-14);
    }
    .page-title {
        h1 {
            display: flex;
            float: left;
            font-size: var(--font-size-18);
        }
        .collapse-close {
            height: 40px;
            width: 40px;
            span.icon-collapse-icon {
                font-size: 20px;
            }
        }
    }
    .total-sales-header {
        padding: 15px 15px 0;
    }
}
@media (max-width: 575px) {
    .about-date {
        float: none !important;
    }
}
