.welcome-container {
    .border-btm {
        font-size: var(--font-size-16);
        font-family: var(--font-semibold);
        border-bottom: 1px solid var(--color-common-secondary-border);
        padding: 7px 0;
        margin-bottom: 10px;
    }

    .manage-invoice {
        a {
            background: var(--color-common-primary-background-for-all-components);
            box-shadow: 1px 1px 3px var(--color-primary-common-box-shadow);
            padding: 9px 15px;
            color: var(--color-blue);
            font-size: var(--font-size-15);
            display: block;
            width: 356px;
            i {
                margin-right: 20px;
                font-size: 23px;
                color: var(--color-abbey);
            }
        }
    }

    .right-section {
        span {
            font-size: var(--font-size-15);
            color: var(--color-gray);
            display: block;
        }
        a {
            &.text-dark {
                text-decoration: underline;
                font-size: var(--font-size-16);
                color: var(--color-onboard-contact-info-text) !important;
                &:hover {
                    color: var(--color-onboard-contact-info-text) !important;
                }
            }
        }
        .schedule-img {
            img {
                width: 200px;
            }
        }
    }
}
