.width-160 {
    width: 160px;
}
.width-170 {
    width: 170px;
}
.radio-theme:before {
    content: " ";
    width: 14px;
    height: 14px;
    top: 0;
    right: 0;
}

.radio-theme {
    height: 14px;
    width: 14px;
}

.radio-theme:checked:after {
    content: " ";
    left: 4px;
    bottom: 4px;
}
.btn-group {
    display: block;
    width: 100%;
    text-align: left;
}
.btn.dropdown-toggle {
    width: 100%;
    text-align: left;
    border: 1px solid var(--color-primary-button-border);
    padding-left: 7px !important;
    background: var(--color-white);
    color: var(--color-dropdown-list);
}
.btn.dropdown-toggle .caret {
    position: absolute;
    right: 10px;
    top: 14px;
    color: var(--color-dropdown-secondary-list-icon);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px dashed;
}
.report-dropdown li {
    float: left;
    width: 51px;
}
.report-dropdown {
    min-width: 210px;
}
ul#dropdown-nested {
    min-width: 254px;
    z-index: 9;
}
ul#dropdown-nested li .caret {
    float: right;
    margin-top: 8px;
}
.report-dropdown {
    left: 100% !important;
}
#dropdown-nested li .caret {
    float: right;
    margin-top: 8px;
    transform: rotate(-94deg);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px dashed;
    color: var(--color-gray);
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.select-financial-year {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    .btn-group {
        width: auto;
    }
    .inner-button {
        width: 100%;
        max-width: 300px;
        margin-right: 15px;
    }
}
.report-breadcrum {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0px 10px 36px !important;
    border-bottom: 1px solid var(--color-iron);
    .nav-report {
        li {
            font-family: var(--font-semibold);
            font-size: var(--font-size-20);
            a {
                color: var(--color-giddh-blue);
            }
        }
    }
}
@media (max-width: 991px) {
    #dropdown-nested {
        position: absolute;
        left: -141px;
        li {
            .caret {
                transform: rotate(0deg);
            }
        }
        .report-dropdown {
            left: 0 !important;
            bottom: -65px;
            width: 100%;
            min-height: 120px;
            top: 50px;
        }
    }
}
@media (max-width: 767px) {
    .xs-pr-0 {
        padding-right: 0px !important;
    }
    .report-breadcrum {
        position: static !important;
        padding-left: 15px !important;
        padding-top: 0 !important;
        .nav-report {
            li {
                font-size: var(--font-size-16);
            }
        }
        .custom-month-select {
            .btn {
                font-size: var(--font-size-16);
            }
        }
    }
}
@media (max-width: 575px) {
    .select-financial-year {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        .inner-button {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
