.or-line::before {
    content: " ";
    border-bottom: 1px solid var(--color-medium-gray);
    display: inline-block;
    width: 57px;
    margin-right: 13px;
}
.or-line::after {
    content: "";
    border-bottom: 1px solid var(--color-medium-gray);
    display: inline-block;
    width: 57px;
    margin-left: 13px;
}
.or-line {
    display: flex;
    align-items: center;
    color: var(--color-medium-gray);
    margin-bottom: 10px;
}
.my-dropdown-men {
    padding: 10px;
}
.discount-list {
    list-style: none;
    overflow: auto;
    max-height: 100px;
}

.my-dropdown-menu {
    max-width: 228px !important;
    min-width: 228px !important;
}

.show-caret-icon {
    background-image: var(--url-caret-image) !important;
    background-color: var(--color-white) !important;
    background-position: 97% !important;
    background-size: 10px !important;
    background-repeat: no-repeat;
}