@import "../../../../assets/css/color.scss";

.new-inventory-page-header {
    padding: 0 15px 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gainsboro;
    align-items: center;

    .inventory-header-right {
        display: flex;
    }
}

.page-title-inventory {
    font-weight: bold;
    color: var(--color-giddh-blue);
    font-size: 16px;
}

.create-new-inventory-page {
    .back-to-page {
        position: absolute;
        right: 5px;
        top: 0;
        padding: 10px;
        z-index: 10;
        color: var(--color-blue);
    }

    .select-product-type {
        .form-body {
            background-color: transparent;
        }

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-common-primary-border);
        margin-bottom: 15px;
        font-size: 14px;
        padding-bottom: 5px;

        img {
            width: 86px;
        }
    }

    .sales-purchase-details {
        background-color: var(--color-white);
        //margin: 0 -15px;
        padding: 15px 15px;
        border-radius: 7px;

        .select-puchase-info {
            background-color: var(--color-dark-fog);
            padding: 6px 10px;
            font-family: "opensans-semibold";
        }

        .add-new-field {
            position: relative;

            .icon-button-add {
                color: var(--color-blue);
                position: absolute;
                right: -25px;
                top: -5px;
                z-index: 1;
            }

            .icon-button-remove {
                color: var(--color-gray);
                position: absolute;
                right: -50px;
                font-size: 20px;
                top: -5px;
                z-index: 1;
            }
        }

        .sales-information {
            position: relative;

            &::after {
                position: absolute;
                width: 1px;
                background-color: var(--color-common-primary-border);
                height: 100%;
                content: "";
                left: -20px;
                top: 0;
            }
        }
    }

    .stock-made-with {
        margin-bottom: 15px;
        position: relative;
        font-family: "opensans-semibold";

        &:after {
            position: absolute;
            content: "";
            background-color: $gainsboro;
            right: 0;
            height: 1px;
            width: calc(100% - 220px);
            top: 13px;
        }
    }

    .show-on-mobile {
        display: none;
    }

    .qty-unit {
        display: flex;
        align-items: center;

        input,
        sh-select {
            width: 150px;
            margin-right: 10px;
            min-width: 120px;
        }

        i {
            color: var(--color-blue);
        }
    }

    // Inventory
    .product-option-wrapper {
        background-color: var(--color-white);
        padding: 15px;
        border-radius: 8px;
    }

    .combo-detail-content {
        min-height: 63vh;
        .table-responsive {
            .table.combo-table {
                thead {
                    th:nth-child(2) {
                        min-width: 235px;
                    }
                }
                td {
                    min-width: 87px;
                }
            }
        }
    }
}

.add-image-button {
    button {
        padding: 0;
        margin: 0 !important;
        height: auto;
        border: 2px dashed var(--color-iron);
        overflow: hidden;
    }

    img {
        height: 87px;
        width: 87px;
        object-fit: contain;
        transform: scale(1.2);
    }
}

.inventory-footer {
    background-color: var(--color-dark-fog);
    z-index: 3;
    width: calc(100% - 240px);
    padding-right: 15px;
    line-height: 1.8;
    text-align: left;
    min-height: 60px;
    align-items: center;
    display: flex;
    position: static;
    width: 100%;
    padding-left: 15px;
}

::ng-deep table.stock-table td input {
    border: none;
}

table.stock-table td,
table.stock-table th {
    padding: 7px 15px;
}

.combo-table.table,
.bulk-create-table.table {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 0;

    .delete-row {
        position: absolute;
        right: -40px;
        width: 25px;
        height: 25px;
        border: 1px solid var(--color-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        color: var(--color-abbey);
        font-size: 17px;
    }

    .delete-tb-tr-icon {
        position: absolute;
        right: -50px;
        font-size: 16px;
        border: 1px solid var(--color-gray);
        line-height: 1;
        height: 29px;
        width: 29px;
    }
}

.stock-table td,
.combo-table tr,
.combo-table th,
.combo-table td,
.combo-table tbody,
.bulk-create-table tr,
.bulk-create-table th,
.bulk-create-table td,
.bulk-create-table tbody {
    border: 1px solid $gainsboro;
    border-collapse: collapse;
    min-width: 160px;
}

.combo-table th,
.bulk-create-table th {
    border-bottom: 1px solid $gainsboro;
}

.combo-table th:first-child,
.stock-table th:first-child,
.bulk-create-table td:first-child {
    min-width: auto !important;
}

.bulk-create-content {
    min-height: 63vh;

    .bulk-create-head {
        .button-group {
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-color: var(--color-gray);
                background-color: var(--color-white);

                i {
                    vertical-align: top;
                    font-size: 20px;
                    color: var(--color-abbey);
                }
            }
        }

        .checkbox-custom-label {
            padding-bottom: 0;
            width: 100%;
        }

        .search-field {
            display: flex;
            width: 200px;
            position: relative;
            border: 1px solid var(--color-iron);
            border-radius: 5px;

            .input-addon {
                position: absolute;
                left: 6px;
                top: 11px;
                z-index: 4;
                color: var(--color-abbey);
            }

            input {
                padding-left: 30px !important;
            }

            .search-text-padding {
                padding: 1px 0px 0px 25px;
            }
        }

        .bulk-creation-filter-btn {
            border: 1px solid var(--color-iron);
            margin-right: 13px;
            display: grid;
            place-content: center;
        }
    }

    .bulk-create-table td {
        padding: 0;

        &.list-number {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 36px;
            border: none;
        }

        input {
            min-height: 36px;
            border: none;
            padding: 0 11px;
            width: 100%;
        }
    }

    .add-new-rows {
        display: flex;
        align-items: center;

        span {
            input {
                width: 80px;
            }
        }
    }
}

.final-product-recipe {
    background-color: var(--color-white);
    padding: 15px;
    margin-bottom: 15px;

    .variant-field {
        .variant-name-field {
            min-width: 30%;
            padding-right: 30px;
            max-width: 30%;
        }
    }

    .width-30-percent {
        min-width: 30%;
        padding-right: 30px;
        max-width: 30%;
    }

    .col-sm-1 {
        flex: 0 0 5.333333%;
        max-width: 5.333333%;
    }

    .to-span {
        position: relative;
        right: 1%;
    }

    .recipe-input-tab {
        .col-sm-3 {
            flex: 0 0 27%;
            max-width: 27%;
        }
    }

    .add-new-final-product {
        display: none;
    }
}

/* responsive */
@media (max-width: 1440px) {
    .final-product-recipe {
        .width-30-percent {
            min-width: 31%;
            padding-right: 15px;
            max-width: 31%;
        }

        .variant-field {
            .variant-name-field {
                min-width: 31%;
                padding-right: 15px;
                max-width: 31%;
            }
        }
    }
}

@media (max-width: 1199px) {
    .pl-5 {
        padding-left: 15px !important;
    }
    .create-new-inventory-page {
        .sales-purchase-details {
            .mt-5 {
                margin-top: 0 !important;
            }

            .pl-5 {
                padding-left: 15px !important;
            }

            .sales-information {
                &::after {
                    display: none;
                }
            }
        }

        .show-on-mobile {
            display: block;
        }

        .qty-unit {
            margin-top: 10px;
        }
    }
}

.mat-input-element.mat-form-field-autofill-control.form-control.form-check.ng-pristine.ng-valid.cdk-text-field-autofill-monitored.ng-touched {
    border: none !important;
}

@media (min-width: 1200px) and (max-width: 1650px) {
    .col-xl-8 {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .addon-form,
    .variant-form {
        input {
            margin-bottom: 15px;
        }
    }
    .d-none-mobile {
        display: none;
    }
    .final-product-recipe {
        input {
            margin-bottom: 15px;
        }

        .expense-form {
            flex-direction: column !important;
            justify-content: flex-start;
            align-items: flex-start !important;
            text-align: left;

            .width-30-percent {
                min-width: 100%;
                padding-right: 0;
                max-width: 100%;
            }

            input {
                margin-bottom: 15px;
            }

            .add-expense {
                margin-left: 0;
            }

            span {
                padding: 0 15px;
                margin-bottom: 11px;
            }
        }

        .add-new-final-product {
            display: flex;
        }

        .width-30-percent {
            min-width: 33.33%;
            padding-right: 15px;
            max-width: 33.33%;
        }

        .variant-field {
            .variant-name-field {
                min-width: 33.33%;
                padding-right: 15px;
                max-width: 33.33%;
            }
        }
    }
}

@media (max-width: 768px) {
    .bulk-create-table.on-mobile-view {
        tr {
            border: none !important;

            td {
                input {
                    border: 1px solid $gainsboro !important;
                }
            }
        }

        tbody {
            border: none !important;
        }
    }
}

@media (max-width: 767px) {
    .create-new-inventory-page {
        .select-physical-product {
            p {
                margin-right: 40px;
            }
        }

        .right-img-div {
            display: none;
        }

        .product-detail-content,
        .service-detail-content,
        .combo-detail-content {
            .add-image {
                button {
                    padding: 0;
                    margin: 0 !important;
                    height: auto;
                    border: 2px dashed var(--color-iron);
                    overflow: hidden;
                }

                img {
                    height: 87px;
                    width: 87px;
                    object-fit: contain;
                    transform: scale(1.2);
                }
            }
        }

        .product-detail-content {
            form {
                .text-field-border {
                    border: 1px solid var(--color-iron) !important;
                }
            }
        }

        .combo-detail-content {
            min-height: auto;
        }

        .select-product-type {
            padding-bottom: 10px;
        }
    }
    .checkbox-custom-label,
    .radio-custom-label {
        display: inline-block !important;
    }
}

@media (max-width: 575px) {
    .create-new-inventory-page {
        .select-physical-product {
            .radio-btn-wrapper {
                display: block;
                width: 100%;

                span {
                    width: 43%;
                    float: left;
                    margin-right: 0 !important;
                    margin-bottom: 6px;
                }
            }
        }

        .sales-purchase-details {
            .purchase-information,
            .sales-information {
                .pl-0 {
                    padding-left: 15px !important;
                }
            }
        }

        .show-on-mobile {
            display: none;
        }
    }
    .final-product-recipe {
        .width-30-percent {
            min-width: 100%;
            padding-right: 15px;
            max-width: 100%;
        }

        .variant-field {
            .variant-name-field {
                min-width: 100%;
                padding-right: 0;
                max-width: 100%;
            }
        }

        .hide-label-on-mobile {
            display: none !important;
        }
    }
}

.tab-container-new {
    padding: 15px;
    margin-top: 15px;
    background-color: var(--color-common-septenary-background-for-all-components);
    margin-bottom: 15px;
    border-radius: 7px;
}
