<div>
    <div class="dialog-header">
        <span>{{ commonLocaleData?.app_confirmation }}</span>
        <button matIconButton aria-label="close" (click)="onCancel()">
            <i class="icon-cross"></i>
        </button>
    </div>
    <mat-dialog-content class="dialog-body">
        <form name="newRole" novalidate autocomplete="off">
            <div class="modal-wrap">
                <p>{{ message }}</p>
            </div>
        </form>
        <div class="d-flex column-gap-1 align-items-center">
            <button matButton="filled" (click)="onConfirmation()">
                {{ commonLocaleData?.app_yes }}
            </button>
            <button matButton="outlined" mat-dialog-close (click)="onCancel()">{{ commonLocaleData?.app_no }}</button>
        </div>
    </mat-dialog-content>
</div>
