p.bankName {
    font-size: 14px;
    color: #1a237e;
    margin-bottom: 5px;
}

p.bankBalnc {
    color: #666666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.single-bank-detatil {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connectBnk {
    bottom: 10px;
    color: #262626;
    font-size: 14px;
    text-decoration: underline;
    padding-top: 20px;
    display: block;
}
.wrap-single-bank-detail {
    height: 265px;
    overflow-y: auto;
}
.addBankDetails {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    color: #666666;
}
.addBankDetails a.connectBnk {
    padding-top: 5px;
}
