.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}

table {
    table-layout: fixed;
}

.check-image img {
    max-height: 14px;
    cursor: pointer;
}

.flex-fill {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
}

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    flex: 1 1 auto;
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 3px;
    color: var(--color-invoice-generate-td-search-box-i);
    padding-right: 8px;
    cursor: pointer;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container input {
    height: 41px;
    width: 100%;
    padding: 11px;
    padding-right: 40px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.basic > thead > tr > th {
    border-right: 1px solid var(--color-iron);
}

.icon-pointer .glyphicon {
    cursor: pointer;
}

.dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}

.dropdown-menu {
    margin-top: 0;
}

.pending-table .nested-table > tbody tr td {
    border: 0 !important;
    padding: 0px !important;
}

.nested-table > tbody > tr:hover td {
    background: transparent !important;
}

.basic > tbody > tr:hover td .nested-table > tbody > tr td {
    background: transparent !important;
}

.pending-textaerea {
    resize: vertical;
    margin-top: 7px;
    width: 100%;
    border-color: var(--color-iron);
    border-radius: 2px;
    padding: 7px;
}

.pending-textaerea:focus {
    outline: none !important;
}

.more-btn-dropdown {
    border: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: var(--font-size-18);
    padding: 0;
    color: var(--color-common-primary-text);
}

.basic.table {
    margin-bottom: 0;
}

.invoice-generate-container {
    padding: 0 15px;
    .btn-dropdown-dr-cr {
        height: 44px;
    }
    .table {
        &.nested-table {
            background-color: var(--color-table-body-primary-background);
        }
    }
}

.input-group {
    position: relative;
}

.input-group input.form-control {
    background-image: url("../../../assets/images/calender-icon.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: pointer;
    width: 100%;
}

.input-group input.form-control:focus {
    border-color: var(--color-blue);
}

.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-blue);
}

.input-wrapper {
    display: block !important;
    width: 200px !important;
    position: relative;
    height: 36px !important;
}

.input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: var(--color-iron);
    left: 37px !important;
    z-index: 100;
    top: 0;
}

button.btn.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-dark-fog);
    font-size: var(--font-size-14);
    color: var(--color-giddh-blue);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px !important;
}

button.btn.btn-filter span.icon-cross {
    margin-right: 5px;
}

.pending-table-description {
    white-space: normal !important;
}

.close-modal img {
    width: 16px;
    opacity: 0.6;
}

.invoice-edit-wrapper {
    height: 100vh;
    overflow-y: auto;
    .invoice-edit-header {
        display: flex;
        justify-content: space-between;
        height: 54px;
        background-color: var(--color-white);
        border-top: 1px solid var(--color-iron);
        border-bottom: 1px solid var(--color-iron);
        align-items: center;
        span {
            padding: 10px;
            p {
                font-size: var(--font-size-16);
                font-weight: bold;
            }
        }
        span.close-modal {
            height: 32px;
            width: 32px;
            background-color: var(--color-iron);
            border: 1px solid var(--color-iron);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            position: static;
            transform: inherit;
        }
    }
    .invoice-edit-body {
        padding-bottom: 90px;
    }
}

span.close-modal.cp.pull-right {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    background-color: var(--color-iron);
    border: 1px solid var(--color-iron);
    border-radius: 5px;
    margin-right: 8px;
    position: static;
    transform: inherit;
}
#mobile-nested-table {
    display: none;
}
.nested-table {
    tr {
        td {
            white-space: normal;
            border-left: none !important;
            border-right: none !important;
            border-bottom: none !important;
        }
    }
}

.width-auto {
    width: auto;
}

.filter-width {
    width: 85%;
}

.pending-advance-search {
    flex: 1 1 auto !important;
    div#dp-parent {
        margin-right: 8px;
    }
}
// responsive
@media (max-width: 1023px) {
    .pending-advance-search {
        .input-group {
            display: flex;
            .clear-filter {
                margin-left: 15px !important;
            }
        }
    }
}
@media (max-width: 768px) {
    .pending-table tr td#mobile-nested-table {
        padding: 0 !important;
        margin: 0 !important;
        display: block;
        tr {
            box-shadow: none;
            margin: 0;
            padding-top: 0;
            th {
                display: inline-flex !important;
                width: 50%;
                border: none;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-left: 15px;
                &:last-child {
                    padding-left: 0 !important;
                }
            }
            td {
                padding: 5px 0 0 0 !important;
                display: inline-flex;
                width: 50%;
                border: none;
                margin-bottom: 10px;
                &:first-child {
                    padding-left: 15px !important;
                    color: rgba(0, 0, 0, 0.55) !important;
                }
            }
        }
    }
    .pending-table tr td.hide-on-mobile {
        display: none !important;
    }
    .basic.on-mobile-view {
        background: transparent;
        border: none;
    }
    .pending-table {
        margin-top: 5px !important;
    }
    .justify-content-sm {
        justify-content: left !important;
    }
    .nested-table tr {
        box-shadow: none !important;
        padding: 0 !important;
        border: none !important;
        margin: 0 !important;
        width: 50% !important;
        float: left;
    }
    .pending-table.on-mobile-view {
        tr {
            td {
                .table.nested-table {
                    tr {
                        td {
                            padding: 8px 0 !important;
                            width: 100%;
                            display: flex;
                            border-bottom: none;
                            padding-left: 10px !important;
                        }
                    }
                }
            }
        }
    }
    .pending-table.on-mobile-view tr td .table.nested-table tr:first-child td {
        border-right: 1px solid var(--color-iron) !important;
    }
    .pending-table.on-mobile-view tr td .table.nested-table tr td:last-child {
        border-bottom: none !important;
    }
    .pending-table.on-mobile-view tr td .table.nested-table tr:first-child td {
        border-bottom: none !important;
    }
    .pending-table .nested-table > tbody tr td {
        padding: 0 !important;
    }
    .pending-table tr td {
        padding: 5px 10px 5px 50% !important;
    }
    .on-mobile-view tbody .nested-table td {
        min-height: auto !important;
    }
    .form-group button,
    .form-group .input-group {
        float: left;
        margin-bottom: 10px;
        min-height: 36px;
    }
    .form-inline .d-flex,
    .form-inline .form-group {
        margin: 0;
    }
    .pagination-wrapper {
        margin-top: 20px;
        border: none;
        background-color: transparent;
    }
    #centerAlign td {
        padding: 0 !important;
    }
    .input-wrapper {
        width: 100% !important;
        max-width: 220px;
    }
    .clear-filter.btn.btn-filter {
        justify-content: center !important;
        margin-bottom: 10px !important;
        margin-right: 10px !important;
    }
    .mobile-width-100 {
        width: 100%;
    }
    .particular-nested-table tr td {
        border-top: none !important;
    }
}

@media (max-width: 767px) {
    .form-inline .form-group {
        display: flex;
        flex-direction: row;
    }
    .clear-filter.btn.btn-filter {
        flex-direction: row !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 120px;
    }
    .pending-advance-search {
        width: 100%;
        margin-bottom: 0;
        flex-direction: column !important;
        div#dp-parent {
            width: 100% !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .input-wrapper {
                width: 100% !important;
                max-width: 196px;
            }
            .clear-filter {
                float: right;
                width: 100% !important;
                margin-top: 10px !important;
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
        span {
            .btn {
                margin-bottom: 0 !important;
                margin-top: 10px !important;
            }
        }
    }
}
@media (max-width: 575px) {
    .pending-advance-search {
        button {
            margin-top: 10px !important;
            width: 100% !important;
        }
    }

    button.btn.btn-filter {
        width: 100%;
        justify-content: center;
        margin-bottom: 5px;
        font-size: var(--font-size-14);
    }
}

@media (max-width: 375px) {
    .form-group button,
    .form-group .input-group {
        width: 100%;
        margin-bottom: 0;
    }
    div#dp-parent {
        margin-bottom: 0;
        width: 100%;
    }
    .flex-none {
        flex: none;
    }
}

@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-flex;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.clear-filter.desktop-view-btn {
    display: inline-block;
}

@media (max-width: 320px) {
    .form-inline .form-group {
        flex-direction: column;
    }
    .clear-filter.btn.btn-filter {
        flex-direction: row !important;
        margin-top: 10px !important;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .table-responsive {
        max-height: calc(100vh - 295px);
        overflow-y: auto;
    }
}
