#close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-white);
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-black-russian);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
