.mfStockSearchRequestForm .col-xs-1 {
    width: 11.33333333%;
}

#mfReportTbl .table .table td {
    border: none;
    text-align: center;
    padding: 1px 0;
}

#mfReportTbl .table td {
    vertical-align: top !important;
    text-transform: capitalize;
}

#mfReportTbl .table td.noBdr {
    border: none;
}

.pdBth4 {
    padding: 0 40px;
}
