.mfStockSearchRequestForm .col-xs-1 {
    width: 11.33333333%;
}

#mfReportTbl .table .table td {
    border: none;
    text-align: center;
    padding: 1px 0;
}

#mfReportTbl .table td {
    vertical-align: top !important;
    text-transform: capitalize;
}

#mfReportTbl .table td.noBdr {
    border: none;
}

.pdBth4 {
    padding: 0 40px;
}
@media(max-width:991px){
    .manufacturing-form .form-group{
        width: 100%;
    }
    .d-none-sm{
        display: none !important;
    }
}
@media(max-width:767px){
    .top-bar {
        .section-title{
            display: block !important;
        }
        .isActive {
            float:left !important;
        }
    }
}