@import "../../../assets/css/color.scss";

.mf-stock-search-request-form .col-xs-1 {
    width: 11.33333333%;
}

#mfReportTbl .table .table td {
    border: none;
    text-align: center;
    padding: 1px 0;
}

#mfReportTbl .table {
    th {
        &:first-child {
            min-width: 100px;
        }
        vertical-align: top !important;
        text-transform: capitalize;
        min-width: 140px;
        max-width: 220px;
    }
    td {
        &:first-child {
            min-width: 100px;
        }
        vertical-align: top !important;
        text-transform: capitalize;
        min-width: 140px;
        max-width: 220px;
        white-space: normal !important;
        word-break: break-word;
    }
}

#mfReportTbl .table td.noBdr {
    border: none;
}

.pdBth4 {
    padding: 0 40px;
}
.manufacture-table.giddh-table tbody > tr > td:first-child {
    white-space: nowrap !important;
}
.custom-datepicker {
    input {
        width: 100% !important;
        max-width: 100%;
        padding-left: 40px !important;
        text-align: left;
    }
}
.no-btn.clear-filter {
    text-decoration: underline;
    font-family: "opensans-semibold";
    color: $davy-grey;
    padding: 6px 0;
}
.manufacture-table {
    .bd-rl {
        border-left: 1px solid $gainsboro !important;
    }
    .bd-rr {
        border-right: 1px solid $gainsboro !important;
    }
    td.raw-material {
        background-color: $gray-95;
        line-height: 2;
        color: $matterhorn;
    }
    tr {
        &:hover {
            td.raw-material {
                background-color: rgba(221, 225, 230, 0.5);
            }
        }
    }
}
.regular-font {
    font-family: "opensans-regular";
}
.material-head {
    min-width: 20% !important;
    max-width: 20% !important;
    th:first-child {
        min-width: 110px !important;
    }
    th:nth-child(2),
    th:last-child {
        min-width: 110px !important;
        max-width: 110px !important;
    }
    th {
        border: none !important;
        padding: 0;
        color: $midnight-blue !important;
    }
}
.material-data {
    .data-title-td {
        display: none !important;
    }
    .nested-div {
        div {
            min-width: 34%;
            max-width: 50%;
        }
    }
}
.regular-font {
    font-family: "opensans-regular";
}
.row-gray-background th {
    background-color: $medium-gray;
}
.mf-report-head {
    margin-top: 55px;
}

.table-responsive {
    margin-bottom: 60px;
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .manufacturing-head {
        .col-xl-3 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-xl-6 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .col-xl-9 {
            flex: 0 0 83%;
            max-width: 83%;
        }
    }
}
@media (max-width: 1440px) {
    .no-branch-head {
        .col-xl-2 {
            flex: 0 0 21.666667%;
            max-width: 21.666667%;
        }
        .col-xl-10 {
            flex: 0 0 78.333333%;
            max-width: 78.333333%;
        }
    }
    .linked-entities sh-select::ng-deep input {
        padding-right: 6px !important;
    }
}
@media (max-width: 1199px) {
    .no-branch-head {
        .col-xl-2 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-xl-10 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
    }
}
@media (max-width: 991px) {
    .manufacturing-form .form-group {
        width: 100%;
    }
    .d-none-sm {
        display: none !important;
    }
    .datepicker-flex,
    .linked-entities {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .no-branch-head {
        .col-xl-2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .create-btn {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
@media (max-width: 767px) {
    .datepicker-flex,
    .linked-entities {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .top-bar {
        .section-title {
            display: block !important;
        }
        .isActive {
            float: left !important;
        }
    }
    .no-branch-head {
        .col-xl-2 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .mf-report-head {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .material-data {
        display: flex;
        width: 100%;
        padding: 10px 15px 0 !important;
        background-color: $gray-95;
        line-height: 1.8;
        .data-title-td {
            width: 50%;
            display: flex !important;
        }
        .nested-div {
            flex-direction: column !important;
            margin-bottom: 10px;
            div {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
    .mobile-none {
        display: none;
    }
    #mfReportTbl .table td {
        min-width: auto !important;
        max-width: inherit !important;
    }
}
