<ng-container [ngSwitch]="inputTemplate.templateType">
    <!-- GET TEMPLATE A -->
    <!-- *ngSwitchCase="'gst_template_a'"   -->
    <gst-template-a *ngSwitchDefault [fieldsAndVisibility]="fieldsAndVisibility" [isPreviewMode]="isPreviewMode" [showLogo]="showLogo" [companyGSTIN]="companyGSTIN" [companyPAN]="companyPAN" [inputTemplate]="inputTemplate" [logoSrc]="logoSrc" [templateUISectionVisibility]="templateUISectionVisibility"
        (sectionName)="onClickSection($event)">
    </gst-template-a>

    <!-- GET TEMPLATE B -->
    <gst-template-c *ngSwitchCase="'gst_template_c'" [fieldsAndVisibility]="fieldsAndVisibility" [isPreviewMode]="isPreviewMode" [showLogo]="showLogo" [companyGSTIN]="companyGSTIN" [companyPAN]="companyPAN" [inputTemplate]="inputTemplate" [logoSrc]="logoSrc"
        [templateUISectionVisibility]="templateUISectionVisibility" (sectionName)="onClickSection($event)">
    </gst-template-c>

    <!-- GET TEMPLATE G -->
    <gst-template-b *ngSwitchCase="'gst_template_b'" [fieldsAndVisibility]="fieldsAndVisibility" [isPreviewMode]="isPreviewMode" [showLogo]="showLogo" [companyGSTIN]="companyGSTIN" [companyPAN]="companyPAN" [inputTemplate]="inputTemplate" [logoSrc]="logoSrc"
        [templateUISectionVisibility]="templateUISectionVisibility" (sectionName)="onClickSection($event)">
    </gst-template-b>

    <!-- GET TEMPLATE F -->
    <gst-template-d *ngSwitchCase="'gst_template_d'" [fieldsAndVisibility]="fieldsAndVisibility" [isPreviewMode]="isPreviewMode" [showLogo]="showLogo" [companyGSTIN]="companyGSTIN" [companyPAN]="companyPAN" [inputTemplate]="inputTemplate" [logoSrc]="logoSrc"
        [templateUISectionVisibility]="templateUISectionVisibility" (sectionName)="onClickSection($event)">
    </gst-template-d>

    <!-- GET TEMPLATE E -->
    <gst-template-e *ngSwitchCase="'gst_template_e'" [fieldsAndVisibility]="fieldsAndVisibility" [isPreviewMode]="isPreviewMode" [showLogo]="showLogo" [companyGSTIN]="companyGSTIN" [companyPAN]="companyPAN" [inputTemplate]="inputTemplate" [logoSrc]="logoSrc"
        [templateUISectionVisibility]="templateUISectionVisibility" (sectionName)="onClickSection($event)">
    </gst-template-e>

</ng-container>