.left-expense {
  width: 400px;
  box-shadow: 3px 3px 6px #00000029;
}
.main-expense-details {
  width: 100%;
}
.main-edit-expense {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .left-expense {
    width: 100%;
  }
  .main-edit-expense {
    display: block;
  }
}
