.ps {
    overflow: visible !important;
}
.audit-form-wrap {
    display: flex;
    align-items: center;
    label {
        font-size: var(--font-size-16);
        padding-bottom: 5px;
    }
    .form-field {
        padding-right: 15px;
        width: 170px;
    }
    .form-btn-field {
        padding-right: 15px;
    }
}
@media (max-width: 1199px) {
    .audit-form-wrap {
        .form-field {
            min-width: 17%;
        }
    }
}
@media (max-width: 1024px) {
    .audit-form-wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .form-field {
            padding-right: 0;
            min-width: 100%;
            padding-bottom: 15px;
        }
        .form-btn-field {
            label.d-block {
                display: none !important;
            }
        }
    }
}
