<div class="audit-form-wrap mt-3">
    <div class="clear-both form-field">
        <label>{{ commonLocaleData?.app_entity }} <sup class="text-danger">*</sup></label>
        <reactive-dropdown-field
            [options]="auditLogFormVM.entities"
            #selectEntity="ngModel"
            [placeholder]="commonLocaleData?.app_select_option"
            (selectedOption)="selectedEntityType($event)"
            [(ngModel)]="auditLogFormVM.selectedEntity"
            [name]="'selectedEntity'">
        </reactive-dropdown-field>
    </div>
    <div class="clear-both form-field">
        <label>{{ localeData?.operation }}</label>
        <reactive-dropdown-field
            [options]="auditLogFormVM.filters"
            [placeholder]="commonLocaleData?.app_select_option"
            (click)="prepareOperationFormData(selectEntity)"
            [(ngModel)]="auditLogFormVM.selectedOperation"
            [name]="'selectedOperation'">
        </reactive-dropdown-field>
    </div>
    <div
        class="clear-both form-field"
        *ngIf="
            !auditLogFormVM.selectedEntity ||
            auditLogFormVM.selectedEntity === 'ACCOUNT' ||
            auditLogFormVM.selectedEntity === 'ENTRY' ||
            auditLogFormVM.selectedEntity === 'LEDGER'
        "
    >
        <label>{{ commonLocaleData?.app_account }}</label>
        <reactive-dropdown-field
            [options]="auditLogFormVM.accounts$ | async"
            [placeholder]="commonLocaleData?.app_select_option"
            [enableDynamicSearch]="true"
            [isPaginationEnabled]="true"
            (scrollEnd)="handleScrollEnd()"
            (dynamicSearchedQuery)="onAccountSearchQueryChanged($event)"
            [(ngModel)]="auditLogFormVM.selectedAccountUniqueName"
            [name]="'selectedAccountUniqueName'">
        </reactive-dropdown-field>
    </div>
    <div
        class="clear-both form-field"
        *ngIf="
            !auditLogFormVM.selectedEntity ||
            auditLogFormVM.selectedEntity === 'ACCOUNT' ||
            auditLogFormVM.selectedEntity === 'GROUP'
        "
    >
        <label>{{ commonLocaleData?.app_group }}</label>
        <reactive-dropdown-field
            [options]="auditLogFormVM.groups$ | async"
            [placeholder]="commonLocaleData?.app_select_option"
            [enableDynamicSearch]="true"
            [isPaginationEnabled]="true"
            (scrollEnd)="handleGroupScrollEnd()"
            (dynamicSearchedQuery)="onGroupSearchQueryChanged($event)"
            [(ngModel)]="auditLogFormVM.selectedGroupUniqueName"
            [name]="'selectedGroupUniqueName'">
        </reactive-dropdown-field>
    </div>
    <div class="clear-both form-field">
        <label>{{ localeData?.user }}</label>
        <reactive-dropdown-field
            [options]="auditLogFormVM.users$ | async"
            [placeholder]="commonLocaleData?.app_select_option"
            [(ngModel)]="auditLogFormVM.selectedUserUniqueName"
            [name]="'selectedUserUniqueName'">
        </reactive-dropdown-field>
    </div>
    <div class="d-flex">
        <div class="form-btn-field">
            <label class="d-block">&nbsp;</label>
            <button
                matButton="filled" class="mr-0"
                [ladda]="auditLogFormVM.getLogsInprocess$ | async"
                [disabled]="!auditLogFormVM.selectedEntity"
                (click)="getLogFilters()"
            >
                {{ localeData?.get_logs }}
            </button>
        </div>
    </div>
</div>
