.c-dropdown {
    .dropdown-menu li label span {
        max-width: calc(100% - 31px) !important;
    }
}
.dropdown-menu {
    min-width: 210px;
    max-width: 100%;
    width: 100%;
}
.dropdown-menu li label {
    font-size: 14px;
}
