.dropdown-icon {
    line-height: 0px;
    font-size: 20px;
    margin-right: 15px;
    color: #666666;
    vertical-align: middle;
}
.width-200 {
    width: 200xp;
}
.select-year select {
    background: none;
    border: 0px;
}
.select-style select {
    height: 30px !important;
    padding: 5px 22px 5px 7px !important;
}
.exand-icon {
    background: #e5e5e5;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
    display: inline-block;
    font-size: 17px;

    margin-left: 5px;
}
.list-head > li {
    vertical-align: middle;
}
