.or-line::before {
    content: " ";
    border-bottom: 1px solid var(--color-gray);
    display: inline-block;
    width: 57px;
    margin-right: 13px;
}
.or-line::after {
    content: "";
    border-bottom: 1px solid var(--color-gray);
    display: inline-block;
    width: 57px;
    margin-left: 13px;
}
.or-line {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    margin-bottom: 10px;
}
.my-dropdown-men {
    padding: 10px;
}
.percent-label,
.value-label {
    width: 50px;
}
.percent-wrapper {
    .form-control {
        width: 100px;
        padding-right: 20px !important;
        height: 34px;
    }
    .fa-percent {
        top: 9px;
        right: 6px;
        color: var(--color-abbey);
    }
}
.value-box {
    .form-control {
        width: 100px;
        padding-right: 10px !important;
        height: 34px;
    }
}
.discount-list {
    list-style: none;
    overflow: auto;
    max-height: 100px;
}
.custom-item {
    padding: 5px;
    margin-bottom: 5px;
}
