.user-fill {
    width: 60%;
    margin: auto;
    div {
        display: flex;
    }
    label {
        width: 35%;
        font-size: var(--font-size-15);
    }
}

.text-light {
    top: 10px;
    right: 10px;
    position: absolute;
}
