.user-fill {
    width: 60%;
    margin: auto;
    div {
        display: flex;
    }
    label {
        width: 35%;
        font-size: 14px;
    }
}
.font-12 {
    font-size: 12px;
}
.text-c-black {
    color: var(--color-nero);
}

.text-light-2 {
    top: 10px;
    right: 10px;
    position: absolute;
}
