.user-fill {
    width: 60%;
    margin: auto;
    div {
        display: flex;
    }
    label {
        width: 35%;
        font-size: var(--font-size-15);
    }
}
/* UNUSED COMPONENT CLASS: font-12 - Auto-commented by script
.font-12 {
    font-size: var(--font-size-12);
}
*/
/* UNUSED COMPONENT CLASS: text-c-black - Auto-commented by script
.text-c-black {
    color: var(--color-black);
}
*/

.text-light {
    top: 10px;
    right: 10px;
    position: absolute;
}
