.width-160 {
  width: 160px;
}
.width-170 {
  width: 170px;
}
.radio_theme:before {
  content: ' ';
  width: 14px;
  height: 14px;
  top: 0;
  right: 0;
}

.radio_theme {
  height: 14px;
  width: 14px;
}

.radio_theme:checked:after {
  content: ' ';
  left: 4px;
  bottom: 4px;
}
