.report-breadcrum {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0px 10px 36px !important;
    border-bottom: 1px solid var(--border-color);
    .nav-report {
        li {
            font-weight: var(--font-weight-semibold);
            font-size: var(--font-size-16);
            a {
                color: var(--text-primary-color);
            }
        }
    }
}

.duration-dropdown {
    width: 140px !important;
}
.dropdown-width {
    width: 230px;
}
