.product-list-container {
    min-height: calc(100vh - 340px);
}

.product-name-image {
    .table-td-imag img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border: 1.5px dashed #b2b2b2;
    }

    p {
        min-width: 120px;
    }
}

@media (max-width: 768px) {
    .product-name-image {
        flex-direction: column;

        p {
            margin-top: 5px;
        }
    }
}
