:host {
    position: fixed;
    left: auto;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 99999;
}

:host.in #close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-primary-right-side-popup-header-text);
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 100%;
    max-width: 760px;
}

.aside-pane-other-tax label {
    margin-bottom: 10px;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.form-header {
    height: 57.8px;
    padding: 20px 15px;
    background: var(--color-primary-right-side-popup-header-background);
    color: var(--color-primary-right-side-popup-header-text);
}

.label-tax {
    margin-top: 3px !important;
    margin-left: 2px !important;
}

@media (max-width: 768px) {
    :host {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
