:host {
    position: fixed;
    left: auto;
    top: calc(var(--top-distance) + 60px);
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 9999;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 100%;
    max-width: 760px;
}

.aside-pane-other-tax label {
    margin-bottom: 10px;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-shadow-light);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.form-header {
    height: 57.8px;
    padding: 20px 15px;
    background: var(--bg-primary-color);
    color: var(--color-white);
}

.label-tax {
    margin-top: 3px !important;
    margin-left: 2px !important;
}
