@import "../../../../../assets/css/color.scss";
   :host ::ng-deep .table-container {
      padding: 0;
    }

    :host ::ng-deep .table-container .profitLoss section div > div {
      padding-left: 8px;
    }

    :host ::ng-deep .basic {
      margin-bottom: 0;
    }

    :host ::ng-deep .table-container thead tr th:first-child {
      border-left: 0;
    }

    :host ::ng-deep .basic > thead > tr > th {
      padding: 8px 8px
    }

    .max-980 {
      max-width: 980px;
      margin: 0 auto;
    }

    :host ::ng-deep .table-container section div .group {
      text-transform: capitalize;
    }

    :host ::ng-deep .table-container div.row {
      border-bottom: 0;
    }
    .pl-table-grid {
        th{
            background-color:$whisper-light;
            border: none !important;
        }
    }
