@import "../../../assets/css/color.scss";
.voucher-form {
    .form-group {
        margin-bottom: 5px;
    }
}
p {
    a {
        color: $deep-sky-blue;
    }
}
.inclusive-tax {
    float: right;
}
.company-currency {
    color: $nobel;
}
.adjustments-list {
    height: 300px;
    overflow-y: auto;
}
