<!-- Adjust Payment modal start -->
<div class="modal-header">
    <h4 class="modal-title bg pull-left">Adjust Payment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body font-14">
    <div class="row">
        <div class="col-md-12">
            <span class="text-light" *ngIf="isUpdateMode">
                The adjusted amount of the linked invoice's is more than this receipt; update them first.
            </span>
            <div class="row mb-2">
                <div class="col-md-8 mrT">
                    <div class="form-group">
                        <label>Customer Name </label>
                        <input type="text" class="form-control" name="customerName" [(ngModel)]="adjustPayment.customerName" readonly disabled>
                    </div>
                </div>
                <div class="col-md-4 text-right font-14 pt-2 xs-left">
                    <p>{{adjustedVoucherType === 'rcpt' ? 'Receipt' : (adjustedVoucherType === 'advance-receipt') ? 'Advance Receipt' : 'Invoice'}} Total: <i class="font-10"></i>{{invoiceFormDetails.accountDetails.currencySymbol}}{{adjustPayment?.grandTotal | giddhCurrency}}
                    </p>
                    <p>{{(adjustedVoucherType === 'rcpt' || adjustedVoucherType === 'advance-receipt') ? 'Balance' : 'Due'}} <span class="text-light">(Post Adj):</span> <span class="nowrap"><i class="font-10"></i> {{invoiceFormDetails.accountDetails.currencySymbol}} {{ getBalanceDue() | giddhCurrency}}</span>
                    </p>
                </div>
            </div>
            <form #adjustAdvancePaymentForm="ngForm" autocomplete="off">
                <ng-container *ngFor="let entry of adjustVoucherForm.adjustments; let entryIdx = index; let first = first; let last = last">
                    <div class="row vouchar-form">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="name">Adjustment Voucher<span class="text-danger">*</span></label>
                                <div class="select-error select-caret relative">
                                    <sh-select [disabled]="shouldDisableEdit(entry) ? 'disabled' : null" class="text-left" name="voucherName{{entryIdx}}" [defaultValue]="entry.voucherNumber" (click)="clickSelectVoucher(entryIdx, adjustAdvancePaymentForm);" required [placeholder]="'Select Voucher'" [(ngModel)]="entry.uniqueName" (selected)="selectVoucher($event, entry, entryIdx);"
                                        [options]="adjustVoucherOptions" [multiple]="false">
                                        <ng-template #optionTemplate let-option="option">
                                            <a href="javascript:void(0)" class="list-item">
                                                <div class="item">{{option.label}}</div>
                                                <div class="item_unq">
                                                    <p class="font-12 text-gray mb-0">(Dated: {{option.additional.voucherDate}})
                                                    </p>
                                                    <p class="font-12 text-gray mb-0">(Amount: {{currencySymbol}}{{option?.additional?.balanceDue?.amountForAccount}})
                                                    </p>
                                                </div>
                                            </a>
                                        </ng-template>
                                    </sh-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Amount<span class="text-danger">* </span> <span *ngIf="entry.voucherType === 'receipt' && entry.subVoucher === 'ADVANCE_RECEIPT'" class="text-light">
                                        (Inclusive Tax)</span></label>
                                <!-- decimalDigitsDirective -->
                                <input [disabled]="shouldDisableEdit(entry) ? 'disabled' : null" required decimalDigitsDirective type="text" class="form-control" placeholder="Enter Amount" name="amount{{entryIdx}}" [(ngModel)]="entry.balanceDue.amountForAccount" (ngModelChange)="calculateTax(entry, entryIdx);" [prefix]="currencySymbol" [mask]="inputMaskFormat">
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="entry.voucherType === 'receipt' && entry.subVoucher === 'ADVANCE_RECEIPT'">
                            <div class="form-group">
                                <label for="name_{{entryIdx}}">Tax</label>
                                <input id="name_{{entryIdx}}" type="text" class="form-control" name="calculatedTaxAmount_{{entryIdx}}" decimalDigitsDirective [(ngModel)]="entry.calculatedTaxAmount" placeholder="00.00" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" (click)="deleteAdjustVoucherRow(entryIdx);" class="font-22 text-light pt-3 d-inline-block"><i class="icon-trash"></i></a>
                        </div>
                    </div>
                </ng-container>

                <p><a href="javascript:void(0)" (click)="addNewBlankAdjustVoucherRow()" class="font-14"><span
                    class="font-16">+</span> Add New Line</a></p>

                <div class="clearfix">
                    <div *ngIf="isVoucherModule" class="clearfix mb-1 mt-2 row">
                        <div class="col-md-2 col-sm-3 col-xs-5">
                            <span class="d-inline-block font-14">Tax Deducted?</span>
                        </div>

                        <div class="col-md-8 col-sm-8 col-xs-7">
                            <span class="pd0 mr-2 d-inline-block">
                                <input class="radio-custom cp ml0" type="radio" id="deductedNo" name="isTaxDeducted"
                                       [value]="false" [(ngModel)]="isTaxDeducted"
                                       (ngModelChange)="isTdsSelected($event )" />
                                <label for="deductedNo" class="radio-custom-label">No</label>
                            </span>

                            <span class="pd0 mr-2 d-inline-block">
                                <input class="radio-custom cp ml0" type="radio" name="isTaxDeducted" id="deductedYes"
                                       [value]="true" [(ngModel)]="isTaxDeducted"
                                       (ngModelChange)="isTdsSelected($event )" />
                                <label for="deductedYes" class="radio-custom-label">Yes</label>
                            </span>
                        </div>
                    </div>

                    <ng-container *ngIf="isVoucherModule && isTaxDeducted">
                        <div class="row">
                            <div>
                                <div class="form-group clearfix">
                                    <label class="col-md-2">TDS</label>
                                    <div class="col-md-3">
                                        <div #tdsTypeBox>
                                            <sh-select class="text-left dropdown-arrow" name="tdsTaxUniqueName" [placeholder]="'Select Tax'" [(ngModel)]="adjustVoucherForm.tdsTaxUniqueName" [options]="availableTdsTaxes" (selected)="tdsTaxSelected($event)" [notFoundLink]="false" [multiple]="false"
                                                [ItemHeight]="33">
                                            </sh-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <label class="col-md-2">Amount <span class="text-danger">* </span></label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" required #tdsAmountBox decimalDigitsDirective [prefix]="currencySymbol" [mask]="inputMaskFormat" name="tdsAmount.amountForAccount" (ngModelChange)="changeTdsAmount($event)" [(ngModel)]="adjustVoucherForm.tdsAmount.amountForAccount"
                                            placeholder="Amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Description </label>
                                    <textarea type="text" placeholder="Description" name="description" [(ngModel)]="adjustVoucherForm.description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <span class="text-light" *ngIf="exceedDueAmount<0">
                        Excess amount:
                        {{invoiceFormDetails.accountDetails.currencySymbol}}{{-exceedDueAmount  | giddhCurrency}} <i class="icon-info pointer" tooltip="Adjustment amount is more than receipts."></i>
                    </span><div class="note-message mt-3" *ngIf="isVoucherModule">
                        <p>Note:</p>
                        <p>We do not support all the vouchers for adjustment from this module. Please go to LEDGER to access
                            this.</p>
                    </div>
                    <div class="mt-2">
                        <button *ngIf="!isUpdateMode" type="button" class="btn btn-success mrR1" [disabled]="isInvalidForm" (click)="saveAdjustAdvanceReceipt(adjustAdvancePaymentForm)">Save</button>
                        <button *ngIf="isUpdateMode" type="button" class="btn btn-success mrR1" [disabled]="isInvalidForm" (click)="saveAdjustAdvanceReceipt(adjustAdvancePaymentForm)">Update</button>
                        <button type="button" class="btn btn-cancel" (click)="onClear()">Reset</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
