.inventory-main {
    min-height: 100%;
}

.inventory-control ::ng-deep.nav > li > a {
    padding: 2px 0px !important;
    margin-right: 35px !important;
    border-bottom: 4px solid transparent !important;
    color: var(--color-tab-primary-inactive) !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    font-size: var(--font-size-16);
    height: 36px;
}

.inventory-control ::ng-deep.nav.nav-tabs {
    margin-bottom: 0;
    padding: 0 0px 0 15px !important;
    background-color: var(--color-white);
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px 0 15px !important;
    border-bottom: 1px solid var(--color-iron);
}
.inventory-control ::ng-deep.nav-tabs > li > a:hover {
    border-color: transparent !important;
    color: var(--color-blue) !important;
}
.inventory-control ::ng-deep.nav-tabs > ::ng-deep li.active > a,
.inventory-control .nav-tabs > ::ng-deep li.active > a:focus,
.inventory-control ::ng-deep.nav-tabs > li.active > a:hover {
    color: var(--color-tab-primary-active) !important;
    border-bottom: 4px solid var(--color-blue) !important;
    cursor: pointer !important;
    background-color: unset !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
}
.inventory-control .nav-tabs > li > a:hover {
    color: var(--color-blue) !important;
    border-bottom: 4px solid var(--color-blue) !important;
}
.navbar {
    min-height: auto;
    margin-bottom: 10px;
}
.inventory-control ::ng-deep.nav > li > a:focus,
.inventory-control ::ng-deep.nav > li > a:hover {
    background-color: unset !important;
}

.right-bar {
    width: calc(100% - 260px);
}
.right-bar.welcome-inventory-page {
    width: 100%;
}

.inventory-control .container-fluid {
    .branch-warehouse-filter {
        width: 100%;
        sh-select {
            min-width: 175px;
        }
    }
    .branch-filter {
        margin-right: 15px;
        min-width: 217px;
        width: 240px;
    }
    .warehouse-filter {
        min-width: 217px;
        width: 240px;
    }
    .warehouse-filter {
        max-width: 250px;
        width: 100%;
    }
}
.inventory-head {
    padding-top: 55px;
}
@media (max-width: 767px) {
    .inventory-control ::ng-deep.nav.nav-tabs {
        position: fixed !important;
        width: 100%;
        top: 90px;
        padding: 5px 0px 0 15px !important;
    }
    .inventory-head {
        padding-top: 15px;
    }
}
@media (max-width: 1024px) {
    .wrap-top-inventory {
        display: flex;
    }
}
@media (max-width: 575px) {
    .wrap-top-inventory {
        flex-direction: column;
    }
}
@media (max-width: 445px) {
    .inventory-control .container-fluid {
        .branch-warehouse-filter {
            width: 100%;
            sh-select {
                min-width: auto;
            }
        }
        .branch-filter {
            margin-right: 0px;
            width: 100% !important;
        }
        .warehouse-filter {
            max-width: auto;
            width: 100%;
            margin-left: 15px;
        }
    }
}

@media (max-width: 325px) {
    .inventory-control ::ng-deep.nav.nav-tabs {
        display: inline-block;
        white-space: nowrap;
    }
}
