@import "../../assets/css/color.scss";

.inventory-control ::ng-deep.nav > li > a {
    padding: 2px 0px !important;
    margin-right: 35px !important;
    border-bottom: 4px solid transparent !important;
    color: black !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    font-size: 14px;
}

.inventory-control ::ng-deep.nav.nav-tabs {
    margin-bottom: 0;
    padding: 0 0px 0 15px !important;
    background-color: #fff;
    z-index: 9;
    position: relative;
    top: -4px;
    background-color: #f7f8fa;
}
.inventory-control ::ng-deep.nav-tabs > li > a:hover {
    border-color: transparent !important;
    color: $deep-sky-blue !important;
}
.inventory-control ::ng-deep.nav-tabs > ::ng-deep li.active > a,
.nav-tabs > ::ng-deep li.active > a:focus,
::ng-deep.nav-tabs > li.active > a:hover {
    color: #1c1c1c !important;
    border-bottom: 4px solid $deep-sky-blue !important;
    cursor: pointer !important;
    background-color: unset !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
}
.inventory-control .nav-tabs > li > a:hover {
    color: $deep-sky-blue !important;
    border-bottom: 4px solid $deep-sky-blue !important;
}

//.inventory-control .invoice-nav.navbar-nav > li > a.active {
//  background-color: #fff;
//
//}

.navbar {
    min-height: auto;
    margin-bottom: 10px;
}
.inventory-control ::ng-deep.nav > li > a:focus,
::ng-deep.nav > li > a:hover {
    background-color: unset !important;
}

.rightBar {
    width: calc(100% - 260px);
}
.inventory-control ::ng-deep.nav-tabs > li:nth-child(2) {
    display: none;
}

.inventory-control .container-fluid {
    .branch-warehouse-filter {
        width: 100%;
        sh-select{
            min-width: 175px;
        }
    }
    .branch-filter {
        margin-right: 15px;
        min-width : 217px;
        width: 240px;
    }
    .warehouse-filter {
       min-width : 217px;
        width: 240px;
    }
    .warehouse-filter{
        max-width: 250px;
        width: 100%;
    }
}
@media(max-width:767px){
    .inventory-control ::ng-deep.nav.nav-tabs {
        position: fixed;
        width: 100%;
        top: 100px;
    }
}
@media(max-width:1024px){
    .wrap-top-inventory{
        display: flex;
    }
}


@media (max-width:445px){
.inventory-control .container-fluid {
    .branch-warehouse-filter {
        width: 100%;
        sh-select{
            min-width: auto;
        }
    }
    .branch-filter {
        margin-right: 0px;
        width: 100% !important;
    }
    .warehouse-filter{
        max-width: auto;
        width: 100%;
        margin-left:15px;
    }
}
}


