@import "../../assets/css/color.scss";
.dropdown-menu > li > a {
    padding: 2px 10px;
}

.dis {
    display: flex;
}

.pd1 {
    padding: 5px;
}
.aging-table > tbody > tr input[type="checkbox"] {
    position: absolute !important;
    opacity: 0;
    top: 0px;
}
.aging-table > tbody > tr:hover input[type="checkbox"] {
    position: relative !important;
    opacity: 1;
}

.checkbox_visible {
    opacity: 1 !important;
    position: relative !important;
}

.icon-pointer {
    margin-left: 6px;
}
.icon-pointer.iconSearch {
    top: 30%;
    color: #a9a9a9;
}

.icon-pointer .d-block.font-xxs.glyphicon.glyphicon-triangle-top {
    line-height: 0.5;
    height: 8px;
}

.icon-pointer .font-xxs {
    font-size: 12px;
}

.account-detail-modal-header {
    position: absolute;
    top: 20px;
    left: 30%;
    right: auto;
    z-index: 1;
    margin: 0;
    background: white;
    width: 50%;
    padding: 1px;
    box-shadow: 1px 0 9px grey;
}

.account-detail-modal-header-div {
    padding: 0;
    border-radius: 0;
}

.account-detail-modal-div {
    height: 100%;
    padding: 0;
}

.account-detail-custom-header {
    border-right: 0;
    padding: 11px 10px 10px 10px;
    width: 100%;
    background: #efefef;
}

.account-detail-custom-title {
    font-family: "opensans-semibold" !important;
    font-size: 16px !important;
}

.account-detail-padding {
    padding: 1px;
    text-transform: none !important;
}

.custom-detail h4 {
    color: #707070;
    margin-top: 7px;
    font-size: 14px !important;
    font-family: opensans-regular !important;
}
ul.list-unstyled li a {
    color: black;
}

.p-modal-tolltip {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 257px;
    border: 1px solid #b4afaf;
    border-radius: 4px;
    box-shadow: 0 7px 24px #00000038;
    top: -2px;
}

.wd00 {
    min-width: 0px !important;
    min-height: 0px !important;
}

.model-position {
    float: right;
    right: -234px;
}

.li-link {
    a {
        padding: 7px 10px;
        display: block;
    }
    &:first-child {
        margin-top: 0 !important;
    }
    a:hover {
        color: $chetwode-blue !important;
        background-color: $lavender;
    }
}

.transinherit {
    transform: inherit !important;
}
td.commentField {
    white-space: normal;
}
//  my css
.aging-table tbody tr:first-child td {
    border-top: none;
}

td.pos-rel.word-wrap.customer-name.cursor-pointer {
    border-bottom: none;
    height: 37px;
    line-height: 1.4;
    border-right: none;
    max-width: 332px;
    position: relative !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative !important;
    padding-right: 35px;
}

td.pos-rel.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
    height: 42px;
    line-height: 1;
    border-right: none;
}

tr:last-child td.pos-rel.word-wrap.customer-name.cursor-pointer,
tr:last-child td.pos-rel.word-wrap.vendor-customer-name.cursor-pointer {
    border-bottom: 1px solid #ddd !important;
}
.pos-rel.word-wrap {
    .icon-dots-three-vertical {
        transform: rotate(90deg);
        font-size: 20px;
        vertical-align: middle;
        display: none;
        color: #333333;
    }

    &:hover .icon-dots-three-vertical {
        display: block;
        line-height: 1;
    }
}
.customer-right-wrap {
    padding-right: 0;
}

tr.aging-table-top td {
    width: 320px;
    padding: 1px 0;
}

.aging-table {
    max-width: 1170px;
    width: 100%;
    -moz-transform: translate(1px, 0);
    th{
        &:first-child{
            min-width:250px;
        }
    }
    td{
        &:first-child{
            min-width:250px;
        }
    }
}

.table-aging-report {
    max-width: 1170px;
    width: 100%;
}

#dropdown-basics {
    position: fixed !important;
    background: red;
    bottom: initial;
}

.btn-group.moreBtn.open.show {
    display: inline-block !important;
}

.moreBtn li {
    padding: 5px;
    cursor: default;
}

.moreBtn li:hover {
    background-color: #eeeff9;
    color: $jacksons-purple;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #333;
    background-color: #e7e7e8;
    border-color: #e7e7e8;
    box-shadow: none !important;
}
.customer-right table {
    float: right;
    width: auto;
}

i.icon-options {
    width: 36px;
    height: 36px;
    border: 1px solid $gainsboro;
    background-color: #fff;
    color: $gray;
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.icon-options:hover {
    background-color: #eaeaea;
}
.searchField {
    position: relative;
}
.searchField input {
    width: 235px;
    background-color: #e6e7e8 !important;
    border-color: #e6e7e8 !important;
}
.searchField input:focus {
    background-color: #fff !important;
    border-color: $midnight-express !important;
}
span.inputAddon {
    position: absolute;
    right: 0px;
    padding: 4px 9px;
    background-color: $chetwode-blue;
    color: #fff;
    font-size: 20px;
    border-radius: 2px;
    height: 36px;
}
.aging-table .btn-small {
    min-width: 140px;
}
.aging-table thead tr th {
    border-top: 1px solid $gainsboro;
    border-bottom: 1px solid $gainsboro !important;
    position: relative;
    padding-right: 10px !important;
}
.comment-field{
    min-width: 170px;
}
.customer-name-filed , .vendor-name-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-name .icon-ellipse{
    height: 20px;
    width: 20px;
}
.icon-ellipse.open.show{
    display: inline-block !important;
}
.due-as-on{
    display: flex;
    justify-content: center;
    align-items: center;
    strong{
        width: 80px;
        padding-left: 10px;
    }
}
.form-control[readonly]{
    background-color: inherit !important;
    display: inline-block !important;
    width: 200px;
    border: none;
}
.is-mobile{
    margin-bottom:10px !important;
    margin-top:0;
}

/*responsive*/
@media (max-width: 768px) {
    .aging-table > tbody > tr input[type="checkbox"] {
        top: 2px;
    }
    .customer-right-wrap h4.mb-1.pdR2 {
        margin-bottom: 0;
    }
    tr:last-child td.pos-rel.word-wrap.customer-name.cursor-pointer,
    tr:last-child
        td.pos-rel.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
        border-bottom: none !important;
    }

    .table-responsive {
        border: none !important;
    }

    .aging-table .table-checkbox {
        top: 5px;
    }
    .p-modal-tolltip {
        left: auto !important;
        right: -24px !important;
    }
    .pos-rel.word-wrap .icon-dots-three-vertical {
        transform: rotate(0deg);
    }
    .onDesktopView.btn-group {
        display: none;
    }
    .customer-right-wrap {
        padding-right: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding: 10px 5px;
        z-index:1;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
    td.pos-rel.word-wrap.customer-name.cursor-pointer,
    td.pos-rel.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
        max-width: 100%;
        white-space: inherit;
        line-height: 1.5;
    }
    .pos-rel.word-wrap.vendor-customer-name .icon-dots-three-vertical {
        position: relative;
        top: 0;
        line-height: 1 !important;
    }
    .aging-table tr:hover .vendor-customer-name .table-checkbox {
        top: 5px;
    }

    .customer-name .icon-ellipse {
        top: 8px;
    }
    .pos-rel.word-wrap {
        .icon-dots-three-vertical {
            display: block;
        }
    }
    .aging-table .btn-small {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .date-range-picker{
        height: 26px !important;
    }
    span.inputAddon {
        top: 0;
    }
    .btn-group.plus-btn {
        float: none;
        width: 100%;
    }
    .btn-group.plus-btn button {
        width: 100%;
    }
    .customer-footer-box {
        float: left !important;
    }
    .form-inline{
        position: relative;
        .dis{
            display:none;
            }
            .header-left{
                width: calc(100% - 100px);
                margin-left: 100px;
                .form-group {
                    vertical-align: bottom !important;
                    margin-bottom: 5px;
                    max-width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
            .moreBtn{
                display:none;
            }
    }

    .customer-footer-box {
        padding-top: 0;
        float: left !important;
        margin-top: -38px;
    }
    .customer-footer-box + .btn-group {
        display:none;
    }
    .customer-right-wrap {
        position: relative;
    }
    .pagination-main .mt-5 {
        margin-top: 0px;
    }
    .customer-name,
    .vendor-customer-name {
        padding-right: 20px !important;
    }
    .customer-name .icon-ellipse {
        top: 8px;
    }
    .icon-options{
        display:none;
    }

    .vendor-name-field{
        .table-checkbox{
            input[type="checkbox"]{
                display:none;
            }
        }
        .icon-ellipse{
            display:none;
        }
    }
    .scroll-top{
        position: fixed;
        bottom: 20px;
        right: 10px;
        font-size: 24px;
        text-align: center;
        background:#1b1f6d;
        border-radius: 90px;
        padding: 10px;
        z-index: 99;
        color:#fff;
        height: 60px;
        width: 60px;
        img{
            width:100%;
            vertical-align:top;
        }
    }
    .is-desktop{
        display:none;
    }
}
@media (max-width: 575px) {
    .customer-footer-box + .btn-group {
        float: none !important;
        width: 100%;
        button{
            width: 100%;
        }
    }
    .customer-footer-box {
        padding-bottom: 0px;
        .customer-inner-box{
            display: flex;
            align-items: center;
            padding-top: 6px;
            h5{
                font-size: 16px;
                .numbertotal{
                    font-size: 20px;
                }
            }
        }
    }

    .form-inline{
        .header-left {
            padding-top: 10px;
        }
    } 
    .customer-right-wrap h4.mb-1.pdR2 {
        margin-bottom: 10px;
    }
    .customer-right {
        background: #fff;
        padding: 0 15px;
        float: left;
        width: 100%;
    }
    .customer-right table {
        width: 100%;
    }
    .customer-right table tr td {
        padding: 15px;
        color: #707070;
        width: 100%;
        display: table;
        text-align: left;
        margin-bottom: 5px;
    }
    .customer-right table tr td p {
        font-size: 14px;
        margin-bottom: 2px;
        float: left;
        width: 110px;
    }
    .customer-right table tr td h3 {
        font-size: 14px;
        padding-bottom: 7px;
    }
    .customer-right-wrap h4 {
        text-align: left !important;
        padding-left: 15px;
    }

    .pos-rel.word-wrap .icon-dots-three-vertical {
        display: block;
    }
    .top-aging-table-top {
        font-size: 14px;
        padding: 8px 3px !important;
    }
}
@media (max-width: 414px) {
    .top-aging-table-top {
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .seprta-top-aging {
        display: none;
    }
}
@media (min-width: 768px) {

    .is-mobile{
        display:none;
    }

    .scroll-top{
        display:none;
    }
    .result-btn{
        display:none;
    }
    .onMobileView.btn-group {
        display: none;
    }
    .onDesktopView.btn-group {
        display: block;
    }
}

.td_in_searchBox div {
    display: flex;
}

.td_in_searchBox div span {
    flex: 1 1 auto;
    padding-left: 8px;
}

.td_in_searchBox div i {
    margin-top: 3px;
    color: #8080808c;
    padding-right: 8px;
    cursor: pointer;
}

.td_in_searchBox {
    padding: 0px !important;
    position: relative;
}
.td_in_searchBox .input-container {
    position: relative;
}
.td_in_searchBox .input-container input {
    min-height: 38px;
    width: 100%;
    padding: 8px;
    padding-right: 40px;
    border: 0px;
}

.td_in_searchBox .input-container i {
    position: absolute;
    right: 0px;
    top: 9px;
}
.negative-balance {
    color: #ff0000;
}
