@import "../../assets/css/mixin-common.scss";
@mixin all-table {
    td {
        .mat-cell {
            &:last-child {
                padding: 5px 10px 5px 50% !important;
            }
        }
    }
}
.dropdown-menu {
    > li {
        > a {
            padding: 2px 10px;
            white-space: normal;
            display: flex;
            word-break: break-word;

            > input {
                padding-right: 14px;
            }
        }
    }
}

.dis {
    display: flex;
}

.pd-1 {
    padding: 5px;
}

.aging-table > tbody > tr input[type="checkbox"] {
    position: absolute !important;
    opacity: 0;
    top: 3px;
}

.aging-table > tbody > tr:hover input[type="checkbox"] {
    position: relative !important;
    opacity: 1;
}

.checkbox-visible {
    opacity: 1 !important;
    position: relative !important;
}

.icon-pointer {
    margin-left: 6px;
    cursor: pointer;
}

.icon-pointer.icon-class-search {
    top: 30%;
    color: var(--color-gray);
}

.icon-pointer .d-block.font-xxs.glyphicon.glyphicon-triangle-top {
    line-height: 0.5;
    height: 8px;
}

.icon-pointer .font-xxs {
    font-size: 12px;
}

.account-detail-modal-header {
    position: absolute;
    top: 20px;
    left: 30%;
    right: auto;
    z-index: 1;
    margin: 0;
    background: var(--color-white);
    width: 50%;
    padding: 1px;
    box-shadow: 1px 0 9px var(--color-primary-common-box-shadow);
}

.account-detail-modal-header-div {
    padding: 0;
    border-radius: 0;
}

.account-detail-modal-div {
    height: 100%;
    padding: 0;
}

.account-detail-custom-header {
    border-right: 0;
    padding: 11px 10px 10px 10px;
    color: var(--color-dropdown-list);
    background: var(--color-dropdown-secondary-background);
    width: 260px;
    margin-top: -8px;
}

button.mat-menu-item {
    color: var(--color-dropdown-list);
}

.account-detail-custom-title {
    font-family: "opensans-semibold" !important;
    font-size: 16px !important;
    word-break: break-word !important;
    margin-top: 5%;
}

.account-detail-padding {
    padding: 1px;
    text-transform: none !important;
    img {
        filter: var(--color-image-filter);
    }
}

.custom-detail h4 {
    color: var(--color-abbey);
    margin-top: 7px;
    font-size: 14px !important;
    font-family: opensans-regular !important;
}

ul.list-unstyled li a {
    color: var(--color-dropdown-list-quaternary);
}

.p-modal-tooltip {
    display: block;
    position: absolute;
    background-color: var(--color-dropdown-primary-background);
    z-index: 1000;
    width: 257px;
    border: 1px solid var(--color-primary-contact-p-modal-tooltip-border);
    border-radius: 4px;
    box-shadow: 0 7px 24px var(--color-primary-common-box-shadow);
    top: -2px;
}

.wd00 {
    min-height: 0px !important;
}

.dropdown-menu-right {
    z-index: 2;
}

.model-position {
    float: right;
    right: -234px;
}

.li-link {
    a {
        padding: 7px 10px;
        display: block;
    }

    &:first-child {
        margin-top: 0 !important;
    }

    a:hover {
        color: var(--color-dropdown-list-hover-text) !important;
        background-color: var(--color-dropdown-list-hover-background);
    }
}

.transform-inherit {
    transform: inherit !important;
}

td.comment-field {
    white-space: normal;
}

.date-range-picker {
    width: 225px !important;
}

//  my css
.aging-table tbody tr:first-child td {
    border-top: none;
}

td.position-relative.word-wrap.customer-name.cursor-pointer {
    border-bottom: none;
    height: 37px;
    line-height: 1.4;
    border-right: none;
    max-width: 332px;
    position: relative !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative !important;
    padding-right: 35px;
}

td.position-relative.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
    height: 42px;
    line-height: 1;
    border-right: none;
}

.checkbox-left-side-in-table {
    visibility: hidden;
}

tr:last-child td.position-relative.word-wrap.customer-name.cursor-pointer,
tr:last-child td.position-relative.word-wrap.vendor-customer-name.cursor-pointer {
    border-bottom: 1px solid var(--color-iron) !important;
}

.position-relative.word-wrap {
    .table-menu-first-td {
        font-size: 14px;
        vertical-align: middle;
        display: none;
        color: var(--color-primary-contact-icon-dots-three-vertical);
        position: absolute;
        right: 0;
    }

    &:hover {
        .table-menu-first-td {
            display: block;
            line-height: 1;
        }
        .checkbox-left-side-in-table {
            visibility: visible;
        }
    }
}

tr.aging-table-top td {
    width: 320px;
    padding: 1px 0;
}

.aging-table {
    max-width: 100%;
    width: 100%;
    transform: translate(1px, 0);

    th,
    td {
        &:first-child {
            min-width: 250px;
        }
    }

    .text-lowercase.word-wrap {
        color: var(--color-primary-contact-aging-table-text-lowercase-word-wrap) !important;
        div {
            line-height: 14px;
        }
    }
}

.table-aging-report {
    max-width: 100%;
    width: 100%;
}

#dropdown-basics {
    position: fixed !important;
    background: var(--color-danger);
    bottom: initial;
}

.btn-group.more-button.open.show {
    display: inline-block !important;
}

.more-button {
    .dropdown-menu {
        top: auto !important;

        li {
            padding: 0px 15px;
            cursor: default;
        }
    }
}

.more-button li:hover {
    background-color: var(--color-dark-fog);
    color: var(--color-giddh-blue);
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: var(--color-nero);
    background-color: var(--color-dark-fog);
    border-color: var(--color-dark-fog);
    box-shadow: none !important;
}

i.icon-options {
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-secondary-input-bar-border);
    background-color: var(--color-white);
    color: var(--color-primary-input-bar-text);
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    right: 3px;
    bottom: 2px;
}

i.icon-options:hover {
    background: var(--color-filter-background-hover);
    color: var(--color-filter-text-hover);
    border-color: var(--color-filter-background-hover);
}

.search-field {
    position: relative;
    margin-bottom: 0;
}

.search-field input {
    width: 235px;
    background-color: var(--color-dark-fog) !important;
    border-color: var(--color-dark-fog) !important;
}

.search-field input:focus {
    background-color: var(--color-white) !important;
    border-color: var(--color-common-primary-blue-border) !important;
}

span.input-addon {
    position: absolute;
    right: 0px;
    padding: 4px 9px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 18px;
    border-radius: 5px;
    height: 36px;
    top: 0;
}

.aging-table .btn-small {
    min-width: 140px;
}

.aging-table thead tr th {
    border-bottom: 1px solid var(--color-primary-contact-aging-table-thead-tr-th-border) !important;
    position: relative;
    padding-right: 10px !important;
}

.comment-field {
    min-width: 170px;
}

.customer-name-filed,
.vendor-name-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 200px;
}

.customer-name .icon-ellipse {
    height: 14px;
    width: 14px;
}

.icon-ellipse.open.show {
    display: inline-block !important;
}

.due-as-on {
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
        width: 80px;
        padding-left: 10px;
    }
}

.form-control[readonly] {
    background-color: inherit !important;
    display: inline-block !important;
    width: 200px;
    border: none;
}

button.btn.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-dark-fog);
    font-size: 14px;
    color: var(--color-giddh-blue);
    display: inline-flex;
    justify-content: space-between;
    width: 140px !important;
    margin: 0 auto !important;
    margin-right: 0 !important;
    box-shadow: none !important;
    height: 40px;
}
.btn-small {
    box-shadow: none !important;
}
button.btn.btn-filter span.icon-cross {
    margin-right: 5px;
}

.customer-form-inline {
    display: flex !important;
    justify-content: space-between !important;
    .button-content {
        float: left;
        width: 21%;
    }
}

.customer-footer-box {
    display: none !important;
}

.customer-form-inline {
    display: flex;
    justify-content: space-between;
}

.linked-entities {
    width: 200px;
}

.more-button {
    .btn-default {
        border-radius: 50% !important;
        padding: 0px !important;
        width: 28px;
        height: 28px;
    }
}

.input-container {
    input {
        height: 36px;
        min-width: 100%;
        padding: 11px;
        padding-right: 40px;
        color: var(--color-nero);
        border: none;
        background-color: var(--color-input-tertiary-background) !important;
    }
}

.total-customer-vendor-count {
    color: var(--color-primary-contact-total-customer-vendor-count) !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    letter-spacing: 1px;

    strong {
        color: var(--color-giddh-blue) !important;
        font-size: 16px;
    }
}

.mat-raised-button {
    margin-right: 0px !important;
}

.email-dialog-box {
    width: 630px !important;
}

.icon-search,
.icon-sort-asc {
    font-size: 16px !important;
}

.mat-icon-button {
    width: 25px;
    i {
        line-height: 20px;
    }
}

.top-bar {
    height: 62px;
    margin-bottom: 4px;
}

.custom-datepicker input {
    height: 36px;
}

.customer-form-inline {
    align-items: center;
    width: 100.25%;
    position: relative;
    bottom: 2px;
}

.pending-approval-button {
    background-color: #f8f9fa;
    width: 140px;
    height: 37px;
}

.pending-approval-button:hover {
    background-color: #e2e6ea;
}

.all-table {
    .mat-header-cell {
        &:first-of-type {
            width: 595px;
            padding-left: 5px !important;
        }
    }
    .mat-header-row {
        border-bottom: 1.5px solid var(--color-table-primary-content-bar-border);
    }
    .icon-search:before {
        position: relative;
        bottom: 2px;
    }
    .mat-vendor-name {
        padding-left: 28px !important;
    }
    .mat-customer-name {
        padding-left: 10px !important;
        .mat-checkbox {
            transform: translateX(-3px);
        }
        span:nth-child(2) {
            position: relative;
            right: 0px;
            left: 3px;
        }
    }
}

.sticky-table {
    height: 200px;
}

.btn-filters {
    @include common-filters(
        var(--color-giddh-blue),
        var(--color-primary-filter-background),
        1px solid var(--color-primary-button-border)
    );
}

.customer-vendor-name-search-icon {
    top: 2px;
}

/*responsive*/
@media (max-width: 1024px) {
    .customer-form-inline {
        position: relative;
        display: flex;
        align-items: initial;

        .wrap-search-entity {
            display: flex;
        }

        .linked-entities {
            margin-bottom: 0;
        }
    }
    .customer-footer-box {
        padding-bottom: 10px;
        float: right !important;
    }
    .customer-footer-box {
        padding-top: 0;
        float: left !important;
    }
    .customer-footer-box + .btn-group {
        .btn {
            margin-right: 0;
        }
    }
    .customer-footer-box {
        display: flex;

        .mobile-button-filter {
            display: flex !important;
            margin-right: 0;
        }
    }
    .desktop-button-filter {
        display: none !important;
    }
}

@media (max-width: 768px) {
    @include all-table;
    button.btn.btn-filter {
        margin-left: auto;
        display: flex;
    }
    .aging-table > tbody > tr input[type="checkbox"] {
        top: 2px;
    }
    tr:last-child td.position-relative.word-wrap.customer-name.cursor-pointer,
    tr:last-child td.position-relative.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
        border-bottom: none !important;
    }
    .table-responsive {
        border: none !important;
    }
    .aging-table .table-checkbox {
        top: 5px;
    }
    .p-modal-tooltip {
        left: auto !important;
        right: -24px !important;
    }
    .position-relative.word-wrap .icon-dots-three-vertical {
        transform: rotate(0deg);
    }
    td.position-relative.word-wrap.customer-name.cursor-pointer,
    td.position-relative.word-wrap.customer-name.vendor-customer-name.cursor-pointer {
        max-width: 100%;
        white-space: inherit;
        line-height: 1.5;
    }
    .position-relative.word-wrap.vendor-customer-name .icon-dots-three-vertical {
        position: relative;
        top: 0;
        line-height: 1 !important;
    }
    .aging-table tr:hover .vendor-customer-name .table-checkbox {
        top: 5px;
    }
    .customer-name .icon-ellipse {
        top: 8px;
    }
    .position-relative.word-wrap {
        .icon-dots-three-vertical {
            display: block;
        }
    }
    .aging-table .btn-small {
        min-width: auto;
    }
    .top-aging-table-top {
        margin-bottom: 8px;
    }
    table.on-mobile-view tbody td:before {
        left: 30px;
    }
    .aging-table span.justify-content-end {
        justify-content: flex-start !important;
    }
    .pd-t1-md {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    @include all-table;
    span.input-addon {
        top: 0;
    }
    .contact-ipad-responsive {
        float: left;
        width: auto;
    }
    .btn-group.plus-btn {
        float: none;
        width: 100%;
    }
    .btn-group.plus-btn button {
        width: 100%;
    }
    .pagination-wrapper {
        margin-bottom: 0px !important;
    }
    .customer-name,
    .vendor-customer-name {
        padding-right: 20px !important;
    }
    .customer-name .icon-ellipse {
        top: 8px;
    }
    .customer-form-inline {
        flex-direction: column;
    }
    .on-desktop-view {
        display: none !important;
    }
    .linked-entities {
        width: 100%;
    }
    .wrap-search-entity {
        margin-bottom: 10px;
    }
    .pd-t1-md {
        flex-direction: column;
        padding-top: 0;
    }
    .header-left {
        width: 100%;
        display: block !important;
        margin-left: 0px;
        margin-right: 0 !important;

        &.on-company {
            width: 100%;
            margin-left: 0;
            margin-bottom: 0;
        }

        .form-group {
            vertical-align: bottom !important;
            margin-bottom: 5px;

            input {
                width: 100%;
            }
        }
    }
    .input-grp-date-range-picker {
        display: none;
    }
}

@media (max-width: 575px) {
    .customer-form-inline {
        .wrap-search-entity {
            flex-direction: column;

            .dis {
                position: absolute;
                left: 0;
                top: 0;
            }

            .linked-entities {
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0 !important;
            }

            .header-left {
                margin-left: 0px;
                margin-top: 10px;

                &.on-company {
                    margin-left: 0px;
                }
            }
        }
    }
    .customer-footer-box + .btn-group {
        float: none !important;
        width: 100%;

        button {
            width: 100%;
        }
    }
    .customer-footer-box {
        padding-bottom: 12px;
        padding-top: 0;
        float: none !important;
    }

    .position-relative.word-wrap .icon-dots-three-vertical {
        display: block;
    }
    .top-aging-table-top {
        font-size: 14px;
        padding: 8px 3px !important;
    }
    .advance-icon {
        margin-left: auto !important;
        width: auto !important;
    }
    .on-mobile-view {
        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 414px) {
    .top-aging-table-top {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .separate-top-aging {
        display: none;
    }
}

@media (min-width: 768px) {
    .on-mobile-view.btn-group {
        display: none;
    }
    .on-desktop-view.btn-group {
        display: block;
    }
    .contact-ipad-responsive {
        float: left;
        width: auto;
    }
}

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    flex: 1 1 auto;
}

.td-search-box div i {
    padding-right: 8px;
    cursor: pointer;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container {
    position: relative;
}

.td-search-box .input-container input {
    min-height: 36px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 0px;
    top: 9px;
}

.negative-balance {
    color: var(--color-danger);
}

@media (min-width: 769px) {
    .mobile-card-wrapper {
        max-height: calc(100vh - 295px);
    }
}

.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px !important;
    cursor: pointer;
}

.visible-check-box {
    visibility: visible !important;
}

::ng-deep.search-table {
    position: relative;
    right: 8px;
    border-color: var(--color-sidebar-primary-search-bar-background);
    background-color: var(--color-sidebar-primary-search-bar-background) !important;
}

:hover.menu-table-item {
    color: var(--color-blue);
}

::ng-deep.mail-model-container {
    width: 590px;
}

@media screen and (max-width: 768px) {
    .mail-model-container {
        width: 100% !important;
    }
}

.close-btn-in-mat-model {
    position: absolute;
    right: 9px;
    top: 9px;
    font-size: 25px;
    color: var(--color-popup-list-head-text);
}
.min-width-230 {
    min-width: 230px;
}
.arrow-icon {
    right: -3px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-primary-button-border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon:hover {
    color: var(--color-wild-sand);
    background-color: var(--color-blue);
}
.select-all-checkbox-wrapper {
    align-items: center;
    padding-left: 25px;
    .mat-checkbox {
        left: 12px;
    }
}
.select-single-checkbox-wrapper {
    display: flex;
    align-items: center;
}
.mat-chip-wrapper {
    border: unset;
    margin-top: 20px;
}
.min-width-137 {
    min-width: 137px;
    color: var(--color-denary-button-text);
    background-color: var(--color-denary-button-background);
    border: 1px solid var(--color-primary-button-border);
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: var(--color-denary-button-text);
    background-color: var(--color-denary-button-background);
    border: 1px solid var(--color-primary-button-border);
}
