<div appTranslate [file]="'trial-profit-balance/profit-loss'" (localeData)="localeData = $event" (commonLocaleData)="commonLocaleData = $event">
    <tb-pl-bs-filter #filter [selectedCompany]="selectedCompany" (onPropertyChanged)="filterData($event)"
        [showLoader]="showLoader | async" (seachChange)="searchChanged($event)" (expandAll)="expandAllEvent($event)"
        [tbExportCsv]="false" [tbExportPdf]="false" [tbExportXLS]="false" [plBsExportXLS]="true"
        (plBsExportXLSEvent)="exportXLS($event)" [showLabels]="true"></tb-pl-bs-filter>
    <div *ngIf="(showLoader | async)">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <h1>{{localeData?.loading_message}}</h1>
        </div>
    </div>
    <div *ngIf="(!(showLoader | async) && data)">
        <pl-grid #plGrid [search]="search" [from]="from" [to]="to" (searchChange)="searchChanged($event)"
            [expandAll]="expandAll" [plData]="data" [cogsData]="cogsData"></pl-grid>
    </div>
    <div *ngIf="(!(showLoader | async) && !(data))"
        style="display: flex; height: 60vh; align-items: center; justify-content: center; font-size: 31px; color: #babec1;">
        <div class="d-flex">
            <h2>{{localeData?.no_data_found}}</h2>
        </div>
    </div>
</div>