@import "../../../assets/css/color.scss";
#inlnImg img {
    max-height: 18px;
}

.font-18 {
    font-weight: bold;
}

.pdBth20 {
    padding: 0 20px;
}
/*
.info-icon {
    i {
        position: absolute;
        right: 0;
        top: 4px;
        color: $gray;
    }
}*/

.check-search {
    position: absolute;
    right: 10px;
    top: 18px;
    width: 13px;
}
.disabled:after {
    background: transparent;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    clear: both;
    float: none;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    cursor: not-allowed;
}
.disabled .list-item {
    position: relative;
}
.disabled {
    position: relative;
}
.disabled-list-item {
    padding: 6px;
    height: 100%;
    background: $white;
    font-size:14px;
}
.tooltip-box {
    position: absolute;
    right: 0;
    top: 0;
    .icon-info {
        color: $gray;
    }
}

.form-control{
    width: 100% !important;
}
.linked-account{
    width: calc(100% - 42px);
}
.payment-text {
    color: $gray;
}
.bank-logo {
    img{
        max-width: 140px;
        margin-bottom: 10px;
        width: 100%;
    }
}
/*responsive*/
@media(max-width:1359px) {
    .xs-pd-l15 {
        padding-left: 15px !important;
    }
    .hidden-1359 {
        display: none;
    }
}
.plus-cross-btn {
    i {
        padding: 5px 0;
        color: $gray;
        font-size: 20px;
    }
}
.edit-save-button{
    .btn{
        width: 36px;
        height: 36px;
    }
}
@media(max-width:1199px){
    .edit-save-button{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-right: 7px;
    }
    .button-wrapper{
        margin-top: 0;
        margin-bottom: 30px;
    }
}
@media(max-width:767px) {
    #inlnImg {
        margin-top: 0;
    }
    .empty-label label,
    .empty-label br {
        display: none;
    }
    #inlnImg label,
    .inlnImg label {
        margin: 0;
        display: none;
    }
    .gmail-integration-message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            align-self: self-start !important;
            padding-bottom: 10px;
            font-size: 14px;
        }
        .btn-danger {
            margin-left: 0 !important;
        }
    }
    .plus-cross-btn {
        label{
            display: none;
        }
        i {
           float: right;
           margin-right: 15px;
        }
    }
    .update-btn-wrapper{
        label{
            display: none;
        }
        .btn{
            margin-right: 0;
            margin-left: 15px;
        }
    }
}


@media (max-width:1400px) and (min-width:992px){
    .payment-col{
        flex: 0 0 33.333333% !important;
        max-width:33.333333% !important;
    }
    .payment-col1{
        flex: 0 0 25% !important;
        max-width:25% !important;
    }
}

@media (max-width:1680px) and (min-width:1401px){
    .amount-upto{
        flex: 0 0 20.666667% !important;
        max-width: 20.666667% !important;
    }
}
