.filter-row {
    height: auto;
}
.back-ico {
    position: relative;
    top: 3px;
}

.white-normal {
    white-space: normal !important;
}
.icon-download-circle {
    font-size: 16px;
}
.date-width {
    min-width: 120px;
}