.icon-download {
    font-weight: 600;
}

.dropdown-menu > li > a:hover {
    color: var(--chetwode-blue);
    background: var(--gray-90);
}
.zIndexForAside {
    z-index: 99999;
}
.authenticate-btn {
    border: 1px solid var(--chetwode-blue);
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    >li {
        display: inline-block;
        padding-left: 5px;
    }
}
.btn-wrapper-filling-header{
    .btn-primary{
        border-color: var(--chetwode-blue);
    }
}
@media(max-width:991px){
    .list-filter{
        height: auto;
    }
    .btn-wrapper-filling-header{
        float: none;
        display: flex;
        padding-top: 12px;
        justify-content: flex-end;
    }
}
