<div class="list-filter">
    <div class="pull-right">
        <div class="btn-toolbar"></div>
    </div>

    <!-- region gstr1 -->
    <div class="list-style row" *ngIf="selectedGst === GstReport.Gstr1">
        <div class="wrap-GSTR-1-title col-lg-6 col-sm-8 col-12 xs-mb-1">
            <a href="javascript:void(0);" [routerLink]="['/gstfiling']" class="ember-view">
                <img src="{{ imgPath }}back.svg" class="icon icon-sm text-middle" />
            </a>
            <img src="{{ imgPath }}cart.svg" class="icon gstr-icon text-middle" />

            <div class="text-middle nav-top">
                <div class="text-middle head head-font-weight">
                    {{ localeData?.gstr1_label }}
                    <div
                        *ngIf="showDate"
                        class="btn-group dropdown d-inline-block"
                        dropdown
                        [autoClose]="false"
                        #monthWise="bs-dropdown"
                        (clickOutside)="monthWise?.hide()"
                        [attachOutsideOnClick]="true"
                    >
                        <button
                            id="button-nested"
                            dropdownToggle
                            type="button"
                            class="
                                dropdown
                                clearfix
                                list-title
                                filter-by
                                return-sel
                                font-large
                                dropdown-toggle
                                pull-left
                            "
                            aria-controls="dropdown-nested"
                        >
                            <ng-container>
                                {{ visibleSelectMonth }}
                            </ng-container>
                            <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu month-picker" role="menu" id="monthPicker">
                            <li role="menuitem">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <datepicker
                                        [datepickerMode]="'month'"
                                        name="fromDate"
                                        (click)="$event.stopPropagation()"
                                        [showWeeks]="false"
                                        [minMode]="'month'"
                                        (selectionDone)="periodChanged($event); monthWise?.hide()"
                                        [(ngModel)]="selectedMonth"
                                    ></datepicker>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="datepicker-header" *ngIf="!showDate">
                        <ng-container *ngIf="isMonthSelected">
                            ({{ dayjs(currentPeriod.from, giddhDateFormat).format("MMMM YYYY") }})
                        </ng-container>
                        <ng-container *ngIf="!isMonthSelected">
                            ({{ dayjs(currentPeriod.from, giddhDateFormat).format("DD MMM YYYY") }} -
                            {{ dayjs(currentPeriod.to, giddhDateFormat).format("DD MMM YYYY") }})</ng-container
                        >
                    </div>
                </div>
                <div class="font-xs text-muted text-middle normal">{{ localeData?.outward_supplies_details }}</div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-4 col-12">
            <ul class="list-inline list-middle download-drop-down">
                <li>
                    <button
                        type="button"
                        class="btn btn-sky-blue mr-0 error-button"
                        (click)="onDownloadSheetGSTR('error')"
                    >
                        {{ localeData?.filing?.errors }}
                    </button>
                    <button type="button" class="btn btn-sky-blue mr-0" (click)="pushToPortalModal?.show()">
                        {{ localeData?.filing?.push_to_portal }}
                    </button>
                </li>

                <li>
                    <div *ngIf="showTaxPro && isCompany && showGstFiling">
                        <button
                            class="btn btn-primary authenticate-btn pull-right"
                            [ngClass]="{ 'btn-success': gstAuthenticated }"
                            (click)="toggleSettingAsidePane($event, 'VAYANA')"
                        >
                            {{
                                gstAuthenticated ? localeData?.filing?.authenticated : localeData?.filing?.authenticate
                            }}
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- endregion -->

    <!-- region gstr2 -->
    <div class="list-style" *ngIf="selectedGst === GstReport.Gstr2">
        <a href="javascript:void(0);" id="ember1210" class="ember-view" [routerLink]="['/gstfiling']">
            <img src="{{ imgPath }}back.svg" class="icon icon-sm text-middle" />
        </a>
        <img src="{{ imgPath }}bag.svg" class="icon gstr-icon text-middle" />

        <div class="text-middle nav-top">
            <div class="text-middle head-font-weight">
                {{ localeData?.gstr2_label }}
                <div
                    *ngIf="showDate"
                    class="btn-group dropdown d-inline-block"
                    dropdown
                    [autoClose]="false"
                    #monthWise="bs-dropdown"
                    (clickOutside)="monthWise?.hide()"
                    [attachOutsideOnClick]="true"
                >
                    <button
                        id="button-nested"
                        dropdownToggle
                        type="button"
                        class="dropdown clearfix list-title filter-by return-sel font-large dropdown-toggle pull-left"
                        aria-controls="dropdown-nested"
                    >
                        <ng-container>
                            {{ visibleSelectMonth }}
                        </ng-container>
                        <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu month-picker" role="menu" id="monthPicker">
                        <li role="menuitem">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <datepicker
                                    [datepickerMode]="'month'"
                                    name="fromDate"
                                    (click)="$event.stopPropagation()"
                                    [showWeeks]="false"
                                    [minMode]="'month'"
                                    (selectionDone)="periodChanged($event); monthWise?.hide()"
                                    [(ngModel)]="selectedMonth"
                                ></datepicker>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="datepicker-header" *ngIf="!showDate">
                    <ng-container *ngIf="isMonthSelected">
                        ({{ dayjs(currentPeriod.from, giddhDateFormat).format("MMMM YYYY") }})
                    </ng-container>
                    <ng-container *ngIf="!isMonthSelected">
                        ({{ dayjs(currentPeriod.from, giddhDateFormat).format("DD MMM YYYY") }} -
                        {{ dayjs(currentPeriod.to, giddhDateFormat).format("DD MMM YYYY") }})</ng-container
                    >
                </div>
            </div>
            <div class="font-xs text-muted text-middle normal">{{ localeData?.inward_supplies_details }}</div>
        </div>

        <div class="pull-right btn-wrapper-filling-header">
            <div class="btn-group d-inline-block" dropdown #dropdown="bs-dropdown">
                <button dropdownToggle type="button" class="btn dropdown-toggle btn-sky-blue">
                    <i class="icon-download"></i>
                    {{ commonLocaleData?.app_download }}
                </button>
                <ul
                    id="dropdown-menu"
                    *dropdownMenu
                    class="dropdown-menu dropdown-menu-right"
                    role="menu"
                    aria-labelledby="button-triggers-manual"
                >
                    <li role="menuitem">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('main')">{{
                            localeData?.filing?.download_sheet
                        }}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('error')">{{
                            localeData?.filing?.download_error_sheet
                        }}</a>
                    </li>
                </ul>
            </div>

            <button
                class="btn btn-primary pull-right"
                [ngClass]="{ 'btn-success': gstAuthenticated }"
                (click)="toggleSettingAsidePane($event, 'VAYANA')"
                *ngIf="showTaxPro && isCompany && showGstFiling"
            >
                {{ gstAuthenticated ? localeData?.filing?.authenticated : localeData?.filing?.authenticate }}
            </button>
            <button
                class="btn btn-primary pull-right"
                [disabled]="!gstAuthenticated"
                (click)="pullFromGstIn($event)"
                *ngIf="showTaxPro && showGstFiling"
            >
                {{ localeData?.filing?.pull_from_gstn }}
            </button>
        </div>
    </div>
    <!-- endregion -->
</div>

<div class="aside-overlay" *ngIf="GstAsidePaneState === 'in'" (click)="toggleSettingAsidePane($event)"></div>
<gst-aside-menu
    [selectedService]="selectedService"
    [returnType]="selectedGst"
    [class]="GstAsidePaneState"
    [@slideInOut]="GstAsidePaneState"
    (closeAsideEvent)="toggleSettingAsidePane($event)"
    (fileGst)="fileGstReturnV2()"
    (cancelConfirmationEvent)="cancelConfirmationModel.show()"
    (fileGstComplete)="closeAsidePane()"
    [localeData]="localeData"
    [commonLocaleData]="commonLocaleData"
></gst-aside-menu>

<!-- region cancel confirmation modal -->
<div
    bsModal
    #cancelConfirmationModel="bs-modal"
    class="modal z-index-for-aside fade"
    role="dialog"
    [config]="{ ignoreBackdropClick: true }"
>
    <div class="modal-dialog modal-md second">
        <div class="modal-content">
            <confirm-modal
                [body]="localeData?.filing?.cancel_title"
                (successCallBack)="cancelConfirmationModel.hide(); toggleSettingAsidePane(null)"
                (cancelCallBack)="cancelConfirmationModel.hide()"
            ></confirm-modal>
        </div>
    </div>
</div>
<!--push to portal modal -->
<div
    bsModal
    #pushToPortalModal="bs-modal"
    class="modal z-index-for-aside fade"
    role="dialog"
    [config]="{ ignoreBackdropClick: true }"
>
    <div class="modal-dialog modal-md second">
        <div class="modal-content">
            <push-to-portal
                [localeData]="localeData"
                (cancelCallBack)="pushToPortalModal?.hide()"
                (downloadExcel)="onDownloadSheetGSTR('main')"
                (downloadJson)="onDownloadJsonGSTR('main')"
            ></push-to-portal>
        </div>
    </div>
</div>
<!-- endregion -->
