@import "../../../../assets/css/color.scss";

.icon-download {
    font-weight: 600;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: #e5e5e5;
}
.zIndexForAside {
    z-index: 99999;
}
.authenticate-btn {
    border: 1px solid $chetwode-blue;
}
