.icon-download {
    font-weight: 600;
}
.error-button {
    margin-right: 20px !important;
}
.dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}
.z-index-for-aside {
    z-index: 99999;
}
.authenticate-btn {
    border: 1px solid var(--color-blue);
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    > li {
        display: inline-block;
        padding-left: 5px;
    }
}
.btn-wrapper-filling-header {
    .btn-primary {
        border-color: var(--color-blue);
    }
}
.head-font-weight {
    font-weight: 500 !important;
}
.month-picker {
    li {
        a:hover {
            background-color: transparent !important;
            border: none !important;
        }
    }
}
@media (max-width: 991px) {
    .list-filter {
        height: auto;
    }
    .btn-wrapper-filling-header {
        float: none;
        display: flex;
        padding-top: 12px;
        justify-content: flex-end;
    }
    .list-inline {
        > li {
            margin-bottom: 10px;
            .authenticate-btn {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .btn-wrapper-filling-header {
        float: none;
    }
}
@media screen and (max-width: 375px) {
    .btn-wrapper-filling-header {
        display: flex !important;
        width: 100% !important;
        flex-direction: column;
        .btn-group {
            display: flex !important;
        }
        .btn {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }
}
