select-dropdown {
    font-size: 14px;
    > div {
        background-color: var(--color-dropdown-primary-background);
        border: 1px solid var(--color-gainsboro);
        border-top: none;
        box-sizing: border-box;
        position: absolute;
        z-index: 10;
        .filter {
            padding: 3px;
            width: 100%;
            input {
                border: 1px solid var(--color-gainsboro);
                box-sizing: border-box;
                padding: 6px;
                width: 100%;
                background-color: var(--color-dropdown-primary-background);
            }
        }
        .options {
            max-height: 200px;
            overflow-y: auto;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    padding: 6px;
                    cursor: pointer;
                    user-select: none;
                    &.message {
                        cursor: default;
                    }
                }
            }
        }
    }
    .selected {
        background-color: var(--color-dropdown-list-hover-background) !important;
        &.highlighted {
            background-color: var(--color-lavender) !important;
            color: var(--color-chetwode-blue) !important;
        }
    }
    .highlighted {
        background-color: var(--color-lavender) !important;
        color: var(--color-chetwode-blue) !important;
    }
    .disabled {
        background-color: var(--color-white);
        color: var(--color-nobel);
        cursor: default;
        pointer-events: none;
    }
}
