<div class="aside-pane">
    <div class="aside-help-header">
        <h2>Help & Support</h2>
        <div id="close" class="cursor-pointer" (click)="closeAsidePane($event)"><i class="icon-cross"></i></div>
    </div>
    <div class="help-aside-body">
        <div class="faq-block">
            <a href="https://giddh.com/help" target="_blank">
                <p>FAQ</p>
                <small>Have questions? Find answers here!</small>
            </a>
        </div>
        <div class="feature-block">
            <ul>
                <li>
                    <a href="https://trello.com/b/1cPr6Mkc/giddh-roadmap" target="_blank">Upcoming
                    </a>
                </li>
                <li>
                    <a href="https://giddh.canny.io/feature-requests" target="_blank">
                        Feature Request</a>
                </li>
                <li>
                    <a href="https://changelog.giddh.com" target="_blank">Changelog</a>
                </li>
            </ul>
        </div>
        <div class="download-block">
            <h4>Download</h4>
            <ul class="clearfix">
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.app.Giddh&hl=en" target="_blank"
                        title="android app">
                        <i class="fa fa-android"></i> Android</a>
                </li>
                <li hidden>
                    <a href="https://itunes.apple.com/in/app/giddh-tb/id999743672?mt=8" target="_blank" title="ios app">
                        <i class="fa fa-apple"></i> IOS</a>
                </li>
                <li>
                    <a href="https://s3-ap-south-1.amazonaws.com/giddh-app-builds/giddh-{{apkVersion}}.dmg"
                        target="_blank" title="macOS app">
                        <i class="fa fa-apple"></i> MacOS</a>
                </li>
                <li>
                    <a href="https://s3-ap-south-1.amazonaws.com/giddh-app-builds/giddh%20Setup%20{{apkVersion}}.exe"
                        target="_blank" title="windows app">
                        <i class="fa fa-windows"></i> Windows</a>
                </li>
            </ul>
        </div>
        <div class="request-demo">
            <div class="file-image">
                <img src="{{imgPath}}request-demo.svg">
                <p class="text-gray">request a demo:</p>
                <button class="btn btn-pink mb-3" (click)="scheduleNow($event)">Schedule Now</button>
                <br>
                <p class="text-gray">or contact:</p>
            </div>
            <div class="contact-block">
                <p>
                    8818888764
                </p>
                <p>
                    support@giddh.com
                </p>
            </div>
        </div>
    </div>
</div>