.btn-primary {
    padding: 8px 20px;
}

.institution-list {
    padding-right: 16px;
    width: 70%;

    .list-wrapper {
        .list-item {
            min-height: 40px;
            max-width: 80%;
            cursor: pointer;
            padding: 0px !important;
        }
    }
}

.institutions-dialog-body {
    width: 100%;
    height: calc(100% - 60px);

    &.mdc-dialog__content {
        &.mat-mdc-dialog-content {
            padding: 15px !important;
        }
    }
}
