<div class="modal-header d-flex align-items-center">
    <h3>{{ localeData?.payment?.bank_list }}</h3>
    <button class="close" mat-dialog-close>×</button>
</div>
<giddh-page-loader *ngIf="institutionsListInProgress$ | async"></giddh-page-loader>
<mat-dialog-content class="institutions-dialog-body" *ngIf="!(institutionsListInProgress$ | async)">
    <div class="w-100 container pd-t15 pd-b15">
        <div class="row">
            <div class="col-12 col-md-8 institution-list">
                <form [formGroup]="searchForm">
                    <input-field
                        [autocomplete]="'off'"
                        [name]="'institutions'"
                        [placeholder]="localeData?.payment?.search_institutions"
                        [type]="'text'"
                        formControlName="search"
                        [label]="localeData?.payment?.institutions"
                        (keydown.enter)="$event.preventDefault()"
                    >
                    </input-field>
                </form>

                <div class="list-wrapper mt-2">
                    <mat-list class="p-0" *ngIf="filteredBanks?.length">
                        <ng-container *ngFor="let item of filteredBanks">
                            <div class="list-item px-2">
                                <mat-list-item
                                    (click)="openGocardlessDialog(item)"
                                    class="cursor-pointer list-item-underline-hover p-0"
                                    >{{ item.id }}</mat-list-item
                                >
                            </div>
                        </ng-container>
                    </mat-list>
                    <mat-list class="p-0" *ngIf="!filteredBanks?.length">
                        <mat-list-item class="list-item pr-2 pl-4">{{
                            commonLocaleData?.app_no_data_found
                        }}</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
