<div class="modal-header themeBg pd2 pdL2 pdR2 clearfix" style="background-color: #525252">
    <h3 class="modal-title bg" id="modal-title">Download Voucher</h3>
    <i aria-hidden="true" class="fa fa-times text-right close_modal" (click)="cancel()"></i>
</div>

<div class="modal-body">


    <ng-template>
        <div class="clearfix font-14">
            <div class="mb-5">
                <p class="mb-1">Copies of tax invoices</p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Original Copy:</strong>  This is the first copy of the invoice for the buyer.</label></p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Duplicate Copy:</strong>   This is to be carried with the transporter.</label></p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Triplicate Copy:</strong>  This one is for the suppliers’ own record.</label></p>
            </div>

            <div class="mb-05">
                <p class="mb-1">Export in multi currency (optional) <a class="text-gray d-inline-block middle" tooltip="test" href="javascript:void(0)"><i class="icon-info"></i></a></p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Account Currency: </strong>  USD</label></p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Company Currency: </strong> INR</label></p>
                <p class="mb-1"><label class="pointer"><input type="checkbox"> <strong>Both Currency:</strong> USD with conversion in INR</label></p>
                <p class="font-14 text-orange pl-2">By default we will check both currency option</p>
            </div>
        </div>

        <div class="bt-1 pt-2 pb-1">
            <div class="btn-group">
                <button type="button" class="btn btn-success">Yes
                </button>
                <button type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </ng-template>


    <div class="clearfix">
        <h3 class="fs16 mrB">Invoice Copy</h3>
        <hr>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="Transport" (change)="invoiceTypeChanged($event)"
                    [(ngModel)]="isTransport">
                Transport
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="Customer" (change)="invoiceTypeChanged($event)" [(ngModel)]="isCustomer">
                Customer
            </label>
        </div>
    </div>


    <!-- region buttons -->
    <div class="row mrT2 mrB1">
        <div class="col-sm-12">

            <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn btn-success" (click)="onDownloadInvoiceEvent()">Download
                </button>

                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>

            </div>
        </div>
    </div>
    <!-- endregion -->

</div>
