@import "../../../../assets/css/color.scss";
span.month-dropdown {
    font-size: 12px;
    color: $dark-gray;
    vertical-align: top;
}
.dashboard-filter .btn-group {
    display: block;
    line-height: 1;
}
.dashboard-filter .btn-group span {
    vertical-align: middle;
    color: $dark-gray;
}
.underline {
    text-decoration: underline;
}
.dashboard-filter {
    display: inline-flex;
    color: $dark-gray;
    align-items: flex-end;
}

.dashboard-filter .icon-collapse-icon {
    margin-left: 8px;
    font-size: 14px;
}
.gst-dropdown {
    display: block;
}
.gst-dropdown span.icon-arrow-down {
    margin-left: 5px;
}
.amount-in-cash {
    font-size: 20px;
    color: $midnight-blue;
}
.amount-in-cash span.icon-rupees {
    font-size: 12px;
}
.total-gst-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.gst-apply {
    font-size: 14px;
    color: $nero;
}
.gst-apply span.icon-rupees {
    font-size: 11px;
}
.total-gst-code small {
    color: $dark-gray;
    font-size: 14px;
}
.date-amount {
    color: $nero;
    font-size: 12px;
}
.info-gst {
    margin-top: 30px;
    color: $dark-gray;
    font-size: 14px;
}
#dashboard .panel-default {
    position: relative;
}

.add-tax {
    display: flex;
    justify-content: inherit;
    position: absolute;
    bottom: 20px;
    text-decoration: underline;
}
.add-tax a {
    color: $nero;
    font-size: 14px;
}
.date-amount small {
    font-size: 12px;
}
