.create-group-page {
    margin-top: 20px;
    padding: 0 15px 0 0;

    .toggle-childgroup {
        display: flex;
        column-gap: 30px;
    }

    .image-group {
        padding-top: 35px;

        .group-vector {
            position: absolute;
            right: 15px;
            top: 60px;
        }
    }
    .input-width {
        width: auto;
        min-width: 530px;
        display: inline-block;
    }
}

.delete-button {
    color: var(--color-danger) !important;
    border-color: var(--color-dark-fog) !important;
}

.create-inventory-btn {
    height: 36px;
    color: var(--color-nonary-button-text);
    background-color: var(--color-nonary-button-background);
    margin-right: 15px;

    &:disabled {
        background-color: var(--color-success-disable);
    }
}

.new-inventory-page-header {
    padding: 0 15px 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray);
    align-items: center;

    .inventory-header-right {
        display: flex;
    }
}
.footer-wrapper {
    padding: 15px;
}

.page-title-inventory {
    font-weight: bold;
    color: var(--color-giddh-blue);
    font-size: 16px;
}

.mat-select {
    min-width: unset !important;
}
.input-gap {
    row-gap: 20px;
}

@media (max-width: 1440px) {
    .hsnsac-field {
        margin-top: 20px;
    }
}
