.create-group-page {
    margin-top: 10px;
    padding: 0 15px 0 0;

    .toggle-childgroup {
        display: flex;
        column-gap: 30px;
    }

    /* UNUSED COMPONENT CLASS: image-group - Auto-commented by script
.image-group {
        padding-top: 35px;

        /* UNUSED COMPONENT CLASS: group-vector - Auto-commented by script
.group-vector {
            position: absolute;
            right: 15px;
            top: 60px;
        }
}
*/
    .input-width {
        width: unset;
        min-width: 530px;
        display: inline-block;
    }
    .inline-multiple-input-width {
        width: 530px;
        min-height: var(--custom-mat-form-field-height);
        .input-min-width {
            min-width: 50%; 
        }
    }
}

/* UNUSED COMPONENT CLASS: create-inventory-btn - Auto-commented by script
.create-inventory-btn {
    height: 36px;
    color: var(--color-white);
    background-color: var(--color-green);
    margin-right: 15px;

    &:disabled {
        background-color: var(--color-green-light);
    }
}
*/

/* UNUSED COMPONENT CLASS: new-inventory-page-header - Auto-commented by script
.new-inventory-page-header {
    padding: 0 15px 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-medium-gray);
    align-items: center;

    /* UNUSED COMPONENT CLASS: inventory-header-right - Auto-commented by script
.inventory-header-right {
        display: flex;
    }
}
*/
.footer-wrapper {
    margin-top: 45px;
    max-width: 560px;

    .right-aligned-buttons {
        .mat-stroked-button {
            margin-right: 0 !important;
            margin-left: 15px;
        }
    }
}

/* UNUSED COMPONENT CLASS: page-title-inventory - Auto-commented by script
.page-title-inventory {
    font-weight: bold;
    color: var(--color-blue-primary);
    font-size: var(--font-size-15);
}
*/

.mat-select {
    min-width: unset !important;
}

.back-left {
    line-height: 32px;
}
@media screen and (max-width: 1024px) {
    .create-group-page {
        .input-width {
            width: unset;
            min-width: 422px;
        }
        .inline-multiple-input-width {
            width: 422px;
        }
    }
}