.create-group-page {
    margin-top: 10px;
    padding: 0 15px 0 0;

    .toggle-childgroup {
        display: flex;
        column-gap: 30px;
    }

    .input-width {
        width: unset;
        min-width: 530px;
        display: inline-block;
    }
    .inline-multiple-input-width {
        width: 530px;
        min-height: var(--custom-mat-form-field-height);
        .input-min-width {
            min-width: 50%;
        }
    }
}

.footer-wrapper {
    margin-top: 45px;
    max-width: 560px;

    .right-aligned-buttons {
.mat-stroked-button {
            margin-right: 0 !important;
            margin-left: 15px;
        }
    }
}

.mat-select {
    min-width: unset !important;
}

.back-left {
    line-height: 32px;
}
@media screen and (max-width: 1024px) {
    .create-group-page {
        .input-width {
            width: unset;
            min-width: 422px;
        }
        .inline-multiple-input-width {
            width: 422px;
        }
    }
}
