.list-item:focus,
.list-item:focus .list-item {
    color: var(--white) !important;
    background: var(--primary);
}
.virtual-group-list {
    height: 100%;
}


@media (max-width:1024px){
    .virtual-group-list {
        display: table-cell;
    }

   .new-btn-ul{
       padding-bottom:20px;
   }

}
