<div class="grp-col" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
    <div
        class="grp-wrapper"
        fxFlex
        [ngStyle]="{ 'width': mc.columns?.length * 255 + 'px' }"
        [navigationWalker]="{ vertical: 'nav-vr-item', horizontal: 'nav-hr-item' }"
        #navigation="navigationWalker"
        #root
        (onReset)="initNavigator(navigation, root.children[0])"
        (onRight)="onRightKey($event, navigation)"
        (onLeft)="onLeftKey($event, navigation)"
    >
        <!-- level 1 -->
        <div
            class="col-wrapper left-account-operation"
            *ngFor="let col of mc.columns; let i = index"
            [style.height.px]="height"
            nav-hr-item
            (ngInit)="onColAdd($event, navigation)"
        >
            <ul class="new-btn-ul" *ngIf="i !== 0">
                <li class="new-btn">
                    <a
                        href="javascript:void(0)"
                        nav-vr-item
                        class="btn-link"
                        *ngIf="!isSearchingGroups || (isSearchingGroups && col.IsCreateNewBtnShowable)"
                        (click)="ShowAddNewForm(col)"
                        >{{ localeData?.create_new }}</a
                    >
                </li>
            </ul>
            <ng-container *ngIf="col.Items">
                <ul class="grp-list users-last-list">
                    <cdk-virtual-scroll-viewport
                        class="virtual-group-list overflow-x-hidden"
                        [itemSize]="37"
                        [minBufferPx]="400"
                        [maxBufferPx]="800"
                    >
                        <li
                            *cdkVirtualFor="let item of col.Items; let j = index"
                            class="list-item sidebarTooltip text-overflow-ellipsis"
                        >
                            <ng-container *ngIf="item.isGroup">
                                <a
                                    href="javascript:void(0);"
                                    id="subGrp_{{ item.name }}"
                                    nav-vr-item
                                    class="list-item"
                                    (click)="onGroupClick(item, i)"
                                    [ngClass]="{
                                        'isActive':
                                            ((activeGroupUniqueName$ | async) === item?.uniqueName ||
                                                (searchString &&
                                                    (i === mc.columns?.length - 1 ||
                                                        (i === mc.columns?.length - 2 &&
                                                            mc.columns[mc.columns?.length - 1] &&
                                                            (!mc.columns[mc.columns?.length - 1].Items ||
                                                                mc.columns[mc.columns?.length - 1].Items?.length ===
                                                                    0))) &&
                                                    j === 0)) &&
                                            !(activeAccount | async),
                                        'isParent': item?.isOpen
                                    }"
                                    tooltip="{{ item.synonyms }}"
                                    placement="bottom"
                                >
                                    {{ item?.name }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!item.isGroup">
                                <a
                                    href="javascript:void(0);"
                                    nav-vr-item
                                    class="list-item isAcc"
                                    [ngClass]="{
                                        'isActive':
                                            (activeAccount | async)?.uniqueName === item?.uniqueName ||
                                            (searchString &&
                                                i === mc.columns?.length - 1 &&
                                                j === 0 &&
                                                !(activeAccount | async)?.uniqueName)
                                    }"
                                    id="acc_{{ item.name }}"
                                    (click)="onAccountClick(item, i)"
                                >
                                    {{ item?.name }}
                                </a>
                            </ng-container>
                        </li>
                    </cdk-virtual-scroll-viewport>
                </ul>
            </ng-container>
        </div>
    </div>
</div>
