.list-item:focus,
.list-item:focus .list-item {
    color: var(--color-white) !important;
    background: var(--color-master-page-sidebar-active-list);
}

.virtual-group-list {
    height: 100%;
    min-height: 300px;
}

.text-overflow-ellipsis {
    .list-item {
        white-space: normal;
        word-break: break-all;
    }
}

@media (max-width: 1024px) {
    .virtual-group-list {
        display: table-cell;
    }

    .new-btn-ul {
        padding-bottom: 20px;
    }
}
