.list-item:focus,
.list-item:focus .list-item {
    color: #fff !important;
    background: #2d9ee0;
}
.virtual-group-list {
    height: 100%;
}


@media (max-width:1024px){
    .virtual-group-list {
        display: table-cell;
    }

   .new_btn_ul{
       padding-bottom:20px;
   }
    
}