.bulk-entry {
    .bulk-entry-body {
        .mdc-list-item__primary-text {
            color: var(--color-black) !important;
        }
        button {
            .icon-cross{
                color: var(--color-black) !important;
            }
        }
    }
}

body{
    &.dark-theme {
        .bulk-entry {
            .bulk-entry-body {
                .mdc-list-item__primary-text {
                    img {
                        filter: var(--filter-image-color-white)!important;
                    }
                }
            }
        }
    }
}