.custom-paginator {
    mat-button-toggle {
        background-color: var(--color-body-background) !important;
        .mat-button-toggle-label-content {
            line-height: 28px;
        }
        &.page-count-wrapper {
            max-width: fit-content;
            min-width: 45px;
        }
        &.mat-button-toggle-disabled {
            color: var(--color-common-primary-disabled) !important;
        }
    }
}