.mat-mdc-standard-chip {
    --mdc-chip-label-text-color: var(--color-black) !important;
}

.mat-mdc-outlined-button {
    &.mat-unthemed {
        --mdc-outlined-button-label-text-color: var(--color-black) !important;
    }

    &.mat-primary {
        --mdc-outlined-button-label-text-color: var(--color-blue-primary) !important;
    }
}