.create-recipe {
    &-wrapper {
        padding: 0 15px;

        .width-280 {
            display: block;
            width: 280px;
        }

        .edit-btn {
            width: 30px !important;
            height: 30px !important;
            line-height: 0px !important;
            font-size: 22px;

            .icon-add {
                color: var(--color-common-senary-text);
            }
            .icon-cross {
                color: var(--color-gst-primary-doc-actions);
            }
        }

        hr {
            margin-left: -15px;
        }
    }
}
