<ng-container
    appTranslate
    [file]="'inventory/manufacturing'"
    (commonLocaleData)="commonLocaleData = $event"
    (localeData)="localeData = $event"
>
    <div class="pd-l15 pt-3">
        <div *ngIf="newVariants?.length" class="save-recipe">{{ localeData?.save_variants }}</div>
    </div>
    <section class="create-recipe">
        <div class="recipe-wrapper">
            <!-- <div class="row">
                <div class="col-3 mt-2">
                    <div>
                        <dropdown-field
                            class="width-280"
                            [name]="''"
                            [placeholder]="'Select Stock'"
                            [options]="stock"
                            [defaultValue]=""
                        >
                        </dropdown-field>
                    </div>
                </div>
            </div> -->
            <ng-container *ngFor="let recipe of recipeObject.manufacturingDetails; let i = index">
                <div class="row py-4 manufacturing-border" *ngIf="recipe.isEdit">
                    <div class="col-3">
                        <div class="row">
                            <div class="form-fields w-100">
                                <div class="d-flex flex-column flex-wrap w-100 row-gap">
                                    <h1 class="section-head pb-2 w-100">{{ localeData?.finished_stock }}</h1>
                                    <div *ngIf="stock?.variants?.length > 1" class="w-100">
                                        <dropdown-field
                                            class="width-280"
                                            [name]="'variant_' + i"
                                            [scrollableElementId]="'variant_' + i"
                                            [placeholder]="localeData?.select_output_variant"
                                            [options]="variantsList"
                                            [defaultValue]="recipe.variant?.name"
                                            (selectedOption)="
                                                recipe.variant.name = $event.label;
                                                recipe.variant.uniqueName = $event.value;
                                                checkIfVariantIsAlreadyUsed(recipe, $event, i)
                                            "
                                        >
                                        </dropdown-field>
                                    </div>
                                    <div class="w-100">
                                        <input-field
                                            class="width-280"
                                            [type]="'number'"
                                            [name]="'quantity_' + i"
                                            [placeholder]="localeData?.enter_output_quantity"
                                            [(ngModel)]="recipe.manufacturingQuantity"
                                        ></input-field>
                                    </div>
                                    <div class="w-100">
                                        <dropdown-field
                                            [name]="'unit_' + i"
                                            [scrollableElementId]="'unit_' + i"
                                            [placeholder]="localeData?.select_output_stock_unit"
                                            [options]="recipe.units"
                                            [defaultValue]="recipe.manufacturingUnitCode"
                                            (selectedOption)="
                                                recipe.manufacturingUnitCode = $event.label;
                                                recipe.manufacturingUnitUniqueName = $event.value
                                            "
                                        >
                                        </dropdown-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-center">
                        <span class="less-than-text"> <i class="icon-left"></i></span>
                    </div>
                    <div class="col-8 pr-0">
                        <div class="row">
                            <mat-accordion multi>
                                <mat-expansion-panel [expanded]="isByLinkedStockExpanded">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="p-0">
                                            {{ localeData?.raw_stock }}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="consumption-details-wrapper w-100 pd-r1 pd-l1">
                                        <div class="mt-2">
                                            <table class="table-raw-stock">
                                                <thead>
                                                    <tr>
                                                        <th>{{ commonLocaleData?.app_name }}</th>
                                                        <th>{{ commonLocaleData?.app_variant }}</th>
                                                        <th>{{ commonLocaleData?.app_quantity }}</th>
                                                        <th>{{ commonLocaleData?.app_unit }}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let linkedStock of recipe.linkedStocks; let j = index">
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'stock_' + i + '_' + j"
                                                                    [scrollableElementId]="'stock_' + i + '_' + j"
                                                                    [placeholder]="commonLocaleData?.app_select_stock"
                                                                    [options]="linkedStock.stocks"
                                                                    (selectedOption)="
                                                                        linkedStock.stockName = $event.label;
                                                                        linkedStock.stockUniqueName = $event.value;
                                                                        getStockVariants(linkedStock, $event);
                                                                        getStockUnits(
                                                                            linkedStock,
                                                                            $event.additional?.stockUnitUniqueName,
                                                                            false
                                                                        )
                                                                    "
                                                                    [defaultValue]="linkedStock.stockName"
                                                                    [enableDynamicSearch]="true"
                                                                    [isPaginationEnabled]="true"
                                                                    (dynamicSearchedQuery)="
                                                                        getStocks(linkedStock, 1, $event)
                                                                    "
                                                                    (scrollEnd)="stockScrollEnd(linkedStock)"
                                                                    [allowValueReset]="true"
                                                                    (onClear)="
                                                                        linkedStock.stockName = '';
                                                                        linkedStock.stockUniqueName = '';
                                                                        linkedStock.stocksQ = '';
                                                                        getStocks(linkedStock, 1, '')
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'variant_' + i + '_' + j"
                                                                    [scrollableElementId]="'variant' + i + '_' + j"
                                                                    [placeholder]="commonLocaleData?.app_select_variant"
                                                                    [options]="linkedStock.variants"
                                                                    [defaultValue]="linkedStock.variant?.name"
                                                                    (selectedOption)="
                                                                        linkedStock.variant.name = $event.label;
                                                                        linkedStock.variant.uniqueName = $event.value
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <text-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    class="text-right"
                                                                    [type]="'number'"
                                                                    [name]="'quantity_' + i + '_' + j"
                                                                    [placeholder]="localeData?.enter_quantity"
                                                                    [(ngModel)]="linkedStock.quantity"
                                                                ></text-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'unit_' + i + '_' + j"
                                                                    [scrollableElementId]="'unit_' + i + '_' + j"
                                                                    [placeholder]="localeData?.select_stock_unit"
                                                                    [options]="linkedStock.units"
                                                                    [defaultValue]="linkedStock.stockUnitCode"
                                                                    (selectedOption)="
                                                                        linkedStock.stockUnitCode = $event.label;
                                                                        linkedStock.stockUnitUniqueName = $event.value
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="javascript:void(0);"
                                                                class="d-flex justify-content-between align-item-center table-row-delete"
                                                                *ngIf="recipe.linkedStocks?.length > 1"
                                                                (click)="removeLinkedStock(i, j)"
                                                                aria-label="delete icon"
                                                            >
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="mt-2 mb-3 pd-r1 pd-l1">
                                                <a
                                                    href="javascript:void(0);"
                                                    (click)="addNewLinkedStockInRecipe(recipe)"
                                                    aria-label="stock"
                                                >
                                                    {{ localeData?.add_stock }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel [expanded]="isByProductExpanded">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="p-0"
                                            >{{ commonLocaleData?.app_by_product_output }}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="consumption-details-wrapper w-100 pd-r1 pd-l1">
                                        <div class="mt-2">
                                            <table class="table-raw-stock">
                                                <thead>
                                                    <tr>
                                                        <th>{{ commonLocaleData?.app_name }}</th>
                                                        <th>{{ commonLocaleData?.app_variant }}</th>
                                                        <th>{{ commonLocaleData?.app_quantity }}</th>
                                                        <th>{{ commonLocaleData?.app_unit }}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="
                                                            let byProductLinkedStock of recipe.byProducts;
                                                            let k = index
                                                        "
                                                    >
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'byProductStock_' + i + '_' + k"
                                                                    [scrollableElementId]="
                                                                        'byProductStock_' + i + '_' + k
                                                                    "
                                                                    [placeholder]="commonLocaleData?.app_select_stock"
                                                                    [options]="byProductLinkedStock.stocks"
                                                                    (selectedOption)="
                                                                        byProductLinkedStock.stockName = $event.label;
                                                                        byProductLinkedStock.stockUniqueName =
                                                                            $event.value;
                                                                        getStockVariants(byProductLinkedStock, $event);
                                                                        getStockUnits(
                                                                            byProductLinkedStock,
                                                                            $event.additional?.stockUnitUniqueName,
                                                                            false
                                                                        )
                                                                    "
                                                                    [defaultValue]="byProductLinkedStock.stockName"
                                                                    [enableDynamicSearch]="true"
                                                                    [isPaginationEnabled]="true"
                                                                    (dynamicSearchedQuery)="
                                                                        getAllStocks(byProductLinkedStock, 1, $event)
                                                                    "
                                                                    (scrollEnd)="
                                                                        byProductStockScrollEnd(byProductLinkedStock)
                                                                    "
                                                                    [allowValueReset]="true"
                                                                    (onClear)="
                                                                        byProductLinkedStock.stockName = '';
                                                                        byProductLinkedStock.stockUniqueName = '';
                                                                        byProductLinkedStock.stocksQ = '';
                                                                        getAllStocks(byProductLinkedStock, 1, '')
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'byProductVariant_' + i + '_' + k"
                                                                    [scrollableElementId]="
                                                                        'byProductVariant' + i + '_' + k
                                                                    "
                                                                    [placeholder]="commonLocaleData?.app_select_variant"
                                                                    [options]="byProductLinkedStock.variants"
                                                                    [defaultValue]="byProductLinkedStock.variant?.name"
                                                                    (selectedOption)="
                                                                        byProductLinkedStock.variant.name =
                                                                            $event.label;
                                                                        byProductLinkedStock.variant.uniqueName =
                                                                            $event.value
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <text-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    class="text-right"
                                                                    [type]="'number'"
                                                                    [name]="'byProductQuantity_' + i + '_' + k"
                                                                    [placeholder]="localeData?.enter_quantity"
                                                                    [(ngModel)]="byProductLinkedStock.quantity"
                                                                ></text-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="'form-control mat-field-border'"
                                                                    [name]="'byProductUnit_' + i + '_' + k"
                                                                    [scrollableElementId]="
                                                                        'byProductIUnit_' + i + '_' + k
                                                                    "
                                                                    [placeholder]="localeData?.select_stock_unit"
                                                                    [options]="byProductLinkedStock.units"
                                                                    [defaultValue]="byProductLinkedStock.stockUnitCode"
                                                                    (selectedOption)="
                                                                        byProductLinkedStock.stockUnitCode =
                                                                            $event.label;
                                                                        byProductLinkedStock.stockUnitUniqueName =
                                                                            $event.value
                                                                    "
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="javascript:void(0);"
                                                                class="d-flex justify-content-between align-item-center table-row-delete"
                                                                (click)="removeByProductLinkedStock(i, k)"
                                                                aria-label="delete icon"
                                                            >
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="mt-2 mb-2 pd-r1 pd-l1">
                                                <a
                                                    href="javascript:void(0);"
                                                    (click)="addNewByProductLinkedStockInRecipe(recipe)"
                                                    aria-label="add stock"
                                                >
                                                    {{ localeData?.add_stock }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="col-12 mr-t15" *ngIf="recipe.isEdit">
                        <button mat-stroked-button class="mb-2" (click)="recipe.isEdit = false" aria-label="done">
                            {{ commonLocaleData?.app_done }}
                        </button>
                    </div>
                </div>
                <div class="manufacturing-border view-mode" *ngIf="!recipe.isEdit">
                    <div class="row pb-4 align-items-baseline position-relative">
                        <div class="col-2">
                            <div class="row">
                                <div class="form-fields w-100">
                                    <div class="d-flex flex-column flex-wrap w-100">
                                        <h1 class="section-head p-0" *ngIf="i === 0">
                                            {{ localeData?.finished_stock }}
                                        </h1>
                                        <div class="variant-view fix-arrow">
                                            <p>{{ recipe?.variant?.name }}</p>
                                        </div>
                                        <div class="d-flex">
                                            <p class="mr-3">
                                                {{ recipe?.manufacturingQuantity }} ({{
                                                    recipe?.manufacturingUnitCode
                                                }})
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center"></div>
                        <div class="col-3 pr-0">
                            <div class="row">
                                <div class="consumption-details-wrapper w-100 pd-r1 pd-l1">
                                    <h1 class="section-head" *ngIf="i === 0">{{ localeData?.raw_stock }}</h1>
                                    <div class="d-flex align-items-baseline">
                                        <table class="table-filled view-mode-table table-raw-stock">
                                            <tbody>
                                                <tr *ngFor="let linkedStock of recipe.linkedStocks; let j = index">
                                                    <td>
                                                        <div>
                                                            <p>{{ linkedStock.stockName }}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <p>{{ linkedStock.variant?.name }}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <p>
                                                                {{ linkedStock.quantity }} ({{
                                                                    linkedStock.stockUnitCode
                                                                }})
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pr-0">
                            <div class="row">
                                <div class="consumption-details-wrapper w-100 pd-r1 pd-l1">
                                    <h1 class="section-head" *ngIf="i == 0">
                                        {{ commonLocaleData?.app_by_product_output }}
                                    </h1>
                                    <div class="d-flex align-items-baseline">
                                        <table class="table-filled view-mode-table table-raw-stock">
                                            <tbody>
                                                <tr *ngFor="let linkedStock of recipe.byProducts; let j = index">
                                                    <td>
                                                        <div>
                                                            <p>{{ linkedStock.stockName }}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <p>{{ linkedStock.variant?.name }}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <p>
                                                                {{ linkedStock.quantity }} ({{
                                                                    linkedStock.stockUnitCode
                                                                }})
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex">
                                            <a
                                                href="javascript:void(0);"
                                                class="icon-remove"
                                                (click)="recipe.isEdit = true"
                                                [matTooltip]="commonLocaleData?.app_edit"
                                                matTooltipPosition="above"
                                                aria-label="edit"
                                            >
                                                <i class="icon-edit-pencil"></i>
                                            </a>
                                            <a
                                                href="javascript:void(0);"
                                                class="icon-remove"
                                                [matTooltip]="commonLocaleData?.app_delete"
                                                matTooltipPosition="left"
                                                (click)="removeRecipe(i)"
                                                aria-label="delete icon"
                                            >
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row mt-2 add-recipe" *ngIf="recipeObject.manufacturingDetails?.length < variantsList?.length">
                <button mat-button class="mb-2 ml-2" color="primary" (click)="addNewRecipe()" aria-label="add recipe">
                    <span>+</span> {{ localeData?.add_recipe }}
                </button>
            </div>
        </div>
    </section>

    <!-- view-mode -->
    <!-- <section class="create-recipe">
        <div class="recipe-wrapper">
            <div class="row">
                <div class="col-3 pb-3">
                    <div>
                        <p>Stock</p>
                    </div>
                </div>
            </div>

        </div>
    </section> -->
</ng-container>
