/**
* author <sarfaraz@walkover.in>
* aside pane styles
*/

.aside-pane {
    background-color: #f4f5f8;
    position: relative;
    z-index: 5;
    height: 100vh;
    color: #000000;
    overflow: auto;
}
.aside-pane {
    max-width: 760px;
    width: 100%;
}
.aside-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: #000000;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.aside-body {
    padding: 0 15px;
}
@media (max-width: 768px) {
    .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    .aside-pane {
        max-width: 280px;
    }
}
