$dark-blue:#171F48;
$dark-blue00:#1A237E;
$dark-blue01:#313A97;
$light-blue:#4B5196;
$light-blue01:#5D64AF;
$light-blue02:#868EE0;
$light-blue03: #BAC0FA;
$light-purple:#EBEDFF;
$border-blue:#5B64C9;
$border-blueDark:#000962;
$yellow:#FECD51;
$darkGray:#3A3E5C;
$lightGray:#E6E7E8;
$BtnpinkColor:#F85C88;
$BtnHoverpinkColor:#D93664;
$iconColorTh:#757BB9;


/* new color css */
$top_header: #1A237E;
$sidebarHeading: #1A237E;
$headerBtnColor : #47509D;

$primaryBtncolror: #01A9F4;
$menuHoverColor: #E6E7F1;
$inputBorderColor: #D1D1D1;
$activeTabBorder:#01A9F4;
$iconColor:#999999;
$pageTitleColor:#1A237E;
