$dark-blue: #171F48;
$dark-blue00: #1A237E;
$dark-blue01: #313A97;
$light-blue: #4B5196;
$light-blue01: #5D64AF;
$light-blue02: #868EE0;
$light-blue03: #BAC0FA;
$light-purple: #EBEDFF;

$border-blueDark: #000962;

$darkGray: #3A3E5C;
$lightGray: #E6E7E8;
$BtnpinkColor: #F85C88;
$BtnHoverpinkColor: #D93664;


/* new color css */
$top_header: #1A237E;
$sidebarHeading: #1A237E;
$headerBtnColor: #47509D;

$primaryBtncolror: #01A9F4;
$primaryBtnHovercolror: #019ce1;
$menuHoverColor: #E6E7F1;
$inputBorderColor: #D9D9D9;
$tableBorderColor: #D9D9D9;
$activeTabBorder: #01A9F4;
$iconColor: #999999;
$pageTitleColor: #1A237E;
$iconColorTh: #757BB9;
$activeIconTh: #01A9F4;
$border-blue: #5B64C9;
$btnLink: #01A9F4;
$btn-light-gray: #EDEEF9;


$lightTextBlue: #5B64C9;


