$dark-blue: #171f48;
$dark-blue00: #1a237e;

$light-blue: #4b5196;
$light-blue01: #5d64af;
$light-blue02: #868ee0;
$light-blue03: #bac0fa;
$light-purple: #ebedff;

$border-blueDark: #000962;

$darkGray: #3a3e5c;
$lightGray: #e6e7e8;
$BtnpinkColor: #f85c88;
$BtnHoverpinkColor: #d93664;

/* new color css */
$top_header: #1a237e;
$sidebarHeading: #1a237e;
$headerBtnColor: #47509d;

$primaryBtncolror: #01a9f4;
$primaryBtnHovercolror: #019ce1;
$menuHoverColor: #e6e7f1;
$inputBorderColor: #d9d9d9;
$tableBorderColor: #d9d9d9;
$activeTabBorder: #01a9f4;
$iconColor: #999999;
$pageTitleColor: #1a237e;
$iconColorTh: #757bb9;
$activeIconTh: #01a9f4;
$border-blue: #5b64c9;
$btnLink: #01a9f4;
$btn-light-gray: #edeef9;
$JacksonsPurple: #313a97;
$lightTextBlue: #5b64c9;
