/* new color css */
// $midnight-express: #171f48;
// $portage: #868ee0;
// $portage: #7d87e445;
// $lavender-light: #ebedff;
// $navy: #000962;
// $bay-of-many: #3a3e5c;
// $governor-bay: #4b5196;
// $governor-bay-dark: #47509d;
// $rich-blue: #5d64af;
// $wild-blue-yonder: #757bb9;
// $jacksons-purple: #313a97;
// $chetwode-blue: #5b64c9;
// $white: #ffffff;
// $whisper: #e4e4e4;
// $whisper-color: #eaeaea;
// $whisper-light: #eeeeee;
// $green: #3c763f;
// $very-light-gray: #cccccc;
// $midnight-blue: #1a237e;
// $midnight-blue-hover: #040858;
// $cerulean: #0d83b3;
// $corn-flower-blue: #5092f3;
// $dark-midnight-blue: #040a58;
// $white-smoke: #f2f2f2;
// $lavender: #eeeff9;
// $deep-sky-blue: #01a9f4;
// $deep-sky-blue-hover: #019ce1;
// $nobel: #999999;
// $gainsboro: #d9d9d9;
// $gainsboro-light: #dddddd;
// $gray: #808080;
// $red: #ff0000;
// $dark-gray: #666666;
// $dim-gray: #a9a9a9;
// $nero: #1c1c1c;
// $bitter-sweet: #ff6262;
// $alice-blue: #f5f8f9;
// $primary: #2680eb;
// $teal: #087e7d;
// $light-sea-green: #0cb1af;
// $brink-pink: #f85c88;
// $black-russian: #00000026;
// $light-black-russian: #0000001a;
// $cornflower-blue: #4693f1;
// $grandis: #fed46a;
// $alice-blue-light: #f7f8fa;
// $wistful: #afaaaa;
// $speech-blue: #3f51b5;
// $scarlet: #e51f0c;
// $moody-blue: #8e8383bf;
// $hawkes-blue: #c6dafc;
// $light-green: #33bb0c;
// $success-green: #2fab4a;
// $success-green-disable: #81d4d4;
// $light-sky-blue: #91d8f7;
// $orange: #ffa500;
// $cinnabar-orange: #df4927;
// $light-gray: #d6d6d6;
// $zambezi: #595959;
// $night-rider: #333333;
// $matterhorn: #4d4d4d;
// $opium: #988c8c;
// $black: #000000;
// $silver: #bcbcbc;
// $eastern-blue: #11919b;
// $davy-grey: #555555;
// $charcoal: #484848;
// $olive: #8080808c;
// $solitude: #f4f5f8;
// $gray-95: #f5f5f5;
// $vivid-blue: #2d9ee0;
// $quartz: #d5d8fcfa;
// $fog: #d2cde6;
// $pink-swan: #b4afaf;
// $muzli: #2d3b4b;
// $jade-color: #00b177;
// $curious-blue: #428bca;
// $faux-true: #005bd0;
// $navy-blue: #025cff;
// $bright-green: #39c296;
// $bright-pink: #f75398;
// $bright-yellow: #fa9c00;
// $light-purple: #b590ff;
// $faux-cadet-blue: #adb4c3;
// $hint-of-cyan: #19c2d0;
// $skin-tone: #ffceb1;
// $grayish-blue: #7889a1;
// $deep-pink: #950069;
// $dark-magenta: #542852;
// $burgundy: #82001d;
// $dull-pink: #6b1438;
// $sherpa-blue: #004254;
// $atlantis: #96bc2d;
// $cloud-burst: #202e5a;
// $bud-green: #79bd58;
// $deep-green-cyan: #125446;
// $granny-apple: #c9e6ca;
// $chablis: #ffece094;
// $valhalla: #2c2c43;
// $medium-spring-blue: #11b1e5;
// $light-maroon: #de4d3c;
// $medium-black-cyan: #0e78aa;
// $russian-black: #0f0f27;
// $pale-rose: #ebccd1;
// $floral-white: #fff8eb;
// $cactus: #587058;
// $bus-yellow: #ffd800;
// $cornflower-blue-dark: #6495ed;
// $flamingo: #e86850;
// $vivid-orange: #ffa500;
// $violet-red: #f85c88;
// $java: #27a264;
// $behr-french: #d5c8b6;
// $light-yellow: #fdba2c;
// $blue-grey: #dee2e6;

/* new color for new inventory dashboard*/
// $chardon: #ffeee2;
// $foam: #cafcf4;
// $blue-romance: #dafad0;
// $amour: #ffe6ed;
// $inventory-solitude: #e2eeff;
// $onahau: #caf2fc;
// $linen: #fff3e8;
// $tutu: #ffe5e5;
// $denim: #2c6ebd;
// $lavender-blue: #bdc3ff;
// $medium-gray: #ebeef0;

/* new design colors */
// $black-pearl: #212528;
// $trout: #494d50;
// $solitude-new: #eceef0;
// $solitude-light: #ebf1ff;
// $cornflower: #668cff;
// $grey-chateau: #999da0;
// $persian-blue: #2831b2;
// $link-water: #cbcfda;
// $cascade: #999d9c;

// $omiod: #6a6c85;
// $fog-green: #edfaf5;
// $light-orange: #ffe8c6;
// $dull-yellow: #ec8f02;
// $pale-blue: #e7edf7;
// $light-red: #ffedef;
// $faux-cornflower-blue: #668cff;
// $light-alice-blue: #f0f5ff;

// $dark-fog: #e7e9eb;
// $dark-alice-blue: #f2f7ff;
// $sunshine: #fff9eb;
// $orange-new: #e58a00;
// $comet: #61626b;
// $dark-orange: #f37d20;
// $tree-green: #36b383;
// $cornflower-blue-light: #668cff52;
// $red-toast: #e55b5b;
// $green-toast: #51a351;
// $warning-toast: #f89406;
// $info-toast: #2f96b4;
// $warning: #ffc107;

// Dark Theme
// $black-pearl-dark-theme: #1a2228;
// $bay-leaf: #78af8f;
// $bunker: #1d2229;
// $licorice: #303843;
// $link-water-dark-theme: #cbcfd2;
// $default-border-bottom: #cbcfd2;
// $cloud: #cbcfd2;
// $skeleton-loading-gradient: #d9d9d9;
// $dark-gray-new: #a9a9a9;
// $slate: #6a6c85;

// New Color Replacing not available yet
// $skeleton-loading-gradient-bg: #e2e2e2;
// $skeleton-loading-linear: #d5d5d5;
// $skeleton-loading-gradient-inner: #f0f0f0;
// $lighted-gray: #88899d;
// $cream-orange: #fff0d9;
