body{
    --font-size-9 : 9px;
    --font-size-12 : 12px;
    --font-size-14 : 14px;
    --font-size-15 : 15px;
    --font-size-16 : 16px;
    --font-size-24 : 24px;
    --font-size-32 : 32px;
    --font-size-48 : 48px;
}