body{
    --font-size-9 : 9px;    /* Used at     0     place in     0    file ===========Final===========*/   

    --font-size-12 : 12px;  /* Used at     0   place in       0    file ===========Final===========*/

    --font-size-14 : 14px;  /* Used at     0   place in       0    file ===========Final===========*/

    --font-size-18 : 18px;  /* Used at     0   place in       0    file ===========Final===========*/

    --font-size-24 : 24px;  /* Used at     0    place in      0    files ===========Final===========*/

    --font-size-32 : 32px;  /* Used at     0     place in     0    files ===========Final===========*/

    --font-size-48 : 48px;  /* Used at     0     place in     0    files ===========Final===========*/
}