.drp-calendar {
    float: left;
    max-width: 270px;
    margin: 4px;
    margin-right: 0;
    td {
        min-width: 32px;
        padding: 6px !important;
    }
}
.daterangepicker .calendar-table {
    padding-right: 12px;
}
.daterangepicker {
    box-shadow: 0 3px 28px 0 var(--color-primary-common-box-shadow);
    color: var(--color-abbey);
    border: 1px solid var(--color-iron);
    z-index: 999 !important;
}
.drp-selected {
    display: none;
}
.daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--color-common-secondary-border);
    border-left: 6px solid transparent;
    position: absolute;
    display: inline-block;
    content: "";
    left: 10px;
}
.show-ranges,
.auto-apply {
    display: none;
}
.auto-apply {
    .drp-buttons {
        display: none;
    }
}
.show-ranges .drp-buttons {
    clear: both;
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: row-reverse;
}
.daterangepicker.ltr .ranges {
    padding-bottom: 36px;
}
.applyBtn {
    background: var(--color-teal) !important;
    color: var(--color-white) !important;
    border: 1px solid var(--color-common-secondary-border) !important;
}
.daterangepicker th.month {
    color: var(--color-gray);
}
.daterangepicker th {
    color: var(--color-abbey);
}
th.prev.available span {
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--color-common-secondary-border);
    display: flex;
    border-bottom: 2px solid var(--color-common-secondary-border);
    transform: rotate(45deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
th.next.available span {
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--color-common-secondary-border);
    display: flex;
    border-bottom: 2px solid var(--color-common-secondary-border);
    transform: rotate(225deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}
#date-range-picker-parent .daterangepicker {
    width: auto !important;
    max-width: 100%;
}
@media (max-width: 991px) {
    .drp-calendar.left {
        clear: left;
    }
    .show-ranges .drp-buttons {
        position: static;
    }
}
@media (max-width: 767px) {
    .drp-buttons {
        position: static;
    }
}
