.giddh-table {
    background: var(--color-white);
    font-family: var(--font-semibold);
    border: 1px solid var(--color-iron);
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 0;

    thead > tr > td,
    thead > tr > th {
        vertical-align: middle;
        font-size: 14px;
        border-left: none;
        border-right: none;
        background: var(--color-table-heading-primary-background);
        padding: 15px 11px;
        border-bottom: 1px solid var(--color-iron);
        font-family: var(--font-semibold);
    }
    thead > tr > th {
        border-top: none;
        white-space: nowrap;
        color: var(--color-table-secondary-heading) !important;
        position: sticky !important;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid var(--color-table-primary-header-bar-border) !important;
        background-color: var(--color-table-heading-primary-background);
        .d-flex {
            align-items: center;
        }
        .icon-pointer {
            margin-left: 0px;
            cursor: pointer;
        }
    }
    thead > .register-table-th > th {
        color: var(--color-nero) !important;
        border-bottom: none !important;
        background: var(--color-table-primary-giddh-table-thead-register-table-th-background);
        font-size: 16px;
    }
    thead > .register-sales-purchase > th {
        top: 54px !important;
    }

    thead > tr > th.td-search-box {
        min-width: 190px !important;
    }
    tbody > tr > td {
        font-weight: 400;
        padding: 14px 10px;
        text-transform: capitalize;
        border-right: none;
        vertical-align: middle !important;
        font-size: 14px;
        word-break: break-word;
        border-left: none;
        border-right: none;
        font-family: var(--font-regular);
        border-bottom: none !important;
        white-space: nowrap !important;
        color: var(--color-table-quaternary-content);
        border-top: 1px solid var(--color-table-primary-content-bar-border) !important;
        background-color: var(--color-table-body-primary-background) !important;
        &.text-break {
            white-space: normal !important;
        }
    }
    tbody > tr > td:first-child {
        color: var(--color-table-tertiary-content);
    }
    thead > tr > th:first-child,
    tbody > tr > td:first-child {
        border-left: none;
        white-space: normal !important;
        word-break: inherit;
    }
    tbody > tr > td.no-wrap {
        white-space: nowrap !important;
    }
    thead > tr > th:last-child,
    tbody > tr > td:last-child {
        border-right: none;
    }
    tfoot > tr > td {
        vertical-align: middle !important;
        font-size: 14px;
        word-break: break-word;
        white-space: nowrap;
    }
    tbody tr:hover td {
        background: var(--color-table-row-hover-primary-background) !important;
    }
    tbody tr:last-child td {
        border-bottom: 1px solid var(--color-table-primary-content-bar-border) !important;
    }
    tbody tr:last-child .status-mobile {
        border-bottom: none !important;
    }
    tbody tr:first-child .status-mobile {
        border-top: none !important;
    }
    .icon-sort-asc {
        color: var(--color-table-icon-sort-asc);
        font-size: 16px !important;
    }
    .icon-pointer .active-text-color {
        color: var(--color-blue);
        opacity: 1;
    }
    .td-search-box {
        padding: 0px !important;
        position: relative;

        div {
            display: flex;
            span {
                padding: 8px 0 8px 0px;
            }
        }
        div i {
            margin-top: 1px;
            color: var(--color-giddh-blue);
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 8px;
        }
        .input-container input {
            height: 36px;
            min-width: 100%;
            padding: 11px;
            padding-right: 40px;
            color: var(--color-nero);
            border: none;
            background-color: var(--color-table-searchbar-background) !important;
            border-radius: 5px;
        }
    }
}

/* responsive */

@media (max-width: 768px) {
    .giddh-table {
        thead > tr > th:first-child,
        tbody > tr > td:first-child {
            border-left: none;
        }
        thead > tr > th:last-child,
        tbody > tr > td:last-child {
            border-right: none;
        }
        tbody > tr:hover td {
            background: transparent;
        }
        tbody tr:last-child td {
            border-bottom: 0px solid !important;
        }
    }
    /*card responsive code*/
    .on-mobile-view {
        display: block;
        .table-bordered > tfoot > tr > td {
            border: none;
        }
        .table-bordered {
            border: none;
            background: transparent;
            margin-top: 0;
        }
    }
    table.on-mobile-view {
        background: transparent;
        margin-bottom: 0;
        width: 100%;
        display: block;
        thead {
            display: none;
            th {
                display: none;
            }
        }
        tbody {
            display: block;
            width: 100%;
        }
        tbody td::first-letter {
            text-transform: uppercase;
        }
        tbody > tr:hover td {
            background: transparent;
        }
        tbody tr {
            box-shadow: 0 0px 5px var(--color-primary-common-box-shadow);
            background: var(--color-white);
            border-bottom: none;
            cursor: pointer;
            display: block;
            padding: 5px 0 10px 0px;
            margin: 10px auto 22px;
            width: 100%;
            max-width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }

        tbody > tr > td {
            border: 0 !important;
            display: block;
            padding: 5px 10px 5px 50% !important;
            position: relative;
            text-align: left !important;
            height: auto !important;
            min-height: 30px !important;
            word-wrap: inherit !important;
            max-width: 100%;
            white-space: inherit;
            font-size: 14px !important;
            margin-bottom: 14px;
            width: 100%;
            &:last-child {
                border-right: none !important;
            }
        }

        tbody td:after {
            content: "";
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
        }
        tbody td:before {
            color: var(--color-slate);
            font-size: 14px;
            content: attr(data-title);
            display: table-cell;
            font-weight: 500;
            height: 100%;
            left: 15px;
            margin: auto;
            position: absolute;
            vertical-align: middle;
            white-space: nowrap;
            width: 40%;
            text-align: left;
            white-space: normal !important;
            word-break: inherit;
        }

        tbody > tr > .td-mobile-head {
            margin-bottom: 0px !important;
        }

        tbody .td-mobile-head:before {
            color: var(--color-nero) !important;
            font-weight: 600 !important;
        }

        tbody tr td.no-entries {
            padding: 20px 0 0 !important;
            border-top: none !important;
            text-align: center !important;
            &:before,
            &:after {
                display: none;
            }
        }
    }
    .no-records.on-mobile-view {
        td:before {
            display: none !important;
        }
        td {
            text-align: center !important;
            padding: 5px 10px 5px 0% !important;
        }
        td.empty-table {
            border-right: none !important;
        }
    }
}

@media (max-width: 320px) {
    .on-mobile-view {
        tbody td {
            padding: 5px 10px 5px 53% !important;
        }
    }
}
