.giddh-table {
    background: #fff;
    font-family: "opensans-semibold";
    border: 1px solid $gainsboro;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 0;

    thead > tr > td,
    thead > tr > th {
        vertical-align: middle;
        font-size: 14px;
        border-left: none;
        border-right: none;
        background: #fff;
        padding: 15px 11px;
        border-bottom: 1px solid $gainsboro;
        font-family: "opensans-semibold";
    }
    thead > tr > th {
        border-top: none;
        white-space: nowrap;
        color: $midnight-blue !important;
        position: sticky !important;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid $link-water !important;
        .d-flex {
            align-items: center;
        }
        .icon-pointer {
            margin-left: 0px;
            cursor: pointer;
        }
    }
    thead > .register-table-th > th {
        color: $black !important;
        border-bottom: none !important;
        background: $light-orange;
        font-size: 16px;
    }
    thead > .register-sales-purchase > th {
        top: 54px !important;
    }

    thead > tr > th.td-search-box {
        min-width: 190px !important;
    }
    tbody > tr > td {
        font-weight: 400;
        padding: 14px 10px;
        text-transform: capitalize;
        border-right: none;
        vertical-align: middle !important;
        font-size: 14px;
        word-break: break-word;
        border-left: none;
        border-right: none;
        font-family: "opensans-regular";
        border-bottom: none !important;
        white-space: nowrap !important;
        color: $omiod;
        border-top: 1px solid $dark-fog !important;
        &.text-break {
            white-space: normal !important;
        }
    }
    tbody > tr > td:first-child {
        color: $black-pearl;
    }
    thead > tr > th:first-child,
    tbody > tr > td:first-child {
        border-left: none;
        white-space: normal !important;
        word-break: inherit;
    }
    tbody > tr > td.no-wrap {
        white-space: nowrap !important;
    }
    thead > tr > th:last-child,
    tbody > tr > td:last-child {
        border-right: none;
    }
    tfoot > tr > td {
        vertical-align: middle !important;
        font-size: 14px;
        word-break: break-word;
        white-space: nowrap;
    }
    tbody tr:hover td {
        background: $light-alice-blue;
    }
    tbody tr:last-child td {
        border-bottom: 1px solid $gainsboro !important;
    }
    tbody tr:last-child .status-mobile {
        border-bottom: none !important;
    }
    tbody tr:first-child .status-mobile {
        border-top: none !important;
    }
    .icon-sort-asc {
        color: $omiod;
        font-size: 16px !important;
    }
    .icon-pointer .active-text-color {
        color: $deep-sky-blue;
        opacity: 1;
    }
    .td-search-box {
        padding: 0px !important;
        position: relative;

        div {
            display: flex;
            span {
                padding: 8px 0 8px 0px;
            }
        }
        div i {
            margin-top: 1px;
            color: $midnight-blue;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 8px;
        }
        .input-container input {
            height: 36px;
            min-width: 100%;
            padding: 11px;
            padding-right: 40px;
            color: $nero;
            border: none;
            background-color: $white-smoke;
        }
    }
}

/* responsive */

@media (max-width: 768px) {
    .giddh-table {
        thead > tr > th:first-child,
        tbody > tr > td:first-child {
            border-left: none;
        }
        thead > tr > th:last-child,
        tbody > tr > td:last-child {
            border-right: none;
        }
        tbody > tr:hover td {
            background: transparent;
        }
        tbody tr:last-child td {
            border-bottom: 0px solid !important;
        }
    }
    /*card responsive code*/
    .on-mobile-view {
        display: block;
        .table-bordered > tfoot > tr > td {
            border: none;
        }
        .table-bordered {
            border: none;
            background: transparent;
            margin-top: 0;
        }
    }
    table.on-mobile-view {
        background: transparent;
        margin-bottom: 0;
        width: 100%;
        display: block;
        thead {
            display: none;
            th {
                display: none;
            }
        }
        tbody {
            display: block;
            width: 100%;
        }
        tbody td::first-letter {
            text-transform: uppercase;
        }
        tbody > tr:hover td {
            background: transparent;
        }
        tbody tr {
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            background: #fff;
            border-bottom: none;
            cursor: pointer;
            display: block;
            padding: 5px 0 10px 0px;
            margin: 10px auto 22px;
            width: 100%;
            max-width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }

        tbody > tr > td {
            border: 0 !important;
            display: block;
            padding: 5px 10px 5px 50% !important;
            position: relative;
            text-align: left !important;
            height: auto !important;
            min-height: 30px !important;
            word-wrap: inherit !important;
            max-width: 100%;
            white-space: inherit;
            font-size: 14px !important;
            margin-bottom: 14px;
            width: 100%;
            &:last-child {
                border-right: none !important;
            }
        }

        tbody td:after {
            content: "";
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
        }
        tbody td:before {
            color: rgba(0, 0, 0, 0.55);
            font-size: 14px;
            content: attr(data-title);
            display: table-cell;
            font-weight: 500;
            height: 100%;
            left: 15px;
            margin: auto;
            position: absolute;
            vertical-align: middle;
            white-space: nowrap;
            width: 40%;
            text-align: left;
            white-space: normal !important;
            word-break: inherit;
        }

        tbody > tr > .td-mobile-head {
            margin-bottom: 0px !important;
        }

        tbody .td-mobile-head:before {
            color: $black !important;
            font-weight: 600 !important;
        }

        tbody tr td.no-entries {
            padding: 20px 0 0 !important;
            border-top: none !important;
            text-align: center !important;
            &:before,
            &:after {
                display: none;
            }
        }
    }
    .no-records.on-mobile-view {
        td:before {
            display: none !important;
        }
        td {
            text-align: center !important;
            padding: 5px 10px 5px 0% !important;
        }
        td.empty-table {
            border-right: none !important;
        }
    }
}

@media (max-width: 320px) {
    .on-mobile-view {
        tbody td {
            padding: 5px 10px 5px 53% !important;
        }
    }
}
