/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */
.toast-title {
    font-weight: bold;
}
.toast-message {
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #ffffff;
}
.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}
.toast-close-button {
    position: absolute;
    right: 17px;
    top: 6px;
    float: right;
    font-size: 25px;
    color: #ffffff;
    opacity: 1;
    font-weight: normal;
}
.toast-close-button:after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-color: rgba(256, 256, 256, 0.2);
    top: 5px;
    right: -6px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.toast-center-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 56px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
    display: flex;
    width: 100%;
    width: calc(100% - 50px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*overrides*/
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 13px 45px 13px 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 3px 6px #00000029;
    -webkit-box-shadow: 0 3px 6px #00000029;
    box-shadow: 0 3px 6px #00000029;
    color: #ffffff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    animation: none !important;
    white-space: normal;
    word-break: break-word;
    flex-basis: auto;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    min-width: 400px;
    width: 100%;
}
#toast-container .toast:hover {
    -moz-box-shadow: 0 0 12px #00000061;
    -webkit-box-shadow: 0 0 12px #00000061;
    box-shadow: 0 0 12px #00000061;
    opacity: 1;
    cursor: pointer;
}
#toast-container .toast.toast-info {
    background-image: url("../images/info-white.svg") !important;
    background-size: 24px;
    background-position: 12px 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
#toast-container .toast.toast-error {
    background-image: url("../images/failure.svg") !important;
    background-size: 24px;
    background-position: 12px 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#toast-container .toast.toast-success {
    background-image: url("../images/success.svg") !important;
    background-size: 24px;
    background-position: 12px 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#toast-container .toast.toast-warning {
    background-image: url("../images/exclamation-white.svg") !important;
    background-size: 24px;
    background-position: 12px 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#toast-container.toast-top-center .toast,
#toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#toast-container.toast-top-full-width .toast,
#toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.toast {
    background-color: #030303;
    pointer-events: auto;
    animation: none !important;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #e55b5b;
}

.toast-info {
    background-color: #2f96b4;
}
.toast-info .toast-title {
    color: #ffffff;
    font-size: 13px;
    margin-right: 10px;
}
.toast-warning {
    background-color: #f89406;
}
.toast-warning .toast-title {
    color: #ffffff;
    font-size: 13px;
    margin-right: 10px;
}
.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}
.toast-error .toast-title {
    font-size: 13px;
    margin-right: 10px;
    color: #ffffff;
}
.toast-success .toast-title {
    word-break: break-word;
    color: #ffffff;
    margin-right: 10px;
}
.toast-message {
    color: #ffffff;
    position: relative;
    top: -1px;
}
.toast-title {
    word-break: keep-all;
    margin-right: 5px;
}
/*Responsive Design*/
@media screen and (max-width: 767px) {
    #toast-container {
        width: 100%;
        max-width: 100%;
        right: 0;
    }
    #toast-container .toast {
        max-width: 100%;
        flex-direction: column;
        width: calc(100% - 20px);
        min-width: 450px;
    }
    .toast-title {
        max-width: 100%;
        min-width: 100%;
    }
}
@media all and (max-width: 240px) {
    #toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
    }
    .toast-title {
        font-size: 14px;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container .toast.div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}
@media all and (max-width: 480px) {
    #toast-container .toast-close-button {
        right: 10px !important;
    }
    #toast-container .toast {
        min-width: auto;
    }
}
