@font-face {
    font-family: "opensans-regular";
    font-display: swap;
    src: url("../fonts/open-sans/open-sans-regular/OpenSans-Regular.eot");
    src: url("../fonts/open-sans/open-sans-regular/OpenSans-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-regular/OpenSans-Regular.svg")
            format("svg"),
        url("../fonts/open-sans/open-sans-regular/OpenSans-Regular.woff")
            format("woff"),
        url("../fonts/open-sans/open-sans-regular/OpenSans-Regular.woff")
            format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*--- inter-font ---*/
@font-face {
    font-family: "inter-regular";
    font-display: swap;
    src: url("../fonts/interfont/Inter-Regular.ttf")
            format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html,
body{
    --font-regular: "inter-regular";
    --font-semibold: "inter-regular";
    --font-bold: "inter-regular";
}
