@import "../../../assets/css/color.scss";
.panel {
    box-shadow: none;

    .running {
        color: $deep-sky-blue-hover;
    }

    .panel-heading {
        background: $whisper;
    }

    .panel-footer {
        padding: 10px 15px;
        background-color: transparent;
    }

    .panel-body {
        color: $gray;
        background: transparent;
        padding: 15px 0px 0px 0px;

        .progress {
            box-shadow: none;
            height: 5px;
            margin-bottom: 0px;
            border: $gainsboro 1px solid;
        }

        .progress-bar {
            background: $silver;
            border: 1px solid $silver;
            box-shadow: none;
        }

        .list-group {
            margin-bottom: 0px;

            .list-group {
                margin-top: 0px;
                padding-left: 30px;
            }
        }

        .list-group-item {
            border: none;
            padding-right: 0px;
            background-color: transparent;

            .status {
                margin-top: 9px;

                small {
                    font-size: 14px;
                }
            }
        }
    }

    .text-success {
        color: $success-green;
    }
}
@media (max-width: 991px) {
    .empty-label {
        display: none !important;
    }
}
