.resources-table {
    border-right: 1px solid var(--color-gainsboro);
}
.cost-per strong {
    white-space: normal;
    word-break: break-word;
}
.link-stock-table {
    td {
        white-space: normal;
        word-break: break-word;
    }
}
@media (max-width: 991px) {
    .resources-table {
        border-right: none;
    }
}
