.bd-rt {
    border-color: var(--color-common-secondary-border);
}

:host ::ng-deep .fb-1-container {
    justify-content: flex-start;
}

:host ::ng-deep .fb-1-container .form-group {
    margin-right: 10px;
    margin-bottom: 0;
}

:host ::ng-deep .fb-1-container .date-range-picker {
    min-width: 150px;
}

a:hover {
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}

table {
    table-layout: fixed;
}

.table-responsive {
    overflow-x: auto;
}

.head-report {
    font-size: var(--font-size-18);
    font-weight: bold;
    text-transform: capitalize;
    max-width: 600px;
}

.check-image img {
    max-height: 20px;
    cursor: pointer;
}

.popover-details {
    display: none;
}

.flex-fill {
    flex: 1 1 auto;
    padding-right: 2px;
}

.sh-select-dropdown {
    width: 230px;
}

/*td-in-searchbox_style*/

.max-width-140 {
    max-width: 140px;
}
.td-search-box div {
    display: flex;
}

.td-search-box div span {
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 1px;
    color: var(--color-blue);
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}
.td-search-box .input-container {
    position: relative;
}

.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: var(--color-nero);
    border: none;
    background-color: var(--color-sidebar-primary-search-bar-background);
}

.td-search-box .input-container i {
    position: absolute;
    right: 0px;
    top: 8px;
}

.basic > tbody > tr > td,
.basic > thead > tr > th {
    padding: 8px;
}

.basic > thead > tr > th {
    border-right: 1px solid var(--color-table-primary-header-bar-border);
}

.icon-pointer .glyphicon {
    cursor: pointer;
}

.td-search-box div i:hover {
    color: var(--color-gray);
}

.dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}

.stock-input {
    background-color: transparent !important;
    border-bottom: 1px dotted var(--color-white) !important;
    border: none;
    width: auto;
    padding: 0 !important;
    height: auto;
    text-align: center;
    min-width: 155px;
    color: var(--color-white);
}

.footer-tr td {
    background-color: var(--color-dark-fog);
}

.total-footer {
    background-color: var(--color-white);
    display: flex;
    .foot-item {
        padding: 41px;
        h2 {
            color: var(--color-gray);
            font-size: var(--font-size-18);
            margin-bottom: 10px;
        }
        h1 {
            font-size: var(--font-size-32);
        }
    }
}

.modal-content {
    border-radius: 0px;
    margin-top: 200px;
}

.btn-download {
    font-size: var(--font-size-14);
}

.btn-group.open.show {
    display: inline-block !important;
}

.dropdown-menu.dropdown-menu-download {
    min-width: 110px;
    border-radius: 0px;
}

.dropdown-menu-download li {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}
.border-none {
    border: none !important;
}

.unit-badge {
    display: inline-block;
    min-width: 30px;
    text-align: left;
    padding-left: 3px;
    text-transform: lowercase;
}

.icon-pointer .icon-sort-asc {
    line-height: 20px;
    width: 15px;
    color: var(--color-blue);
}

.icon-pointer .active-text-color {
    color: var(--color-blue);
}

.custom-datepicker-wrapper-group {
    max-width: 230px !important;
    min-width: 230px !important;
}

.sticky-footer-sale-amount {
    .inner-content-footer {
        padding-left: 0;
        padding-right: 80px;
        min-height: 60px;
        .flex-col {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }
        .flex-col:nth-child(odd) {
            min-width: 105px;
        }
        .flex-col:nth-child(even) {
            min-width: 20px;
        }
        .operators {
            font-size: var(--font-size-32);
            color: var(--color-gray);
        }
        h2 {
            font-size: var(--font-size-18);
            line-height: 20px;
        }
        h3 {
            font-size: var(--font-size-14);
            line-height: 20px;
        }
        h4 {
            font-size: var(--font-size-14);
            line-height: 20px;
        }
        @media only screen and (max-width: 1024px) {
            .sticky-footer-sale-amount {
                padding-right: 0;
            }
            .flex-col {
                display: inline-flex;
                .operators {
                    text-align: right;
                }
            }
        }
    }
}

.count-text h4 {
    text-align: left;
    padding-left: 30px;
}

.select-style select {
    width: 100% !important;
}

.text-purple {
    color: var(--color-blue);
}

.btn-link-2 {
    color: var(--color-blue);
}

.mr-b100 {
    margin-bottom: 100px;
}

th.border-right-none,
td.border-right-none {
    border-right: none !important;
}

.inventory-stock-table {
    td {
        &:first-child {
            white-space: inherit;
        }
    }
}

.advance-icon {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-18);
    border: 1px solid var(--color-primary-button-border);
    border-radius: 5px;
    color: var(--color-giddh-blue);
    background: var(--color-white);
}

.inventory-stock-table {
    display: table;
    .d-flex {
        align-items: center;
    }
}

.icon-pointer {
    padding-left: 5px;
    cursor: pointer;
}

button.btn.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-primary-button-border);
    font-size: var(--font-size-14);
    color: var(--color-giddh-blue);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}

.table-border .d-flex {
    align-items: center;
}

.inventory-stock-table input.form-control.stock-input {
    color: var(--color-nero);
    text-align: left;
}

.recept-modal .modal-title {
    color: var(--color-white);
}

.mt-0 {
    margin-top: 0px !important;
}

.group-not-found {
    text-transform: none;
}
.icon-btn {
    border: 1px solid var(--color-primary-button-border);
    border-radius: 5px;
    height: 36px;
    width: 36px;
    margin-top: 0;
    background-color: var(--color-white);
    .strong {
        font-weight: bold;
    }
}

.td-mobile-head {
    display: none;
}

@media (max-width: 991px) {
    .wrap-head-report {
        .head-report {
            font-size: var(--font-size-14);
            white-space: normal;
            word-break: break-all;
        }
    }
    .sticky-footer.sticky-footer-sale-amount {
        padding-left: 0 !important;
        .opening-value {
            display: flex;
            margin-top: 5px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .btn-sky-blue {
        display: none;
    }
    .advance-icon {
        display: none;
    }
    .head-report {
        margin-right: 0 !important;
        font-size: var(--font-size-14);
    }
    .btn-link {
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-left: 15px;
        span {
            display: none;
        }
    }
    .inventory-stock-table {
        table-layout: auto;
    }
    .basic > tbody > tr > td,
    .basic > thead > tr > th {
        min-width: 100px !important;
    }
    .popover-details {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        margin: 0 15px;
        z-index: 999;
        .btn-group {
            margin-left: 0 !important;
            .dropdown-toggle {
                border-width: 0px !important;
                background: transparent;
                color: var(--color-white);
            }
        }
        .bottom-details {
            min-width: 90vw;
            z-index: 99 !important;
        }
    }

    .td-mobile-head {
        display: block;
    }
    .more-table {
        text-align: end !important;
        margin-bottom: 0 !important;
        a {
            background: var(--color-blue);
            border: 1px solid var(--color-blue);
            color: var(--color-white);
            border-radius: 5px;
            font-size: var(--font-size-14);
            padding: 7px 8px;
            width: auto;
        }
    }
}
.input-group-addon {
    border: 1px solid var(--color-common-secondary-border);
    border-left: 0;
    background-color: var(--color-dark-fog);
}

@media (max-width: 767px) {
    .footer-sticky {
        display: none;
    }
}

@media (max-width: 1622px) {
    .inventory-stock-table {
        display: block;
    }
    .head-report {
        max-width: 500px;
    }
}

@media (min-width: 1410px) and (max-width: 1530px) {
    .head-report {
        max-width: 400px;
    }
}

@media (max-width: 1440px) {
    .head-report {
        max-width: 245px;
        white-space: normal;
        word-break: break-all;
    }
    .right-inventory {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row !important;
        text-align: right;
        .transfer-btn {
            margin-top: 0;
            margin-right: 15px;
        }
    }
}

@media (min-width: 1020px) and (max-width: 1299px) {
    .head-report {
        max-width: 200px;
    }
    .right-inventory {
        display: flex;
        flex-direction: column;
        .btn-group {
            justify-content: flex-end;
        }
    }
}

@media (min-width: 769px) and (max-width: 860px) {
    .right-inventory {
        display: flex;
        flex-direction: column;
        .btn-group {
            justify-content: flex-end;
        }
    }
}

@media (min-width: 1410px) and (max-width: 1530px) {
    .head-report {
        max-width: 400px;
    }
}

@media (max-width: 1409px) {
    .head-report {
        max-width: 300px;
    }
}

@media (min-width: 1020px) and (max-width: 1299px) {
    .head-report {
        max-width: 200px;
    }
    .right-inventory {
        display: flex;
        flex-direction: column;
        .btn-group {
            justify-content: flex-end;
        }
        .transfer-btn {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 8px;
        }
    }
}

@media (orientation: landscape) {
    .bottom-button-display {
        margin-bottom: 70px;
    }
}
