.bdrT {
  border-color: #ccc;
}

:host ::ng-deep .fb__1-container {
  justify-content: flex-start;
}

:host ::ng-deep .fb__1-container .form-group {
  margin-right: 10px;
  margin-bottom: 0;
}

:host ::ng-deep .fb__1-container .date-range-picker {
  min-width: 150px;
}
a:hover {
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: row wrap;
}

table {
  table-layout: fixed;
}

/* .table.basic tbody tr td {
    background-color: #fff;
}

.table.basic .table tbody tr td {
    border: none;
} */

.mh18_img img {
  max-height: 20px;
  cursor: pointer;
}

/*
.table.basic>tbody>tr>td>table tbody tr td {
    padding: 5px 0;
}

tfoot {
    background: #fff;
} */
.flex-fill {
  flex: 1 1 auto;
  padding-right: 2px;
}

.d-flex {
  display: flex;
}

/*td-in-searchbox_style*/
.max-width-140 {
  max-width: 140px;
}
.td_in_searchBox div {
  display: flex;
}

.td_in_searchBox div span {
  flex: 1 1 auto;
  padding-left: 8px;
}

.td_in_searchBox div i {
  margin-top: 3px;
  color: #8080808c;
  padding-right: 8px;
  cursor: pointer;
}

.td_in_searchBox {
  padding: 0px !important;
  position: relative;
}
.td_in_searchBox .input-container {
  position: relative;
}

.td_in_searchBox .input-container input {
  min-height: 36px;
  width: 100%;
  padding: 6px;
  padding-right: 40px;
}

.td_in_searchBox .input-container i {
  position: absolute;
  right: 0px;
  top: 8px;
}
.basic > tbody > tr > td,
.basic > thead > tr > th {
  padding: 8px;
}
.basic > thead > tr > th {
  border-right: 1px solid #cdcdcd;
}

.icon-pointer .glyphicon {
  cursor: pointer;
}

.icon-pointer .glyphicon:hover {
  color: #ff5f00;
}

.td_in_searchBox div i:hover {
  color: #ff5f00;
}

.dropdown-menu > li > a:hover {
  color: #ff5e01;
  background: #f4f5f8;
}
.stock-input {
  background-color: transparent !important;
  border-bottom: 1px dotted black !important;
  border: none;
  width: auto;
  padding: 0 !important;
  height: auto;
  text-align: center;
  min-width: 155px;
}
.footer-tr td {
  background-color: #e5e5e5;
}
.total-footer {
  background-color: white;
  display: flex;
  .footitem {
    padding: 41px;
    h2 {
      color: #8f9091;
      font-size: 20px;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 32px;
    }
  }
}
.modal-content {
  border-radius: 0px;
  margin-top: 200px;
}
.btn-download {
  font-size: 14px;
}
.btn-group.open.show {
  display: inline-block !important;
}
.dropdown-menu.dropdown-menu-download {
  min-width: 110px;
  border-radius: 0px;
}
.dropdown-menu-download li {
  cursor: pointer;
}
.capitalize {
  text-transform: capitalize;
}
.table-border {
  border: 1px solid #c6c6c6;
}
.bdrN {
  border: none !important;
}
.unit-badge {
  display: inline-block;
  min-width: 30px;
  text-align: left;
  padding-left: 3px;
  text-transform: lowercase;
}
.icon-pointer .fa-long-arrow-up,
.icon-pointer .fa-long-arrow-down {
  line-height: 20px;
  width: 15px;
  color: #a9a9a9;
}
.icon-pointer .activeTextColor {
  color: #ff5200;
}

.stickyFooterSaleAmount {
  .innerContentFooter {
    padding-left: 0;
    padding-right: 80px;
    min-height: 60px;
    .flex-col {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
    }
    .flex-col:nth-child(odd) {
      min-width: 105px;
    }
    .flex-col:nth-child(even) {
      min-width: 55px;
    }
    .operators {
      font-size: 39px;
      color: #8f9091;
    }
    h2 {
      font-size: 18px;
      line-height: 20px;
    }
    h3 {
      font-size: 14px;
      line-height: 20px;
    }
    h4 {
      font-size: 14px;
      line-height: 20px;
    }
    @media only screen and (max-width: 768px) {
      .flex-col {
        display: block;
        .operators {
          text-align: right;
        }
      }
    }
  }
}
.select-style select {
  width: 100% !important;
} /*
.select-style:before{
  z-index: 1;
}*/
.text-orange {
  color: #ff5f00;
}
.btn-link-2 {
  color: #0c8fe6;
}
