.select-plan-block .your-account span {
    color: #9b9b9b;
    font-size: 14px;
    padding: 4px 0;
    display: inline-block;
}
.select-plan-block {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.welcome-msg {
    position: relative;
}
.note-wrap {
    position: fixed;
    bottom: 30px;
    width: 100%;
    color: #707070;
    padding: 10px;
}
.choose-ur-plan {
    height: calc(100vh - 320px);
    overflow-y: auto;
    overflow-x: hidden;
}
.noHeight {
    height: auto !important;
}
.payment-log-list > li {
    padding: 7px 0;
}
.payment-log-list {
    list-style-type: none;
    font-size: 14px;
    color: #666666;
}
.payment-log-list {
    list-style-type: none;
    font-size: 14px;
    color: #666666;
}
.payment-log-list > li {
    padding: 0px 0 20px 10px;
    border-left: 1px dashed #666666;
    position: relative;
    line-height: 10px;
}
.payment-log-list > li:last-child {
    padding-bottom: 0px;
}
.payment-log-list > li:after {
    position: relative;
    width: 10px;
    height: 10px;
    background: #f4f5f8;
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: 0px;
    border-radius: 90px;
    border: 1px solid #666666;
}
.account-aside-menu-state-2  {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    z-index: 1045;
}
.aside-overlay {
    z-index: 999;
}
@media only screen and (max-width: 767px) {
    .note-wrap {
        position: relative;
        bottom: 0px;
    }
    .choose-ur-plan {
        height: initial;
    }
}
