works

<div id="live">
  <div class="panel panel-default">

    <div class="panel-heading clearfix">
      <div class="btn-group gstDropdown pull-left" dropdown>
        <span id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
          <span class=""> <strong>Top 5</strong> </span> <span class="icon-arrow-down mrL1"></span>
        </span>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Sales</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Income </a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Expenses</a></li>

          <li role="menuitem"><a class="dropdown-item" href="#">Recipt</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" href="#">Payment</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="panel-body pos-rel">





    </div>
  </div>
</div>
