p.bank-name {
    font-size: var(--font-size-16);
    color: var(--color-common-senary-text);
    margin-bottom: 5px;
}
p.bank-balance {
    color: var(--color-abbey);
    font-size: var(--font-size-16);
    display: flex;
    justify-content: space-between;
}
.single-bank-detail {
    border-bottom: 1px solid var(--color-iron);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connect-bank {
    position: absolute;
    bottom: 10px;
    color: var(--color-nero);
    text-decoration: underline;
}
table.basic td {
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    border-bottom: 1px solid var(--color-table-primary-content-bar-border) !important;
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: var(--font-size-16);
    color: var(--color-table-senary-content);
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid var(--color-table-primary-header-bar-border);
    border-top: none;
    padding-left: 0;
    font-weight: 500;
}
.last-card {
    min-height: auto !important;
}
table.basic th {
    font-size: var(--font-size-16);
    color: var(--color-table-secondary-heading);
    background-color: var(--color-table-heading-primary-background);
}
.cr-dr-body {
    padding: 15px;
}
.debtors-table {
    margin-bottom: 50px;
}
span.this-week {
    color: var(--color-abbey);
    text-decoration: underline;
    font-size: var(--font-size-16);
}
.top-five-cr-dr-table td {
    white-space: normal;
}
thead th {
    padding-bottom: 5px !important;
}
.no-entries {
    border-top: 1px solid var(--color-iron) !important;
    margin-top: 10px;
    padding-bottom: 20px !important;
    text-align: center;
    color: var(--color-common-primary-text) !important;
    font-size: var(--font-size-16);
}
.dashboard-datepicker {
    max-width: 190px;
    min-width: 190px;
    border-radius: 30px;
    border: 1px solid var(--color-primary-button-border);
}
.min-width-130 {
    min-width: 130px !important;
}
@media (max-width: 768px) {
    .debtors-table {
        margin-bottom: 30px;
    }
    table.basic td {
        border-bottom: none !important;
    }
    table.on-mobile-view {
        tbody td:before {
            left: 10px;
        }
        tbody tr {
            margin: 0 auto 22px;
        }
    }
}
