@import "../../../../assets/css/color.scss";
p.bank-name {
    font-size: 14px;
    color: $midnight-blue;
    margin-bottom: 5px;
}

p.bankBalnc {
    color: #666666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.single-bank-detatil {
    border-bottom: 1px solid $gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connectBnk {
    position: absolute;
    bottom: 10px;
    color: #262626;
    text-decoration: underline;
}
table.basic td {
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    border-bottom: 1px solid $gainsboro;
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: 16px;
    color: #484848;
}
.credtorsTable tr:last-child td {
    border-bottom: none !important;
}
table.basic th {
    color: #1a237e;
    font-size: 14px;
}
.cr-dr-body {
    padding: 15px;
}
.debtorsTable {
    margin-bottom: 50px;
}
span.thisWeek {
    color: #666666;
    text-decoration: underline;
    font-size: 16px;
}
.top-five-cr-dr-table td {
    white-space: normal;
}
thead th {
    padding-bottom: 5px !important;
}
.no-entries {
    border-top: 1px solid $gainsboro !important;
    margin-top: 10px;
    padding-bottom: 20px !important;
    text-align: center;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 16px;
}
