<div>

    <!-- <div class="tab">
        <button class="tablinks" (click)="showTemplate('common_template_a')" id="defaultOpen">template1</button>
        <button class="tablinks" (click)="showTemplate('gst_template_a')">template2</button>
        <button class="tablinks" (click)="showTemplate('gst_template_b')">template3</button>
    </div>

    <div class="tab">
        <button class="tablinks" (click)="showTemplate('gst_template_c')">template4</button>
        <button class="tablinks" (click)="showTemplate('gst_template_d')">template5</button>
        <button class="tablinks" (click)="showTemplate('gst_template_e')">template6</button>
    </div> -->

    <!-- edit template  start -->
    <div class="clearfix">
        <ul class="templateView">
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
            <li>
                <img src="./assets/images/template1.jpg" />
            </li>
        </ul>
    </div>
    <!-- edit template  end -->


</div>