:host ::ng-deep .dropdown-menu > li > a:hover {
    color: #ff5e01;
    background: #f4f5f8;
}

/* my css */
.successful-fileDetail h3, .gstReturnDate h3 {
    color: #333333;
    font-size: 24px;
    margin: 20px 0 7px;
}

.gstr-transactions-summary .successful-fileDetail p, .gstr-transactions-summary .gstReturnDate p {
    margin-bottom: 20px;
    font-size: 14px;
}
