:host ::ng-deep .dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}
/* my css */
.successful-file-detail h3,
.gst-return-date h3 {
    color: var(--color-nero);
    font-size: var(--font-size-24);
    margin: 20px 0 7px;
}
.gstr-transactions-summary .successful-file-detail p,
.gstr-transactions-summary .gst-return-date p {
    margin-bottom: 20px;
    font-size: var(--font-size-15);
}
.file-your-return {
    border: 1px solid var(--color-blue);
    border-radius: 2px;
}
