<div
    appTranslate
    [file]="'gst'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
    (translationComplete)="translationComplete($event)"
>
    <div class="help-support-aside setting-sidebar-wrapper gst-sidebar-wrapper" *ngIf="asideGstSidebarMenuState">
        <tax-sidebar
            (navigateEvent)="handleNavigation($event)"
            [isMonthSelected]="isMonthSelected"
            [isGstModule]="true"
            [selectedGstModule]="selectedGst"
            [autoNavigateType]="pendingNavigateType"
            [exclude]="'#primary-new-header'"
            class="gst-sidebar"
        ></tax-sidebar>
    </div>
    <hamburger-menu [pageHeading]="localeData?.page_heading"></hamburger-menu>
    <div class="column content-column gst-filing-container navs-list" *ngIf="localeData?.page_heading">
        <div class="tax-engine">
            <div class="column list-column expanded-list-column transactions-list">
                <div class="list-header">
                    <filing-header
                        [isCompany]="isCompany"
                        [isConsolidatedBranch]="isConsolidatedBranch"
                        [currentPeriod]="currentPeriod"
                        [selectedGst]="selectedGst"
                        [showTaxPro]="showTaxPro"
                        [fileReturn]="fileReturn"
                        [localeData]="localeData"
                        [commonLocaleData]="commonLocaleData"
                    ></filing-header>
                </div>

                <div class="nav-band" [hidden]="(gstr1OverviewDataInProgress$ | async) || (gstr2OverviewDataInProgress$ | async)">
                    <div class="p-3">
                        <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
                            <!-- Overview -->
                            <mat-tab [label]="localeData?.filing?.tabs?.overview">
                                <filing-overview
                                    *ngIf="selectedTab === localeData?.filing?.tabs?.overview || !activeTabIndex"
                                    [activeCompanyGstNumber]="activeCompanyGstNumber"
                                    [currentPeriod]="currentPeriod"
                                    [selectedGst]="selectedGst"
                                    (hsnSacSelected)="openHsnSacSection()"
                                    [isTransactionSummary]="isTransactionSummary"
                                    [localeData]="localeData"
                                    [commonLocaleData]="commonLocaleData"
                                ></filing-overview>
                            </mat-tab>
                            <!-- Reconcilation -->
                            <mat-tab
                                [label]="localeData?.filing?.tabs?.reconcilation"
                                *ngIf="selectedGst === GstReport.Gstr2 || selectedGst === GstReport.Gstr1"
                            >
                                <div *ngIf="selectedTab === localeData?.filing?.tabs?.reconcilation || activeTabIndex === 1">
                                    <reconcile
                                        [activeCompanyGstNumber]="activeCompanyGstNumber"
                                        [currentPeriod]="currentPeriod"
                                        [selectedGst]="selectedGst"
                                        [localeData]="localeData"
                                        [commonLocaleData]="commonLocaleData"
                                    ></reconcile>
                                </div>
                            </mat-tab>
                            <!-- File Return -->
                            <mat-tab
                                [label]="localeData?.filing?.tabs?.push_to_portal"
                                *ngIf="isCompany && selectedGst !== GstReport.Gstr2 && showGstFiling"
                            >
                                <div class="transactions-overview">
                                    <div class="gstr-transactions-summary mt-5 mb-5 text-center">
                                        <div class="gst-return-date">
                                            <img [src]="imgPath + 'return-date.svg'" />
                                            <p>{{ localeData?.filing?.click_to_proceed }}</p>
                                            <button
                                                matButton="filled"
                                                (click)="fileReturn = { isAuthenticate: true }"
                                                [disabled]="
                                                    (activeCompany$ | async)?.subscription?.planDetails?.restrictedModules.hasOwnProperty(
                                                        restrictedModules.TaxFilling
                                                    )
                                                "
                                            >
                                                {{ localeData?.filing?.push_to_portal }}
                                            </button>
                                        </div>

                                        <p *ngIf="fileReturnSucces" class="mt-4">
                                            {{ getGstReturnFieldText() }}
                                        </p>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
                <div class="filings-empty-state" *ngIf="(gstr1OverviewDataInProgress$ | async) || (gstr2OverviewDataInProgress$ | async)">
                    <giddh-page-loader></giddh-page-loader>
                    <div class="empty-msg">
                        <span>{{ getLoadingGstText(selectedGst | titlecase) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
