.modal-header {
    background-color: var(--color-abbey);
}

.invoice-image-section {
    text-align: center;
    background-color: var(--color-white);
    margin-bottom: 35px;
    z-index: -9;
    height: 73vh;

    .error {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 36px;
        max-width: 60%;
        margin: 0 auto;
        color: var(--color-danger);
    }
}
