<div class="container-fluid pdT2 pdB2">
  <div class="row">
    <div class="col-xs-2"><h3 class="mrB1"><strong>Give Permission to:</strong></h3></div>
    <div class="col-xs-2">
      <input type="text" placeholder="User email" #emailField class="form-control">
    </div>
    <div class="col-xs-2">
        <select class="form-control" #newRole>
            <option value="{{role.uniqueName}}" *ngFor="let role of allRoles">{{role.name}}</option>
        </select>
    </div>
    <div class="col-xs-2">
        <input type="button" (click)="shareCurrentCompany(emailField.value, newRole.value)" class="btn btn-success" value="Add">
    </div>
  </div>
  <!-- <setting-permission-form [userdata]="null" [isLblShow]="false" [isUpdtCase]="false" [isHorizntl]="true" (onSubmitForm)="submitPermissionForm($event)"></setting-permission-form> -->
</div>

<div class="container-fluid">
  <div class="row box">
    <div class="row mrT2 bdrB" *ngFor="let usrGrp of usersList; let i = index">
      <div class="col-xs-4">
        <div class="lead mrB1">{{usrGrp.name}}</div>
        <div class="mrB1"><i class="fa fa-user"></i> {{usrGrp.rows[0].userUniqueName}}</div>
      </div>
      <div class="col-xs-4">
        <select class="form-control" name="selectedRole_{{i}}" #roleName (change)="shareCurrentCompany(usrGrp.rows[0].userUniqueName, roleName.value)">
          <option [selected]="usrGrp.rows[0].role.uniqueName === role.uniqueName" value="{{role.uniqueName}}" *ngFor="let role of allRoles">{{role.name}}</option>
        </select>
      </div>
      <div class="col-xs-3">

      </div>
      <div class="col-xs-1">
          <i (click)="unShareCurrentCompany(usrGrp.rows[0].userUniqueName)" class="fa fa-trash cp"></i>
      </div>
    </div>
  </div>
</div>

<!-- create Ac modal -->

<!-- <div bsModal #editUserModal="bs-modal" class="modal fade" role="dialog" [config]="modalConfig" *ngIf="showEditUserModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header pd2 pdL2 pdR2 clearfix">
        <h3 class="modal-title bg" id="modal-title">Edit User</h3>
        <i class="fa fa-times text-right close_modal" aria-hidden="true" (click)="closeEditUserModal()"></i>
      </div>
      <div class="modal-body">
        <setting-permission-form [userdata]="selectedUser" [isLblShow]="true" [isUpdtCase]="true" [isHorizntl]="false" (onSubmitForm)="submitPermissionForm($event)"></setting-permission-form>
      </div>
    </div>
  </div>
</div> -->

