@import "../../../assets/css/color.scss";

.import-data-table{
    height: 68vh; 
    overflow-y: auto;
    .import-card {
        padding: 15px;
        background-color: white;
        box-shadow: 0px 3px 7px $black-russian;
        border-radius: 2px;
        position: relative;
        padding-right: 30px;
        font-size: 14px;
        svg.download-import{
            fill:$gray;
        }
    }
}
