@import "../../../assets/css/color.scss";

.import-data-table {
    height: 68vh;
    overflow-y: auto;
    .import-card {
        padding: 15px;
        background-color: var(--common-background-color-for-all-components);
        box-shadow: 0px 3px 7px $black-russian;
        border-radius: 2px;
        position: relative;
        padding-right: 30px;
        font-size: 14px;
        i {
            position: absolute;
            right: 15px;
            cursor: pointer;
            z-index: 2;
        }
        svg.download-import {
            fill: $gray;
        }
    }
    .import-data-row {
        margin-right: 0;
    }
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
@media (max-width: 991px) {
    .import-data-table {
        .import-data-row {
            margin-right: -15px;
        }
    }
}
