.import-data-table {
    height: 68vh;
    overflow-y: auto;
    .import-card {
        padding: 15px;
        background-color: var(--color-common-primary-background-for-all-components);
        box-shadow: 0px 3px 7px var(--color-primary-common-box-shadow);
        border-radius: 2px;
        position: relative;
        padding-right: 30px;
        font-size: var(--font-size-15);
        i {
            position: absolute;
            right: 15px;
            cursor: pointer;
            z-index: 2;
        }
        svg.download-import {
            fill: var(--color-abbey);
        }
    }
    .import-data-row {
        margin-right: 0;
    }
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
@media (max-width: 991px) {
    .import-data-table {
        .import-data-row {
            margin-right: -15px;
        }
    }
}
