.nav.nav-tabs {
    background: var(--color-white) !important;
}

.push-gstin .nav.nav-tabs > li:last-child {
    float: right;
}

.tax-engine .transactions-list .filter-band .back-button svg.back-button-icon {
    position: relative;
    top: 3px;
}
