<div class="column content-column gst-filing-container navs-list">
    <div class="tax-engine">
        <div class="column list-column expanded-list-column transactions-list">
            <div class="scroll-y noscroll-x body fill">
                <div class="reconciliation-type-band push-gstin">
                    <div *ngIf="showHsn" class="filter-band">
                        <div class="row font-small">
                            <div class="col-md-12">
                                <div class="filter-row back-button">
                                    <a href="javascript:void(0)" (click)="goBack()">
                                        <svg
                                            version="1.1"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            x="0"
                                            y="0"
                                            viewBox="0 0 512 512"
                                            xml:space="preserve"
                                            class="icon icon-sm text-top back-button-icon"
                                        >
                                            <path
                                                d="M367.5 433.7L189.8 256 367.5 78.3l22.6-22.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-223 223c-6 6-9.4 14.1-9.4 22.6 0 8.5 3.4 16.6 9.4 22.6l223 223c6.2 6.2 14.4 9.4 22.6 9.4s16.4-3.1 22.6-9.4c12.5-12.5 12.5-32.8 0-45.3l-22.5-22.6z"
                                            ></path>
                                        </svg>
                                        {{ commonLocaleData?.app_back }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <tabset #staticTabs class="sub-filter-nav-band" *ngIf="!gstr1SummaryDetailsInProcess"> -->
                    <!-- <tab>
                            <ng-template tabHeading>
                                {{ localeData?.filing?.transaction_summary }}
                            </ng-template>

                            <div class="subtabs-box transactions-overview">
                                <transaction-summary
                                    [activeCompanyGstNumber]="activeCompanyGstNumber"
                                    [currentPeriod]="currentPeriod"
                                    [selectedGst]="selectedGst"
                                    [isTransactionSummary]="true"
                                    [localeData]="localeData"
                                    [commonLocaleData]="commonLocaleData"
                                ></transaction-summary>
                            </div>
                        </tab> -->

                    <!-- <tab [active]="showHsn">
                            <ng-template tabHeading>
                                {{ commonLocaleData?.app_hsn }}
                            </ng-template> -->
                    <div class="subtabs-box transactions-overview">
                        <hsn-summary
                            [hsnSummary]="gstr1SummaryDetails.data.hsn"
                            [selectedGst]="selectedGst"
                            [localeData]="localeData"
                            [commonLocaleData]="commonLocaleData"
                        ></hsn-summary>
                    </div>
                    <!-- </tab>

                        <tab>
                            <ng-template tabHeading>
                                {{ localeData?.filing?.nil }}
                            </ng-template>
                            <div class="subtabs-box transactions-overview">
                                <nil-summary
                                    [nilSummary]="gstr1SummaryDetails.data.nil"
                                    [localeData]="localeData"
                                    [commonLocaleData]="commonLocaleData"
                                ></nil-summary>
                            </div>
                        </tab>

                        <tab>
                            <ng-template tabHeading>
                                {{ localeData?.filing?.b2cs }}
                            </ng-template>
                            <div class="subtabs-box transactions-overview">
                                <b2cs-summary
                                    [brcsSummary]="gstr1SummaryDetails.data.b2cs"
                                    [localeData]="localeData"
                                    [commonLocaleData]="commonLocaleData"
                                ></b2cs-summary>
                            </div>
                        </tab>

                        <tab>
                            <ng-template tabHeading>
                                {{ localeData?.filing?.document_issued }}
                            </ng-template>
                            <div class="subtabs-box transactions-overview">
                                <document-issued
                                    [doc_issues]="gstr1SummaryDetails.data.doc_issue"
                                    [localeData]="localeData"
                                ></document-issued>
                            </div>
                        </tab>

                        <tab>
                            <ng-template tabHeading>
                                {{ localeData?.filing?.failed_transactions }}
                            </ng-template>
                            <div class="subtabs-box transactions-overview">
                                <failed-transactions
                                    [failedTransactions]="gstr1SummaryDetails.errors"
                                    [localeData]="localeData"
                                    [commonLocaleData]="commonLocaleData"
                                >
                                </failed-transactions>
                            </div>
                        </tab> -->
                    <!-- </tabset> -->

                    <div class="filings-empty-state" *ngIf="gstr1SummaryDetailsInProcess">
                        <div class="spinner2">
                            <div class="cube1"></div>
                            <div class="cube2"></div>
                        </div>

                        <div class="empty-msg">
                            <span> {{ localeData?.filing?.loading_data }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
