@import "../../../../assets/css/color.scss";

.bdrT {
    border-color: $gainsboro;
}

:host ::ng-deep .fb__1-container {
    justify-content: flex-start;
}

:host ::ng-deep .fb__1-container .form-group {
    margin-right: 10px;
    margin-bottom: 0;
}

:host ::ng-deep .fb__1-container .date-range-picker {
    min-width: 150px;
}
