.doc-link {
    a {
        text-decoration: none;
        padding-left: 0;
    }

    :focus {
        box-shadow: none;
    }

    :hover {
        text-decoration: underline;
    }
}
.link-color {
    color: var(--text-primary-color);
}

.tally-url {
    font-size: 14px;
    word-break: break-all;
}

.input-group-btn {
    font-size: var(--font-size-24);
    color: var(--text-primary-color) !important;
}

.copy-text-position {
    position: absolute;
    top: 5px;
    right: 0;
    transform: translateX(90%);
}
