.input-group-btn {
    font-size: 21px;
    color: var(--color-rectangular-tab-active-primary-text) !important;
    cursor: pointer;
    margin-right: 5px;
    padding-top: 5px;
}

.magic-link-container {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.doc-link {
    a {
        text-decoration: none;
        padding-left: 0;
    }

    :focus {
        box-shadow: none;
    }

    :hover {
        text-decoration: underline;
    }
}
.link-color {
    color: var(--color-ledger-heading);
}
