<!-- Map Field start-->
<div class="row">
    <div class="col-sm-8">
        <div class="mapFields">
            <strong>The best match to each field on the selected file have been auto-selected.</strong>

            <div class="w-58pr">

                <div class="checkbox d-flex mt-1">
                    <input type="checkbox" name="isHeaderProvided" id="isHeaderProvided"
                        [(ngModel)]="importData.isHeaderProvided"> Is Header Provided ?
                </div>

                <div class="row mt-2 d-flex">
                    <div class="col-xs-6">
                        <small class="text-light-2">Imported File Fields</small>
                    </div>
                    <div class="col-xs-6">
                        <small class="text-light-2">Giddh Fields</small>
                    </div>
                </div>

                <div class="row mt-2 d-flex" *ngFor="let data of dataModel">
                    <div class="col-xs-6 d-flex" style="align-items:center"><label>{{data.field.columnHeader}}</label>
                    </div>

                    <div class="col-xs-6">

                        <sh-select [options]="data.options" class="pull-left mrR1" [placeholder]="'Select Field'"
                            [(ngModel)]="data.selected" (selected)="columnSelected($event,data)"
                            (onClear)="clearSelected($event, data)" (previousChange)="clearSelected($event, data)"
                            [showClear]="true"></sh-select>

                    </div>
                </div>

            </div>

            <div class="mt-5">
                <button class="btn btn-default" (click)="onBack.emit()">Back</button>
                <button class="btn btn-success" (click)="mapExcelData()">Next</button>
            </div>

        </div>
    </div>


</div>

<div class="right-bar">

    <!-- filed mapping -->
    <div>

        <div>
            <p>Mandatory fields to create <span class="text-or">{{ entity | titlecase }}</span> in Giddh are:
                <span>
                    <span
                        [ngStyle]="{'color': mandatoryHeadersCount === mandatoryHeadersModel.length ? '#00b503' : '#adadad'}">
                        {{ mandatoryHeadersCount }}</span>/{{ mandatoryHeadersModel.length }} done.</span>
                &nbsp;<span *ngIf="mandatoryHeadersCount === mandatoryHeadersModel.length"
                    style="color: #00b503">Successful.</span>
            </p>
        </div>

        <div class="row mt-2 d-flex" *ngFor="let manField of mandatoryHeadersModel">

            <div class="col-xs-8"><label class="font-12px">{{ manField.field | titlecase}}</label></div>

            <div class="col-xs-4">
                <img src="{{imgPath}}checked.png" *ngIf="manField.selected" width="20" height="20" />
                <img src="{{imgPath}}unchecked.png" *ngIf="!manField.selected" width="20" height="20" />
            </div>

        </div>

    </div>

    <!-- group mapping -->

    <div *ngIf="mandatoryGroupModel.length" style="margin-top: 50px">

        <div>
            <p>At least one field from each group should be selected to create <span
                    class="text-or">{{ entity | titlecase }}</span> in
                Giddh <span>
                    <span
                        [ngStyle]="{'color': mandatoryGroupHeadersCount === mandatoryGroupModel.length ? '#00b503' : '#adadad'}">{{ mandatoryGroupHeadersCount }}</span>/{{ mandatoryGroupModel.length }}
                    done.</span>
                &nbsp;<span *ngIf="mandatoryGroupHeadersCount === mandatoryGroupModel.length"
                    style="color: #00b503">Successful.</span>
            </p>
        </div>

        <div *ngFor="let grp of mandatoryGroupModel" class="group-card">

            <div class="row d-flex inner-row" *ngFor="let g of grp">

                <div class="col-xs-8"><label class="font-12px">{{ g.field | titlecase}}</label></div>

                <div class="col-xs-4">
                    <img src="{{imgPath}}checked.png" *ngIf="g.selected" width="20" height="20" />
                    <img src="{{imgPath}}unchecked.png" *ngIf="!g.selected" width="20" height="20" />
                </div>

            </div>

        </div>

    </div>

</div>
<!-- Map Field end -->
