.max-width-500 {
    max-width: 500px;
}
.right-bar {
    position: absolute;
    top: -49px;
    background-color: var(--color-white);
    right: -15px;
    height: unset;
    width: 310px;
    padding: 15px;
    bottom: 0;
}

input.green-checkbox[type="checkbox"]:after {
    left: -3px !important;
    border: 0px solid transparent !important;
    background-color: var(--color-dark-fog);
    border-radius: 27px !important;
}
input.green-checkbox[type="checkbox"]:before {
    border: 2px solid var(--color-white) !important;
    border-top-style: none !important;
    border-right-style: none !important;
    left: 0px !important;
}
.font-12 {
    font-size: var(--font-size-12);
}
input.green-checkbox[type="checkbox"]:checked:after {
    background-color: var(--color-success-enable) !important;
}
.group-card {
    border: 1px solid var(--color-gray);
    padding: 0 13px;
    border-radius: 4px;
    margin: 15px 0;
    .inner-row {
        margin: 15px -13px !important;
    }
}

.select-field-width {
    width: 100% !important;
}

.group-model {
    margin-top: 50px;
}

.success-label {
    color: var(--color-success-enable) !important;
}

@media (max-width: 1140px) {
    .left-bar-width {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 1024px) {
    .right-bar {
        width: 310px !important;
    }
}

@media (min-width: 721px) and (max-width: 767px) {
    .select-field-width {
        width: 70% !important;
    }
}

@media (min-width: 576px) and (max-width: 720px) {
    .select-field-width {
        width: 50% !important;
    }
    .left-head {
        width: 50%;
    }
}

@media (min-width: 361px) and (max-width: 575px) {
    .select-field-width {
        width: 70% !important;
    }
    .left-head {
        width: 70%;
    }
    .right-bar {
        width: 150px !important;
        .right-head {
            font-size: var(--font-size-15);
        }
    }
}

@media (max-width: 360px) {
    .select-field-width {
        width: 80% !important;
    }
    .left-head {
        width: 80%;
    }
    .right-bar {
        width: 100px !important;
        padding: 5px;
        .right-head {
            font-size: var(--font-size-12);
        }
    }
}
