@import "../../../../assets/css/color.scss";

.day-date {
    display: flex;
    .voucher-date-field {
        width: auto;
    }
}
.voucher-name {
    cursor: default;
    pointer-events: none;
    &:hover {
        background-color: $deep-sky-blue;
    }
}

.current-balance {
    font-size: 14px;
    font-style: italic;
}

.cheque-popup .new-account-form .modal-body {
    .check-clearance-date {
        .form-control[readonly] {
            background-color: $white !important;
        }
    }
}
.debtor-details{
    display: flex;
    cursor: default;
    font-size: 14px;
}
.debtor-details-form{
    display: flex;
    font-size: 14px;
    background-color: $silver;
    padding: 10px 9px;
    margin-bottom: 10px;
    .form-fields{
        display: flex;
        align-items: center;
        .single-field {
            width: 20%;
            margin-right: 15px;
             &.cr-dr-field{
                 width: 5% !important;
             }
            label{
                margin-bottom: 5px;
                display: none;
            }
            input.form-control{
                background-color: $white !important;
                border: 1px solid $gainsboro;
                border-radius: 2px !important;
            }
            &.set-width{
                width: 30%;
            }
            &:last-child{
                width: 5%;
            }
            .icon-arrow-down{
                font-size: 14px;
                position: absolute;
                right: 5px;
                top: 7px;
                color: $nero;
            }
        }
 
        .icon-cross{
            color: $gray;
            cursor: pointer;
            padding: 5px;
        }
    }
}
