.day-date {
    display: flex;
    .voucher-date-field {
        width: auto;
    }
}
.voucher-heading {
    padding: 10px;
    font-weight: bolder;
}

#content-wrapper {
    padding-bottom: 0px !important;
}

.current-balance {
    font-size: var(--font-size-15);
    font-style: italic;
    color: var(--color-table-primary-content);
    padding-left: 70px;
}

.cheque-popup .new-account-form .modal-body {
    .check-clearance-date {
        .form-control[readonly] {
            background-color: var(--color-white) !important;
        }
    }
}
.debtor-details-form {
    display: flex;
    font-size: var(--font-size-15);
    background-color: var(--color-gray);
    padding: 10px 9px;
    margin-bottom: 10px;
    .form-fields {
        display: flex;
        align-items: center;
        .single-field {
            width: 20%;
            margin-right: 15px;
            min-width: 180px;
            &.cr-dr-field {
                width: 5% !important;
            }
            label {
                margin-bottom: 5px;
                display: none;
            }
            input.form-control {
                background-color: var(--color-white) !important;
                border: 1px solid var(--color-iron);
                border-radius: 5px !important;
            }
            &.set-width {
                width: 30%;
            }
            &:last-child {
                width: 5%;
            }
            .icon-arrow-down {
                font-size: var(--font-size-15);
                position: absolute;
                right: 5px;
                top: 7px;
                color: var(--color-nero);
            }
        }

        .icon-cross {
            color: var(--color-abbey);
            cursor: pointer;
            padding: 5px;
        }
        .cr-dr-field,
        .delete-row {
            min-width: 30px;
            max-width: 30px;
        }
    }
}

.modal-dialog {
    width: 298px !important;
}
