.invoice-list {
    height: 100vh;
    overflow-y: auto;
}

.vouchers-wrapper {
    .total-wrapper {
        .total-sale {
            border-radius: 5px;

            p {
                color: var(--color-total-details-heading);
            }

            &.opening-box {
                span {
                    color: var(--color-success-enable);
                }
            }

            &.due-box {
                span {
                    color: var(--color-danger);
                }
            }
        }
    }
    table {
        tr {
            td {
                .action-btn {
                    visibility: hidden;
                }
            }

            &:hover {
                td {
                    .action-btn {
                        visibility: visible;
                    }
                }
            }
        }
    }
    // template field
    .template-design {
        max-width: 258px;
    }
    .invoice-video {
        display: none;
    }
}

table {
    .checkbox-show {
        .checkbox-hide {
            display: none;
        }

        .invoice-number {
            width: 25px;
        }

        &:hover {
            .checkbox-hide {
                display: block;
            }

            .invoice-number {
                display: none;
            }
        }
    }
}

// account-detail
.account-detail-wrapper {
    max-width: 250px;

    .account-header {
        background-color: var(--color-dark-fog);
    }
}

// video link
.video-link {
    top: 15px;
    right: 15px;
    z-index: 10;
}

// setting-tabs
.tabs-box-content {
    .settings-field {
        width: 290px;
    }
}

// template 
.template-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .default-wrap {
        background: var(--color-dark-fog);
        border-radius: 50px;
        color: var(--color-nero);

        &.active {
            background-color: var(--color-quaternary-button-background) !important;
            color: var(--color-white);
        }
    }

    .template-box-gap {
        row-gap: 20px;
    }

    .template-content {
        width: 200px;
    }
}

@media screen and (max-width: 1199px) {
    .vouchers-wrapper {
        .invoice-video {
            display: block;
        }
    }
    .video-link {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .video-link {
        display: none;
    }
}
