.invoice-list {
    height: 100vh;
    overflow-y: auto;
}
.invoice-wrapper {
    .total-wrapper {
        .total-sale {
            border-radius: 5px;

            p {
                color: var(--color-total-details-heading);
            }

            &.opening-box {
                span {
                    color: var(--color-success-enable);
                }
            }

            &.due-box {
                span {
                    color: var(--color-danger);
                }
            }
        }
    }
}
table {
    .checkbox-show {
        .checkbox-hide {
            display: none;
        }
        .invoice-number {
            width: 25px;
        }
        &:hover {
            .checkbox-hide {
                display: block;
            }
            .invoice-number {
                display: none;
            }
        }
    }
}
// account-detail
.account-detail-wrapper {
    .account-header {
        background-color: var(--color-dark-fog);
    }
}

// video link
.video-link {
    top: 15px;
    right: 15px;
    z-index: 10;
}

@media screen and (max-width: 1024px) {
    .video-link {
        display: none;
    }
}