/* ADD BULK ITEM */

@import "../../../../assets/css/color.scss";
.addBulkItemmodal.modal-dialog {
    width: 870px !important;
    margin: 30px auto;
}

.searchBox input[type="text"] {
    outline: none;
    width: 100%;
    height: 34px !important;
}

.rateStock {
    margin-left: 10px;
}

.addBulkItemmodal .singleProductWrapper {
    margin-bottom: 20px;
    padding: 4px;

    &:hover {
        background-color: #eeeff9;
        color: $border-blue;
    }

    &:hover h5 {
        color: $border-blue;
    }
}

.stockName {
    max-width: 240px;
    width: 100%;
    vertical-align: middle;
}

.addBulkItemmodal .singleProductWrapper h5 {
    color: #333333;
    font-size: 14px;
}

.addBulkItemmodal .singleProductWrapper p {
    font-size: 12px;
    padding-top: 4px;
}

.addBulkItemmodal .productList {
    padding-top: 15px;
    height: 600px;
    overflow-y: auto;
}

.addBulkItemmodal .rightContent span.selectdStockNumber {
    font-size: 20px;
}

.addBulkItemmodal .rightContent h4 {
    font-size: 14px;
}

.addBulkItemmodal .rightContent hr {
    color: black;
    border-color: #ccc;
    margin: 10px -15px;
    margin-left: -15px;
}

.addBulkItemmodal .pl-0 {
    padding-left: 0;
}

.addBulkItemmodal .singleSelectdStock p {
    font-size: 14px;
}

.addBulkItemmodal .wrapSelectedStocks {
    margin-top: 15px;
    padding-right: 20px;
}

.addBulkItemmodal .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 138px;
}

.addBulkItemmodal input.form-control.input-number {
    width: 60px !important;
    text-align: center;
    height: 28px !important;
}

.addBulkItemmodal .input-group .input-group-btn .btn {
    background: #fff;
    border-left: 1px solid #ccc;
}

.addBulkItemmodal .btn {
    padding: 3px 13px;
}

.addBulkItemmodal .input-group-btn .fa {
    color: #c6c6c6;
}

.addBulkItemmodal .singleSelectdStock {
    margin-bottom: 20px;
}

.addBulkItemmodal .leftContent {
    border-right: 1px solid #ddd;
    padding-right: 15px;
}

.addBulkItemmodal .modal-title {
    font-size: 22px !important;
    color: #fff;
}

.table-custom-invoice .salesTax .dropdown-menu-right li label {
    padding-left: 10px;
}

.temapletFooter {
    position: fixed;
    bottom: 15px;
    width: 100%;
    max-width: 418px;
}

.rightSideWrapper {
    height: 600px;
    overflow-y: auto;
    padding-bottom: 60px;
}
