<div id="emails" class="design-tab-content">

	<div class="clearfix mr-t2">
		<h2 class="mb-0">Standard email</h2>
		<small>Edit the email content your customer gets</small>
	</div>
	<div class="clearfix mr-t2">
		<div class="form-group">
			Subject
			<input class="form-control" placeholder="Invoice AB4123 from Walkover " name="subject"
				[(ngModel)]="emailObject.subject" (keyup)="onUpdateEmailObject()" />
		</div>
	</div>

	<div class="clearfix mr-t2">
		<div class="form-group row">
			<div class="col-12">
				<input type="checkbox" name="useGreeting" [(ngModel)]="emailObject.useGreeting"
					(change)="onUpdateEmailObject()" /> Use greeting
			</div>
			<div class="col-4 pl-0">
				<div class="custom-select position-relative">
					<select class="form-control" name="greeting" [(ngModel)]="emailObject.greeting"
						(change)="onUpdateEmailObject()">
						<option value="">Blank</option>
						<option value="To">To</option>
						<option value="Dear">Dear</option>
					</select>
					<span class="select-drop"><i class="fa fa-caret-down"></i></span>
				</div>
			</div>
			<div class="col-8">
					<div class="custom-select position-relative">
						<select class="form-control" name="username" [(ngModel)]="emailObject.username"
							(change)="onUpdateEmailObject()">
							<option value="Customer name">Customer name</option>
							<option value="Company name">Company name</option>
							<option value="Attention to">Attention to</option>
						</select>
						<span class="select-drop"><i class="fa fa-caret-down"></i></span>
					</div>
			</div>
		</div>
	</div>

	<div class="clearfix mr-t2">
		<div class="form-group">
			Message to customer
			<div>
				<textarea name="body" [(ngModel)]="emailObject.body" (keyup)="onUpdateEmailObject()"
					class="form-control"
					rows="5">Here’s your invoice! We appreciate your prompt payment. Thanks for your business. Walkover Web Solutions Private Limited</textarea>
			</div>
		</div>
	</div>

</div>
