<div class="add-new-role-modal">
    <div cdkFocusInitial class="dialog-header">
        <span>{{ localeData?.add_role }}</span>
    </div>
    <mat-dialog-content class="dialog-body" id="export-body">
        <form #newRoleForm="ngForm" (submit)="addNewRole()" autocomplete="off">
            <div>
                <div class="form-group">
                    <input-field
                        [label]="localeData?.role_name_label"
                        [type]="'text'"
                        [required]="true"
                        [name]="'name'"
                        [(ngModel)]="newRoleObj.name"
                        [placeholder]="localeData?.role_name_label"
                        #name="ngModel"
                    ></input-field>
                </div>
                <div class="form-group custom-select position-relative bg-transparent">
                    <reactive-dropdown-field
                        [label]="localeData?.role_type_label"
                        [required]="true"
                        (selectedOption)="newRoleObj.isFresh = $event?.value"
                        [name]="'isFresh'"
                        [options]="isFreshOptions"
                    ></reactive-dropdown-field>
                </div>
                <div class="form-group" *ngIf="newRoleObj.isFresh">
                    <multi-select-dropdown
                        [name]="'page-list'"
                        [label]="localeData?.select_pages"
                        [options]="pageOptions"
                        [showAllOption]="true"
                        [required]="true"
                        [(ngModel)]="selectedValues"
                        (selectionChange)="onPagesSelected($event)"
                    ></multi-select-dropdown>
                </div>
                <div *ngIf="!newRoleObj.isFresh">
                    <reactive-dropdown-field
                        [label]="localeData?.copy_permission"
                        [placeholder]="commonLocaleData?.app_please_select"
                        [options]="roleOptions"
                        [(ngModel)]="newRoleObj.uniqueName"
                        [name]="'roles'"
                        [required]="true"
                        [labelValue]="selectedRoleName"
                        (selectedOption)="onRoleSelect($event)"
                        class="w-100"
                    ></reactive-dropdown-field>
                </div>
                <div class="clear-both text-right mt-5">
                    <button matButton="filled" type="submit" [disabled]="!isFormValid">
                        {{ commonLocaleData?.app_next }}
                    </button>
                    <button matButton="outlined" class="ml-2" type="button" (click)="closePopupEvent()">
                        {{ commonLocaleData?.app_cancel }}
                    </button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</div>
