.add-new-role-modal {
    .modal-header {
        span {
            color: var(--color-popup-list-head-text);
        }
    }
}

.dropdown-menu li {
    display: flex;
    align-content: center;
    label {
        padding: 5px 0;
        display: block;
        cursor: pointer;
    }
} 
.custom-select {
    .select-drop {
        top: 40px;
    }
}

