.add-new-role-modal {
    /* UNUSED COMPONENT CLASS: modal-header - Auto-commented by script
.modal-header {
        span {
            color: var(--color-white);
        }
    }
*/
}

.dropdown-menu li {
    display: flex;
    align-content: center;
    label {
        padding: 5px 0;
        display: block;
        cursor: pointer;
    }
} 
.custom-select {
    /* UNUSED COMPONENT CLASS: select-drop - Auto-commented by script
.select-drop {
        top: 40px;
    }
*/
}

