@import "../../assets/css/color.scss";

.dashboard-option {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    flex-direction: row;
}

.dashboard-option li {
    list-style: none;
}

:host ::ng-deep perfect-scrollbar {
    height: auto;
}
// new dashboard css
.white-row {
    background-color: $white;
    padding: 9px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 3px $black-russian;
}
.click-here {
    color: $chetwode-blue;
}
.dashboard-container {
    max-width: 1170px;
    width: 100%;
}
span.icon-traingle-info {
    color: $bitter-sweet;
    font-size: 15px;
    margin-right: 10px;
}
span.icon-info-icon {
    color: $nobel;
    font-size: 18px;
    margin-right: 10px;
}
.dropdown-menu {
    border: 1px solid $gainsboro;
}
a.dropdown-item {
    color: $charcoal;
}

a.dropdown-item:hover {
    background-color: $lavender;
    color: $chetwode-blue;
}
.dashboard-notification {
    margin-bottom: 20px;
}
.panel-heading {
    padding: 15px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basic > tbody > tr:hover td {
    background: transparent;
}
.form-control:focus {
    border-color: $chetwode-blue !important;
}
.form-control {
    height: 32px;
}
.click-here {
    cursor: pointer;
}
.no-data-available {
    display: flex;
    height: 181px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .dashboard-container {
        margin-bottom: 40px;
    }
}
