/*styles for home content only*/
// @import url('../../assets/css/color.css');

@import "../../assets/css/color.scss";
.primaryDarkBg {
    background: #005b77;
}

.primarylightBg {
    background: #77a1b8;
}

.defaultDarkBg {
    background: #28283c;
}

.defaultLightBg {
    background: #aeaec4;
}

.dashboard-option {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    flex-direction: row;
}

.dashboard-option li {
    list-style: none;
}

:host ::ng-deep perfect-scrollbar {
    height: auto;
}
// new dashboard css
.white-row {
    background-color: #fff;
    padding: 9px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 3px #00000029;
}
.clickHere {
    color: $lightTextBlue;
}
.dashboard-container {
    max-width: 1170px;
    width: 100%;
}
span.icon-traingle-info {
    color: #ff6262;
    font-size: 15px;
    margin-right: 10px;
}
span.icon-info-icon {
    color: #999999;
    font-size: 18px;
    margin-right: 10px;
}
.dropdown-menu {
    border: 1px solid #d9d9d9;
}
a.dropdown-item {
    color: #484848;
}

a.dropdown-item:hover {
    background-color: #eeeff9;
    color: #5b64c9;
}
.dashboard-notification {
    margin-bottom: 20px;
}
.panel-heading {
    padding: 15px 15px;
}
.basic > tbody > tr:hover td {
    background: transparent;
}
.form-control:focus {
    border-color: #5b64c9 !important;
}
.form-control {
    height: 32px;
}
.clickHere {
    cursor: pointer;
}
.noDataAvailable {
    display: flex;
    height: 181px;
    justify-content: center;
    align-items: center;
}
