<section id="dashboard" class="clearfix">
    <div class="container-fluid top-bar">
        <div class="dashboard-container">
            <!-- <div class="dashboard-notification"> -->
                <!-- code commented for future use -->
                <!-- <div class="white-row" *ngIf="subscribedPlan !== undefined && subscribedPlan.status === 'expired'">
                    <p> <span class="icon-traingle-info"></span> Your {{subscribedPlan.planDetails.duration}}
                        {{subscribedPlan.planDetails.durationUnit}} {{subscribedPlan.planDetails.name}} ended on
                        {{subscribedPlan.expiry}}. Apply to upgrade your subscription. <a class="clickHere"
                            (click)="goToSelectPlan()">Click here</a></p>
                </div> -->
                <!-- <div class="white-row" *ngIf="subscribedPlan !== undefined && subscribedPlan.additionalCharges">
                    <p> <span class="icon-traingle-info"></span> You have crossed the transactions limit of your
                        assigned plan {{subscribedPlan.planDetails.name}} subscribed on {{subscribedPlan.startedAt}}. To
                        continue your accounting with Giddh, Please renew your current plan or switch to another one.
                        Contact us for more assistance. <a class="clickHere" (click)="goToSelectPlan()">Click here</a>
                    </p>
                </div> -->
                <!--        <div class="white-row">-->
                <!--          <p><span class="icon-info-icon"></span> GSTR 2A Mismatch report for FY 2018-19 is now available for download.-->
                <!--            <span class="clickHere ">Visit-->
                <!--              Reports</span></p>-->
                <!--        </div>-->
                <!--        <div class="white-row">-->
                <!--          <p><span class="icon-info-icon"></span>New feature JobWork added <span class="clickHere ">NEW-->
                <!--            </span></p>-->
                <!--        </div>-->
            <!-- </div> -->
            <div class="row">
                <!-- total overdues -->
                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 panel-block" *ngIf="!hideallcharts">
                    <toal-overdues-chart #overdues></toal-overdues-chart>
                </div>
                <!-- profit loss -->
                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 panel-block" *ngIf="!hideallcharts">
                    <profit-loss></profit-loss>
                </div>
                <!-- bank accounts -->
                <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 panel-block" *ngIf="!hideallcharts">
                    <bank-accounts></bank-accounts>
                </div>
                <!-- sales graph -->
                <div class="col-xs-12 col-lg-12 ">
                    <revenue-chart #revenue></revenue-chart>
                </div>
                <!-- ratio analysis -->
                <div class="col-xs-12 " *ngIf="!hideallcharts">
                    <ratio-analysis-chart #ratio></ratio-analysis-chart>
                </div>
                <!-- Debtors / Creditors table -->
                <div class="col-xs-12" *ngIf="!hideallcharts">
                    <cr-dr-list [initializeDateWithUniversalDate]="true"></cr-dr-list>
                </div>
            </div>
        </div>
    </div>
</section>
