<!-- no data start -->
<div class="no-data" *ngIf="noData">
  <h1>Sorry, No Data Found!</h1>
  <img src="/assets/images/no-data.png" alt="">
</div>
<!-- nodata end -->

<div>
  <div *ngIf="!noData">
    <div class="pd15">
      <!--top heading  labels-->


      <!--Main Grid-->
      <div class="row">

        <div class="income col-xs-12 ">
          <div class="table-container clearfix profitLoss">
            <table class="col-xs-12 tb-head">
              <thead>
                <tr>
                  <th class="col-xs-3 ">Particular</th>
                  <th class="col-xs-3 ">As Of {{bsData?.dates?.to}}</th>
                  <th class="col-xs-3 ">As Of {{bsData?.dates?.from}}</th>
                </tr>
              </thead>
            </table>
            <!--Grid-->
            <div class="row mrB1">
              <div class="col-xs-6">
                <h3 class="fs20">I EQUITY AND LIABILITIES </h3>
              </div>
            </div>
            <section class="row row-1" *ngFor="let liabilityGrp  of  bsData?.liabilities | tbsearch: search" style="padding-left:30px"
              bs-grid-row [groupDetail]="liabilityGrp" [search]="search">
              <section class="row row-2 childgroups" *ngFor="let subGrp  of  liabilityGrp.childGroups" style="padding-left:30px" bs-grid-row
                [search]="search" [groupDetail]="subGrp" [ngClass]="{'isHidden': !subGrp.isVisible }">

                <section class="row row-2 accounts" *ngFor="let acc  of subGrp.accounts" style="padding-left:30px" bs-grid-row [groupDetail]="acc"
                  [search]="search" [ngClass]="{'isHidden': !acc.isVisible }">
                </section>
              </section>
            </section>
            <!--/Grid-->
            <div class="col-xs-12">
              <div class="col-xs-4  group">Total Liabilities</div>
              <div class="col-xs-4  group">
                <span class="pull-right">{{ bsData?.liabTotal | number:'1.2-2' }}</span>
              </div>
              <div class="col-xs-4  group">
                <span class="pull-right">{{ bsData?.liabTotal | number:'1.2-2' }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="expenses col-xs-12">
          <div class="table-container clearfix profitLoss table-responsive">
            <!--Grid-->
            <div class="row mrB1">
              <div class="col-xs-4">
                <h3 class="fs20">II ASSETS</h3>
              </div>
            </div>
            <section class="row row-1" *ngFor="let assets of bsData?.assets | tbsearch: search" style="padding-left:30px" bs-grid-row
              [groupDetail]="assets" [search]="search">
              <section class="row row-2 childgroups" *ngFor="let subGrp of  assets.childGroups" style="padding-left:30px" bs-grid-row [groupDetail]="subGrp"
                [search]="search" [ngClass]="{'isHidden': !subGrp.isVisible }">
                <section class="row row-2 accounts" *ngFor="let acc of subGrp.accounts" style="padding-left:30px" pl-grid-row [groupDetail]="acc"
                  [search]="search" [ngClass]="{'isHidden': !acc.isVisible }">
                </section>
              </section>
            </section>
            <!--/Grid-->
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-4  group">Total Assets</div>
          <div class="col-xs-4  group">
            <span class="pull-right">{{ bsData?.assetTotal | number:'1.2-2' }}</span>
          </div>
          <div class="col-xs-4  group">
            <span class="pull-right">{{ bsData?.assetTotal | number:'1.2-2' }}</span>
          </div>
        </div>
        <!-- end of expenses -->
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
