/* * {
    border: 0;
    box-sizing: content-box;
    color: #262626;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: initial;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
} */

.strong {
    font-weight: bold;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    /*font-size: 10px !important;*/
}
.font-12 {
    font-size: 12px !important;
}
.mrT10 {
    margin-top: 10px;
}
.mrT20 {
    margin-top: 20px;
}
.mrT60 {
    margin-top: 60px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.max-width-180 {
    /* max-width: 180px !important; */
}

/* heading */

#Template2 {
    border: 1px solid #bfbfbf;
}

#Template2 header h1 {
    /* color: #df4927;*/
    font-size: 14px;
    font-weight: bold;
}

#Template2 header h2 {
    /* color: #df4927; */
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

/* table */

#Template2 table {
    table-layout: fixed;
    width: 100%;
}

#Template2 .item th,
#Template2 tfoot tr td {
    background: rgba(223, 73, 39, 0.05);
    border: 0;
    font-weight: normal;
}
#Template2 .item th,
#Template2 .item td {
    /*font-size: 10px;*/
}
#Template2 tfoot tr td {
    /*font-size: 11px;*/
}

/* page */

#Template2 {
    font: 14px/1 "Open Sans", sans-serif;
    overflow: auto;
}

/* padding: 0.5in; */

#Template2 {
    background: #999;
    cursor: default;
}

#Template2 body {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.1in;
    /*font-size: 12px;*/
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

/* header */

#Template2 header {
    padding: 10px 0 10px;
}

#Template2 header:after {
    clear: both;
    content: "";
    display: table;
}
.invoice-date-table {
    float: right;
    width: 190px !important;
}

.pull-right tr td {
    text-align: right !important;
}

#Template2 header .number-detail-series label {
    width: 50px;
    float: left;
}

#Template2 .meta {
    padding: 0 0.23in 0.03in;
    margin-bottom: 10px;
}

#Template2 .meta tbody tr td,
#Template2 .meta tbody tr th {
    border: 0;
    padding: 5px 0;
}

#Template2 .meta tbody tr th {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    color: #262626;
}

#Template2 .meta tbody tr td > table tr td {
    padding: 2px 0;
    line-height: 1.3rem;
}

#Template2 .meta tbody tr td:nth-child(2) > table tbody tr td {
    background: #f2f2f2;
    line-height: initial;
    padding: 7px;
    display: block;
}
.table-address tr {
    margin-bottom: 5px;
    display: block;
}

#Template2 header figure {
    font-style: normal;
    padding: 0;
}

#Template2 header figure p {
    margin: 0 0 0.25em;
}

/* #Template2 header span {
  margin: 0 0 1em 1em;
  max-height: 25%;
  max-width: 60%;
  position: relative;
} */

#Template2 header img {
    max-height: 100%;
    margin-bottom: 8px;
    float: left;
}

#Template2 header table tr td {
    border: 0;
}

/* article */

/* #Template2 article,
article address,
table.meta,
table.inventory {
  margin: 0 0 3em;
} */

#Template2 article:after {
    clear: both;
    content: "";
    display: table;
}

#Template2 article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

#Template2 article address {
    float: left;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left !important;
}

/* table items */

#Template2 table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#Template2 table.item th,
#Template2 table.item tfoot td {
    text-align: right;
    padding: 13px 7px;
    vertical-align: middle;
}

#Template2 table.item tfoot td {
    padding-right: 7px;
}

#Template2 table.item td {
    border-radius: 0;
    padding: 7px;
    border-top: 1px solid #d6d6d6;
    text-align: right;
    line-height: 1rem;
    vertical-align: middle;
    /*font-size: 10px;*/
}

#Template2 table.item td p {
    color: #595959;
    font-size: 8px;
}

/* table balance */

#Template2 table.balance {
    width: 75%;
    float: right;
    margin: 0px 7px 80px;
}

#Template2 table.balance th,
#Template2 table.balance td {
    width: 50%;
    text-align: right;
    padding: 4px;
    font-weight: normal;
    /*font-size: 11px;*/
}

/* aside */

#Template2 aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#Template2 aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

/*footer*/

#Template2 footer {
    border-top: 1px solid;
    padding: 19px 0 4px;
    margin: 8px 0 0;
    background: #fff;
}

#Template2 aside {
    line-height: 1.5rem;
}

#Template2 .subfooter {
    padding: 0 20px;
}

#Template2 .subfooter hr {
    width: 100%;
    border-bottom: 1px solid #595959;
    margin: 3px 0;
}

#Template2 .subfooter h4 {
    /*font-size: 14px;
   color: #df4927; */
    margin: 10px 0 0;
}

#Template2 strong,
#Template2 .strong {
    font-weight: bold;
}

#Template2 .disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#Template2 .disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

#Template2 .edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

#Template2 .edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

img {
    max-width: 180px;
    margin-bottom: 10px;
}

.logo {
    display: block;
    overflow: hidden;
}

footer p {
    /*font-size: 10px;*/
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
