@import "../../../../assets/css/color.scss";
.td_in_searchBox {
    div {
        .td_in_searchBox {
            display: flex;
        }
        i {
            margin-top: 1px;
            color: $iconColorTh;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }
}
