@import "../../../../assets/css/color.scss";

.invoiceFooter {
    h3 {
        font-size: 16px;
        color: #999999;
        display: inline-block;
        margin-right: 10px;
    }
}
.invoiceFooter {
    h1 {
        font-size: 28px;
        color: #333;
        display: inline-block;
    }
}

.branch-transfer-report .basic > thead > tr > th {
    border-top: 1px solid $tableBorderColor !important;
}
.icon-pointer.activeTextColor {
    color: #01a9f4;
}
.voucher-type-dropdown {
    width: 35px;
    float: right;
}
.voucher-type-dropdown .btn {
    padding: 0 8px;
    margin-right: 0px;
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 36px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $tableBorderColor;
    color: #999999;
    left: 0;
    font-size: 18px;
}
.input-grp-dateRangePicker input.form-control {
    padding-left: 45px !important;
    width: 210px;
    &:focus {
        border-color: $tableBorderColor !important;
    }
}
.btn-filter {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    font-size: 16px;
    color: #1a237e;
    display: inline-flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 10px !important;
    .icon-cross {
        margin-right: 5px;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
    &:active {
        box-shadow: none;
        outline: none;
    }
}

@media only screen and (max-width: 1400px) {
    .basic > thead > tr > th {
        min-width: 200px;
    }
}
@media only screen and (max-width: 767px) {
    .basic > thead > tr > th {
        min-width: initial;
    }
}
