.td_in_searchBox div i {
    margin-top: 1px;
    color: #757bb9;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.td_in_searchBox div {
    display: flex;
}
