#template3 * {
    box-sizing: content-box;
    color: #262626;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
body {
    font-size: 12px;
    background: #fff;
}
.bold {
    font-weight: bold !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}
.max-width-180 {
    /* max-width: 180px !important; */
}

.total-payment th {
    border-top: 1px solid #939292 !important;
}
/* NOTE:  comment padding, max-width, border in #template3 css for java */

#template3 {
    font: 14px/1 "Open Sans", sans-serif;
    /*overflow: auto;*/
    background: #fff;
    border: 1px solid #bfbfbf;
    max-width: 8.3in;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 20px; */
}

#template3 header {
    border-bottom: 1px solid #000;
    padding: 20px;
}

#template3 .text-right {
    text-align: right;
}

#template3 .text-left {
    text-align: left !important;
}

#template3 .pull-right {
    float: right;
}

#template3 .pull-left {
    float: left;
}

#template3 table {
    width: 100%;
    table-layout: fixed;
    line-height: 20px;
    border-collapse: inherit;
}

#template3 .logo {
    max-width: 120px;
    width: 100%;
}

#template3 strong {
    font-weight: bold;
}

#template3 .item {
    table-layout: auto !important;
}

#template3 .item tbody tr td,
#template3 .item thead tr th {
    text-align: right;
}

#template3 .mr-l2 {
    margin-left: 20px;
}

#template3 .mr-b2 {
    margin-bottom: 20px;
}

#template3 .meta {
    padding: 20px;
}

#template3 .meta h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 4px;
}

#template3 .product-table,
#template3 .tax-table {
    position: relative;
    /* padding: 0 20px; */
    padding-bottom: 10px;
}

#template3 .item thead tr th {
    padding: 10px 8px 8px;
    border-bottom: 1px solid #666666;
    font-weight: bold;
}

#template3 .product-table tbody tr:last-child td {
    padding-bottom: 50px;
}

#template3 .product-table:before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: " ";
    background: #f1eae8;
    left: -20px;
    width: 105.1%;
    z-index: -1;
}

#template3 .in-words {
    color: #7d7d7d;
}

#template3 .item tbody tr td {
    padding: 8px;
}

#template3 .item tfoot tr:last-child th {
    border-top: 1px solid #666666;
    padding: 6px 8px;
    vertical-align: middle;
}

#template3 .product-table tfoot tr:last-child th {
    border-top: 0;
}
/*
#template3 .product-table tfoot tr:last-child th:last-child {
  border-top: 1px solid #666;
  border-bottom: 4px double #666;
} */
#template3 .tax-table p {
    color: #595959;
}

#template3 .tax-table tfoot th {
    font-weight: bold;
}

#template3 .bd-rb {
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

#template3 .subfooter {
    margin-top: 100px;
    padding: 0 20px;
}

#template3 .subfooter h1 {
    /*font-size: 24px;*/
    margin: 10px 0 0;
    font-weight: 700;
}

#template3 .subfooter .normal {
    font-size: 12px;
    vertical-align: baseline;
    font-weight: 100;
}

#template3 .vertical-align-middle {
    vertical-align: middle;
}

#template3 .note {
    margin-top: 10px;
    padding-left: 15px;
}

#template3 .note li {
    list-style-type: initial;
    /*font-size: 10px;*/
}

#template3 footer {
    border-top: 2px solid #df4927;
    line-height: 20px;
    padding: 15px 0;
    margin: 8px 0 0;
    background: #fff;
}
#template3 footer p {
    font-size: 10px;
}

#template3 .position-relative {
    position: relative;
}

#template3 .primary-color {
    color: #df4927;
}

#template3 .disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px !important;
}

#template3 .disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

#template-table {
    float: left;
    width: 100%;
}

.clearfix {
    clear: both;
}

#template-footer {
    float: left;
    width: 100%;
}

#template3 .sub-total th {
    padding: 6px 0px !important;
    border-bottom: 1px solid #666666 !important;
}

#template3 .edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

#template3 .edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

img {
    max-width: 180px;
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
