@import "../../../../assets/css/color.scss";
.reciptNoteHeader {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #c4c4c4;
    font-size: 18px;
    font-family: "opensans-bold";
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    color: #1a237e;
}
section.reciptNote {
    background-color: #fff;
}
.reciptNoteRadioBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1c1c1c;
    border-bottom: 1px solid #c4c4c4;
}
.reciptNoteContent {
    font-size: 14px;
    height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.multiple-products label {
    vertical-align: middle;
    line-height: 2.5;
    color: #1c1c1c;
}
#table-recipt th,
#table-recipt td {
    border-left: 1px solid #ddd !important;
}
#table-recipt td {
    vertical-align: top !important;
}
.tableSec .tableRow .tableCell {
    vertical-align: middle;
    text-align: right;
    padding-bottom: 7px;
    display: table-cell;
    width: 200px;
}
button.btn.btn-filter {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    font-size: 16px;
    color: #1a237e;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 10px;
}
.date-advanceSearch {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 9px;
}
.tableSec .tableRow .figureCell {
    width: 140px;
    padding-right: 0;
}
.tableSec {
    float: right;
    margin-right: 35px;
}
tfoot td .tableSec.form-group {
    margin-right: 0;
}
#table-recipt #tfoot tr td {
    border: none !important;
}
.copyReciptNote {
    position: absolute;
    right: -60%;
    top: 9px;
    font-size: 12px;
    color: #0c8fe6;
    z-index: 9;
}
.senderDetails,
.senderRecivers,
.multipleRecivers {
    font-size: 12px;
    color: #0c8fe6;
    margin-top: 7px;
    cursor: pointer;
}
.rightTotalAmount {
    text-align: right;
    color: #1c1c1c;
}

.rightTotalAmount h3 {
    font-size: 26px;
    font-family: opensans-semibold;
}
.multiple-products-wrapper form{
    padding-bottom: 60px;
}
.multiple-products-wrapper  table thead{
    border-top: 1px solid #d9d9d9;
}
.multiple-products-wrapper  table tbody {
    border-bottom: 1px solid #d9d9d9;
}
#actionPane {
    background-color: #ccc;
    padding: 20px 0;
}
.btn-success-text {
    background-color: #e6e6e6;
    color: #28ab00;
}
.btn-danger:hover {
    background-color: #e6e6e6;
}

.hsnCodeDropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
    left: auto;
    top: 31px;
    padding: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    right: 0;
    z-index: 4;
}
.skuNumberDropdown {
    left: 0 !important;
}
.hsnCodeDropdown label {
    font-size: 12px !important;
    margin-bottom: 5px;
    display: block;
}

.hsnCodeDropdown input {
    width: 100%;
    height: 28px !important;
    padding: 5px;
    max-width: 200px;
    border: 1px solid #c7c7c7;
}

.hsnCodeDropdown input::placeholder,
.hsnCodeDropdown input::-webkit-input-placeholder {
    color: #c6c6c6;
}

.hsnCodeDropdown a {
    display: inline-block;
    text-align: center;
    color: #cccccc;
    padding: 5px 8px;
    font-size: 16px;
}

.hsnCodeDropdown .btn-group {
    margin-top: 5px;
}

.hsnCodeDropdown button.btn.btn-sm.btn-success,
.bulkItemBtnGroup button.btn.btn-sm.btn-success {
    background-color: #28ab00;
    color: #fff;
}
.skuCode,
.hsnCode {
    padding: 5px 0;
}
/* new branch transfer list css  */
.branch-transfer-report .input-group {
    width: 230px;
}
.branch-transfer-report .inputWrapper {
    display: block !important;
    width: 100% !important;
    position: relative;
    height: 36px !important;
}
.branch-transfer-report .inputWrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: #d9d9d9;
    left: 37px !important;
    z-index: 100;
    top: 0;
}
.branch-transfer-report .input-group input.form-control {
    padding-left: 35px !important;
    border-color: #d1d1d1;
    background-image: url("../../../../assets/images/calender.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
}
.branch-transfer-report .input-group input.form-control:focus {
    border-color: #d1d1d1 !important;
}
.branch-transfer-report .btn-group.show {
    display: inline !important;
}
.branch-transfer-report .btn-group a {
    color: #333;
}
.branch-transfer-report .basic > thead > tr > th {
    border-top: 1px solid #d9d9d9 !important;
}
.branch-transfer-report tbody {
    border-bottom: 1px solid #d9d9d9 !important;
}
.branch-transfer-report ul#dropdown-basic {
    right: 0 !important;
    left: auto !important;
}

.td_in_searchBox div {
    display: flex;
}

.td_in_searchBox div span {
    padding-right: 8px;
}

.td_in_searchBox div i {
    margin-top: 3px;
    color: #8080808c;
    padding-right: 8px;
    cursor: pointer;
}

.td_in_searchBox {
    padding: 0 0 0 10px !important;
}
.td_in_searchBox .input-container {
    position: relative;
}
.td_in_searchBox .input-container input {
    min-height: 38px;
    width: 100%;
    padding: 8px;
    padding-right: 40px;
    border: 0px;
}

.td_in_searchBox .input-container i {
    position: absolute;
    right: 0px;
    top: 9px;
}
.td_in_searchBox .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 0;
    color: #1c1c1c;
    border: none;
    background-color: #f2f2f2;
}

.advance-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid $Gainsboro;
    border-radius: 2px;
    color: $midnight-express;
    background: #fff;
}
.advance-icon:hover {
    background: #eaeaea;
}
#table-recipt {
    width: 100%;
    max-width: 1140px;
}
.trash-icon-delete {
    position: absolute;
    right: -30px;
    top: 0;
    transform: translateY(16px);
}
.trash-icon-delete a {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addNewLine.mrT1 {
    position: absolute;
    width: 100%;
}
.pdT3 {
    padding-top: 30px;
}
.recept-modal .modal-title {
    color: #fff;
}
.transfertype-checked:before {
    border: 1px solid #5b64c9;
}
.transfertype-checked:after {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #5b64c9;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    text-align: center;
}
.aside-pane {
    overflow: auto;
    width: 475px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px;
}
.aside-pane.aside-right.out button#close {
    right: -60px;
}

.aside-right {
    font-size: 14px;
    background: #fff;
    right: -530px;
    transition: 0.5s all ease;
    z-index: 999;
}
.aside-right .control-label {
    padding-left: 20px;
    text-align: left;
}
.aside-right .list-icon-group label {
    margin: 0px !important;
    vertical-align: middle;
}

.aside-right .list-icon-group label {
    padding: 5px 10px;
    border: 1px solid transparent;
}

.aside-right .list-icon-group input:checked + label {
    border: 1px solid #ff5f00;
    border-radius: 0px;
}

.aside-pane.aside-right.in {
    right: 0;
    z-index: 9999;
}
.aside-overlay.out {
    visibility: hidden;
    opacity: 0;
}

.aside-overlay.in {
    visibility: visible;
    opacity: 0.6;
    z-index: 9999;
}

.aside-overlay {
    transition: 0.5s all ease;
    z-index: 999;
}
.icon-pointer.activeTextColor {
    color: #01a9f4;
}
.closeRecipt {
    color: #666666;
    font-size: 24px;
}
.form-control[readonly] {
    background-color: #fff !important;
}
.select-action-button {
    background: none;
    border: none;
    padding-left: 0;
}
