<div class="branch-transfer-report">
    <div class="container-fluid">
        <div class="row pdT1">
            <div class="col-sm-6 form-group d-flex">
                <div class="input-group ">
                    <span class="inputWrapper">
                        <input class="form-control" placeholder="Filter by Date" [bsValue]="datePicker"
                            (bsValueChange)="changeFilterDate($event)" bsDaterangepicker #dpr="bsDaterangepicker" />
                    </span>
                </div>
                <div class="advance-icon" style="align-items: center" tooltip="Advance Search"
                    (click)="openSearchModal(template)">
                    <span class="icon-advance-serch"></span>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <button class="btn btn-pink pull-right" (click)="toggleTransferAsidePane()">+ New Transfer</button>
            </div>
        </div>

        <div class="report-table">
            <table class="table basic">
                <thead>
                    <tr (clickOutside)="inlineSearch = null">
                        <th width="3%">#</th>
                        <th width="10%">Date</th>
                        <th width="20%">Voucher Type</th>
                        <th width="20%">Voucher No.</th>
                        <th width="10%" class="td_in_searchBox">
                            <div>
                                <span>Sender/Receiver</span>
                                <i class="icon-search" (click)="inlineSearch = 'senderReceiver'"></i>
                            </div>
                            <div class="input-container" [hidden]="inlineSearch !== 'senderReceiver'">
                                <input type="text" placeholder="Search Sender/Receiver" class="w100" name="senderReceiver" [(ngModel)]="branchTransferPostRequestParams.senderReceiver" (keypress)="columnSearch()" (keydown)="columnSearch()" />
                            </div>
                        </th>
                        <th width="10%" class="td_in_searchBox">
                            <div>
                                <span>Warehouse</span>
                                <i class="icon-search" (click)="inlineSearch = 'warehouseName'"></i>
                            </div>
                            <div class="input-container" [hidden]="inlineSearch !== 'warehouseName'">
                                <input type="text" placeholder="Warehouse" class="w100" name="warehouseName" [(ngModel)]="branchTransferPostRequestParams.warehouseName" (keypress)="columnSearch()" (keydown)="columnSearch()"  />
                            </div>
                        </th>
                        <th width="10%" class="text-right">Total Amount</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of branchTransferResponse.items; let i = index;">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.dateOfSupply }}</td>
                        <td><span *ngIf="item.voucherType === 'deliverynote'">Delivery Note</span><span *ngIf="item.voucherType === 'receiptnote'">Receipt Note</span></td>
                        <td>{{ item.voucherNo }}</td>
                        <td>{{ item.senderReceiver }}</td>
                        <td>{{ item.warehouseName }}</td>
                        <td class="text-right">{{ item.totalAmount }}</td>
                        <td>
                            <div class="btn-group pull-right" dropdown [autoClose]="true">
                                <a id="button-basic" dropdownToggle type="button"
                                    class="icon-dots-three-vertical dropdown-toggle" aria-controls="dropdown-basic">
                                </a>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-basic">
                                    <!-- <li role="menuitem">
                                        <a class="dropdown-item" href="javascript:;">Received</a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" href="javascript:;">Delivered</a>
                                    </li> -->
                                    <li role="menuitem">
                                        <a class="dropdown-item" href="javascript:;">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginationWrapper">
            <pagination [totalItems]="branchTransferResponse.totalPages" [(ngModel)]="branchTransferResponse.page"
                [maxSize]="6" class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="1" [rotate]="false"
                (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>
<!-- advance search start -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title bg pull-left">Advance Search</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pdL2 pdR2">
        <form class="clearfix">
            <div class="row">
                <div class="col-sm-4"><label>Voucher Type</label></div>
                <div class="col-sm-8">
                    <sh-select name="voucherType" [(ngModel)]="branchTransferPostRequestParams.voucherType"
                        [options]="voucherTypes"></sh-select>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-sm-4"><label>Total Amount</label></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            <sh-select name="amountOperators"
                                [(ngModel)]="branchTransferPostRequestParams.amountOperators"
                                [options]="amountOperators"></sh-select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="0" name="amount"
                                [(ngModel)]="branchTransferPostRequestParams.amount" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-md btn-success mrR1" type="button" (click)="search()">
                    Search
                </button>
                <button class="btn btn-md btn-cancel" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>
<!-- advance search end -->

<!-- aside inwards/outwards/transfer pane -->
<div class="aside-overlay" *ngIf="asideTransferPaneState === 'in'"></div>
<aside-branch-transfer-pane *ngIf="asideTransferPaneState === 'in'" [class]="asideTransferPaneState"
    [@slideInOut]="asideTransferPaneState" (closeAsideEvent)="toggleTransferAsidePane()"></aside-branch-transfer-pane>
<!-- aside inwards/outwards/transfer pane -->

<!-- branch transfer modal -->
<ng-template #branchtransfertemplate>
    <div class="recept-modal">
        <div class="modal-body">
            <new-branch-transfer [branchTransferMode]="branchTransferMode"></new-branch-transfer>
        </div>
    </div>
</ng-template>
