<div class="branch-transfer-report">
    <div class="container-fluid">
        <div class="d-flex flex-column">
            <div class="d-flex date-advance-search justify-content-between">
                <div class="clearfix d-flex">
                    <button
                        *ngIf="!(currentOrganizationType !== 'BRANCH' && currentCompanyBranches?.length > 2)"
                        class="btn btn-sky-blue mr-r1 pull-right mobile-none"
                        data-toggle="tooltip"
                        tooltip="Alt+N"
                        (click)="toggleTransferAsidePane()"
                    >
                        + New Transfer
                    </button>
                    <div class="d-flex flex-sm-row flex-column branch-transfer-flex">
                        <div
                            *ngIf="currentCompanyBranches?.length > 2 && currentOrganizationType === 'COMPANY'"
                            class="input-group form-group linked-entities mb-0 mr-r1"
                        >
                            <sh-select
                                [options]="currentCompanyBranches"
                                [(ngModel)]="currentBranch.uniqueName"
                                class="branch-dropdown"
                                [showClear]="false"
                                [ItemHeight]="33"
                                width="100%"
                                (selected)="handleBranchChange($event)"
                                [isFilterEnabled]="true"
                                placeholder="Select Entity"
                                [fixedValue]="currentBranch?.name"
                            >
                                <ng-template #optionTemplate let-option="option">
                                    <ng-container>
                                        <a href="javascript:void(0)" class="list-item d-flex">
                                            <span class="entity-icon">
                                                <i
                                                    [ngClass]="{
                                                        'icon-company-profile': option.consolidatedBranch,
                                                        'icon-branch-icon': !option.consolidatedBranch
                                                    }"
                                                    class="pull-right"
                                                    *ngIf="!option.isCompany"
                                                    tooltip="Branch"
                                                ></i>
                                                <i
                                                    class="icon-company-profile pull-right"
                                                    *ngIf="option.isCompany"
                                                    tooltip="Company"
                                                ></i>
                                            </span>
                                            <span class="entity-details">
                                                <div class="item giddh-limit single-line-clamp">
                                                    {{ option.label || "-" }}
                                                </div>
                                                <div class="item-unique giddh-limit single-line-clamp">
                                                    {{ option.name || "-" }}
                                                </div>
                                            </span>
                                        </a>
                                    </ng-container>
                                </ng-template>
                            </sh-select>
                        </div>
                        <div class="custom-datepicker" (click)="showGiddhDatepicker($event)">
                            <input
                                type="text"
                                name="selectedDateRange"
                                [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                                class="giddh-datepicker date-range-picker"
                            />
                        </div>
                    </div>
                </div>
                <div class="text-center d-lg-flex d-none">
                    <div class="clear-filter" *ngIf="checkIfFiltersApplied()">
                        <button class="btn btn-filter mr-0" (click)="clearFilters()">
                            <span class="icon-cross"></span> Clear Filter
                        </button>
                    </div>
                </div>
                <div
                    class="advance-icon pointer mobile-none btn btn-primary mr-0"
                    tooltip="Advance Search"
                    (click)="openSearchModal(template)"
                >
                    <span class="pd-r05 d-sm-flex d-none">Filter</span>
                    <span class="icon-advance-filter"></span>
                </div>
            </div>
            <div class="d-lg-none mr-b1">
                <div class="clear-filter" *ngIf="checkIfFiltersApplied()">
                    <button class="btn btn-filter mr-0" (click)="clearFilters()">
                        <span class="icon-cross"></span> Clear Filter
                    </button>
                </div>
            </div>
        </div>
        <div class="report-table table-responsive">
            <table class="table basic giddh-table on-mobile-view">
                <thead
                    [hidden]="
                        !branchTransferResponse?.items?.length &&
                        !branchTransferPostRequestParams?.sender &&
                        !branchTransferPostRequestParams?.receiver &&
                        !branchTransferPostRequestParams?.senderReceiver &&
                        !branchTransferPostRequestParams?.fromWarehouse &&
                        !branchTransferPostRequestParams?.toWarehouse
                    "
                >
                    <tr (clickOutside)="inlineSearch = null">
                        <th width="3%">#</th>
                        <th width="10%" (click)="sortBranchTransferList('dateOfSupply')">
                            Date
                            <span
                                [ngClass]="{
                                    'sorting-icon icon-pointer': 1 === 1,
                                    'active-text-color': branchTransferGetRequestParams.sortBy === 'dateOfSupply',
                                    'icon-sort-asc':
                                        branchTransferGetRequestParams.sortBy !== 'dateOfSupply' ||
                                        (branchTransferGetRequestParams.sortBy === 'dateOfSupply' &&
                                            branchTransferGetRequestParams.sort === 'asc'),
                                    'icon-arrow-down':
                                        branchTransferGetRequestParams.sortBy === 'dateOfSupply' &&
                                        branchTransferGetRequestParams.sort === 'desc'
                                }"
                            ></span>
                        </th>
                        <th width="20%">Voucher Type</th>
                        <th width="20%">Voucher No.</th>
                        <ng-container *ngIf="currentOrganizationType !== 'BRANCH'">
                            <th width="17%" class="bd-rr bd-rb td-search-box">
                                <div [hidden]="inlineSearch == 'sender'">
                                    <i class="icon-search" (click)="focusOnColumnSearch('sender')"></i>
                                    <span class="pl-0">Sender</span>
                                </div>
                                <div class="input-container" [hidden]="inlineSearch !== 'sender'">
                                    <input
                                        type="text"
                                        placeholder="Sender"
                                        class="w100"
                                        #senderReceiverField
                                        name="sender"
                                        [(ngModel)]="branchTransferPostRequestParams.sender"
                                        (keypress)="columnSearch()"
                                        (keydown)="columnSearch()"
                                    />
                                </div>
                            </th>
                            <th width="17%" class="bd-rr bd-rb td-search-box">
                                <div [hidden]="inlineSearch == 'receiver'">
                                    <i class="icon-search" (click)="focusOnColumnSearch('receiver')"></i>
                                    <span class="pl-0">Receiver</span>
                                </div>
                                <div class="input-container" [hidden]="inlineSearch !== 'receiver'">
                                    <input
                                        type="text"
                                        placeholder="Receiver"
                                        class="w100"
                                        #senderReceiverField
                                        name="receiver"
                                        [(ngModel)]="branchTransferPostRequestParams.receiver"
                                        (keypress)="columnSearch()"
                                        (keydown)="columnSearch()"
                                    />
                                </div>
                            </th>
                        </ng-container>
                        <ng-container *ngIf="currentOrganizationType === 'BRANCH'">
                            <th width="17%" class="bd-rr bd-rb td-search-box">
                                <div [hidden]="inlineSearch == 'senderReceiver'">
                                    <i class="icon-search" (click)="focusOnColumnSearch('senderReceiver')"></i>
                                    <span class="pl-0">Sender/Receiver</span>
                                </div>
                                <div class="input-container" [hidden]="inlineSearch !== 'senderReceiver'">
                                    <input
                                        type="text"
                                        placeholder="Sender/Receiver"
                                        class="w100"
                                        #senderReceiverField
                                        name="senderReceiver"
                                        [(ngModel)]="branchTransferPostRequestParams.senderReceiver"
                                        (keypress)="columnSearch()"
                                        (keydown)="columnSearch()"
                                    />
                                </div>
                            </th>
                        </ng-container>
                        <th width="10%" class="td-search-box">
                            <div [hidden]="inlineSearch == 'fromWarehouse'">
                                <i class="icon-search" (click)="focusOnColumnSearch('fromWarehouse')"></i>
                                <span class="pl-0">From Warehouse</span>
                            </div>
                            <div class="input-container" [hidden]="inlineSearch !== 'fromWarehouse'">
                                <input
                                    type="text"
                                    placeholder="From Warehouse"
                                    class="w100"
                                    #warehouseNameField
                                    name="fromWarehouse"
                                    [(ngModel)]="branchTransferPostRequestParams.fromWarehouse"
                                    (keypress)="columnSearch()"
                                    (keydown)="columnSearch()"
                                />
                            </div>
                        </th>
                        <th width="10%" class="td-search-box">
                            <div [hidden]="inlineSearch == 'toWarehouse'">
                                <i class="icon-search" (click)="focusOnColumnSearch('toWarehouse')"></i>
                                <span class="pl-0">To Warehouse</span>
                            </div>
                            <div class="input-container" [hidden]="inlineSearch !== 'toWarehouse'">
                                <input
                                    type="text"
                                    placeholder="To Warehouse"
                                    class="w100"
                                    #warehouseNameField
                                    name="toWarehouse"
                                    [(ngModel)]="branchTransferPostRequestParams.toWarehouse"
                                    (keypress)="columnSearch()"
                                    (keydown)="columnSearch()"
                                />
                            </div>
                        </th>
                        <th width="10%" (click)="sortBranchTransferList('totalAmount')" class="text-right">
                            Total Amount
                            <span
                                [ngClass]="{
                                    'sorting-icon icon-pointer': 1 === 1,
                                    'active-text-color': branchTransferGetRequestParams.sortBy === 'totalAmount',
                                    'icon-sort-asc':
                                        branchTransferGetRequestParams.sortBy !== 'totalAmount' ||
                                        (branchTransferGetRequestParams.sortBy === 'totalAmount' &&
                                            branchTransferGetRequestParams.sort === 'asc'),
                                    'icon-arrow-down':
                                        branchTransferGetRequestParams.sortBy === 'totalAmount' &&
                                        branchTransferGetRequestParams.sort === 'desc'
                                }"
                            ></span>
                        </th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="!isLoading && branchTransferResponse.items && branchTransferResponse.items.length > 0">
                    <tr *ngFor="let item of branchTransferResponse.items; let i = index">
                        <td data-title="#">
                            {{
                                branchTransferGetRequestParams.count * (branchTransferGetRequestParams.page - 1) +
                                    (i + 1)
                            }}
                        </td>
                        <td data-title="Date">{{ item.dateOfSupply }}</td>
                        <td data-title="Voucher Type">
                            <span *ngIf="item.voucherType === 'deliverynote'">Delivery Challan</span
                            ><span *ngIf="item.voucherType === 'receiptnote'">Receipt Note</span>
                        </td>
                        <td data-title="Voucher Number">
                            <a href="javascript:;" (click)="showEditBranchTransferPopup(item)">{{ item.voucherNo }}</a>
                        </td>
                        <td *ngIf="currentOrganizationType === 'BRANCH'" data-title="Sender/Receiver">
                            {{ item.senderReceiver }}
                        </td>
                        <td *ngIf="currentOrganizationType !== 'BRANCH'" data-title="Sender">{{ item.sender }}</td>
                        <td *ngIf="currentOrganizationType !== 'BRANCH'" data-title="Receiver">{{ item.receiver }}</td>
                        <td data-title="From Warehouse">{{ item.fromWarehouse }}</td>
                        <td data-title="To Warehouse">{{ item.toWarehouse }}</td>
                        <td data-title="Total Amount" class="text-right">
                            {{ activeCompany?.baseCurrencySymbol }} {{ item.totalAmount | giddhCurrency }}
                        </td>
                        <td data-title="Action">
                            <div class="btn-group" container="body" dropdown [autoClose]="true">
                                <button
                                    id="button-basic"
                                    dropdownToggle
                                    type="button"
                                    class="dropdown-toggle select-action-button"
                                    aria-controls="dropdown-basic"
                                >
                                    <span class="text-light-2">Select Action</span>
                                    <span class="icon-dots-three-vertical"></span>
                                </button>
                                <ul
                                    id="dropdown-basic"
                                    *dropdownMenu
                                    class="dropdown-menu action-dropdown"
                                    role="menu"
                                    aria-labelledby="button-basic"
                                >
                                    <li role="menuitem">
                                        <a
                                            class="dropdown-item"
                                            href="javascript:;"
                                            (click)="downloadBranchTransfer(item)"
                                            >Download</a
                                        >
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            class="dropdown-item"
                                            href="javascript:;"
                                            (click)="showEditBranchTransferPopup(item)"
                                            >Edit</a
                                        >
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            class="dropdown-item"
                                            href="javascript:;"
                                            (click)="showDeleteBranchTransferModal(item)"
                                            >Delete</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody
                    class="on-mobile-view no-records"
                    *ngIf="!branchTransferResponse.items || branchTransferResponse.items.length === 0"
                >
                    <tr>
                        <td *ngIf="isLoading" [attr.colspan]="currentOrganizationType === 'BRANCH' ? 9 : 11">
                            <giddh-page-loader></giddh-page-loader>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-wrapper mt-4" *ngIf="branchTransferResponse.totalPages > 1">
            <pagination
                [totalItems]="branchTransferResponse.totalPages"
                [(ngModel)]="branchTransferResponse.page"
                [maxSize]="6"
                class="pagination-sm"
                [boundaryLinks]="true"
                [itemsPerPage]="1"
                [rotate]="false"
                (pageChanged)="pageChanged($event)"
            ></pagination>
        </div>
        <div
            class="no-data"
            *ngIf="!isLoading && (!branchTransferResponse.items || branchTransferResponse.items.length === 0)"
        >
            <h1>No entries found within given criteria.</h1>
            <h1 class="p-0">Do search with some other dates.</h1>
        </div>
    </div>
</div>
<!-- advance search start -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title bg pull-left">Advance Search</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pd-l2 pd-r2">
        <form class="clearfix">
            <div class="row">
                <div class="col-sm-4"><label>Voucher Type</label></div>
                <div class="col-sm-8">
                    <sh-select
                        name="voucherType"
                        [(ngModel)]="branchTransferTempPostRequestParams.voucherType"
                        [options]="voucherTypes"
                        [forceClearReactive]="forceClear$ | async"
                    ></sh-select>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-sm-4"><label>Total Amount</label></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            <sh-select
                                name="amountOperators"
                                [(ngModel)]="branchTransferTempPostRequestParams.amountOperator"
                                [options]="amountOperators"
                                (selected)="checkIfAmountEmpty()"
                                [forceClearReactive]="forceClear$ | async"
                            ></sh-select>
                        </div>
                        <div class="col-sm-4">
                            <input
                                type="tel"
                                class="form-control"
                                placeholder="0"
                                name="amount"
                                [(ngModel)]="branchTransferTempPostRequestParams.amount"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right mr-t1">
                <button class="btn btn-md btn-success mr-r1" type="button" (click)="search()">Search</button>
                <button
                    class="btn btn-md btn-cancel mr-0"
                    type="button"
                    (click)="refreshTempPostParams(); hideModal(false)"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>
<!-- advance search end -->

<!-- aside inwards/outwards/transfer pane -->
<div class="aside-overlay" *ngIf="asideTransferPaneState === 'in'"></div>
<aside-branch-transfer-pane
    *ngIf="asideTransferPaneState === 'in'"
    [class]="asideTransferPaneState"
    [@slideInOut]="asideTransferPaneState"
    (transferType)="openBranchTransferPopup($event)"
    (closeAsideEvent)="toggleTransferAsidePane()"
></aside-branch-transfer-pane>
<!-- aside inwards/outwards/transfer pane -->

<!-- branch transfer modal -->
<ng-template #branchtransfertemplate>
    <div class="recept-modal">
        <div class="modal-body radius-none pr-0 pl-0 pt-0 p-0">
            <new-branch-transfer
                (hideModal)="hideModal(true)"
                [editBranchTransferUniqueName]="editBranchTransferUniqueName"
                [branchTransferMode]="branchTransferMode"
            >
            </new-branch-transfer>
        </div>
    </div>
</ng-template>

<!--delete modal  -->
<div bsModal #deleteBranchTransferModal="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <confirm-modal
                [title]="'Delete ' + selectedBranchTransferType"
                [body]="'Are you sure you want to delete this ' + selectedBranchTransferType + '?'"
                (cancelCallBack)="hideBranchTransferModal()"
                (successCallBack)="deleteNewBranchTransfer()"
            >
            </confirm-modal>
        </div>
    </div>
</div>
<ng-template #datepickerTemplate>
    <div class="datepicker-modal">
        <div class="modal-body">
            <app-datepicker-wrapper
                [inputStartDate]="selectedDateRange?.startDate"
                [inputEndDate]="selectedDateRange?.endDate"
                [alwaysShowCalendars]="true"
                [ranges]="datePickerOption"
                [selectedRangeLabel]="selectedRangeLabel"
                [showCustomRangeLabel]="true"
                [showClearButton]="false"
                [showCancel]="true"
                [linkedCalendars]="true"
                [showDropdowns]="true"
                (rangeClicked)="dateSelectedCallback($event)"
                (datesUpdated)="dateSelectedCallback($event)"
                [keepCalendarOpeningWithRange]="false"
                [showRangeLabelOnInput]="false"
                [dateFieldPosition]="dateFieldPosition"
            ></app-datepicker-wrapper>
        </div>
    </div>
</ng-template>
