.receipt-note-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-common-secondary-border);
    font-size: var(--font-size-16);
    font-family: var(--font-bold);
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    color: var(--color-giddh-blue);
}
section.receipt-note {
    background-color: var(--color-white);
}
.receipt-note-radio-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-nero);
    border-bottom: 1px solid var(--color-common-secondary-border);
}
.receipt-note-content {
    font-size: var(--font-size-15);
    max-height: calc(100vh - 142px);
    overflow-y: auto;
    overflow-x: hidden;
}

.multiple-products label {
    vertical-align: middle;
    line-height: 2.5;
    color: var(--color-nero);
}
#table-receipt th,
#table-receipt td {
    border-left: 1px solid var(--color-table-primary-content-bar-border) !important;
}
#table-receipt td {
    vertical-align: top !important;
}
.table-sec .table-row .table-cell {
    vertical-align: middle;
    text-align: right;
    padding-bottom: 7px;
    display: table-cell;
    width: 200px;
}
button.btn.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-dark-fog);
    font-size: var(--font-size-15);
    color: var(--color-giddh-blue);
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 10px;
}
.date-advance-search {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.table-sec .table-row .figure-cell {
    width: 140px;
    padding-right: 0;
}
.table-sec {
    float: right;
    margin-right: 35px;
}
tfoot td .table-sec.form-group {
    margin-right: 0;
}
#table-receipt #tfoot tr td {
    border: none !important;
}
.copy-receipt-note {
    position: absolute;
    right: -60%;
    top: 9px;
    font-size: var(--font-size-12);
    color: var(--color-blue);
    z-index: 9;
}
.sender-details,
.sender-receivers,
.multiple-receivers {
    font-size: var(--font-size-12);
    color: var(--color-blue);
    margin-top: 7px;
    cursor: pointer;
}
.right-total-amount {
    text-align: right;
    color: var(--color-nero);
}

.right-total-amount h3 {
    font-size: var(--font-size-24);
    font-family: var(--font-semibold);
}
.multiple-products-wrapper form {
    padding-bottom: 60px;
}
.multiple-products-wrapper table thead {
    border-top: 1px solid var(--color-table-primary-header-bar-border);
}
.multiple-products-wrapper table tbody {
    border-bottom: 1px solid var(--color-table-primary-content-bar-border);
}
#actionPane {
    background-color: var(--color-common-senary-background-for-all-components);
    padding: 20px 0;
}
.btn-success-text {
    background-color: var(--color-dark-fog);
    color: var(--color-success-enable);
}
.btn-danger:hover {
    background-color: var(--color-dark-fog);
}

.hsn-code-dropdown {
    position: absolute;
    background-color: var(--color-white);
    border: 1px solid var(--color-common-secondary-border);
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
    left: auto;
    top: 31px;
    box-shadow: 0 6px 12px var(--color-primary-common-box-shadow);
    right: 0;
    z-index: 4;
}
.sku-number-dropdown {
    left: 0 !important;
}
.hsn-code-dropdown label {
    font-size: var(--font-size-12) !important;
    margin-bottom: 5px;
    display: block;
}

.hsn-code-dropdown input {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--color-secondary-input-bar-border);
    background-color: var(--color-secondary-input-bar-background);
}

.hsn-code-dropdown input::placeholder,
.hsn-code-dropdown input::-webkit-input-placeholder {
    color: var(--color-gray);
}

.hsn-code-dropdown a {
    display: inline-block;
    text-align: center;
    color: var(--color-secondary-input-bar-border);
    padding: 5px 8px;
    font-size: var(--font-size-15);
}

.hsn-code-dropdown .btn-group {
    margin-top: 5px;
}

.hsn-code-dropdown button.btn.btn-sm.btn-success,
.bulk-item-btn-group button.btn.btn-sm.btn-success {
    background-color: var(--color-success-enable);
    color: var(--color-white);
}
.sku-code,
.hsn-code {
    padding: 5px 0;
}
/* new branch transfer list css  */
.branch-transfer-report {
    padding-top: 55px;
    .input-group {
        width: 230px;
    }
}
.branch-transfer-report .input-wrapper {
    display: block !important;
    width: 100% !important;
    position: relative;
    height: 36px !important;
}
.branch-transfer-report .input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: var(--color-common-secondary-border);
    left: 37px !important;
    z-index: 100;
    top: 0;
}
.branch-transfer-report .input-group input.form-control {
    padding-left: 35px !important;
    border-color: var(--color-common-secondary-border);
    background-image: url("../../../../assets/images/calender-icon.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
}
.branch-transfer-report .input-group input.form-control:focus {
    border-color: var(--color-common-secondary-border) !important;
}
.branch-transfer-report .btn-group.show {
    display: inline !important;
}
.branch-transfer-report .btn-group a {
    color: var(--color-nero);
}
.branch-transfer-report ul#dropdown-basic {
    right: 0 !important;
    left: auto !important;
}

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    padding-right: 8px;
}

.td-search-box div i {
    cursor: pointer;
}

.td-search-box {
    padding: 0 0 0 10px !important;
}
.td-search-box .input-container {
    position: relative;
}
.td-search-box .input-container input {
    min-height: 38px;
    width: 100%;
    padding: 8px;
    padding-right: 40px;
    border: 0px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 0px;
    top: 9px;
}
.td-search-box .input-container input {
    height: 36px;
    min-width: 100%;
    padding: 11px;
    padding-right: 0;
    color: var(--color-nero);
    border: none;
    background-color: var(--color-wild-sand);
}

.advance-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-15);
    border-radius: 5px;
}
#table-receipt {
    width: 100%;
    max-width: 1140px;
}
.trash-icon-delete {
    position: absolute;
    right: -30px;
    top: 0;
    transform: translateY(16px);
}
.trash-icon-delete a {
    color: var(--color-gray);
    border: 1px solid var(--color-common-secondary-border);
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-new-line.mr-t1 {
    position: absolute;
    width: 100%;
}
.pd-t3 {
    padding-top: 30px;
}
.recept-modal .modal-title {
    color: var(--color-white);
}
.transfer-type-checked:before {
    border: 1px solid var(--color-blue);
}
.transfer-type-checked:after {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--color-blue);
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    text-align: center;
}
.aside-pane {
    overflow: auto;
    width: 475px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px;
}
.aside-pane.aside-right.out button#close {
    right: -60px;
}

.aside-right {
    font-size: var(--font-size-15);
    background: var(--color-white);
    right: -530px;
    transition: 0.5s all ease;
    z-index: 999;
}
.aside-right .control-label {
    padding-left: 20px;
    text-align: left;
}
.aside-right .list-icon-group label {
    margin: 0px !important;
    vertical-align: middle;
}

.aside-right .list-icon-group label {
    padding: 5px 10px;
    border: 1px solid transparent;
}

.aside-right .list-icon-group input:checked + label {
    border: 1px solid var(--color-orange);
    border-radius: 0px;
}

.aside-pane.aside-right.in {
    right: 0;
    z-index: 9999;
}
.aside-overlay.out {
    visibility: hidden;
    opacity: 0;
}

.aside-overlay.in {
    visibility: visible;
    opacity: 0.6;
    z-index: 9999;
}

.aside-overlay {
    transition: 0.5s all ease;
    z-index: 9991;
}
.icon-pointer.active-text-color {
    color: var(--color-blue);
}
.close-receipt {
    color: var(--color-abbey);
    font-size: 24px;
}
.form-control[readonly] {
    background-color: var(--color-white) !important;
}
.select-action-button {
    background: none;
    border: none;
    padding-left: 0;
}
.placeholder-for-table {
    color: var(--color-table-primary-content-bar-border);
}
.transportation-details {
    max-width: 1160px;
    width: 100%;
    margin-bottom: 20px !important;
}
.input-group {
    sh-select.branch-dropdown {
        width: 100%;
    }
}
.position-relative {
    .icon-info {
        position: absolute;
        right: -10px;
        top: 10px;
    }
}
.icon-info-on-table {
    .icon-info {
        position: absolute;
        right: -35px;
        top: 1px;
        transform: translateY(16px);
        font-size: var(--font-size-16);
        color: var(--color-abbey);
        &.change-position {
            right: -55px;
        }
    }
}
.icon-plus {
    font-size: 10px;
}
/* responsive starts here*/
@media (max-width: 1280px) {
    #table-receipt {
        width: calc(100% - 50px);
    }
}
@media (max-width: 768px) {
    .select-action-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span.icon-dots-three-vertical {
            height: 13px;
            margin-left: 10px;
        }
    }
    .branch-transfer-report {
        ul#dropdown-basic {
            right: auto !important;
            left: auto !important;
            top: 20px !important;
        }
    }
    .mobile-none {
        display: none;
    }
    .table-delivery {
        table {
            width: 100% !important;
            tr,
            td {
                white-space: nowrap !important;
            }
            .min-wid-product {
                min-width: 80px;
            }
            .min-wid-rate {
                min-width: 40px;
            }
            .min-wid-amt {
                min-width: 40px;
            }
            .min-wid-qty {
                min-width: 20px;
            }
        }

        .basic > tbody > tr td:last-child,
        .basic > thead > tr th:last-child {
            border-right: 1px solid var(--color-new-branch-table-delivery-basic-thead-tbody-tr-th-last-child) !important;
        }
    }
}
@media (max-width: 767px) {
    .date-advance-search {
        margin-top: 5px;
    }
    .branch-transfer-report {
        padding-top: 10px;
    }
}
@media (max-width: 575px) {
    .branch-transfer-flex {
        width: 100%;
        .input-group.linked-entities {
            width: 100%;
            sh-select {
                margin-right: 0;
            }
        }
    }
    .custom-datepicker {
        margin-top: 10px;
    }
    .table-delivery {
        width: 100%;
        overflow-x: auto;
    }
}
@media (max-width: 767px) {
    .date-advance-search {
        margin-top: 5px;
    }
    .branch-transfer-report {
        padding-top: 10px;
    }
}
@media (max-width: 575px) {
    .branch-transfer-flex {
        width: 100%;
        .input-group.linked-entities {
            width: 100%;
            sh-select {
                margin-right: 0;
            }
        }
    }
    .custom-datepicker {
        margin-top: 10px;
    }
}
