@import "../../../../assets/css/color.scss";
form{
    .row{
        .col-md-2{
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6){
                padding-left: 0;
            }
        }
    }
}
.columnar-report-page{
    .form-wrapper{
        .input-group-addon{
            border-radius:2px;
        }
        justify-content: space-between;
        .icomoon-ico{
            color: $gray;
            width: 36px;
            height: 36px;
            border: 1px solid $gainsboro;
            justify-content: center;
            background-color: $white;
            display: inline-flex;
            i{
                font-size: 24px;
            }
        }
        .btn-filter{
            background: $whisper-color;
            border: 1px solid $whisper-color;
            font-size: 14px;
            color: $midnight-blue;
            display: inline-flex;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding: 4px 10px;
            span.icon-cross{
                margin-right: 5px;
            }
        }
        .btn-group{
            display: flex !important;
            .icon-options{
                width: 36px;
                height: 36px;
                border: 1px solid  $gainsboro;
                background-color:$white;
                color: $gray;
                font-size: 20px;
                position: relative;
                padding: 7px;
            }
            ul{
                li{
                    label{
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
@media(max-width:991px){
    .form-wrapper{
        flex-direction: column;
        .form-wrapper-fields{
            .columnar-form-field.mr-2{
              width: 100%;
              &:last-child{
                  margin-right: 0;
              }
            }
        }
    }
}
@media(max-width:767px){
    .form-wrapper{
        .form-wrapper-fields{
            flex-direction: column;
            .columnar-form-field.mr-2{
              width: 100%;
               margin-right: 0;
            }
        }
    }
}
@media(max-width:1359px){
    form{
        .row{
            .col-md-2{
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6){
                    padding-left:15px;
                }
            }
        }
    }
}
