form {
    .row {
        .col-md-2 {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                padding-left: 0;
            }
        }
    }
}
@media (max-width: 1359px) {
    form {
        .row {
            .col-md-2 {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    padding-left: 15px;
                }
            }
        }
    }
}
.custom-mat-label {
    margin-left: 5px;
    vertical-align: top;
}
