@import "../../../../../../web-giddh/src/assets/css/color.scss";
.invisible {
    visibility: hidden;
    display: none;
}
.parent-group > ul > li ul li div {
    color: $gray;
}
.btn-group.show {
    display: inline-block !important;
}
.btn-group > .btn:first-child {
    margin-left: 8px;
    margin-top: -3px;
    background: none;
    color: $gray;
    padding: 6px;
    margin-right: 0px !important;
    width: 23px;
}
.btn:active {
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background: $whisper;
    cursor: pointer;
}
.dropdown-menu > li > a {
    color: $chetwode-blue;
}
span.caret {
    display: none;
}
#inventory-sidebar {
    background: $white;
    min-height: 100vh;
    width: 260px !important;
    div.clearfix {
        height: 100vh;
    }
}
ul#dropdown-nested li .dropdown-menu {
    display: block !important;
    right: auto;
    top: 0;
    left: 184px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease;
}
ul#dropdown-nested li:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition: 0.5s all ease;
}

.search-sidebar {
    position: relative;
    padding: 0 15px 15px;
    .form-control {
        width: 205px;
        padding-left: 32px !important;
        display: inline-block;
    }
    .fa-search {
        position: absolute;
        top: 12px;
        left: 25px;
    }
}
@media (max-width: 1024px) {
    #inventory-sidebar {
        min-height: 100%;
        width: 100% !important;
        padding-bottom: 0;
    }
    .search-sidebar {
        .form-control {
            width: 100%;
        }
        .btn-group {
            display: none;
        }
    }
}
