@import "../../../../../../web-giddh/src/assets/css/color.scss";
.invisible {
    visibility: hidden;
    display: none;
}
.parent-Group > ul > li ul li div {
    color: #8a8a8a;
}
.btn-group.show {
    display: inline-block !important;
}
.btn-group > .btn:first-child {
    margin-left: 8px;
    margin-top: -3px;
    background: none;
    color: #707070;
    padding: 6px;
    margin-right: 0px !important;
    width: 23px;
}
.btn:active {
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background: #e5e5e5;
    cursor: pointer;
}
.dropdown-menu > li > a {
    color: $chetwode-blue;
}
span.caret {
    display: none;
}
#inventory-sidebar {
    background: $white;
    width: 260px !important;
    padding-bottom: 80px;
}
