@import "../../../../assets/css/color.scss";

.stock-items .active {
    background-color: #eeeff9;
}
.stock-items .active a .span {
    color: $jacksons-purple !important;
}
.span {
    color: black;
    font-size: 14px;
}
.in-list {
    display: flex;
    align-items: center;
}
.in-list .btn {
    line-height: 14px !important;
}
.stock-items .active .btn-link .fa {
    color: $jacksons-purple;
}
.stock-items a > .span {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
