@import "../../../../assets/css/color.scss";
.active {
    color: $jacksons-purple !important;
}

.stock-grp-list li > i:focus {
    outline: 0;
}

.grp_open {
    background: rgb(255, 255, 255);
}

.grp_open li {
    border: 0;
}

.btn-link {
    padding-top: 0 !important;
}

.stock-grp-list .active a,
s.tock-grp-list .active i,
.stock-grp-list .active .btn-link i {
    color: $jacksons-purple !important;
}

.stock-grp-list .active {
    background-color: #eeeff9;
}

.item-group {
    display: flex;
    align-items: center;
    max-height: 41px;
    a.d-flex {
        padding: 12px 15px;
        padding-right: 0;
    }
}

.main-group div > stockgrp-list .item-group {
    padding: 8px 0 8px 35px !important;
}

.main-group div > stock-list ::ng-deep.in-list {
    padding: 8px 0 8px 15px;
}

stock-list ::ng-deep.in-list a div {
    color: black !important;
}
.text-black {
    color: #000000;
}

.item-group {
    text-transform: unset !important;
}
.no-data-box {
    border-top: 1px solid #e0e0e0 !important;
}
.stock-grp-list li .btn {
    line-height: 14px;
    padding: 14px !important;
    margin-right: 0px;
}
.main-group .item-group a.d-flex {
    min-width: 85%;
}
.main-group .item-group a.d-flex a.text-black {
    max-width: 85%;
}
.inner-stock-list {
    overflow: hidden;
    text-overflow: ellipsis;
}
