.stock-items .active {
    background-color: var(--color-border-light);
}
.stock-items .active a .span {
    color: var(--mat-primary-color) !important;
}
.span {
    color: var(--color-black);
    font-size: var(--font-size-15);
}
.in-list {
    display: flex;
    align-items: center;
    a {
        white-space: normal;
        word-break: break-word;
        padding-right: 8px;
    }
}
.in-list /* UNUSED COMPONENT CLASS: btn - Auto-commented by script
.btn {
    line-height: 14px !important;
}
/* UNUSED COMPONENT CLASS: btn-link - Auto-commented by script
.stock-items .active .btn-link /* UNUSED COMPONENT CLASS: fa - Auto-commented by script
.fa {
    color: var(--mat-primary-color);
}
*/
.stock-items > li .in-list:hover {
    background-color: var(--color-border-light);
}
.stock-items > li .in-list:hover a > span {
    color: var(--mat-primary-color) !important;
}
