.active {
    color: var(--color-blue) !important;
}

.stock-grp-list li > i:focus {
    outline: 0;
}

.group-open {
    background: var(--color-white);
}

.group-open li {
    border: 0;
}

.btn-link {
    padding-top: 0 !important;
    &:hover {
        text-decoration: none;
    }
}

.stock-grp-list .active a,
.stock-grp-list .active i,
.stock-grp-list .active .btn-link i {
    color: var(--color-blue) !important;
}

.stock-grp-list .active {
    background-color: var(--color-dark-fog);
}

.item-group {
    padding-right: 0;
    display: flex;
    align-items: center;
    a {
        a {
            padding: 12px 15px;
        }
    }
}

.main-group div > stockgrp-list .item-group {
    padding: 8px 0 8px 35px !important;
}

.main-group div > stock-list ::ng-deep.in-list {
    padding: 8px 0 8px 15px;
}

stock-list ::ng-deep.in-list a div {
    color: var(--color-nero) !important;
}
.text-black {
    color: var(--color-nero);
}

.item-group {
    text-transform: unset !important;
}
.no-data-box {
    border-top: 1px solid var(--color-dark-fog) !important;
}
.stock-grp-list li .btn {
    line-height: 14px;
}
.stock-grp-list {
    li {
        .item-group {
            &:hover {
                a {
                    color: var(--color-blue) !important;
                }
                background-color: var(--color-dark-fog);
            }
            span {
                .btn {
                    padding: 10px !important;
                }
            }
        }
    }
}
.main-group {
    .item-group {
        a {
            display: flex;
            align-items: center;
            flex: 1;
            color: var(--color-nero);
            i {
                margin: 0 15px;
                font-size: var(--font-size-9);
            }
        }
    }
}
@media (max-width: 1024px) {
    .main-group {
        .item-group {
            a {
                i {
                    margin: 0 15px;
                    font-size: var(--font-size-14);
                    padding: 5px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .stock-grp-list {
        max-height: calc(100vh - 245px) !important;
    }
}
.inventory-group-name {
    float: left;
    width: 90%;
    white-space: normal;
    word-break: break-word;
}
