.stock-items .active {
    background-color: var(--color-lavender);
}
.stock-items .active a .span {
    color: var(--color-jacksons-purple) !important;
}
.span {
    color: var(--color-black);
    font-size: 14px;
}
.in-list {
    display: flex;
    align-items: center;
    a {
        white-space: normal;
        word-break: break-word;
        padding-right: 8px;
    }
}
.in-list .btn {
    line-height: 14px !important;
}
.stock-items .active .btn-link .fa {
    color: var(--color-jacksons-purple);
}
.stock-items > li .in-list:hover {
    background-color: var(--color-lavender);
}
.stock-items > li .in-list:hover a > span {
    color: var(--color-chetwode-blue) !important;
}
