<div class="dialog-header">
    <h3 mat-dialog-title class="font-16">
        {{
            importStep === importStepEnum.Second
                ? selectStatement === importStatementType.BankStatement ? inputData?.localeData?.import_page_heading : inputData?.localeData?.import_voucher_heading
                : inputData?.localeData?.select_statement
        }}
    </h3>
    <div class="d-inline-block">
        <button 
            *ngIf="importStep === importStepEnum.Second" 
            mat-stroked-button 
            [matTooltip]="inputData?.commonLocaleData?.app_back" 
            matTooltipPosition="above" 
            (click)="importStep = importStepEnum.First" 
            class="mr-r2 bg-white"
        >
            {{ inputData?.commonLocaleData?.app_back }}
        </button>
        <i mat-dialog-close aria-label="close icon" class="icon-cross"></i>
    </div>
</div>
<div class="modal-body p-0">
    <!-- Step first -->
    <div *ngIf="importStep === importStepEnum.First" class="row m-0">
        <div class="col-md-6 p-0">
            <div class="statement-card" (click)="selectStatementAccount(importStepEnum.Second, importStatementType.Voucher)">
                <div class="cursor-pointer d-flex justify-content-center flex-column align-item-center">
                    <i class="icon-import mr-r1 icon-font-48 opacity-5"></i>
                    <p class="mr-t2 font-15 text-center">{{ inputData?.localeData?.import_voucher }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div
                class="statement-card"
                (click)="selectStatementAccount(importStepEnum.Second, importStatementType.BankStatement)"
            >
                <div class="cursor-pointer d-flex justify-content-center flex-column align-item-center">
                    <i class="icon-balance-sheet-new mr-r1 icon-font-48 opacity-5"></i>
                    <p class="mr-t2 font-15 text-center">{{ inputData?.localeData?.import_bank_statement }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Step second -->
    <div *ngIf="importStep === importStepEnum.Second" class="pd-2">
        <form name="importStatementForm" novalidate autocomplete="off">
            <div class="pd-b2 clearfix browse-file-btn">
                <mat-label class="import-field-label align-bottom file-upload-label"
                    >{{ inputData?.commonLocaleData?.app_file }} <sup>*</sup></mat-label
                >
                <label class="radio-inline p-0 browse-file-label">
                    {{ inputData?.commonLocaleData?.app_choose_file }}
                    <input
                        type="file"
                        name="file"
                        class="form-control file-upload-field"
                        (change)="onFileChange($event.target.files)"
                        required
                    />
                </label>
                <span  class="path-name">{{ selectedFile }}</span>
            </div>
            <div class="pd-b2 clearfix password-label d-flex" *ngIf="getRequest.entity === 'pdf' && selectStatement === importStatementType.BankStatement">
                <mat-label class="import-field-label align-bottom">{{ inputData?.commonLocaleData?.app_password }}</mat-label>
                <mat-form-field appearance="fill" class="w-100 custom-input-field">
                    <input
                        matInput
                        type="password"
                        name="password"
                        class="form-control mat-field-border"
                        [(ngModel)]="postRequest.password"
                    />
                </mat-form-field>
            </div>
            <div
                class="pd-b2 clearfix"
                *ngIf="getRequest.entity === 'csv' || getRequest.entity === 'xls' || getRequest.entity === 'xlsx'"
            >
                <label class="import-field-label align-bottom">{{
                    inputData?.localeData?.header_provided
                }}</label>
                <mat-slide-toggle color="primary" name="isHeaderProvided" [(ngModel)]="postRequest.isHeaderProvided">
                    <span class="pull-left" *ngIf="postRequest.isHeaderProvided">{{
                        inputData?.commonLocaleData?.app_yes
                    }}</span>
                    <span class="pull-right" *ngIf="!postRequest.isHeaderProvided">{{
                        inputData?.commonLocaleData?.app_no
                    }}</span>
                </mat-slide-toggle>
            </div>
             <div class="pd-b2 clearfix"
                *ngIf="selectStatement === importStatementType.BankStatement && (getRequest.entity === 'csv' || getRequest.entity === 'xls' || getRequest.entity === 'xlsx')"
                >
                <label class="import-field-label align-bottom">{{
                    inputData?.localeData?.same_debit_credit_column
                }}</label>
                <mat-slide-toggle
                    color="primary"
                    name="sameDebitCreditAmountColumn"
                    [(ngModel)]="postRequest.sameDebitCreditAmountColumn"
                >
                    <span class="pull-left" *ngIf="postRequest.sameDebitCreditAmountColumn">{{
                        inputData?.commonLocaleData?.app_yes
                    }}</span>
                    <span class="pull-right" *ngIf="!postRequest.sameDebitCreditAmountColumn">{{
                        inputData?.commonLocaleData?.app_no
                    }}</span>
                </mat-slide-toggle>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <a
                        href="javascript:;"
                        class="btn btn-sm btn-link m-0 pl-0 font-14"
                        (click)="downloadSampleFile(selectStatement)"
                    >
                        {{ inputData?.localeData?.download_sample_xls }}
                    </a>
                    <a
                        href="javascript:;"
                        class="btn btn-sm btn-link m-0 font-14"
                        (click)="downloadSampleFile(selectStatement, true)"
                    >
                        {{ inputData?.localeData?.download_sample_csv }}
                    </a>
                </div>
                <button
                    mat-stroked-button
                    color="primary"
                    [matTooltip]="inputData?.commonLocaleData?.app_upload"
                    matTooltipPosition="above"
                    [disabled]="!postRequest.file"
                    (click)="selectStatement === importStatementType.Voucher ? uploadFile() : importStatement()"
                >
                    {{ inputData?.commonLocaleData?.app_upload }}
                </button>
            </div>
        </form>
    </div>
</div>
