<div cdkFocusInitial class="dialog-header">
    <p class="font-size-16">
        {{
            importStep === importStepEnum.Second
                ? selectStatement === importStatementType.BankStatement
                    ? inputData?.localeData?.import_page_heading
                    : inputData?.localeData?.import_voucher_heading
                : inputData?.localeData?.select_statement
        }}
    </p>
    <div class="d-inline-block">
        <button
            *ngIf="importStep === importStepEnum.Second"
            matButton="filled"
            [matTooltip]="inputData?.commonLocaleData?.app_back"
            matTooltipPosition="above"
            (click)="importStep = importStepEnum.First"
            class="header-btn bg-white text-black"
        >
            {{ inputData?.commonLocaleData?.app_back }}
        </button>
    </div>
    <button *ngIf="importStep === importStepEnum.First" matIconButton aria-label="close" mat-dialog-close>
        <i class="icon-cross"></i>
    </button>
</div>
<div class="modal-body p-0">
    <!-- Step first -->
    <div *ngIf="importStep === importStepEnum.First" class="row m-0">
        <div class="col-md-6 p-0">
            <div class="statement-card" (click)="selectStatementAccount(importStepEnum.Second, importStatementType.Voucher)">
                <div
                    class="cursor-pointer d-flex justify-content-center flex-column d-flex flex-column justify-content-center vertical-align-middle align-items-center row-gap-1"
                >
                    <i class="icon-import mr-2 font-size-48 opacity-5"></i>
                    <p class="mt-4 font-size-15 text-center">{{ inputData?.localeData?.import_voucher }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="statement-card" (click)="selectStatementAccount(importStepEnum.Second, importStatementType.BankStatement)">
                <div
                    class="cursor-pointer d-flex justify-content-center flex-column d-flex flex-column justify-content-center vertical-align-middle align-items-center row-gap-1"
                >
                    <i class="icon-balance-sheet-new mr-2 font-size-48 opacity-5"></i>
                    <p class="mt-4 font-size-15 text-center">{{ inputData?.localeData?.import_bank_statement }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Step second -->
    <div *ngIf="importStep === importStepEnum.Second" class="p-3">
        <form name="importStatementForm" novalidate autocomplete="off">
            <div class="pb-4 clear-both browse-file-btn">
                <mat-label class="import-field-label align-bottom file-upload-label">
                    {{ inputData?.commonLocaleData?.app_file }}
                    <sup>*</sup>
                </mat-label>
                <label class="radio-inline p-0 browse-file-label">
                    {{ inputData?.commonLocaleData?.app_choose_file }}
                    <input
                        type="file"
                        name="file"
                        class="form-control file-upload-field"
                        (change)="onFileChange($event.target.files)"
                        required
                    />
                </label>
                <span class="path-name align-self-center">{{ selectedFile }}</span>
            </div>
            <div
                class="pb-4 clear-both password-label d-flex mat-form-field-clean"
                *ngIf="getRequest.entity === fileType.PDF && selectStatement === importStatementType.BankStatement"
            >
                <mat-label class="import-field-label align-bottom">{{ inputData?.commonLocaleData?.app_password }}</mat-label>
                <mat-form-field appearance="fill" class="w-100 custom-input-field">
                    <input
                        matInput
                        type="password"
                        name="password"
                        class="form-control border border-radius-0"
                        [(ngModel)]="postRequest.password"
                    />
                </mat-form-field>
            </div>
            <div class="pb-4 clear-both" *ngIf="[fileType.CSV, fileType.XLS, fileType.XLSX].includes(getRequest.entity)">
                <label class="import-field-label align-bottom">{{ inputData?.localeData?.header_provided }}</label>
                <mat-slide-toggle color="primary" name="isHeaderProvided" [(ngModel)]="postRequest.isHeaderProvided">
                    <span class="pull-left" *ngIf="postRequest.isHeaderProvided">{{ inputData?.commonLocaleData?.app_yes }}</span>
                    <span class="pull-right" *ngIf="!postRequest.isHeaderProvided">{{ inputData?.commonLocaleData?.app_no }}</span>
                </mat-slide-toggle>
            </div>
            <div
                class="pb-4 clear-both"
                *ngIf="
                    selectStatement === importStatementType.BankStatement &&
                    [fileType.CSV, fileType.XLS, fileType.XLSX].includes(getRequest.entity)
                "
            >
                <label class="import-field-label align-bottom">{{ inputData?.localeData?.same_debit_credit_column }}</label>
                <mat-slide-toggle color="primary" name="sameDebitCreditAmountColumn" [(ngModel)]="postRequest.sameDebitCreditAmountColumn">
                    <span class="pull-left" *ngIf="postRequest.sameDebitCreditAmountColumn">
                        {{ inputData?.commonLocaleData?.app_yes }}
                    </span>
                    <span class="pull-right" *ngIf="!postRequest.sameDebitCreditAmountColumn">
                        {{ inputData?.commonLocaleData?.app_no }}
                    </span>
                </mat-slide-toggle>
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    <a
                        href="javascript:;"
                        class="m-0 pt-1 pb-1 pr-2 font-size-14 text-underline"
                        (click)="downloadSampleFile(selectStatement)"
                    >
                        {{ inputData?.localeData?.download_sample_xls }}
                    </a>
                    <a
                        href="javascript:;"
                        class="pt-1 pb-1 pr-2 pl-2 font-size-14 text-underline"
                        (click)="downloadSampleFile(selectStatement, true)"
                    >
                        {{ inputData?.localeData?.download_sample_csv }}
                    </a>
                </div>
                <div class="d-flex column-gap-1">
                    <button
                        matButton="filled"
                        [matTooltip]="inputData?.commonLocaleData?.app_upload"
                        matTooltipPosition="above"
                        [disabled]="!postRequest.file"
                        (click)="selectStatement === importStatementType.Voucher ? uploadFile('voucher') : importStatement()"
                    >
                        {{ inputData?.commonLocaleData?.app_upload }}
                    </button>
                    <button matButton="outlined" mat-dialog-close type="button">
                        {{ inputData?.commonLocaleData?.app_cancel }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
