<div class="dialog-header">
    <h3 mat-dialog-title class="font-16">
        {{
            importStep === importStepEnum.Second
                ? inputData?.localeData?.import_page_heading
                : inputData?.commonLocaleData?.app_select_statement
        }}
    </h3>
    <i mat-dialog-close aria-label="close icon" class="icon-cross"></i>
</div>
<div class="modal-body p-0">
    <!-- Step first -->
    <div *ngIf="importStep === importStepEnum.First" class="row m-0">
        <div class="col-md-6 p-0">
            <div class="statement-card" (click)="selectStatementAccount(importStepEnum.Second, importStatementType.Voucher)">
                <div class="cursor-pointer d-flex justify-content-center flex-column align-item-center">
                    <i class="icon-import mr-r1 icon-font-48 opacity-5"></i>
                    <p class="mr-t2 font-15 text-center">{{ inputData?.commonLocaleData?.app_import_voucher }}</p>
                </div>
            </div>
            <div class="d-flex mr-b05 justify-content-center">
                <a
                    href="javascript:;"
                    class="btn btn-sm btn-link m-0 font-14 text-align-center"
                    (click)="downloadSampleFile(importStatementType.Voucher)"
                    [matTooltip]="inputData?.localeData?.download_sample_xls"
                >
                    {{ inputData?.commonLocaleData?.app_sample_excel_file }}
                    <i class="icon-download"></i>
                </a>
                <a
                    href="javascript:;"
                    class="btn btn-sm btn-link m-0 font-14 text-align-center"
                    (click)="downloadSampleFile(importStatementType.Voucher, true)"
                    [matTooltip]="inputData?.localeData?.download_sample_csv"
                >
                    {{ inputData?.commonLocaleData?.app_sample_csv_file }}
                    <i class="icon-download"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div
                class="statement-card"
                (click)="selectStatementAccount(importStepEnum.Second, importStatementType.BankStatement)"
            >
                <div class="cursor-pointer d-flex justify-content-center flex-column align-item-center">
                    <i class="icon-balance-sheet-new mr-r1 icon-font-48 opacity-5"></i>
                    <p class="mr-t2 font-15 text-center">{{ inputData?.commonLocaleData?.app_import_bank_statement }}</p>
                </div>
            </div>
            <div class="d-flex mr-b05 justify-content-center">
                <a
                    href="javascript:;"
                    class="btn btn-sm btn-link m-0 font-14 text-align-center"
                    (click)="downloadSampleFile(importStatementType.BankStatement)"
                    [matTooltip]="inputData?.localeData?.download_sample_xls"
                >
                    {{ inputData?.commonLocaleData?.app_sample_excel_file }}
                    <i class="icon-download"></i>
                </a>
                <a
                    href="javascript:;"
                    class="btn btn-sm btn-link m-0 font-14 text-align-center"
                    (click)="downloadSampleFile(importStatementType.BankStatement, true)"
                    [matTooltip]="inputData?.localeData?.download_sample_csv"
                >
                    {{ inputData?.commonLocaleData?.app_sample_csv_file }}
                    <i class="icon-download"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Step second -->
    <div *ngIf="importStep === importStepEnum.Second" class="pd-2">
        <form name="importStatementForm" novalidate autocomplete="off">
            <div class="pd-b2 clearfix browse-file-btn">
                <mat-label class="import-field-label align-bottom file-upload-label"
                    >{{ inputData?.commonLocaleData?.app_file }} <sup>*</sup></mat-label
                >
                <label class="radio-inline p-0 browse-file-label">
                    {{ inputData?.commonLocaleData?.app_choose_file }}
                    <input
                        type="file"
                        name="file"
                        class="form-control file-upload-field"
                        (change)="onFileChange($event.target.files)"
                        required
                    />
                </label>
                <span  class="path-name">{{ selectedFile }}</span>
            </div>
            <div class="pd-b2 clearfix password-label d-flex" *ngIf="getRequest.entity === 'pdf'">
                <mat-label class="import-field-label align-bottom">{{ inputData?.commonLocaleData?.app_password }}</mat-label>
                <mat-form-field appearance="fill" class="w-100 custom-input-field">
                    <input
                        matInput
                        type="password"
                        name="password"
                        class="form-control mat-field-border"
                        [(ngModel)]="postRequest.password"
                    />
                </mat-form-field>
            </div>
            <div
                class="pd-b2 clearfix"
                *ngIf="getRequest.entity === 'csv' || getRequest.entity === 'xls' || getRequest.entity === 'xlsx'"
            >
                <label class="import-field-label align-bottom">{{
                    inputData?.localeData?.header_provided
                }}</label>
                <mat-slide-toggle color="primary" name="isHeaderProvided" [(ngModel)]="postRequest.isHeaderProvided">
                    <span class="pull-left" *ngIf="postRequest.isHeaderProvided">{{
                        inputData?.commonLocaleData?.app_yes
                    }}</span>
                    <span class="pull-right" *ngIf="!postRequest.isHeaderProvided">{{
                        inputData?.commonLocaleData?.app_no
                    }}</span>
                </mat-slide-toggle>
            </div>
            <reactive-dropdown-field
                *ngIf="!inputData?.accountUniqueName"
                [label]="inputData?.commonLocaleData?.app_select_account"
                [placeholder]="inputData?.commonLocaleData?.app_select"
                [options]="accountSearchResponse"
                [enableDynamicSearch]="true"
                [isPaginationEnabled]="true"
                (scrollEnd)="handleSearchAccountScrollEnd()"
                (dynamicSearchedQuery)="searchAccount($event)"
                (onClear)="accountUniqueName = null; accountLabel = null"
                (selectedOption)="accountUniqueName = $event?.value; accountLabel = $event?.label"
                [required]="true"
            >
            </reactive-dropdown-field>
            <div>
                <button
                    mat-stroked-button
                    color="primary"
                    [disabled]="!postRequest.file || !(inputData?.accountUniqueName || accountUniqueName)"
                    class="mr-t1"
                    (click)="selectStatement === importStatementType.Voucher ? uploadFile() : importStatement()"
                >
                    {{ inputData?.commonLocaleData?.app_upload }}
                </button>
                <button mat-stroked-button (click)="importStep = importStepEnum.First" class="mr-t1 mr-l1">
                    {{ inputData?.commonLocaleData?.app_back }}
                </button>
                <div class="d-flex d-inline-block mr-t1">
                    <a
                        href="javascript:;"
                        class="btn btn-sm btn-link m-0 font-14 pd-t15"
                        (click)="downloadSampleFile(selectStatement)"
                    >
                        {{ inputData?.localeData?.download_sample_xls }}
                    </a>
                    <a
                        href="javascript:;"
                        class="btn btn-sm btn-link m-0 font-14 pd-t15"
                        (click)="downloadSampleFile(selectStatement, true)"
                    >
                        {{ inputData?.localeData?.download_sample_csv }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
