.form-header {
    padding: 20px 15px;
    background: var(--color-giddh-blue);
    color: var(--color-white);
}

.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}

.aside-pane-container {
    padding: 15px;
    font-size: 14px;
    color: var(--color-nero);
}

.aside-pane-form label {
    margin-bottom: 5px;
    display: block;
}

.cr-dr-account {
    position: relative;
}

.cr-dr-account span {
    width: 36px;
    display: inline-flex;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
}

span.dr-label {
    right: 36px !important;
}

.cr-dr-account span.active {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.aside-pane-form .col-sm-4,
.aside-pane-form .col-sm-8,
.aside-pane-form .col-sm-10,
.aside-pane-form .col-sm-2,
.aside-pane-form .col-sm-6,
.aside-pane-form .col-sm-12 {
    padding: 0 10px;
}

.upper-form {
    margin-bottom: 20px;
    .input-group {
        .input-group-addon {
            border-left: 1px solid var(--color-iron) !important;
            border-radius: 5px;
        }
        input {
            border-left: 1px solid var(--color-iron) !important;
            border-radius: 5px;
            border-right: none;
            &:focus {
                border-left: 1px solid var(--color-blue) !important;
            }
        }
    }
}

form.gstin-form {
    padding-top: 15px;
}

.add-address-default {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-right-sidebar-primary-background);
    padding: 6px 10px;
    align-items: center;
    margin: 20px 0;
}
.add-address-btn {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-plus {
        margin-right: 10px;
    }
}
/*--- custom ---*/
.add-new-btn {
    width: 100%;
    max-width: 185px;
}
.add-address-default h3 {
    font-size: 16px;
    color: var(--color-nero);
}

.contact-form,
.other-form-wrap,
.bank-details-form {
    padding-top: 15px;
}

.other-form .btn-sky-blue {
    display: block;
}

.update-btn-zindex {
    z-index: 0;
    color: var(--color-secondary-button-text) !important;
    border-color: var(--color-secondary-button-background) !important;
    background-color: var(--color-secondary-button-background) !important;
    &:hover {
        border-color: var(--color-secondary-button-background-hover) !important;
        background-color: var(--color-secondary-button-background-hover) !important;
    }
}

.wd100 {
    width: 100% !important;
}

.width-select {
    width: calc(100% - 112px);
}

.move-to-group {
    .list-item {
        border-bottom: 1px solid var(--color-iron);
    }
}
.name-of-field {
    display: flex;
    align-items: center;
    label {
        margin-bottom: 0;
        margin-right: 10px;
        min-width: 180px;
        max-width: 180px;
        line-height: 1.5;
        word-break: break-word;
        max-width: 180px;
        white-space: normal;
    }
}

.contact-number-select {
    width: 60px;
    margin-right: 10px;
}
.merge-btn,
.save-btn {
    min-width: 100px;
}
.is-default-address {
    margin-top: 5px !important;
    height: 29px;
}
