@import "../../../../assets/css/color.scss";
.ratioAnalysisPanelBody {
    padding-left: 0;
    padding-right: 0;
}
.ratioAnalysisPanelBody h1 {
    font-size: 14px;
    color: #262626;
}

.ratioAnalysisPanelBody small {
    color: #666666;
    font-size: 14px;
}
.ratio-chart-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media(max-width:767px){
    .ratio-chart-block{
        position: relative;
        padding-bottom: 10px;

        &:after{
                position: absolute;
                content: '';
                border-bottom: 1px solid $gainsboro;
                bottom: 0;
                height: 1px;
                width: 90%;
                
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
}