.ratioAnalysisPanelBody {
    padding-left: 0;
    padding-right: 0;
}
.ratioAnalysisPanelBody h1 {
    font-size: 14px;
    color: #262626;
}

.ratioAnalysisPanelBody small {
    color: #666666;
    font-size: 14px;
}
.ratio-chart-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
