.download-arrow {
    .icon-download1 {
        visibility: hidden;
        opacity: 0;
        transition: 500ms all ease;
    }

    &:hover {
        .icon-download1 {
            visibility: visible;
            opacity: 1;
        }
    }
}
label {
    font-size: var(--font-size-15);
}

.input-group {
    position: relative;
    span {
        &::before {
            position: absolute;
            content: "";
            display: block;
            height: 36px;
            width: 1px;
            background-color: var(--color-iron);
            left: 37px !important;
            z-index: 100;
            top: 0;
        }
    }
}
.list-icon-group {
    label {
        padding: 0 10px;
    }
}
