.steps-wizard {
    padding: 30px 0;
    background: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: space-around;
    li {
        padding-bottom: 0;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        width: auto;
        position: relative;
        justify-content: center;
        align-items: center;
        > label {
            width: 30px;
            height: 30px;
            border: 2px solid var(--color-iron);
            border-radius: 100%;
            transition: background-color 1s;
            background-color: var(--color-white);
            position: relative;
            color: var(--color-import-excel-and-wizard-steps-wizard-li-label);
            line-height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

.upload-excel {
    display: flex;
    height: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 !important;
}
.center-block {
    margin: 0 auto;
}
.max-width-500 {
    max-width: 500px;
}

.uploader-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

#csvUploadInput {
    visibility: hidden;
}

.upload-icon {
    font-size: 62px;
    float: none;
    color: var(--color-dark-fog);
}

.sample-file-btn {
    z-index: 9;
    position: relative;
}

.dashed-border {
    border: 2px dashed var(--color-iron);
}

.import-type {
    display: flex;
    justify-content: center;
}

.import-type li {
    list-style: none;
    width: 320px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border: 1px solid var(--color-iron);
    background: var(--color-wild-sand);
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.import-type h2 {
    margin-bottom: 30px;
}

.import-type li:hover {
    transform: scale(1.01);
}

.lead {
    font-size: var(--font-size-32);
    margin-bottom: 10px;
}

.has-error .form-control {
    border-color: var(--color-danger) !important;
}
@media (max-width: 991px) {
    .import-type {
        flex-wrap: wrap;
        li {
            width: 27%;
            margin: 0 15px 30px;
        }
    }
}
