.radio-inline {
    margin-left: 6px;
}
.export-type {
    display: flex;
}
.show-columnar-button {
    display: inline-block;
}
textarea.receipient-email {
    width: 98%;
    height: 42px;
}

.export-border {
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 55%;
        background-color: var(--color-medium-gray);
        top: 46%;
        right: 50px;
        transform: translateY(-50%);
    }
}

.export-ledger-right {
    &::after {
        right: 25px !important;
    }
}

.export-ledger-right-tview {
    &::after {
        right: 42px !important;
    }
}

#exportModal {
    #export-body {
        .clearfix {
            .radio-inline {
                mat-slide-toggle {
                    position: relative;
                    top: 8px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .descendingRadioBtn {
        display: block !important;
        margin-left: 100px !important;
    }
    .export-type {
        flex-direction: column;
        span {
            margin-right: 15px !important;
        }
    }
    .show-columnar-button {
        display: none;
    }
}
