:host {
    display: block;
}
.custom-paginator {
    border-color: var(--theme-primary-color);
    mat-button-toggle {
        border-color: var(--theme-primary-color);
        width: 120px;
        line-height: 28px;
        &.page-count-wrapper {
            background-color: var(--bg-primary-color) !important;
            color: var(--color-white);
        }
    }
}
