<div class="row" style="margin-top: 30px">


    <div class="col-xs-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-4 pdR0">
                <label class="d-block">File Type</label>
                <sh-select placeholder="Select" name="file-type" [(ngModel)]="fileType" [options]="fileTypes"
                    [ItemHeight]="33"></sh-select>
            </div>

            <button class="btn btn-primary mrL15" *ngIf="mode === 'export'" style="margin-top: 24px" (click)="save()"
                [ladda]="isExportInProcess$ | async" [disabled]="(!fileType || !from || !to)"> Export
            </button>


            <div class="col-xs-2 date-range pdR0" *ngIf="mode === 'export' && fileType === '0'">
                <label class="d-block">Data Range</label>
                <input type="text" name="daterangeInput" daterangepicker [options]="datePickerOptions"
                    (hideDaterangepicker)="selectedDate($event)" (applyDaterangepicker)="selectedDate($event)"
                    class="form-control date-range-picker" />
            </div>

            <div class="col-xs-2" *ngIf="mode === 'import'">
                <label class="d-block">Select File</label>

                <div class="form-group input-upload">
                    <div class="input-file">
                        <label for="fileUpload" class="form-control ellp">
                            <span class="text-success" *ngIf="selectedFile">
                                {{ selectedFile?.name }}
                            </span>
                            <span *ngIf="!selectedFile">
                                Browse file
                            </span></label>
                        <input type="file" id="fileUpload" accept="application/json" style="display: none;"
                            (change)="fileSelected($event.target.files)" />
                    </div>

                </div>

            </div>

            <button class="btn btn-success" *ngIf="mode === 'import'" style="margin-top: 24px" (click)="save()"
                [ladda]="isImportInProcess$ | async" [disabled]="(!fileType || !selectedFile)"> Import
            </button>

            <div class="col-xs-6 pull-right">
                <button class="btn btn-default pull-right" style="margin-top: 24px" (click)="backButtonPressed()">Back
                </button>
            </div>

        </div>
    </div>
</div>
