/************ login page start *****************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

/*typography styles*/

body.ununresponsive {
    padding: 0;
    background: #2c2c43;
}

.intro.login {
    /* background: url('../images/new/login_bg.jpg') no-repeat top center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    display: table;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.modal-header h3 {
    color: #fff;
    font-size: 1.3rem;
}

.login {
    padding-top: 0;
}

.login .brand-heading {
    color: white;
    font-size: 40px;
    margin-bottom: 80px;
}

#box {
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 auto;
    width: 360px;
    height: auto;
}

#box button {
    text-transform: uppercase;
}

.login-btn {
    position: relative;
}

#box img {
    max-height: 30px;
    position: absolute;
    left: 10px;
    top: 4px;
}

#box .glyphicon {
    max-height: 30px;
    position: absolute;
    left: 15px;
    top: 13px;
}

#box .btn:hover,
#box .btn:hover {
    color: #fff;
}

.mrB1 {
    margin-bottom: 10px;
}

.twitter {
    background: #11b1e5;
}

.google {
    background: #de4d3c;
}

.linkedin {
    background: #0e78aa;
}

.mobile {
    background: #26263a;
}

.btn-login {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding: 10px 16px !important;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*giddh loader*/

.giddh-spinner {
    animation: rotate 1.5s infinite linear;
    background: #221f1f none repeat scroll 0 0;
    border: 7px solid #c63b13;
    border-radius: 50%;
    box-shadow: 0 -10px 0 14px #fff inset;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    margin: 0 auto 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.intro .lead {
    text-align: center;
    font-size: 18px;
}

.btn-login.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-login.btn-default:hover {
    color: #000 !important;
    background-color: #fff;
    border-color: #ccc;
    box-shadow: none;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #db7f53;
    text-shadow: none;
    opacity: 1;
}

/* .modal-body {
    overflow: hidden;
} */

.email {
    background: #10aae0;
}

/************* end login page *************/

/***********************SIGN IN REDESIGN ***********************/

.form-control,
:host ::ng-deep .form-control {
    height: 41px;
    font-size: 16px;
}

:host ::ng-deep .clear {
    top: 50% !important;
    font-size: 22px !important;
    right: 6px !important;
}

:host ::ng-deep .btn-success {
    background: #e34b26;
    color: #fff;
}

:host ::ng-deep .btn-success:hover {
    background: #2c2c43;
    /*  */
}

strong {
    font-family: "Roboto", sans-serif;
}

.flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: "Roboto", sans-serif;
    justify-content: flex-start;
}

.flex-container > div {
    align-items: center;
    height: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.logo {
    position: absolute;
    left: 100px;
    top: 32px;
    width: 124px;
    z-index: 9;
}

h1 {
    font-size: 24px;
}

.slide_content {
    padding: 80px 100px;
    color: #fff;
    background: #2c2c43;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.login_box {
    background: #fff8ea url("/assets/images/banner-grid-design.png") repeat;
    padding: 20px 70px;
}

.login_box h1 {
    color: #0f0f27;
    font-weight: 500;
}

.form_wrapper {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}

small {
    color: #333;
}

.form_wrapper form {
    width: 300px;
}

/* social_login */

.social_login {
    overflow: hidden;
    display: flex;
}

.social_login li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.social_login li a {
    display: inline-block;
    height: 40px;
    border: 1px solid;
    min-width: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.google_ico a {
    color: #fff;
    padding-left: 40px !important;
}

.google_ico span {
    padding: 0 15px;
}

/* social icon */

.linkedin_ico a {
    color: #0d83b3;
    border-color: #0d83b3;
}

.google_ico a {
    background: #5092f3;
    border-color: #5092f3 !important;
    color: #fff;
}

.ico-google {
    height: 38px;
    position: absolute;
    width: 40px;
    left: 0;
    background: #fff8eb;
    line-height: 38px;
    vertical-align: middle;
}

.ico-google img {
    width: 18px;
    height: 18px;
}

.login_option,
.login_option a {
    color: #0c5fc1;
    margin-top: 55px;
    font-weight: 500;
}

.login_option a {
    border-bottom: 2px dotted #0c5fc1;
}

.slide_content h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
}

.hash_tag {
    color: #e34b26;
}

.slide_content .btn {
    font-size: 18px;
    font-weight: 500;
    margin-top: 55px;
    transition: all 0.5s ease;
    padding: 4px 18px;
}

.slide_content .btn-white {
    color: #fff7eb;
    border: 1px solid #fff;
}

.slide_content .btn-white:hover {
    color: #0f0f27;
    background: #fff;
}

.slide_content > div > img {
    max-width: 400px;
    margin-bottom: 40px;
}

.app_ico,
.download_app {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.app_ico ul h1 {
    margin-top: 10px;
}

.app_ico ul li,
.download_app ul li {
    display: inline-block;
    list-style: none;
    /* margin-right: 20px; */
    border-radius: 2px;
}

.app_ico ul li {
    height: 40px;
}

.download_app ul li {
    margin-right: 0;
}

.app_ico ul li a,
.download_app ul li a {
    display: inline-block;
    height: 40px;
    border: 1px solid;
    min-width: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.app_ico ul li a:hover,
.download_app ul li a:hover {
    background: #fff;
    color: #2c2d43;
}

.download_app ul li a:hover i {
    border-color: #2c2d43;
}

.img_hover:hover img:last-child {
    display: block !important;
}

.img_hover:hover img:first-child {
    display: none;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        background: #fff8ea url("/assets/images/banner-grid-design.png") repeat;
        display: block;
    }

    .slide_content {
        display: none !important;
        padding: 110px 20px;
    }

    .login_box {
        padding: 80px 20px;
    }

    .on_mobile {
        display: block !important;
    }

    .flex-container > div {
        display: block;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .social_login {
        display: block;
    }

    .logo {
        left: 20px;
        top: 20px;
    }

    .logo img {
        max-width: 130px;
    }

    .download_app ul li a {
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        border-radius: 2px;
        display: flex;
    }

    .download_app ul li a i {
        border-right: 1px solid #fff;
        padding-right: 16px;
        font-size: 28px;
        position: relative;
        margin-right: 16px;
        height: 49px;
        line-height: 49px;
    }

    .form_wrapper form {
        margin: 0 auto;
    }
}
