#close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-white);
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
    border-radius: var(--mat-border-radius-0);
}

.unit-quantity {
    display: flex;
    justify-content: space-between;
    .row {
        width: 92%;

    }
}
