/*td-in-searchbox_style*/
@import "../../../assets/css/color.scss";
.td_in_searchBox div {
    display: flex;
}

.td_in_searchBox div span {
    // flex: 1 1 auto;
    padding-left: 8px;
}

.td_in_searchBox div i {
    margin-top: 4px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    padding-left: 8px;
}

.td_in_searchBox {
    padding: 0px !important;
    position: relative;
}

.td_in_searchBox .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    border: none;
    background-color: #f2f2f2;
}

.td_in_searchBox .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.flex-fill {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
}

.activeTextColor {
    color: $deep-sky-blue !important;
}

.basic > thead > tr > th {
    border-right: 1px solid #c6c4c4;
}
.icon-pointer {
    margin-left: 6px;
}
.icon-pointer .glyphicon {
    cursor: pointer;
}

.td_in_searchBox div i:hover {
    color: $deep-sky-blue;
}

.mh18_img img {
    max-height: 20px;
    cursor: pointer;
}
.onMobileView {
    margin-bottom: 0;
}
.recurring-container {
    padding: 0 15px;
}
.icon-sort-asc,
.icon-sort-dsc {
    color: $wild-blue-yonder;
}
.table-bordered .d-flex {
    align-items: center;
}
.btn-link-2 {
    color: #1c1c1c;
}
// table{
//   position: relative;
// }
// .basic > thead > tr > th{
//     position: sticky !important;
//     top: 59px;
//     z-index: 99;
//     box-shadow: 1px 1px 0 $gainsboro;
// }
// responsive
@media (max-width: 768px) {
    .justify-content-sm {
        justify-content: left !important;
    }
    .onMobileView {
        background: transparent;
        border: none;
    }
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 49%;
        margin-bottom: 5px;
    }
    .input-grp-dateRangePicker .form-group .input-group,
    .input-grp-dateRangePicker .form-group button {
        width: 100%;
        display: block;
    }
    .input-grp-dateRangePicker.form-inline .form-group:nth-child(2n) {
        margin-right: 0 !important;
    }
}
@media (max-width: 767px) {
    .recurring-container {
        margin-top: 60px;
    }
}
@media (max-width: 530px) {
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 48.5%;
        margin-bottom: 5px;
    }
}
@media (max-width: 375px) {
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 48.2%;
        margin-bottom: 5px;
    }
}
