/*td-in-searchbox_style*/
@import "../../../assets/css/color.scss";

.reccuring-form {
    flex: 1;
}
.search-icon-block {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid $gainsboro;
    border-radius: 2px;
    color: gray;
    background: #fff;
    align-items: center;
    justify-content: center;
}
.td-search-box div {
    display: flex;
}

.td-search-box div span {
    // flex: 1 1 auto;
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 4px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    padding-left: 10px;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    border: none;
    background-color: #f2f2f2;
}

.td-search-box .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.flex-fill {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
}

.activeTextColor {
    color: $deep-sky-blue !important;
}

.basic > thead > tr > th {
    border-right: 1px solid #c6c4c4;
}
.icon-pointer {
    margin-left: 6px;
}
.icon-pointer .glyphicon {
    cursor: pointer;
}

.td-search-box div i:hover {
    color: $deep-sky-blue;
}

.mh18_img img {
    max-height: 20px;
    cursor: pointer;
}
.onMobileView {
    margin-bottom: 0;
}
.recurring-container {
    padding: 0 15px;
}
.icon-sort-asc,
.icon-sort-dsc {
    color: $wild-blue-yonder;
}
.table-bordered .d-flex {
    align-items: center;
}
.btn-link-2 {
    color: #1c1c1c;
}
.search-invoice-filed {
    display: none;
}
// responsive
@media (max-width: 1023px) {
    .input-group {
        display: block;
    }
}
@media (max-width: 768px) {
    .form-view .input-group {
        display: flex;
    }
    .reccuring-form {
        display: none;
    }
    .justify-content-sm {
        justify-content: left !important;
    }
    .onMobileView {
        background: transparent;
        border: none;
    }
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 49%;
        margin-bottom: 5px;
    }
    .input-grp-dateRangePicker .form-group .input-group,
    .input-grp-dateRangePicker .form-group button {
        width: 100%;
        display: block;
    }
    .input-grp-dateRangePicker.form-inline .form-group:nth-child(2n) {
        margin-right: 0 !important;
    }
    .search-invoice-filed {
        display: block;
    }
}
@media (max-width: 767px) {
    .recurring-container {
        margin-top: 55px;
    }
}
@media (max-width: 530px) {
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 48.5%;
        margin-bottom: 5px;
    }
}
@media (max-width: 375px) {
    .input-grp-dateRangePicker.form-inline .form-group {
        display: inline-block;
        width: 48.2%;
        margin-bottom: 5px;
    }
}
@media (min-width: 769px) {
    .search-icon-block {
        display: none;
    }
}
