/*td-in-searchbox_style*/

.recurring-form {
    flex: 1;
    display: flex;
}
.search-icon-block {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-16);
    border: 1px solid var(--color-iron);
    border-radius: 5px;
    color: var(--color-abbey);
    background: var(--color-white);
    align-items: center;
    justify-content: center;
}
.td-search-box div {
    display: flex;
}

.td-search-box div i {
    margin-top: 0px;
    color: var(--color-blue);
    padding-right: 8px;
    cursor: pointer;
    padding-left: 0px;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container input {
    height: 36px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    border: none;
    background-color: var(--color-wild-sand);
    border-radius: 5px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.flex-fill {
    flex: 1 1 auto;
}

.list-item {
    border-bottom: 1px solid var(--color-iron) !important;
}

.active-text-color {
    color: var(--color-blue) !important;
}

.basic > thead > tr > th {
    border-right: 1px solid var(--color-iron);
}
.icon-pointer {
    margin-left: 6px;
    cursor: pointer;
}
.icon-pointer .glyphicon {
    cursor: pointer;
}

.td-search-box div i:hover {
    color: var(--color-blue);
}

.check-image img {
    max-height: 14px;
    cursor: pointer;
}
.on-mobile-view {
    margin-bottom: 0;
}
.recurring-container {
    padding: 0 15px;
    .form-inline {
        margin-bottom: 10px !important;
    }
}
.icon-sort-asc {
    color: var(--color-blue);
}
.table-bordered .d-flex {
    align-items: center;
}
.btn-link-2 {
    color: var(--color-nero);
}

.search-invoice-filed {
    display: none;
}
.more-dropdown {
    height: 30px !important;
    .dropdown-menu {
        right: -53px !important;
    }
}
.giddh-table {
    td {
        white-space: normal !important;
        word-break: break-word !important;
    }
}

// responsive
@media (max-width: 1190px) {
    .recurring-form {
        .input-group {
            width: 125px;
        }
    }
}
@media (max-width: 1191px) and (min-width: 1024px) {
    .recurring-form-wrapper {
        display: flex;
        width: 100%;
        .recurring-form {
            flex: auto;
            display: flex;
            width: 100%;
            .form-group {
                flex-flow: column wrap;
                align-items: flex-start;
                margin-bottom: 0;
                width: 25%;
                .input-group {
                    width: 100%;
                    display: flex;
                    sh-select,
                    input,
                    div {
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
            input {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 1023px) {
    .input-group {
        display: block;
    }
    .recurring-container {
        .form-inline {
            margin-bottom: 0 !important;
        }
    }
}
@media (max-width: 768px) {
    .giddh-table {
        td {
            width: 100%;
        }
    }
    .form-view .input-group {
        display: flex;
    }
    .recurring-form {
        display: none;
    }
    .justify-content-sm {
        justify-content: left !important;
    }
    .on-mobile-view {
        background: transparent;
        border: none;
    }
    .input-grp-date-range-picker.form-inline .form-group {
        display: inline-block;
        width: 49%;
        margin-bottom: 5px;
    }
    .input-grp-date-range-picker .form-group .input-group,
    .input-grp-date-range-picker .form-group button {
        width: 100%;
        display: block;
    }
    .input-grp-date-range-picker.form-inline .form-group:nth-child(2n) {
        margin-right: 0 !important;
    }
    .search-invoice-filed {
        display: block;
    }
}
@media (max-width: 530px) {
    .input-grp-date-range-picker.form-inline .form-group {
        display: inline-block;
        width: 48.5%;
        margin-bottom: 5px;
    }
}
@media (max-width: 375px) {
    .input-grp-date-range-picker.form-inline .form-group {
        display: inline-block;
        width: 48.2%;
        margin-bottom: 5px;
    }
}
@media (min-width: 769px) {
    .search-icon-block {
        display: none;
    }
}
