@import "../../../../../../assets/css/color.scss";
.output_row > td {
    padding: 12px 10px 12px 0 !important;
}

.basic > tbody > tr > td {
    padding: 2px 10px 2px 0;
}

.table_label td {
    padding-top: 12px !important;
    padding-bottom: 5px;
}

.dropdown-menu {
    max-height: 168px;
    overflow: auto;
}
.sku-row {
    label {
        width: 100%;
    }
    position: relative;
    .label-input {
        background: none;
        border: none;
        max-width: 108px;
        border-bottom: 1px solid #dddddd;
    }
    .item-label {
        display: inline-block;
    }
    .item-label:first-child {
        max-width: 108px;
    }
    .item-label:last-child {
        text-align: right;
    }
    i {
        margin-left: 10px;
        padding-bottom: 3px;
        border-bottom: 1px solid #dddddd;
    }
    .new-btn {
        font-size: 12px;
        color: #2262d1;
        padding-top: 30px;
        cursor: pointer;
    }
    .text-danger {
        color: #f80606;
    }
}

.opacity {
    opacity: 0.5;
}
.fsstock td {
    padding-right: 10px;
}
tr.fsstock td {
    padding-bottom: 15px;
}
.table_label strong {
    color: #484848;
    font-weight: normal !important;
    font-size: 14px;
    font-family: "opensans-regular";
}
input.focusBorder[type="checkbox"]:focus:after {
    border-color: $chetwode-blue;
}
.aside-pane-form {
    background-color: #fff;
    box-shadow: 0px 3px 6px #0000001a;
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
#close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    display: block;
}
