@import "../../../../assets/css/color.scss";
.flex-fill {
    flex: 1 1 auto;
}
.basic > tbody > tr:hover td > a {
    color: $midnight-blue;
}
.basic > tbody > tr > td,
.basic > thead > tr > th,
.basic > tfoot > tr > th {
    white-space: nowrap !important;
}
.basic > tfoot > tr > th {
    background: $whisper;
}
.table-active {
    background: $solitude;
}
.width-200px {
    width: 200px;
}
.basic > tbody > tr > td > a {
    color: $primary;
}
.particular {
    float: right;
    margin-top: 2px;
    font-size: 19px;
    color: $night-rider;
}
.bgChange {
    background: $solitude;
}
.btn-sort {
    display: flex !important;
    width: 36px;
    height: 36px;
    background-color: $white;
    font-size: 18px;
    color: $midnight-blue !important;
    border: 1px solid $gainsboro;
    justify-content: center;
    align-items: center;
}
.btn-sort i {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
}
.sales-register-footer {
    .particular {
        cursor: auto;
    }
}

@media screen and (max-width:768px) {
    .table-responsive{
        .giddh-table.on-mobile-view{
            tr{
                td{
                    white-space: normal !important;
                    word-break: break-word;
                }
            }
        }
    }
}
