.inventory-settings {
    min-height: calc(100vh - var(--header-height));

    .nested-setting-row {
        position: relative;
        padding-left: 28px;

        &::before {
            content: "";
            position: absolute;
            left: 8px;
            top: 4px;
            width: 10px;
            height: 10px;
            border-left: 1.5px solid var(--color-medium-gray);
            border-bottom: 1.5px solid var(--color-medium-gray);
            border-bottom-left-radius: 2px;
        }

        .icon-right {
            position: absolute;
            left: 12px;
            top: 6px;
            color: var(--color-medium-gray);
        }
    }

    .reports-info {
        background-color: var(--theme-primary-light);
        color: var(--theme-foreground-color);
    }
}
