.liabilities-payments {
    .custom-datepicker {
        input {
            height: 48px;
            width: 100% !important;
            min-width: 230px;
            max-width: unset !important;
        }
    }
}
