<form #invoiceForm="ngForm" (ngSubmit)="getInvoicesByFilters(invoiceForm)" novalidate class="form-inline filterForm">
  <div class="form-group">
    <label>From</label>
    <input type="text" class="form-control" name="from" placeholder="from date" [(ngModel)]="invoiceSearchRequest.from" />
  </div>
  <div class="form-group">
    <label>To</label>
    <input type="text" class="form-control" name="to" placeholder="to date" [(ngModel)]="invoiceSearchRequest.to" />
  </div>
  <div class="form-group">
    <label>Account</label>
    <select2
      name="a"
      [(ngModel)]="invoiceSearchRequest.accountUniqueName"
      class="select2-parent"
      [data]="accounts$ | async" 
      [options]="select2Options" >
    </select2>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" placeholder="By description" [(ngModel)]="invoiceSearchRequest.description">
  </div>
  <div class="form-group">
    <label>Count</label>
    <select class="form-control col-xs-2" name="count" [(ngModel)]="invoiceSearchRequest.count">
      <option value="select">Select</option>
      <option *ngFor="let num of counts;" [ngValue]="num">{{num}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Amount</label>
    <select class="form-control" name="entryTotalBy" [(ngModel)]="invoiceSearchRequest.entryTotalBy">
      <option value="select">Please Select</option>
      <option *ngFor="let item of filtersForEntryTotal" [ngValue]="item.uniqueName"> {{ item.name }} </option>
    </select>
  </div>
  <div class="form-group">
    <label>&nbsp;</label>
    <input type="text" class="form-control col-xs-2" name="entryTotal"  [(ngModel)]="invoiceSearchRequest.entryTotal" placeholder="By amount">
  </div>
  <div class="form-group">
    <label>&nbsp;</label>
    <button class="btn btn-primary">GO</button>
  </div>
    
</form>
<!--list of data  -->
<br>
<br>
<br>
<div class="no-data" *ngIf="!invoiceData">
  <h1>No Entry found in sales!</h1>
  <h1>Have to do some sales before creating invoice</h1>
  <a class="btn btn-primary">Go to Sales</a>
</div>

<table class="table basic table-bordered pdT2" *ngIf="invoiceData && invoiceData.results.length > 0">
  <thead class="t-h-bg1">
    <tr>
      <th style="width:10%">#</th>
      <th style="width:10%">invoiceNumber</th>
      <th style="width:23.5%">account</th>
      <th style="width:7%">Date</th>
      <th style="width:30%">Total amount</th>
      <th style="width:7%">Balance Due</th>
      <th style="width:7%">Action to perform</th>
      <th style="width:20%">Status</th>
      <th style="width:20%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of invoiceData.results; let i = index">
      <td>{{ i + 1}}</td>
      <td>{{item.invoiceNumber}}</td>
      <td>{{item.account.name}}</td>
      <td>{{item.invoiceDate}}</td>
      <td>{{item.grandTotal}}</td>
      <td>{{item.balanceDue}}</td>
      <td> 
       <select #invoiceAction class="form-control" (change)="onPerformAction(item, invoiceAction)">
         <option value="">--Select--</option>
         <option value="paid">Paid</option>
         <option value="unpaid">Unpaid</option>
         <option value="hold">Hold</option>
         <option value="cancel">Cancel</option>
       </select>
       </td>
      <td>{{item.balanceStatus}}</td>
      <td class="text-center"> <i (click)="onDeleteBtnClick(item.uniqueName)" class="fa fa-trash cursor-pointer"></i> </td>
    </tr>
  </tbody>
</table>

<!-- Delete invoice confirmation model -->
<div bsModal #invoiceConfirmationModel="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- modal-liq90 class is removed for now-->
        <div class="modal-content">
          <delete-role-confirmation-model [selectedInvoiceForDelete]="selectedInvoiceForDelete" (confirmDeleteEvent)="deleteConfirmedInvoice()" (closeModelEvent)="closeConfirmationPopup()"></delete-role-confirmation-model>
        </div>
    </div>
</div>

<!-- Perform action on invoice model -->
<div bsModal #performActionOnInvoiceModel="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- modal-liq90 class is removed for now-->
        <div class="modal-content">
          <delete-role-confirmation-model [selectedInvoiceForDelete]="selectedInvoiceForDelete" (confirmDeleteEvent)="deleteConfirmedInvoice()" (closeModelEvent)="closeConfirmationPopup()"></delete-role-confirmation-model>
        </div>
    </div>
</div>