.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: row wrap;
}

/* .table.basic tbody tr td{
  background-color: #fff;
}
.table.basic .table tbody tr td{
  border: none;
} */

.mh18_img img {
  max-height: 20px;
  cursor: pointer
}
