.vouchers {
    padding: 5px 0;

    .row-gap {
        row-gap: 15px;
    }

    .vouchers-title {
        height: 50px;
        border-bottom: 1px solid var(--color-grey-bootstrap-border);

        h1 {
            font-size: var(--font-size-24);
            color: var(--color-giddh-blue);
        }
    }

    .vouchers-content-wrapper {
        padding: 15px 0;

        .vouchers-primary-form {
            .balance-due-label {
                font-size: var(--font-size-15);
            }

            h2 {
                font-size: var(--font-size-24);
            }
        }

        .vouchers-form-fields {
            max-width: 415px;
            min-width: 230px;

        }

        .vouchers-form-fields-detail {
            color: var(--color-giddh-blue);
        }

        .vouchers-copy-sales {
            color: var(--color-giddh-blue);
        }
    }

    .vouchers-secondary-form {
        &.vouchers-form-disable {
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: var(--color-primary-performa-invoice-dissabled-background);
                opacity: 0.7;
            }
        }

        // margin: 0;

        .vouchers-small-container {
            max-width: 860px;

            .billing-label {
                height: 40px;
                padding: 11px 0;
            }

            .vouchers-address-form {
                display: grid;
                grid-template-areas:
                    'address address'
                    'country state'
                    'gstin pincode';
                gap: 15px;
                padding: 15px;
                border: 1px solid var(--color-common-secondary-border);

                .address-field {
                    grid-area: address;

                    textarea {
                        border: none;
                    }
                }

                .country-field {
                    grid-area: country;
                    border-bottom: 1px solid var(--color-common-secondary-border);
                }

                .state-field {
                    grid-area: state;
                    border-bottom: 1px solid var(--color-common-secondary-border);
                }

                .gstin-field {
                    grid-area: gstin;
                    border-bottom: 1px solid var(--color-common-secondary-border);
                }

                .pin-code-field {
                    grid-area: pincode;
                    border-bottom: 1px solid var(--color-common-secondary-border);
                }

                &.form-disabled {
                    background: var(--color-dark-fog);
                    opacity: 0.7;
                    pointer-events: none;
                }
            }

        }

        .vouchers-large-container {
            border-top: 1px solid var(--color-common-secondary-border);

            .change-currency {
                max-width: calc(100% - 36px);

                .currency-input-wrapper {
                    width: 80px;
                }
            }

            .vouchers-entry-grid {
                display: grid;
                grid-template-columns: 40px minmax(230px, auto) repeat(5, 1fr) 140px auto;

                @media screen and (max-width: 1359px) {
                    grid-template-columns: 40px 180px repeat(5, 1fr) 140px auto;
                }

                grid-template-rows: minmax(40px, auto);
                // max-width: 1075px;

                &>div {
                    padding: 15px 12px;
                    border-bottom: 1px solid var(--color-common-secondary-border);
                    border-left: 1px solid var(--color-common-secondary-border);
                    text-align: right;
                }

                div {
                    &.head-item {
                        border-top: 1px solid var(--color-common-secondary-border);
                        color: var(--color-giddh-blue);
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-end;

                        &:first-child,
                        &:nth-child(2) {
                            justify-content: flex-start;
                        }
                    }

                    &.body-item {

                        &.delete-btn {
                            padding: 0 0 0 10px;
                            border-top: none;
                            border-right: none;
                            border-bottom: none;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                            .icon-trash {
                                border: 1px solid var(--color-grey-bootstrap-border);
                                border-radius: 50%;
                                padding: 4px;
                            }
                        }
                    }
                }

                .select-account-label {
                    color: var(--color-gray);
                }

            }

            .vouchers-other-detail {
                margin: 0;
                max-width: calc(100% - 36px);

                .vouchers-attachment {
                    height: 48px;

                    .attachment-add-icon {
                        width: 36px;
                        height: 36px;
                        text-align: center;
                        line-height: 36px;
                        border-radius: 50%;
                        border: 1px solid var(--color-grey-bootstrap-border);
                    }

                    &.text-success {
                        .attachment-add-icon {
                            border-color: var(--color-success-enable);
                            font-size: var(--font-size-12);
                        }

                        .attachment-placeholder {
                            color: var(--color-success-enable);
                            width: 80%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }

                    .attachment-placeholder {
                        color: var(--color-giddh-blue);
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        left: 0;
                        border-radius: 5px;
                        z-index: 1;
                        opacity: 0;
                        cursor: pointer;

                        //  This will hide "Default Choose file" button
                        &::-webkit-file-upload-button {
                            display: none;
                        }
                    }

                    .remove-attachment {
                        height: 25px;
                        width: 25px;
                        padding: 2px;
                        color: black;
                    }
                }
            }

            .vouchers-actions {
                border-top: 1px solid var(--color-common-secondary-border);

                .vouchers-more-option-btn {
                    min-width: unset;
                }
            }
        }
    }
}