<div class="vouchers">

    <!-- Voucher Page Heading -->
    <div class="vouchers-title d-flex align-items-center">
        <h1>Sales</h1>
        <span class="ml-auto">How to create an Invoice?</span>
    </div>

    <div class="vouchers-content-wrapper">

        <!-- Voucher Form Top Section -->
        <div class="vouchers-primary-form container">
            <div class="row">
                <div class="col-10">
                    <div class="d-flex align-items-center">
                        <div class="vouchers-form-fields w-100">
                            <dropdown-field [label]="'Customer'" [placeholder]="'Select Customer'"
                                [options]="dummyOptions" (selectedOption)="selectDropdown($event)" [defaultValue]="''">
                            </dropdown-field>
                        </div>
                        <div class="vouchers-copy-sales ml-3 cursor-pointer" [matMenuTriggerFor]="copySales">
                            <i class="icon-copy-file"></i>
                            Copy Previous Sales Invoices
                        </div>
                        <mat-menu #copySales="matMenu">
                            <div class="mat-menu-width-large">
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <span class="balance-due-label">Balance Due</span>
                    <h2>0.00</h2>
                </div>
                <div class="col-12">
                    <span class="vouchers-form-fields-detail cursor-pointer">Customer Details</span>
                    <img src="/assets/images/new/search_customer.svg" height="70" *ngIf="false" />
                </div>
            </div>
        </div>

        <!-- Voucher Form Main Section -->
        <div class="vouchers-secondary-form container">
            <div class="vouchers-small-container">
                <!-- Row 1 -->
                <div class="row row-gap">

                    <!-- Billing Address -->
                    <div class="col-6">
                        <label for="billingAddress" class="billing-label">Billing Address</label> <i [matMenuTriggerFor]="billingAddress" class="icon-edit color-primary cursor-pointer pl-2 font-12"></i>
                        <mat-menu #billingAddress="matMenu">
                            <div class="mat-menu-width-large  vouchers-address-menu">
                                <button mat-menu-item>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            Indore, <p>Madhya Pradesh</p>
                                        </div>
                                        <i class="icon-tick"></i>
                                    </div>
                                  
                                
                                </button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                                <button mat-menu-item>Item 3</button>
                                <button mat-menu-item>Item 4</button>
                                <button mat-menu-item class="vouchers-add-new">+ Add new address</button>

                            </div>
                        </mat-menu>

                        <div class="vouchers-address-form">
                            <div class="address-field">
                                <textarea rows="2" matInput class="w-100" id="billingAddress"></textarea>
                            </div>
                            <div class="country-field">
                                <span>India</span>
                            </div>
                            <div class="state-field">
                                <select-field [cssClass]="'border-0'" [name]="'fields'" [placeholder]="'Punjab'"
                                    [options]="dummyOptions" (selectedOption)="selectDropdown($event)"
                                    [defaultValue]="''">
                                </select-field>
                            </div>
                            <div class="gstin-field">

                                <text-field type="text" name="gstin" [placeholder]="'GSTIN'"
                                    [cssClass]="'border-0'"></text-field>
                            </div>
                            <div class="pin-code-field">
                                <text-field type="text" name="gstin" [placeholder]="'PIN Code'"
                                    [cssClass]="'border-0'"></text-field>
                            </div>
                        </div>
                    </div>

                    <!-- Shipping Address -->
                    <div class="col-6">
                        <mat-checkbox type="checkbox" color="primary">
                            Shipping Address Same as Billing Address
                        </mat-checkbox>
                        <i class="icon-edit color-primary cursor-pointer pl-2 font-12"></i>

                        <div class="vouchers-address-form form-disabled">
                            <div class="address-field">
                                <textarea rows="2" matInput class="w-100"></textarea>
                            </div>
                            <div class="country-field">
                                <span>India</span>
                            </div>
                            <div class="state-field">
                                <select-field [cssClass]="'border-0'" [name]="'fields'" [placeholder]="'Punjab'"
                                    [options]="dummyOptions" (selectedOption)="selectDropdown($event)"
                                    [defaultValue]="''">
                                </select-field>
                            </div>
                            <div class="gstin-field">

                                <text-field type="text" name="gstin" [placeholder]="'GSTIN'"
                                    [cssClass]="'border-0'"></text-field>
                            </div>
                            <div class="pin-code-field">
                                <text-field type="text" name="gstin" [placeholder]="'PIN Code'"
                                    [cssClass]="'border-0'"></text-field>
                            </div>
                        </div>
                    </div>

                    <!-- Attention to -->
                    <div class="col-6">
                        <input-field [name]="'attention-to'" [label]="'Attention to'" [placeholder]="'Enter name'"
                            [type]="'text'">
                        </input-field>
                    </div>

                    <!-- Email Id -->
                    <div class="col-6">
                        <input-field [name]="'email'" [label]="'Email Id'" [placeholder]="'Enter email'"
                            [type]="'text'">
                        </input-field>
                    </div>

                    <!-- Mobile Number -->
                    <div class="col-6">
                        <input-field [name]="'mobile-number'" [type]="'tel'" #initContactProforma class="flag-input"
                            [id]="'init-contact-proforma'" (keydown.enter)="$event.preventDefault()"
                            [label]="'Mobile Number'" [placeholder]="'98XXXXXXXX'" [floatLabel]="'always'">
                        </input-field>
                        <span id="init-contact-proforma-valid-msg" class="d-none"></span>
                        <span id="init-contact-proforma-error-msg" class="d-none"></span>
                    </div>
                </div>
                
                <!-- Row 2 -->
                <div class="row row-gap mr-t15">
                        <div class="col-12">
                            <span>Deliver To</span>
                        </div>

                        <!-- Billing Address -->
                        <div class="col-6">
                            <label for="billingAddress" class="billing-label">Billing Address</label> <i class="icon-edit color-primary cursor-pointer pl-2 font-12"></i>
    
                            <!-- <div class="vouchers-address-form">
                                <div class="address-field">
                                    <textarea rows="2" matInput class="w-100" id="billingAddress"></textarea>
                                </div>
                                <div class="country-field">
                                    <span>India</span>
                                </div>
                                <div class="state-field">
                                    <select-field [cssClass]="'border-0'" [name]="'fields'" [placeholder]="'Punjab'"
                                        [options]="dummyOptions" (selectedOption)="selectDropdown($event)"
                                        [defaultValue]="''">
                                    </select-field>
                                </div>
                                <div class="gstin-field">
    
                                    <text-field type="text" name="gstin" [placeholder]="'GSTIN'"
                                        [cssClass]="'border-0'"></text-field>
                                </div>
                                <div class="pin-code-field">
                                    <text-field type="text" name="gstin" [placeholder]="'PIN Code'"
                                        [cssClass]="'border-0'"></text-field>
                                </div>
                            </div> -->
                        </div>
    
                        <!-- Shipping Address -->
                        <div class="col-6">
                            <mat-checkbox type="checkbox" color="primary">
                                Shipping Address Same as Billing Address
                            </mat-checkbox>
                            <i class="icon-edit color-primary cursor-pointer pl-2 font-12"></i>
    
                            <!-- <div class="vouchers-address-form form-disabled">
                                <div class="address-field">
                                    <textarea rows="2" matInput class="w-100"></textarea>
                                </div>
                                <div class="country-field">
                                    <span>India</span>
                                </div>
                                <div class="state-field">
                                    <select-field [cssClass]="'border-0'" [name]="'fields'" [placeholder]="'Punjab'"
                                        [options]="dummyOptions" (selectedOption)="selectDropdown($event)"
                                        [defaultValue]="''">
                                    </select-field>
                                </div>
                                <div class="gstin-field">
    
                                    <text-field type="text" name="gstin" [placeholder]="'GSTIN'"
                                        [cssClass]="'border-0'"></text-field>
                                </div>
                                <div class="pin-code-field">
                                    <text-field type="text" name="gstin" [placeholder]="'PIN Code'"
                                        [cssClass]="'border-0'"></text-field>
                                </div>
                            </div> -->
                        </div>
                </div>

                <!-- Row 3 -->
                <div class="row row-gap mr-t15">

                    <!-- Purchase Order -->
                    <div class="col-6">
                        <mat-select
                        name="linkedPO"
                        class="po-mat-select"
                        [placeholder]="'Purchase Order'"
                    >
                        <mat-select-trigger>
                         List of selected items
                        </mat-select-trigger>
                        <mat-option class="po-options-line">
                            <ngx-mat-select-search
                                [noEntriesFoundLabel]="'No Data Found'"
                                [placeholderLabel]="'Select order'"
                            >
                                <i class="icon-cross" ngxMatSelectSearchClear></i>
                            </ngx-mat-select-search>
                        </mat-option>

                        <mat-option
                            [value]="1"
                            class="po-options-line"
                        >
                            <span class="po-option-label"> Item Label</span>
                            <span class="po-option-value">
                                Pending : additonal text</span
                            >
                            <span class="po-option-value">
                               Amount : 500
                            </span>
                        </mat-option>
                    </mat-select>
                    </div>
                </div>

                <!-- Row 4 -->
                <div class="row row-gap mr-t15">

                    <!-- Voucher Number -->
                    <div class="col-6">
                        <input-field [name]="'vouchers-number'" [label]="'Voucher Number'"
                            [placeholder]="'Enter voucher number'" [type]="'text'">
                        </input-field>
                    </div>

                    <!-- Invoice Date -->
                    <div class="col-3">
                        <giddh-datepicker type="text" (keydown.enter)="$event.preventDefault()" [label]="'Invoie Date'"
                            [placeholder]="'DDMMYYYY'" name="voucherDate" [showToggleIcon]="false"
                            [appearance]="'outline'">
                        </giddh-datepicker>
                    </div>

                    <!-- Due Date -->
                    <div class="col-3">
                        <giddh-datepicker type="text" (keydown.enter)="$event.preventDefault()" [label]="'Due Date'"
                            [placeholder]="'DDMMYYYY'" name="voucherDueDate" [showToggleIcon]="false"
                            [appearance]="'outline'">
                        </giddh-datepicker>
                    </div>

                    <!-- Reverse Charge Checkbox -->
                    <div class="col-6">
                        <mat-checkbox type="checkbox" color="primary">
                            Shipping Address Same as Billing Address
                        </mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="vouchers-large-container mt-4">

                <!-- Voucher Grid for Multiple Entries-->
                <div class="vouchers-entry-grid mt-4">

                    <!-- Grid Head | Row 1 -->

                    <div class="head-item">#</div>
                    <div class="head-item">Product/Service Description</div>
                    <div class="head-item">Qty/Unit</div>
                    <div class="head-item">Rate</div>
                    <div class="head-item">Amount</div>
                    <div class="head-item">Discount</div>
                    <div class="head-item">Tax</div>
                    <div class="head-item">Total</div>
                    <div class="border-end-0 border-bottom-0 p-0">
                        <!-- Don't Delete this element it is working as column for delete icon -->
                    </div>

                    <!-- Grid Body | Row 2-->

                    <!-- # -->
                    <div class="body-item">1</div>

                    <!-- Product/Service Description -->
                    <div class="body-item">

                        <span class="select-account-label">111 </span>

                        <div class="mt-2 font-12">
                            <span>Entry Date</span>
                            <div class="mt-1">22-01-2024 <i class="icon-edit color-primary cursor-pointer"></i></div>
                        </div>
                    </div>

                    <!-- Qty/Unit -->
                    <div class="body-item">

                    </div>

                    <!-- Rate -->
                    <div class="body-item">

                    </div>

                    <!-- Amount -->
                    <div class="body-item">
                        <span>0.00</span>
                    </div>

                    <!-- Discount -->
                    <div class="body-item">
                        <span>0.00</span>
                    </div>

                    <!-- Tax -->
                    <div class="body-item">
                        <span>0.00</span>
                    </div>

                    <!-- Total -->
                    <div class="body-item">
                        <span>0.00</span>
                    </div>

                    <!-- Delete -->
                    <div class="body-item delete-btn">
                        <i class="icon-trash"></i>
                    </div>



                    <!-- Grid Body | Row 3-->

                    <!-- # -->
                    <div class="body-item active-item">2</div>

                    <!-- Product/Service Description -->
                    <div class="body-item active-item">
                        <select-field [cssClass]="'form-control'" [name]="'account'" [placeholder]="'Select account'"
                            [options]="dummyOptions" (selectedOption)="selectDropdown($event)" [defaultValue]="''">
                        </select-field>

                        <textarea rows="2" matInput class="form-control mt-2" placeholder="Add Description"></textarea>
                        <span class="mt-2 font-12">Characters Left: 300</span>

                        <div class="d-flex justify-content-between">
                            <div class="w-50">
                                <div class="mt-2 font-12">
                                    <span>Entry Date</span>
                                    <div class="mt-1">22-01-2024 <i class="icon-edit color-primary cursor-pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="w-50 text-right">
                                <div class="mt-2 font-12">
                                    <span>SAC:</span>
                                    <div class="mt-1">Update <i class="icon-edit color-primary cursor-pointer"
                                            [matMenuTriggerFor]="update"></i></div>

                                    <!-- Update Menu  -->
                                    <mat-menu #update="matMenu">
                                        <div class="p-3" (click)="$event.stopPropagation();">
                                            <mat-radio-group>
                                                <mat-radio-button color="primary" value="1">HSN Code</mat-radio-button>
                                                <mat-radio-button color="primary" value="2">SAC Code</mat-radio-button>
                                            </mat-radio-group>

                                            <div class="mt-3">
                                                <text-field [placeholder]="'HSN Number'"
                                                    [cssClass]="'form-control text-right'" [type]="'number'">
                                                </text-field>
                                            </div>

                                            <div class="mt-3">
                                                <button mat-stroked-button color="primary" class="mr-2">Save</button>
                                                <button mat-stroked-button>Cancel</button>
                                            </div>
                                        </div>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Qty/Unit -->
                    <div class="body-item active-item">
                        <text-field [placeholder]="'Enter Qty'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                        <mat-select name="qty" [placeholder]="'Select'" class="form-control mt-2">
                            <mat-option [value]="1">Opt 1</mat-option>
                            <mat-option [value]="2">Opt 2</mat-option>
                            <mat-option [value]="3">Opt 3</mat-option>
                        </mat-select>
                    </div>

                    <!-- Rate -->
                    <div class="body-item active-item">
                        <text-field [placeholder]="'Enter'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                    </div>

                    <!-- Amount -->
                    <div class="body-item active-item">
                        <text-field [placeholder]="'Enter'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                    </div>

                    <!-- Discount -->
                    <div class="body-item active-item">
                        <!-- Discount control component -->
                        <text-field [placeholder]="'Enter'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                    </div>

                    <!-- Tax -->
                    <div class="body-item active-item">
                        <!-- tax-control component -->
                        <text-field [placeholder]="'Enter'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                    </div>

                    <!-- Total -->
                    <div class="body-item active-item">
                        <text-field [placeholder]="'Enter'" [cssClass]="'form-control text-right'" [type]="'text'">
                        </text-field>
                        <div class="d-flex align-items-center">
                            <mat-checkbox type="checkbox" color="primary">
                            </mat-checkbox>
                            Other Tax?
                        </div>
                    </div>

                    <!-- Delete -->
                    <div class="body-item delete-btn">
                        <i class="icon-trash"></i>
                    </div>
                </div>
                <!-- Add new grid row/line -->
                <div class="font-12 color-primary mt-2 px-2">
                    <span class="cursor-pointer">+ Add New Line</span> <span class="grey-color px-2">|</span> <span
                        class="cursor-pointer">+ Add Bulk Entries</span>
                </div>

                <div class="vouchers-other-detail container mt-4 px-0">
                    <div class="row mx-0">
                        <div class="col-6 px-0">
                            <div class="d-flex align-items-center mb-3 column-gap1">
                                <div class="icon-box">
                                    <i class="icon-minus"></i>
                                </div>
                                Other Details
                            </div>
                            <div>
                                <div class="row row-gap left-spacing">
                                    <div class="col-4 px-2">
                                        <giddh-datepicker type="text" (keydown.enter)="$event.preventDefault()"
                                            [label]="'Ship Date'" [placeholder]="'DDMMYYYY'" name="voucherDueDate"
                                            [showToggleIcon]="false" [appearance]="'outline'">
                                        </giddh-datepicker>
                                    </div>
                                    <div class="col-4 px-2">
                                        <input-field [type]="'text'" [placeholder]="'Ship Via'">
                                        </input-field>
                                    </div>
                                    <div class="col-4 px-2">
                                        <input-field [type]="'text'" [placeholder]="'Tracking No.'">
                                        </input-field>
                                    </div>
                                    <div class="col-4 px-2">
                                        <input-field [type]="'text'" [placeholder]="'Custom Field 1'">
                                        </input-field>
                                    </div>
                                    <div class="col-4 px-2">
                                        <input-field [type]="'text'" [placeholder]="'Custom Field 2'">
                                        </input-field>
                                    </div>
                                    <div class="col-4 px-2">
                                        <input-field [type]="'text'" [placeholder]="'Custom Field 3'">
                                        </input-field>
                                    </div>
                                    <div class="col-12 px-2">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Note</mat-label>
                                            <textarea matInput placeholder="Enter Note"></textarea>
                                         </mat-form-field>
                                    </div>
                                    <div class="col-12 px-2">
                                        <div class="vouchers-attachment position-relative cursor-pointer d-flex align-items-center column-gap1">
                                            <input type="file" class="position-absolute"  />
                                         <div class="attachment-add-icon">
                                            <i class="icon-add"></i>
                                         </div>
                                         <span class="attachment-placeholder">Attach File to voucher</span>
                                         <span class="no-file-msg position-absolute font-12">No file chosen</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 px-0">
                            <div class="row text-right vouchers-summary">
                                <div class="col-9">
                                    Total Amount
                                </div>
                                <div class="col-3">
                                    750.00
                                </div>
                                <div class="col-9">
                                    Discount
                                </div>
                                <div class="col-3">
                                   0.00
                                </div>
                                <div class="col-9">
                                    Taxable Value
                                </div>
                                <div class="col-3">
                                    750.00
                                </div>
                                <div class="col-9">
                                    Tax
                                </div>
                                <div class="col-3">
                                    90.00
                                </div>
                                <div class="col-9">
                                    CESS
                                </div>
                                <div class="col-3">
                                    0.00
                                </div>
                                <div class="col-9">
                                    Total
                                </div>
                                <div class="col-3">
                                    840.00
                                </div>
                            </div>
                            <div class="vouchers-desposit-wrapper pd-1 ml-auto mt-3">
                                <span>Deposit</span>
                                <div class="mt-3 pl-3">
                                    <dropdown-field [label]="'Customer'" [placeholder]="'Select Account'"
                                    [options]="dummyOptions" (selectedOption)="selectDropdown($event)" [defaultValue]="''">
                                </dropdown-field>
                                </div>
                                <div class="mt-3 pl-3">
                                    <input-field [name]="''" [label]="'Amount'" [placeholder]="'Enter amount'"
                                    [type]="'number'">
                                </input-field>
                                </div>
                                <div class="mt-3 pl-3">
                                    <span>Balance Due</span>
                                    <span>0.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vouchers-actions d-flex justify-content-end column-gap1 pd-t2 pd-b2 mt-4">
                    <button mat-stroked-button> Clear </button>
                    <button mat-stroked-button color="primary"> Generate Sales & Update A/c </button>
                    <button mat-stroked-button color="primary"> Generate Sales </button>
                    <button mat-stroked-button color="primary"> Save </button>
                    <button mat-stroked-button> <i class="caret"></i> </button>

                </div>
            </div>


        </div>
    </div>
</div>