.form-header {
    padding: 20px 15px;
    background: var(--color-giddh-blue);
    color: var(--color-white);
}

.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}

.aside-pane-container {
    padding: 15px;
    font-size: var(--font-size-14);
    color: var(--color-nero);
}

.aside-pane-form label {
    margin-bottom: 5px;
    display: block;
}

.cr-dr-account {
    position: relative;
}

.cr-dr-account span {
    width: 36px;
    display: inline-flex;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
}

span.dr-label {
    right: 36px !important;
}

.cr-dr-account span.active {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.aside-pane-form .col-sm-4,
.aside-pane-form .col-sm-8,
.aside-pane-form .col-sm-10,
.aside-pane-form .col-sm-2,
.aside-pane-form .col-sm-6,
.aside-pane-form .col-sm-12 {
    padding: 0 10px;
}

.upper-form {
    margin-bottom: 20px;
    .input-group {
        .input-group-addon {
            border-left: 1px solid var(--color-iron) !important;
        }
        input {
            border-left: 1px solid var(--color-iron) !important;
            border-right: none;
            &:focus {
                border-left: 1px solid var(--color-blue) !important;
            }
        }
    }
}

form.gstin-form {
    padding-top: 15px;
}

.add-address-default {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-right-sidebar-primary-background);
    padding: 6px 10px;
    align-items: center;
    margin: 20px 0;
}
.add-address-btn {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-plus {
        margin-right: 10px;
    }
}
.add-address-default h3 {
    font-size: var(--font-size-16);
    color: var(--color-common-primary-text);
}

.contact-form,
.other-form-wrap,
.bank-details-form {
    padding-top: 15px;
}

.other-form .btn-sky-blue {
    display: block;
}

#asidePaneFormTabs ul.nav.nav-tabs {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.mobile-number-sh-select {
    width: 90px;
    margin-right: 10px;
}

a.btn-remove {
    padding: 3px 10px;
    background-color: var(--color-white);
    color: var(--color-nero);
    border: 1px solid var(--color-iron);
}

.name-of-field {
    display: flex;
    align-items: center;
    label {
        margin-bottom: 0;
        margin-right: 10px;
        min-width: 180px;
        max-width: 180px;
        line-height: 1.5;
        word-break: break-word;
        max-width: 180px;
        white-space: normal;
    }
}
@media (max-width: 767px) {
    .upper-form .select-group {
        margin-bottom: 15px;
    }
}
.is-default-address {
    margin-top: 5px !important;
    height: 29px;
}
.remove-radio-btn {
    span {
        margin-top: 3px;
    }
}
