<div class="col-xs-10">
    <div class="col-xs-12 bg_wrap">
        <div class="row">
            <div class="clearfix pdT2">
                <span class="btn label isActive">{{data.voucherType}}</span>
                <div class="pull-right text-right" (clickOutside)="showFromDatePicker = false;">
                    <input type="text" placeholder="Entry date" decimalDigitsDirective [ngModel]="moment(entryDate).format('DD-MM-YYYY')" readonly (focus)="showFromDatePicker = true;" class="form-control text-right appearance_none" />
                    <div *ngIf="showFromDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                        <datepicker [(ngModel)]="entryDate" (selectionDone)="setDate($event)" [showWeeks]="false"></datepicker>
                    </div>
                    {{moment(entryDate).format('dddd')}}
                </div>
            </div>

            <!-- invoice num -->
            <div class="clearfix form-inline mrB">
                <div class="mx-300 form-group">
                    <label>Supplier Invoice No:</label> <input type="text" placeholder="Invoice no." [(ngModel)]="data.invoiceNumberAgainstVoucher" class="form-control max-height28 appearance_none" decimalDigitsDirective style="max-width:200px" />
                </div>

                <!-- key not available in request 
                    <div class="mx-300 form-group" (clickOutside)="showInvoiceDate=false;">
                    <span>Date: </span>
                    <input type="text" [ngModel]="moment(entryDate).format('DD-MM-YYYY')" decimalDigitsDirective readonly (focus)="showInvoiceDate = true;" class="form-control appearance_none max-height28" />
                    <div *ngIf="showInvoiceDate" style="position: absolute; z-index:10; min-height:290px;">
                        <datepicker [(ngModel)]="entryDate" (selectionDone)="setInvoiceDate($event)" [showWeeks]="false"></datepicker>
                    </div>
                </div> -->
            </div>
            <!-- /invoice num -->


            <!-- party acc name -->
            <div class="mx-300 clearfix form-inline mrB" *ngIf="purchaseType == 'invoice'">
                <div class="form-group">
                    <label>Party A/c Name:<sup>*</sup></label>
                    <input type="text" #creditor placeholder="Party account" class="form-control max-height28 appearance_none" (ngModelChange)="searchAccount($event)" [(ngModel)]="creditorAcc.name" (focus)="getFlattenGrpAccounts(null, false);accountType = 'creditor'" (blur)="showAccountList=false;selectedInput=creditor"
                        style="max-width:200px" />
                </div>
            </div>
            <!-- /party acc name -->

            <!-- operating cost acc only -->
            <!-- No need for purchase ledger, as discussed with alok 
                <div class="mx-300 clearfix form-inline mrB">
                <div class="form-group">
                    <label>Purchase Ledger:<sup>*</sup></label> <input type="text" #debtor placeholder="Purchase account" (focus)="accountType = 'debitor'" [(ngModel)]="debtorAcc.name" (focus)="getFlattenGrpAccounts('purchases', true)" (blur)="showAccountList=false;selectedInput=debtor"
                        class="form-control max-height28 appearance_none" style="max-width:200px" />
                </div>
            </div> -->
            <!-- /operating cost acc only -->


            <!--  purchase as INVOICE -->
            <div class="clearfix mrT1" [style.min-height.vh]="61" *ngIf="purchaseType == 'invoice'">
                <div class="table-responsive bdrT">
                    <table class="table entry_table">
                        <thead>
                            <tr>
                                <th style="width:70%;">Name of Item</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Rate</th>
                                <th class="text-left">Per</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <br />
                        <!-- stock entry  -->
                        <tbody>
                            <ng-container *ngFor="let transaction of data.transactions">
                                <ng-container *ngIf="transaction.inventory.length">
                                    <tr *ngFor="let inventory of transaction.inventory;let i=index;let l=last" [ngClass]="{'activeRow': (isSelectedRow && selectedStockIdx === i) || (!selectedStockIdx && !isSelectedRow && i == 0)}">
                                        <td><input type="text" class="form-control" #Item [(ngModel)]="inventory.stock.name" (ngModelChange)="searchStock($event);changeStock(i, inventory.stock.name)" [ngClass]="{'focus': isSelectedRow && selectedStockIdx === i}"
                                                (focus)="showStockList.next(true); selectRow(true,i);" (blur)="selectRow(true,i);onStockItemBlur($event, Item);showStockList.next(false)" (keyup)="showStockList.next(true)" /></td>
                                        <td>
                                            <input type="text" class="form-control text-right" [(ngModel)]="inventory.quantity" (ngModelChange)="changeQuantity(i, $event)" (focus)="selectRow(true,i)" (blur)="selectRow(false,null);" [ngClass]="{'focus': isSelectedRow && selectedStockIdx === i}"
                                                decimalDigitsDirective [DecimalPlaces]="2" [disabled]="!inventory.stock.name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right" [(ngModel)]="inventory.unit.rate" (ngModelChange)="changePrice(i,$event)" (focus)="selectRow(true,i)" (blur)="selectRow(false,null)" [ngClass]="{'focus': isSelectedRow && selectedStockIdx === i}" decimalDigitsDirective
                                                [DecimalPlaces]="2" [disabled]="!inventory.stock.name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-left" [(ngModel)]="inventory.unit.stockUnitCode" [readonly]="true" (focus)="selectRow(true,i)" (blur)="selectRow(false,null)" [disabled]="!inventory.stock.name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right" #toAmountField [(ngModel)]="inventory.amount" (ngModelChange)="amountChanged(i)" (focus)="selectRow(true,i)" (keydown.Tab)="addNewStock(inventory.amount,inventory, i)" (blur)="selectRow(false,null);addNewStock(inventory.amount,inventory, i)"
                                                [ngClass]="{'focus': isSelectedRow && selectedStockIdx === i}" decimalDigitsDirective [DecimalPlaces]="2" [disabled]="!inventory.stock.name" />
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <tr *ngIf="stockTotal">
                                <td colspan="4"></td>
                                <td class>
                                    <input type="text" [value]="stockTotal" readonly disabled class="form-control text-right" />
                                    <div class="bdrB"></div>
                                </td>
                            </tr>
                            <br />
                            <!-- accounts entry -->
                            <!--  -->
                            <ng-container *ngFor="let transaction of data.transactions;let i=index;let l=last">
                                <ng-container *ngIf="transaction.inventory.length && !transaction?.inventory?.stock?.name">
                                    <tr [ngClass]="{'activeRow': isSelectedRow && selectedAccIdx === i}">
                                        <td colspan="2"><input type="text" class="form-control" #particular [(ngModel)]="transaction.selectedAccount.account" (ngModelChange)="searchAccount($event);" (focus)="this.showAccountList = true;selectAccountRow(true,i)" (blur)="selectAccountRow(true,i);"
                                                [ngClass]="{'focus': isSelectedRow && selectedAccIdx === i}" (keyup)="showAccountList=true;" (blur)="showAccountList=false;selectedInput=particular;" /></td>
                                        <!-- <td>
                                            <input type="text" class="form-control text-right" decimalDigitsDirective [DecimalPlaces]="2" [(ngModel)]="transaction.inventory.unit.rate" (ngModelChange)="calculateRate(i, transaction.inventory.unit.rate)" (focus)="selectAccountRow(true,i)" (blur)="selectAccountRow(false,null);"
                                                [ngClass]="{'focus': isSelectedRow && selectedAccIdx === i}" [disabled]="!transaction.selectedAccount.account" />
                                        </td>
                                        <td><input type="text" *ngIf="transaction.inventory.unit.rate" class="form-control" [value]="'%'" disabled readonly /></td> -->
                                        <td>
                                            <input type="text" class="form-control text-right" (change)="changeTotal(i, transaction.amount)" decimalDigitsDirective [DecimalPlaces]="2" [(ngModel)]="transaction.amount" (focus)="selectAccountRow(true,i)" (blur)="selectAccountRow(false,null);" [ngClass]="{'focus': isSelectedRow && selectedAccIdx === i}"
                                                [disabled]="!transaction.selectedAccount.account" />
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--  purchase as INVOICE -->



            <div class="clearfix">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Narration:</label>
                        <textarea class="form-control appearance_none" name="narration" (keyup.enter)="openConfirmBox(submitButton)" (keydown.tab)="openConfirmBox(submitButton)" [(ngModel)]="data.description" resize="false" rows="6"></textarea>
                    </div>
                </div>

                <div [hidden]="!showConfirmationBox" class="confirmation_box bdr text-center pd2">
                    <div class="">
                        <h1>Accept?</h1>
                        <div class="pdT2">
                            <button class="btn btn-primary" #submitButton (click)="saveEntry();">Yes</button> |
                            <button class="btn btn-default" (click)="showConfirmationBox = false;">No</button>
                            <br />
                            <button class="btn btn-link mrT1" (click)="refreshEntry();">Reset</button>

                        </div>
                    </div>
                </div>
                <div class="col-xs-3 total_box text-right pull-right" *ngIf="purchaseType == 'invoice'">
                    <span><strong>{{stockTotal + accountsTotal}}</strong></span>
                </div>

                <div class="col-xs-3 total_box text-right pull-right" *ngIf="purchaseType == 'voucher'">
                    <span><strong>{{stockTotal + accountsTotal}}</strong></span>
                    <span><strong>{{stockTotal + accountsTotal}}</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sidebar_menu col-xs-2 pd0">

    <div class="bdrL account_listbar pos_rel" [hidden]="!showAccountList">
        <h3 class="pd1 bdrB primary_clr">List of Ledger Accounts</h3>
        <accounts-list [search]="accountSearch" [parentGrpUnqName]="groupUniqueName" [filterByGrp]="filterByGrp" (onSelectItem)="setAccount($event)"></accounts-list>
    </div>


    <div class="bdrL account_listbar pos_rel" [hidden]="!(showStockList | async)">
        <h3 class="pd1 bdrB primary_clr">List of Stock Items</h3>
        <accounts-list [search]="stockSearch" [parentGrpUnqName]="groupUniqueName" [voucher]="'purchases'" [filterByGrp]="filterByGrp" [showStockItem]="(showStockList | async)" (onSelectItem)="onSelectStock($event)"></accounts-list>
    </div>

    <accounting-sidebar></accounting-sidebar>
</div>