.upload-logo {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-silver);
    border-radius: var(--mat-border-radius-4);
    min-height: 100px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* UNUSED COMPONENT CLASS: date-input - Auto-commented by script
.date-input {
    position: absolute;
    top: 9px;
    right: 8px;
}
*/
.signature-image {
    display: block;
    overflow: hidden;
}
