.uplode-logo {
    width: 100%;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    min-height: 100px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
