<form
    class="horizontal-form manage-group-account-form ng-pristine ng-valid ng-valid-required"
    id="groupDetailForm"
    name="groupDetailForm"
    novalidate
    [formGroup]="groupDetailForm"
    (submit)="addNewGroup()"
>
    <div class="container-fluid mt-2">
        <div class="row pb-4">
            <div class="col-xs-12 col-sm-6">
                <input-field
                    [type]="'text'"
                    [placeholder]="localeData?.group_name_placeholder"
                    [label]="localeData?.group_name_label"
                    [name]="'name'"
                    formControlName="name"
                    [autoFocus]="true"
                >
                </input-field>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input-field
                    [type]="'text'"
                    [placeholder]="commonLocaleData?.app_unique_name_placeholder"
                    [label]="commonLocaleData?.app_unique_name"
                    [name]="'uniqueName'"
                    formControlName="uniqueName"
                >
                </input-field>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-sm-6 closing-balance-width">
                <div
                    [ngClass]="{ 'input-group': groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0 }"
                    class="ml-0"
                >
                    <input-field
                        [type]="'text'"
                        [label]="localeData?.balance_for_trigger"
                        [name]="'closingBalanceTriggerAmount'"
                        formControlName="closingBalanceTriggerAmount"
                        [min]="0"
                        class="flex-grow-1"
                        [cssClass]="'text-right'"
                        [ngClass]="{ 'w100 remove-right-border-radius': groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0 }"
                        [placeholder]="'0.00'"
                        [allowDecimalDigitsOnly]="true"
                    >
                    </input-field>
                    <div class="d-flex">
                        <div
                        class="input-group-addon d-flex flex-column justify-content-center vertical-align-middle align-items-center row-gap-1"
                        (click)="closingBalanceTypeChanged('DEBIT')"
                        [ngClass]="{
                            'active-toggle-btn':
                                groupDetailForm.get('closingBalanceTriggerAmountType')?.value === 'DEBIT',
                            'cursor-pointer': groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0
                        }"
                        *ngIf="groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0"
                    >
                        {{ commonLocaleData?.app_dr?.toUpperCase() }}
                        </div>
                        <div
                            class="input-group-addon only-right-radius d-flex flex-column justify-content-center vertical-align-middle align-items-center row-gap-1"
                            (click)="closingBalanceTypeChanged('CREDIT')"
                            [ngClass]="{
                                'active-toggle-btn':
                                    groupDetailForm.get('closingBalanceTriggerAmountType')?.value === 'CREDIT',
                                'cursor-pointer': groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0
                            }"
                            *ngIf="groupDetailForm.get('closingBalanceTriggerAmount')?.value > 0"
                        >
                            {{ commonLocaleData?.app_cr?.toUpperCase() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group clear-both">
            <label>{{ localeData?.description_label }}</label>
            <textarea
                maxlength="200"
                rows="5"
                cols="10"
                class="form-control"
                [placeholder]="localeData?.description_placeholder"
                formControlName="description"
            ></textarea>
        </div>
        <button
            class="pull-right"
            matButton="filled"
            [ladda]="isCreateGroupInProcess$ | async"
            [disabled]="!groupDetailForm.valid"
        >
            {{ commonLocaleData?.app_add }}
        </button>
    </div>
</form>
