.create-company {
    .options-line {
        padding: 0 16px !important;
    }
}
.add-company-wrapper {
    .mat-horizontal-content-container {
        height: calc(100vh - 265px);
        overflow-y: auto;
    }
}
.mat-horizontal-content-container {
    padding: 10px 20px 20px 20px !important;
    overflow-x: auto !important;
}
