.aside-dialog-wrapper {
    height: 100vh;
    .dialog-header {
        height: var(--header-height);
    }
}

.dialog-header {
    height: 52px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    background-color: var(--bg-primary-color);

    button {
        &.mdc-icon-button {
            padding: 0 !important;
            $size: 30px;
            height: $size;
            width: $size;
            line-height: $size;
            .icon-cross {
                color: var(--color-white) !important;
                font-size: var(--font-size-16);
            }
        }

        &.cdk-keyboard-focused,
        &.cdk-program-focused {
            border-radius: 2px;
            outline-offset: 1px;
            outline: 2px solid var(--color-white) !important;
        }

        &.mdc-icon-button {
            &.cdk-keyboard-focused,
            &.cdk-program-focused {
                border-radius: 50% !important;
            }
        }
    }
}

.dialog-body {
    width: 100%;
    height: calc(100% - 60px);
    color: var(--theme-foreground-color) !important;

    &.max-height-80vh {
        &.mat-mdc-dialog-content {
            max-height: 80vh !important;
        }
    }
    &.mdc-dialog__content {
        &.mat-mdc-dialog-content {
            padding: 15px !important;
            &.p-0 {
                padding: 0 !important;
            }
        }
    }
}

.master-export {
    .modal-body {
        overflow: scroll;
        height: calc(100vh - 370px) !important;
    }
    .modal-dialog {
        &.modal-lg {
            max-width: 750px !important;
        }
    }
}

.aside-dialog-overflow {
    &.mat-mdc-dialog-content {
        max-height: calc(100vh - 65px) !important;
    }
}

.mdc-dialog__title {
    &::before {
        display: none !important;
    }
}
