.mat-mdc-menu-content {
    display: contents;
    .mat-mdc-menu-item {
        color: var(--theme-foreground-color);

        &.active {
            padding-right: 30px;
            &::after {
                content: '';
                position: absolute;
                top: -4.2426406871px;
                bottom: 0;
                right: 10px;
                box-sizing: content-box;
                border-left: 2px solid currentColor;
                border-bottom: 2px solid currentColor;
                transition: opacity 90ms cubic-bezier(0, 0, 0.2, 0.1);
                transform: rotate(-45deg);
                width: 14px;
                height: 6px;
                transform-origin: center;
                margin: auto;
                color: var(--text-primary-color);
            }
        }

        .mat-mdc-menu-item-text {
            width: 100%;
        }
    }
}
