.mat-mdc-tab-group {
    .mat-mdc-tab-header {
        border-bottom: 1px solid var(--border-color);

        .mat-mdc-tab {
            .mdc-tab__text-label {
                .voucher-svg {
                    fill: var(--color-dark-gray);
                }
            }
        }
    }
}

.custom-tab {
    .mat-button-toggle-appearance-standard {
        &.mat-button-toggle-checked {
            background-color: var(--bg-primary-color);
            color: var(--color-white);
        }
    }

    .mat-button-toggle-appearance-standard {
        .mat-button-toggle-label-content {
            --mat-standard-button-toggle-height: 36px;
        }
    }
}

.tabs-box-wrap {
    &.mat-mdc-tab-group {
        .mat-mdc-tab-header {
            border: none;
        }
    }
    .mat-mdc-tab-labels {
        column-gap: 35px;
        .mat-mdc-tab {
            border: 1px solid var(--border-color);
            width: 120px;
            height: 110px !important;
            border-radius: var(--mat-border-radius-4);
            .mdc-tab__text-label {
                flex-direction: column;
                row-gap: 8px;
                i {
                    font-size: 32px;
                }
            }
            .mdc-tab-indicator__content--underline {
                border: none;
            }
            &.mdc-tab-indicator--active {
                border-color: var(--theme-primary-color);
                box-shadow: 0 6px 7px var(--color-shadow-light);
            }
        }
    }
}
