.mat-mdc-table {
    tr {
        th {
            &.mat-mdc-header-cell {
                vertical-align: middle !important;
                word-break: break-word;
                white-space: nowrap;
            }
        }
        td {
            &.mat-mdc-cell {
                white-space: nowrap;
                word-break: break-all;
            }
        }
        th,
        td {
            width: fit-content;
            max-width: 9vw;
            padding: 0 6px !important;
        }
    }

    .mat-mdc-header-cell.text-right {
        .mat-sort-header-container {
            justify-content: flex-end !important;
        }
    }
}

trial-balance-grid,
invoice-preview-details-component {
    cdk-virtual-scroll-viewport {
        .cdk-virtual-scroll-content-wrapper {
            height: auto;
        }
    }
}

$listOfNotApplyBelowCodeSelectors: "app-invoice-generate"; // Add more selectors here, separated by commas (,)

.table-header-sticky {
    &:not(:has(#{$listOfNotApplyBelowCodeSelectors})) {
        table {
            border-collapse: inherit;
        }

        .mat-mdc-tab-group {
            overflow: visible !important;
        }

        .mat-mdc-tab-body-wrapper {
            overflow: visible !important;

            .mat-mdc-tab-body {
                overflow: visible !important;

                .mat-mdc-tab-body-content {
                    overflow: visible !important;
                }
            }
        }
    }
}

[mat-sort-header].cdk-program-focused {
    .mat-sort-header-container {
        border-bottom: none !important;
    }
}

.table-bordered {
    border: 1px solid var(--border-color);
    background-color: var(--table-background-color);

    th,
    td {
        border: 1px solid var(--border-color);
    }

    thead {
        th,
        td {
            border-bottom-width: 2px;
        }
    }
    > tbody {
        > tr.selected-for-inv {
            > td {
                border-color: var(--color-medium-gray);
            }
        }
    }
}
