.mention-item {
    padding: 8px 12px;
}

.tribute-container {
    box-shadow: var(--mat-menu-box-shadow);
    min-width: 150px;
    li {
        background: var(--theme-background-color) !important;
    }

    .highlight {
        background-color: var(--color-border-light) !important;
        color: var(--color-black) !important;
    }

    ul {
        &:not(:has(li[data-index])) {
            display: none;
        }
    }
}
