.vat-report {

    .vat-report-action-wrapper {
        max-width: var(--center-content-max-width);
    }
}

.table-hide-title {
    thead {
        display: none !important;
    }
}

.white-box {
    .table-heading {
        font-size: var(--font-size-16);
    }

    table {
        tbody {
            tr {
                td {
                    .btn-link {
                        color: var(--text-primary-color) !important;
                    }
                }
            }
        }
    }
}

.gst-sidebar-open {

    .modal-dialog {
        max-width: unset !important;
        width: 980px;

        &.modal-md {
            width: 600px;
        }

        .close-modal {
            right: 38px;
        }
    }
}

.no-report {
    margin: 100px auto;
    align-items: center;
}
