.vouchers {
    .custom-date-entries {
        giddh-datepicker {
            width: 80px;
            padding-top: 2px;
            input {
                width: 80px;
            }
        }
    }
    .vouchers-entry-table {
        table {
            tr {
                td {
                    input,
                    textarea,
                    mat-select {
                        &:not(.hsn-sac-code) {
                            border: none;
                            background-color: var(--color-transparent) !important;
                        }
                    }
                }
            }
        }
    }
}

.hsn-code-dropdown {
    position: absolute;
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    border-radius: var(--mat-border-radius-4);
    width: 100%;
    min-width: 250px;
    left: auto;
    top: 47px;
    box-shadow: 0 6px 12px var(--color-shadow-light);
    right: 0;
    z-index: 4;

    .btn-group {
        .cancel-button {
            color: var(--color-dark-gray);
            background-color: var(--color-white);
            border: 1px solid var(--border-color);
        }
    }
}
