.vouchers {
    .po-mat-select {
        padding: 10px;
        height: 48px;

        .mat-mdc-select-trigger {
            padding: 0 10px;
        }
    }

    .vouchers-large-container {
        .change-currency {
            .currency-input-wrapper {
                .text-field-container {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;

                    input {
                        width: 80px;
                    }
                }
            }
        }
    }
}

.invoice-list {
    .sortable-header-justify-center {
        .mat-sort-header-container {
            justify-content: center;
        }
    }
    purchase-setting {
        #invoice-setting {
            margin-top: 15px !important;
        }
    }

    table {
        tr {
            mat-checkbox {
                transform: translateX(-7px);
            }
        }
    }
}

.mat-menu-width-large {
    min-width: 400px;
    max-height: 50vh;
}

.vouchers-address-menu {
    position: relative;

    .vouchers-add-new {
        position: sticky;
        bottom: 0;
        color: var(--color-black) !important;
        background: var(--color-white) !important;
        z-index: 1;
        min-height: 0 !important;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

.slide-toggle {
    .mdc-form-field {
        column-gap: 10px;
    }
}

.disable-toggle {
    .mdc-switch {
        .mdc-switch__ripple {
            display: none;
        }
    }
}

.template-scroll {
    overflow-y: auto;
    padding-right: 15px;
    max-height: calc(100vh - 245px);
}

.width-80 {
    width: 80px;
}

.po-options-line {
    height: auto !important;
    padding-bottom: 5px !important;

    .mat-select-search-input {
        padding: 16px 36px 16px 16px !important;
        box-sizing: border-box !important;
    }

    .mat-select-search-inner {
        position: absolute !important;
        top: 0 !important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        z-index: 100 !important;
        font-size: inherit !important;
        box-shadow: none !important;
        border-radius: var(--mat-border-radius-0) !important;
    }

    .mat-select-search-clear {
        margin-right: 0 !important;
    }

    .mat-pseudo-checkbox-checked {
        background: var(--bg-primary-color) !important;
    }

    .po-option-value {
        float: left !important;
        width: 100% !important;
        line-height: 1.2 !important;
        color: var(--color-medium-gray);
        font-size: var(--font-size-12);
    }

    .mat-option-text {
        line-height: 1.8 !important;
    }
}

.options-line-value {
    padding: 10px;
    vertical-align: middle;
    min-height: 67px !important;
    border-bottom: 1px solid var(--border-color);

    .option-label {
        color: var(--theme-foreground-color);
    }

    .item-unique {
        .option-value {
            color: var(--color-medium-gray);
            font-size: var(--font-size-15);
        }

        .option-value-more {
            color: var(--color-medium-gray);
            font-size: var(--font-size-12);
        }
    }
}

.mdc-tooltip__surface {
    white-space: pre-line;
}
