.modal-body {
    padding: 15px 0;
}

.bunch_list li {
    position: relative;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.bunch_list li:hover {
    background: #f4f5f8;
}

.company_action {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.bunch_list {
    height: 245px;
    max-height: 245px;
    overflow: auto;
    padding: 0;
    padding-bottom: 52px;
}

.bunch_parent {
    position: relative;
}

.footer-btn {
    bottom: 0;
    padding: 10px 15px;
    width: 100%;
    text-align: right;
    right: 0;
    left: 0;
    background: #f4f5f8;
}

.bunch_list li:hover .company_action {
    z-index: 1;
    opacity: 1;
}
