.modal-body label {
  color: #707070;
}
label .required {
  position: relative;
  top: 0px;
  color: #CF0606;
}
.form-control {
  color: #707070;
}
.modal-body p {
  font-size: 14px;
  color: #B3B3B3;
  text-align: center;
  margin-left: -28px;
  margin-right: -28px;
}
.giddh_logo_welcome img {
  max-width: 140px;
  margin: 10px auto 50px;
  display: block;
}

.welcome_header:after{
  display: none;
}
.add-companyDetail {
  background-color: #F7F8FA;
  margin-bottom: 0 !important;
}
.welcome_header h1 {
  font-size: 40px;
  font-family: 'LatoWebSemibold';
  color: #2F2F2F;
}
.add-companyDetail p {
  margin: 0 auto !important;
  display: block;
  text-align: center;
}
#shareModal .btn.btn-blue {
  width: 100%;
}
@media (min-width: 768px) {

}



/*  */
.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #B3B4B5;
}

.welcome-container hr {
  background: #707070;
}

.welcome-container form {
  flex: 0;
}

.form-group {
  z-index: unset !important;
}

::ng-deep.input-group .form-control {

  z-index: unset;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.welcome-container form label {
  font-size: 14px;
  color: #707070;
}

.box {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 40px;
}

.form-custom {
  margin-bottom: 20px !important;
}

.width350 {
  width: 350px;
  margin: auto;
}

.welcome_outer hr {
  border: 0.5px solid #707070;
}

.skip {
  color: #10AAE0;
  margin-left: 16px;
}

/* .btn-default {
  color: #2FAB4A;
} */

.btn-default:hover {
  background: #E6E6E6;
}

::ng-deep sh-select .header.open > input[type="text"], ::ng-deep sh-select .header.open > input[type="text"]:focus {
  width: 100%;
}

.welcome-container {
  max-width: 450px;
  margin: 0 auto;
}
.addCmpnyAddrs p {
  color: #10AAE0;
  font-size: 12px;
}

.change-preference{
  font-size: 14px;
  color: #707070;
}

.welcome-container .btn-blue{
  width: 100%;
}
.horizontal-form sup {
  vertical-align: text-bottom;
}
.add-companyDetail .col-xs-6, .add-companyDetail .col-xs-12, .welcome-container .col-xs-12, .welcome-container .col-xs-6 {
  padding-right: 10px;
  padding-left: 10px;
}