@import "../../../../../assets/css/color.scss";

.form-group .item-padding.text-right {
    max-width: 100% !important;
}
.grp-list li a.list-item {
    text-transform: capitalize;
}
.horizontal-form {
    max-width: 660px !important;
    width: 100% !important;
}
.form-group .item-padding .my-dropdown-menu {
    width: 100% !important;
}
.merge-btn {
    padding: 8px 16px;
}
.move-group-form{
    width: calc(100% - 92px);
}
.all-taxes{
  width: calc(100% - 95px);
}

.move-group-form .list-item{
    border-bottom:1px solid $gainsboro;
}