.form-group .item-padding.text-right {
    max-width: 100% !important;
}
.grp-list li a.list-item {
    text-transform: capitalize;
}
.horizontal-form {
    max-width: var(--aside-pane-width) !important;
    width: 100% !important;
}
.form-group .item-padding .my-dropdown-menu {
    width: 100% !important;
}
.merge-btn {
    padding: 8px 16px;
    width: 95px;
}
.move-group-form {
    width: calc(100% - 112px);
}

.move-group-form .list-item {
    border-bottom: 1px solid var(--color-silver);
}
.form-box .btn {
    width: 95px;
}
.manage-group-account-form {
    .form-group {
        .ladda-button[type="submit"] {
            border-color: var(--color-blue-primary) !important;
            background-color: var(--color-blue-primary) !important;
            color: var(--color-white) !important;
            &:hover {
                border-color: var(--color-blue-primary) !important;
                background-color: var(--color-blue-primary) !important;
            }
        }
    }
}

.width-select {
    width: calc(100% - 112px);
}

.closing-balance-width {
    min-width: 250px;
}