// Communication Page Styling
.msg91-container:hover {
    background-color: var(--color-sidebar-create-company-list-background);
}

.small-button {
    min-width: 111px;
    margin-right: 29px;
}

.edit-buttons {
    color: var(--color-nero) !important;
}

.auth_key_input {
    color: var(--color-nero) !important;
    background-color: var(--color-discount-search-bar-background) !important;
}

.back-text {
    padding-left: 5px;
}

.verify-form {
    .verify-button {
        height: 36px;
        margin-top: 30px !important;
    }

    .input-field {
        margin-right: 5px;
        width: 300px;
    }

    .back-button {
        width: 64px;
    }
}

.auth-label {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-company-profile-input-label);
    font-size: var(--font-size-15) !important;
}

.table-content {
    max-height: calc(100vh - 410px);
    overflow-y: auto;
    height: calc(100vh - 410px);
}

.msg91-container {
    position: relative;
    border: 1px solid var(--color-lavender);
    background-color: var(--color-common-quaternary-background-for-all-components) !important;
    border-radius: 7px;
    cursor: pointer;
    width: 241px;
    height: 96px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
        position: relative;

        .logo {
            width: 86px;
        }

        .msg {
            position: absolute;
            width: 33px;
            right: 17px;
            top: 13.5px;
        }
    }

    .integrate {
        p {
            color: var(--color-master-page-input-label);
            font-size: var(--font-size-12);
            margin-top: 12px;
        }
    }

    .mini-icons {
        width: 100%;
        height: 24%;
        margin-top: 16px;
        display: flex;
        justify-content: space-around;
    }

    .menu {
        position: absolute;
        top: -9px;
        right: 0px;
    }
}

.new-trigger {
    margin: 22px 0px 22px 0px;
}

.table-one {
    table {
        margin: 0px 0px;
        box-shadow: none;

        .active-trigger-title-width {
            width: 4%;
        }

        .channel-width {
            width: 3%;
        }

        .args-mapping-width {
            width: 5.5%;
        }

        .created-at-width {
            width: 3%;
        }

        .icons-left {
            width: 1.5%;
        }

        .icon-visibility {
            visibility: hidden;
        }

        .active-trigger-search {
            position: relative;
            bottom: 2px;
        }
    }
}

.fields-error {
    border: 1px solid var(--color-red) !important;
    float: left;
    width: 100%;
    border-radius: 5px;
}

.mandatory-label {
    color: var(--color-primary-login-hash-tag);
}

.dropdown-heading {
    font-size: var(--font-size-15) !important;
    font-weight: bold;
    color: var(--color-nero) !important;
}

.trigger-form {
    display: flex;
    margin: 10px 0px 0px 0px;

    .trigger-form-left-side {
        width: 20%;
        height: 100%;

        .create-trigger-head {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .trigger-heading {
                margin-left: 10px;
                display: inline-block;
                color: var(--color-nero) !important;
            }

            .return {
                width: 36px;
                height: auto;
                cursor: pointer;
            }
        }

        .trigger-input {
            margin-bottom: 10px;

            .trigger-input-label {
                font-size: var(--font-size-15);
                float: left;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;

                span {
                    color: var(--color-primary-login-hash-tag);
                }
            }

            input,
            mat-select {
                width: 100%;
                height: 36px;
                border: none;
                background-color: var(--color-common-primary-text);
                padding-left: 10px;
                font-size: var(--font-size-15);
                border-radius: 5px;
            }

            mat-select {
                padding-top: 6px;
                padding-right: 13px;
            }
        }

        button {
            margin-top: 15px;
        }
    }

    .trigger-form-right-side {
        width: 80%;
        height: 100%;
        padding-left: 20px;

        .compose {
            font-size: var(--font-size-15);
            font-weight: 700;
        }

        .unit-value {
            font-size: var(--font-size-15);
            margin-bottom: -18px;
        }

        .variables-bottom-border {
            margin-bottom: 5px;
            padding-bottom: 5px;
            color: var(--color-nero) !important;
            font-weight: none !important;
        }

        .dropdown-box-1 {
            margin-top: 53px;
            width: 35%;

            .right-label {
                margin-left: 25px;
            }

            .bottom-label {
                margin-top: 12px;
            }

            .preview-button {
                margin-top: 25px;
            }
        }

        .dropdown-box-2 {
            margin-top: 60px;
            width: 35%;
            padding-left: 20px;
            padding-right: 20px;

            .right-label {
                margin-left: 25px;
            }

            .bottom-label {
                margin-top: 12px;
            }

            .preview-button {
                margin-top: 25px;
            }
        }

        .dropdown-box-3 {
            margin-top: 60px;
            width: 10%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
