<div auto-height>
    <!--loader-->
    <div *ngIf="searchLoader$ | async">
        <giddh-page-loader [cssClass]="'mt-0 mb-0'"></giddh-page-loader>
    </div>
    <!--end loader-->

    <!-- result -->
    <section [hidden]="!(!(searchLoader$ | async) && (search$ | async))">
        <search-filter
            [localeData]="localeData"
            [commonLocaleData]="commonLocaleData"
            (isFiltered)="resetFilters($event)"
            (createCsv)="createCSV($event)"
            (searchQuery)="filterData($event)"
            (openEmailDialog)="openEmailDialog()"
            (openSmsDialog)="openSmsDialog()"
            [showSendButton]="!!selectedItems?.length"
            [showDownloadCsv]="!!dataSource?.length"
        >
        </search-filter>
        <div class="table-responsive overflow-visible table-header-sticky">
            <table mat-table [dataSource]="dataSource" class="table basic giddh-table on-mobile-view w-100">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef [style.width.px]="25">
                        <mat-checkbox
                            color="primary"
                            [(ngModel)]="selectAllCustomer"
                            (ngModelChange)="toggleAllSelection(selectAllCustomer)"
                        ></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox
                            color="primary"
                            class="mr-2"
                            [(ngModel)]="row.isSelected"
                            (change)="selectAccount($event, row)"
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>
                <!-- Name Column -->
                <!-- mat-sort-header> -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ commonLocaleData?.app_name }}</th>
                    <td [attr.data-title]="commonLocaleData?.app_name" mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>

                <!-- Unique Name Column -->
                <ng-container matColumnDef="uniqueName">
                    <th [attr.data-title]="localeData?.unique_name" mat-header-cell *matHeaderCellDef>
                        {{ localeData?.unique_name }}
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.uniqueName }}</td>
                </ng-container>

                <!-- Parent Column -->
                <ng-container matColumnDef="parent">
                    <th mat-header-cell *matHeaderCellDef>{{ localeData?.parent }}</th>
                    <td [attr.data-title]="localeData?.parent" mat-cell *matCellDef="let element">
                        {{ element.parent }}
                    </td>
                </ng-container>

                <!-- Opening Balance Column -->
                <ng-container matColumnDef="openingBalance">
                    <th class="text-right" mat-header-cell *matHeaderCellDef>
                        {{ localeData?.opening_balance }}
                    </th>
                    <td
                        [attr.data-title]="localeData?.opening_balance"
                        class="text-right"
                        mat-cell
                        *matCellDef="let element"
                    >
                        <span class="d-inline-flex">
                            <amount-field
                                [amount]="element?.openingBalance"
                                [currencySymbol]="false"
                                [currencyCode]="false"
                            >
                            </amount-field>
                        </span>
                        <span *ngIf="element.openingBalance > 0">
                            <span class="text-success" *ngIf="element.openBalanceType === 'DEBIT'">
                                {{ localeData?.balance_type.dr }}</span
                            >
                            <span class="text-danger" *ngIf="element.openBalanceType === 'CREDIT'">
                                {{ localeData?.balance_type.cr }}</span
                            >
                        </span>
                    </td>
                </ng-container>

                <!-- DR Total Column -->
                <ng-container matColumnDef="debitTotal">
                    <th class="text-right" mat-header-cell *matHeaderCellDef>
                        {{ localeData?.dr_total }}
                    </th>
                    <td [attr.data-title]="localeData?.dr_total" class="text-right" mat-cell *matCellDef="let element">
                        <span class="d-inline-flex">
                            <amount-field
                                [amount]="element?.debitTotal"
                                [currencySymbol]="false"
                                [currencyCode]="false"
                            >
                            </amount-field>
                        </span>
                    </td>
                </ng-container>

                <!-- CR Total Column -->
                <ng-container matColumnDef="creditTotal">
                    <th class="text-right" mat-header-cell *matHeaderCellDef>
                        {{ localeData?.cr_total }}
                    </th>
                    <td [attr.data-title]="localeData?.cr_total" class="text-right" mat-cell *matCellDef="let element">
                        <span class="d-inline-flex">
                            <amount-field
                                [amount]="element?.creditTotal"
                                [currencySymbol]="false"
                                [currencyCode]="false"
                            >
                            </amount-field>
                        </span>
                    </td>
                </ng-container>

                <!-- Closing Balance Column -->
                <ng-container matColumnDef="closingBalance">
                    <th class="text-right" mat-header-cell *matHeaderCellDef>
                        {{ localeData?.closing_balance }}
                    </th>
                    <td
                        [attr.data-title]="localeData?.closing_balance"
                        class="text-right"
                        mat-cell
                        *matCellDef="let element"
                    >
                        <span class="d-inline-flex">
                            <amount-field
                                [amount]="element?.closingBalance"
                                [currencySymbol]="false"
                                [currencyCode]="false"
                            >
                            </amount-field>
                        </span>
                        <span *ngIf="element.closingBalance > 0">
                            <span class="text-success" *ngIf="element.closeBalanceType === 'DEBIT'">
                                {{ localeData?.balance_type.dr }}</span
                            >
                            <span class="text-danger" *ngIf="element.closeBalanceType === 'CREDIT'">
                                {{ localeData?.balance_type.cr }}</span
                            >
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div
            class="d-flex align-items-center justify-content-center mt-4 mb-5"
            [hidden]="!(searchResponseFiltered$ | async)?.length || totalPages <= 1"
        >
            <pagination
                [totalItems]="totalPages"
                [(ngModel)]="page"
                [maxSize]="5"
                class="pagination-sm"
                [boundaryLinks]="true"
                [itemsPerPage]="1"
                [rotate]="false"
                (pageChanged)="pageChanged($event)"
                [firstText]="commonLocaleData?.app_first"
                [previousText]="commonLocaleData?.app_previous"
                [nextText]="commonLocaleData?.app_next"
                [lastText]="commonLocaleData?.app_last"
            ></pagination>
        </div>
        <div class="no-data" *ngIf="!(searchResponseFiltered$ | async)?.length">
            <no-data [secondaryMessageClass]="'p-0'"></no-data>
        </div>
    </section>
    <!-- end pd div -->
</div>
<!--Modal for Mail/SMS-->
<ng-template #mailSmsDialog>
    <div class="modal-content">
        <div class="border-radius-0">
            <div class="modal-header theme-bg pd-l2 pd-r2">
                <h3 class="modal-title bg" id="modal-title">{{ messageBody.header.set }}</h3>
                <button
                    mat-button
                    aria-hidden="true"
                    class="close"
                    [attr.aria-label]="commonLocaleData?.app_close"
                    (click)="mailSmsDialogRef?.close()"
                >
                    ×
                </button>
            </div>
            <div class="modal-body pd-l2 pd-r2 clearfix">
                <input-field
                    *ngIf="messageBody.type == 'Email'"
                    [type]="'text'"
                    class="mr-b1"
                    #subject
                    [(ngModel)]="messageBody.subject"
                    [placeholder]="localeData?.subject_placeholder"
                    [label]="localeData?.subject_label"
                >
                </input-field>

                <mat-form-field appearance="outline" class="w-100 mt-3">
                    <mat-label>{{ localeData?.company_address }}</mat-label>
                    <textarea
                        #messageBox
                        matInput
                        rows="3"
                        [(ngModel)]="messageBody.msg"
                        [placeholder]="localeData?.message_body_placeholder"
                    >
                    </textarea>
                </mat-form-field>
                <small class="mr-t05 mr-b05 grey">{{ localeData?.message_body_tips }}</small>
                <div class="row mr-t2">
                    <div class="mx-3">
                        <mat-chip-listbox>
                            <mat-chip
                                *ngFor="let val of dataVariables"
                                (click)="addValueToMsg(val?.value)"
                                class="cursor-pointer"
                            >
                                {{ val?.name }}
                            </mat-chip>
                        </mat-chip-listbox>
                    </div>
                </div>
                <div class="mr-t4">
                    <button mat-stroked-button color="primary" class="pull-right mr-l1 mr-0" (click)="send()">
                        {{ messageBody.btn.set }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--end Modal for Mail/SMS-->
