<!-- [file]="'activity-logs'" -->
<!-- <ng-container
    appTranslate
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
> -->
<ng-container *ngFor="let result of results">
    <mat-grid-list [cols]="(result | keyvalue)?.length + 1" rowHeight="8:1" *ngIf="!showJson">
        <mat-grid-tile
            style="
                border-top: 1px solid var(--color-primary-header-background);
                border-bottom: 1px solid var(--color-primary-header-background);
            "
            *ngFor="let item of result | keyvalue: originalOrder"
        >
            <h2>{{ item.key | uppercase }}</h2>
        </mat-grid-tile>
        <mat-grid-tile
            style="
                border-top: 1px solid var(--color-primary-header-background);
                border-bottom: 1px solid var(--color-primary-header-background);
            "
        >
            &nbsp;
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list
        style="margin-bottom: 50px"
        [cols]="(result | keyvalue)?.length + 1"
        rowHeight="8:2"
        *ngIf="!showJson"
    >
        <mat-grid-tile style="border-bottom: 1px solid gray" *ngFor="let item of result | keyvalue: originalOrder">
            <ng-container *ngIf="(item.value | datatype) !== 'object'">
                {{ item.value }}
            </ng-container>
        </mat-grid-tile>
        <mat-grid-tile style="border-bottom: 1px solid gray">
            <!-- <button mat-button  >View</button> -->
            <button
                (click)="openDialog()"
                mat-raised-button=""
                color="primary"
                class="mat-focus-indicator all-feature-button mat-raised-button mat-button-base mat-primary"
            >
                <span class="mat-button-wrapper"> View </span
                ><span matripple="" class="mat-ripple mat-button-ripple"></span
                ><span class="mat-button-focus-overlay"></span>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="showJson" class="hidden">
        {{ results | json }}
    </div>
</ng-container>

<!-- </ng-container> -->
