.stock-balance-wrapper {
    padding: 0px 20px 100px 20px;
    float: left;
    width: 100%;
    overflow: hidden;

    .no-data-found {
        text-align: center;
        margin-top: 50px;
    }

    .stocks-list-head {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid var(--color-common-primary-border);
    }

    .stock-balance-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 68px;

        .stock-balance-top-bar-left-side {
            display: flex;
            align-items: center;

            .new-stock-btn {
                color: var(--color-secondary-button-text);
                background: var(--color-secondary-button-background);
                padding: 0px 15px 0px 10px;

                &:hover {
                    background-color: var(--color-secondary-button-background-hover);
                }
            }

            .search-warehouse-bar {
                .search-img {
                    height: 15px;
                    width: auto;
                    position: absolute;
                    filter: var(--color-image-filter);
                }
            }

            .warehouse-select-bar {
                position: relative;
                display: inline-block;
                margin-left: 10px;

                .search-warehouse-bar {
                    top: 14px;
                }
            }
        }

        .stock-balance-top-bar-right-side {
            margin-top: 5px;
            .export-btn {
                padding: 0px 8px;
                margin-right: 10px;
                color: var(--color-blue);
                border: 1px solid var(--color-blue);
                background-color: var(--color-primary-inventory-stock-dropdown-button-background);
                img {
                    height: 18px;
                    width: auto;
                }
            }
            .filter-btn {
                border-radius: 5px;
                min-width: 40px;
                padding: 0px 7px;
                top: 0px;
                left: 0px;
                border: 1px solid var(--color-primary-button-border);
                background-color: var(--color-primary-inventory-stock-dropdown-button-background);

                img {
                    filter: var(--color-image-filter);
                }
            }
        }
    }
    /**/
    .stock-table {
        cursor: pointer;
        width: 100%;
        float: left !important;
        white-space: nowrap;
        box-shadow: none !important;
        border-bottom: 1px solid var(--color-common-primary-border);
        width: min-content;
        display: grid;
        grid-template-columns: 240px auto;

        &:hover {
            background-color: var(--color-primary-common-without-opacity-list-hover);
            .grid-title-left {
                background-color: var(--color-primary-common-without-opacity-list-hover);
            }
            .warehouse-list-wrapper {
                .warehouse-list {
                    &:nth-child(odd) {
                        background-color: var(--color-primary-common-with-opacity-list-hover);
                    }
                }
            }
            .stock-display-wrapper {
                .warehouse-expanded-box-wrapper {
                    .warehouse-expanded-box {
                        &:nth-child(odd) {
                            background-color: var(--color-primary-common-with-opacity-list-hover) !important;
                        }
                    }
                }
            }
        }
        .warehouse-list-wrapper {
            min-height: 56px;
            display: flex;
            width: 97%;

            .warehouse-list {
                font-size: var(--font-size-14);
                min-width: 392px;
                align-items: center;
                position: relative;
                left: 1px;
                min-height: 56px;
                &:nth-child(odd) {
                    background-color: var(--color-common-primary-background-color);
                }

                .stock-list-body {
                    .stock-list-box {
                        .proper-spacing-list {
                            .opening-bal-input {
                                width: 115px;
                                border-radius: 5px;
                                padding-left: 4px;
                                height: 34px;
                                position: relative;
                                top: 2px;
                            }
                            .quantity-input {
                                width: 87px;
                                border-radius: 5px;
                                padding-left: 4px;
                                height: 34px;
                                position: relative;
                                top: 2px;
                                left: 9px;
                            }

                            .unit-dropdown {
                                width: 20% !important;
                                display: inline-block !important;
                                left: 20px;
                                position: relative;
                                top: 3px;
                                color: var(--color-common-primary-text) !important;
                            }
                        }
                    }

                    .proper-spacing-list {
                        color: var(--color-primary-inventory-stock-balance-text);
                        display: flex;
                        width: 350px;
                        justify-content: center;
                        margin-left: 30px;
                        .opening-bal-value {
                            display: inline-block;
                            width: 40px;
                        }

                        .quantity-value {
                            display: inline-block;
                            position: relative;
                            right: 0;
                            width: 40px;
                            margin-left: 116px;
                            text-align: center;
                        }

                        .unit-value {
                            display: inline-block;
                            position: relative;
                            right: 0;
                            width: 40px;
                            margin-left: 102px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .stock-display-wrapper {
            grid-column: 1/100;
        }
        .grid-list-div {
            display: inline-flex;
            float: left;
            height: 56px;
        }
        .top-heading {
            height: 110px !important;
        }
        .grid-title-left {
            width: 240px;
            min-height: 56px;
            left: 0;
            z-index: 1;
            position: sticky;
            padding-top: 0;
            box-shadow: 1px 0px 0px var(--color-primary-common-box-shadow);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 7px;
            word-break: break-word;
            white-space: normal;
            background-color: var(--color-common-primary-background-for-all-components);
        }
        .grid-title-left-top {
            padding-top: 0.8% !important;
        }
        .inner-name.inner-name-bold {
            font-weight: 700;
            width: 100%;
            float: left;
            height: 100%;
        }
        .grid-title-list {
            color: var(--color-nero) !important;
            line-height: 26px;
            min-width: 140px;
            font-weight: 700;
            font-size: var(--font-size-13);
            display: flex;
            align-items: center;
            min-height: 56px;
        }
    }
    .searching-stocks {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        .search-icon {
            position: absolute;
            z-index: 1;
            top: 22.5px;
            left: 6px;
            filter: var(--color-image-filter);
        }
        .list-head {
            display: flex;
            border-bottom: 1px solid var(--color-common-primary-border);
            height: 62px;
            width: fit-content;
            .stock-searchbar {
                position: sticky;
                left: 0;
                min-width: 240px;
                box-shadow: 1px 0px 0px var(--color-primary-common-box-shadow);
                overflow: hidden;
                z-index: 2;
                background-color: var(--color-discount-search-bar-background);
                mat-form-field {
                    top: 11px;
                    input::placeholder {
                        font-size: var(--font-size-14);
                        color: var(--color-primary-search-bar-placeholder);
                    }
                }
            }
            .unique-name-wrapper {
                min-width: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                .unique-name {
                    border-radius: 5px;
                    padding: 8px 10px;
                    color: var(--color-giddh-blue);
                    background-color: var(--color-sidebar-primary-search-bar-background) !important;
                }
            }
            .group-list-head {
                display: grid;
                place-content: center;
            }
            .group-searchbar {
                position: relative;
                margin-right: 14px;
                left: 6px;
            }
            .wrapper-warehouse {
                .warehouse-list-head {
                    &:nth-child(odd) {
                        background-color: var(--color-common-primary-background-color);
                    }
                    &:nth-child(even) {
                        background-color: var(--color-common-primary-background-for-all-components);
                    }
                }
            }
        }
        .stock-table-wrapper {
            display: flex;
            flex-direction: column;
            .stock-table {
                .grid-title-left {
                    .inner-name {
                        font-size: var(--font-size-14);
                        color: var(--color-common-primary-text);
                    }
                    .stock-details {
                        font-size: var(--font-size-12);
                        color: var(--color-common-secondary-text);
                        .stock-ob {
                            .dot {
                                position: relative;
                                font-size: var(--font-size-18);
                                height: 3px;
                                bottom: 1px;
                                filter: var(--color-image-filter-senary);
                                border-radius: 50%;
                            }
                            .first-dot {
                                margin-left: 2px;
                                margin-right: 5px;
                            }
                            .second-dot {
                                margin: 0px 1.4px;
                            }
                        }
                    }
                }
                .unexpanded-list,
                .stock-list-unexpanded {
                    height: auto;
                    width: fit-content;
                    .unique-name-wrap {
                        word-wrap: break-word;
                        width: 97px;
                        white-space: normal;
                        padding-left: 20px;
                        line-height: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                    }
                    .stock-group-name-container {
                        width: 180px;
                        white-space: normal;
                        word-break: break-word;
                        padding-right: 10px;
                        .stock-group-name {
                            padding-left: 20px;
                            white-space: normal;
                        }
                    }
                }
                .unexpanded-list {
                    width: 100%;
                    min-height: 56px;
                    .stock-list-expanded-content {
                        .proper-spacing-list {
                            margin-left: 15px;
                            width: 347px;
                            display: flex;
                            justify-content: space-between;
                            padding: 0px 0px 0px 22px;
                            .opening-bal-value,
                            .quantity-value,
                            .unit-value {
                                display: flex;
                                align-items: center;
                                position: relative;
                                background: #668cff26;
                            }
                            .opening-bal-value {
                                height: 36px;
                                width: 110px;
                                padding-left: 5px;
                                border-radius: 5px;
                                right: 12px;
                            }
                            .quantity-value {
                                height: 36px;
                                width: 69px;
                                padding-left: 5.5px;
                                border-radius: 5px;
                                left: 11px;
                            }
                            .unit-value {
                                height: 36px;
                                width: 81px;
                                border-radius: 5px;
                                padding-left: 5px;
                                left: 20px;
                                font-size: var(--font-size-14);
                                .dropdown-icon {
                                    position: absolute;
                                    height: 11px;
                                    right: 5px;
                                    top: 13px;
                                    filter: var(--color-image-filter);
                                }
                            }
                        }
                    }
                    .input-select-wrapper {
                        display: flex;
                        width: 392px;
                        padding: 0px 6px 0px 30px;
                        position: relative;

                        .opening-bal-input,
                        .quantity-input {
                            &:focus,
                            &:active {
                                background-color: var(--color-common-primary-background-for-all-components);
                            }
                        }

                        .opening-bal-input {
                            width: 110px;
                            padding: 0px 5px;
                            border-radius: 5px;
                            margin-right: 55px;
                            background-color: var(--color-primary-input-bar-background-focus);
                            position: relative;
                            right: 5px;
                        }
                        .quantity-input {
                            width: 69px;
                            margin-right: 41px;
                            padding: 0px 5px;
                            border-radius: 5px;
                            background-color: var(--color-primary-input-bar-background-focus);
                            position: relative;
                            right: 4px;
                        }
                        .unit-dropdown {
                            width: 81px;
                            position: relative;
                            right: 4px;
                        }
                    }
                    .warehouse-expanded-box-wrapper {
                        display: flex;
                        margin-left: 1px;
                        .warehouse-expanded-box {
                            height: 100%;
                            width: 392px;
                            &:nth-child(odd) {
                                background-color: var(--color-solitude-light);
                            }
                        }
                        .editable-input {
                            .dropdown-icon {
                                position: absolute;
                                height: 11px;
                                right: 15px;
                                top: 13px;
                                filter: var(--color-image-filter);
                            }
                        }
                    }
                    .stock-group-name {
                        width: 180px;
                        padding-left: 20px;
                        padding-right: 10px;
                        word-break: break-word;
                        white-space: normal;
                    }
                }
                .stock-warehouse-list-container {
                    display: flex;
                    min-height: 56px;
                }
            }
        }
    }
}
::ng-deep {
    .mat-pseudo-checkbox-checked {
        background: var(--color-giddh-blue) !important;
    }
}
.create-warehouse-btn {
    background-color: var(--color-primary-inventory-stock-dropdown-button-background);
}
.select-all {
    margin: 5px 17px;
}
.manual-wrapper-content {
    width: 387px;
}
.stock-uniq {
    width: 50%;
    float: left;
    padding-left: 52px !important;
}

.warehouse-list-head {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 392px;

    .warehouse-list-head-num {
        color: var(--color-giddh-blue);
        font-weight: 600;
        font-size: var(--font-size-14);
    }

    .warehouse-list-head-options {
        display: flex;
        justify-content: space-between;
        width: 88%;

        .opening-bal,
        .quantity,
        .unit {
            padding-right: 0;
            position: relative;
            padding-right: 7px;
            margin-left: 133px;
            color: var(--color-primary-inventory-stock-balance-text);

            .sort-img {
                position: absolute;
                height: 12.5px;
                width: auto;
                top: 5px;
            }

            .opening-bal-sort-img {
                left: 82px;
            }

            .quantity-sort-img {
                left: 60px;
            }

            .unit-sort-img {
                left: 30px;
            }
        }
        .d-flex {
            .flex-fill {
                font-size: var(--font-size-14);
            }
        }
    }
}
.warehouse-list {
    display: flex;
}
.stock-list-box {
    .stock-list-unexpanded {
        .stock-list-box-heading {
            color: var(--color-primary-inventory-stock-balance-text);
        }
    }
}
.flex-fill {
    flex: 1 1 auto;
    padding-right: 2px;
}
.d-flex {
    align-items: center;
}

.icon-pointer {
    padding-left: 5px;
    cursor: pointer;
}
.icon-pointer {
    .icon-sort-asc {
        line-height: 20px;
        width: 15px;
        color: var(--color-table-icon-sort-asc);
        .active-text-color {
            color: var(--color-blue);
        }
    }
}
.white-color {
    background-color: var(--color-common-primary-background-for-all-components) !important;
}
.gray-color {
    background-color: var(--color-common-primary-background-color) !important;
}
.expanded-stock-table-with-opacity {
    background-color: var(--color-primary-common-without-opacity-list-hover);
}
.expanded-stock-table-without-opacity {
    background-color: var(--color-primary-common-without-opacity-list-hover) !important;
}

@media (max-width: 1180px) {
    .stock-balance-wrapper {
        .searching-stocks,
        .stock-balance-top-bar {
            width: 101%;
        }
        .stock-balance-top-bar {
            .stock-balance-top-bar-right-side {
                margin-top: 0;
            }
        }
    }
}
