.stock-balance-wrapper {
    padding: 0px 20px 0px 20px;
    float: left;
    width: 84vw;
    overflow: hidden;

    .stocks-list-head {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid var(--color-common-primary-border);
    }

    .stock-balance-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .stock-balance-top-bar-left-side {
            display: flex;
            align-items: center;

            .new-stock-btn {
                color: var(--color-secondary-button-text);
                background: var(--color-secondary-button-background);
                padding: 0px 15px 0px 10px;

                &:hover {
                    background-color: var(--color-secondary-button-background-hover);
                }
            }

            .search-warehouse-bar {
                .search-img {
                    height: 15px;
                    width: auto;
                    position: absolute;
                    filter: var(--color-image-filter);
                }
            }

            .warehouse-select-bar {
                position: relative;
                display: inline-block;
                margin-left: 10px;

                .search-warehouse-bar {
                    top: 10px;
                }
            }
        }

        .stock-balance-top-bar-right-side {
            margin-top: 5px;
            .export-btn {
                padding: 0px 8px;
                margin-right: 10px;
                color: var(--color-blue);
                border: 1px solid var(--color-blue);
                background-color: var(--color-primary-inventory-stock-dropdown-button-background);
                img {
                    height: 18px;
                    width: auto;
                }
            }
            .filter-btn {
                border-radius: 5px;
                min-width: 40px;
                padding: 0px 7px;
                top: 0px;
                left: 0px;
                border: 1px solid var(--color-primary-button-border);
                background-color: var(--color-primary-inventory-stock-dropdown-button-background);

                img {
                    filter: var(--color-image-filter);
                }
            }
        }
    }
    /**/
    .stock-table {
        cursor: pointer;
        width: 100%;
        float: left !important;
        white-space: nowrap;
        box-shadow: none !important;
        border-bottom: 1px solid var(--color-common-primary-border);
        width: max-content;
        display: inline-grid;

        &:hover {
            background-color: #e8eeff;
            .grid-title-left {
                background-color: #e8eeff;
            }
            .warehouse-list-wrapper {
                .warehouse-list {
                    &:nth-child(odd) {
                        background-color: #668cff26;
                    }
                }
            }
            .stock-display-wrapper {
                .warehouse-expanded-box-wrapper {
                    .warehouse-expanded-box {
                        &:nth-child(odd) {
                            background-color: #668cff26 !important;
                        }
                    }
                }
            }
        }
        .warehouse-list-wrapper {
            height: 70px;
            display: flex;
            width: 100%;
            margin-left: 41px;

            .warehouse-list {
                font-size: 14px;
                min-width: 392px;
                align-items: center;
                &:nth-child(odd) {
                    background-color: #f5f5f5;
                }

                .stock-list-body {
                    .stock-list-box {
                        .proper-spacing-list {
                            .opening-bal-input {
                                width: 115px;
                                border-radius: 5px;
                                padding-left: 4px;
                                height: 34px;
                                position: relative;
                                top: 2px;
                            }
                            .quantity-input {
                                width: 87px;
                                border-radius: 5px;
                                padding-left: 4px;
                                height: 34px;
                                position: relative;
                                top: 2px;
                                left: 9px;
                            }

                            .unit-dropdown {
                                width: 20% !important;
                                display: inline-block !important;
                                left: 20px;
                                position: relative;
                                top: 3px;
                                color: black !important;
                            }
                        }
                    }

                    .proper-spacing-list {
                        color: var(--color-primary-inventory-stock-balance-text);
                        display: flex;
                        width: 350px;
                        justify-content: center;
                        margin-left: 30px;
                        .opening-bal-value {
                            display: inline-block;
                            width: 40px;
                        }

                        .quantity-value {
                            display: inline-block;
                            position: relative;
                            right: 0;
                            width: 40px;
                            margin-left: 116px;
                            text-align: center;
                        }

                        .unit-value {
                            display: inline-block;
                            position: relative;
                            right: 0;
                            width: 40px;
                            margin-left: 102px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .stock-display-wrapper {
            grid-column: 1/100;
        }
        .grid-list-div {
            display: inline-flex;
            float: left;
            height: 70px;
        }
        .top-heading {
            height: 110px !important;
        }
        .grid-title-left {
            min-width: 240px;
            left: 0;
            z-index: 1;
            position: sticky;
            padding-top: 0;
            box-shadow: 1px 0px 0px rgb(0 0 0 / 10%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 7px;
            background-color: #fff;
        }
        .grid-title-left-top {
            padding-top: 0.8% !important;
        }
        .inner-name.inner-name-bold {
            font-weight: 700;
            width: 100%;
            float: left;
            height: 100%;
        }
        .grid-title-list {
            color: var(--color-nero) !important;
            line-height: 26px;
            min-width: 140px;
            font-weight: 700;
            font-size: 13px;
            display: flex;
            align-items: center;
        }
    }
    .searching-stocks {
        width: 1320px;
        overflow-x: auto;
        .search-icon {
            position: absolute;
            z-index: 1;
            top: 22.5px;
            left: 6px;
            filter: var(--color-image-filter);
        }
        .list-head {
            display: flex;
            border-bottom: 1px solid var(--color-common-primary-border);
            height: 62px;
            width: fit-content;
            .stock-searchbar {
                position: sticky;
                left: 0;
                min-width: 240px;
                box-shadow: 1px 0px 0px rgb(0 0 0 / 10%);
                overflow: hidden;
                z-index: 2;
                background-color: #fff;
                mat-form-field {
                    top: 11px;
                    input::placeholder {
                        font-size: 14px;
                        color: var(--color-primary-search-bar-placeholder);
                    }
                }
            }
            .unique-name-wrapper {
                min-width: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                .unique-name {
                    color: var(--color-giddh-blue);
                }
            }
            .group-list-head {
                display: grid;
                place-content: center;
            }
            .group-searchbar {
                position: relative;
                margin-right: 14px;
            }
        }
        .stock-table {
            .grid-title-left {
                .inner-name {
                    font-size: 14px;
                    color: var(--color-common-primary-text);
                }
                .stock-details {
                    font-size: 12px;
                    color: var(--color-common-secondary-text);
                    .stock-ob {
                        .dot {
                            position: relative;
                            bottom: 5px;
                            color: var(--color-common-secondary-text);
                        }
                    }
                }
            }
            .unexpanded-list,
            .stock-list-unexpanded {
                width: 100%;
                .unique-name-wrap {
                    word-wrap: break-word;
                    width: 97px;
                    white-space: normal;
                    padding-left: 20px;
                }
                .stock-group-name {
                    padding-left: 10px;
                }
            }
            .unexpanded-list {
                width: 100%;
                .stock-list-expanded-content {
                    .proper-spacing-list {
                        margin-left: 15px;
                        width: 347px;
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 0px 0px 22px;
                        .opening-bal-value,
                        .quantity-value,
                        .unit-value {
                            display: flex;
                            align-items: center;
                            position: relative;
                            background: #668cff36;
                        }
                        .opening-bal-value {
                            height: 36px;
                            width: 110px;
                            padding-left: 5px;
                            border-radius: 5px;
                            right: 10px;
                        }
                        .quantity-value {
                            height: 36px;
                            width: 95px;
                            padding-left: 5px;
                            border-radius: 5px;
                            left: 25px;
                        }
                        .unit-value {
                            height: 36px;
                            width: 77px;
                            border-radius: 5px;
                            padding-left: 5px;
                            left: 18px;
                        }
                    }
                }
                .input-select-wrapper {
                    display: flex;
                    width: 392px;
                    padding: 0px 6px 0px 30px;
                    .opening-bal-input {
                        width: 110px;
                        padding-left: 5px;
                        border-radius: 5px;
                        margin-right: 55px;
                        background-color: #668cff26;
                    }
                    .quantity-input {
                        width: 95px;
                        margin-right: 15px;
                        padding-left: 5px;
                        border-radius: 5px;
                        background-color: #668cff26;
                    }
                    .unit-dropdown {
                        width: 77px;
                    }
                }
                .warehouse-expanded-box-wrapper {
                    display: flex;
                    margin-left: 41px;
                    .warehouse-expanded-box {
                        height: 100%;
                        width: 392px;
                        &:nth-child(odd) {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }
}

.create-warehouse-btn {
    background-color: var(--color-primary-inventory-stock-dropdown-button-background);
}
.select-all {
    margin: 5px 17px;
}
.manual-wrapper-content {
    width: 387px;
}
.stock-uniq {
    width: 50%;
    float: left;
    padding-left: 52px !important;
}

.warehouse-list-head {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 392px;

    .warehouse-list-head-num {
        color: var(--color-giddh-blue);
        font-weight: 600;
        font-size: 14px;
    }

    .warehouse-list-head-options {
        display: flex;
        justify-content: space-between;
        width: 88%;

        .opening-bal,
        .quantity,
        .unit {
            padding-right: 0;
            position: relative;
            padding-right: 7px;
            margin-left: 133px;
            color: var(--color-primary-inventory-stock-balance-text);

            .sort-img {
                position: absolute;
                height: 12.5px;
                width: auto;
                top: 5px;
            }

            .opening-bal-sort-img {
                left: 82px;
            }

            .quantity-sort-img {
                left: 60px;
            }

            .unit-sort-img {
                left: 30px;
            }
        }
        .d-flex {
            .flex-fill {
                font-size: 14px;
            }
        }
    }
}
.warehouse-list {
    display: flex;
}
.stock-list-box {
    .stock-list-unexpanded {
        .stock-list-box-heading {
            color: var(--color-primary-inventory-stock-balance-text);
        }
    }
}
.flex-fill {
    flex: 1 1 auto;
    padding-right: 2px;
}
.d-flex {
    align-items: center;
}

.icon-pointer {
    padding-left: 5px;
    cursor: pointer;
}
.icon-pointer {
    .icon-sort-asc {
        line-height: 20px;
        width: 15px;
        color: var(--color-blue);
        .active-text-color {
            color: var(--color-blue);
        }
    }
}
.white-color {
    background-color: white !important;
}
.gray-color {
    background-color: #f5f5f5 !important;
}
.expanded-stock-table-with-opacity {
    background-color: #668cff26 !important;
}
.expanded-stock-table-without-opacity {
    background-color: #e8eeff !important;
}
