.filing-status {
    &-table {
        .table-loader {
            height: calc(100vh - 200px);
        }
        table {
            background-color: var(--color-transparent-background);
            tr {
                &:hover {
                    background-color: var(--color-table-row-hover-primary-background);
                }
            }
        }
    }
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}
