<div class="help-support-aside setting-sidebar-wrapper">
    <inventory-sidebar class="inventory-sidebar"></inventory-sidebar>
</div>
<div class="group-wise-wrapper">
    <div class="filter-button-wrapper">
        <button class="filter-button" mat-button [matMenuTriggerFor]="menu">
            <span class="icon-advance-filter"></span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-checkbox>Name</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>Unique Name</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>HSN/SAC Code</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>Parent Group</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>Custom Tab</mat-checkbox></button>
        </mat-menu>
    </div>
    <table
        mat-table
        [dataSource]="dataSource"
        class="group-wise-table"
        matSort
        (matSortChange)="announceSortChange($event)"
    >
        <!-- Name Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Name</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Unique Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                HSN/SAC Code
            </th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                Parent Group
            </th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <!-- Custom Tab Column -->
        <ng-container matColumnDef="customTab">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">Custom Tab</th>
            <td mat-cell *matCellDef="let element">{{ element.customTab }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="text-center mb-4">
        <pagination
            [totalItems]="500"
            [itemsPerPage]="50"
            [firstText]="'First'"
            [previousText]="'Previous'"
            [nextText]="'Next'"
            [lastText]="'Last'"
        ></pagination>
    </div>
</div>
