.group-wise-wrapper {
    .filter-button-wrapper {
        position: relative;
        top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 45px;
        .filter-button {
            min-width: 36px;
            border: 1px solid var(--color-primary-button-border);
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-advance-filter {
                font-size: var(--font-size-16);
            }
        }
    }
    .group-wise-table {
        width: 100%;
        margin-bottom: 25px;
    }
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding-left: 24px !important;
    }
}
