.wrap-transaction-map {
    border: 1px solid var(--color-common-primary-border);
    border-bottom: none !important;
    .ledger-book {
        box-shadow: none;
        .left-col-new {
            border-right: 1px solid var(--color-common-primary-border);
        }
        .checkbox-span {
            height: 49px;
            min-height: 49px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ledger-row {
            $columns: 50;
            display: flex;

            @for $i from 0 through $columns {
                .top-position-fix-#{$i} {
                    top: $i + px !important;
                }
            }
            &:hover {
                background-color: transparent;
            }
        }
        .entry-modal-height {
            $columns: 50;
            @for $i from 0 through $columns {
                .top-position-fix-#{$i} {
                    margin-top: $i + px !important;
                }
            }
        }
    }
}
#ledger-transaction-left-list,
#ledger-transaction-right-list {
    .mat-grid-tile {
        .d-flex.align-item-center {
            align-items: stretch !important;
        }
        input,
        sh-select,
        .form-control {
            min-height: 49px;
            height: 49px;
            border: 0 !important;
        }
        mat-checkbox {
            min-height: 20px;
            height: 20px;
        }
    }
    .ledger-row {
        &:first-child {
            .mat-grid-tile {
                .mat-grid-tile-content {
                    left: 20px;
                    position: relative;
                }
            }
        }
    }
}
#ledger-transaction-left-list .mat-grid-tile,
#ledger-transaction-right-list .mat-grid-tile {
    border-bottom: 1px solid var(--color-table-primary-content-bar-border) !important;
}
#ledger-transaction-right-list,
#ledger-transaction-left-list {
    border-bottom: 1px solid var(--color-table-primary-content-bar-border) !important;
}

.form-control,
input {
    color: var(--color-nero);
}
.notfound-option {
    display: flex;
    justify-content: space-between;
}
.ledg-head .mat-grid-list .mat-grid-tile {
    padding: 8px 10px;
    border-bottom: 1px solid var(--color-ledger-grid-border-color) !important;
    border-right: 1px solid var(--color-ledger-grid-border-color);
    font-size: var(--font-size-14);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    min-height: 43px;
    height: 43px;
    max-height: initial;
    &:first-child {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}
.transaction-mapped-table .mat-grid-tile {
    padding: 10px 15px !important;
    border-bottom: 1px solid var(--color-iron) !important;
}
table.ledger-footer-1 td[class*="col-"] {
    justify-content: flex-end;
    background-color: var(--color-common-primary-background-for-all-components);
}
.ledg-head table td.pd-r25 {
    padding-right: 25px !important;
}

.ledg-head.entry-popup table td[class*="col-"] {
    padding: 0px !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid var(--color-iron);
    border-right: 1px solid var(--color-iron);
    font-size: var(--font-size-14);
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ledg-head.entry-popup table td.pd-r25 {
    padding-right: 25px !important;
}
.transaction-mapped-table {
    .top-head-table {
        border-top: none;
    }
    thead {
        th {
            border-bottom: none;
        }
    }
    .transaction-mapped-head {
        border-top: none !important;
    }
    .ledger-main {
        .ledger-row.row {
            td,
            th {
                border-bottom: 1px solid var(--color-iron) !important;
                border-top: none !important;
            }
            td[class*="col-"] {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
    .ledger-head {
        th {
            padding-left: 15px;
        }
    }
    tr {
        td.upper-td {
            padding: 0 !important;
            border: none !important;
        }
    }
}
.total-col td {
    border: 0 !important;
}
.ledger-main .form-control {
    border: 0;
}
.thead-background1 th {
    border-left: 0;
}
.ledg-head {
    .single-search-box {
        position: relative;
        i {
            color: var(--color-sidebar-search-bar-text);
            left: 8px;
            top: -8px;
            z-index: 1;
        }
        .mat-form-field {
            .mat-icon-button {
                top: -22px;
                left: -34px;
            }
        }
    }
}
.ledger-head-top i.icon-search.position-absolute {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 32px;
    height: 36px;
    top: 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0 !important;
    border-radius: 2px;
}
.ledger-stat {
    padding: 10px 15px 0;
    background: var(--color-common-primary-background-for-all-components);
    color: var(--color-abbey);
    font-size: var(--font-size-18);
    box-shadow: 0px 2px 6px var(--color-primary-ledger-box-shadow);
    position: relative;
    z-index: -1;
}
.ledger-stat .row {
    display: flex;
    flex-wrap: wrap;
}
.icomoon-ico {
    margin-left: 0;
    margin-right: 8px !important;
}
.account_Name {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-semibold);
    text-transform: capitalize;
}
.ledger-footer-1 {
    position: absolute;
    bottom: 0;
    width: 50%;
}

.left-align {
    left: 0;
}

.right-align {
    right: 0;
}

.ledger-head .mat-grid-list .mat-grid-tile {
    color: var(--color-giddh-blue);
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    border-right: none;
    border-bottom: none !important;
    span {
        position: relative;
    }
}
.ledger-head .mat-grid-tile:first-child {
    span {
        position: relative;
        right: 0px !important;
    }
}
.total-col td {
    border: 0;
}
.ledger-stat span {
    display: inline-block;
}
.page-count {
    overflow: hidden;
    width: 90% !important;
    left: 5% !important;
    right: 5%;
    bottom: 100px;
    background: var(--color-common-primary-background-for-all-components);
    padding: 5px;
    font-size: var(--font-size-12);
    z-index: 0;
}
#pagination {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.pagination > li > a:hover {
    color: var(--color-red);
}
.ledger-panel label {
    font-weight: 400;
}
.upload-div {
    float: left;
    text-decoration: underline;
    margin: 0px 5px;
    border: 1px solid var(--color-iron);
}
.upload-div label {
    padding: 6px;
}
.pd-r25 {
    padding-right: 25px !important;
}
.thead-background1 th {
    background: var(--color-white);
    color: var(--color-nero);
    border-right: 1px solid var(--color-iron);
    padding: 15px 11px !important;
    font-weight: 400;
    border-bottom: 1px solid var(--color-iron);
    font-family: var(--font-semibold);
    font-size: var(--font-size-14);
    border-top: 1px solid var(--color-iron);
}
.ledger-main .form-control,
.ledger-main input {
    color: var(--color-nero);
}

.ledger-book {
    border: 0px solid var(--color-common-primary-border);
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 16px;
    background: var(--color-common-primary-background-for-all-components);
    box-shadow: 0 0 6px var(--color-primary-ledger-box-shadow);
}
.Width600 {
    position: absolute;
    width: 600px;
}

.daterange-picker-ledger {
    border: 0;
    background-color: transparent !important;
    text-decoration-line: none;
    text-decoration-style: none;
    background-image: url(../../assets/images/calender-icon.svg) !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 35px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    top: 1px;
}
.input-wrapper {
    display: block !important;
    width: 100% !important;
    position: relative;
    height: 37px !important;
}
.input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: var(--color-iron);
    left: 37px !important;
    z-index: 100;
    top: 0;
    display: none;
}

.C-flex-end {
    display: flex;
    justify-content: flex-end;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
::-webkit-calendar-picker-indicator {
    display: none;
}
.focus-unset.ledger-main .form-control:focus {
    border: unset !important;
}
sh-select:focus {
    outline: 1px var(--color-red) solid;
}
.notfound-option.active {
    background: var(--color-dark-fog) !important;
    padding: 2px 5px !important;
}
.amount-total {
    font-size: var(--font-size-12);
    color: var(--color-gray);
    padding-left: 5px;
}
.ledger-book {
    .left-col-new {
        background: var(--color-common-primary-background-for-all-components);
        padding: 0 0px 350px;
    }
    .right-col-new {
        background: var(--color-common-primary-background-for-all-components);
        padding: 0 0px 350px;
    }
}
.left-col-new .mat-grid-list .mat-grid-title:last-child,
.left-col-new .mat-grid-list .mat-grid-title:last-child {
    border-right: 0px !important;
}
.left-col-new .mat-grid-list .mat-grid-title:first-child,
.left-col-new .mat-grid-list .mat-grid-title:first-child {
    border-left: 1px solid var(--color-iron) !important;
}
.custom-tabs {
    display: none;
}
.ledg-head .icomoon-ico {
    color: var(--color-abbey);
    width: 36px;
    min-width: 36px;
    height: 36px;
    border: 1px solid var(--color-secondary-input-bar-border);
    padding: 3px;
    display: flex;
    justify-content: center;
    border-top-width: 1px;
    background-color: var(--color-white);
    border-radius: 5px;
}
.advance-search-block input {
    background: var(--color-wild-sand) !important;
    height: 28px;
    border-color: var(--color-wild-sand) !important;
}
.advance-search-block input::placeholder {
    color: var(--color-abbey);
}

.left-col-new,
.right-col-new {
    height: initial;
    width: 100%;
}
.ledger-section {
    display: flex;
    .particular-label {
        width: 80% !important;
        min-width: 80% !important;
        max-width: 80% !important;
    }
}
.advance-search-block .icon-search {
    right: 0;
    top: 0;
    background-color: var(--color-blue);
    padding: 6px 9px;
    color: var(--color-white);
}
.left-col-new .width-100.h-table#blank-ledger-container .no-left-border {
    border-left: none !important;
}

.ledger-book .ledger-footer-1 .total-col .border-top {
    border-top: 1px solid var(--color-table-primary-header-bar-border) !important;
}
.ledger-book .ledger-footer-1 .total-col .bd-rt {
    border: none;
}

.advance-search-by-date {
    display: inline-flex;
    position: relative;
}
.advance-search-by-date:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color: var(--color-secondary-input-bar-border);
    left: -32%;
    top: 17px;
}
.advance-search-by-date:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color: var(--color-secondary-input-bar-border);
    right: -32%;
    top: 17px;
}

.ledger-head {
    margin-top: 25px;
}
.ledger-stat h1 {
    color: var(--color-common-primary-text);
    font-size: var(--font-size-14);
    margin-bottom: 10px;
}
.digit-blue {
    color: var(--color-common-senary-text);
}
.grey-text-color {
    color: var(--color-common-secondary-text) !important;
    font-size: var(--font-size-14);
}

.ledger-stat h3 {
    font-size: var(--font-size-14);
}
.stat-block {
    border-right: 1px solid var(--color-common-secondary-border);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stat-block:first-child {
    border-bottom: 8px solid var(--color-common-primary-blue-border);
}
.stat-block:nth-child(2) {
    border-bottom: 8px solid var(--color-giddh-blue);
}
.stat-block:nth-child(3) {
    border-bottom: 8px solid var(--color-blue);
}
.stat-block:last-child {
    border-right: none;
    border-bottom: 8px solid var(--color-primary-ledger-stat-block-border);
}
.advance-search-filter {
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary-input-bar-border);
    padding: 5px;
    width: 36px;
    height: 36px;
    color: var(--color-abbey);
    img {
        width: 18px;
    }
}

#clear-filter {
    margin-right: 8px;
}

.ledg-head .advance-search-block {
    height: 34px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.modal-ledger {
    width: 100%;
    max-width: 1350px;
}
.justify-content-between {
    justify-content: space-between;
}
.d-flex.search-ledger-field {
    align-items: center;
    margin-right: 0;
}
.clear-filter-btn {
    border-radius: 5px;
    border: 1px solid var(--color-primary-button-border);
    color: var(--color-abbey);
    font-size: var(--font-size-14);
    background-color: var(--color-white);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.clear-filter-btn i {
    font-size: var(--font-size-18);
}
.search-ledger-field {
    .btn-danger,
    .btn-success,
    .btn-warning {
        font-size: var(--font-size-14);
        width: 36px !important;
        padding: 0px !important;
        height: 36px !important;
        border-radius: 50%;
        min-width: 36px !important;
        margin-right: 8px !important;
    }
}
.transaction-in-short {
    margin-bottom: 80px;
}
.ledger-account-label {
    align-items: center;
    flex: auto;
    sh-select {
        width: 100%;
    }
}
.ledger-main .ledger-row:hover {
    background-color: transparent;
}
.date-range-picker {
    text-decoration-line: none;
    text-decoration-style: none;
    background-image: url(../../assets/images/calender-icon.svg) !important;
    background-size: 17px !important;
    background-position: 15px 9px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    top: 0;
    font-size: var(--font-size-14);
    padding-right: 10px !important;
    height: 32px;
    min-width: 180px !important;
    border-radius: 30px;
    box-sizing: content-box !important;
    color: var(--color-primary-head-datepicker-text) !important;
    &:focus {
        border-color: var(--color-blue);
    }
}
.ipad-view-datepicker {
    .date-range-picker {
        border: 1px solid var(--color-iron);
        border-radius: 20px;
        width: 203px !important;
    }
}

.download-invoice-ledger {
    position: absolute !important;
    right: 0px;
    align-items: center;
}
.icon-download-circle {
    font-size: 15px;
    top: 0 !important;
    margin-top: 1px !important;
}

.padding-ledger {
    padding: 1px 0 !important;
}

.mat-raised-button {
    min-width: 36px;
}

/*mobile ledger view css*/
.mobile-ledger-view {
    margin: 0 -15px;
    table {
        width: 100%;
        tbody {
            background-color: var(--color-white);
            .transaction-date {
                font-size: var(--font-size-14);
                font-family: var(--font-semibold);
            }
            td {
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: 1px solid var(--color-iron);
                font-size: var(--font-size-14);
            }
            .second-row {
                td {
                    &:first-child {
                        border-right: 1px solid var(--color-iron);
                        width: 60%;
                    }
                    span.account-holder-checkbox {
                        width: 20px;
                        margin-right: 3px;
                    }
                    span.account-holder-name {
                        float: left;
                        width: 82%;
                        display: inline-flex;
                    }
                }
            }
        }
    }
    .account-holder-name {
        white-space: normal;
        display: flex;
        justify-content: center;
    }
    .mat-grid-list {
        border-top: 1px solid var(--color-iron);
    }
}

.debit-credit-amount {
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-wrapper.ipad-view-datepicker {
    display: none !important;
}
.no-btn,
.no-btn:active,
.no-btn:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding-left: 0;
}
.transaction-mapped-table {
    font-size: var(--font-size-14);
    .transaction-mapped {
        padding: 0 !important;
        position: static;
        th {
            border: none;
            padding-top: 10px;
            &:first-child {
                padding-right: 15px;
                border-left: 1px solid var(--color-iron);
            }
            &:last-child {
                border-right: 1px solid var(--color-iron);
            }
        }
    }
    .transaction-mapped-head {
        th {
            border-bottom: none !important;
        }
    }
    .ledger-row {
        td {
            border-bottom: none !important;
            &:last-child {
                border-right: none !important;
            }
            .d-flex {
                span {
                    input[type="checkbox"] {
                        margin-right: 5px;
                        margin-left: 5px;
                        height: 18px;
                    }
                }
            }
        }
    }
    .transaction-table-row table td {
        border-bottom: 1px solid var(--color-iron);
    }
    .transaction-table-row table:last-child td {
        border-bottom: none;
    }
}
.ledger-book.fade:not(.show) {
    opacity: 1 !important;
}
.multicurrency-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end;
    text-align: right;
    white-space: normal;
}
.ledg-head .ledger-main .ledger-row:last-child mat-grid-tile[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.list-item {
    border-bottom: 1px solid var(--color-common-secondary-border);
}

.ledger-row {
    .text-ellipsis {
        min-width: 160px;
        max-width: 400px;
        width: 100%;
    }
}
.icon-upload {
    font-size: 14px;
}
.account-placeholder {
    color: var(--color-gray);
    padding-left: 12px;
    font-size: var(--font-size-14);
    min-height: 49px;
    display: flex;
    padding-top: 14px;
    border-bottom: 1px solid var(--color-white);
}
.account-placeholder-text {
    color: var(--color-nero) !important;
}
a#reload-bank-transaction i.icon-refresh {
    font-size: var(--font-size-18) !important;
}
input#ledger-search {
    padding-left: 27px !important;
    background-color: transparent !important;
    border: 1px solid var(--color-secondary-input-bar-border);
    &:focus {
        border: 1px solid var(--color-secondary-input-bar-border) !important;
    }
    &::placeholder {
        color: var(--color-sidebar-search-bar-text);
    }
}

.mat-grid-tile.select2-ledger {
    overflow: visible !important;
}
.no-right-border {
    border-right: none !important;
}
.mat-checkbox {
    margin-right: 8px;
}
.blue-heading {
    color: var(--color-ledger-heading);
}

/*responsive*/
.modal-ledger {
    width: 70%;
    max-width: 100% !important;
}
.ledger-head {
    position: relative;
}
.ledger-head {
    position: sticky;
    top: 55px;
    z-index: 1;
    background-color: var(--color-common-primary-background-for-all-components);
    border-bottom: 1px solid var(--color-table-primary-header-bar-border);
}
.show-if-ledger-open {
    height: 300px;
}
.linked-entities {
    width: 200px;
    .list-item {
        .entity-icon {
            padding: 4px;
        }
        .entity-details {
            margin-left: 6px;
            flex: 1;
            text-align: left;
            .item {
                font-family: var(--font-semibold);
            }
        }
        .default-entity {
            align-items: center;
            display: flex;
            &:hover:after {
                color: var(--color-blue);
            }
            .icon-favorite-selected {
                color: var(--color-blue);
            }
        }
    }
    i {
        font-size: unset;
        line-height: normal;
    }
}

::ng-deep {
    .ledg-head .mat-grid-tile-content {
        color: var(--color-table-primary-content);
    }

    .ledg-head .ledger-row .mat-input-element {
        color: var(--color-table-primary-content) !important;
    }
}
@media only screen and (max-width: 1540px) {
    .modal-ledger {
        width: 85%;
    }
}

@media only screen and (max-width: 1366px) {
    .modal-ledger {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
    .show-if-update-ledger-open {
        height: 230px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1280px;
    }
}
@media (min-width: 1020px) and (max-width: 1200px) {
    .linked-entities {
        position: absolute;
        top: 41px;
        right: 0;
    }
    .mr-b5 {
        margin-bottom: 50px !important;
    }
}
@media (max-width: 1190px) {
    .date-advance-search {
        &:before,
        &:after {
            display: none;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 991px) {
    .linked-entities {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .date-range-options {
        margin-bottom: 10px;
        text-align: left !important;
        z-index: 1;
        margin-left: 0;
    }
    .advance-search-by-date:before,
    .advance-search-by-date:after {
        display: none;
    }
    .ledger-head-top {
        width: 100% !important;
        justify-content: flex-end;
        a {
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .advance-search-block {
        padding: 0;
    }
    .ledg-head input[type="search"] {
        min-width: 170px;
    }
    .debit-credit-amount {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
    }
    .download-invoice-ledger {
        position: absolute !important;
    }
}
@media only screen and (max-width: 991px) {
    .stat-block {
        padding-left: 20px;
    }
    .ledg-head .mat-grid-list .mat-grid-title,
    .ledg-head .mat-grid-list .mat-grid-title .select2-container {
        border-bottom: none;
        border-right: none;
    }
    .ledger-state-box {
        margin-bottom: 0;
    }
    .amount-total {
        background: var(--color-dark-fog);
    }
    .page-count {
        width: 100% !important;
        left: 0;
        bottom: 0;
        position: inherit !important;
        box-shadow: none !important;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ledger-stat {
        margin: 15px -15px !important;
    }
    .ledger-book {
        margin-bottom: 16px;
    }
    .ledger-book .h-table tbody .ledger-row td {
        padding-left: 80px !important;
    }
    .ledger-book .h-table {
        display: block;
        clear: both;
    }
    .ledger-book .h-table tbody {
        display: block;
    }
    .ledger-book .h-table tbody tr {
        display: block;
        height: inherit !important;
    }
    .ledger-book .h-table tbody tr td {
        width: 100% !important;
        display: block;
    }
    .right-col-new .ledger-head {
        background: var(--color-wild-sand);
    }
    .ledger-row td:empty {
        display: none !important;
    }
    #blank-ledger-container tbody tr:empty {
        display: none;
    }
    .ledger-head-top {
        flex-wrap: wrap;
    }
    .xs-mb-1 {
        margin-bottom: 10px;
    }
    .ledger-btn .btn {
        font-size: var(--font-size-12) !important;
        padding: 6px;
    }
    .ledger-btn button.btn {
        font-size: var(--font-size-12) !important;
        padding: 6px;
    }
    .left-col-new .width-100.h-table .mat-grid-list .mat-grid-title:first-child,
    .left-col-new .width-100.h-table .mat-grid-list .mat-grid-title:first-child {
        border-left: 0px solid var(--color-iron) !important;
    }
    .ledg-head.some.transactions-page {
        margin-top: 50px;
    }
    .ledger-head {
        margin-top: 0;
        position: initial;
    }
    .justify-content-between {
        justify-content: inherit;
    }
    .custom-tabs {
        display: block;
    }
    .ledg-head {
        .ipad-view-datepicker {
            display: block;
        }
        .single-search-box {
            position: relative;
            width: calc(100% - 240px);
            margin-right: 13px;
            .full-width-input {
                width: 100%;
            }
            .default-width-input {
                width: calc(100% - 36px);
            }
            input[type="search"] {
                min-width: 150px;
                border-radius: 20px !important;
            }
            .clear-filter-btn {
                text-align: center;
                width: 36px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                i {
                    left: -3px;
                    top: 0;
                    color: var(--color-giddh-blue);
                }
            }
        }
    }
    .ledger-section {
        padding-top: 30px;
    }
    .transaction-in-short {
        margin-bottom: 0;
    }
    .search-ledger-field {
        margin-right: 0 !important;
        .ledger-datepicker {
            width: 36px;
            height: 36px;
            background-color: var(--color-white);
            border: 1px solid var(--color-iron);
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            //display: none;
        }
    }
    .ledger-ellipse {
        position: absolute;
        top: 66px;
        z-index: 999;
        right: 0px;
        .btn {
            background-color: transparent;
            color: var(--color-nero);
            font-size: var(--font-size-18);
        }
        ul {
            left: auto !important;
            right: 15px !important;
            top: 30px !important;
            border-radius: 10px;
            border: none;
            padding: 15px 0;
            li {
                a {
                    padding: 5px 15px;
                    margin-bottom: 3px;
                    background-color: transparent;
                }
            }
        }
    }
    .select-all-icons {
        display: flex;
        align-items: center;
        button {
            border-radius: 50%;
            height: 32px;
            width: 32px;
        }
    }
    .search-ledger-wrapper {
        width: 100% !important;
        margin-top: 7px;
        .single-search-box {
            .full-width-input {
                .mat-form-field {
                    width: 100%;
                }
            }
        }
    }
    .download-invoice-ledger {
        top: 0px;
        right: 0;
        margin: 0 10px;
        padding: 0;
        i {
            top: 0;
            color: var(--color-abbey);
        }
    }
    .ledger-head .mat-grid-list .mat-grid-tile.active {
        display: block !important;
        width: 100%;
    }
    .hidden-xs {
        display: none !important;
    }
    .ledger-head .mat-grid-tile {
        padding-top: 0;
    }
}

.ledger-row .mat-grid-tile:nth-child(3) {
    justify-content: center !important;
}
@media (max-width: 767px) {
    .linked-entities {
        width: 100%;
    }
    .ledger-head {
        .mat-grid-tile {
            padding: 0 0 10px !important;
        }
    }
    .ledger-ellipse {
        top: 50px;
        right: 10px;
        position: fixed;
        .btn {
            background-color: transparent;
            color: var(--color-white);
            font-size: var(--font-size-18);
        }
    }
    .search-ledger-field {
        margin-top: 40px;
        .ledger-datepicker {
            display: flex;
            margin-right: 8px;
        }
    }
    .ledg-head {
        .single-search-box {
            position: relative;
            width: calc(100% - 100px);
            .default-width-input {
                width: calc(100% - 100px);
            }
        }
        .ipad-view-datepicker {
            display: none;
        }
    }
    .ledger-section {
        padding-top: 0;
        .transactions-page {
            margin-top: 5px !important;
        }
    }
}
@media (max-width: 575px) {
    .stat-block {
        padding-left: 15px;
    }
    .ledger-btn .col-xs-6 {
        width: 100% !important;
        margin-bottom: 5px;
    }
    .balance-detail {
        .text-right {
            text-align: left !important;
            margin-bottom: 8px;
        }
    }
}
@media (max-width: 360px) {
    .search-ledger-field {
        min-width: 200px;
    }
    .icomoon-ico {
        margin-top: 7px;
    }
    .ledg-head {
        .single-search-box {
            .clear-filter-btn {
                font-size: var(--font-size-12);
            }
        }
    }
    .ledg-head {
        .single-search-box {
            margin-right: 5px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ledger-datepicker {
        img {
            padding-top: 5px;
        }
    }
}
