@import "../../assets/css/color.scss";

.form-control,
input {
    color: #1c1c1c;
}
.notfound-option {
    display: flex;
    justify-content: space-between;
}
.ledgHead table td[class*="col-"],
.ledgHead table td .select2-container {
    padding: 8px 10px !important;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 13px;
    color: #1c1c1c;
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ledgHead table td.pdR25imp {
    padding-right: 25px !important;
}

.ledgHead table td[class*="col-"],
.ledgHead table td .select2-container {
    min-height: 49px;
    height: 49px;
    max-height: initial;
}

.ledgHead.entry-popup table td[class*="col-"] {
    padding: 0px !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 13px;
    color: #4d4d4d;
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ledgHead.entry-popup table td.pdR25imp {
    padding-right: 25px !important;
}
.ledgHead .ledger-main td[class*="col-"] {
    padding: 0px !important;
}
// table th[class*=col-]:last-child,
// .ledger-main tr td:last-child,
// table td[class*=col-]:last-child {
//     border-right: 0 !important;
// }
.total_col td {
    border: 0 !important;
}
.ledger-main .form-control {
    border: 0;
}
.t-h-bg1 th {
    border-left: 0;
}
.ledgHead input[type="search"] {
    min-width: auto;
    padding-left: 27px !important;
}
.ledger-head-top i.icon-search.pos-abs {
    background-color: #5b64c9;
    color: #fff;
    width: 32px;
    height: 36px;
    top: 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0 !important;
    border-radius: 2px;
}
.ledger-stat {
    padding: 10px 15px 0;
    background: #fff;
    color: #808080;
    font-size: 18px;
    margin: 0px 0 0;
    box-shadow: 0px 2px 6px #0000001a;
}
.ledger-stat .row {
    display: flex;
    flex-wrap: wrap;
}
.icomoon_ico {
    margin-left: 0;
    margin-right: 8px;
}
.account_Name {
    color: rgba(0, 0, 0, 0.8);
    font-family: "" opensans-semibold "";
    text-transform: capitalize;
}
.ledger-footer-1 {
    position: absolute;
    bottom: 0;
}
.ledger-head th {
    color: $JacksonsPurple;
    padding-left: 0;

    padding-bottom: 10px;
}
.total_col td {
    border: 0;
}
.ledger-stat span {
    display: inline-block;
}
.pageCount {
    overflow: hidden;
    width: 100% !important;
    left: 0% !important;
    bottom: 100px;
    background: #fff;
    padding: 5px;
    font-size: 12px;
    z-index: 0;
}
#pagination {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.pagination > li > a {
    color: #4d4d4d;
}
.pagination > .active > a {
    background: #d35f29 !important;
    color: #fff !important;
    border-color: #bd501d !important;
}
.pagination > li > a:hover {
    color: #d35f29;
}
.grey {
    color: #4d4d4d;
}
.ledger-panel label {
    font-weight: 400;
}
.upload_div {
    float: left;
    text-decoration: underline;
    margin: 0px 5px;
    border: 1px solid #ccc;
}
.upload_div label {
    padding: 6px;
}
.pdR25imp {
    padding-right: 25px !important;
}
.t-h-bg1 th {
    background: #fff;
    color: #000000;
    border-right: 1px solid #d1d1d1;
    padding: 15px 11px !important;
    font-weight: 400;
    border-bottom: 1px solid #d1d1d1;
    font-family: opensans-semibold;
    font-size: 14px;
    border-top: 1px solid #d1d1d1;
}
.ledger-main .form-control,
.ledger-main input {
    color: #1c1c1c;
}

.ledger_book {
    border: 0px solid #ccc;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.Width600 {
    position: absolute;
    width: 600px;
}

.daterange_picker_ledger {
    border: 0;
    background-color: #fff !important;
    text-decoration-line: none;
    text-decoration-style: none;
    background-image: url(../../assets/images/calender.svg) !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    top: 1px;
}
.inputWrapper {
    display: block !important;
    width: 100% !important;
    position: relative;
    height: 37px !important;
}
.inputWrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: #d9d9d9;
    left: 37px !important;
    z-index: 100;
    top: 0;
}

.C-flex-end {
    display: flex;
    justify-content: flex-end;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.h-table tr {
    height: 45px;
}
.dateStep {
    padding: 0 !important;
    font-size: 13px;
    height: 41px;
    line-height: 1;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
::-webkit-calendar-picker-indicator {
    display: none;
}

.focusUnset.ledger-main .form-control:focus {
    border: unset !important;
}
tr[vr-item]:focus {
    background-color: #f7f8fa;
    outline: 0;
}
sh-select:focus {
    outline: 1px #d35f29 solid;
}
.notfound-option.active {
    background: #efeff1 !important;
    padding: 2px 5px !important;
}
.amnt-total {
    font-size: 12px;
    color: #999999;
    padding-left: 5px;
}
.ledger_book .left-col-new,
.ledger_book .right-col-new {
    background: #fff;
}
.left-col-new table.width100.h-table tbody tr td:last-child,
.left-col-new table.width100.h-table thead tr th:last-child {
    border-right: 0px !important;
}
.left-col-new table.width100.h-table tbody tr td:first-child,
.left-col-new table.width100.h-table thead tr th:first-child {
    border-left: 1px solid #ccc !important;
}
.custom-tabs {
    display: none;
}
.ledgHead .icomoon_ico {
    color: #999;
    width: 36px;
    height: 36px;
    border: 1px solid #d9d9d9;
    padding: 3px;
    display: flex;
    justify-content: center;
    border-top-width: 1px;
    background-color: #fff;
}
.advancSearchBlock input {
    background: $lightGray !important;
    height: 28px;
    border-color: $lightGray !important;
}
.advancSearchBlock input::placeholder {
    color: #666666;
}

.left-col-new,
.right-col-new {
    height: initial;
    width: 100%;
}
.ledger-section {
    display: flex;
}
.ledger-section {
    display: flex;
}

.advancSearchBlock .icon-search {
    right: 0;
    top: 0;
    background-color: $border-blue;
    padding: 6px 9px;
    color: #fff;
}
#blankLedgerContainer .ledger-main .no-leftBorder {
    border-left: none !important;
}
.ledger-row input[type="checkbox"] {
    margin-right: 15px;
}
.ledger_book .ledger-footer-1 .total_col .border-top {
    border-top: 1px solid #d9d9d9 !important;
}
.ledger_book .ledger-footer-1 .total_col .bdrT {
    border: none;
}

.advanceSearchByDate {
    display: inline-flex;
    border: 1px solid $inputBorderColor;
    border-radius: 2px;
    position: relative;
}
.advanceSearchByDate:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color: #c4c4c4;
    left: -33%;
    top: 17px;
}
.advanceSearchByDate:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color: #c4c4c4;
    right: -33%;
    top: 17px;
}

.ledger-head {
    margin-top: 46px;
}
.ledger-stat h1 {
    color: #262626;
    font-size: 16px;
    margin-bottom: 10px;
}
.digitBlue {
    color: $dark-blue00;
}
.greyTextClr {
    color: #666 !important;
    font-size: 14px;
}

.ledger-stat h3 {
    font-size: 16px;
}
.stat-block {
    border-right: 1px solid #d9d9d9;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stat-block:first-child {
    border-bottom: 8px solid $dark-blue00;
}
.stat-block:nth-child(2) {
    border-bottom: 8px solid $JacksonsPurple;
}
.stat-block:nth-child(3) {
    border-bottom: 8px solid $border-blue;
}
.stat-block:last-child {
    border-right: none;
    border-bottom: 8px solid $light-blue02;
}
.advnceSearchFilter {
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.subTotal {
    font-size: 14px !important;
}

.ledgHead .advancSearchBlock {
    height: 34px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.modal-ledger {
    width: 70%;
}
.justify-content-between {
    justify-content: space-between;
}
.d-flex.search-ledger-field {
    align-items: center;
    margin-right: 8px;
}
.clear-filter-btn {
    color: #1a237e;
    font-size: 14px;
}
.clear-filter-btn i {
    font-size: 12px;
}
.search-ledger-field {
    .btn-danger,
    .btn-success,
    .btn-warning {
        font-size: 16px;
        width: 36px;
        padding: 0px;
        height: 36px;
    }
}
.transaction-in-short {
    margin-bottom: 80px;
}

/*reponsive*/
.modal-ledger {
    width: 70%;
}
@media only screen and (max-width: 1540px) {
    .modal-ledger {
        width: 85%;
    }
}

@media only screen and (max-width: 1366px) {
    .modal-ledger {
        width: 100%;
        margin: 0;
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1280px;
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .custom-tabs {
        display: block;
    }
    .ledgHead table td[class*="col-"],
    toggle-switch .ledgHead table td .select2-container {
        min-height: initial;
        height: initial;
        max-height: initial;
    }
}
@media (max-width: 991px) {
    .daterngoption {
        margin-bottom: 10px;
        text-align: left !important;
        z-index: 1;
        margin-left: 0;
    }
    .advanceSearchByDate:before,
    .advanceSearchByDate:after {
        display: none;
    }
    .ledger-head-top,
    .daterngoption {
        width: 100% !important;
    }
    .daterngoption {
        margin-top: 10px;
    }

    .advancSearchBlock {
        padding: 0;
    }
    .ledgHead input[type="search"] {
        min-width: 200px;
    }
}
@media only screen and (max-width: 767px) {
    .ledgHead table td[class*="col-"],
    .ledgHead table td .select2-container {
        border-bottom: 0px solid #ccc;
        border-right: 0px solid #ccc;
    }
    .ledger-state-box {
        margin-bottom: 0;
    }
    .amount-total {
        background: #efefef;
    }
    .pageCount {
        width: 100%;
        left: 0;
        bottom: 0;
        position: relative;
    }
    .ledger-stat {
        margin: 0px 0 0;
    }
    .ledger_book {
        margin-bottom: 16px;
    }
    .ledger_book .h-table tbody .ledger-row td {
        padding-left: 80px !important;
    }
    .ledger_book .h-table {
        display: block;
        clear: both;
    }
    .ledger_book .h-table tbody {
        display: block;
    }
    .ledger_book .h-table tbody tr {
        display: block;
        height: inherit !important;
    }
    .ledger_book .h-table tbody tr td {
        width: 100% !important;
        display: block;
    }
    .right-col-new .ledger-head {
        background: #f7f8fa;
    }
    .ledger-row td:empty {
        display: none !important;
    }
    #blankLedgerContainer tbody tr:empty {
        display: none;
    }
    .ledger-head-top {
        flex-wrap: wrap;
    }
    .xs-mb-1 {
        margin-bottom: 10px;
    }
    .ledger-btn .btn {
        font-size: 12px !important;
        padding: 6px;
    }
    .ledger-btn button.btn {
        font-size: 12px !important;
        padding: 6px;
    }
    .left-col-new table.width100.h-table tbody tr td:first-child,
    .left-col-new table.width100.h-table thead tr th:first-child {
        border-left: 0px solid #ccc !important;
    }
    .ledgHead.some.transactions-page {
        margin-top: 50px;
    }
    .ledger-head {
        margin-top: 0;
    }
    .justify-content-between {
        justify-content: inherit;
    }
    .download-invoice-ledger {
        padding-left: 6px;
    }
}

@media (min-width: 991px) {
    .ledger_book:before {
        content: " ";
        height: calc(100% - 220px);
        position: absolute;
        width: 0;
        border-left: 1px solid #ccc;
        top: 0px;
        bottom: 0;
        z-index: 1;
        margin: 0 auto;
        left: 0px;
        right: 0;
    }
    table.ledger-footer-1:first-child {
        border-right: 1px solid #d1d1d1;
    }
}
@media (max-width: 575px) {
    .debitCreditAmount {
        display: block !important;
    }
    .stat-block {
        padding-left: 15px;
    }
}
@media (max-width: 360px) {
    .search-ledger-field {
        display: block;
        min-width: 200px;
    }
    .icomoon_ico {
        margin-top: 7px;
    }
}
