@import "../../assets/css/color.scss";

.form-control,
input {
    color: $nero;
}
.notfound-option {
    display: flex;
    justify-content: space-between;
}
.ledg-head table td[class*="col-"],
.ledg-head table td .select2-container {
    padding: 8px 10px !important;
    border-bottom: 1px solid $gainsboro;
    border-right: 1px solid $gainsboro;
    font-size: 13px;
    color: $nero;
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ledg-head table td.pdR25imp {
    padding-right: 25px !important;
}

.ledg-head table td[class*="col-"],
.ledg-head table td .select2-container {
    min-height: 49px;
    height: 49px;
    max-height: initial;
}

.ledg-head.entry-popup table td[class*="col-"] {
    padding: 0px !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid $gainsboro;
    border-right: 1px solid $gainsboro;
    font-size: 13px;
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ledg-head.entry-popup table td.pdR25imp {
    padding-right: 25px !important;
}
.ledg-head .ledger-main td[class*="col-"] {
    padding: 0px !important;
}
// table th[class*=col-]:last-child,
// .ledger-main tr td:last-child,
// table td[class*=col-]:last-child {
//     border-right: 0 !important;
// }
.total_col td {
    border: 0 !important;
}
.ledger-main .form-control {
    border: 0;
}
.t-h-bg1 th {
    border-left: 0;
}
.ledg-head input[type="search"] {
    min-width: auto;
    padding-left: 27px !important;
    border-radius: 20px !important;
    
}
.ledg-head {
    .single-search-box{
        position: relative;
        i{
            color: $gray;
            left:9px;top:10px;   
        }
    }
}
.ledger-head-top i.icon-search.pos-abs {
    background-color: #5b64c9;
    color: #fff;
    width: 32px;
    height: 36px;
    top: 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0 !important;
    border-radius: 2px;
}
.ledger-stat {
    padding: 10px 15px 0;
    background: #fff;
    color: #808080;
    font-size: 18px;
    margin: 0px 0 0;
    box-shadow: 0px 2px 6px #0000001a;
}
.ledger-stat .row {
    display: flex;
    flex-wrap: wrap;
}
.icomoon_ico {
    margin-left: 0;
    margin-right: 8px;
}
.account_Name {
    color: rgba(0, 0, 0, 0.8);
    font-family: "" opensans-semibold "";
    text-transform: capitalize;
}
.ledger-footer-1 {
    position: absolute;
    bottom: 0;
}
.ledger-head th {
    color: $jacksons-purple;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}
.total_col td {
    border: 0;
}
.ledger-stat span {
    display: inline-block;
}
.page-count {
    overflow: hidden;
    width: 100% !important;
    left: 0% !important;
    bottom: 100px;
    background: #fff;
    padding: 5px;
    font-size: 12px;
    z-index: 0;
}
#pagination {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.pagination > .active > a {
    background: #d35f29 !important;
    color: #fff !important;
    border-color: #bd501d !important;
}
.pagination > li > a:hover {
    color: #d35f29;
}
.ledger-panel label {
    font-weight: 400;
}
.upload_div {
    float: left;
    text-decoration: underline;
    margin: 0px 5px;
    border: 1px solid #ccc;
}
.upload_div label {
    padding: 6px;
}
.pdR25imp {
    padding-right: 25px !important;
}
.t-h-bg1 th {
    background: #fff;
    color: #000000;
    border-right: 1px solid $gainsboro;
    padding: 15px 11px !important;
    font-weight: 400;
    border-bottom: 1px solid $gainsboro;
    font-family: opensans-semibold;
    font-size: 14px;
    border-top: 1px solid $gainsboro;
}
.ledger-main .form-control,
.ledger-main input {
    color: $nero;
}

.ledger-book {
    border: 0px solid $gainsboro;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.Width600 {
    position: absolute;
    width: 600px;
}

.daterange_picker_ledger {
    border: 0;
    background-color: transparent !important;
    text-decoration-line: none;
    text-decoration-style: none;
    background-image: url(../../assets/images/calender.svg) !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 35px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    top: 1px;
}
.inputWrapper {
    display: block !important;
    width: 100% !important;
    position: relative;
    height: 37px !important;
}
.inputWrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: $gainsboro;
    left: 37px !important;
    z-index: 100;
    top: 0;
    display: none;
}

.C-flex-end {
    display: flex;
    justify-content: flex-end;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.h-table tr {
    height: 45px;
}
.dateStep {
    padding: 0 !important;
    font-size: 13px;
    height: 41px;
    line-height: 1;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
::-webkit-calendar-picker-indicator {
    display: none;
}

.focusUnset.ledger-main .form-control:focus {
    border: unset !important;
}
tr[vr-item]:focus {
    background-color: #f7f8fa;
    outline: 0;
}
sh-select:focus {
    outline: 1px #d35f29 solid;
}
.notfound-option.active {
    background: #efeff1 !important;
    padding: 2px 5px !important;
}
.amnt-total {
    font-size: 12px;
    color: #999999;
    padding-left: 5px;
}
.ledger-book .left-col-new,
.ledger-book .right-col-new {
    background: #fff;
}
.left-col-new table.width100.h-table tbody tr td:last-child,
.left-col-new table.width100.h-table thead tr th:last-child {
    border-right: 0px !important;
}
.left-col-new table.width100.h-table tbody tr td:first-child,
.left-col-new table.width100.h-table thead tr th:first-child {
    border-left: 1px solid $gainsboro !important;
}
.custom-tabs {
    display: none;
}
.ledg-head .icomoon_ico {
    color:$gray;
    width: 36px;
    height: 36px;
    border: 1px solid $gainsboro;
    padding: 3px;
    display: flex;
    justify-content: center;
    border-top-width: 1px;
    background-color: #fff;
    border-radius: 50%;
}
.advanc-search-block input {
    background: $solitude !important;
    height: 28px;
    border-color: $solitude !important;
}
.advanc-search-block input::placeholder {
    color: #666666;
}

.left-col-new,
.right-col-new {
    height: initial;
    width: 100%;
}
.ledger-section {
    display: flex;
}
.ledger-section {
    display: flex;
}

.advanc-search-block .icon-search {
    right: 0;
    top: 0;
    background-color: $chetwode-blue;
    padding: 6px 9px;
    color: #fff;
}
#blankLedgerContainer .ledger-main .no-leftBorder {
    border-left: none !important;
}
.ledger-row input[type="checkbox"] {
    margin-right: 15px;
}
.ledger-book .ledger-footer-1 .total_col .border-top {
    border-top: 1px solid $gainsboro !important;
}
.ledger-book .ledger-footer-1 .total_col .bdrT {
    border: none;
}

.advanceSearchByDate {
    display: inline-flex;
    border: 1px solid $gainsboro;
    border-radius: 20px;
    position: relative;
}
.advanceSearchByDate:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color:$gainsboro;
    left: -33%;
    top: 17px;
}
.advanceSearchByDate:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 32%;
    background-color: $gainsboro;
    right: -33%;
    top: 17px;
}

.ledger-head {
    margin-top:25px;
}
.ledger-stat h1 {
    color: $nero;
    font-size: 14px;
    margin-bottom: 10px;
}
.digit-blue {
    color: $midnight-blue;
}
.greyTextClr {
    color: #666 !important;
    font-size: 14px;
}

.ledger-stat h3 {
    font-size: 14px;
}
.stat-block {
    border-right: 1px solid $gainsboro;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stat-block:first-child {
    border-bottom: 8px solid $midnight-express;
}
.stat-block:nth-child(2) {
    border-bottom: 8px solid $jacksons-purple;
}
.stat-block:nth-child(3) {
    border-bottom: 8px solid $chetwode-blue;
}
.stat-block:last-child {
    border-right: none;
    border-bottom: 8px solid $portage;
}
.advance-search-filter {
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    border-radius: 50%;
    background-color: $white;
    img{
        width: 18px;
    }
}
 
.ledg-head .advanc-search-block {
    height: 34px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.modal-ledger {
    width: 70%;
}
.justify-content-between {
    justify-content: space-between;
}
.d-flex.search-ledger-field {
    align-items: center;
    margin-right: 0;
}
.clear-filter-btn {
    color: $midnight-blue;
    font-size: 14px;
    border: 1px solid $midnight-blue;
    border-radius: 20px;
    padding: 0 15px;
    background-color: $white;
}
.clear-filter-btn i {
    font-size: 12px;
}
.search-ledger-field {
    .btn-danger,
    .btn-success,
    .btn-warning {
        font-size: 16px;
        width: 36px;
        padding: 0px;
        height: 36px;
        border-radius: 50%;
    }
}
.transaction-in-short {
    margin-bottom: 80px;
}
.ledger-account-label {
    align-items: center;
    span {
        padding-left: 10px;
    }
    sh-select {
        width: 100%;
    }
}
.ledger-main .ledger-row:hover {
    background-color: transparent;
}
.date-range-picker{
    background-color: $white !important;
    text-decoration-line: none;
    text-decoration-style: none;
    background-image: url(../../assets/images/calender-icon.svg) !important;
    background-size: 17px !important;
    background-position: 15px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 35px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    top: 1px;
    font-size: 14px;
    padding-right: 10px !important;
    height: 36px;
    min-width: 220px !important;
    border-radius: 30px;
    &:focus{
        border-color: $chetwode-blue;

    }
}
.ipad-view-datepicker{
    .date-range-picker{
        border: 1px solid $gainsboro;
        border-radius: 20px;
        width: 203px !important;
    }
}
/*mobile ledger view css*/
.mobile-ledger-view{
    margin: 0 -15px;
    table{
        width: 100%;
    tbody{
        background-color:$white;
        .transction-date{
            font-size: 16px;
            font-family: 'opensans-semibold';
        }
        td{
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid #d1d1d1;
            font-size: 14px;
        }
        .second-row{
            td{
                &:first-child{
                    border-right: 1px solid #d9d9d9;
                    width: 60%;
                }
                span.account-holder-checkbox {
                    width: 20px;
                    margin-right: 3px;
                }
                span.account-holder-name {
                    float: left;
                    width: 82%;
                    display: inline-flex;
                }
            }
        }
    }
}
}

.debit-credit-amount{
    justify-content: space-between
}
.input-wrapper.ipad-view-datepicker {
    display: none;
}
.transaction-mapped-table{
    font-size: 14px;
    .transaction-mapped{
        padding: 0 !important;
        position: static;
        th{
            border: none;
            padding-top: 10px;
            &:first-child{
                padding-right: 12px;
            }
        }

    }
    .transaction-mapped-head{
        th{
            border-bottom: none !important;
        }
    }
    .ledger-row{
        td{
            border-bottom: none !important;
            &:last-child{
                border-right: none !important;
            }
            .d-flex{
                span{
                    input[type="checkbox"]{
                        margin-right: 5px;
                        margin-left: 5px;
                        height: 18px;
                    }
                }
            }   
        }
    }
}
/*responsive*/
.modal-ledger {
    width: 70%;
}
.ledger-head{
    position: relative;
}
.ledger-head{
    position: sticky;
    top: 60px;
    z-index: 1;
    background-color: $alice-blue-light;
    padding-left: 5px;
}
@media only screen and (max-width: 1540px) {
    .modal-ledger {
        width: 85%;
    }
}

@media only screen and (max-width: 1366px) {
    .modal-ledger {
        width: 100%;
        margin: 0;
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1280px;
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .ledg-head table td[class*="col-"],
    toggle-switch .ledg-head table td .select2-container {
        min-height: initial;
        height: initial;
        max-height: initial;
    }
}
@media (max-width: 991px) {
    .daterngoption {
        margin-bottom: 10px;
        text-align: left !important;
        z-index: 1;
        margin-left: 0;
    }
    .advanceSearchByDate:before,
    .advanceSearchByDate:after {
        display: none;
    }
    .ledger-head-top {
        width: 100% !important;
        justify-content: flex-end;
        a{
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .advanc-search-block {
        padding: 0;
    }
    .ledg-head input[type="search"] {
        min-width:170px;
    }
    .debit-credit-amount {
        display: flex !important;
        flex-direction: column;
    }
}
@media only screen and (max-width:991px) {
    .ledg-head table td[class*="col-"],
    .ledg-head table td .select2-container {
        border-bottom: 0px solid #ccc;
        border-right: 0px solid #ccc;
    }
    .ledger-state-box {
        margin-bottom: 0;
    }
    .amount-total {
        background: #efefef;
    }
    .page-count {
        width: 100%;
        left: 0;
        bottom: 0;
        position: relative;
        box-shadow: 0px 2px 6px #0000001a;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ledger-stat {
        margin: 15px -15px;
    }
    .ledger-book {
        margin-bottom: 16px;
    }
    .ledger-book .h-table tbody .ledger-row td {
        padding-left: 80px !important;
    }
    .ledger-book .h-table {
        display: block;
        clear: both;
    }
    .ledger-book .h-table tbody {
        display: block;
    }
    .ledger-book .h-table tbody tr {
        display: block;
        height: inherit !important;
    }
    .ledger-book .h-table tbody tr td {
        width: 100% !important;
        display: block;
    }
    .right-col-new .ledger-head {
        background: #f7f8fa;
    }
    .ledger-row td:empty {
        display: none !important;
    }
    #blankLedgerContainer tbody tr:empty {
        display: none;
    }
    .ledger-head-top {
        flex-wrap: wrap;
    }
    .xs-mb-1 {
        margin-bottom: 10px;
    }
    .ledger-btn .btn {
        font-size: 12px !important;
        padding: 6px;
    }
    .ledger-btn button.btn {
        font-size: 12px !important;
        padding: 6px;
    }
    .left-col-new table.width100.h-table tbody tr td:first-child,
    .left-col-new table.width100.h-table thead tr th:first-child {
        border-left: 0px solid $gainsboro !important;
    }
    .ledg-head.some.transactions-page {
        margin-top: 50px;
    }
    .ledger-head {
        margin-top: 0;
        position: initial;
    }
    .justify-content-between {
        justify-content: inherit;
    }
    .download-invoice-ledger {
        padding-left: 6px;
    }
    .custom-tabs {
        display: block;
    }
    .ledg-head {
        .ipad-view-datepicker{
            display: block;
        }
        .single-search-box{
            position: relative;
            width: calc(100% - 215px);
            margin-right: 13px;
            .full-width-input{
                width: 100%;  
            }
            .default-width-input{
                width: calc(100% - 115px); 
            }
            input[type="search"] {
                min-width: 150px;
                border-radius: 20px !important;
            }
            .clear-filter-btn{
                text-align: center;
                 width: 110px;
                 padding: 0;
                 display: flex;
                align-items: center;
                justify-content: center;
                 i{
                    left: -3px;
                    top: 0;
                    color: $midnight-blue;
                 }
            }
        }
    }
    .ledger-section{
        padding-top: 30px;
    }
    .transaction-in-short{
        margin-bottom: 0;
    }
    .search-ledger-field{
        margin-right: 0 !important;
        justify-content: space-between;
        .ledger-datepicker{
            width: 36px;
            height: 36px;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            display: none;
        }
    }
    .ledger-ellipse{
        position: absolute;
        top: 66px;
        z-index: 991;
        right: 0px;
        .btn{
            background-color: transparent;
            color: $nero;
            font-size: 18px;
        }
        ul{
            left: auto !important;
            right: 15px !important;
            top: 30px !important;
            border-radius: 10px;
            border: none;
            padding: 15px 0;
            li{
                a{
                    padding: 5px 15px;
                    margin-bottom: 3px;
                    background-color:transparent;
                }
            }
        }
    }
    .select-all-icons{
        display: flex;
        align-items: center;
        button{
            border-radius: 50%;
            height: 32px;
            width: 32px;
        }
    }
    .search-ledger-wrapper{
        width: 100% !important;
    }
    .download-invoice-ledger{
        top:8px;
        i{
            top: 0;
            color: $gray;
        }
    }
    .ledger-head thead tr th.active {
        display: block !important;
        width: 100%;
    }
    .hidden-xs{
        display: none!important;
    }
}
@media(min-width:768px){
    .ledger-book:before {
        content: " ";
        height: calc(100% - 220px);
        position: absolute;
        width: 0;
        border-left: 1px solid $gainsboro;
        top: 0px;
        bottom: 0;
        z-index: 1;
        margin: 0 auto;
        left: 0px;
        right: 0;
    }
    table.ledger-footer-1:first-child {
        border-right: 1px solid $gainsboro;
    }
}
@media(max-width:767px){
        .ledger-head{
            th{
                padding: 0 0 10px !important;
            }    
        }
        .ledger-ellipse{
            top: 0;
            right: 0px;
            position: fixed;
            .btn{
                background-color: transparent;
                color: $white;
                font-size: 18px;
            }
        }
        .search-ledger-field{
            .ledger-datepicker{
                display: flex;
            }
    }
    .ledg-head{    
        .single-search-box{
            position: relative;
            width: calc(100% - 45px);
            .default-width-input{
                width: calc(100% - 100px);
            }
        }
        .ipad-view-datepicker{
            display: none;
        }  
    }
    .ledger-section{
        padding-top: 0;
        .transactions-page{
            margin-top: 15px !important;
        }
    }
}
@media (max-width: 575px) {
    .stat-block {
        padding-left: 15px;
    }
    .ledger-btn .col-xs-6{
        width: 100% !important;
        margin-bottom: 5px;
    }
}
@media (max-width: 360px) {
    .search-ledger-field {
        min-width: 200px;
    }
    .icomoon_ico {
        margin-top: 7px;
    }
    .ledg-head {
        .single-search-box{
            .clear-filter-btn{
                font-size: 12px;
            }
        }
    }
    .ledg-head {
        .single-search-box{
            margin-right:5px;
        }
    }
}
