<ng-container
    appTranslate
    [file]="'settings/integration'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <div class="mr-t2 box">
        <p class="section-head mb-1">{{ localeData?.ecommerce?.shopify_form_heading }}</p>
        <span *ngIf="isEcommerceShopifyUserVerified">{{ localeData?.ecommerce?.shopify_connected_message }}</span>
        <a
            href="https://apps.shopify.com/giddh-accounting"
            target="_blank"
            *ngIf="!isEcommerceShopifyUserVerified"
            class="link-color"
        >
            <span>{{ localeData?.ecommerce?.connect_shopify }}</span></a
        >
    </div>
</ng-container>
