:host.in {
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 99999;
    position: fixed;
    display: block;
}

:host.out {
    display: none;
}
:host.in #close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
    border-radius: 0;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 100%;
    max-width: 760px;
    background: #f4f5f8;
}

.aside-pane {
    width: 100%;
}

.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexy-child-1 {
    flex-grow: 1;
}

.vmiddle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

:host.in #back {
    display: block;
    position: absolute;
    left: auto;
    top: 15px;
    z-index: 6;
    border: 0;
    border-radius: 0;
    right: 58px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 14px;
    font-size: 14px;
}
:host.in #back:hover {
    color: #1a237e;
    background-color: #fff;
    border-color: #fff;
}
.btn-lg {
    min-width: 155px;
    background: #fff;
    color: #5b64c9;
    box-shadow: none;
}

.btn-lg:hover {
    background: #e5e5e5;
    color: #5b64c9;
    box-shadow: 0px 4px 4px -3px #afabab;
    border-radius: 0px;
    border-color: #5b64c9;
}
@media (max-width: 768px) {
    :host.in {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host.in {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host.in {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host.in {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
