@import "../../../../../../assets/css/color.scss";

.template-editor h3 i {
    margin-right: 9px;
    font-size: 22px;
}
.upload-button {
    background: $white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px $nobel;
    cursor: pointer;
}

.logo-preview {
    float: left;
}

.logo-preview img,
.swatch-preview {
    width: 100px;
    height: 100px;
    float: left;
    background: $white;
    object-fit: contain;
}
label.upload-button {
    display: block;
    padding: 15px 10px;
    margin-top: 7px;
}
.upload-button input[type="file"] {
    display: none;
}
.mb-4px {
    margin-bottom: 4px;
}
.thanks-input-group {
    display: flex;
}
.thanks-input-inline {
    margin: -6px 0px 7px 7px !important;
}
