.single-item .dropdown-menu {
    height: 50px !important;
}

:host .dropdown-menu {
    width: 100%;
    height: inherit;
    padding: 0;
    overflow: auto;
    z-index: 1;
}

.fake-label {
    cursor: pointer;
    padding: 5px 10px;
    line-height: 24px;
}

.disabled-label {
    cursor: not-allowed;
    opacity: 0.5;
}

.multi-select .caret {
    display: block !important;
}
sup.mandatory-asterisk {
    font-size: var(--font-size-15);
    top: 0;
    color: var(--color-danger);
}

.dropdown-menu {
    left: unset !important;
    top: 0px;
    li{
        padding: 0 10px;
        height: 40px;
        &:hover{
            background-color: var(--color-dark-fog) !important;
        }
    }
}
.total-tax-amount {
    cursor: default !important;
}