*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Scroll bar

html,
body {
    overflow: hidden;

    ::-webkit-scrollbar-track {
        background-color: var(--theme-background-color);
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: var(--theme-background-color);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: var(--mat-border-radius-8, 8px);
        background-color: var(--theme-primary-light, lightgray);
    }
}

a {
    @include text-decoration(none, false);
    color: var(--text-primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input {
    outline: none !important;
}
textarea,
input {
    color: inherit;
    background-color: var(--color-transparent);
}
table {
    border-collapse: collapse;
    width: 100%;
    tr {
        th,
        td {
            text-align: inherit;
            vertical-align: middle;
        }
    }
}
ul,
ol {
    list-style: none;
}
textarea {
    resize: none !important;
}
