.all-features-list {
    margin-bottom: 30px;
    li {
        list-style-type: none;
        color: var(--color-dark-gray);
        font-size: var(--font-size-12);
        padding: 3px 0;
        line-height: 20px;
        display: flex;
        align-items: center;
        span {
            margin-left: 15px;
        }
        i.icon-tick {
            font-size: 8px;
            float: left;
            margin-right: 0;
            margin-left: 6px;
        }

    }
}
.money-back-guarantee {
    font-size: var(--font-size-12);
    background-color: var(--color-orange-light);
    color: var(--color-gray);
    padding-left: 20px;
    padding-right: 20px;
}
.all-feature-modal {
    p {
        color: var(--text-primary-color);
        margin-bottom: 10px;
        i {
            font-size: 21px;
            color: var(--text-primary-color);
        }
    }
    [class*="col-"] {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 1360px) and (min-width: 767px) {

    .inventory-last-box > div {
        width: 50%;
        float: left;
    }
}
