.import_type {
  display: flex;
  justify-content: center;
}

.import_type li {
    list-style: none;
    width: 330px;
    height: 275px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0 25px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    cursor: pointer;
    transition: all 0.3s ease;
    color: initial;
    border-radius: 2px;
    justify-content: center;
}

.import_type h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.import_type li:hover {
  border: 1px solid #ff5e01;
  // transform: scale(1.01);
}

.lead {
  font-size: 36px;
  margin-bottom: 10px;
}

.has-error .form-control {
  border-color: red !important;
}

.import_type img {
  max-width: 90px;
}
.import_type > li > a {
    display: block;
    padding: 30px 40px;
    width: 100%;
    // height: 100%;
}
