<div class="aside-pane">
    <div class="header-create-unit">
        <button id="close" (click)="closeAsidePane($event)"><i class="icon-cross"></i></button>
        <div class="form-header">
            <h3>Transfer</h3>
        </div>
    </div>
    <div class="aside-body create-group-aside-body">
        <div class="aside-pane-form">
            <div class="form-body white-bg clearfix margin-child-label">
                <div class="branch-transfer">
                    <button mat-raised-button color="primary" (click)="openBranchTransferDialog('receipt-note')">
                        Receipt Note
                    </button>
                    <button mat-raised-button color="primary" (click)="openBranchTransferDialog('delivery-challan')">
                        Delivery Challan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
