.btn-group.open.show {
  display: inline-block!important;
}
.bdrT {
  border-color: #ccc;
}

:host ::ng-deep .fb__1-container {
  justify-content: flex-start;
}

:host ::ng-deep .fb__1-container .form-group {
  margin-right: 10px;
  margin-bottom: 0;
}

:host ::ng-deep .fb__1-container .date-range-picker {
  min-width: 140px;
  font-weight: bolder;
  border-bottom: 1px dotted #707070;
  padding-bottom: 2px !important;
}
.flex-fill {
  flex: 1 1 auto;
}
.td_in_searchBox div {
  display: flex;
}
.td_in_searchBox div span {
  flex: 1 1 auto;
  padding-left: 13px;
}
.td_in_searchBox div i {
  margin-top: 3px;
  color: #8080808c;
  padding-right: 8px;
  cursor: pointer;
}
.td_in_searchBox {
  padding: 0px !important;
  position: relative;
}
.td_in_searchBox .input-container input {
  height: 100%;
  width: 100%;
  padding: 10px 13px;
  padding-right: 40px;
  border: 0px;
  margin-top: 0px;
}
.td_in_searchBox .input-container i {
  position: absolute;
  right: 0px;
  top: 10px;
}
.table-border {
  border: 1px solid #c6c6c6;
}
.basic > thead > tr > th {
  border-right: 1px solid #cdcdcd;
}
.icon-pointer .glyphicon {
  cursor: pointer;
}
.icon-pointer .glyphicon:hover {
  color: #ff5f00;
}
.td_in_searchBox div i:hover {
  color: #ff5f00;
}

/* class name same as what we are getting data */

.Inward.Note {
  color: #229e2b;
}
.Outward.Note {
  color: #0C8FE6;
}
.Transfer.Note {
  color: #666666;
}



/* voucher type DDL */
.c-3 {
  color: #333333;
}
.btn-group-voucher-type {
  width: 100%;
  button {
    text-align: left;
    width: 100%;
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  .pull-right {
    margin-top: 5px;
  }
}
.btn-group-voucher-type {
  button {
    i.fa.fa-ellipsis-v {
      position: absolute;
      right: 0;
    }
  }
}
.voucher-type {
  width: 115%;
  right: -7.5% !important;
  top: 118% !important;
  border-radius: 0px;
  padding: 0px;
  input[type="checkbox"]:after {
    border: 1px solid #cccccc;
    width: 15px;
    height: 15px;
    top: 2px;
  }
  input[type="checkbox"]:before {
    top: 5px;
    width: 9px;
    height: 5px;
    border: 1px solid #ff5f00;
    border-top-style: none;
    border-right-style: none;
  }
  li {
    color: #333333;
    padding: 3px 7px !important;
    font-size: 12px;
  }
  li:last-child {
    border: none;
    padding-bottom: 6px !important;
  }
}
button[aria-expanded="true"] i {
  color: #ff5f00;
}
/* voucher type DDL */


.modal-content {
  border-radius: 0px;
  margin-top: 200px;
}
.rightBar {
  width: calc(100% - 260px);
}
.unit-badge {
  display: inline-block;
  min-width: 40px;
  text-align: left;
  padding-left: 3px;
  text-transform: lowercase;
}
.icon-pointer .fa-long-arrow-up,
.icon-pointer .fa-long-arrow-down {
  line-height: 20px;
  width: 15px;
  color: #a9a9a9;
}
.icon-pointer .activeTextColor {
  color: #ff5200;
}

.dropdown-menu > li > a:hover{
  cursor: pointer;
  color: #ff5f00;
}
