<div style="min-height:100%;">
    <!--sidebar-->

    <jobwork-sidebar></jobwork-sidebar>
    <!--/sidebar-->
    <div class="rightBar" *ngIf="showWelcomePage">
        <welcome-jobwork></welcome-jobwork>
    </div>
    <section class="rightBar" *ngIf="!showWelcomePage">
        <section class="container-fluid clearfix pdT2">
            <section class="h100">
                <div class="fb__1-container">
                    <div class="d-flex jobWorkContent">

                        <div class="d-flex form-inline">
                            <h2 class="mr-2 ReportInfo"
                                style="display: inline-block; font-size: 20px;font-weight: bold;text-transform:capitalize;">
                                <span *ngIf="type==='stock'" class="ReportInfo">{{nameStockOrPerson}}</span>&nbsp;<span
                                    *ngIf="type==='stock'">(Transaction Log)</span>

                                <span *ngIf="type==='person'"
                                    class="ReportInfo"><span>{{nameStockOrPerson}}</span></span>
                            </h2>
                            <div class="form-group" style="margin-top: -7px;">
                                <input type="text" name="daterangeInput" daterangepicker [options]="datePickerOptions"
                                    class="form-control date-range-picker"
                                    (applyDaterangepicker)="dateSelected($event)" />
                            </div>

                            <div class="form-group">
                                <div class="advance-icon" style="align-items: center" tooltip="Advance Search">
                                    <span class="icon-advance-search" (click)="onOpenAdvanceSearch()"></span>
                                </div>

                            </div>



                        </div>
                        <div class="clear-filter" *ngIf="isFilterCorrect" (click)="resetFilter()">
                            <button class="btn btn-filter">
                                <span class="icon-cross"></span> Clear Filter
                            </button>
                        </div>
                        <div class="">
                            <div class="pull-right">
                                <div class="btn-group " dropdown placement="bottom right">
                                    <button id="buttonalignment" dropdownToggle type="button"
                                        class="btn-link mrB cp mr-1 dropdown-toggle" aria-controls="dropdown-alignment">
                                        <i class="icon-download"></i> Download
                                    </button>
                                    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-alignment">
                                        <li role="menuitem" (click)="downloadJobworkReport('csv')"><a
                                                class="dropdown-item">Download CSV</a>
                                        </li>
                                        <li role="menuitem" (click)="downloadJobworkReport('xls')"><a
                                                class="dropdown-item">Download XLS</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-pink mr-0" data-toggle="tooltip" tooltip="Alt+i"
                                    (click)="toggleTransferAsidePane()">Create
                                    New
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <section style="margin-top: 15px">
                    <div class="table-responsive">
                        <table class="table basic table-border m-0">
                            <thead>
                                <tr>
                                    <th class="bdrR" width="120">
                                        <div class="d-flex">
                                            <div class=""> Date</div>
                                            <div class="icon-pointer">
                                                <!-- default -->
                                                <div class="icon-sort-asc text-right "
                                                    *ngIf="filter.sortBy !== 'entry_date'"
                                                    (click)="sortButtonClicked('asc', 'entry_date')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'entry_date' && filter.sort === 'asc'}">
                                                </div>
                                                <!-- after sort click -->
                                                <div class="icon-sort-dsc text-right"
                                                    *ngIf="filter.sortBy === 'entry_date' && filter.sort === 'desc'"
                                                    (click)="sortButtonClicked('asc', 'entry_date')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'entry_date' && filter.sort === 'desc'}">
                                                </div>
                                                <div class="icon-sort-asc text-right "
                                                    *ngIf="filter.sortBy === 'entry_date' && filter.sort === 'asc'"
                                                    (click)="sortButtonClicked('desc', 'entry_date')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'entry_date' && filter.sort === 'asc'}">
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="bdrR td_in_searchBox" *ngIf="type ==='person'" width="15%"
                                        (clickOutside)="clickedOutside($event,null, 'product')">
                                        <div [hidden]="showProductSearch">
                                            <span>Product Name</span>
                                            <!-- <i class="icon-search" (click)="showSearchBox('product')"></i> -->
                                        </div>
                                        <!-- <div class="input-container" [hidden]="!showProductSearch">
                    <input type="text" #productName placeholder="Product Name" class="w100"
                        [formControl]="productUniqueNameInput" />
                    <i class="icon-search" (click)="showProductSearch = false;"></i>
                </div> -->
                                    </th>
                                    <th class="bdrR bdrB" *ngIf="type ==='stock'" width="15%">
                                        <div class="btn-group btn-group-voucher-type" dropdown placement="bottom right">
                                            <button id="button-alignment" dropdownToggle type="button"
                                                class="btn-link cp p-0 dropdown-toggle c-3 p0"
                                                aria-controls="dropdown-alignment">Voucher Type
                                                <i class="fa fa-ellipsis-v pull-right text-light-2"
                                                    aria-hidden="true"></i>
                                            </button>
                                            <ul id="dropdown-alignment" *dropdownMenu
                                                class="dropdown-menu  dropdown-menu-right voucher-type" role="menu"
                                                aria-labelledby="button-alignment">
                                                <li role="menuitem dropdown-item" *ngFor="let item of VOUCHER_TYPES">
                                                    <label><input type="checkbox" [(ngModel)]="item.checked"
                                                            (click)="filterByCheck(item.value, $event.target.checked)" />
                                                        {{item.label}}</label></li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th class="bdrR bdrB td_in_searchBox" width="15%"
                                        (clickOutside)="clickedOutside($event,null, 'sender')">
                                        <div [hidden]="showSenderSearch">
                                            <span>Sender's Name</span>
                                            <i class="icon-search" (click)="showSearchBox('sender')"></i>
                                        </div>
                                        <div class="input-container" [hidden]="!showSenderSearch">
                                            <input type="text" #senderName placeholder="Sender's Name" class="w100"
                                                [formControl]="senderUniqueNameInput" />
                                            <!-- <i class="icon-search" (click)="showSenderSearch = false;"></i> -->
                                        </div>
                                    </th>
                                    <th class="bdrR bdrB td_in_searchBox" width="15%"
                                        (clickOutside)="clickedOutside($event,null, 'receiver')">
                                        <div [hidden]="showReceiverSearch">
                                            <span>Receiver's Name</span>
                                            <i class="icon-search" (click)="showSearchBox('receiver')"></i>
                                        </div>
                                        <div class="input-container" [hidden]="!showReceiverSearch">
                                            <input type="text" #receiverName placeholder="Receiver's Name" class="w100"
                                                [formControl]="receiverUniqueNameInput" />
                                            <!-- <i class="icon-search" (click)="showReceiverSearch = false;"></i> -->
                                        </div>
                                    </th>
                                    <th class="bdrR bdrB">Description</th>
                                    <th class="text-right bdrB" width="140">
                                        <div class="d-flex">
                                            <div class="flex-fill mr-1">Trading Qty</div>
                                            <div class="icon-pointer">
                                                <!-- default -->
                                                <div class="icon-sort-asc text-right "
                                                    *ngIf="filter.sortBy !== 'QUANTITY'"
                                                    (click)="sortButtonClicked('asc', 'QUANTITY')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'QUANTITY' && filter.sort === 'asc'}">
                                                </div>
                                                <!-- after sort click -->
                                                <div class="icon-sort-dsc text-right"
                                                    *ngIf="filter.sortBy === 'QUANTITY' && filter.sort === 'desc'"
                                                    (click)="sortButtonClicked('asc', 'QUANTITY')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'QUANTITY' && filter.sort === 'desc'}">
                                                </div>
                                                <div class="icon-sort-asc text-right "
                                                    *ngIf="filter.sortBy === 'QUANTITY' && filter.sort === 'asc'"
                                                    (click)="sortButtonClicked('desc', 'QUANTITY')"
                                                    [ngClass]="{'activeTextColor': filter.sortBy === 'QUANTITY' && filter.sort === 'asc'}">
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody *ngIf="inventoryReport && inventoryReport.transactions.length>0">
                                <tr *ngFor="let txn of inventoryReport.transactions; let idx = index">
                                    <td class="bdrR">{{txn.date}}</td>
                                    <td class="bdrR" *ngIf="type ==='person'">{{txn.stock.name}}</td>
                                    <td class="bdrR" *ngIf="type ==='stock'">
                                        <!-- in case of stock type -->
                                        <span
                                            class="{{txn.jobWorkTransactionType}}">{{txn.jobWorkTransactionType}}</span>
                                    </td>
                                    <td class="bdrR">{{txn.sender.name}}</td>
                                    <td class="bdrR">{{txn.receiver.name}}</td>
                                    <td class="bdrR" (click)='updateDescriptionIdx = idx'>
                                        <ng-container *ngIf='updateDescriptionIdx != idx'>
                                            <div class="stockDiscription">{{txn.description}}</div>
                                        </ng-container>
                                        <ng-container *ngIf='updateDescriptionIdx === idx'>
                                            <input type="text" class='form-control' maxlength='100' autofocus="true"
                                                placeholder="Enter Description" [(ngModel)]='txn.description'
                                                (blur)='updateDescription(txn)' />
                                        </ng-container>
                                    </td>
                                    <td class="text-right bdrR">{{txn.quantity}}<span
                                            class="unit-badge">{{txn.stockUnit.code}}</span>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- <tfoot>
                <tr>
                    <td colspan="5">
                        Total
                    </td>
                    <td colspan="2">
                        60,000
                    </td>
                </tr>
            </tfoot> -->
                            <tbody
                                *ngIf="inventoryReport && inventoryReport.transactions.length<=0 || !inventoryReport">
                                <tr>
                                    <td colspan="7" class="text-center empty_table">
                                        <img src="assets/images/search-data-not-found.svg" />
                                        <h1>No Report Found !!</h1>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="inventoryReport?.totalPages > 1">
                                <tr>
                                    <td colspan="7">
                                        <div class="alC">
                                            <pagination [maxSize]="6" [totalItems]="inventoryReport.totalItems"
                                                [(ngModel)]="inventoryReport.page" [itemsPerPage]="6"
                                                (pageChanged)="applyFilters($event.page)" class="pagination-sm"
                                                [boundaryLinks]="true" [rotate]="false"></pagination>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </section>
</div>


<!-- aside inwards/outwards/transfer pane -->
<div class="aside-overlay" *ngIf="asideTransferPaneState === 'in'"></div>
<aside-transfer-pane [class]="asideTransferPaneState" [@slideInOut]="asideTransferPaneState"
    (closeAsideEvent)="toggleTransferAsidePane()"></aside-transfer-pane>
<!-- aside inwards/outwards/transfer pane -->

<!-- Advance search popup -->
<div bsModal #advanceSearchModel="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header themeBg clearfix">
                <h3 class="modal-title bg" id="modal-title">Advance Search</h3>
                <span aria-hidden="true" class="close" data-dismiss="modal"
                    (click)="advanceSearchAction('cancel')">×</span>
            </div>
            <div class="modal-body clearfix">
                <form action="" [formGroup]="advanceSearchForm">

                    <div class="row mrT2">
                        <div class="col-md-4">Trading Qty.</div>
                        <div class="col-md-4">
                            <sh-select name="entity" (onClear)="clearShSelect('comparisionFilter')"
                                [options]="COMPARISON_FILTER" (selected)="compareChanged($event)"
                                [placeholder]="'Select'" #comparisionFilter [multiple]="false">
                            </sh-select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" (keyup)="checkFilters()" class="form-control" placeholder="Quantity"
                                maxlength="10" formControlName="filterAmount">
                            <small *ngIf="advanceSearchForm.controls['filterAmount'].invalid" class="text-danger">input
                                number
                                only
                            </small>
                        </div>
                    </div>
                    <div class="row mrT4 mrB3">
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-success" type="button"
                                [disabled]="!isFilterCorrect && !filter.quantity"
                                (click)="advanceSearchAction('search')">Search
                            </button>
                            <button class="btn btn-danger" type="button" (click)="advanceSearchAction('clear')">Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Advance  search popup -->
