@import "../../../assets/css/color.scss";

.jobwork-main {
    min-height: 100%;
}

.btn-group.open.show {
    display: inline-block !important;
}
.bd-rt {
    border-color: $gainsboro;
}

:host ::ng-deep .fb-1-container {
    justify-content: flex-start;
}

:host ::ng-deep .fb-1-container .form-group {
    margin-right: 10px;
    margin-bottom: 0;
}

:host ::ng-deep .fb-1-container .date-range-picker {
    min-width: 140px;
    font-weight: bolder;
    border-bottom: 1px dotted $gray;
    padding-bottom: 2px !important;
}
.flex-fill {
    flex: 1 1 auto;
}
.td-search-box div {
    display: flex;
}
.td-search-box div span {
    padding-left: 13px;
}
.td-search-box div i {
    margin-top: 1px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.td-search-box {
    padding: 0px !important;
}
.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: $nero;
    border: none;
    background-color: $white-smoke;
}
.td-search-box .input-container i {
    position: absolute;
    right: 0px;
    top: 10px;
}
.table-border {
    border: 1px solid $gainsboro;
}
.basic > thead > tr > th {
    border-right: 1px solid $gainsboro;
}
.icon-pointer .glyphicon {
    cursor: pointer;
}

.td-search-box div i:hover {
    color: $nobel;
}

/* class name same as what we are getting data */

.Inward.Note {
    color: $light-green;
}
.Outward.Note {
    color: $primary;
}
.Transfer.Note {
    color: $dark-gray;
}

/* voucher type DDL */
.c-3 {
    color: $white;
}
.btn-group-voucher-type {
    width: 100%;
    button {
        text-align: left;
        width: 100%;
        color: $nero;
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    .pull-right {
        margin-top: 5px;
    }
}
.btn-group-voucher-type {
    button {
        i.fa.fa-ellipsis-v {
            position: absolute;
            right: 0;
        }
    }
}
.voucher-type {
    width: 115%;
    right: -7.5% !important;
    top: 118% !important;
    border-radius: 0px;
    padding: 0px;
    input[type="checkbox"]:after {
        border: 1px solid $gainsboro;
        width: 15px;
        height: 15px;
        top: 2px;
    }
    input[type="checkbox"]:before {
        top: 5px;
        width: 9px;
        height: 5px;
        border: 2px solid $white;
        border-top-style: none;
        border-right-style: none;
    }
    li {
        color: $night-rider;
        padding: 3px 7px !important;
        font-size: 12px;
    }
    li:last-child {
        border: none;
        padding-bottom: 6px !important;
    }
}
button[aria-expanded="true"] i {
    color: $dark-gray;
}
.stock-description {
    white-space: normal;
}
/* voucher type DDL */

.modal-content {
    border-radius: 0px;
    margin-top: 200px;
}
.right-bar {
    width: calc(100% - 260px);
}
.unit-badge {
    display: inline-block;
    min-width: 40px;
    text-align: left;
    padding-left: 3px;
    text-transform: lowercase;
}
.icon-pointer .icon-sort-asc,
.icon-pointer .icon-sort-asc {
    line-height: 20px;
    width: 15px;
    color: $wild-blue-yonder;
}
.icon-pointer .active-text-color {
    color: $deep-sky-blue;
}

.dropdown-menu > li > a:hover {
    cursor: pointer;
}
.advance-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid $chetwode-blue;
    border-radius: 5px;
    color: $midnight-blue;
    background: $white;
}
.table-border .d-flex {
    align-items: center;
}
.icon-pointer {
    padding-left: 5px;
    cursor: pointer;
}
button.btn.btn-filter {
    background: $whisper;
    border: 1px solid $whisper;
    font-size: 14px;
    color: $midnight-blue;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}
.job-work-content {
    width: 100%;
    justify-content: space-between;
}

.margin-datepicker {
    margin-top: -7px !important;
}
