/************ login page start *****************/

/*typography styles*/

body.unresponsive {
    padding: 0;
    background: var(--color-primary-login-signup-body-unresponsive-background);
}

.intro.login {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    display: table;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.modal-header h3 {
    color: var(--color-white);
    font-size: 1.3rem;
}

.login {
    padding-top: 0;
}

.login .brand-heading {
    color: var(--color-white);
    font-size: 40px;
    margin-bottom: 80px;
}

#box {
    background-color: var(--color-white);
    padding: 20px 30px;
    margin: 0 auto;
    width: 360px;
    height: auto;
}

#box button {
    text-transform: uppercase;
}

.login-btn {
    position: relative;
}

#box img {
    max-height: 30px;
    position: absolute;
    left: 10px;
    top: 4px;
}

#box .glyphicon {
    max-height: 30px;
    position: absolute;
    left: 15px;
    top: 13px;
}

#box .btn:hover,
#box .btn:hover {
    color: var(--color-white);
}

.mr-b1 {
    margin-bottom: 10px;
}

.twitter {
    background: var(--color-primary-login-signup-twitter-background);
}

.google {
    background: var(--color-primary-login-signup-google-background);
}

.linkedin {
    background: var(--color-primary-login-signup-linkedin-background);
}

.mobile {
    background: var(--color-primary-login-signup-mobile-background);
}

.btn-login {
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px var(--color-primary-common-box-shadow);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding: 10px 16px !important;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-blue {
    color: var(--color-senary-button-text) !important;
    border-color: var(--color-senary-button-background);
    background: var(--color-senary-button-background);
}

.btn-blue:hover {
    color: var(--color-senary-button-text) !important;
    border-color: var(--color-senary-button-background-hover);
    background: var(--color-senary-button-background-hover);
}
/*giddh loader*/

.giddh-spinner {
    animation: rotate 1.5s infinite linear;
    background: var(--color-black) none repeat scroll 0 0;
    border: 7px solid var(--color-danger);
    border-radius: 50%;
    box-shadow: 0 -10px 0 14px var(--color-primary-common-box-shadow) inset;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    margin: 0 auto 20px;
}

.form-inline {
    width: 80px;
}

.input-width-mobile {
    width: calc(100% - 80px);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.intro .lead {
    text-align: center;
    font-size: 18px;
}

.btn-login.btn-default {
    color: var(--color-nero);
    background-color: var(--color-white);
    border-color: var(--color-iron);
}

.btn-login.btn-default:hover {
    color: var(--color-nero) !important;
    background-color: var(--color-white);
    border-color: var(--color-iron);
    box-shadow: none;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-primary-login-signup-button-close);
    text-shadow: none;
    opacity: 1;
}

.email {
    background: var(--color-blue);
}

/************* end login page *************/

/***********************SIGN IN REDESIGN ***********************/

.form-control,
:host ::ng-deep .form-control {
    height: 41px;
    font-size: 16px;
    color: var(--color-primary-login-signup-input-box) !important;
}

:host ::ng-deep .clear {
    top: 50% !important;
    font-size: 22px !important;
    right: 6px !important;
}

:host ::ng-deep .btn-success {
    color: var(--color-white);
}

strong {
    font-family: "Roboto", sans-serif;
}

.logo {
    align-self: start;
}

h1 {
    font-size: 24px;
}

.slide-content {
    padding: 0 100px;
    color: var(--color-white);
    background: var(--color-primary-login-signup-slide-content-background);
    justify-content: space-evenly;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-box h1 {
    color: var(--color-primary-login-signup-login-box-h1);
    font-weight: 500;
}

.form-wrapper {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
}

small {
    color: var(--color-nero);
}

/* social-login */

.social-login {
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}

.social-login li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.social-login li a {
    display: inline-block;
    height: 40px;
    border: 1px solid;
    min-width: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    font-size: 14px;
}

.google-ico span {
    padding: 0 15px;
}

/* social icon */

.linkedin-ico a {
    color: var(--color-primary-login-signup-linkedin-icon);
    border-color: var(--color-primary-login-signup-linkedin-icon);
}

.google-ico a {
    background: var(--color-primary-login-with-google-box-background);
    border-color: var(--color-primary-login-with-google-box-background) !important;
    color: var(--color-tertiary-login-box-body-text);
    padding-left: 40px !important;
}

.ico-google {
    height: 38px;
    position: absolute;
    width: 40px;
    left: 0;
    line-height: 38px;
    vertical-align: middle;
    background-color: var(--color-white-secondary);
}

.ico-google img {
    width: 18px;
    height: 18px;
}

.login-option,
.login-option a {
    color: var(--color-blue);
    margin-top: 55px;
    font-weight: 500;
}

.login-option a {
    border-bottom: 2px dotted var(--color-blue);
}

.slide-content h1 {
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    line-height: 34px;
}

.feature-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    align-self: self-start;
}

.feature-list li {
    list-style: none;
    margin-bottom: 70px;
    padding-left: 55px;
    position: relative;
}

.feature-list li .signup-ico {
    position: absolute;
    left: 0;
    height: 100%;
    width: 30px;
    right: 0;
    top: 7px;
    bottom: 0;
}

.feature-list li > p {
    font-size: 20px;
    text-align: left;
}

.client-testimonial {
    align-self: flex-start;
    position: relative;
    width: 100%;
    background: var(--color-solitude-light);
    margin: 0 -15px;
}

.client-testimonial .content {
    display: flex;
    align-self: left;
    flex-direction: column;
    align-items: self-start;
    position: relative;
    padding: 30px 70px;
}

.client-testimonial p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.client-testimonial h4 {
    font-size: 20px;
}

.hash-tag {
    color: var(--color-danger);
}

.blockquote-ico {
    position: absolute;
    left: 15px;
    height: 100%;
    width: 30px;
    right: 0;
    top: 30px;
    bottom: 0;
}

.hint ul {
    font-size: 13px;
    padding: 7px;
    padding-left: 18px;
}

.hint {
    position: absolute;
    left: 0;
    z-index: 1;
    background: var(--color-white);
    bottom: -38px;
    border-radius: 0;
    padding: 4px;
    border: 1px solid var(--color-iron);
}

.hint:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--color-iron);
    left: 6px;
    top: -12px;
    transform: rotate(-90deg);
    right: inherit;
}

/* new theme login page css start */
.login-box {
    position: relative;
}
.login-left {
    background-color: var(--color-primary-login-page-background);
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
}
.login-right {
    background-image: url("../../assets/images/Login-Page-Image.png");
    height: 100vh;
    justify-content: flex-start;
    background-position: top right;
    background-size: cover;
}
.px-0 {
    padding: 0;
}
.mx-0 {
    margin: 0;
}
.giddh-login {
    margin-left: -245px;
    width: 495px;
}
.giddh-login-inner {
    max-width: 476px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}
.logo-login {
    background-color: var(--color-primary-login-box-header-background);
    height: 98px;
    display: flex;
    align-items: center;
    padding: 35px;
    position: relative;
}
.accounting-space {
    padding: 30px;
    border-radius: 0;
    background-color: var(--color-primary-login-box-body-background) !important;
    border: 2px solid var(--color-primary-login-signup-body-border);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.accounting-space h4 {
    color: var(--color-primary-login-box-body-text);
    font-size: 20px;
}
.btn-outline-primary {
    background-color: var(--color-blue);
    border-radius: 3px;
    min-width: 160px;
    border-radius: 5px;
    color: var(--color-white);
    margin-bottom: 10px;
    font-size: 14px;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: var(--color-blue);
    box-shadow: none;
    outline: none;
}
.login-with {
    color: var(--color-primary-login-box-body-text);
    font-size: 14px;
    margin-top: 10px;
    a {
        color: var(--color-primary-login-box-body-text);
        text-decoration: none;
    }
}
.btn-secondary {
    border-radius: 5px;
    color: var(--color-senary-button-text);
    background-color: var(--color-secondary-button-background);
    border: 1px solid var(--color-secondary-button-background);
}
.btn-secondary:hover {
    color: var(--color-senary-button-text) !important;
    background-color: var(--color-secondary-button-background-hover);
    border-color: var(--color-secondary-button-background-hover);
}
.forgotStep {
    display: none;
}
.msg91-ico {
    a {
        width: 189px;
        span {
            padding-left: 0;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .slide-content {
        padding: 0 55px;
    }
}

@media only screen and (min-width: 767px) {
    .hidden-md {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .giddh-login {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 375px) {
    .social-login {
        flex-direction: column;
        width: 100%;
    }
    .social-login li {
        display: block;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .social-login li:first-child a {
        display: block;
        width: 100%;
    }
    .btn-secondary {
        margin-left: 0;
        margin-top: 8px;
    }
}
