.custom-datepicker-wrapper {
    display: flex;
    text-align: left;
    padding-left: 10px;
    justify-content: center;
}

.clear-filter {
    color: var(--color-giddh-blue);
    cursor: pointer;
}
