@import "../../assets/css/color.scss";
.custom-datepicker-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}

.clear-filter {
    color: $midnight-blue;
    cursor: pointer;
}
