<div class="gstr-transactions-summary">
    <!---->
    <h4 class="clearfix gstr-summary-title">B2C (Small) Details</h4>
    <p class="text-muted half pd-t05">Details of invoices with value less than 2.5 lakhs that you’ve
        issued to consumers other than B2C (Large) transactions.</p>

    <div class="">
        <div>
            <table class="transactions-table table-striped  table zi-table on-mobile-view" *ngIf="brcsSummary.length">
                <thead>
                    <tr>
                        <!---->
                        <th class="text-left">
                            <div class="position-relative">
                                <div class="pull-left over-flow"> Type</div>
                                <!---->
                            </div>
                        </th>
                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> Rate</div>
                                <!---->
                            </div>
                        </th>
                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> Place of Supply</div>
                                <!---->
                            </div>
                        </th>
                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> Taxable Amount</div>
                                <!---->
                            </div>
                        </th>

                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> IGST Amount</div>
                                <!---->
                            </div>
                        </th>
                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> CGST Amount</div>
                                <!---->
                            </div>
                        </th>

                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> SGST Amount</div>
                                <!---->
                            </div>
                        </th>
                        <th class="text-right">
                            <div class="position-relative">
                                <div class="over-flow"> CESS</div>
                                <!---->
                            </div>
                        </th>

                        <!---->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of brcsSummary">
                        <td data-title="Type"> {{item.typ ? item.typ : '-'}} </td>
                        <td data-title="Rate" class="text-right">
                             <!-- {{item.rt | giddhCurrency}} -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.rt" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                        <td data-title="Place of Supply" class="text-right">
                            {{item.pos ? item.pos : '-'}}
                        </td>
                        <td data-title="Taxable Amount" class="text-right">
                            <!-- {{item.txval | giddhCurrency}}  -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.txval" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                        <td data-title="IGST Amount" class="text-right">
                            <!-- {{item.iamt | giddhCurrency}}  -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.iamt" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                        <td data-title="CGST Amount" class="text-right">
                            <!-- {{item.camt | giddhCurrency}}  -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.camt" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                        <td data-title="SGST Amount" class="text-right">
                            <!-- {{item.samt | giddhCurrency}}  -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.samt" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                        <td data-title="CESS" class="text-right">
                            <!-- {{item.csamt | giddhCurrency}}  -->
                            <span class="d-inline-flex">
                                <amount-field [amount]="item.csamt" [currencySymbol]="false" [currencyCode]="false">
                                </amount-field>
                            </span>
                        </td>
                    </tr>
                    <!---->
                </tbody>
            </table>

            <!--      <div class="text-center" *ngIf="(b2csSummaryResponse$ | async)?.totalPages > 1">-->
            <!--        <pagination [maxSize]="5" [totalItems]="(b2csSummaryResponse$ | async)?.totalItems" [itemsPerPage]="10"-->
            <!--                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"-->
            <!--                    [rotate]="false"></pagination>-->
            <!--      </div>-->

        </div>

        <div class="" *ngIf="!brcsSummary.length">
            <div class="filings-empty-state">
                <img src="{{imgPath}}nofound.svg" [style.max-width.px]="110" />
                <div class="empty-msg"><span> There is no summary of invoices with value less than 2.5 lakhs, other than
                        B2C (Large) that you’ve issued to consumers. </span>
                </div>
            </div>
        </div>

    </div>
</div>
