:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 760px;
    width: 100%;
    z-index: 99999;
}
.aside-pane {
    padding: 0 !important;
}

:host #close {
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 5;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: var(--color-white);
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 760px;
    width: 100%;
}
.aside-body {
    padding: 0 15px;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexy-child-1 {
    flex-grow: 1;
}

.vertical-align-middle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 991px) {
    :host {
        max-width: 500px;
    }
    :host .aside-pane {
        max-width: 500px;
    }
}

@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
