.or-line::before {
    content: " ";
    border-bottom: 1px solid #a2a2a2;
    display: inline-block;
    width: 57px;
    margin-right: 13px;
}

.or-line::after {
    content: "";
    border-bottom: 1px solid #a2a2a2;
    display: inline-block;
    width: 57px;
    margin-left: 13px;
}

.or-line {
    display: flex;
    align-items: center;
    color: #a2a2a2;
    margin-bottom: 10px;
}

.discountItem:hover {
    background-color: rgb(244, 245, 248);
    color: rgb(210, 95, 42);
}
