@mixin setWidth($value) {
    width: $value;
    min-width: $value;
    max-width: $value;
}

.custom-grid-wrapper {
    .mat-list-wrap {
        .inventory-sub-sideabar {
            $sidebar-width: 14%;
            width: 100%;
            height: 100%;
            display: flex;
            .list-viewport {
                min-height: calc(100vh - 204px);
            }
            .item-list {
                width: $sidebar-width;
                height: 100%;
                position: relative;
                min-height: calc(100vh - 120px);
                min-width: 218px;
                .mat-mdc-list-item {
                    cursor: pointer;
                    height: 32px;
                    a {
                        .customer-delete {
                            display: none;
                            &:hover {
                                animation: scaleMe 200ms ease forwards;
                            }
                        }
                    }
                    &:hover {
                        a {
                            .customer-delete {
                                display: block;
                            }
                        }
                    }
                }
                .list-head-gap {
                    padding: 0 16px;
                }
                .custom-tab {
                    border: 1px solid var(--color-grey-bootstrap-border);
                    border-radius: 5px;
                    button {
                        background-color: var(--color-white);
                        flex-grow: 1;
                        height: 33px;
                        transition: all 300ms;

                        &:first-child {
                            border-right: 1px solid var(--color-grey-bootstrap-border);
                            border-start-end-radius: 0;
                            border-end-end-radius: 0;
                        }
                        &:last-child {
                            border-start-start-radius: 0;
                            border-end-start-radius: 0;
                        }

                        &.active {
                            background-color: var(--color-giddh-blue);
                            color: var(--color-white) !important;
                        }
                    }
                }
            }
            .customer-right-side {
                width: calc(100% - $sidebar-width);
                padding: 12px 16px;
                border-left: 1px solid var(--color-iron);
                height: calc(100vh - 92px);
                overflow-y: auto;
                .right-heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h2 {
                        color: var(--color-giddh-blue) !important;
                        font-weight: 600;
                    }
                }
                .stocks-wrapper {
                    min-height: calc(100vh - 152px);
                    padding-bottom: 40px;

                    $header-giddh-logo-width: 200px;
                    .save-discount-header {
                        top: 0;
                        right: 0;
                        background-color: var(--color-primary-header-background);
                        color: var(--color-white) !important;
                        width: calc(100vw - #{$header-giddh-logo-width});
                        height: 59px;
                        z-index: 990;

                        .position-center {
                            margin-right: calc(50% - #{$header-giddh-logo-width});
                            transform: translateX(-50%);
                        }
                    }
                }
                .table-inventory {
                    background: var(--color-white);
                    border: 1px solid var(--color-grey-bootstrap-border);
                    margin: 6px 0;
                    border-radius: 4px;
                    width: max-content;
                    min-width: 100%;
                    .inventory-head {
                        strong {
                            font-size: var(--font-size-16);
                            margin-left: 12px;
                            color: var(--color-giddh-blue) !important;
                        }
                    }
                    .column-gap42 {
                        column-gap: 42px;
                    }
                    table {
                        &:hover {
                            thead {
                                .variant-delete {
                                    .delete-show {
                                        button {
                                            visibility: hidden;
                                        }
                                    }
                                    &:hover {
                                        .delete-show {
                                            button {
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        thead {
                            tr {
                                td {
                                    border: unset !important;
                                }
                            }
                        }
                        tbody,
                        thead {
                            tr {
                                td {
                                    vertical-align: middle;
                                    &.variant-name {
                                        width: auto;
                                        @media (max-width: 1366px) {
                                            @include setWidth(200px);
                                        }
                                    }
                                    &.variant-price {
                                        @include setWidth(200px);
                                    }
                                    &.variant-tax-toggle {
                                        @include setWidth(174px);
                                        .position-center {
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                    &.variant-discount {
                                        @include setWidth(200px);
                                        @media (max-width: 1799px) {
                                            @include setWidth(175px);
                                        }
                                        @media (max-width: 1600px) {
                                            @include setWidth(150px);
                                        }
                                        &::before {
                                            content: "";
                                            height: 50px;
                                            width: 1px;
                                            display: inline-block;
                                            background: var(--color-grey-bootstrap-border);
                                            position: absolute;
                                            top: 50%;
                                            left: -2px;
                                            transform: translateY(-50%);
                                        }
                                    }
                                    &.variant-quantity {
                                        @include setWidth(100px);
                                        @media (max-width: 1556px) {
                                            @include setWidth(160px);
                                        }
                                    }
                                    &.variant-delete {
                                        @include setWidth(60px);
                                        .delete-show {
                                            button {
                                                visibility: hidden;
                                            }
                                        }
                                        &:hover {
                                            .delete-show {
                                                button {
                                                    visibility: visible;
                                                }
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    .variant-delete {
                                        .delete-show {
                                            button {
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        tfoot {
                            tr {
                                td {
                                    .add-variant {
                                        @include setWidth(216px);
                                    }
                                }
                            }
                        }
                        &.no-border {
                            tr {
                                td {
                                    border-top: unset !important;
                                }
                            }
                        }
                    }
                }
                .delete-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 32px;
                    min-width: 42px;
                    border-radius: 5px;
                    color: var(--color-tertiary-button-text) !important;
                    border: 1px solid var(--color-common-secondary-border);
                    background-color: var(--color-tertiary-button-background);
                    i {
                        font-size: var(--font-size-15);
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
        .search-list {
            span {
                position: absolute;
                top: 8px;
                right: 14px;
            }
        }
    }
}
/*---- responsive ----*/
@media screen and (max-width: 1440px) {
    .custom-grid-wrapper {
        .mat-list-wrap {
            .inventory-sub-sideabar {
                $sidebar-width: 18%;
                .item-list {
                    width: $sidebar-width;
                }
                .customer-right-side {
                    width: calc(100% - $sidebar-width);
                }
            }
        }
    }
}

@keyframes scaleMe {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
