.custom-grid-wrapper {
    .mat-list-wrap {
        .inventory-sub-sideabar {
            width: 100%;
            display: flex;
            .item-list {
                width: 14%;
                height: 100%;
                position: relative;
                border-right: 1px solid var(--color-iron);
                min-height: calc(100vh - 120px);
                .mat-mdc-list-item {
                    cursor: pointer;
                    height: 32px;
                }
                .list-head-gap {
                    padding: 0 16px;
                }
            }
            .customer-right-side {
                width: 86%;
                padding: 12px 16px;
                .right-heading {
                    display: flex;
                    justify-content: space-between;
                    h2 {
                        color: var(--color-giddh-blue);
                        font-weight: 600;
                    }
                }
                .table-responsive {
                    table {
                        .delete-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 32px;
                            min-width: 42px;
                            border-radius: 5px;
                            color: var(--color-tertiary-button-text);
                            border: 1px solid var(--color-common-secondary-border);
                            background-color: var(--color-tertiary-button-background);
                            i {
                                font-size: var(--font-size-15);
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }
        .search-list {
            span {
                position: absolute;
                top: 8px;
                right: 14px;
            }
        }
    }
}
