.custom-grid-wrapper {
    .mat-list-wrap {
        .inventory-sub-sideabar {
            width: 100%;
            height: 100%;
            display: flex;
            .list-viewport {
                min-height: calc(100vh - 204px);
            }
            .item-list {
                width: 14%;
                height: 100%;
                position: relative;
                min-height: calc(100vh - 120px);
                min-width: 218px;
                .mat-mdc-list-item {
                    cursor: pointer;
                    height: 32px;
                    a {
                        .customer-delete {
                            display: none;
                            &:hover{
                                animation: scaleMe 200ms ease forwards;
                            }
                        }
                    }
                    &:hover {
                        a {
                            .customer-delete {
                                display: block;                                
                            }
                        }
                    }
                }
                .list-head-gap {
                    padding: 0 16px;
                }
            }
            .customer-right-side {
                width: 86%;
                padding: 12px 16px;
                border-left: 1px solid var(--color-iron);
                overflow: auto;
                height: calc(100vh - 92px);
                .right-heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h2 {
                        color: var(--color-giddh-blue);
                        font-weight: 600;
                    }
                }
                .table-inventory {
                    background: var(--color-white);
                    padding: 20px 20px 0px;
                    margin-bottom: 15px;
                    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
                    .inventory-head {
                        strong {
                            color: var(--color-giddh-blue);
                            font-size: var(--font-size-16);
                        }
                    }
                    table {
                        tbody {
                            tr {
                                td {
                                    vertical-align: middle;
                                    .toggle-wrap {
                                        min-width: 105px;
                                    }
                                }
                            }
                        }
                    }
                }
                .delete-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 32px;
                    min-width: 42px;
                    border-radius: 5px;
                    color: var(--color-tertiary-button-text);
                    border: 1px solid var(--color-common-secondary-border);
                    background-color: var(--color-tertiary-button-background);
                    i {
                        font-size: var(--font-size-15);
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
        .search-list {
            span {
                position: absolute;
                top: 8px;
                right: 14px;
            }
        }
    }
}
/*---- responsive ----*/
@media screen and (max-width: 1440px) {
    .custom-grid-wrapper {
        .mat-list-wrap {
            .inventory-sub-sideabar {
                .item-list {
                    width: 20%;
                }
                .customer-right-side {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .custom-grid-wrapper {
        .mat-list-wrap {
            .inventory-sub-sideabar {
                .item-list {
                    width: 25%;
                }
                .customer-right-side {
                    width: 75%;
                }
            }
        }
    }
}

@keyframes scaleMe {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
