.or-line::before {
    content: " ";
    border-bottom: 1px solid var(--color-iron);
    display: inline-block;
    width: 57px;
    margin-right: 13px;
}

.or-line::after {
    content: "";
    border-bottom: 1px solid var(--color-iron);
    display: inline-block;
    width: 57px;
    margin-left: 13px;
}

.or-line {
    display: flex;
    align-items: center;
    color: var(--color-iron);
    margin-bottom: 10px;
}
.discount-item {
    input[type="checkbox"] {
        height: 19px;
    }
}
.my-dropdown-menu {
    padding: 10px;
}
.percent-label,
.value-label {
    width: 50px;
}
.percent-wrapper {
    .form-control {
        width: 120px;
        padding-right: 20px !important;
    }
    .fa-percent {
        top: 9px;
        right: 6px;
        color: var(--color-abbey);
    }
}
.value-box {
    .form-control {
        width: 120px;
        padding-right: 10px !important;
    }
}
.discount-list {
    list-style: none;
    overflow: auto;
    max-height: 100px;
    .discount-item {
        padding: 5px;
        margin-bottom: 5px;
    }
}
.adjust {
    .mat-input-element {
        box-sizing: border-box !important;
    }
}
