.or-line::before {
    content: " ";
    border-bottom: 1px solid var(--border-color);
    display: inline-block;
    width: 81px;
    margin-right: 13px;
}

.create-new {
    border-top: 1px solid var(--border-color);
}

.or-line::after {
    content: "";
    border-bottom: 1px solid var(--border-color);
    display: inline-block;
    width: 81px;
    margin-left: 13px;
}

.or-line {
    display: flex;
    align-items: center;
    color: var(--color-silver);
    margin-bottom: 10px;
}
/* UNUSED COMPONENT CLASS: discount-item - Auto-commented by script
.discount-item {
    input[type="checkbox"] {
        height: 19px;
    }
}
*/
/* UNUSED COMPONENT CLASS: my-dropdown-menu - Auto-commented by script
.my-dropdown-menu {
    padding: 10px;
}
*/
.adjust {
    /* UNUSED COMPONENT CLASS: mat-input-element - Auto-commented by script
.mat-input-element {
        box-sizing: border-box !important;
    }
*/
}
