<span (clickOutside)="hideDiscountMenu()">
    <label>{{ commonLocaleData?.app_discount }}</label>
    <a id="discount">
        <div class="multi-select adjust">
            <input
                matInput
                type="text"
                [prefix]="prefixInput"
                id="update-ledger-discount"
                [suffix]="suffixInput"
                [mask]="maskInput"
                name="discountTotal"
                class="form-control cursor-pointer text-right mat-field-border"
                [rawInputValue]="discountTotal"
                [(ngModel)]="discountTotal"
                [ngClass]="{ 'field-disabled': readonly }"
                (focus)="discountMenu = true; hideOtherPopups.emit(true)"
                autocomplete="off"
                [readonly]="readonly"
            />
            <span class="caret"></span>
        </div>
    </a>
    <div
        class="my-dropdown-menu pd-1"
        [ngStyle]="{ 'display': discountMenu && !disabled ? 'block' : 'none' }"
        (click)="$event.stopPropagation()"
    >
        <div class="value-wrapper">
            <div class="d-flex align-items-center mr-b1">
                <label>{{
                    commonLocaleData?.app_percent
                }}</label>
                <div class="position-relative percent-wrapper">
                    <input
                        matInput
                        type="text"
                        id="update-ledger-discount-percent"
                        class="form-control text-right cursor-pointer mat-field-border"
                        [disabled]="!discountFromPer"
                        decimalDigitsDirective
                        [DecimalPlaces]="2"
                        [(ngModel)]="discountPercentageModal"
                        (input)="discountFromInput('PERCENTAGE', $event.target?.value)"
                    />
                    <i class="fa fa-percent position-absolute"></i>
                </div>
            </div>
            <div class="d-flex align-items-center mr-b1">
                <label>{{ commonLocaleData?.app_value }}</label>
                <input
                    matInput
                    type="text"
                    id="update-ledger-discount-value"
                    class="form-control text-right cursor-pointer mat-field-border"
                    [disabled]="!discountFromVal"
                    decimalDigitsDirective
                    [DecimalPlaces]="2"
                    [(ngModel)]="discountFixedValueModal"
                    (input)="discountFromInput('FIX_AMOUNT', $event.target?.value)"
                />
            </div>
        </div>
        <div class="d-flex flex-col justify-content-center" *ngIf="discountAccountsDetails?.length > 1">
            <span class="or-line">{{ commonLocaleData?.app_and }}</span>
        </div>
        <div *ngIf="discountAccountsDetails?.length > 1">
            <ul class="discount-list">
                <ng-container *ngFor="let discount of discountAccountsDetails; trackBy: trackByFn; let idx = index">
                    <li *ngIf="idx > 0" class="discount-item cursor-pointer">
                        <label class="checkbox overflow-hidden width-100 p-0 m-0" (click)="$event.stopPropagation()">
                            <mat-checkbox
                                color="primary"
                                class="pull-left"
                                [id]="'update-ledger-discount-checkbox-' + idx"
                                name="tax_{{ idx }}"
                                [(ngModel)]="discount.isActive"
                                (change)="change()"
                                (click)="$event.stopPropagation()"
                                >{{ discount.name }}
                                </mat-checkbox
                            >
                        </label>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div tabindex="0" (focus)="onFocusLastDiv($event)"></div>
</span>
