.ddMaxHeight {
    max-height: 500px;
}

.left_fixed_header {
    position: absolute;
    top: 54px;
    bottom: 0;
    min-height: 100vh;
    background: #1a1a1a;
    width: 46px;
    transition: width .1s ease;
    padding: 0;
    padding-bottom: 120px;
}

.left_fixed_header.open,
.left_fixed_header:hover {
    width: 210px;
}

.left_fixed_header li:hover {
    cursor: pointer;
}

.left_fixed_header li {
    overflow: hidden;
    position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .left_fixed_header li {
        display: grid;
    }
}

.left_fixed_header li a {
    display: block;
    padding: 12px 14px;
    color: #fff;
    text-transform: uppercase;
    /* width: 32px; */
}

.left_fixed_header li a .label {
    display: table-cell;
    font-size: 11px;
    vertical-align: middle;
    padding-left: 22px;
    /* opacity: 0; */
    text-align: left;
}

.left_fixed_header.open li a .label {
    opacity: 1;
}

.left_fixed_header li:hover a,
.left_fixed_header li a:hover span,
.left_fixed_header li:hover a span {
    color: #ff5f00;
    cursor: pointer;
}

.left_fixed_header [class^="navico-"] {
    font-size: 20px;
    display: table-cell;
}

.left_fixed_header .divider {
    border-bottom: 1px solid #333;
    padding: 4px 0;
    height: 0;
    margin-bottom: 4px;
}

:host ::ng-deep .tooltip {
    white-space: nowrap;
    width: auto !important;
    max-width: inherit !important;
}

:host ::ng-deep #universal_search .form-control {
    margin-bottom: 0;
    border: none!important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    padding: 20px 20px !important;
    height: auto;
    font-size: 1.75rem;
    font-weight: 700;
}

:host ::ng-deep #universal_search virtual-scroll .scrollable-content .item>a {
    border: 0 !important;
    padding: 6px 20px;
}

:host ::ng-deep #universal_search .menu {
    position: relative;
    box-shadow: none;
}

.universal_modal .modal-content {
    border: 0;
    border-radius: 0;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.universal_modal .shortcuts {
    background: #f9f9f9;
    border-top: none;
    margin: 0;
    padding: 12px 16px 12px 20px;
    color: #717274;
    font-size: 12px;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.universal_modal .form-group {
    margin-bottom: 0;
}

.universal_modal.modal.in .modal-dialog {
    transform: translateY(100px) !important;
}

:host ::ng-deep .left_fixed_header perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
    opacity: 0;
}

:host ::ng-deep .left_fixed_header perfect-scrollbar.ps-show-active>.ps.ps--active-y>.ps-overlay:not(.ps-at-top) .ps-indicator-top,
 :host ::ng-deep .left_fixed_header perfect-scrollbar.ps-show-active>.ps.ps--active-y>.ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
    background: linear-gradient(to bottom, rgb(43, 42, 42) 0, rgba(0, 0, 0, 0) 100%);
}