@import "../../../../../assets/css/color.scss";

h4 {
    font-size: 18px;
}

.bd-rd {
    border-bottom: 2px dotted $black;
}

.lh42 {
    line-height: 42px;
}

@import "template.variables";
/*
* common styles related to all templates
*/
:host {
    display: block;
}

.invoice-area {
    max-width: 8.3in;
    float: left;
}

.invoice-sidebar {
    float: left;
    margin-left: 30px;
    .form-group {
        margin-bottom: 20px;
        .form-control {
            background: $white !important;
            border: 1px solid $light-gray;
            border-radius: 5px !important;
            padding: 6px !important;
            outline: 0;
            color: rgba(0, 0, 0, 0.6);
            box-shadow: none;
            height: 34px;
            font-size: 14px;
            line-height: 1.42857143;
        }
    }
    .btn {
        padding: 6px 16px;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
    }
    .btn-primary {
        background: $whisper;
    }
}

[id^="template-"] {
    font: 12px/1 "Open Sans", sans-serif;
    overflow: auto;
    background: $white;
    border: 1px solid $color_silver_approx;
    max-width: 8.3in;
    width: 100%;
    margin: 0 auto;
    * {
        border: 1px solid transparent;
        box-sizing: content-box;
        color: $color_shark_approx;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        &:focus {
            outline: 0;
            border: 1px solid $color_alto_approx !important;
        }
    }
    header {
        border-bottom: 1px solid $black;
        padding: 20px 0;
        margin: 0 10px;
    }
    footer {
        margin-top: 7px;
        border-top: 2px solid $color_punch_approx;
        padding: 10px 0 0;
        line-height: 20px;
    }
    .pos-abs {
        position: absolute;
    }
    .primary-color {
        color: $color_punch_approx;
    }
    .text-center {
        text-align: center;
    }
    .vbottom {
        vertical-align: bottom;
    }
    .grey_txt {
        color: $color_mountain_mist_approx;
    }
    .btn-link {
        color: $deep-sky-blue;
        text-decoration: underline;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left !important;
    }
    .pull-right {
        float: right;
    }
    .pull-left {
        float: left;
    }
    .pull-center {
        float: center;
    }

    .mr-l2 {
        margin-left: 20px;
    }
    .mr-b2 {
        margin-bottom: 20px;
    }
    .mr-b1 {
        margin-bottom: 10px;
    }

    .bd-rb {
        border-bottom: 1px solid #ddd;
    }
    .pdRL3 {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
    .cp {
        cursor: pointer;
    }
    strong {
        font-weight: bold;
    }
    table {
        width: 100%;
        table-layout: fixed;
        line-height: 20px;
        border-collapse: inherit;
    }
}

#upload_logo {
    opacity: 0;
    position: absolute;
}

#upload_label {
    padding-left: 15px;
    background: $alice-blue;
    width: auto;
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    color: $color_punch_approx;
    border: 1px solid $color_punch_approx;
}

.paper_clip {
    background: url(/assets/images/paper-clip.png);
    width: 28px;
    float: right;
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
    margin-left: 15px !important;
    padding: 0 15px !important;
    border-left: 1px solid $color_punch_approx !important;
}

.invoice-steps-header {
    background: $floral-white;
    h1 {
        font-size: 20px;
        color: $night-rider;
        font-family: "opensans-regular";
        padding: 0;
        border-bottom: 1px solid $night-rider;
        display: inline-block;
        margin: 28px 0;
    }
    span {
        color: $cinnabar-orange;
        border-bottom: 1px solid $cinnabar-orange;
        display: inline-block;
        font-family: "opensans-regular";
        font-size: 20px;
        line-height: 21px;
        padding: 0;
        margin: 28px 0 28px 2px;
    }
}

.head_inv {
    font-size: 16px;
    color: $night-rider;
    padding: 7px 0;
    border-bottom: 1px solid $silver;
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}
