.right-penal {
    border-left: 1px solid var(--color-gray);
    position: fixed;
    right: 0;
    bottom: 0;
    top: 54px;
    width: 280px;
    padding: 15px;
    overflow: auto;
    .card {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 4px;
        background-color: var(--color-white);
        padding: 15px;
        h2 {
            font-size: var(--font-size-14);
            color: var(--color-blue);
        }
        label {
            color: var(--color-abbey);
            font-size: var(--font-size-12);
            width: 20%;
            font-weight: 800;
        }
        span {
            font-size: var(--font-size-12);
            color: var(--color-nero);
        }
    }
}

.e-way-body {
    .col-md-3 {
        display: flex;
        align-items: center;
    }
    .col-md-8 {
        .input {
            width: 300px;
        }
    }
}

.list-icon-group {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: -10px;

    li {
        // padding: 10px;
        display: flex;
        align-items: center;
        -moz-transition: 1ms all;
        cursor: pointer;
        img {
            margin-right: 7px;
        }
        label {
            padding: 0 10px;
        }
    }
}

.list-icon-group {
    input {
        display: none;
    }
}

.list-icon-group label {
    padding: 10px;
    margin-right: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.list-icon-group input:checked + label {
    background-color: var(--color-white);
    box-shadow: 2px 2px 5px var(--color-primary-common-box-shadow);
}

.select-style {
    width: 300px;
}

.select-style select {
    padding: 6px !important;
    border-radius: 0px;
}

// modal css start
.aside-pane {
    overflow: auto;
    width: 475px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px;
}

.aside-pane.aside-right.out button#close {
    right: -60px;
}

.aside-right {
    font-size: var(--font-size-14);
    background: var(--color-white);
    right: -530px;
    transition: 0.5s all ease;
    z-index: 999;
}

.bg-white {
    background: var(--color-white) !important;
}

.aside-right .control-label {
    padding-left: 20px;
    text-align: left;
}

.bg-gray {
    background: var(--color-wild-sand);
}

.aside-right .list-icon-group label {
    margin: 0px !important;
    vertical-align: middle;
}

.aside-right .list-icon-group label {
    padding: 5px 10px;
    border: 1px solid transparent;
}

.aside-right .list-icon-group input:checked + label {
    border-radius: 0px;
}

.aside-pane.aside-right.in {
    right: 0;
    z-index: 9999;
}

.table-modal tbody td {
    border-top: 0px solid !important;
    border-right: 1px solid var(--color-iron);
}

.table-modal thead th {
    border-right: 1px solid var(--color-iron) !important;
}

.table-modal {
    border-bottom: 1px solid var(--color-iron) !important;
}

.table-modal tbody tr td button {
    background: none;
    border: 0px;
    color: var(--color-dark-fog);
    font-size: var(--font-size-16);
    padding: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.table-modal tbody tr td .icon-edit {
    border-bottom: 2px solid var(--color-iron);
}

.aside-overlay.out {
    visibility: hidden;
    opacity: 0;
}

.aside-overlay.in {
    visibility: visible;
    opacity: 0.6;
    z-index: 9999;
}

.aside-overlay {
    transition: 0.5s all ease;
    z-index: 999;
}

.date-input-icon {
    top: 9px;
    right: 8px;
}
