.stock-mat-salect {
    border: 1px solid var(--border-color);
    border-radius: var(--mat-border-radius-4) !important;
    padding: 8px;
    font-size: var(--font-size-15);
    min-width: 250px;
}

.virtual-group-list {
    height: 193px;
}

.select-multiple-chiplist-inventory {
    font-size: var(--font-size-15) !important;

}

.filter-dropdown-branch {
    max-width: 250px;
}

.back-btnn {
    float: left;
    width: 84px !important;
}

.report-back-button {
    height: 37px;
    margin-right: 0px !important;
}

.filter-dropdown-warehouse {
    max-width: 250px;
    margin-left: 5px;
}

.top-main-bar {
    column-gap: 5px;
}

@media (max-width: 1199px) {
    .stock-mat-salect {
        min-width: 187px;
    }
}

@media (max-width: 1019px) {
    .select-multiple-chiplist-inventory {
        width: 57%;
    }

    .stock-mat-salect {
        min-width: 199px;
    }
}

.edit-btn-inventory {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: var(--mat-border-radius-4);
    height: 36px;
    width: 36px;
}
