.stock-mat-salect {
    border: 1px solid var(--color-secondary-input-bar-border);
    border-radius: 5px !important;
    padding: 8px;
    font-size: 13px;
    min-width: 250px;
}
.transactional-filter-section {
    .transactional-wise-common-btn {
        height: 42px;
        width: 42px;
        border: 1px solid var(--color-gray);
        border-radius: 20px;
        box-shadow: none;
        background: var(--color-white);
    }

    .icon-download-circle {
        font-size: 16px;
        color: var(--color-gray);
    }
}
.virtual-group-list {
    height: 193px;
}
.select-multiple-chiplist-inventory {
    font-weight: 400 !important;
    font-size: 14px !important;
    width: 84%;
    .mat-chip.mat-standard-chip {
        color: var(--color-chips-primary) !important;
        background-color: var(--color-body-background) !important;
        border: 1px solid var(--color-primary-login-box-body-text) !important;
        font-size: 12px !important;
    }
}
.searching-bar-chiplist {
    width: 83% !important;
}
.filter-dropdown-branch {
    max-width: 250px;
}
.back-btnn {
    float: left;
    width: 84px !important;
}
.report-back-button {
    height: 37px;
    margin-right: 0px !important;
}
.filter-dropdown-warehouse {
    max-width: 250px;
    margin-left: 5px;
}

.top-main-bar {
    padding-top: 15px;
}

@media (max-width: 1440px) {
    .inventory-filter-bar {
        .search-control {
            .icon-input {
                float: left;
                width: 70%;
            }

            .menu-btn-control {
                width: 30%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .inventory-filter-bar {
        .search-control {
            .icon-input {
                float: left;
                width: 60%;
            }
            .menu-btn-control {
                width: 40%;
            }
        }
    }

    .stock-mat-salect {
        min-width: 187px;
    }
}

@media (max-width: 1019px) {
    .select-multiple-chiplist-inventory {
        width: 57%;
    }

    .stock-mat-salect {
        min-width: 199px;
    }
}
