.adjustment {
    .mat-expansion-panel {
        .text-control-input {
            height: 48px;
        }

        .table-border-none {
            tr {
                th {
                    border-bottom-style: unset !important;
                }

                td {
                    border-bottom-style: unset;
                }
            }

        }

        .select-input-field {
            .mat-mdc-input-element {
                width: 120px;
                border-radius: 5px 0 0 5px;
            }

        }
    }
}
