.giddh-all-items-wrapper {
    .search-any-item {
        .input-group {
            input {
                height: 50px;
                font-size: var(--font-size-15);
                border: none;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
                position: relative;
                left: 1px;
                background-color: var(--color-primary-all-items-input-group-input-background) !important;
            }
        }
    }
}