.aside-pane{
    .aside-body{
        &.flexy-child-1{
            height: 100%;
            .child-wrapper{
                background-color: var(--color-body-background);
                height: calc(100% - 88px);
                min-width: 730px;
                padding: 10px;
                margin: 15px 0;
                box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
            }
        }
    }
}
body{
    &.stock-create-edit{
        .cdk-overlay-container,
        .cdk-global-overlay-wrapper {
            z-index: 99999 !important;
        }  
    }
}
