.create-custom-field-page {
    .custom-field-wrapper {
       .minMaxField-wrapper {
            .minMaxField {
                display: flex;
                align-items: center;
                column-gap: 20px;
            }
        }
        mat-form-field {
            &.no-bottom-space {
                .mat-form-field-wrapper {
                    padding-bottom: 0 !important;
                    margin-bottom: 0 !important; 
                    margin-top: 1px !important;
                }
            }
        }
        .mat-form-field-appearance-outline {
            .mat-form-field-outline-thick {
                .mat-form-field-outline-start,
                .mat-form-field-outline-end,
                .mat-form-field-outline-gap {
                    border-width: 1px !important;
                }
            }
        }
    }
}
