// This class is used for aside dialog as root element 
// <section class="aside-dialog-wrapper">
//     <div class="dialog-header">...</div>
//     <mat-dialog-content class="dialog-body">...</mat-dialog-content>
// </section>
.aside-dialog-wrapper {
    height: 100vh;
}

.dialog-header {
    height: var(--header-height);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-toast-primary-text);
    background-color: var(--color-primary-header-background);

    button {
        &.mdc-icon-button {
            padding: 0 !important;
            .icon-cross {
                color: var(--color-primary-header-icons) !important;
                font-size: var(--font-size-16);
            }
        }
    }
}
.dialog-body {
    width: 100%;
    height: calc(100% - 60px);

    &.max-height-80vh {
        &.mat-mdc-dialog-content {
            max-height: 80vh !important;
        }
    }

    &.mat-mdc-dialog-content {
        max-height: unset !important;
    }
    &.mdc-dialog__content {
        &.mat-mdc-dialog-content {
            padding: 15px !important;
        }
    }
}

// Handel Asidepan header height with giddh header
.cdk-overlay-pane {
    transform: translateY(-1px) !important;
}

// modal width
.master-export {
    .modal-body {
        overflow: scroll;
        height: calc(100vh - 370px) !important;
    }
    .modal-dialog {
        &.modal-lg {
            max-width: 750px !important;
        }
    }
}

// aside dialog height
.aside-dialog-overflow {
    &.mat-mdc-dialog-content {
        max-height: calc(100vh - 65px) !important;
    }
}

// Override material dialog title
.mdc-dialog__title {
    &::before {
        display: none !important;
    }
}
