.universal-date {
    .mat-mdc-icon-button {
        margin: 0 !important;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        display: flex;
        .icon-plus {
            font-size: var(--font-size-14);
        }
        span {
            color: var(--color-white) !important;
        }
        .mat-button-ripple {
            display: none;
        }
    }
}
.menu-dropdown-wrapper {
    .mat-list-base {
        .mat-list-item {
            width: auto;
            height: auto;
            .mat-list-item-content {
                align-items: center !important;
                column-gap: 8px !important;
                font-size: var(--font-size-15);
                padding: 0 !important;
            }
        }
    }
}
.mat-mdc-menu-panel {
    max-width: 450px !important;
}
.mat-menu-content:not(:empty) {
    padding: 0 !important;
}

/*--- billing-detail ---*/
.back-btnn {
    .back-button {
        .mdc-button__label {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// Header Profile Menu options color
.user-profile-menu{
    button {
        color: var(--color-common-primary-text) !important;
    }
}
