.help-aside-body {
    .mat-list {
        .mat-list-item {
            .mat-list-item-content {
                padding: 0 !important;
                a {
                    color: var(--color-nero) !important;
                }
            }
        }
    }
}

.universal-list-items {
    .mat-list-item {
        height: unset !important;
        .mat-list-item-content {
            padding: 0 !important;
        }
    }
}
