/*-- input-new-form-field --*/
voucher-component,
create-update-group,
giddh-datepicker,
add-company,
stock-create-edit,
dropdown-field,
input-field {
    .mat-mdc-form-field {
        width: 100%;
    }
    .mat-mdc-form-field {
        .mat-mdc-text-field-wrapper {
            .mat-form-field-underline {
                display: block !important;
            }
            .mat-mdc-form-field-infix{
                min-height: 3rem;
                padding: 12px 0 !important;
            }
            &.mdc-text-field--outlined {
                .mdc-notched-outline--upgraded {
                    .mdc-floating-label--float-above{
                        transform: translateY( -36.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
                    }
                }
                .mdc-text-field__input{
                    height: 100%;
                }
            }
        } 
        .mat-mdc-select{
            padding: 0;
        }
        .mat-mdc-floating-label{
            &.mdc-floating-label{
                line-height: 38px;
                // height: 100%;
                margin-top: -5px;
            }
        }
    }
    .mat-form-field-appearance-outline {
        // .mat-form-field-outline {
        //     top: 0;
        // }
        // .mat-form-field-outline-start {
        //     border-top-left-radius: 0.5rem;
        //     border-bottom-left-radius: 0.5rem;
        // }
        // .mat-form-field-outline-end {
        //     border-top-right-radius: 0.5rem;
        //     border-bottom-right-radius: 0.5rem;
        // }
        // .mat-form-field-outline-thick {
        //     .mat-form-field-outline-start,
        //     .mat-form-field-outline-end,
        //     .mat-form-field-outline-gap {
        //         border-width: 1px;
        //     }
        // }
        // .mat-form-field-outline-start,
        // .mat-form-field-outline-end {
        //     min-width: 0.5rem;
        // }
        // .mat-form-field-flex {
        //     margin-top: 0;
        //     min-height: 3rem;
        //     align-items: center;
        //     border-radius: 0.5rem;
        //     padding-left: 0;
        //     padding-right: 0;
        // }
        // .mat-form-field-infix {
        //     display: flex;
        //     min-height: 3rem;
        //     width: auto;
        //     align-items: center;
        //     border-width: 0px;
        //     padding: 0 !important;
        //     .mat-input-element {
        //         margin: 0;
        //         line-height: 1.25rem;
        //         padding: 14px !important;
        //     }
        //     textarea {
        //         &.mat-input-element {
        //             margin-top: 0.5rem;
        //             margin-bottom: 0.5rem;
        //         }
        //     }
        // }
        // .mat-form-field-label-wrapper {
        //     top: -0.75rem;
        //     padding-top: 0.75rem;
        // }
        // .mat-form-field-label {
        //     margin-top: 1px;
        //     font-size: var(--font-size-15);
        //     padding-left: 14px;
        // }
        // .mat-form-field-wrapper {
        //     margin: 0;
        //     padding-top: 0;
        //     padding-bottom: 0;
        // }
        // .mat-form-field-hint-spacer {
        //     display: none;
        // }
        // .mat-form-field-prefix,
        // .mat-form-field-suffix {
        //     top: 0;
        // }
        // .mat-form-field-subscript-wrapper {
        //     margin-top: 0;
        //     padding: 0;
        //     top: calc(100% - 0.875rem);
        // }
        // .mat-select-arrow-wrapper {
        //     transform: none;
        // }
        // &.mat-form-field-can-float {
        //     &.mat-form-field-should-float {
        //         .mat-form-field-label {
        //             transform: translateY(-1.5em) scale(0.75) !important;
        //             padding-left: 21px;
        //         }
        //     }
        // }
        // &.mat-form-field-can-float {
        //     .mat-input-server {
        //         &:focus + .mat-form-field-label-wrapper {
        //             .mat-form-field-label {
        //                 transform: translateY(-1.5em) scale(0.75) !important;
        //                 padding-left: 21px;
        //             }
        //         }
        //     }
        // }
         .mat-mdc-form-field-icon-suffix {
             margin-left: 0;
             margin-right: 10px;
        }
    }
    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }
    mat-select {
        padding: 0 14px;
    }
}
.mat-mdc-form-field{
    &.mat-focused{
        background-color: transparent;
        .mat-text-field--focused{
            background-color: transparent;
        }
    }
    &:hover{
        background-color: transparent;
        .mat-mdc-form-field-focus-overlay {
            opacity: 0;
        }
    }
    .mdc-line-ripple {
        display: none;
    }
    &.mat-focused {
        .mat-mdc-form-field-focus-overlay{
            opacity: 0;
        }
    }
}
.single-search-box, .ledger-date, giddh-datepicker{
    .mat-mdc-form-field{
        .mat-mdc-text-field-wrapper {
            padding: 0;
        }
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        min-height: 1rem;
    }
}
.ledger-row {
    giddh-datepicker {
        .mat-mdc-form-field {
            min-width: 71px;
            max-width: 100px;
        }
    }
}
.mdc-text-field--filled {
    &:not(.mdc-text-field--disabled) {
        background-color: transparent !important;
    }
}
.mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.stock-option-fields {
    .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
}

.other-details-section {
    .mat-form-field-appearance-outline {
        .mat-form-field-flex {
            background-color: var(--color-white);
        }
    }
}

add-company,
voucher-component {
    .mobile-number {
        .mat-mdc-form-field {
            .mat-mdc-text-field-wrapper {
                &.mdc-text-field--outlined {
                    .mdc-notched-outline--upgraded {
                        .mdc-floating-label--float-above{
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
        .mdc-floating-label {
            padding-left: 36px;
        }
        .mat-form-field-infix {
            .mat-input-element {
                padding-left: 48px !important;
            }
        }
        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    padding-left: 64px;
                }
            }
        }
    }
    giddh-datepicker {
        .mat-focused {
            .mat-form-field-flex {
                border: 0 !important;
            }
        }
    }
}