.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
    border-color: var(--color-secondary-input-bar-border) !important;
    &.mat-primary {
        color: var(--color-giddh-blue) !important;
    }
    /*Material Button Disabled Cursor*/
    &.mat-button-disabled {
        &:hover {
            cursor: not-allowed !important;
        }
    }
    .mat-button-focus-overlay {
        background-color: var(--color-primary-header-background) !important;
    }
}

/*==========  Material Button Default Font Size Start Here =============*/
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
    font-size: var(--font-size-15);
}
/*==========  Material Button Default Font Size End Here ===============*/

/* ======Ladda  Button Color in Material Stroked Button====Start Here=========== */
button {
    &.mat-stroked-button {
        &.mat-primary {
            &:disabled {
                .ladda-label {
                    color: transparent;
                }
            }
            &.ladda-button {
                &:not(:disabled) {
                    .ladda-label {
                        color: var(--color-giddh-blue) !important;
                        display: contents;
                        width: auto;
                        height: auto;
                    }
                }
                .ladda-spinner {
                    div {
                        div {
                            div {
                                background: var(--color-giddh-blue) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* This class is used to ladda button text color which is conditionally disabled*/
.disabled-ladda-btn {
    &.mat-stroked-button {
        &.mat-primary {
            &:disabled {
                .ladda-label {
                    color: var(--color-giddh-blue) !important;
                }
            }
        }
    }
}

/* ======Ladda  Button Color in Material Stroked Button====End Here=========== */
.mat-button,
.mat-raised-button,
.mat-stroked-button {
    margin-right: 15px !important;
    height: 36px;
    box-shadow: none !important;
}

.mat-raised-button:focus {
    box-shadow: none !important;
}

.mat-icon-button {
    i,
    .mat-icon {
        color: var(--color-primary-icon);
    }
}
