#tab-integration {
    .mat-tab-body-wrapper {
        overflow: auto !important;
        min-height: calc(100vh - 118px);
    }
}
.input-background {
    background-color: var(--color-white) !important;
    border-radius: 0.5rem;
}
