.mat-mdc-table {
    .mat-mdc-header-row {
        .mat-mdc-header-cell {
            background-color: var(--color-body-background) !important;
            z-index: 1;
        }
    }
    .mdc-data-table__content {
        .mat-mdc-row {
            .mat-mdc-cell {
                background-color: var(--color-body-background) !important;
            }
        }
    }
}

/*--- menu-button-color ---*/
.cdk-overlay-container {
    .mat-mdc-menu-panel {
        background-color: var(--color-body-background);
    }
}

/*--- mat-option ---*/
.mat-mdc-option .mdc-list-item__primary-text {
    color: var(--color-common-primary-text) !important;
}

/*--- mat-card ---*/
.mat-mdc-card {
    background-color: var(--color-body-background) !important;
}
/*--- trial-balance-expand ---*/
trial-balance-grid,
invoice-preview-details-component {
    cdk-virtual-scroll-viewport {
        .cdk-virtual-scroll-content-wrapper {
            height: auto;
        }
    }
}

aging-report {
    table {
        .mat-column-name {
            width: 20%;
        }
        .mat-column-group {
            width: 10%;
        }
        .mat-column-upcoming {
            width: 12%;
        }
    }
}

.mat-mdc-paginator {
    background-color: var(--color-transparent-background) !important;
    color: var(--color-mat-tbody-tr-td) !important;

    .mat-mdc-text-field-wrapper {
        min-width: 100px;
    }
}

// This CSS and class are written to make the table's header sticky while scrolling the page. To apply a sticky header, use these classes wherever needed.
$listOfNotApplyBelowCodeSelectors: 'app-invoice-generate'; // Add more selectors here, separated by commas (,)
.table-header-sticky {
    &:not(:has(#{$listOfNotApplyBelowCodeSelectors})){
        table {
            border-collapse: inherit;
            td {
                border-top: 0 !important;
            }
        }
        .mat-mdc-tab-group {
            overflow: visible !important;
        }
        .mat-mdc-tab-body-wrapper {
            overflow: visible !important;
            .mat-mdc-tab-body {
                overflow: visible !important;
                .mat-mdc-tab-body-content {
                    overflow: visible !important;
                }
            }
        }
    }
}

.header-content-sticky {
    position: sticky; 
    inset-inline: 0; 
    @media screen and (max-width: 992px) {
        width: fit-content;
    }
}