.mat-mdc-tab-group{
    .mat-mdc-tab-header {
        border-bottom: 1px solid var(--color-tab-primary-border-bottom);
        .mat-mdc-tab-header {
            padding-left: 15px !important;
            background-color: var(--color-tab-primary-background);
        }
        .mat-mdc-tab {
            .mdc-tab__text-label {
                font-size: var(--font-size-16);
            }
            &.mdc-tab--active {
                .mdc-tab__text-label{
                    color: var(--color-giddh-blue);
                }
            }
        }
    }
}