:host ::ng-deep .table-container {
    padding: 0;
}

:host ::ng-deep .table-container .profit-loss section div > div {
    padding-left: 8px;
}

:host ::ng-deep .basic {
    margin-bottom: 0;
}

:host ::ng-deep .table-container thead tr th:first-child {
    border-left: 0;
}

:host ::ng-deep .basic > thead > tr > th {
    padding: 8px 8px;
}

.max-980 {
    max-width: 980px;
    margin: 0 auto;
}

:host ::ng-deep .table-container section div .group {
    text-transform: capitalize;
}

:host ::ng-deep .table-container div.row {
    border-bottom: 0;
}
.pl-table-grid {
    th {
        border: none !important;
        border-bottom: 1px solid var(--color-table-primary-header-bar-border) !important;
        padding: 13px 8px 14px 0 !important;
        &:first-child {
            padding: 0 !important;
        }
        i.glyphicon-search {
            position: relative;
            z-index: 1;
            font-size: var(--font-size-13);
            color: var(--color-abbey);
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        input {
            height: 47px;
        }
    }
}
.tb-wrapper {
    width: 70%;
    margin: auto;
}
@media (max-width: 1024px) {
    .tb-wrapper {
        width: 100%;
        margin: auto;
        .table-container {
            overflow-x: auto;
        }
    }
}
