<div class="aside-pane">
    <button id="close" (click)="closeAsidePane($event)"><i class="icon-cross"></i></button>
    <div>
        <ng-container>
            <div class="form-header">
                <div>
                    <h3>
                        <span>Transfer</span>
                    </h3>
                </div>
            </div>
            <div class="form_body witBg clearfix mrBChldLbl">
                <div class="branch-transfer">
                    <button class="btn btn-light-gray" (click)="openBranchTransferPopup('receiptnote')">Receipt
                        Note</button>
                    <button class="btn btn-light-gray" (click)="openBranchTransferPopup('deliverynote')">Delivery
                        Challan</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
