.portal {
    position: relative;
    min-height: calc(100vh - 284px);

    .portal-header {
        .dropdown-wrapper {
            width: 300px;
        }

        .position-center {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }

    .portal-body {
        table {
            background: var(--color-transparent-backgrounds);

            .status {
                border-radius: 16px;
                padding: 6px 12px;
            }

            .verified {
                color: var(--color-success-enable);
                background: var(--color-success-enable-bg-light);
            }

            .unverified {
                color: var(--color-danger);
                background: var(--color-danger-bg-light);
            }
        }
    }
}

.default-status {
    color: var(--color-white);
}

.fill-status {
    color: var(--color-blue);
}