.portal {
    position: relative;
    min-height: calc(100vh - 284px);
    .portal-header {
        .dropdown-wrapper {
            width: 300px;
        }
        .position-center {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    .portal-body {
        table {
            .status {
                border-radius: 16px;
                padding: 7px 14px;
            }
            .verified {
                color: var(--color-success-enable);
                background: rgba(#36b283, 0.1);
            }

            .unverified {
                color: var(--color-danger);
                background: rgba(#e54556, 0.1);
            }
        }
    }
}
