<div class="container-fluid mr-t15 custom-field-page">
    <div class="d-flex justify-content-between custom-field-header align-items-center">
        <h4>Custom Fields in Inventory</h4>
        <button
            id="custom-field-btn"
            class="btn btn-sky-blue mr-0 bdr-radius-50"
            [routerLink]="['/pages/new-inventory/create-custom-field']"
        >
            + Add Custom Field
        </button>
    </div>
    <div class="custom-field-list mr-t15">
        <div class="table-responsive">
            <table class="table giddh-table on-mobile-view">
                <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th width="20%">Field Name</th>
                        <th width="20%">Field Type</th>
                        <th width="55%">Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="#" width="3%">1</td>
                        <td data-title="Field Name" width="20%">Sample Filed Name</td>
                        <td data-title="Field Type" width="20%">Alpha-Numeric</td>
                        <td data-title="Mandatory" width="55%">No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
