<div class="list-filter">
    <div class="pull-right">
        <div class="btn-toolbar">
        </div>
    </div>
    <!---->
    <!---->
    <div class="list-style" *ngIf="selectedGst === 'gstr1'">
        <a href="javascript:void(0);" [routerLink]="['/gstfiling']" class="ember-view">
            <img src="{{imgPath}}back.svg" class="icon icon-sm text-middle" />
        </a>
        <img src="{{imgPath}}cart.svg" class="icon gstr-icon text-middle" />
        <div class="text-middle nav-top">
            <div class="text-middle head"> GSTR-1

                <ng-container *ngIf="isMonthSelected">
                    ({{moment(currentPeriod.from, 'DD-MM-YYYY').format('MMMM YYYY')}})
                </ng-container>
                <ng-container *ngIf="!isMonthSelected">
                    ({{moment(currentPeriod.from, 'DD-MM-YYYY').format('DD MMM YYYY')}} - {{moment(currentPeriod.to, 'DD-MM-YYYY').format('DD MMM YYYY')}})
                </ng-container>
            </div>
            <div style="font-weight: normal;" class="font-xs text-muted text-middle">Details of outward supplies of goods and services</div>
        </div>

        <div class="pull-right">
            <div class="btn-group" dropdown #dropdown="bs-dropdown">
                <button dropdownToggle type="button" class="btn dropdown-toggle grey_clr no-btn"> <i class="icon-download"></i> Download</button>
                <ul id="dropdown-menu" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-triggers-manual">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('gstr1-excel-export')">Download sheet</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('gstr1-error-export')">Download error sheet</a></li>
                </ul>
            </div>
            <button class="btn btn-primary pull-right" *ngIf="showTaxPro" (click)="toggleSettingAsidePane($event, 'VAYANA')">Authenticate</button>
        </div>
    </div>

    <div class="list-style" *ngIf="selectedGst === 'gstr2'">
        <a href="javascript:void(0);" id="ember1210" class="ember-view" [routerLink]="['/gstfiling']">
            <img src="{{imgPath}}back.svg" class="icon icon-sm text-middle" />
        </a>
        <img src="{{imgPath}}bag.svg" class="icon gstr-icon text-middle" />

        <div class="text-middle nav-top">
            <div class="text-middle"> GSTR-2

                <ng-container *ngIf="isMonthSelected">
                    ({{moment(currentPeriod.from, 'DD-MM-YYYY').format('MMMM YYYY')}})
                </ng-container>
                <ng-container *ngIf="!isMonthSelected">
                    ({{moment(currentPeriod.from, 'DD-MM-YYYY').format('DD MMM YYYY')}} - {{moment(currentPeriod.to, 'DD-MM-YYYY').format('DD MMM YYYY')}})
                </ng-container>

            </div>
            <div style="font-weight: normal;" class="font-xs text-muted text-middle">Details of inward supplies of goods and services</div>
        </div>

        <div class="pull-right">
            <div class="btn-group" dropdown #dropdown="bs-dropdown">
                <button dropdownToggle type="button" class="btn dropdown-toggle grey_clr no-btn"> <i class="icon-download"></i> Download</button>
                <ul id="dropdown-menu" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-triggers-manual">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('gstr2-excel-export')">Download sheet</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="onDownloadSheetGSTR('gstr2-error-export')">Download error sheet</a></li>
                </ul>
            </div>
            <button class="btn btn-primary pull-right" *ngIf="showTaxPro" (click)="toggleSettingAsidePane($event, 'VAYANA')">Authenticate</button>
            <!-- <button class="btn btn-primary pull-right" (click)="toggleSettingAsidePane(null, 'RECONCILE')" *ngIf="!(gstAuthenticated$ | async)">GST Reconcile</button> -->
            <button class="btn btn-primary pull-right" (click)="toggleSettingAsidePane(null, 'RECONCILE')" *ngIf="showTaxPro">Pull from GSTIN</button>
        </div>

    </div>

</div>

<div class="aside-overlay" *ngIf="GstAsidePaneState === 'in'" (click)="toggleSettingAsidePane($event)"></div>
<aside-menu-account [selectedService]="selectedService" [class]="GstAsidePaneState" [@slideInOut]="GstAsidePaneState" (closeAsideEvent)="toggleSettingAsidePane($event)"></aside-menu-account>