@import "../../../../assets/css/color.scss";
p.bankName {
    font-size: 14px;
    color: #1a237e;
    margin-bottom: 5px;
}

p.bankBalnc {
    color: #666666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.single-bank-detatil {
    border-bottom: 1px solid $gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connectBnk {
    position: absolute;
    bottom: 10px;
    color: #262626;
    font-size: 14px;
    text-decoration: underline;
}
.dashboard-container {
    padding: 15px;
}
.total-sales-header {
    background-color: #fff;
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 2px;
    padding: 15px 15px 20px;
}
.dashboard-container label {
    font-size: 14px;
    color: #484848;
    margin-bottom: 3px;
}
.daterang-block .form-control {
    border: 1px solid #5b64c9;
}
.dateRangeInput {
    position: relative;
}
.dateRangeInput span.icon-calender {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #5b64c9;
    color: #262626;
}
.dateRangeInput input {
    padding-left: 35px !important;
    color: #262626;
}
.page-title h1 {
    color: #1a237e;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    line-height: 2.3;
    display: inline-flex;
    float: right;
}
.collapse-close {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 65px;
    width: 65px;
    box-shadow: none;
    outline: none;
}
.collapse-close span.icon-collapse-icon {
    transform: rotate(180deg);
    display: inline;
    text-align: right;
    font-size: 24px;
    color: #1a237e;
}
.dateRangeInput.disabled {
    opacity: 0.5;
}
.page-title {
    margin: 0;
}

.about-date {
    display: inline-flex;
    font-size: 18px;
}
.active-date {
    color: #1a237e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #1a237e;
    margin-right: 5px;
}
.inActive-date {
    color: #5b64c9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.inActive-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #5b64c9;
    margin-right: 5px;
}

.panel {
    padding: 15px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 3px 6px #0000001a;
    position: relative;
}
.topdates {
    min-height: 60px;
}
.single-sale-data p {
    color: #484848;
    font-size: 16px;
}
.single-sale-data h3 {
    font-size: 22px;
    color: #1a237e;
    margin-top: 6px;
}
span.dateWiseSale {
    color: #1a237e;
    font-size: 18px;
}

.single-sale-data {
    border-right: 1px solid $gainsboro;
    min-height: 78px;
}
.total-sale-data {
    padding-top: 40px;
    padding-bottom: 30px;
}
.single-sale-data:last-child {
    border-right: none;
}
