@import "../../../../assets/css/color.scss";
p.bankName {
    font-size: 14px;
    color: $midnight-blue;
    margin-bottom: 5px;
}

p.bank-balance {
    color: $dark-gray;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.single-bank-detail {
    border-bottom: 1px solid $gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.connect-bank {
    position: absolute;
    bottom: 10px;
    color: $nero;
    font-size: 14px;
    text-decoration: underline;
}
.dashboard-container {
    padding: 15px;
}
.total-sales-header {
    background-color: $white;
    box-shadow: 0px 3px 6px $black-russian;
    border-radius: 2px;
    padding: 15px 15px 20px;
}
.dashboard-container label {
    font-size: 14px;
    color: $charcoal;
    margin-bottom: 3px;
}
.date-range-block .form-control {
    border: 1px solid $chetwode-blue;
}
.date-range-input {
    position: relative;
}
.date-range-input span.icon-calender {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $chetwode-blue;
    color: $nero;
}
.date-range-input input {
    padding-left: 35px !important;
    color: $nero;
}
.page-title h1 {
    color: $midnight-blue;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    line-height: 2.3;
    display: inline-flex;
    float: right;
}
.collapse-close {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 65px;
    width: 65px;
    box-shadow: none;
    outline: none;
}
.collapse-close span.icon-collapse-icon {
    transform: rotate(180deg);
    display: inline;
    text-align: right;
    font-size: 24px;
    color: $midnight-blue;
    cursor: pointer;
}
.dateRangeInput.disabled {
    opacity: 0.5;
}
.page-title {
    margin: 0;
}

.about-date {
    display: inline-flex;
    font-size: 18px;
}
.active-date {
    color: $midnight-blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: $midnight-blue;
    margin-right: 5px;
}
.in-active-date {
    color: $chetwode-blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.in-active-date span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: $chetwode-blue;
    margin-right: 5px;
}

.panel {
    padding: 15px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 3px 6px $black-russian;
    position: relative;
}
.top-dates {
    min-height: 60px;
}
.single-sale-data p {
    color: $charcoal;
    font-size: 16px;
}
.single-sale-data h3 {
    font-size: 22px;
    color: $midnight-blue;
    margin-top: 6px;
}
span.date-wise-sale {
    color: $midnight-blue;
    font-size: 18px;
}

.single-sale-data {
    border-right: 1px solid $gainsboro;
    min-height: 78px;
}
.total-sale-data {
    padding-top: 40px;
    padding-bottom: 30px;
}
.single-sale-data:last-child {
    border-right: none;
}
