#list-manufacture {
    .form-fileds {
        .width-280 {
            display: block;
            width: 280px;
        }
    }
    .table-wrapper {
        .mat-header-row {
            background-color: var(--color-common-senary-background-for-all-components) !important;
        }
    }
}
