.swatch ul {
    max-width: 260px;
}

.swatch ul li,
.template-view li {
    cursor: pointer;
}

.swatch ul li:nth-child(1) {
    background: var(--gray-74);
}

.swatch ul li:nth-child(2) {
    background: var(--granite-gray);
}

.swatch ul li:nth-child(3) {
    background: var(--black);
}

.swatch ul li:nth-child(4) {
    background: var(--crimson);
}

.swatch ul li:nth-child(5) {
    background: var(--light-grayish);
}

.swatch ul li:nth-child(6) {
    background: var(--san-juan);
}

.swatch ul li:nth-child(7) {
    background: var(--bud-green);
}

.swatch ul li:nth-child(8) {
    background: var(--eastern-blue);
}

.swatch ul li:nth-child(9) {
    background: var(--cloud-burst);
}

.swatch ul li:nth-child(10) {
    background: var(--atlantis);
}

.swatch ul li:nth-child(11) {
    background: var(--dell);
}

.swatch ul li:nth-child(12) {
    background: var(--sherpa-blue);
}

.swatch ul li:nth-child(13) {
    background: var(--dark-orange);
}

.swatch ul li:nth-child(14) {
    background: var(--burgundy);
}

.swatch ul li:nth-child(15) {
    background: var(--dull-pink);
}

.swatch ul li:nth-child(16) {
    background: var(--tickle-pink);
}

.swatch ul li:nth-child(17) {
    background: var(--deep-pink);
}

.swatch ul li:nth-child(18) {
    background: var(--dark-magenta);
}

.upload-button {
    width: 100px !important;
    background: var(--white);
    display: table-cell;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    border: 4px dashed var(--nobel);
    cursor: pointer;
}

.upload-button input[type="file"] {
    display: none;
}

.start-upload-btn {
    float: right;
    position: relative;
    transform: translateY(100%);
    margin-left: 20px;
}

.logo-tool {
    float: left;
}

.logo-tool ul li {
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.swatch {
    float: left;
    margin-bottom: 20px;
}

.font-selector .form-control {
    margin: 0 !important;
}

#logoImage {
    padding: 4px;
}



@media (min-width:1024px) and (max-width:1266px){
    .start-upload-btn {
        float: none;
        position: relative;
        transform: none;
        margin-left: 0px;
        top: 115px;
        left: -100px;
    }
}