.swatch ul {
    max-width: 260px;
}

.swatch ul li,
.template-view li {
    cursor: pointer;
}

.swatch ul li:nth-child(1) {
    background: var(--color-gray);
}

.swatch ul li:nth-child(2) {
    background: var(--color-abbey);
}

.swatch ul li:nth-child(3) {
    background: var(--color-nero);
}

.swatch ul li:nth-child(4) {
    background: var(--color-red);
}

.swatch ul li:nth-child(5) {
    background: var(--color-design-filters-swatch-ul-li-nth-child5-background);
}

.swatch ul li:nth-child(6) {
    background: var(--color-nero);
}

.swatch ul li:nth-child(7) {
    background: var(--color-design-filters-swatch-ul-li-nth-child7-background);
}

.swatch ul li:nth-child(8) {
    background: var(--color-design-filters-swatch-ul-li-nth-child8-background);
}

.swatch ul li:nth-child(9) {
    background: var(--color-design-filters-swatch-ul-li-nth-child9-background);
}

.swatch ul li:nth-child(10) {
    background: var(--color-design-filters-swatch-ul-li-nth-child10-background);
}

.swatch ul li:nth-child(11) {
    background: var(--color-secondary-success);
}

.swatch ul li:nth-child(12) {
    background: var(--color-design-filters-swatch-ul-li-nth-child12-background);
}

.swatch ul li:nth-child(13) {
    background: var(--color-design-filters-swatch-ul-li-nth-child13-background);
}

.swatch ul li:nth-child(14) {
    background: var(--color-design-filters-swatch-ul-li-nth-child14-background);
}

.swatch ul li:nth-child(15) {
    background: var(--color-design-filters-swatch-ul-li-nth-child15-background);
}

.swatch ul li:nth-child(16) {
    background: var(--color-design-filters-swatch-ul-li-nth-child16-background);
}

.swatch ul li:nth-child(17) {
    background: var(--color-design-filters-swatch-ul-li-nth-child17-background);
}

.swatch ul li:nth-child(18) {
    background: var(--color-design-filters-swatch-ul-li-nth-child18-background);
}

.upload-button {
    width: 100px !important;
    background: var(--color-white);
    display: table-cell;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    border: 4px dashed var(--color-gray);
    cursor: pointer;
}

.upload-button input[type="file"] {
    display: none;
}

.start-upload-btn {
    float: right;
    position: relative;
    transform: translateY(100%);
    margin-left: 20px;
}

.logo-tool {
    float: left;
}

.logo-tool ul li {
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.swatch {
    float: left;
    margin-bottom: 20px;
}

.font-selector .form-control {
    margin: 0 !important;
}

#logoImage {
    padding: 4px;
}

@media (min-width: 1024px) and (max-width: 1266px) {
    .start-upload-btn {
        float: none;
        position: relative;
        transform: none;
        margin-left: 0px;
        top: 115px;
        left: -100px;
    }
}
