.mobile-container {
    .logo-wrapper {
        padding-top: 35px;

        img {
            height: 45px;
            width: 200px;
        }
    }

    .mobile-restriction-wrapper {
        height: calc(100% - 111px);
    }
}
