.template-editor {
    width: 30%;
    float: left;
    /* overflow: auto; */
}

.invoice-preview {
    width: 9in;
    float: right;
    overflow: auto;
    max-height: calc(100vh - 108px);
    /* margin-bottom: 70px; */
}
#email-template {
    background-color: var(--color-white);
    border: 1px solid var(--color-iron);
}

#email-template .form-control {
    min-height: 45px;
    border: 0;
    border-radius: 0 !important;
    color: var(--color-nero);
    border-bottom: 1px solid var(--color-iron);
    background: transparent !important;
}

#email-template .input-group-addon:first-child {
    min-width: 80px;
    background: transparent;
    text-align: left;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--color-iron);
}

#email-body {
    min-height: 400px;
}

@media (max-width: 1266px) {
    .invoice-preview {
        width: 75%;
        padding-left: 15px;
    }
    .template-editor {
        width: 25%;
    }
}
