* {
    border: 0;
    box-sizing: content-box;
    color: var(--color-nero);
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

.strong {
    font-weight: bold;
}

.font-11 {
    font-size: 11px !important;
}

.font-10 {
    font-size: 10px !important;
}

/*
  .font-12 {
  font-size: 12px !important;
  } */
.pb-1 {
    padding-bottom: 10px;
}

p {
    line-height: 17px;
}
.mr-b05 {
    margin-bottom: 5px;
}
/* heading */
#default header h1 {
    /* color: #df4927; */
    font-size: 14px;
}

#default header h2 {
    /* color: #df4927; */
    font-size: 14px;
    font-weight: bold;
}
/* table */
#default table {
    /* font-size: 93%; */
    table-layout: fixed;
    width: 100%;
    border-collapse: inherit;
}

/* page */

#default {
    overflow: auto;
    /* font-size: 93%; */
    background: var(--color-white-tertiary);
    border: 1px solid var(--color-common-secondary-border);
    padding: 0;
}

#default body {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.1in;
    letter-spacing: 0;
    width: 100%;
    border-radius: 1px;
}

/* header */

#default header {
    margin: 0;
    background: var(--color-primary-invoice-preview-background);
    padding: 10px;
}

#default header:after {
    clear: both;
    content: "";
    display: table;
}

.pull-right tr td {
    text-align: right !important;
}

#default header .number-detail-series strong {
    width: 50px;
    float: left;
}

#default .meta {
    padding: 0 10px;
    /* margin-bottom: 10px; */
}

#default .meta tbody tr td,
#default .meta tbody tr th {
    border: 0;
    padding: 5px 0;
}

#default .meta tbody tr th {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    color: var(--color-nero);
}

.hidden-label {
    opacity: 0;
}

#default .meta tbody tr td {
    padding: 6px 0;
    line-height: 1.3rem;
}

/*#default .meta tbody tr td:nth-child(2)>table tbody tr td{background: #f2f2f2;padding: 0 10px;line-height: 2rem;margin: 4px 0; display: -webkit-box;}*/

#default header figure {
    margin: 0 0 0.3em 0;
    width: 100%;
    padding: 0px;
}

#default header figure p {
    margin: 0 0 0.25em;
}

#default header span,
header img {
    display: block;
    float: right;
}

#default header span {
    margin: 0 0 1em 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

#default header img {
    max-height: 100%;
    max-width: 180px;
    float: left;
    margin-bottom: 10px;
}

#default header table tr td {
    border: 0;
    /* padding: 4px 0; */
}

/* article */

#default article {
    margin-bottom: 10px;
}

#default article:after {
    clear: both;
    content: "";
    display: table;
}

#default article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

#default article address {
    float: left;
    font-weight: bold;
}

#default .table-item {
    overflow-x: scroll;
    width: 100%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.word-break {
    word-break: break-word;
}

/* table items */

#default table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#default table.item th,
#default table.item tfoot tr th {
    position: relative;
    padding: 8px 7px;
    line-height: 1.2rem;
}
#default table.item tfoot tr th {
    padding-right: 7px;
    border-top: 1px solid var(--color-iron);
}
/* tcs */
.tcs hr {
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid var(--color-red);
}
.tcs table {
    margin: 50px 0px;
    clear: both;
    width: 100%;
    border-collapse: collapse !important;
}
.tcs table td,
.tcs table th {
    border-radius: 0;
    padding: 5px;
    border: 1px solid var(--color-common-secondary-border);
    vertical-align: top;
    text-align: right;
}

.tcs table td:first-child {
    text-align: left;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    font-weight: bold;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    text-align: right;
}

.tcs table th:first-child,
.tcs table tfoot tr th:first-child {
    text-align: left;
}

.br0 {
    border-right: 0px !important;
}

.bl0 {
    border-left: 0px !important;
}

/* #default table.item tr th,
  #default table.item tfoot tr th {
  font-size: 10px;
  } */

#default table.item td {
    border-radius: 0;
    padding: 7px;
    border-top: 1px solid var(--color-table-primary-content-bar-border);
    line-height: 1.2rem;
    vertical-align: top;
}

#default table.item td p {
    color: var(--color-abbey);
}

#default table.balance {
    width: 85%;
    float: right;
    margin: 10px 7px 10px;
}

#default table.balance th,
#default table.balance td {
    width: 50%;
    text-align: right;
    padding: 0 2px;
    /* font-size: 11px; */
}

/* aside */

#default aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#default aside h1 {
    border-color: var(--color-common-secondary-border);
    border-bottom-style: solid;
}

/*footer*/

#default footer {
    border-top: 1px solid;
    padding: 16px 0px 10px 0;
    margin: 8px 0 0;
    background: var(--color-primary-invoice-preview-background);
}

#default aside {
    line-height: 1.5rem;
}

#default .subfooter {
    padding: 10px 10px 0px 10px;
    .notes2-default-text {
        white-space: pre-line;
    }
}

#default .subfooter hr {
    width: 100%;
    border-bottom: 1px solid var(--color-common-secondary-border);
    margin: 3px 0;
}

#default .subfooter h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#default .docTitle {
    width: 100%;
    line-height: 20px;
    text-align: center;
    height: 26px;
    position: relative;
}

#default .docTitle h2 {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}

#default .docTitle h2:after {
    content: attr(title);
    width: auto;
    position: relative;
    background: var(--color-primary-invoice-preview-background);
    margin: 0 auto;
    padding: 6px 16px;
    right: 0;
    line-height: 24px;
    vertical-align: middle;
    z-index: 0;
    left: 0;
}

#default .docTitle h2.no-content:after {
    content: "";
    background: transparent;
}

#default p {
    margin: 0;
}

#default h2 {
    margin: 0;
    font-size: inherit;
}

#default table.item th .bgClr {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--color-blue);
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.05;
    z-index: 0;
}

#default header .qr-image img {
    width: 160px;
    height: 100%;
    float: right !important;
    margin-bottom: 0px !important;
    max-width: 100% !important;
}

.docTitle hr {
    position: absolute;
    height: 2px;
    top: 50%;
    width: 100%;
    height: 1px;
}

strong {
    font-weight: bold;
}

.invoice-head {
    width: 50%;
    word-break: break-word;
}

.width-40 {
    width: 40%;
}

/* common template css  */

.disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed var(--color-common-secondary-border);
}

.edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: var(--color-primary-invoice-preview-background);
    width: 20px;
}

.edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.2em;
    text-align: center;
    font-size: 12px;
}

.inner {
    width: 60%;
    height: 1px;
    margin: 0px 0 auto auto;
    border-bottom: 1px solid var(--color-common-secondary-border);
}

.green-row {
    border-bottom: solid 1px var(--color-teal);
    padding: 6px 16px;
}
.tax-table p {
    color: var(--color-abbey);
}

.tax-table tfoot th {
    font-weight: bold;
}
.tax-table {
    table-layout: fixed;
    min-width: 100% !important;
}

.tax-table thead tr th:nth-child(1) {
    width: 20%;
}

.tax-table thead tr th,
.tax-table tbody tr td,
.tax-table tfoot tr th {
    padding: 6px;
    border-right: 1px solid var(--color-table-primary-header-bar-border);
}

.tax-table thead tr th:last-child,
.tax-table tbody tr td:last-child,
.tax-table tfoot tr th:last-child {
    border-right: 0px solid;
}

table.tax-table.item {
    padding-top: 0px !important;
}
.tax-table.item tfoot tr th {
    border-bottom: 1px solid var(--color-table-primary-header-bar-border);
}
.tax-table tbody tr td {
    border-top: 0px solid;
}
.warehouse-table {
    width: 100%;
    border-bottom: 1px solid var(--color-table-primary-content-bar-border);
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
}
.warehouse-table tbody tr td {
    padding: 0px 20px 5px 10px;
}
.img-signature {
    text-align: center;
    vertical-align: bottom;
    width: 35%;
}
.inner-img-signature {
    height: 60px;
    min-width: 40px;
}

.header-table {
    vertical-align: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
