@import "../../assets/css/color.scss";
.left-expense {
    width: 400px;
    box-shadow: 3px 3px 6px $black-russian;
    background: $white;
    position: relative;
}
.main-expense-details {
    width: 90%;
    overflow-y: auto;
    padding-top: 10px;
}
.main-edit-expense {
    display: flex;
}
.input-calender {
    width: 225px;
    top: 10px;
}
.input-calender > span {
    background: none;
    border-radius: 0px;
    border-left: 1px solid $gainsboro !important;
}
.input-group-addon {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: $white !important;
    border: 1px solid $gainsboro;
    border-radius: 0;
    border-right: 0;
    align-items: center;
    justify-content: center;
    color: $gray;
}
@media only screen and (max-width: 767px) {
    .left-expense {
        width: 100%;
    }
    .main-edit-expense {
        display: block;
    }
    .expense-head {
        padding-top: 20px;
    }
    .input-calender {
        top: 15px;
    }
    .main-expense-details {
        width: 100%;
    }
}
.clear-filter-div {
    position: relative;
    top: 55px;
}
