.download-list-container {
    width: 650px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-secondary-right-side-popup-body-background);
    .modal-header {
        height: 57px;
    }
}
