.daterange_picker_tb-pl-bs {
    background-color: #fff !important;
    text-decoration: none;
    text-align: left;
    border: 1px solid #d9d9d9;
    vertical-align: middle;
    height: 36px;

    font-size: 14px;
}
.tb-btnApply {
    margin-top: 5px;
}
.liabilities-assets {
    max-width: 760px;
    width: 100%;
}
.date-range-picker {
    padding-left: 35px !important;
    background-image: url("../../../../assets/images/calender.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
}
.inputWrapper {
    position: relative;
}
.inputWrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: #d9d9d9;
    left: 37px !important;
    z-index: 100;
    top: 0;
}
.expanIcon {
    height: 36px;
    display: flex;
    align-items: flex-end;
}
.expanIcon span {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    color: #1a237e !important;
    border: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
    .form-inline.financial-selectYear .form-group {
        min-width: auto !important;
    }
}
