@import "../../../../assets/css/color.scss";
.daterange-picker-tb-pl-bs {
    background-color: $white !important;
    text-decoration: none;
    text-align: left;
    border: 1px solid $gainsboro;
    vertical-align: middle;
    height: 36px;
    font-size: 14px;
}
.tb-btn-apply {
    margin-top: 5px;
}
.liabilities-assets {
    max-width: 760px;
    width: 100%;
}
.date-range-picker {
    padding-left: 35px !important;
    background-image: url("../../../../assets/images/calender-icon.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
}
.input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: $gainsboro;
    left: 37px !important;
    z-index: 100;
    top: 0;
}
.expand-icon {
    height: 36px;
    display: flex;
    align-items: flex-end;
}
.expand-icon span {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: $white;
    font-size: 18px;
    color: $midnight-blue !important;
    border: 1px solid $gainsboro;
}
.download-data-icon{
    display: flex;align-items: center;
    justify-content: flex-end;
    a{
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        background-color: $white;
        font-size: 16px;
        color: $midnight-blue !important;
        border: 1px solid $gainsboro;
    }
}
.d-inline-flex{
    display: inline-flex;
}
.glyphicon-triangle-bottom{
    z-index: 1;
    position: absolute;
    left: 152px;
    font-size: 9px;
    color: $very-light-gray;
    top: 14px;
}
.linked-entities {
    .list-item {
        .entity-icon {
            padding: 4px;
        }
        .entity-details {
            margin-left: 6px;
            flex: 1;
            .item {
                font-family:'opensans-semibold'
            }
        }
        .default-entity {
            align-items: center;
            display: flex;
            &:hover:after {
                color: $rich-blue;
            }
            .icon-favorite-selected {
                color: $rich-blue;
            }
        }
    }
}
@media (min-width: 768px) {
    .form-inline.financial-select-year .form-group {
        min-width: auto !important;
    }
}
@media(max-width:991px){
    .datepicker-field{
        min-width: 190px !important;
        width: 190px !important;
    }
    .download-data-icon{
        a{
            width: 36px;
            height: 36px;
        }
    }
     .form-inline.financial-select-year{
        flex-flow: row nowrap !important;
     }
     .download-data-icon{
        margin: 10px 0 2px;
     }
}
