html,
body {
  height: 100%;
}

a.active {
  background-color: gray;
}
footer#footer.sticky-footer {
  padding-left: 230px;
  text-align: center;
  margin-top: 64px;
  height: 74px;
  background-color: #fff;
  color: #666;
  line-height: 3.5;
  font-size: 16px;    border-top: 1px solid #ddd;
}
.footer-content {
  margin-bottom: 0 !important;
}
#content_wrapper {
  padding-bottom: 94px;
}