<div id="loader-1" *ngIf="!IAmLoaded">
    <div class="spinner2">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<div class="message-wrapper">
    <p class="font-16 text-center py-2">
        This version of Giddh is deprecated, please contact <a href="javascript:;"
            class="text-underline">support@giddh.com</a> to migrate your data to the latest version before 31st March,
        2024. <a href="javascript:;" class="text-underline">Dismiss</a></p>
</div>
<router-outlet></router-outlet>