html,
body {
    height: 100%;
    background-color: var(--body-background-color);
    color: var(--common-primary-text-color);
}

a.active {
    background-color: gray;
}
footer#footer.sticky-footer {
    padding-left: 230px;
    text-align: center;
    margin-top: 64px;
    height: 74px;
    background-color: #fff;
    color: #666;
    line-height: 3.5;
    font-size: 16px;
    border-top: 1px solid #ddd;
}
.footer-content {
    margin-bottom: 0 !important;
}
#content-wrapper {
    padding-bottom: 80px;
    padding-left: 60px;
}
.menu_open {
    padding-left: 240px !important;
}
@media (max-width: 1019px) {
    .menu_open {
        padding-left: 240px !important;
    }
}
@media (max-width: 767px) {
    #content-wrapper {
        padding-left: 0 !important;
    }
}
