:host ::ng-deep .sales-person mat-accordion {
    mat-expansion-panel {
        z-index: 99;
        .giddh-mobile-wrapper {
            z-index: 5;
            ul {
                /* UNUSED COMPONENT CLASS: iti__country-list - Auto-commented by script < use in flag dropdown */
            &.iti__country-list { 
                    position: absolute !important;
                    top: unset !important;
                    left: unset !important;
                    transform: translate(-84px, 12px);
                    max-width: 300px;
                }
            }
        }
    }
}