.form-group {
    .steps-block {
        display: inline-block;
        .sp-template {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            color: #d5c8b6;
            span {
                &.active {
                    color: #1c3361;
                }
            }
        }
        .label-active {
            color: #222;
        }
    }
    .btn {
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        background: transparent;
        border: 1px solid #d5c8b6;
        border-radius: 100%;
        line-height: 15px;
        padding: 0;
        font-size: 20px;
        color: #d5c8b6;
        margin-bottom: 6px;
        &.active {
            color: #fff;
        }
    }
    .v_line {
        height: 1px;
        width: 40px;
        display: inline-block;
        border-bottom: 8px dotted #d5c8b6;
        margin: 0 58px;
    }
}
