.form-group {
    .steps-block {
        display: inline-block;

        .sp-template {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            color: #D5C8B6;

            span {
                &.active {
                    color: #1C3361;
                }
            }
        }

        .label-active {
            color: #222;
        }
    }

    .btn {
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        background: transparent;
        border: 1px solid #D5C8B6;
        border-radius: 100%;
        line-height: 15px;
        padding: 0;
        font-size: 20px;
        color: #D5C8B6;
        margin-bottom: 6px;

        &.active {
            background: #ff5f00 !important;
            border-color: #ff5f00;
            color: #fff;
        }
    }

    .v_line {
        // background-color: #1a1a1a;
        height: 1px;
        width: 40px;
        display: inline-block;
        border-bottom: 8px dotted #D5C8B6;
        margin: 0 58px;

        &.active {
            border-color: #ff5f00;
        }
    }
}
