.wrap-tab-content-pd-15 {
    padding: 0 15px;
}
.activity-title {
    justify-content: space-between;
}
.btn i.icon-trash {
    font-size: 13px;
    vertical-align: baseline;
    line-height: 1.7;
    text-align: center;
}
.two-way-auth-label {
    margin-left: 5px;
    vertical-align: top;
}

.video-link {
    position: relative;
    z-index: 10;
    float: right;
    line-height: 46px;
}

@media (max-width: 575px) {
    .wrap-tab-content-pd-15 {
        form {
            input {
                max-width: 100%;
                margin-bottom: 15px;
                width: 100%;
            }
            .btn-success {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
