@import "../../../assets/css/color.scss";

footer#footer.absolute-footer {
    text-align: left;
    margin-top: 0;
    height: 54px;
    background-color: transparent;
    color: $gainsboro-light;
    line-height: 2.3;
    font-size: 12px;
    // position: absolute !important;
    float: none;
    left: 0;
    font-family: "" opensans-semibold "";
    bottom: 30px;

    padding-left: 0;
    padding-top: 126px;
}
.footer-content {
    margin-bottom: 0 !important;
}
#content-wrapper {
    padding-bottom: 80px;
    position: relative;
}

//   .footer-content span {
//     font-size: 10px;
//     color: #ddd;
//     display: block;
//     line-height: 1;
//     font-family: 'opensans-regular';
//     padding-bottom: 10px;
// }
// .footer-content span a{
//   color: #ddd;
//   text-decoration: none;    padding-right: 3px;
// }
img.giddh-logo {
    width: 80px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1440px) {
    footer#footer.absolute-footer {
        padding-top: 66px;
    }
}
