footer#footer.absoulte-footer {
     
    text-align: left;
    margin-top: 44px;
    height: 54px;
    background-color:#F7F8FA;
    color: #333;
    line-height: 2.3;
    font-size: 16px;
    border-top: 1px solid #F7F8FA;
    position: absolute !important;
    float: none;
    left: 0;
    font-family: 'LatoWebBold';
  }
  .footer-content {
    margin-bottom: 0 !important;
  }
  #content_wrapper {
    padding-bottom: 94px;
    position: relative;
  }
  
  .footer-content span {
    font-size: 14px;
    color: #666;
    display: block;
    line-height: 1;
    font-family: 'LatoWebMedium';
    padding-bottom: 10px;
}
.footer-content span a{
  color: #666;
  text-decoration: none;
}