.upload-and-map-content {
    h2 {
        font-size: 32px;
    }
}
.upload-excel {
    display: flex;
    height: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 !important;
}
.center-block {
    margin: 0 auto;
}
.max-width-500 {
    max-width: 500px;
}

.upload-icon {
    font-size: 62px;
    float: none;
    color: var(--color-dark-fog);
}

.sample-file-btn {
    z-index: 9;
    position: relative;
}

.dashed-border {
    border: 2px dashed var(--color-common-secondary-border);
}

.import-type {
    display: flex;
    justify-content: center;
}

.import-type li {
    list-style: none;
    width: 320px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border: 1px solid var(--color-iron);
    background: var(--color-wild-sand);
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.import-type h2 {
    margin-bottom: 30px;
}

.import-type li:hover {
    transform: scale(1.01);
}

.lead {
    font-size: 36px;
    margin-bottom: 10px;
}

.has-error .form-control {
    border-color: var(--color-danger) !important;
}

#csvUploadInput {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
}

.custom-file-label {
    left: 0px;
    top: 0;
    bottom: 0;
    z-index: 9;
    background: var(--color-white);
    text-align: left;
    position: absolute;
    border: 1px solid var(--color-secondary-input-bar-border);
    border-radius: 2px !important;
    padding: 6px 12px !important;
    outline: 0;
    color: var(--color-common-primary-text);
    font-size: 14px;
    width: calc(100% - 95px);
}
.select-file {
    color: var(--color-primary-select-file);
}
.file-upload-panel {
    width: 100%;
    text-align: left;
    border: 1px solid var(--color-secondary-input-bar-border);
    padding: 8px;
    border-radius: 4px;
    color: var(--color-iron);
}
.linked-entities {
    .list-item {
        .entity-icon {
            padding: 4px;
        }
        .entity-details {
            margin-left: 6px;
            flex: 1;
            .item {
                font-family: "opensans-semibold";
            }
        }
        .default-entity {
            align-items: center;
            display: flex;
            &:hover:after {
                color: var(--color-blue);
            }
            .icon-favorite-selected {
                color: var(--color-blue);
            }
        }
    }
}
#is-header-provided {
    margin-right: 0px;
    top: 3px;
}
@media (max-width: 991px) {
    .import-type {
        flex-wrap: wrap;
        li {
            width: 27%;
            margin: 0 15px 30px;
        }
    }
}
@media (max-width: 767px) {
    .center-block .btn-sm {
        float: none !important;
        text-align: center !important;
        display: block;
        margin: 0 !important;
        width: 100%;
        padding: 4px 0;
    }
}
