@import "../../../assets/css/color.scss";
.upload_excel {
    display: flex;
    height: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.max500 {
    max-width: 500px;
}

.upload_icon {
    font-size: 62px;
    float: none;
    color: #e2e2e2;
}

.sample_file-btn {
    z-index: 9;
    position: relative;
}

.dashed_bdr {
    border: 2px dashed $gainsboro;
}

.import_type {
    display: flex;
    justify-content: center;
}

.import_type li {
    list-style: none;
    width: 320px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border: 1px solid $gainsboro;
    background: #fafafa;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.import_type h2 {
    margin-bottom: 30px;
}

.import_type li:hover {
    transform: scale(1.01);
}

.lead {
    font-size: 36px;
    margin-bottom: 10px;
}

.has-error .form-control {
    border-color: red !important;
}

#csvUploadInput {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
}

.custom-file-label {
    left: 0px;
    top: 0;
    bottom: 0;
    z-index: 9;
    background: #fff;
    text-align: left;
    position: absolute;
    border: 1px solid #d6d6d6;
    border-radius: 2px !important;
    padding: 6px 12px !important;
    outline: 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    width: calc(100% - 95px);
}
.select-file {
    color: #089328;
}
.file-uplod-penal {
    width: 100%;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 8px;
    border-radius: 4px;
    color: #cccccc;
}

@media (max-width: 767px) {
    .center-block .btn-sm {
        float: none !important;
        text-align: center !important;
        display: block;
        margin: 0 !important;
        width: 100%;
        padding: 4px 0;
    }
}
