

h4 {
    font-size: 18px;
}



.invoice_list {
    h4 {
        text-align: left;
        margin-bottom: 10px;
    }
    .template_img {
        float: left;
        margin-bottom: 15px;
    }
}

.lh42 {
    line-height: 42px;
}
