<section class="container">
  <div class="row">
    <div class="col-xs-12 alC">
      <h1>Generate Invoice Component</h1>

      <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
          <a [routerLink]="['/create/invoice/t001']">LETTER</a>
        </li>
        <li role="presentation">
          <a [routerLink]="['/create/invoice/t002']">CLASSIC</a>
        </li>
        <li role="presentation">
          <a [routerLink]="['/create/invoice/t003']">ROYAL</a>
        </li>
      </ul>
    </div>
  </div>
</section>
