<div class="container-fluid">

    <div class="top_bar clearfix">
        <div class="form-inline">
            <div class="pull-left header-left">

                <div class="form-group" *ngIf="activeTab !== 'aging'">
                    <button class="btn btn-sm" (click)="setActiveTab('customer', 'sundrydebtors')" [ngClass]="{'isActive': activeTab === 'customer', 'btn-default': activeTab !== 'customer'}">Customers</button>
                    <button class="btn btn-sm btn-default" (click)="setActiveTab('vendor', 'sundrycreditors')" [ngClass]="{'isActive': activeTab === 'vendor', 'btn-default': activeTab !== 'vendor'}">Vendor</button>
                </div>


                <div class="form-group mrL2 max250" *ngIf="activeTab !== 'aging'">
                    <input type="text" placeholder="Search" class="form-control" (keyup)="search($event)" />
                </div>
                <div class="form-group mrR1 max250" *ngIf="activeTab === 'aging'" style="width: 100px">
                    <label class="mr-b-5">Name</label>
                    <div class="checkbox square-switch">
                        <input type="checkbox" id="includeName" [(ngModel)]="includeName" (change)="resetMe()" />
                        <label for="includeName">
              <span class="p-t-10" *ngIf="includeName">Include</span>
              <span class="pull-right" *ngIf="!includeName">Exclude</span>
            </label>
                    </div>
                </div>

                <div class="form-group mrR1 max500 search-input" *ngIf="activeTab === 'aging'">
                    <sh-select placeholder="Search customer" [multiple]='true' name="names" [(ngModel)]="names" [options]="sundryDebtorsAccountsForAgingReport" (change)="resetMe()"></sh-select>
                </div>

                <div class="form-group mrR1 max120 select-option" *ngIf="activeTab === 'aging'">
                    <label class="mr-b-5">Total Due</label>
                    <sh-select placeholder="Link Account" name="totalDue" [(ngModel)]="totalDueSelectedOption" [options]="totalDueOptions" (change)="resetMe()"></sh-select>
                </div>

                <div class="form-group" *ngIf="activeTab === 'aging'">
                    <label class="mr-b-5 d-block">Number</label>
                    <input type="text" placeholder="Number" class="form-control max70" [(ngModel)]="totalDueAmount" (change)="resetMe()" digitsOnlyDirective/>
                </div>

                <div class="btn-group plus-btn">
                    <button *ngIf="activeTab == 'customer'" class="btn btn-link" style="margin-right: 5px" (click)="openAddAndManage('customer')">+
            Add Customer
          </button>
                    <button *ngIf="activeTab == 'vendor'" class="btn btn-link " (click)="openAddAndManage('vendor')">+
            Add Vendor</button>
                </div>

                <div class="form-group go-btn" *ngIf="activeTab === 'aging'">
                    <label class="d-block"></label>
                    <button class="btn btn-success" type="button" (click)="go()">Go</button>
                </div>

            </div>
            <div class="pull-right dis">
                <div class="form-group mrT2" *ngIf="activeTab == 'aging'">
                    <button class="btn btn-sm" (click)="setActiveTab('customer', 'sundrydebtors')" [ngClass]="{'isActive': activeTab === 'customer', 'btn-default': activeTab !== 'customer'}">Customers</button>
                </div>
                <button class="btn mrL1 btn-sm btn-default" (click)="setActiveTab('aging', 'sundrycreditors')" *ngIf="activeTab !== 'aging' && activeTab !== 'vendor'">Aging Report </button>


                <div *ngIf="activeTab === 'customer'" class="btn-group mrL1" #filterDropDownList="bs-dropdown" dropdown [autoClose]="false" (clickOutside)="hideListItems()" [tooltip]="'Enable / Disable Column'" [placement]="'left'">
                    <i dropdownToggle class="icon-options pd cp fs20"></i>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" [style.width.px]="'200'">
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" disabled name="field_filter.name" [(ngModel)]="showFieldFilter.name" /> Name</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.mobile" [(ngModel)]="showFieldFilter.mobile" /> Mobile No.</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.email" [(ngModel)]="showFieldFilter.email" /> Email Id</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.state" [(ngModel)]="showFieldFilter.state" /> State</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.closingBalance" [(ngModel)]="showFieldFilter.closingBalance" />Amt. Due
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.gstin" [(ngModel)]="showFieldFilter.gstin" /> GSTIN</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">
                                <input type="checkbox" name="field_filter.comment" [(ngModel)]="showFieldFilter.comment" /> Comment</a>
                        </li>
                    </ul>
                </div>

                <div class="mrL1 mrT2" *ngIf="activeTab === 'aging'">
                    <div (click)="openAgingDropDown()">
                        <label class="pd1">Total due Today </label>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <aging-dropdown *ngIf="setDueRangeOpen$|async" [options]="agingDropDownoptions" (closeEvent)="closeAgingDropDownop($event)"></aging-dropdown>
                </div>


            </div>
        </div>
    </div>

    <table class="table basic table-bordered" *ngIf="activeTab !== 'aging'">
        <thead>
            <tr>
                <th [style.width.%]="20">Name</th>
                <th *ngIf="showFieldFilter.mobile">Mobile No.</th>
                <th *ngIf="showFieldFilter.email" [style.width.%]="14">Email Id</th>
                <th *ngIf="showFieldFilter.state" [style.width.%]="10">State</th>
                <th *ngIf="showFieldFilter.gstin" [style.width.%]="10">GSTIN</th>
                <th *ngIf="showFieldFilter.closingBalance">Amt. Due</th>
                <th *ngIf="showFieldFilter.comment" [style.width.%]="25">Comment</th>
                <th *ngIf="activeTab === 'vendor'">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="activeTab === 'customer'">
                <tr *ngFor="let account of sundryDebtorsAccounts$ | async; let idx = index">
                    <td>{{account.name}}</td>
                    <td *ngIf="showFieldFilter.mobile">{{account.mobileNo}}</td>
                    <td *ngIf="showFieldFilter.email">{{account.email}}</td>
                    <td *ngIf="showFieldFilter.state">{{account.state?.name}}</td>
                    <td *ngIf="showFieldFilter.gstin">{{account.gstIn}}</td>
                    <td *ngIf="showFieldFilter.closingBalance">{{account.closingBalance?.amount}}</td>
                    <td *ngIf="showFieldFilter.comment" (click)="updateCommentIdx = idx">
                        <ng-container *ngIf="updateCommentIdx !== idx">
                            {{account.comment}}
                        </ng-container>
                        <ng-container *ngIf="updateCommentIdx === idx">
                            <textarea class="form-control" maxlength="100" [(ngModel)]="account.comment" (blur)="updateComment(account)"></textarea>
                        </ng-container>

                    </td>
                    <!-- <td>
<button class="btn btn-small btn-success" (click)="payNow(account)">Pay</button>
</td> -->
                </tr>
                <tr *ngIf="!(sundryDebtorsAccounts$ | async)?.length">
                    <td colspan="8" class="text-center empty_table">
                        <h1>No Record Found !!</h1>
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="activeTab === 'vendor'">
                <tr *ngFor="let account of sundryCreditorsAccounts$ | async; let idx = index">
                    <td>{{account.name}}</td>
                    <td *ngIf="showFieldFilter.mobile">{{account.mobileNo}}</td>
                    <td *ngIf="showFieldFilter.email">{{account.email}}</td>
                    <td *ngIf="showFieldFilter.state">{{account.state?.name}}</td>
                    <td *ngIf="showFieldFilter.gstin">{{account.gstIn}}</td>
                    <td *ngIf="showFieldFilter.closingBalance">{{account.closingBalance?.amount}}</td>
                    <td *ngIf="showFieldFilter.comment" (click)="updateCommentIdx = idx">
                        <ng-container *ngIf="updateCommentIdx !== idx">
                            {{account.comment}}
                        </ng-container>
                        <ng-container *ngIf="updateCommentIdx === idx">
                            <textarea class="form-control" maxlength="100" [(ngModel)]="account.comment" (blur)="updateComment(account)"></textarea>
                        </ng-container>

                    </td>

                    <td>
                        <button *ngIf="cashFreeAvailableBalance" class="btn btn-small btn-success" (click)="payNow(account)">Pay
            </button>
                        <button *ngIf="!cashFreeAvailableBalance" class="btn btn-small btn-success" (click)="payNow(account)">Add Cashfree
            </button>
                    </td>
                </tr>
                <tr *ngIf="!(sundryCreditorsAccounts$ | async)?.length">
                    <td colspan="8" class="text-center empty_table">
                        <h1>No Record Found !!</h1>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr *ngIf="activeTab === 'customer' && sundryDebtorsAccountsBackup.results && sundryDebtorsAccountsBackup.results.length">
                <td colspan="100%">
                    <div class="alC">
                        <pagination [totalItems]="sundryDebtorsAccountsBackup.totalPages" [(ngModel)]="sundryDebtorsAccountsBackup.page" [maxSize]="5" class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="1" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </td>
            </tr>
            <tr *ngIf="activeTab === 'vendor' && sundryCreditorsAccountsBackup.results && sundryCreditorsAccountsBackup.results.length">
                <td colspan="100%">
                    <div class="alC">
                        <pagination [totalItems]="sundryCreditorsAccountsBackup.totalPages" [(ngModel)]="sundryCreditorsAccountsBackup.page" [maxSize]="5" class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="1" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <ng-container>

    </ng-container>
    <table class="table basic table-bordered" *ngIf="activeTab == 'aging'">
        <thead>
            <tr>
                <th [style.width.%]="20">Customer Name</th>
                <th [style.width.%]="14">Total Due</th>
                <th [style.width.%]="10">Future Due</th>
                <th [style.width.%]="10">0-{{(agingDropDownoptions$| async )?.fourth-1}} Days</th>
                <th [style.width.%]="10">{{(agingDropDownoptions$| async )?.fourth}}-{{((agingDropDownoptions$| async )?.fourth + (agingDropDownoptions$| async )?.fifth)-1}} Days
                </th>
                <th [style.width.%]="10">{{((agingDropDownoptions$| async )?.fourth + (agingDropDownoptions$| async )?.fifth)}}-{{((agingDropDownoptions$| async )?.fourth + (agingDropDownoptions$| async )?.fifth +(agingDropDownoptions$| async )?.sixth)-1}} Days
                </th>
                <th [style.width.%]="10">{{(agingDropDownoptions$| async )?.sixth + 1 }}+ Days</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entry of (dueAmountReportData$ | async)?.results">
                <tr *ngIf="(dueAmountReportData$ | async)?.results?.length">
                    <td>{{ entry.name }}</td>
                    <td> {{ entry.totalDueAmount }}</td>
                    <td>{{ entry.futureDueAmount }}</td>
                    <td>{{ entry.currentAndPastDueAmount[0].dueAmount }}</td>
                    <td>{{ entry.currentAndPastDueAmount[1].dueAmount }}</td>
                    <td>{{ entry.currentAndPastDueAmount[2].dueAmount }}</td>
                    <td>{{ entry.currentAndPastDueAmount[3].dueAmount }}</td>
                </tr>
            </ng-container>

            <ng-container *ngIf="!(dueAmountReportData$ | async)?.results?.length">
                <tr>
                    <td colspan="7" class="text-center empty_table">
                        <h1>No Record Found !!</h1>
                    </td>
                </tr>
            </ng-container>
        </tbody>

        <tfoot *ngIf="(dueAmountReportData$ | async)?.results?.length">
            <tr>
                <td colspan="100%">
                    <div class="alC" style="text-align: center;">
                        <div id="pagination" element-view-container-ref #paginationChild=elementviewcontainerref></div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="aside-overlay" *ngIf="accountAsideMenuState === 'in'"></div>
<aside-menu-account [activeGroupUniqueName]="selectedGroupForCreateAcc" [class]="accountAsideMenuState" [@slideInOut]="accountAsideMenuState" (closeAsideEvent)="toggleAccountAsidePane($event)"></aside-menu-account>

<!-- Pay now modal -->
<div bsModal #payNowModal="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md" *ngIf="cashFreeAvailableBalance">
        <div class="modal-content">
            <div *ngIf="selectedAccForPayment">
                <div class="modal-header themeBg pdL2 pdR2 clearfix">
                    <h3 class="modal-title bg" id="modal-title">Pay to {{selectedAccForPayment.name}} </h3>
                    <i class="fa fa-times text-right close_modal" aria-hidden="true" (click)="onPaymentModalCancel()"></i>
                </div>
                <div class="modal-body pdL2 pdR2 clearfix" id="export-body">
                    <form name="newRole" novalidate class="" autocomplete="off">
                        <div class="modal_wrap mrB2">
                            <h3 class="text-right mr2">Amount Due Rs: {{selectedAccForPayment.closingBalance?.amount}}</h3>
                            <h3 class="mrB2">
                                <b>Pay through Cash Free</b>
                            </h3>
                            <h4 *ngIf="cashFreeAvailableBalance">
                                <small>Balance in account Rs. {{cashFreeAvailableBalance}}</small>
                            </h4>
                            <input #amountBox type="number" class="form-control">
                        </div>
                        <div>
                            <button [disabled]="!amountBox.value" type="submit" class="btn btn-md btn-success btn-block" (click)="onConfirmation(amountBox.value)">Pay
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-small" *ngIf="!cashFreeAvailableBalance">
        <div class="modal-content">
            <div *ngIf="selectedAccForPayment">
                <div class="modal-header themeBg pdL2 pdR2 clearfix">
                    <h3 class="modal-title bg" id="modal-title">Add Cashfree details</h3>
                    <i class="fa fa-times text-right close_modal" aria-hidden="true" (click)="onPaymentModalCancel()"></i>
                </div>
                <div class="modal-body pdL2 pdR2 clearfix" id="export-body">
                    <form name="newRole" novalidate class="" autocomplete="off" (submit)="submitCashfreeDetail(payoutObj)">
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label>Client Id
                  <span class="required">*</span>
                </label>
                                <input class="form-control" type="text" placeholder="Client Id" name="payoutForm.userName" [(ngModel)]="payoutObj.userName" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label>Client Secret Key
                  <span class="required">*</span>
                </label>
                                <input class="form-control" type="password" placeholder="Client Secret key" name="payoutForm.password" [(ngModel)]="payoutObj.password" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label>Link Account</label>
                                <sh-select placeholder="Link Account" name="payoutObj.account" [(ngModel)]="payoutObj.fakeAccObj" [options]="bankAccounts$ | async" (selected)="selectCashfreeAccount($event, payoutObj)"></sh-select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <input type="checkbox" [(ngModel)]="payoutObj.autoCapturePayment" name="payoutObj.autoCapturePayment" /> Automatic capture on payment
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" value="Save">
                        <input type="button" class="btn btn-warning" value="Cancel" (click)="onPaymentModalCancel()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>