.clear-filter-close {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.clear-filter-close a {
    color: #fff;
    font-size: 14px;
}
.modal-header {
    display: flex;
    justify-content: space-around;
}
.modal-header .close {
    color: #fff;
    opacity: 1;
    font-weight: 100;
    text-shadow: none;
    font-size: 30px;
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1280px;
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .ledger-state-box {
        margin-bottom: 20px;
    }
    .amount-total {
        background: #efefef;
    }
    .page-count {
        width: 100%;
        left: 0;
        bottom: 0;
        position: relative;
    }
    .ledger-stat {
        margin: 0px 0 0;
    }
    .ledger-book {
        margin-bottom: 100px;
    }
    .ledger-head thead tr th.active {
        display: block !important;
        width: 100%;
    }
    .ledger-book .h-table tbody .ledger-row td {
        position: relative;
        padding-left: 80px !important;
    }
    .Advance-Search{
        p{
            line-height: 18px;
            margin-bottom: 10px;
        }
        .mb-2{
            margin-bottom: 10px !important;
        }
        .mt-2{
            margin-top: 10px;
        }
        .mb-1{
            margin-bottom: 0;
        }
    }  
}
