<div
  appTranslate
  [file]="'inventory'"
  (commonLocaleData)="commonLocaleData = $event"
  (localeData)="localeData = $event"
  >
  <hamburger-menu class="hamburger-menu"></hamburger-menu>
  <giddh-page-loader *ngIf="isLoading"></giddh-page-loader>
  <div class="container-fluid py-3" *ngIf="!isLoading">
    <div class="stock-balance-wrapper">
      <div>
        <div class="d-flex column-gap-15">
            <mat-select
                name="selectedBranch"
                [multiple]="true"
                [(ngModel)]="selectedBranch"
                class="stock-mat-salect group-select"
                [placeholder]="localeData?.header?.select_branch"
            >
                <mat-option class="balance-options">
                    <ngx-mat-select-search
                        [noEntriesFoundLabel]="localeData?.header?.no_result_found"
                        [formControl]="branchesDropdown"
                        [placeholderLabel]="localeData?.header?.select_branch"
                        class="mat-select-search-inventory"
                        [clearSearchInput]="false"
                    >
                        <i class="icon-cross" ngxMatSelectSearchClear></i>
                    </ngx-mat-select-search>
                </mat-option>

                <mat-option class="balance-options" *ngFor="let branch of branches" [value]="branch?.uniqueName">
                    {{ branch?.name }}
                </mat-option>
            </mat-select>
        </div>

        <div class="searching-stocks mt-3 w-100 overflow-x-auto">
          <div class="list-head d-flex align-items-center">
              <div class="account-name h-100 d-flex align-items-center p-2">
                <p>Account Name</p>
              </div>
              <div class="unique-name-wrapper d-flex align-items-center justify-content-center">
              </div>
              <div class="wrapper-warehouse">
                  <div class="warehouse-list d-flex align-items-center position-relative font-size-15">
                    <div class="warehouse-list-head odd-even-shade d-flex flex-column align-items-center justify-content-center">
                        <p class="warehouse-list-head-num font-size-15 font-weight-semibold">Branch Name</p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="stock-table-wrapper d-flex flex-column">
              <div class="stock-table cursor-pointer d-grid">
                  <div class="grid-title-left p-2">
                      <p class="inner-name mat-table-sticky font-weight-semibold w-100 h-100 font-size-15 theme-foreground-color d-flex align-items-center">Account Name</p>
                  </div>
                  <div class="stock-warehouse-list-container d-flex">
                      <div class="grid-list-div list-grid stock-list-unexpanded align-items-center justify-content-center unique-name d-inline-flex h-auto">
                            <span class="unique-name-wrap">Unique Name</span>
                      </div>

                      <div class="warehouse-list-wrapper d-flex">
                            <div class="warehouse-list warehouse-even">
                                <div class="stock-list-body h-100">
                                    <div class="stock-list-box h-100">
                                        <div class="stock-list-unexpanded h-100 w-100">
                                            <div class="stock-list-box-heading proper-spacing-list h-100 w-100 d-flex justify-content-center align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="no-data-found text-center" *ngIf="stocksList?.length <= 0">
                  <img src="{{ imgPath }}search-data-not-found.svg" alt="result not found" /><br />
                  {{ commonLocaleData?.app_no_result_found }}
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
