@import "../../assets/css/color.scss";
.btn-attachment {
    border: 1px solid #999999;
    color: #666666;
    padding: 10px;
}
.create-receipt-footer {
    padding: 20px 0;
    background-color: #cccccc;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.create-receipt-footer .btn-default {
    background: #e6e6e6;
    color: #333;
    border-color: #e6e6e6;
}
.create-receipt-footer .form-group {
    margin-bottom: 20px;
}
#dropdown-basic {
    transform: translateY(0%) !important;
}
.line-height-12 {
    a {
        line-height: 12px;
        color: $deep-sky-blue;
    }
}
