mat-form-field {
    &.mat-mdc-form-field {
        &:not(.initial-height, .mat-mdc-paginator-page-size-select, :has(textarea)) {
            width: 100%;
            --mat-form-field-container-height: var(--custom-mat-form-field-height);
            .mdc-text-field--outlined {
                height: var(--mat-form-field-container-height);
                .mat-mdc-form-field-infix {
                    --mat-form-field-container-vertical-padding: 10px;
                    min-height: var(--mat-form-field-container-height);
                    height: var(--mat-form-field-container-height);
                    padding-top: 14px !important;
                    padding-bottom: 14px !important;
                }
            }

            .mat-mdc-text-field-wrapper {
                .mat-mdc-form-field-flex {
                    .mat-mdc-floating-label {
                        top: 22px;
                    }
                }
                &.mdc-text-field--outlined {
                    .mdc-notched-outline--upgraded {
                            .mdc-floating-label--float-above {
                            --mat-mdc-form-field-label-transform: translateY(-27.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
                            }
                        }
                    }
                }
                
            }

        // .mdc-text-field--outlined {
        //     .mat-mdc-form-field-infix {
        //         --mat-form-field-container-vertical-padding: 10px;
        //     }
        // }
    }
}
.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface{
        color: var(--color-white) !important;
        font-size: var(--font-size-15);
    }
}
.mat-mdc-snack-bar-container.error {
    .mdc-snackbar__surface{
        background-color: var(--color-red) !important;
    }
}
.mat-mdc-snack-bar-container.success {
    .mdc-snackbar__surface{
        background-color: var(--color-green) !important;
    }
}
.mat-mdc-snack-bar-container.warning, .mat-mdc-snack-bar-container.info {
    .mdc-snackbar__surface{
        background-color: var(--color-deep-orange) !important;
        .mdc-snackbar__label{
            color: var(--color-black) !important;
        }
        .snack-close-button {
            color: var(--color-black) !important;
        }
    }

}

.mat-mdc-snack-bar-container {
    .mat-mdc-snack-bar-label {
        padding: 0px !important;
    }
    padding: 0px !important;
    &.error {
        .snack-container {
            background-image: url("../images/failure.svg");
            background-position-y: center;
        }
    }
    &.success {
        .snack-container {
            background-image: url("../images/success.svg");
            background-position-y: center;
        }
    }
    &.warning {
        .snack-container {
            background-image: url("../images/exclamation-black.svg");
            background-position-y: center;
        }
    }
    &.info {
        .snack-container {
            background-image: url("../images/info-black.svg");
            background-position-y: center;
        }
    }
}

// .ledger-book {
//     .left-col-new,
//     .right-col-new {
//         .mat-grid-list {
//             .mat-grid-tile {
//                 .mat-grid-tile-content {
//                     position: relative !important;
//                     width: 100%;
//                     justify-content: flex-start !important;
//                 }
//                 &:nth-child(3) {
//                     .mat-grid-tile-content {
//                         justify-content: center !important;
//                         flex-direction: column;
//                         align-items: flex-end;
//                     }
//                 }
//             }
//         }
//     }
// }

// Temp code for bootstrap unit we fully migrate code
.form-group {
    font-size: var(--font-size-15);
    display: block;
    margin-bottom: 1rem;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;

    .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        // margin-bottom: 0;
        // margin-bottom: 1rem;
    }
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}