.basic > thead > tr > th {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 11px;
    color: #7d7d7d;
    top: 13px;
}

.arrow-filter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    color: #a9a9a9;
    cursor: pointer;
    top: 12px;
}

.icon-pointer {
    .activeTextColor {
        color: #757bb9 !important;
    }
}
.icon-sort-asc,
.icon-sort-dsc {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-left: 6px;
}
.icon-sort-asc.activeTextColor {
    color: #757bb9 !important;
}
.td_in_searchBox {
    div {
        display: flex;
        i {
            margin-top: 1px;
            color: #757bb9;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }
}

.td_in_searchBox .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: #1c1c1c;
    border: none;
    background-color: #f2f2f2;
}
.td_in_searchBox {
    // padding: 0px !important;
    position: relative;
}
