.basic>thead>tr>th {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 11px;
    color: #7d7d7d;
    top: 13px;
}

.arrow-filter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    color: #A9A9A9;
    cursor: pointer;
    top: 12px;
}

.icon-pointer .activeTextColor {
    color: #FF5F00 !important;
}