<div class="container-fluid" *ngIf="!isPettyCashPendingReportLoading && !isRowExpand">
    <div class="table-responsive">
        <table
            mat-table
            class="w-100 mat-mobile-view"
            [dataSource]="expensesItems"
            matSort
            (matSortChange)="sortChange($event)"
            [matSortActive]="pettycashRequest.sortBy"
            [matSortDirection]="pettycashRequest.sort"
        >
            <ng-container matColumnDef="s_no">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">#</span>
                    {{ expenses.index + 1 }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="entry_date">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef mat-sort-header>{{
                    commonLocaleData?.app_date
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        commonLocaleData?.app_date
                    }}</span>
                    {{ expenses.entryDate }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="submitted_by">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef
                    >{{ localeData?.submitted_by }}
                </mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        localeData?.submitted_by
                    }}</span>
                    {{ expenses.createdBy.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="account">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef>{{
                    commonLocaleData?.app_account
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        commonLocaleData?.app_account
                    }}</span>
                    <i class="dot-icon dot-warning" *ngIf="expenses.entryType === 'sales'"></i>
                    <i class="dot-icon dot-success" *ngIf="expenses.entryType === 'deposit'"></i>
                    <i class="dot-icon dot-primary" *ngIf="expenses.entryType === 'expense'"></i>
                    {{ expenses.particularAccount.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef mat-sort-header>{{
                    commonLocaleData?.app_amount
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        commonLocaleData?.app_amount
                    }}</span>
                    {{ expenses.currencySymbol }}
                    {{ expenses.amount | giddhCurrency }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="receipt">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef>{{
                    localeData?.payment_receipt
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        localeData?.payment_receipt
                    }}</span>
                    <span *ngIf="expenses.baseAccountCategory === 'OTHER'" class="font-12 text-gray mr-r05">{{
                        commonLocaleData?.app_ac
                    }}</span>
                    <span
                        *ngIf="expenses.baseAccountCategory === 'BANK'"
                        class="font-12 text-gray icon-atm-card mr-r05"
                    ></span>
                    <span
                        *ngIf="expenses.baseAccountCategory === 'CASH'"
                        class="font-12 text-gray icon-cash mr-r05"
                    ></span>
                    {{ expenses.baseAccount.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="file">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef
                    >{{ localeData?.file }}
                </mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{ localeData?.file }}</span>
                    <i *ngIf="expenses.fileNames" class="icon-image middle text-gray"></i>
                    {{ expenses.fileNames }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef>{{
                    commonLocaleData?.app_description
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <span class="responsive-label" [hidden]="!expensesItems?.length">{{
                        commonLocaleData?.app_description
                    }}</span>
                    <span *ngIf="expenses.description">{{ expenses.description }}</span
                    ><span *ngIf="!expenses.description">-</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell [hidden]="!expensesItems?.length" *matHeaderCellDef>{{
                    commonLocaleData?.app_action
                }}</mat-header-cell>
                <mat-cell *matCellDef="let expenses">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="showApproveConfirmPopup(approveConfirm, expenses); $event.stopPropagation()"
                    >
                        {{ localeData?.approve }}
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="pendingTableColumns; sticky: true"></mat-header-row>
            <mat-row
                class="cp"
                *matRowDef="let expenses; columns: pendingTableColumns"
                (click)="editExpense(expenses)"
            ></mat-row>
        </table>
    </div>
</div>

<div *ngIf="pettyCashPendingReportResponse?.totalItems > 20" class="pagination-wrapper">
    <pagination
        [totalItems]="pettyCashPendingReportResponse?.totalItems"
        [maxSize]="5"
        class="pagination-sm"
        [boundaryLinks]="true"
        [itemsPerPage]="20"
        [rotate]="false"
        previousText="&#9668;"
        nextText="&#9658;"
        (pageChanged)="pageChanged($event)"
        [firstText]="commonLocaleData?.app_first"
        [previousText]="commonLocaleData?.app_previous"
        [nextText]="commonLocaleData?.app_next"
        [lastText]="commonLocaleData?.app_last"
    ></pagination>
</div>

<div *ngIf="isPettyCashPendingReportLoading">
    <giddh-page-loader></giddh-page-loader>
</div>

<div class="no-data" *ngIf="pettyCashPendingReportResponse?.results?.length === 0">
    <no-data></no-data>
</div>

<ng-template #approveConfirm>
    <petty-cash-approve-confirm-dialog
        [selectedEntryForApprove]="selectedEntryForApprove"
        [approveEntryRequestInProcess]="approveEntryRequestInProcess"
        [localeData]="localeData"
        [commonLocaleData]="commonLocaleData"
        [pettyCashEntry]="accountEntryPettyCash"
        [entryAgainstObject]="entryAgainstObject"
        (approveEntry)="hideApproveConfirmPopup($event)"
    >
    </petty-cash-approve-confirm-dialog>
</ng-template>
