@import "../../../../assets/css/color.scss";
.basic > thead > tr > th {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 11px;
    color: $gray;
    top: 13px;
}

.arrow-filter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    color: $dim-gray;
    cursor: pointer;
    top: 12px;
}

.icon-pointer {
    cursor: pointer;
    .active-text-color {
        color: $wild-blue-yonder !important;
    }
}

.icon-sort-asc,
.icon-sort-dsc {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-left: 6px;
}

.icon-sort-asc.active-text-color {
    color: $wild-blue-yonder !important;
}

.td-search-box {
    div {
        display: flex;
        i {
            margin-top: 1px;
            color: $wild-blue-yonder;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }
}

.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: $nero;
    border: none;
    background-color: $white-smoke;
}
.td-search-box {
    // padding: 0px !important;
    position: relative;
}
