/* UNUSED COMPONENT CLASS: basic - Auto-commented by script
.basic > thead > tr > th {
    position: relative;
}
*/

/* UNUSED COMPONENT CLASS: icon-pointer - Auto-commented by script
.icon-pointer {
    cursor: pointer;
    /* UNUSED COMPONENT CLASS: active-text-color - Auto-commented by script
.active-text-color {
        color: var(--text-primary-color) !important;
    }
}
*/
/* UNUSED COMPONENT CLASS: icon-sort-asc - Auto-commented by script
.icon-sort-asc {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-left: 6px;
}
*/
.icon-sort-asc.active-text-color {
    color: var(--text-primary-color) !important;
}
.td-search-box {
    div {
        display: flex;
        i {
            margin-top: 1px;
            // color: var(--text-primary-color);
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }
}

/* UNUSED COMPONENT CLASS: input-container - Auto-commented by script
.td-search-box .input-container input {
    height: 36px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: var(--color-black);
    border: none;
    background-color: var(--color-light-gray);
}
*/
/* UNUSED COMPONENT CLASS: td-search-box - Auto-commented by script
.td-search-box {
    position: relative;
}
*/
.action-btn{
    button{
        min-width: 90px;
    }
}
table{
    .mat-mdc-entry{
        width: 12%;
    }
    .mat-mdc-submit{
        width: 10%;
    }
}
.responsive-label {
    display: none;
}