.merge-btn {
    padding: 8px 16px;
    width: 95px;
}

.form-box .btn {
    width: 95px;
}

.item-unique ul {
    padding-left: 30px;
    list-style: none;
}
.move-to-group {
    padding: 0 15px;
}
.export-group-ledger {
    margin-right: 15px;
}
.btn-share {
    width: 100px;
    margin-bottom: 5px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .modal-share-group {
        max-width: 500px !important;
    }
}
.loader-parent-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.master-export {
    margin: 0 auto;
    height: calc(100vh - 94px);
}