<div class="aside-dialog-wrapper">
    <div cdkFocusInitial class="dialog-header">
        <span class="font-size-16">{{ inputData?.localeData?.revision_history }}</span>
        <button matIconButton mat-dialog-close role="button" aria-label="Close">
            <i class="icon-cross"></i>
        </button>
    </div>
    <div mat-dialog-content class="create-discount-aside dialog-body">
        <div class="aside-pane-form position-relative p-3 h-100 overflow-auto">
            <giddh-page-loader [cssClass]="'my-0'" *ngIf="isVoucherVersionsInProgress$ | async"></giddh-page-loader>
            <ng-container *ngIf="!(isVoucherVersionsInProgress$ | async)">
                <ng-container *ngFor="let item of versionHistory?.items; let lastItem = last">
                    <div class="py-2" [ngClass]="{ 'border-bottom': lastItem }" *ngFor="let change of item?.changes">
                        <p class="text-light">{{ item.versionTime | giddhDate: giddhDateFormatWithTime : false }}</p>
                        <p>
                            {{ change.message }}
                            <span class="text-light">{{ item?.userName }}</span>
                        </p>
                    </div>
                </ng-container>
            </ng-container>
            <div
                class="mt-5 text-center font-size-24"
                *ngIf="!(isVoucherVersionsInProgress$ | async) && versionHistory?.items?.length === 0"
            >
                {{ inputData?.commonLocaleData?.app_no_result_found }}
            </div>
            <mat-paginator
                *ngIf="!(isVoucherVersionsInProgress$ | async) && versionHistory?.totalItems > pageSizeOptions[0]"
                (page)="handlePageChange($event)"
                [length]="versionHistory?.totalItems"
                [pageSize]="pagination.count"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="pageSizeOptions"
                [hidePageSize]="false"
                [pageIndex]="pagination.page - 1"
            ></mat-paginator>
            <section class="mb-custom-80"></section>
        </div>
    </div>
</div>
