<div class="mobile-home-view">
    <div class="mobile-item-wrapper clearfix">
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <!-- <i class="icon-edit-pencil1"></i> -->
                    <img src="../../assets/images/mobile-home-icon/vendor.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Vendor</h4>
                </div>
            </div>

        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <!-- <i class="icon-users"></i> -->
                    <img src="../../assets/images/mobile-home-icon/customer.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Customer</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Aging Report</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/journal-vouchar.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Journal Voucher</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/warehouse.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Warehouse</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/manufaturing.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Manufacturing</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/jobwork.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Job Work</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/report.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Report</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/setting.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Setting</h4>
                </div>
            </div>
        </div>

        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/sales-invoice.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Sales Invoice</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/invoice-management.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Invoice Management</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/branch-transfer.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Branch Transfer</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/inventory.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Inventory</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/integration.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Integration</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/dashboard.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Dashboard</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/permission.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Permission</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/import.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Import</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/GSTR.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>GSTR</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/user-details.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>User Details</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/debit-note.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Debit Note</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/petty-cash.svg">
                </div>
                <div class="mobile-item-name">
                    <h4>Petty Cash Management</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/linkedin-accounts.svg">
                </div>
                    <div class="mobile-item-name">
                        <h4>Linked Accounts</h4>
                    </div>
                </div>
        </div>      
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/create-account.svg">
                </div>
                    <div class="mobile-item-name">
                        <h4>Create Account</h4>
                    </div>
                </div>
        </div>      
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/audit-log.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Audit Log</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/trial-balance.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Trial Balance</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/e-way-bill.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>E-Way Bill</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/daybook.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Day Book</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/credit-note.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Credit Note</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/subscription.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Subscription</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/new-old-invoice.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>New v/s Old Invoices</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/balance-sheet.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Balance Sheet</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/invoice.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Invoice</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/create-debit-note.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Create Dedit Note</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/create-credit-note.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Create Credit Note</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/estimate.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Estimate</h4>
                </div>
            </div>
        </div> 
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/proforma.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Proforma</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/onboarding.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Onboarding</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/tax.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Taxes</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/vat.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>VAT</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/GSTR.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>GSTR</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/import-TB.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Import > Trial Balance</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/import-tally.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Import Data from TALLY</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/profit-loss.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Profit and Loss</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/search.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Search</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/purchase-managment.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Purchase Management</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/company-import-export.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Company Import Export</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/purchase-record.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Purchase Record</h4>
                </div>
            </div>
        </div>
        <div class="mobile-single-item">
            <div class="single-item-wrapper">
                <div class="mobile-item-icon">
                    <img src="../../assets/images/mobile-home-icon/cash-invoice.svg">
                </div>
                <div class="mobile-item-name">
                        <h4>Cash Invoice</h4>
                </div>
            </div>
        </div>             
    </div>
    <!-- search  -->
    <div class="serach-accounts-groups">
        <div class="search-groups">
            <div class="single-search-group">
                <div class="group-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    <img src="../../assets/images/mobile-home-icon/aging-report.svg">
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
        </div>
    </div>
    <div class="serach-accounts-groups">
        <div class="search-groups search-accounts">
            <div class="single-search-group">
                <div class="group-icon">
                    A/C
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    A/C
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    A/C
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    A/C
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
            <div class="single-search-group">
                <div class="group-icon">
                    A/C
                </div>
                <div class="group-name">
                    <h4>India Enterprises Pvt Ltd.</h4>
                    <p>Current Liabilities > Current Assets</p>
                </div>
            </div>
        </div>  
    </div>
</div>