@import "../../assets/css/color.scss";
.mobile-home-view {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    background-color:$lavender;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    .search-field{
        padding: 10px 5px;
        input{
            width: 100%;
            border: 1px solid $gainsboro;
            padding: 5px 20px;
            border-radius: 30px;
            height: 36px;
            font-size: 14px;
        }
    }
    .mobile-item-wrapper{
        .mobile-single-item {
            float: left;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            box-sizing: border-box;
            padding-bottom: 0;
            &:nth-child(2n){
                margin-right: 0;
            }
            .single-item-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                min-height: 90px;
                border-radius: 2px;
            }
            .mobile-item-icon{
                width:60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border-radius: 11px;    
                margin-bottom: 8px;
                img{
                    width: 45px;
                }
                i{
                    font-size: 20px;
                    display: block;
                    color:$midnight-blue;
                }
            }
            .mobile-item-name{
                h4{
                    font-size: 12px;
                    color: $midnight-blue;
                    text-align: center;
                    font-family: 'opensans-semibold';
                    height: 50px;
                    line-height: inherit;
                    width: 70px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                }
            }
            &:hover {
                border-color:$midnight-blue;
                .mobile-item-icon{
                    i{
                        color:$midnight-blue;
                    }
                }
                .mobile-item-name{
                    h4{        
                        color:$midnight-blue;
                        width: 70px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .serach-accounts-groups{
        padding: 15px 0 0;
        border-top:1px solid $gainsboro;
        margin: 15px 15px 0;
        .single-search-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .group-icon{
                padding-right: 10px;
                color: $gray;
                font-size: 12px;
            }
            .group-name{
                h4{
                    font-size: 12px;
                    color:$nero;
                }
                p{
                    font-size: 10px;
                    color: $gray;
                }
            }
        }
        .search-accounts{
            .single-search-group{
                h4{
                    line-height: 0.5;
                }
                .account-unique-name{
                    color:$matterhorn;
                    font-size: 10px;
                }
            }
        }
    }
}
.mobile-home-search{
    background-color: #EEEFFB;
    display: flex;
    align-items: center;
    padding: 0 15px;
    .company-name-alice{
        width: 36px;
        height: 36px;
        background-color: $chetwode-blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: $white;
    }
    .input-group.account-search{
        margin: 0;
        padding: 15px 0 15px 10px;
        width: calc(100% - 36px);
        position: relative;
        .input-group-addon{
            background-color: #fff;
            border-radius: 25px 0 0 25px;
            padding-left: 20px;
            line-height: 1.2;
            height: 36px;
            padding-right: 5px;
            border-color: $gainsboro !important;
            color: $gray;
            i{
                position: relative;
                top: 1px;
            }
        }
        i.icon-cross{
            position: absolute;
            right: 15px;
            top: 25px;
            z-index: 3;
            color: $gray;
        }
        input{
            border-radius: 0 25px 25px 0 !important;
            background: #fff !important;
            height: 36px;
            border-left: none;
            &:focus{
                border-color: $gainsboro !important;
            }
        }
    }
}

/*responsive*/
@media(max-width:320px){
    .mobile-home-view {
        .mobile-item-wrapper{
            .mobile-single-item {
                .mobile-item-name{
                    h4{
                        width: 70px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}