<div
    id="live"
    appTranslate
    [file]="'home/profit-loss'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <mat-card>
        <div class="panel-heading">
            <strong>{{ localeData?.chart_title }}</strong>
            <div class="pull-right dashboard-filter">
                <i class="icon-refresh mr-1" (click)="refreshChart()"></i>
                <div (click)="showGiddhDatepicker($event)">
                    <input
                        type="text"
                        readonly
                        name="selectedDateRange"
                        [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                        class="giddh-datepicker form-control date-range-picker dashboard-datepicker"
                    />
                </div>
            </div>
        </div>

        <mat-card-content class="position-relative">
            <div class="dashboard-reconnect-block" *ngIf="requestInFlight">
                <giddh-page-loader [cssClass]="'mt-0 mb-0'"></giddh-page-loader>
            </div>
            <div class="dashboard-doughnut-chart-container">
                <canvas id="profitLossChartCanvas" [ngClass]="{ 'hide-chart': !dataFound }"></canvas>
                <div class="no-data-available" *ngIf="!dataFound">
                    <img src="{{ imgPath }}noDataChart.svg" [alt]="commonLocaleData?.app_no_data_found" />
                </div>
            </div>
            <div class="chart-div mt-auto" *ngIf="!requestInFlight">
                <div class="clearfix mb-2 total-income">
                    <div>
                        <span class="mr-b1 due-amount">{{ localeData?.net_profit_loss }}</span>
                        <span class="total-amount pull-right">
                            {{ netProfitLossType }}
                            <span class="d-inline-flex">
                                <amount-field
                                    [amount]="netProfitLoss"
                                    [currencySymbol]="amountSettings.baseCurrencySymbol"
                                    [currencyCode]="activeCompany?.baseCurrency"
                                >
                                </amount-field>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="clearfix mb-2 total-income">
                    <div>
                        <span class="mr-b1 due-amount">{{ localeData?.total_income }}</span>
                        <span class="total-amount pull-right total-expenses-text">
                            <span class="d-inline-flex">
                                <amount-field
                                    [amount]="totalIncome"
                                    [currencySymbol]="amountSettings.baseCurrencySymbol"
                                    [currencyCode]="activeCompany?.baseCurrency"
                                >
                                </amount-field>
                            </span>
                            {{ totalIncomeType }}
                        </span>
                    </div>
                </div>
                <div class="clearfix total-income">
                    <div>
                        <span class="mr-b1 due-amount">{{ localeData?.total_expense }}</span>
                        <span class="total-amount pull-right total-income-text">
                            <span class="d-inline-flex">
                                <amount-field
                                    [amount]="totalExpense"
                                    [currencySymbol]="amountSettings.baseCurrencySymbol"
                                    [currencyCode]="activeCompany?.baseCurrency"
                                >
                                </amount-field> </span
                            >{{ totalExpenseType }}
                        </span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #datepickerTemplate>
    <div class="datepicker-modal">
        <div class="modal-body">
            <app-datepicker-wrapper
                [inputStartDate]="selectedDateRange?.startDate"
                [inputEndDate]="selectedDateRange?.endDate"
                [alwaysShowCalendars]="true"
                [ranges]="datePickerOptions"
                [selectedRangeLabel]="selectedRangeLabel"
                [showCustomRangeLabel]="true"
                [showClearButton]="false"
                [showCancel]="true"
                [linkedCalendars]="true"
                [showDropdowns]="true"
                (rangeClicked)="dateSelectedCallback($event)"
                (datesUpdated)="dateSelectedCallback($event)"
                [keepCalendarOpeningWithRange]="false"
                [showRangeLabelOnInput]="false"
                [dateFieldPosition]="dateFieldPosition"
            ></app-datepicker-wrapper>
        </div>
    </div>
</ng-template>
