:host {
    position: fixed;
    left: auto;
    top: 57px;
    right: 0;
    bottom: 0;
    max-width: 240px;
    width: 100%;
    z-index: 990;
    box-shadow: -1px 0 5px var(--color-sidebar-primary-box-shadow);
    &:after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-color: var(--color-primary-aside-host-after-background);
        top: -6px;
        right: 65px;
        z-index: 1;
        transform: rotate(45deg);
    }
}
:host.setting-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    background: var(--color-white);
    width: 240px;
    left: auto;
    right: 0;
    z-index: 999;
    .aside-help-header {
        display: none;
    }
}
:host.in #close {
    display: block;
    position: fixed;
    left: -41px;
    top: 0;
    z-index: 5;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 240px;
    width: 100%;
}
.aside-header {
    background-color: var(--color-white);
    padding: 20px 10px;
}
.aside-pane {
    padding: 0;
    background-color: var(--color-body-background);
    .aside-help-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        flex-direction: column;
        #close {
            position: absolute;
            right: 15px;
        }
        h4 {
            padding-top: 5px;
        }
    }
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.setting-items {
    padding: 5px 0 0;
    ul {
        padding: 0;
        list-style: none;
        font-size: 14px;
        font-family: "opensans-semibold";
        li {
            padding: 10px 20px;
            margin-bottom: 0px;
            a {
                cursor: pointer;
                img {
                    margin-right: 12px;
                }
                span {
                    color: var(--color-sidebar-primary-anchor-text);
                    &:first-child {
                        line-height: 1.6;
                        height: 20px;
                        display: inline-flex;
                        -webkit-box-align: center;
                        align-items: center;
                        width: 28px;
                        float: left;
                    }
                    &:last-child {
                        float: left;
                        width: 80%;
                    }
                }
            }
            &:hover {
                background-color: var(--color-sidebar-anchor-text-hover);
                a {
                    span {
                        color: var(--color-primary-right-sidebar-list-text-hover) !important;
                        i {
                            color: var(--color-primary-right-sidebar-list-text-hover) !important;
                        }
                    }
                    span {
                        color: var(--color-primary-right-sidebar-list-text-hover) !important;
                    }
                }
            }
        }
        .active-link {
            background-color: var(--color-sidebar-anchor-text-hover);
            a {
                span {
                    color: var(--color-primary-right-sidebar-list-text-hover) !important;
                    i {
                        color: var(--color-primary-right-sidebar-list-text-hover) !important;
                    }
                }
                span {
                    color: var(--color-primary-right-sidebar-list-text-hover) !important;
                }
            }
        }
    }
}
.setting-items ul li:hover a span i {
    color: var(--color-nero) !important;
}

:host.setting-sidebar {
    position: fixed;
    top: 57px;
    bottom: 0;
    min-height: 100vh;
    background: var(--color-white);
    width: 240px;
    left: auto;
    right: 0;
    z-index: 990;
    box-shadow: -2px -2px 15px var(--color-primary-common-box-shadow) !important;
    &:after {
        display: none;
    }
    .aside-pane {
        background: var(--color-white);
        overflow: initial;
        z-index: unset;
        .aside-help-header {
            display: none;
        }
        .back-to-main-slider {
            display: block;
            padding: 15px 15px 3px;
            margin-bottom: 0;
            &.setting-close-icon {
                padding: 15px 15px 15px;
            }
            img {
                width: 15px;
            }
            a {
                color: var(--color-primary-aside-pane-back-to-main-slider);
                span {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        .help-aside-body {
            .setting-items {
                ul {
                    li {
                        padding: 0px;
                        a {
                            display: flex;
                            align-items: flex-start;
                            padding: 7px 15px;
                        }
                    }
                }
            }
        }
    }
}

::ng-deep {
    .back-to-main-slider {
        .ng-star-inserted {
            color: var(--color-right-sidebar-back);
        }
    }
}

@media (max-height: 900px) {
    .aside-pane {
        .help-aside-body {
            padding-bottom: 25%;
        }
    }
}
@media (max-width: 767px) {
    :host.setting-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        background: var(--color-white);
        width: 240px;
        left: auto;
        right: 0;
        z-index: 999999;
        width: 270px;
        .back-to-main-slider {
            background-color: var(--color-giddh-blue);
            a {
                display: flex;
                align-items: center;
                color: var(--color-white) !important;
                span {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 15px;
                        display: flex;
                    }
                }
            }
        }
        .help-aside-body {
            ul {
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    width: 90%;
                    left: 5%;
                    bottom: -16px;
                    height: 1px;
                    background-color: var(--color-iron);
                }
            }
        }
        .help-aside-body {
            .setting-items {
                ul {
                    li {
                        a {
                            padding: 10px 15px !important;
                            span {
                                i {
                                    color: var(--color-abbey);
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    :host {
        max-width: 240px;
    }
    :host .aside-pane {
        max-width: 240px;
    }
}
@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
@media (max-height: 700px) {
    .help-aside-body {
        height: 100%;
        overflow-y: scroll;
    }
}
