
<ng-container appTranslate [file]="'aside-setting'" (localeData)="localeData = $event" (commonLocaleData)="commonLocaleData = $event" (translationComplete)="translationComplete($event)">
    <div class="aside-pane" (clickOutside)="closeAsidePaneIfMobile($event)">
        <div class="aside-help-header relative">
            <h2>{{localeData?.page_heading}}</h2>
            <div id="close" class="cursor-pointer" (click)="closeAsidePane($event)"><i class="icon-cross"></i></div>
            <div class="search-field relative">
                <i class="icon-search position-absolute"></i>
                <input type="text" class="form-control" name="search" #searchField [(ngModel)]="search"
                    (ngModelChange)="searchMenu($event)" [placeholder]="localeData?.search_settings">
            </div>
        </div>
        <div class="help-aside-body">
            <div class="back-to-main-slider" [ngClass]="{'setting-close-icon' : isMobileScreen }">
                <a href="javascript:;">
                    <span *ngIf="!isMobileScreen" (click)="goToPreviousPage()">
                        <i class="icon-back-arrow"></i>
                        {{commonLocaleData?.app_back}}
                    </span>
                    <span *ngIf="isMobileScreen" (click)="closeAsidePane($event)">
                        <i class="icon-cross"></i>
                        {{localeData?.setting}}
                    </span>
                </a>
            </div>
            <div class="setting-items">
                <ul class="mb-3" *ngFor="let section of filteredSettingsPageTabs;">
                    <li *ngFor="let tab of section;">
                        <a class="d-block clearfix" [routerLink]="[tab.link]" (click)="closeAsidePane($event)">
                            <span [innerHTML]="tab.icon"></span>
                            <span>{{tab.label}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>