<div class="aside-pane">
    <div class="aside-help-header">
        <h2>Settings</h2>
    <div id="close" class="cursor-pointer" (click)="closeAsidePane($event)"><i class="icon-cross"></i></div></div>
    <div class="help-aside-body">
        <div class="search-field relative">
            <i class="icon-search pos-abs"></i>
            <input type="text" class="form-control" placeholder="Search Settings">
        </div>
        <div class="setting-items">
            <ul class="mb-3">
                <li>
                    <a>
                        <img src="{{imgPath}}setting-icons/company-profile.svg">
                        <span>Company Profile</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/user.svg">
                        <span>User Profile</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/manage-user.svg">
                        <span>Manage User(Permission)</span>
                    </a>
                </li>
            </ul>
            <ul class="mb-3">
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/integration.svg">
                        <span>Integration</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/linked-accounts.svg">
                        <span>Linked Accounts</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/tags.svg">
                        <span>Tags</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/trigger.svg">
                        <span>Trigger</span>
                    </a>
                </li>
            </ul>
            <ul class="mb-3">
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/financial-year.svg">
                        <span>Financial Year</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/branch.svg">
                        <span>Branch</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/discount.svg">
                        <span>Discount</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/warehouse.svg">
                        <span>Warehouse</span>
                    </a>
                </li>
            </ul>
            <ul class="mb-3">
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/invoice-managment.svg">
                        <span>Invoice Management</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{{imgPath}}/setting-icons/subscription.svg">
                        <span>Subscription</span>
                    </a>
                </li>                   
            </ul>
        </div>
    </div>
