.appearance-none {
    background: none !important;
    border: 0 !important;
    font-size: 16px;
    color: var(--color-nero);
}

.sidebar-menu {
    min-height: 100vh;
    background: var(--color-nero);
    color: var(--color-white);
    float: right;
    position: relative;
}

.menu-list {
    padding: 0;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: var(--color-white);
    padding: 7px 12px;
    display: block;
    font-size: 14px;
}

.menu-list li a:hover {
    background: var(--color-nero);
}

.menu-list li a.isHidden {
    color: var(--color-abbey);
}

.active-child {
    background: var(--color-nero);
    padding-left: 20px;
}
.active-parent {
    background: var(--color-nero);
}
.active-child > span {
    margin-right: 2px;
}

.dblUnderlined {
    border-bottom: 1px double;
    text-decoration: underline;
}
