.account_listbar {
    overflow-y: hidden;
    height: 100vh;
    width: 250px;
    background: white;
    position: absolute;
    left: -250px;
    z-index: 0;
}

.appearance_none {
    background: none !important;
    border: 0 !important;
    font-size: 16px;
    color: #333333;
}

.sidebar_menu {
    min-height: 100vh;
    background: #262626;
    color: white;
    float: right;
    /* width: 250px; */
    position: relative;
}

.menu_list {
    padding: 0;
}

.menu_list li {
    list-style: none;
}

.menu_list li a {
    color: #fff;
    padding: 7px 12px;
    display: block;
    font-size: 14px;
}

.menu_list li a:hover {
    background: #333;
}

.menu_list li a.isHidden {
    color: #4d4d4d;
}

.active-child {
    background: #333333;
    padding-left: 20px;
}
.active-parent {
    background: #333333;
}
.active-child > span {
    margin-right: 2px;
}

.dblUnderlined {
    border-bottom: 1px double;
    text-decoration: underline;
}
