@import '../../../assets/css/color.scss';

.account_listbar {
    overflow-y: hidden;
    height: 100vh;
    width: 250px;
    background: $white;
    position: absolute;
    left: -250px;
    z-index: 0;
}

.appearance-none {
    background: none !important;
    border: 0 !important;
    font-size: 16px;
    color: $night-rider;
}

.sidebar-menu {
    min-height: 100vh;
    background: $nero;
    color: $white;
    float: right;
    position: relative;
}

.menu_list {
    padding: 0;
}

.menu_list li {
    list-style: none;
}

.menu_list li a {
    color: $white;
    padding: 7px 12px;
    display: block;
    font-size: 14px;
}

.menu_list li a:hover {
    background: $night-rider;
}

.menu_list li a.isHidden {
    color: $matterhorn;
}

.active-child {
    background: $night-rider;
    padding-left: 20px;
}
.active-parent {
    background: $night-rider;
}
.active-child > span {
    margin-right: 2px;
}

.dblUnderlined {
    border-bottom: 1px double;
    text-decoration: underline;
}
