.load-bar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    height: 6px;
}

.load-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: var(--color-loader-primary-load-bar-and-nth-3rd-child-background);
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: var(--color-nero);
    animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
    background-color: var(--color-blue);
    animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
    background-color: var(--color-loader-primary-load-bar-and-nth-3rd-child-background);
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}
