.branch-transfer-report .basic > thead > tr > th {
    border-top: 1px solid var(--color-iron) !important;
}

.icon-pointer.active-text-color {
    color: var(--color-blue);
}

.voucher-type-dropdown {
    display: inline-block;
    .btn {
        padding: 0 8px;
        margin-right: 0px;
    }
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 36px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-iron);
    color: var(--color-gray);
    left: 0;
    font-size: var(--font-size-18);
}
.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-iron);
    font-size: var(--font-size-14);
    color: var(--color-giddh-blue);
    display: inline-flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 10px !important;
    .icon-cross {
        margin-right: 5px;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
    &:active {
        box-shadow: none;
        outline: none;
    }
}
@media only screen and (max-width: 767px) {
    .basic > thead > tr > th {
        min-width: initial;
    }
}
