@import "../../../../assets/css/color.scss";
.td_in_searchBox {
    div {
        i {
            margin-top: 1px;
            color: $iconColorTh;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }
}

.td_in_searchBox div {
    display: flex;
}
.d-flex {
    display: flex;
}
.input-group {
    position: relative;
    input.form-control {
        padding-left: 35px !important;
        background-image: url("../../../../assets/images/calender.svg") !important;
        background-size: 17px !important;
        background-position: 9px 8px !important;
        background-repeat: no-repeat !important;
        padding-left: 45px !important;
        position: relative;
        z-index: 99;
        cursor: default;
        width: 100%;
        &:focus {
            border-color: $inputBorderColor;
        }
    }
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $inputBorderColor;
    color: #999999;
}
.input-wrapper {
    display: block !important;
    width: 220px !important;
    position: relative;
    height: 36px !important;
    &:before {
        position: absolute;
        content: "";
        display: block;
        height: 36px;
        width: 1px;
        background-color: #d9d9d9;
        left: 37px !important;
        z-index: 100;
        top: 0;
    }
}
.advance-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #1a237e;
    background: #fff;
}

.input-grp-dateRangePicker input.form-control {
    padding-left: 45px !important;
    width: 220px;
}
.voucher-type-dropdown {
    display: inline-block;
}
.voucher-type-dropdown .btn {
    padding: 0 8px;
    margin-right: 0px;
}
.basic > tbody > tr > td,
.basic > thead > tr > th {
    padding: 8px 10px;
}
.invoice-footer h3 {
    font-size: 16px;
    color: #999999;
    display: inline-block;
    margin-right: 10px;
}
.invoice-footer h1 {
    font-size: 28px;
    color: #333;
    display: inline-block;
}
