.custom-input-group-addon {
    min-width: 40px;
    border-radius: 0;
    padding: 0;
    border: none;
}

.bg_wrap {
    background: #f5f5f5;
}

.entry_table thead th {
    font-weight: normal;
}

.entry_table tbody tr td {
    padding: 0;
}

.entry_table tbody tr td .form-control {
    background: transparent !important;
    border: 0;
    border-radius: 0 !important;
    height: 28px;
    line-height: 28px;
    padding: 0 6px !important;
}

.entry_table tbody tr td .form-control.focus:focus {
    background: #ccc !important;
}

.activeRow {
    background: #e5e5e5;
}

.confirmation_box {
    background: white;
    display: inline-block;
    padding: 20px;
    width: 230px;
    position: absolute;
    right: 280px;
    z-index: 9;
    min-height: 135px;
    margin: 20px 0;
}

.total_box {
    padding: 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 20px 0;
}

.total_box>span {
    padding: 0 20px;
}

.account_listbar {
    overflow-y: hidden;
    height: 100vh;
    width: 250px;
    background: white;
    position: absolute;
    left: -250px;
    z-index: 0;
}

.appearance_none {
    background: none !important;
    border: 0 !important;
    font-size: 16px;
    color: #333333;
}

.sidebar_menu {
    min-height: 100vh;
    background: #262626;
    color: white;
    float: right;
    /* width: 250px; */
    position: relative;
}

.menu_list {
    padding: 15px 0;
}

.menu_list li {
    list-style: none
}

.menu_list li a {
    color: #fff;
    padding: 4px 12px;
    display: block;
}

.menu_list li a.isHidden {
    color: #4d4d4d
}