* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: "opensans-regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,
html {
    height: 100%;
}
.fullheighrow {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #29293e;
    color: #fff;
}
.contentcenter {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.centercol {
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    text-align: center;
}
.anoicon {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
.anoicon img {
    width: 88px;
    height: 88px;
}
h1 {
    font-size: 27px;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 50px;
}
h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0px 0px 15px;
}
h4 {
    color: #7f7f8b;
    margin-bottom: 10px;
}
.desktopapp {
    float: left;
    text-align: left;
}
ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
.desktopapp ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    text-align: center;
}
.desktopapp ul li a {
    background: #424254;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-decoration: none;
    padding-top: 2px;
}
.desktopapp ul li a .fa {
    font-size: 16px;
    vertical-align: middle;
    color: #fff;
}
.mobileapp {
    float: right;
    text-align: left;
}
.mobileapp ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    text-align: center;
}
.mobileapp ul li a {
    background: #424254;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-top: 2px;
}
.mobileapp ul li a span {
    margin-top: 2px;
    display: inline-block;
}
.mobileapp ul li a .fa {
    font-size: 16px;
    vertical-align: middle;
    color: #fff;
}
.tagline {
    font-size: 20px;
    color: #7f7f8b;
    width: 100%;
    float: left;
    margin: 90px 0px 0px;
}
.tagline a {
    color: #3772e8;
    font-style: italic;
}
