<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>

<div class="fullheighrow">
    <div class="contentcenter">
        <div class="centercol">
            <div class="anoicon"><img src="./assets/images/ano-icon.svg"></div>
            <h1>We are Sorry! <br>we do not support IE yet</h1>
            <h2>Download our App:</h2>
            <div class="desktopapp">
                <h4>Desktop App</h4>
                <ul>
                    <li><a href="https://s3-ap-south-1.amazonaws.com/giddh-app-builds/giddh-{{apkVersion}}.dmg"><i
                                class="fa fa-apple" aria-hidden="true"></i></a></li>
                    <li><a
                            href="https://s3-ap-south-1.amazonaws.com/giddh-app-builds/giddh%20Setup%20{{apkVersion}}.exe"><i
                                class="fa fa-windows" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-linux" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>
            <div class="mobileapp">
                <h4>Mobile App</h4>
                <ul>
                    <li><a href="https://itunes.apple.com/in/app/giddh-tb/id999743672?mt=8"
                            target="_blank"><span>ios</span></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.giddh.app" target="_blank"><i
                                class="fa fa-android" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <br>
            <p class="tagline" style="font-size: 20px;">or we work better on <a
                    href="https://www.google.com/chrome/">Chrome</a></p>
        </div>
    </div>
</div>
