.mat-mdc-raised-button {
    &:not(:disabled, .mat-primary) {
        --mdc-protected-button-label-text-color: var(--color-black) !important;
        --mdc-protected-button-container-color: var(--color-white) !important;
    }
}

.mat-mdc-icon-button {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}
