.mat-calendar-controls {
    margin: 0% calc(33% / 7 - 16px) !important;
    .mdc-button {
        .mdc-button__label {
            color: var(--color-white);
        }
    }
    .mat-mdc-icon-button {
        &.mat-mdc-button-base {
            --mdc-icon-button-state-layer-size: 40px;
        }
    }
}

.mat-calendar-header {
    padding: 2px 8px 2px 8px !important;
    background-color: var(--bg-primary-color);
    color: var(--color-white);
}

.mat-calendar-arrow {
    border-top-color: var(--color-white) !important;
    fill: var(--color-white) !important;
}

.mat-datepicker-content {
    .mat-calendar {
        height: 325px !important;
        background-color: var(--theme-background-color);
    }
    .mat-calendar-next-button,
    .mat-calendar-previous-button {
        color: var(--color-white) !important;
    }
}

.mat-calendar-content {
    padding: 0px 8px 0px 8px !important;
}

.mat-calendar-body-label {
    visibility: hidden !important;
}

.mat-calendar-table-header {
    th {
        padding: 10px 0 10px 0 !important;
        color: var(--theme-foreground-color);
        &.mat-calendar-table-header-divider {
            padding: 0px !important;
        }
    }
}
