.mdc-dialog {
    .mdc-dialog__content {
        padding: 15px !important;
    }
    .mdc-dialog__content,
    .mat-mdc-dialog-actions {
        background-color: var(--theme-background-color);
    }
    .mat-mdc-dialog-content {
        max-height: unset;
    }
}

//Common class to make dialog background transparent add this in panel class
.dialog-bg-transparent {
    .mat-mdc-dialog-surface {
        background-color: var(--color-transparent) !important;
    }
}
