mat-form-field {
    &.mat-mdc-form-field {
        &:not(.initial-height, .mat-mdc-paginator-page-size-select, :has(textarea)) {
            width: 100%;
            --mat-form-field-container-height: var(--custom-mat-form-field-height);
            .mdc-text-field--outlined {
                height: var(--mat-form-field-container-height);
                .mat-mdc-form-field-infix {
                    --mat-form-field-container-vertical-padding: 10px;
                    min-height: var(--mat-form-field-container-height);
                    height: var(--mat-form-field-container-height);
                    padding-top: 14px !important;
                    padding-bottom: 14px !important;
                }
            }

            .mat-mdc-text-field-wrapper {
                .mat-mdc-form-field-flex {
                    .mat-mdc-floating-label {
                        top: 22px;
                    }
                }
                &.mdc-text-field--outlined {
                    .mdc-notched-outline--upgraded {
                        .mdc-floating-label--float-above {
                            --mat-mdc-form-field-label-transform: translateY(-27.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
                        }
                    }
                }
            }
        }
    }
}