.mat-mdc-slide-toggle {
    --mat-slide-toggle-selected-hover-handle-color: var(--mat-slide-toggle-selected-handle-color);
    --mat-slide-toggle-selected-pressed-handle-color: var(--mat-slide-toggle-selected-handle-color);
    --mat-slide-toggle-selected-focus-handle-color: var(--mat-slide-toggle-selected-handle-color);
    --mat-slide-toggle-selected-track-color: var(--mat-sys-primary);
    --mat-slide-toggle-selected-icon-color: var(--mat-sys-primary);
    .mdc-label {
        line-height: var(--line-height-36);
    }
}
