.cp-none {
    cursor: default !important;
}
.transactions-summary-table {
    white-space: nowrap;
}
.transactions-overview {
    .gstr-transactions-summary {
        .title {
            font-weight: 500;
        }
    }
}
