.account {
    .account-name {
        -webkit-line-clamp: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.row-height {
    height: 37px;
}
.pl-grid-row {
    border-bottom: 1px solid var(--border-color) !important;
    height: 38px;
}
