<form #formDiv name="addEditStockForm" [formGroup]="addStockForm" novalidate="">

    <section class="col-xs-12 col-md-10 col-lg-9">
        <div class="row">
            <div class="">
                <div class="form_header">
                    <h2 *ngIf="!isUpdatingStockForm">Create Stock</h2>
                    <h2 *ngIf="isUpdatingStockForm">Update Stock</h2>
                </div>

                <div class="">
                    <section class="form_body witBg clearfix mrBChldLbl">
                        <div class="row">

                            <div class="form-group col-xs-4">
                                <label>Name <sup>*</sup></label>
                                <!-- (change)="generateUniqueName()" -->
                                <input type="text" name="name" class="form-control" formControlName="name" />
                            </div>
                            <div class="form-group col-xs-4">
                                <label>Unique Name</label>
                                <input type="text" name="uniqueName" UniqueNameDirective textCaseChangeDirective [control]="addStockForm.get('uniqueName')" class="form-control" formControlName="uniqueName">
                            </div>

                            <div class="form-group col-xs-4">
                                <label>Stock Unit <span class="required">*</span></label>
                                <sh-select [options]="stockUnitsDropDown$ | async" formControlName="stockUnitCode" [placeholder]="'Choose a parent unit'" [multiple]="false" [ItemHeight]="33"></sh-select>
                                <!--<select2 [data]="stockUnitsDropDown$ | async" [options]="options" formControlName="stockUnitCode"></select2>-->
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-xs-4">
                                <label>Open. Qty</label>
                                <input type="text" name="openingQuantity" decimalDigitsDirective [DecimalPlaces]="4" (change)="calCulateRate()" class="form-control" formControlName="openingQuantity">
                            </div>

                            <div class="form-group col-xs-4">
                                <label>Amount</label>
                                <input type="text" name="openingAmount" (change)="calCulateRate()" decimalDigitsDirective [DecimalPlaces]="2" class="form-control" formControlName="openingAmount">
                            </div>

                            <div class="form-group col-xs-4">
                                <label>Rate/stock unit</label>
                                <input type="text" name="stockRate" formControlName="stockRate" class="form-control" placeholder="Auto calculate">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label class="" for="enablePurchase">
                          <input type="checkbox" formControlName="enablePurchase" id="enablePurchase" name="enablePurchase">Purchase Information</label>
                                </div>
                                <div class="form-group">
                                    <label class="boldHead">Account Name</label>
                                    <sh-select [options]="purchaseAccountsDropDown$ | async" formControlName="purchaseAccountUniqueName" [placeholder]="'select purchase account'" [multiple]="false" [ItemHeight]="33" [disabled]="!addStockForm.controls['enablePurchase'].value"></sh-select>
                                    <!--<select2 [data]="purchaseAccountsDropDown$ | async" [options]="PurchaseDropDownOptions" formControlName="purchaseAccountUniqueName"></select2>-->
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Unit</label>
                                    </div>
                                    <div class="col-xs-5">
                                        <label>Rate</label>
                                    </div>
                                </div>

                                <div formArrayName="purchaseUnitRates">
                                    <div class="row" *ngFor="let item of addStockForm.get('purchaseUnitRates')['controls']; let i=index;let f = first; let l = last">
                                        <div [formGroupName]="i">
                                            <div class="form-group col-xs-6">
                                                <sh-select [options]="stockUnitsDropDown$ | async" formControlName="stockUnitCode" [multiple]="false" [placeholder]="'Select Unit'" [ItemHeight]="33" [disabled]="!addStockForm.controls['enablePurchase'].value"></sh-select>
                                                <!--<select2 [data]="stockUnitsDropDown$ | async" [options]="UnitDropDownOptions" formControlName="stockUnitCode"></select2>-->
                                            </div>
                                            <div class="form-group col-xs-5">
                                                <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" formControlName="rate" [disabled]="!addStockForm.controls['enablePurchase'].value" />
                                            </div>
                                        </div>
                                        <div class="pull-right mrT pdR2">
                                            <button class="btn-xs btn-default" (click)="addPurchaseUnitRates(i)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                                            <button class="btn-xs btn-default" (click)="removePurchaseUnitRates(i)" *ngIf="!l"><i class="fa fa-times dlet"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label class="" for="enableSales">
                          <input type="checkbox" formControlName="enableSales" id="enableSales" name="enableSales">Sales Information</label>
                                </div>
                                <div class="form-group">
                                    <label class="">Account Name</label>
                                    <sh-select [options]="salesAccountsDropDown$ | async" formControlName="salesAccountUniqueName" [multiple]="false" [disabled]="!addStockForm.controls['enableSales'].value" [placeholder]="'select sales account'" [ItemHeight]="33"></sh-select>
                                    <!--<select2 [data]="salesAccountsDropDown$ | async" [options]="SalesDropDownOptions" formControlName="salesAccountUniqueName" [value]="addStockForm.controls['salesAccountUniqueName'].value"></select2>-->
                                </div>



                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Unit</label>
                                    </div>
                                    <div class="col-xs-5">
                                        <label>Rate</label>
                                    </div>
                                </div>

                                <div formArrayName="saleUnitRates">
                                    <div class="row" *ngFor="let item of addStockForm.get('saleUnitRates')['controls']; let i=index; let f = first; let l = last">
                                        <div [formGroupName]="i">
                                            <div class="form-group col-xs-6">
                                                <sh-select [options]="stockUnitsDropDown$ | async" formControlName="stockUnitCode" [multiple]="false" [disabled]="!addStockForm.controls['enableSales'].value" [placeholder]="'Select Unit'" [ItemHeight]="33"></sh-select>
                                                <!--<select2 [data]="stockUnitsDropDown$ | async" [options]="UnitDropDownOptions" formControlName="stockUnitCode"></select2>-->
                                            </div>
                                            <div class="form-group col-xs-5">
                                                <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" formControlName="rate" [disabled]="!addStockForm.controls['enableSales'].value" />
                                            </div>
                                        </div>
                                        <div class="pull-right mrT pdR2">
                                            <button class="btn-xs btn-default" (click)="addSaleUnitRates(i)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                                            <button class="btn-xs btn-default" (click)="removeSaleUnitRates(i)" *ngIf="!l"><i class="fa fa-times dlet"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label>Select Parent Group <sup>*</sup></label>
                                <sh-select [options]="groupsData$ | async" formControlName="parentGroup" required [placeholder]="'Select Group'" [multiple]="false" [ItemHeight]="33" (selected)="groupSelected($event)"></sh-select>
                            </div>

                            <div class="form-group col-xs-6">
                                <label>HSN Code</label>
                                <input type="text" class="form-control" formControlName="hsnNumber">
                            </div>
                        </div>

                        <div class="row mrT1">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label class="" for="isFsStock">
                  <input type="checkbox" formControlName="isFsStock" id="isFsStock" [disabled]="" name="isFsStock">
                    Is it a finished stock? (Manufacturing/Combo)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 text-right">
                            <div class="row">

                                <button type="button" *ngIf="!isUpdatingStockForm" (click)="resetStockForm()" class="btn btn-default" [disabled]="addStockForm.invalid">Cancel</button>
                                <button type="submit" *ngIf="!isUpdatingStockForm" [ladda]="isStockAddInProcess$ | async" (click)="submit()" class="btn btn-success" [disabled]="addStockForm.invalid">Save</button>
                                <button type="button" *ngIf="isUpdatingStockForm" [ladda]="isStockUpdateInProcess$ | async" class="btn btn-primary" (click)="update()" [disabled]="addStockForm.invalid">Update</button>
                                <button *ngIf="isUpdatingStockForm" [ladda]="isStockDeleteInProcess$ | async" class="btn btn-danger" (click)="deleteStock()">
                                    <!-- <span class="glyphicon glyphicon-trash"></span> -->
                                    Delete Stock
                                </button>

                            </div>
                        </div>
                    </section>
                </div>


            </div>
        </div>
    </section>

    <div class="clearfix"></div>
    <!--manufactre details  -->

    <section class="col-xs-12 col-md-10 col-lg-9 box mrT2" *ngIf="addStockForm.value.isFsStock">
        <div class="">
            <h1 class="section_head bdrB"><strong>{{addStockForm.controls['name'].value}} (Made with)</strong></h1>
            <table class="noHover basic width100">
                <tbody formGroupName="manufacturingDetails">
                    <tr class="output_row">
                        <td class="form-group">
                            <label>Output Quantity <sup>*</sup></label>
                            <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" name="manufacturingQuantity" placeholder="Quantity" formControlName="manufacturingQuantity" />
                        </td>
                        <td class="form-group">
                            <label>Stock Unit <sup>*</sup></label>
                            <sh-select [options]="stockUnitsDropDown$ | async" formControlName="manufacturingUnitCode" [placeholder]="'Select Unit'" [multiple]="false" [ItemHeight]="33"></sh-select>
                        </td>
                        <td *ngIf="addStockForm.controls['manufacturingDetails'].controls['manufacturingQuantity'].value">
                            <label class="d-block">&nbsp;</label>
                            <span class="width100 fs16"><strong>= ( {{addStockForm.controls['manufacturingDetails'].controls['manufacturingQuantity'].value}} {{addStockForm.controls['manufacturingDetails'].controls['manufacturingUnitCode'].value}} {{addStockForm.controls['name'].value}} )</strong></span>
                        </td>
                        <td colspan="1">&nbsp;</td>
                    </tr>
                    <tr class="noHover bdrT table_label" style="border-color:#ccc;">
                        <td><strong>Input Stock Name</strong></td>
                        <td><strong>Stock Quantity</strong></td>
                        <td><strong>Stock Unit</strong></td>
                        <td colspan="1"></td>
                    </tr>

                    <ng-container formArrayName="linkedStocks">
                        <tr *ngFor="let list of addStockForm.controls['manufacturingDetails'].controls['linkedStocks'].controls;let i = index;" [formGroupName]="i" class="fsstock">
                            <td>{{list.value.stockUniqueName}}</td>
                            <td>{{list.value.stockUnitCode}}</td>
                            <td>{{list.value.quantity}}</td>
                            <td>
                                <a href class="btn btn-default" href="javascript:void(0)" (click)="editItemInLinkedStocks(list, i)">Edit</a>
                                <a href class="btn btn-danger" href="javascript:void(0)" (click)="removeItemInLinkedStocks(i)">Delete</a>
                            </td>
                        </tr>
                    </ng-container>



                    <tr class="noHover">
                        <td>
                            <sh-select [options]="stockListDropDown$ | async" formControlName="linkedStockUniqueName" [multiple]="false" [placeholder]="'Select'" (selected)="checkIfLinkedStockIsUnique($event)" [placeholder]="'Select Stock'" [ItemHeight]="33"></sh-select>
                        </td>
                        <td>
                            <sh-select [options]="stockUnitsDropDown$ | async" formControlName="linkedStockUnitCode" [multiple]="false" [placeholder]="'Select Unit'" [ItemHeight]="33"></sh-select>
                        </td>
                        <td>
                            <input type="text" formControlName="linkedQuantity" decimalDigitsDirective [DecimalPlaces]="4" name="quantity" placeholder="Stock Quantity" class="form-control">
                        </td>
                        <td>
                            <button type="button" *ngIf="!editModeForLinkedStokes" class="btn btn-sm btn-success pull-left" (click)="addItemInLinkedStocks()" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                            addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                            addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">Add</button>
                            <button class="btn btn-sm btn-primary pull-left" *ngIf="editModeForLinkedStokes" (click)="updateItemInLinkedStocks(1)" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                            addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                            addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">Update</button>
                        </td>
                    </tr>
                    <tr *ngIf="showManufacturingItemsError">
                        <td colspan="4 text-warning">
                            All fields are required to add Item
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>

    <!-- <section class="col-xs-12 col-md-10 col-lg-9" *ngIf="addStockForm.value.isFsStock">
        <div class="mrT1">
            <div class="row">
                <table class="width100 basic table">
                    <thead>
                        <tr>
                            <th colspan="3" class="">
                                {{addStockForm.controls['name'].value}} (Made with)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr formGroupName="manufacturingDetails" class="noHover">
                            <td class="col-xs-8">
                                <div class="clearfix row">
                                    <div class="form-group col-xs-4">
                                        <sh-select [options]="stockListDropDown$ | async" formControlName="linkedStockUniqueName" [multiple]="false" [placeholder]="'Select'" (selected)="checkIfLinkedStockIsUnique($event)" [placeholder]="'Select Stock'" [ItemHeight]="33"></sh-select>
                                       
                                    </div>

                                    <div class="form-group col-xs-4 row">
                                        <sh-select [options]="stockUnitsDropDown$ | async" formControlName="linkedStockUnitCode" [multiple]="false" [placeholder]="'Select Unit'" [ItemHeight]="33"></sh-select>
                                       </div>

                                    <div class="form-group col-xs-3">
                                        <input type="text" formControlName="linkedQuantity" decimalDigitsDirective [DecimalPlaces]="4" name="quantity" placeholder="Stock Quantity" class="form-control">
                                    </div>
                                    <div class="form-group pull-right col-xs-1">
                                        <button type="button" *ngIf="!editModeForLinkedStokes" class="btn btn-sm btn-success pull-right" (click)="addItemInLinkedStocks()" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">Add</button>
                                        <button class="btn btn-sm btn-primary pull-right" *ngIf="editModeForLinkedStokes" (click)="updateItemInLinkedStocks(1)" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">
                       Update</button>
                                    </div>
                                </div>

                                <div class="clearfix mrT1 mrB1" *ngIf="showManufacturingItemsError">
                                    <div class="col-xs-12">
                                        <p class="text-warning">
                                            All fields are required to add Item
                                        </p>
                                    </div>
                                </div>

                                <section class="linkstock">
                                    <table class="col-xs-12 linkStockTbl">
                                        <tbody formArrayName="linkedStocks">
                                            <tr *ngFor="let list of addStockForm.controls['manufacturingDetails'].controls['linkedStocks'].controls;let i = index;" [formGroupName]="i">
                                                <td class="col-xs-4 list-row">
                                                    <span></span>
                                                    <p>{{list.value.stockUniqueName}}</p>
                                                </td>
                                                <td class="col-xs-2">{{list.value.stockUnitCode}}</td>
                                                <td class="col-xs-2">{{list.value.quantity}}</td>
                                                <td class="col-xs-4">
                                                    <a href class="btn btn-default" href="javascript:void(0)" (click)="editItemInLinkedStocks(list, i)">Edit</a>
                                                    <a href class="btn btn-danger" href="javascript:void(0)" (click)="removeItemInLinkedStocks(i)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </td>
                            <td class="text-center" style="border-left: 1px solid #dfe2e5;">
                                <span class="total-ico">=</span>
                            </td>
                            <td class="col-xs-3">
                                <section class="clearfix pr">
                                    <div class="col-md-2 col-lg-2 col-xs-12">
                                        &nbsp;
                                    </div>
                                    <p class="lead">
                                        <small>
								 {{addStockForm.controls['manufacturingDetails'].controls['manufacturingQuantity'].value}}
								{{addStockForm.controls['manufacturingDetails'].controls['manufacturingUnitCode'].value}}
                </small> {{addStockForm.controls['name'].value}}
                                    </p>
                                </section>
                                <section class="clearfix pr">
                                    <div class="">
                                        <div class="form-group">
                                            <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" name="manufacturingQuantity" placeholder="Quantity" formControlName="manufacturingQuantity" />
                                        </div>
                                        <div class="form-group">
                                            <sh-select [options]="stockUnitsDropDown$ | async" formControlName="manufacturingUnitCode" [placeholder]="'Select Unit'" [multiple]="false" [ItemHeight]="33"></sh-select>
                                        </div>
                                    </div>

                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> -->

    <div class="clearfix"></div>


</form>

<!--ngbusy  -->
<div *ngIf="showLoadingForStockEditInProcess$ | async">

    <div class="ng-busy ng-trigger ng-trigger-flyInOut" [ngStyle]="{
    'position': 'absolute',
    'background-color': 'rgba(216, 216, 203, 0.5)',
    'top': (formDivBoundingRect | async)?.top + 'px',
    'bottom': (formDivBoundingRect | async)?.bottom + 'px',
    'left': (formDivBoundingRect | async)?.left + 'px',
    'right': (formDivBoundingRect | async)?.right + 'px',
    'height': (formDivBoundingRect | async)?.height + 'px',
    'width': (formDivBoundingRect | async)?.width + 'px'
  }">
        <div>
            <div class="ng-busy-default-wrapper">
                <div class="ng-busy-default-sign">
                    <div class="ng-busy-default-spinner">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                        <div class="bar9"></div>
                        <div class="bar10"></div>
                        <div class="bar11"></div>
                        <div class="bar12"></div>
                    </div>
                    <div class="ng-busy-default-text">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ngbusy  -->