<form name="addEditStockForm" [formGroup]="addStockForm" novalidate="">
  <section class="col-xs-12 col-md-9 col-lg-7">
    <div class="pd2 pdB0">
      <div class="row form_title">
        <label ng-if="!vm.addStockObj.stockGroup" class="">Add Stock</label>
      </div>

      <div class="row">
        <section class="form-theme clearfix mrBChldLbl">
          <div class="row mr0">

            <div class="form-group col-xs-6 pdL0 pdR">
              <label>Name<span class="required">*</span></label>
              <input type="text" name="name" class="form-control" formControlName="name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"
                (change)="generateUniqueName()">
            </div>

            <div class="form-group col-xs-6 pdR0 pdL">
              <label>Unique Name</label>
              <input type="text" name="uniqueName" class="form-control" formControlName="uniqueName" UniqueNameDirective>
            </div>

          </div>

          <div class="row mr0">

            <div class="form-group col-xs-3 pdL0 pdR">
              <label>Stock Unit<span class="required">*</span></label>
              <select2 [data]="stockUnitsDropDown$ | async" [options]="options" formControlName="stockUnitCode"></select2>
            </div>

            <div class="form-group col-xs-3 pdR">
              <label>Open. Qty</label>
              <input type="number" name="openingQuantity" class="form-control" formControlName="openingQuantity">
            </div>

            <div class="form-group col-xs-3 pdL">
              <label>Rate/stock unit</label>
              <input type="text" name="stockRate" formControlName="stockRate" class="form-control" placeholder="calculate later">
            </div>

            <div class="form-group col-xs-3 pdL pdR0 ">
              <label>Amount</label>
              <input type="number" name="openingAmount" class="form-control" formControlName="openingAmount">
            </div>

          </div>

          <div class="row mr0 col-xs-6 pdL0 pdR">
            <div class="form-group col-xs-12 pdL0 pdR">
              <label class="boldHead">Purchase Acc</label>
              <select2 [data]="purchaseAccountsDropDown$ | async" [options]="options" formControlName="purchaseAccountUniqueName"></select2>
            </div>

            <div class="row mrB">
              <div class="col-xs-5">
                <label>Unit</label>
              </div>
              <div class="col-xs-5">
                <label>Rate</label>
              </div>
            </div>

            <div formArrayName="purchaseUnitRates">
              <div class="row mrB1" *ngFor="let item of addStockForm.controls['purchaseUnitRates'].controls; let i=index">
                <div [formGroupName]="i">
                  <div class="col-xs-5">
                    <select2 [data]="stockUnitsDropDown$ | async" [options]="options" formControlName="stockUnitCode"></select2>
                  </div>
                  <div class="col-xs-5">
                    <input type="number" class="form-control" formControlName="rate">
                  </div>
                </div>
                <div class="col-xs-2 mutliple_unit">
                  <button (click)="addPurchaseUnitRates()"><i class="fa fa-plus add_row"></i></button>
                  <button (click)="removePurchaseUnitRates(i)"><i class="fa fa-times dlet"></i></button>
                </div>
              </div>
            </div>
          </div>


          <div class="row mr0 col-xs-6 pdL pdR0">
            <div class="form-group col-xs-12 pdL0 pdR">
              <label class="boldHead">Sales Acc</label>
              <select2 [data]="salesAccountsDropDown$ | async" [options]="options" formControlName="salesAccountUniqueName"></select2>
            </div>



            <div class="row mrB">
              <div class="col-xs-5">
                <label>Unit</label>
              </div>
              <div class="col-xs-5">
                <label>Rate</label>
              </div>
            </div>

            <div formArrayName="saleUnitRates">
              <div class="row mrB1" *ngFor="let item of addStockForm.controls['saleUnitRates'].controls; let i=index">
                <div [formGroupName]="i">
                  <div class="col-xs-5">
                    <select2 [data]="stockUnitsDropDown$ | async" [options]="options" formControlName="stockUnitCode"></select2>
                  </div>
                  <div class="col-xs-5">
                    <input type="number" class="form-control" formControlName="rate">
                  </div>
                </div>
                <div class="col-xs-2 mutliple_unit">
                  <button (click)="addSaleUnitRates()"><i class="fa fa-plus add_row"></i></button>
                  <button (click)="removeSaleUnitRates(i)"><i class="fa fa-times dlet"></i></button>
                </div>
              </div>
            </div>

          </div>

          <div class="row mrT1">
            <div class="col-xs-12">
              <div class="checkbox">
                <label class="isFsStock" for="isFsStock">
                  <input type="checkbox" formControlName="isFsStock" id="isFsStock" name="isFsStock">
                    Is it a finished stock? <small>(Manufacturing/Combo)</small></label>
              </div>
            </div>
          </div>
        </section>
      </div>


    </div>
  </section>

  <div class="clearfix"></div>
  <section class="col-xs-12" *ngIf="addStockForm.value.isFsStock">
    <div class="pdL2 pdR2 mrB2">
      <div class="row">
        <table class="width100 table_theme mrT1 noPdTd addStockTbl">
          <thead>
            <tr>
              <th colspan="2" class="">
                (Made with)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-8">
                <div class="clearfix pdTBth15">
                  <div class="form-group col-xs-4">
                    <select2 [data]="stockListDropDown$ | async" [options]="{ width:'100%', multiple: false, placeholder: 'Select' }"
                     formControlName="linkedStockUniqueName"></select2>
                  </div>

                  <div class="form-group col-xs-3">
                    <select2 [data]="stockUnitsDropDown$ | async" [options]="{ width:'100%', multiple: false, placeholder: 'Select' }"
                     formControlName="linkedStockUnitCode"></select2>
                  </div>

                  <div class="form-group col-xs-3">
                    <input type="text" formControlName="linkedQuantity" name="quantity" placeholder="Stock Quantity" class="form-control">
                  </div>
                  <div class="form-group col-xs-2">
                    <button type="button" ng-if="!vm.mfsCmbItem.hasIdx" class="btn btn-sm btn-primary pull-right" (click)="addItemInLinkedStocks()"
                      [disabled]="addStockForm.controls['linkedStockUniqueName'].invalid || addStockForm.controls['linkedQuantity'].invalid ||
                                  addStockForm.controls['linkedStockUnitCode'].invalid"
                    >Add</button>
                     <button ng-if="vm.mfsCmbItem.hasIdx" class="btn btn-sm btn-primary pull-right" ng-click="vm.updateMfsCmbItem()">
                       Update</button>
                  </div>
                </div>

                <div class="clearfix mrT1 mrB1" ng-if="vm.mfsCmbItemErrMsg">
                  <div class="col-xs-12">
                    <!-- <p class="text-warning">{{vm.mfsCmbItemErrMsg}}</p> -->
                  </div>
                </div>

                <section class="linkstock">
                  <table class="col-xs-12 linkStockTbl" formGroupName="manufacturingDetails">
                    <tbody formArrayName="linkedStocks">
                      <tr *ngFor="let list of addStockForm.controls['manufacturingDetails'].controls['linkedStocks'].controls;let i = index;" [formGroupName]="i">
                        <td class="col-xs-4 list-row">
                          <span></span>
                           <p>{{list.value.stockUniqueName}}</p>
                        </td>
                         <td class="col-xs-2">{{list.value.stockUnitCode}}</td>
                         <td class="col-xs-2">{{list.value.quantity}}</td>
                        <td class="col-xs-4 action">
                          <a href class="btn btn-default" href="javascript:void(0)" (click)="editItemInLinkedStocks(list, i)">Edit</a>
                          <a href class="btn btn-default" href="javascript:void(0)" (click)="removeItemInLinkedStocks(i)">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </td>
              <td class="col-xs-4">
                <section class="clearfix pr">
                  <div class="col-md-2 col-lg-2 col-xs-12">
                    &nbsp;
                  </div>
                  <p class="lead col-md-10 col-lg-10 col-xs-12 mrB fw400">
                    <small>
								<!-- {{vm.addStockObj.manufacturingDetails.manufacturingQuantity}} -->
								<!-- {{vm.addStockObj.manufacturingDetails.manufacturingUnitCode}} -->
                </small>
              <!-- {{vm.addStockObj.name}} -->
                  </p>
                </section>
                <section class="clearfix pr">
                  <div class="form-group col-md-2 col-lg-2 col-xs-12">
                    <span class="total-ico">=</span>
                  </div>
                  <div class="form-group col-md-5 col-lg-5 col-xs-12">
                    <input type="text" class="form-control" ng-model="vm.addStockObj.manufacturingDetails.manufacturingQuantity" name="manufacturingQuantity"
                      placeholder="Quantity" />
                  </div>
                  <div class="form-group col-md-5 col-lg-5 col-xs-12">

                    <!-- <ui-select ng-model="vm.addStockObj.manufacturingDetails.manufacturingUnitCode" theme="bootstrap" search-enabled="true" title="Choose Unit">
                      <ui-select-match placeholder="Select">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="item.code as item in vm.customUnits | propsFilter: {name: $select.search, code: $select.search}">
                        <span ng-bind-html="item.name | hilite: $select.search"></span>
                        <small>(<span ng-bind-html="''+item.code | hilite: $select.search"></span>)</small>
                      </ui-select-choices>
                    </ui-select> -->

                  </div>
                </section>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <div class="col-xs-12 col-md-9 col-lg-7">
    <div class="pd pdT0">

      <button type="submit" (click)="submit()" class="btn btn-md btn-success mrR1 " [disabled]="addStockForm.invalid" click="submit()">Save</button>


      <button type="reset" class="btn btn-md btn-primary">
        Cancel
      </button>

    </div>
  </div>

</form>
