<form #formDiv name="addEditStockForm" [formGroup]="addStockForm" novalidate="">

    <section class="col-xs-12 col-md-9 col-lg-7">
        <div class="pd2 pdB0">
            <div class="row form_title">
                <h2 *ngIf="!isUpdatingStockForm">Add Stock</h2>
                <h2 *ngIf="isUpdatingStockForm">Update Stock</h2>
            </div>

            <div class="row">
                <section class="form-theme clearfix mrBChldLbl">
                    <div class="row mr0">

                        <div class="form-group col-xs-6 pdL0 pdR">
                            <label>Name<span class="required">*</span></label>
                            <input type="text" (change)="generateUniqueName()" name="name" class="form-control" formControlName="name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);">
                        </div>

                        <div class="form-group col-xs-6 pdR0 pdL">
                            <label>Unique Name</label>
                            <input type="text" name="uniqueName" class="form-control" formControlName="uniqueName" UniqueNameDirective>
                        </div>

                    </div>

                    <div class="row mr0">

                        <div class="form-group col-xs-3 pdL0 pdR">
                            <label>Stock Unit<span class="required">*</span></label>
                            <select2 [data]="stockUnitsDropDown$ | async" [options]="options" formControlName="stockUnitCode"></select2>
                        </div>

                        <div class="form-group col-xs-3 pdR">
                            <label>Open. Qty</label>
                            <input type="text" name="openingQuantity" (change)="calCulateRate()" class="form-control" formControlName="openingQuantity">
                        </div>

                        <div class="form-group col-xs-3 pdL">
                            <label>Rate/stock unit</label>
                            <input type="text" name="stockRate" formControlName="stockRate" class="form-control" placeholder="calculate later">
                        </div>

                        <div class="form-group col-xs-3 pdL pdR0 ">
                            <label>Amount</label>
                            <input type="text" name="openingAmount" (change)="calCulateRate()" class="form-control" formControlName="openingAmount">
                        </div>

                    </div>

                    <div class="row mr0 col-xs-6 pdL0 pdR">
                        <div class="form-group col-xs-12 pdL0 pdR">
                            <label class="boldHead">Purchase Acc</label>
                            <select2 [data]="purchaseAccountsDropDown$ | async" [options]="PurchaseDropDownOptions" formControlName="purchaseAccountUniqueName" [value]="addStockForm.controls['purchaseAccountUniqueName'].value"></select2>
                        </div>

                        <div class="row mrB">
                            <div class="col-xs-5">
                                <label>Unit</label>
                            </div>
                            <div class="col-xs-5">
                                <label>Rate</label>
                            </div>
                        </div>

                        <div formArrayName="purchaseUnitRates">
                            <div class="row mrB1" *ngFor="let item of addStockForm.get('purchaseUnitRates')['controls']; let i=index;let f = first; let l = last">
                                <div [formGroupName]="i">
                                    <div class="col-xs-5">
                                        <select2 [data]="stockUnitsDropDown$ | async" [options]="UnitDropDownOptions" formControlName="stockUnitCode"></select2>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="number" class="form-control" formControlName="rate">
                                    </div>
                                </div>
                                <div class="col-xs-2 mutliple_unit">
                                    <button (click)="addPurchaseUnitRates(i)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                                    <button (click)="removePurchaseUnitRates(i)" *ngIf="f || !l"><i class="fa fa-times dlet"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mr0 col-xs-6 pdL pdR0">
                        <div class="form-group col-xs-12 pdL0 pdR">
                            <label class="boldHead">Sales Acc</label>
                            <select2 [data]="salesAccountsDropDown$ | async" [options]="SalesDropDownOptions" formControlName="salesAccountUniqueName" [value]="addStockForm.controls['salesAccountUniqueName'].value"></select2>
                        </div>



                        <div class="row mrB">
                            <div class="col-xs-5">
                                <label>Unit</label>
                            </div>
                            <div class="col-xs-5">
                                <label>Rate</label>
                            </div>
                        </div>

                        <div formArrayName="saleUnitRates">
                            <div class="row mrB1" *ngFor="let item of addStockForm.get('saleUnitRates')['controls']; let i=index; let f = first; let l = last">
                                <div [formGroupName]="i">
                                    <div class="col-xs-5">
                                        <select2 [data]="stockUnitsDropDown$ | async" [options]="UnitDropDownOptions" formControlName="stockUnitCode"></select2>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="number" class="form-control" formControlName="rate">
                                    </div>
                                </div>
                                <div class="col-xs-2 mutliple_unit">
                                    <button (click)="addSaleUnitRates(i)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                                    <button (click)="removeSaleUnitRates(i)" *ngIf="f || !l"><i class="fa fa-times dlet"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mrT1">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label class="isFsStock" for="isFsStock">
                  <input type="checkbox" formControlName="isFsStock" id="isFsStock" name="isFsStock">
                    Is it a finished stock? <small>(Manufacturing/Combo)</small></label>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    </section>

    <div class="clearfix"></div>
    <!--manufactre details  -->
    <section class="col-xs-12" *ngIf="addStockForm.value.isFsStock">
        <div class="pdL2 pdR2 mrB2">
            <div class="row">
                <table class="width100 table_theme mrT1 noPdTd addStockTbl">
                    <thead>
                        <tr>
                            <th colspan="2" class="">
                                {{addStockForm.controls['name'].value}} (Made with)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr formGroupName="manufacturingDetails">
                            <td class="col-xs-8">
                                <div class="clearfix pdTBth15">
                                    <div class="form-group col-xs-4">
                                        <select2 [data]="stockListDropDown$ | async" [options]="{ width:'100%', multiple: false, placeholder: 'Select' }" formControlName="linkedStockUniqueName" (valueChanged)="checkIfLinkedStockIsUnique($event)"></select2>
                                    </div>

                                    <div class="form-group col-xs-3">
                                        <select2 [data]="stockUnitsDropDown$ | async" [options]="{ width:'100%', multiple: false, placeholder: 'Select' }" formControlName="linkedStockUnitCode"></select2>
                                    </div>

                                    <div class="form-group col-xs-3">
                                        <input type="text" formControlName="linkedQuantity" name="quantity" placeholder="Stock Quantity" class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <button type="button" *ngIf="!editModeForLinkedStokes" class="btn btn-sm btn-primary pull-right" (click)="addItemInLinkedStocks()" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">Add</button>
                                        <button class="btn btn-sm btn-primary pull-right" *ngIf="editModeForLinkedStokes" (click)="updateItemInLinkedStocks(1)" [disabled]="addStockForm.controls['manufacturingDetails'].controls['linkedStockUniqueName'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedQuantity'].invalid ||
                                  addStockForm.controls['manufacturingDetails'].controls['linkedStockUnitCode'].invalid">
                       Update</button>
                                    </div>
                                </div>

                                <div class="clearfix mrT1 mrB1" *ngIf="showManufacturingItemsError">
                                    <div class="col-xs-12">
                                        <p class="text-warning">
                                            All fields are required to add Item
                                        </p>
                                    </div>
                                </div>

                                <section class="linkstock">
                                    <table class="col-xs-12 linkStockTbl">
                                        <tbody formArrayName="linkedStocks">
                                            <tr *ngFor="let list of addStockForm.controls['manufacturingDetails'].controls['linkedStocks'].controls;let i = index;" [formGroupName]="i">
                                                <td class="col-xs-4 list-row">
                                                    <span></span>
                                                    <p>{{list.value.stockUniqueName}}</p>
                                                </td>
                                                <td class="col-xs-2">{{list.value.stockUnitCode}}</td>
                                                <td class="col-xs-2">{{list.value.quantity}}</td>
                                                <td class="col-xs-4 action">
                                                    <a href class="btn btn-default" href="javascript:void(0)" (click)="editItemInLinkedStocks(list, i)">Edit</a>
                                                    <a href class="btn btn-default" href="javascript:void(0)" (click)="removeItemInLinkedStocks(i)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </td>
                            <td class="col-xs-4">
                                <section class="clearfix pr">
                                    <div class="col-md-2 col-lg-2 col-xs-12">
                                        &nbsp;
                                    </div>
                                    <p class="lead col-md-10 col-lg-10 col-xs-12 mrB fw400">
                                        <small>
								 {{addStockForm.controls['manufacturingDetails'].controls['manufacturingQuantity'].value}}
								{{addStockForm.controls['manufacturingDetails'].controls['manufacturingUnitCode'].value}}
                </small> {{addStockForm.controls['name'].value}}
                                    </p>
                                </section>
                                <section class="clearfix pr">
                                    <div class="form-group col-md-2 col-lg-2 col-xs-12">
                                        <span class="total-ico">=</span>
                                    </div>
                                    <div class="form-group col-md-5 col-lg-5 col-xs-12">
                                        <input type="text" class="form-control" name="manufacturingQuantity" placeholder="Quantity" formControlName="manufacturingQuantity" />
                                    </div>
                                    <div class="form-group col-md-5 col-lg-5 col-xs-12">
                                        <select2 [data]="stockUnitsDropDown$ | async" [options]="{ width:'100%', multiple: false, placeholder: 'Select' }" formControlName="manufacturingUnitCode"></select2>
                                    </div>
                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-md-9 col-lg-7">
        <div class="pd pdT0">

            <button type="submit" *ngIf="!isUpdatingStockForm" [ladda]="isStockAddInProcess$ | async" (click)="submit()" class="btn btn-md btn-success mrR1 " [disabled]="addStockForm.invalid">Save</button>

            <button type="button" *ngIf="isUpdatingStockForm" [ladda]="isStockUpdateInProcess$ | async" class="btn btn-md btn-success mrR1" (click)="update()" [disabled]="addStockForm.invalid">Update</button>

            <button type="button" (click)="resetStockForm()" class="btn btn-md btn-primary">
        Cancel
      </button>

            <button *ngIf="isUpdatingStockForm" [ladda]="isStockDeleteInProcess$ | async" class="btn btn-md btn-danger pull-right gico-wrap" (click)="deleteStock()">
			<span class="icon-trash"></span>
			Delete Stock
		</button>

        </div>
    </div>
</form>

<!--ngbusy  -->
<div *ngIf="showLoadingForStockEditInProcess$ | async">

    <div class="ng-busy ng-trigger ng-trigger-flyInOut" [ngStyle]="{
    'position': 'absolute',
    'background-color': 'rgba(216, 216, 203, 0.5)',
    'top': (formDivBoundingRect | async)?.top + 'px',
    'bottom': (formDivBoundingRect | async)?.bottom + 'px',
    'left': (formDivBoundingRect | async)?.left + 'px',
    'right': (formDivBoundingRect | async)?.right + 'px',
    'height': (formDivBoundingRect | async)?.height + 'px',
    'width': (formDivBoundingRect | async)?.width + 'px'
  }">
        <div>
            <div class="ng-busy-default-wrapper">
                <div class="ng-busy-default-sign">
                    <div class="ng-busy-default-spinner">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                        <div class="bar9"></div>
                        <div class="bar10"></div>
                        <div class="bar11"></div>
                        <div class="bar12"></div>
                    </div>
                    <div class="ng-busy-default-text">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ngbusy  -->
