@import '../../../../../assets/css/color.scss';
.receipt-entry-content{
    .receipt-entry-top-detail {
        text-align: center;
        border-bottom: 1px solid $gainsboro;
        margin-bottom: 15px;
        padding: 0 0 15px;
        h5{
            font-family: 'opensans-semibold';
        }
        p{
            font-size: 14px;
        }
    }
    .receipt-entry-form{
        display: flex;
        font-size: 14px;
        flex-direction: column;
        min-height: 200px;
        .form-fields{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .single-field {
                margin-right: 15px;
                label{
                    margin-bottom: 5px;
                }
                &.set-width{
                    width: 30%;
                }
                .icon-arrow-down{
                    font-size: 14px;
                    position: absolute;
                    right: 5px;
                    top: 36px;
                    color: $nero;
                }
            }
        }
    }
}