@import '../../../../../assets/css/color.scss';
.receipt-entry-content{
    .receipt-entry-top-detail {
        text-align: center;
        border-bottom: 1px solid $gainsboro;
        margin-bottom: 15px;
        padding: 0 0 15px;
        h5{
            font-family: 'opensans-semibold';
        }
        p{
            font-size: 14px;
        }
    }
    .receipt-entry-form{
        display: flex;
        font-size: 14px;
        flex-direction: column;
        min-height: 200px;

            .form-fields{
                &:first-child{
                .single-field {
                    label{
                        display: flex;
                    }
                    .icon-arrow-down, .icon-cross{
                        top: 36px;
                    }
                }
            }
        }
        .form-fields{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .receipt-type, .select-tax{
                min-width: 180px;
            }
            .single-field {
                margin-right: 15px;
                label{
                    margin-bottom: 5px;
                    display: none;
                }
                &.set-width{
                    width: 100%;
                    max-width: 375px;
                }
                .icon-arrow-down, .icon-cross{
                    font-size: 14px;
                    position: absolute;
                    right: 5px;
                    top: 12px;
                    color: $nero;
                }
            }
        }
    }
}
