.receipt-entry-content {
    .receipt-entry-top-detail {
        text-align: center;
        border-bottom: 1px solid var(--color-iron);
        margin-bottom: 15px;
        padding: 0 0 15px;
        h5 {
            font-family: var(--font-semibold);
        }
        p {
            font-size: var(--font-size-14);
        }
    }
    .receipt-entry-form {
        display: flex;
        font-size: var(--font-size-14);
        flex-direction: column;
        min-height: 200px;

        .form-fields {
            &:first-child {
                .single-field {
                    label {
                        display: flex;
                    }
                    .icon-arrow-down,
                    .icon-cross {
                        top: 36px;
                    }
                }
            }
        }
        .form-fields {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .receipt-type,
            .select-tax,
            .about-invoice-detail {
                min-width: 180px;
                div.position-relative {
                    width: 100% !important;
                }
            }
            .single-field {
                margin-right: 15px;
                flex: 1 1 auto !important;
                label {
                    margin-bottom: 5px;
                    display: none;
                }
                &.set-width {
                    width: 100%;
                    max-width: 375px;
                }
                .icon-arrow-down {
                    font-size: var(--font-size-14);
                    position: absolute;
                    right: 5px;
                    top: 12px;
                    color: var(--color-nero);
                }
            }
            .to-cr-field {
                min-width: 40px;
                max-width: 40px;
            }
            .delete-row {
                display: flex;
                color: var(--color-nero);
                min-width: 18px;
                max-width: 18px;
                i.icon-cross {
                    font-size: var(--font-size-14);
                    color: var(--color-nero);
                    line-height: 2;
                }
            }
        }
    }
}
