.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 0 6px 12px var(--color-primary-common-box-shadow);
    border: 1px solid var(--color-common-secondary-border);
    border-radius: 0 0 2px 2px;
    min-width: max-content;
    margin-top: 1px;
    min-height: 100%;
}

.item {
    /* padding: 4px; */
    cursor: pointer;
    white-space: normal;
    word-break: normal;
    display: table;
    width: 100%;
    text-transform: capitalize;
}

.item.selected {
    color: var(--color-blue) !important;
    background: var(--color-dark-fog) !important;
}

.item.hilighted {
    color: var(--color-blue) !important;
    background: var(--color-dark-fog) !important;
}
.item.hilighted > a {
    color: var(--color-blue) !important;
}
.item > a {
    padding: 2px 10px;
}

.no-result-link > a {
    color: var(--color-blue) !important;
}

#noresult:hover {
    background: transparent;
}

.list-item {
    border-bottom: 1px solid var(--color-iron);
}

:host ::ng-deep .total-padding {
    height: calc(100vh - 52px) !important;
}
