<div #dd [style.width]="width">
    <!-- <div class="header" #mainContainer [class.sh-select-disabled]="disabled" [class.inline]="mode==='inline'" (click)="show($event)" [class.open]="isOpen" tabindex="0" (focus)="show($event)" (blur)="hide($event)" (keydown)="keydownUp($event)"> -->


    <!--region multiple-->
    <!-- <div *ngIf="multiple" [ngClass]="{'has-item':selected-valueues?.length}" style="background: white;" class="bdr">
          <ng-container *ngIf="selected-valueues?.length">
              <span class="chip" *ngFor="let sl of selected-valueues">
                  {{ sl.label }}
                  <span class="chipClosebtn" (mousedown)="clearSingleSelection($event, sl)" (click)="clearSingleSelection($event, sl)">&times;</span>
              </span>
          </ng-container>
          <input type="text" style="opacity: 0 !important;position: absolute" class="pdL1" [ngClass]="{'hasValue':filter?.length}" #inputFilter (click)="show($event);" (blur)="filterInputBlur($event)" [placeholder]="selected-valueues?.length > 0 ? filter : placeholder" [(ngModel)]="filter" (ngModelChange)="updateFilter($event)">
      </div> -->
    <!--endregion-->

    <!--region single-->
    <!-- <input type="text" class="form-control" #inputFilter tabindex="0" *ngIf="!multiple" [hidden]="((!isOpen || !isFilterEnabled))" (click)="show($event);" (blur)="filterInputBlur($event)" [placeholder]="placeholder" [(ngModel)]="filter" (ngModelChange)="updateFilter($event)"
          style="padding-right: 22px !important;opacity: 0;position: absolute"> -->

    <!-- <div (click)="show($event);" *ngIf="((!isOpen || !isFilterEnabled) && !multiple)">
          <ng-container *ngIf="selected-valueues?.length">
              <div *ngIf="!multiple">
                  <input type="text" readonly value="{{selected-valueues[0].label}}" class="form-control selected-value cp" />
              </div>
          </ng-container>
          <ng-container *ngIf="!selected-valueues?.length">
              <input type="text" class="form-control" [placeholder]="placeholder" [value]="filter" style="padding-right: 22px !important;" />
          </ng-container>
      </div> -->
    <!--endregion-->

    <!-- </div> -->
    <!-- <span class="clear" *ngIf="showClear && selected-valueues.length > 0" (click)="$event.stopPropagation();clear();">&times;</span> -->
    <virtual-list-menu #menuEle [isOpen]="isOpen" [rows]="rows" [selected-valueues]="selected-valueues"
        [optionTemplate]="optionTemplate" (noToggleClick)="toggleSelected($event)"
        (noResultClicked)="noResultsClicked.emit(); hide()" [noResultLinkEnabled]="notFoundLink"
        [notFoundMsg]="notFoundMsg" [notFoundLinkText]="notFoundLinkText" [ItemHeight]="ItemHeight"
        [NoFoundMsgHeight]="NoFoundMsgHeight" [NoFoundLinkHeight]="NoFoundLinkHeight"
        [dropdownMinHeight]="dropdownMinHeight"></virtual-list-menu>
</div>
