.buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.buttons-container > * {
    margin: 20px;
}

:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    z-index: 99999;
}

#close {
    display: none;
}

:host.in #close {
    display: block;
    position: fixed;
    left: -41px;
    top: 0;
    z-index: 5;
    border: 0;
    border-radius: 0;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 480px;
    width: 100%;
    padding: 0;
    background: var(--color-white);
}
