@import "../../../assets/css/color.scss";
.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: $white;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 102;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: max-content;
    margin-top: 1px;
}

.item {
    cursor: pointer;
    white-space: inherit;
    display: table;
    width: 100%;
    word-break: break-word;
    height: auto !important;
    &:hover {
        background: var(--dropdown-list-hover-background-color);
    }
}
.item:hover a {
    color: $chetwode-blue !important;
}

.item.selected {
    color: $chetwode-blue !important;
    background: $lavender !important;
}
.item.hilighted {
    color: $chetwode-blue !important;
    background: $lavender !important;
}
.item.hilighted a {
    color: var(--dropdown-list-hover-text-color) !important;
}

.item > a {
    padding: 5px 10px;
    font-size: 14px;
}
.item > a:hover {
    color: var(--dropdown-list-color) !important;
    background: var(--dropdown-list-hover-background-color) !important;
}

.no-result-link > a {
    color: $deep-sky-blue-hover !important;
}

#noresult:hover {
    background: transparent;
}
.item span {
    float: left;
}
.item span input[type="checkbox"]:after {
    top: -1px !important;
    left: -1px !important;
}
.disabled a,
.disabled a .item {
    cursor: not-allowed !important;
    color: $gray !important;
}
@media (max-width: 767px) {
    .menu {
        z-index: 100;
    }
}
