@import "../../../assets/css/color.scss";
:host {
    display: block;
    position: relative;
}
.header:hover {
    cursor: text;
}

.header.inline {
    background-color: transparent;
    width: max-content;
    border: none;
}

.header.open {
    border-radius: 2px 2px 0 0;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border-bottom: none;
}

.header:focus {
    outline: 0;
}

div {
    display: block;
    background-color: var(--common-background-color-for-all-components) !important;
}

input[type="text"] {
    outline: none;
    border-radius: 5px !important;
}

[hidden] {
    display: none;
}

i.close.icon.clear::after {
    content: "✕";
    padding-right: 8px;
    font-weight: 800;
    color: $gray;
}

i.close.icon.clear:hover::after {
    color: $red;
}

.clear {
    position: absolute;
    right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    top: 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.5;
    color: $black;
    transform: translateY(-50%);
}

.sh-select-disabled {
    background-color: $whisper;
    color: $bay-of-many;
    cursor: not-allowed;
    border-radius: 5px;
}

.chip {
    display: inline-block;
    padding: 0 7px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    background-color: var(--common-secondary-background-color-for-all-components);
    margin: 8px 0 5px 8px;
}

.chip-close-btn {
    padding-left: 10px;
    font-weight: 500;
    float: right;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.chip-close-btn:hover {
    font-weight: 700;
    opacity: 0.5;
    color: $black;
}

.header .form-control[readonly] {
    background-color: var(--discount-search-bar-background-color) !important;
    border: 1px solid $gainsboro;
}

.sh-select-disabled .selected-val,
.sh-select-disabled .form-control,
.sh-select-disabled .form-control[readonly] {
    background: $whisper-light !important;
    pointer-events: none;
    cursor: not-allowed;
}

:host(.disabled-ledger) {
    .sh-select-disabled {
        background: $white !important;
        .selected-val,
        .form-control,
        .form-control[readonly] {
            background: $white !important;
        }
    }
}

.selected-val {
    border: 1px solid $gainsboro !important;
    padding-right: 22px !important;
    background: $white !important;
}

.header.open > input[type="text"] {
    border-color: $gainsboro;
}

.header .bdr > input[type="text"] {
    border: 0;
}
.header .bdr > input[type="text"]::-webkit-input-placeholder {
    color: $nobel !important;
}
.header .bdr > input[type="text"]::-moz-placeholder {
    color: $nobel !important;
}
.header .bdr > input[type="text"]:-ms-input-placeholder {
    color: $nobel !important;
}
.header .bdr > input[type="text"]:-moz-placeholder {
    color: $nobel !important;
}
