@import "../../../assets/css/color.scss";
.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 102;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0 0 2px 2px;
    min-width: max-content;
    margin-top: 1px;
}

.item {
    cursor: pointer;
    white-space: inherit;
    display: table;
    width: 100%;
    word-break: break-word;
}

// .item:hover {
//       color: $border-blue !important;
//     background: #e3e4ed !important;
// }

.item.selected {
    color: $border-blue !important;
    background: #eeeff9 !important;
}

.item.hilighted {
    color: $border-blue !important;
    background: #e3e4ed !important;
}

.item > a {
    padding: 6px;
}

.no-result-link > a {
    color: #10aae0 !important;
}

#noresult:hover {
    background: transparent;
}
