.export-modal-wrapper {
    font-size: var(--font-size-15);

    span {
        min-width: 100px;
        display: inline-flex;
    }

    .multiple-email {
        min-height: 80px;
    }

    /* UNUSED COMPONENT CLASS: show-on-mobile - Auto-commented by script
.show-on-mobile {
        display: none;
    }
*/

    /* span UNUSED COMPONENT CLASS: min-width-auto - Auto-commented by script
.min-width-auto {
        min-width: auto;
    }
*/
}