.adjustment {
    .breadcrumb-item+.breadcrumb-item {
        &::before {
            content: "\ea01" !important;
            font-family: "icomoon" !important;
            font-size: var(--font-size-20);
        }

    }

    .mat-expansion-panel {
        box-shadow: unset;
        border: 1px solid var(--color-common-primary-border);

        .mat-expansion-panel-header {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 0 !important;

            &.mat-expanded {
                border-bottom: 1px solid var(--color-common-primary-border);
                border-radius: 5px;
            }

            table {
                tr {
                    td {
                        padding: 5px 10px;
                    }
                }
            }
        }

        .table-border-none {
            &table {
                tr {
                    th {
                        border-bottom-style: 0 !important;
                    }

                    td {
                        border-bottom-style: unset !important;

                    }
                }
            }
        }

    }

    .no-data-found {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}
