.adjustment {
    .breadcrumb-item+/* UNUSED COMPONENT CLASS: breadcrumb-item - Auto-commented by script
.breadcrumb-item {
        &::before {
            content: "\ea01" !important;
            font-family: "icomoon" !important;
            font-size: var(--font-size-20);
        }

    }
*/

    .mat-expansion-panel {
        box-shadow: unset;
        border: 1px solid var(--color-silver);

        .mat-expansion-panel-header {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 0 !important;

            /*& UNUSED COMPONENT CLASS: mat-expanded - Auto-commented by script
.mat-expanded {
                border-bottom: 1px solid var(--color-silver);
                border-radius: var(--mat-border-radius-4);
            }
*/

            table {
                tr {
                    td {
                        padding: 5px 10px;
                    }
                }
            }
        }

        .table-border-none {
            &table {
                tr {
                    th {
                        border-bottom-style: 0 !important;
                    }

                    td {
                        border-bottom-style: unset !important;

                    }
                }
            }
        }

    }

    /* UNUSED COMPONENT CLASS: no-data-found - Auto-commented by script
.no-data-found {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
*/
}
