.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.welcome-container {
    hr {
        background: var(--color-gray);
    }
    form {
        flex: 0;
    }
    .name-error {
        color: var(--color-danger);
        font-size: 11px;
        float: right;
    }
}

.form-group {
    z-index: unset !important;
}

::ng-deep.input-group .form-control {
    z-index: unset;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.welcome-container form label {
    font-size: 14px;
    color: var(--color-nero);
}

.box {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 40px;
}

.form-custom {
    margin-bottom: 20px !important;
    // margin-top:23px !important;
}

.width350 {
    width: 350px;
    margin: auto;
}

.welcome-outer hr {
    border: 0.5px solid var(--color-gray);
}

.skip {
    color: var(--color-deep-sky-blue-hover);
    margin-left: 16px;
}

.btn-default:hover {
    background: var(--color-whisper);
}

::ng-deep sh-select .header.open > input[type="text"],
::ng-deep sh-select .header.open > input[type="text"]:focus {
    width: 100%;
}

.welcome-container {
    max-width: 400px;
    margin: 0 auto 20px;
    width: 100%;
    padding: 0 15px;
}

.addCmpnyAddrs p {
    color: var(--color-deep-sky-blue-hover);
    font-size: 12px;
}

.change-preference,
.taxation-not-supported {
    font-size: 14px;
    color: var(--color-gray);
}

.welcome-container .btn-sky-blue {
    width: 100%;
}

.btn-default {
    background: var(--color-very-light-gray);
    color: var(--color-night-rider);
}
.welcome-container p.welcome-title {
    font-size: 14px;
    color: var(--color-nobel);
    margin-top: 25px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] {
    color: var(--color-gray) !important;
}
.welcome-container sup {
    top: 0;
}

.clearBTn {
    position: absolute;
    right: -50px;
    top: 38px;
    z-index: 9;
    cursor: pointer;
    color: var(--color-deep-sky-blue);
}
.position-relative {
    position: relative;
}
.custom-multi-select {
    li {
        background: var(--color-white-smoke);
        color: var(--color-white);
        margin: 4px;
        padding: 2px 10px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        a {
            color: var(--color-gray);
        }
    }
}
span.same-as-head {
    font-size: 14px;
    position: relative;
    top: 8px;
    display: flex;
}
.gstin-width {
    width: 50%;
    margin-right: 10px;
    float: left;
}

.select-caret-contact {
    width: 90px !important;
    margin-right: 16px !important;
}

.min-height-100 {
    min-height: 100px;
}
