<div id="main" class="welcome-outer">
    <giddh-loader></giddh-loader>
    <layout-main [sideMenu]="false">

        <div class="welcome-header">
            <h2>Welcome To Giddh! </h2>
        </div>
        <hr />

        <div class="welcome-container ">
            <p class="welcome-title">Set up your organisation profile and start accounting with Giddh.</p>
            <form name="form" #welcomeForm="ngForm" novalidate="" class="clearfix welcome-form horizontal-form" autocomplete="off">
                <div class="clearfix row">
                    <div class="col-12 mr-b2">
                        <ng-container *ngIf="!itemOnBoardingDetails?.isOnBoardingInProgress else onBoardingItemName">
                            <label for="name" class="mr-t3" *ngIf="!isBranch">Company Name<sup
                                    class="text-danger">*</sup></label>
                            <!-- Need to show when creat branch  -->
                            <label for="name" class="mr-t3" *ngIf="isBranch">Branch Name<sup
                                    class="text-danger">*</sup></label>
                        </ng-container>
                        <ng-template #onBoardingItemName>
                            <label for="name" class="mr-t3" *ngIf="!isBranch">{{itemOnBoardingDetails?.onBoardingType}}
                                Name<sup class="text-danger">*</sup></label>
                        </ng-template>
                        <input name="name" id="name" type="text" required
                            (input)="handleNameChange($event?.target?.value)"
                            (blur)="validateName($event?.target?.value)"
                            [disabled]="(createNewCompanyPreparedObj.name && !isItemUpdateInProgress) ? 'disabled' : null"
                            placeholder="Name" [(ngModel)]="createNewCompanyPreparedObj.name" class="form-control bold">
                        <span class="name-error" *ngIf="welcomeForm?.form?.controls['name']?.errors?.maxlength">Maximum
                            characters limit:
                            100</span>
                    </div>
                    <div class="col-6 mr-b2 ">
                        <span>
                            <label for="country" class="d-block">Country<sup class="text-danger">*</sup></label>
                            <div class="custom-select position-relative">
                                <sh-select id="country" [options]="countrySource$ | async" required [isRequired]="true"
                                    [isFilterEnabled]="true"
                                    [disabled]="(createNewCompanyPreparedObj.country) ? 'disabled' : null"
                                    name="country" [(ngModel)]="createNewCompanyPreparedObj.country"
                                    class="pull-left  select-caret w-100"
                                    [defaultValue]="selectedCountry">
                                </sh-select>
                            </div>
                        </span>

                    </div>
                    <div class="col-6 mr-b2 ">
                        <label for="">Currency<sup class="text-danger">*</sup></label>
                        <div class="custom-select select-caret position-relative">
                            <sh-select name="baseCurrency" [options]="currencySource$ | async" required [isRequired]="true"
                                [disabled]="(createNewCompanyPreparedObj.baseCurrency) ? 'disabled' : null"
                                [isFilterEnabled]="true" [(ngModel)]="createNewCompanyPreparedObj.baseCurrency"
                                [defaultValue]="createNewCompanyPreparedObj.baseCurrency"></sh-select>
                        </div>
                    </div>
                    <div *ngIf="!isBranch" class="col-12 mr-b2">
                        <span>
                            <label for="contactNo" class="d-block">Mobile Number<sup class="text-danger">*</sup></label>
                            <div class="d-flex">
                                <sh-select class="pull-left select-caret select-caret-contact" (blur)="isContactNumberValid()"
                                    [disabled]="(createNewCompanyPreparedObj.phoneCode && !isItemUpdateInProgress) ? 'disabled' : null"
                                    name="phoneCode" [placeholder]="+91"
                                    [options]="callingCodesSource$ | async"
                                    [(ngModel)]="createNewCompanyPreparedObj.phoneCode"
                                    [defaultValue]="createNewCompanyPreparedObj.phoneCode"></sh-select>
                                <input type="number" class="form-control pull-right select-caret" required
                                    (blur)="isContactNumberValid()"
                                    [disabled]="(createNewCompanyPreparedObj.contactNo && !isItemUpdateInProgress) ? 'disabled' : null"
                                    placeholder="9998899988" id="contactNo" autocomplete="off"
                                    [(ngModel)]="createNewCompanyPreparedObj.contactNo" name="contactNo" #mobileNoEl />
                            </div>
                        </span>
                    </div>

                    <div class="col-12 mr-b2 select-box" *ngIf="businessTypeList?.length && !isWarehouse">
                        <div class="position-relative">
                            <label for="businessType">Select Business Type</label>
                            <div class="custom-select position-relative">
                                <sh-select placeholder="Select Business Type" name="businessType" id="businessType"
                                    (onClear)="onClearBusinessType()" autocomplete="false" [readonlyInput]="true"
                                    [disabled]="(companyProfileObj.businessType && isOnBoardingInProgress) ? 'disabled' : null"
                                    (selected)="selectedbusinessType($event)"
                                    [(ngModel)]="companyProfileObj.businessType" [options]="businessTypeList"
                                    [ItemHeight]="33" [defaultValue]="companyProfileObj.businessType">
                                </sh-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mr-b2 select-box" *ngIf="!isWarehouse">
                        <div class="position-relative">
                            <label for="businessNature">Select Business Nature</label>
                            <div class="custom-select position-relative">
                                <sh-select placeholder="Select Business Nature" name="businessNature"
                                    [readonlyInput]="true" (onClear)="onClearBusinessNature()" autocomplete="false"
                                    id="businessNature" [(ngModel)]="companyProfileObj.businessNature"
                                    [options]="businessNatureList" [isFilterEnabled]="true" [ItemHeight]="33"
                                    [defaultValue]="companyProfileObj.businessNature">
                                </sh-select>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="selectedBusinesstype === 'Registered' || isWarehouse">
                        <div class="col-12 mr-b2 select-box"
                            *ngIf="formFields['taxName'] !== undefined && !isWarehouse">
                            <div class="clearfix">

                                <label for="gstinNum" class="d-block">{{formFields['taxName'].label}}<sup
                                        class="text-danger">*</sup></label>
                                <input type="text" [ngClass]="{'gstin-width' : isbranch || isOnBoardingInProgress}"
                                    class="form-control" autocomplete="false" required #gstNumberField
                                    (change)="handleGstChange(gstNumberField, states)" name="gstNumber"
                                    [(ngModel)]="companyProfileObj.taxNumber"
                                    placeholder="Enter {{formFields['taxName'].label}}" />

                                <span class="same-as-head" *ngIf="isBranch || isOnBoardingInProgress"> <input
                                        type="checkbox" name="isTaxNumberSameAsHeadQuarter"
                                        [(ngModel)]="isTaxNumberSameAsHeadQuarter" value="1"
                                        (change)="sameAsHeadQuarter(gstNumberField, states);"> Same as
                                    Company</span>

                            </div>
                        </div>
                        <div class="col-12 mr-b2 select-box">
                            <div>
                                <label>State<sup class="text-danger">*</sup></label><br>
                                <div>
                                    <sh-select #states [options]="statesSource$ | async" required [isRequired]="true"
                                        [isFilterEnabled]="true" [forceClearReactive]="forceClear$ | async" name="state"
                                        [(ngModel)]="companyProfileObj.state" class="width-100"
                                        [defaultValue]="companyProfileObj.selectedState"></sh-select>
                                </div>
                            </div>
                        </div>
                        <!-- static pincode start -->
                        <div class="col-12 mr-b2 select-box">
                            <div>
                                <label for="pinCodeNum">Pincode <span class="red-text">*</span></label>
                                <div>
                                    <input type="text" class="form-control" autocomplete="false" placeholder="Enter Pincode" autocomplete="false" name="pinCodeNum" />
                                </div>
                            </div>
                        </div>
                        <!-- static pincode end -->
                        <div *ngIf="!(isOnBoardingInProgress && isWarehouse) && !isBranch" class="col-12 mr-b2 select-box">
                            <div class="">
                                <label for="taxes-dd">Applicable Tax</label>
                                <div class="btn-group btn-block select-caret invoice-btn" dropdown>
                                    <button dropdownToggle type="button"
                                        class="form-control text-left btn-block dropdown-toggle"> Select Taxes <span
                                            class="select-drop pull-right mr-t1"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-2 width-100" role="menu">
                                        <li *ngIf="taxesList.length==0">No results found</li>
                                        <li *ngFor="let tax of taxesList">
                                            <input type="checkbox" (click)="selectApplicableTaxes(tax, $event)" [checked]="tax.isSelected" /> {{tax.label}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="mr-t05">
                                    <ul class="list-inline custom-multi-select">
                                        <li *ngFor="let tax of selectedTaxes">
                                            <a>
                                                {{currentTaxList[tax].name}} <span class="pd-l05"
                                                    (click)="removeTax(tax)">×</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-12 mr-b2 select-box">
                        <!-- Show the section if the company/branch is Registered or onboarding of warehouse is going on -->
                        <div *ngIf="selectedBusinesstype || isWarehouse" class="clearfix">
                            <ng-container
                                *ngIf="!itemOnBoardingDetails?.isOnBoardingInProgress else onBoardingItemAddress">
                                <label for="address" class="d-block">{{isBranch ? 'Branch' : 'Company'}} Address <sup
                                        *ngIf="selectedBusinesstype === 'Registered'"
                                        class="text-danger">*</sup></label>
                            </ng-container>
                            <ng-template #onBoardingItemAddress>
                                <label for="address" class="d-block">{{itemOnBoardingDetails?.onBoardingType}} Address
                                    <sup class="text-danger">*</sup></label>
                            </ng-template>
                            <textarea #address [required]="selectedBusinesstype === 'Registered' || isWarehouse"
                                (focus)="isWarehouse ? removeAddressFieldError() : ''" placeholder="Address"
                                class="form-control mr-t1 min-height-100" name="address" id="address"
                                [(ngModel)]="companyProfileObj.address"></textarea>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <p class="change-preference">Note: You can always change your preferences later in Settings.
                        </p><br />
                        <p class="taxation-not-supported" *ngIf="!formFields['taxName']">Create and apply taxes on all types of transactions! To get tax reports, contact <a href="mailto:sales@giddh.com">sales@giddh.com</a>!</p>
                    </div>
                    <div class="col-12 d-flex mr-t5">
                        <button class="btn btn-primary" (click)="back(isBranch)">Back</button>
                        <button [ladda]="isApiInProgress" type="submit" class="btn btn-sky-blue" (click)="submit(welcomeForm)" [disabled]="welcomeForm.invalid || !isGstValid || isCreateCompanyInProgress">
                            {{itemOnBoardingDetails?.isOnBoardingInProgress ? itemOnBoardingDetails?.isItemUpdateInProgress ? 'Update ' +  itemOnBoardingDetails?.onBoardingType : 'Create ' + itemOnBoardingDetails?.onBoardingType : 'Submit'
                            }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </layout-main>
</div>
