@import "../../assets/css/color.scss";

.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.welcome-container {
    hr {
        background: #707070;
    }
    form {
        flex: 0;
    }
    .name-error {
        color: #e51f0c;
        font-size: 11px;
        float: right;
    }
}

.form-group {
    z-index: unset !important;
}

::ng-deep.input-group .form-control {
    z-index: unset;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.welcome-container form label {
    font-size: 14px;
    color: $nero;
}

.box {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 40px;
}

.form-custom {
    margin-bottom: 20px !important;
    // margin-top:23px !important;
}

.width350 {
    width: 350px;
    margin: auto;
}

.welcome_outer hr {
    border: 0.5px solid #707070;
}

.skip {
    color: #10aae0;
    margin-left: 16px;
}

.btn-default:hover {
    background: #e6e6e6;
}

::ng-deep sh-select .header.open > input[type="text"],
::ng-deep sh-select .header.open > input[type="text"]:focus {
    width: 100%;
}

.welcome-container {
    max-width: 400px;
    margin: 0 auto 20px;
    width: 100%;
    padding: 0 15px;
}

.addCmpnyAddrs p {
    color: #10aae0;
    font-size: 12px;
}

.change-preference, .taxation-not-supported {
    font-size: 14px;
    color: #707070;
}

.welcome-container .btn-pink {
    width: 100%;
}

.btn-default {
    background: #ccc;
    color: #333;
}
.welcome-container p.welcome_title {
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 25px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] {
    color: #707070 !important;
}
.welcome-container sup {
    top: 0;
}

.clearBTn {
    position: absolute;
    right: -50px;
    top: 38px;
    z-index: 9;
    cursor: pointer;
    color: $deep-sky-blue;
}
.pos-rel {
    position: relative;
}
.custom-multi-select li {
    background: #f1f1f1;
    color: white;
    margin: 4px;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
span.sameAsHead {
    font-size: 14px;
    position: relative;
    top: 8px;
    display: flex;
}
.gstinWidth {
    width: 50%;
    margin-right: 10px;
    float: left;
}
