<div id="main" class="welcome_outer">

  <layout-main [sideMenu]="false">

    <div class="welcome-header">
      <h2>Welcome To Giddh! </h2>
    </div>
    <hr />

    <div class="welcome-container ">
      <p class="welcome_title">Set up your organisation profile and start accounting with Giddh.</p>
      <form name="form" #welcomeForm="ngForm" novalidate="" class="clearfix welcome-form horizontal-form"
        autocomplete="off">
        <div class=" clearfix row">
          <div class="col-xs-12 mrB2">
            <label for="name" class="m-t-30">Company Name<sup class="text-danger">*</sup></label>
            <input name="name" id="name" type="text" required [disabled]="createNewCompanyPreparedObj.name"
              placeholder="Name" [(ngModel)]="createNewCompanyPreparedObj.name" class="form-control bold">
          </div>
          <div class="col-xs-6 mrB2 ">
            <span>
              <label for="country" class="d-block">Country<sup class="text-danger">*</sup></label>
              <div class="custom-select pos-rel">
                <sh-select id="country" [options]="countrySource$ | async" required [isFilterEnabled]="true"
                  [disabled]="createNewCompanyPreparedObj.country" name="country"
                  [(ngModel)]="createNewCompanyPreparedObj.country" class="pull-left  select-caret" style="width: 100%" [defaultValue]="createNewCompanyPreparedObj.country">
                </sh-select>
              </div>
            </span>

          </div>
          <div class="col-xs-6 mrB2 ">
            <label for="">Currency<sup class="text-danger">*</sup></label>
            <div class="custom-select select-caret pos-rel">
              <sh-select name="baseCurrency" [options]="currencySource$ | async" required
                [disabled]="createNewCompanyPreparedObj.baseCurrency" [isFilterEnabled]="true"
                [(ngModel)]="createNewCompanyPreparedObj.baseCurrency" [defaultValue]="createNewCompanyPreparedObj.baseCurrency"></sh-select>
            </div>
          </div>
          <div class="col-xs-12 mrB2">
            <span>
              <label for="contactNo" class="d-block">Mobile Number<sup class="text-danger">*</sup></label>
              <div class="d-flex">
                <sh-select class="pull-left select-caret" [disabled]="createNewCompanyPreparedObj.phoneCode"
                  style="width: 90px;margin-right: 16px;" name="phoneCode" [placeholder]="+91"
                  [options]="callingCodesSource$ | async" [(ngModel)]="createNewCompanyPreparedObj.phoneCode" [defaultValue]="createNewCompanyPreparedObj.phoneCode"></sh-select>
                <input type="number" class="form-control pull-right  select-caret" required
                  [disabled]="createNewCompanyPreparedObj.contactNo" placeholder="9998899988" id="contactNo"
                  autocomplete="off" [(ngModel)]="createNewCompanyPreparedObj.contactNo" name="contactNo" #mobileNoEl />
              </div>
            </span>
          </div>

          <div class="col-xs-12 mrB2 selectBox">
            <div class="">
              <label for="bussinessType">Select Business Type</label>
              <div class="custom-select pos-rel">
                <sh-select placeholder="Select Business Type" name="bussinessType" id="bussinessType" (onClear)="onClearBusinessType()" [showClear]="true"
                  autocomplete="false" (selected)="selectedbusinessType($event)"
                  [(ngModel)]="companyProfileObj.bussinessType" [options]="businessTypeList" [ItemHeight]="33" [defaultValue]="companyProfileObj.bussinessType">
                </sh-select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 mrB2 selectBox">
            <div class="">
              <label for="bussinessNature">Select Business Nature</label>
              <div class="custom-select  pos-rel">
                <sh-select placeholder="Select Business Nature" name="bussinessNature" (onClear)="onClearBusinessNature()" [showClear]="true" autocomplete="false"
                  id="bussinessNature" [(ngModel)]="companyProfileObj.bussinessNature" [options]="businessNatureList"
                  [isFilterEnabled]="true" [ItemHeight]="33" [defaultValue]="companyProfileObj.bussinessNature">
                </sh-select>
              </div>
            </div>
          </div>
          <ng-container *ngIf="selectedBusinesstype === 'Registered'">
            <div class="col-xs-12 mrB2 selectBox" *ngIf="formFields['taxName'] !== undefined">
              <div class="clearfix">

                <label for="gstinNum" class="d-block">{{formFields['taxName'].label}}<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" autocomplete="false" autocomplete="false" minlength="15"
                  required maxlength="15" #gstNumberField
                  (keyup)="getStateCode(gstNumberField, states); checkGstNumValidation(gstNumberField);" name="gstNumber"
                  [(ngModel)]="companyProfileObj.gstNumber" placeholder="Enter {{formFields['taxName'].label}}" />

              </div>
            </div>
            <div class="col-xs-12 mrB2 selectBox">
              <div class=" ">
                <label>State<sup class="text-danger">*</sup></label><br>
                <div class=" ">
                  <sh-select #states [options]="statesSource$ | async" required [isFilterEnabled]="true" name="state"
                    [(ngModel)]="companyProfileObj.state" style="width:100%" [defaultValue]="companyProfileObj.selectedState"></sh-select>
                </div>
              </div>
            </div>
            <div class="col-xs-12 mrB2 selectBox">
              <div class="">
                <label for="taxes_dd">Applicable Tax</label>
                <div class="btn-group btn-block select-caret invoice-btn" dropdown>
                  <button dropdownToggle type="button" class="form-control text-left btn-block dropdown-toggle">
                    Select Taxes <span class="select_drop pull-right mrT1">
                      <!--<i class="fa fa-caret-down"></i>--></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-2 width100" role="menu">
                    <li *ngIf="taxesList.length==0">No results found</li>
                    <li *ngFor="let tax of taxesList">
                      <input type="checkbox" (click)="selectApplicableTaxes(tax, $event)" [checked]="tax.isSelected" />
                      {{tax.label}}
                    </li>
                  </ul>
                </div>
                <div style="margin-top: 5px;">
                  <ul class="list-inline custom-multi-select">
                    <li *ngFor="let tax of selectedTaxes">
                      <a style="color: gray">
                        {{tax}} <span class="pdL" (click)="removeTax(tax)">×</span>
                      </a>
                    </li>

                  </ul>

                </div>

              </div>
            </div>

          </ng-container>
          <div class="col-xs-12 mrB2 selectBox " *ngIf="selectedBusinesstype === 'Registered'">
            <div class="clearfix ">
              <label for="address " class="d-block ">Company Address <sup class="text-danger">*</sup></label>
              <textarea placeholder="Address " class="form-control mrT1 " name="address" required id="address"
                [(ngModel)]="companyProfileObj.address" style="min-height:100px; "></textarea>
            </div>
          </div>
          <div class="col-xs-12 mrB2 selectBox" *ngIf="selectedBusinesstype === 'Unregistered'">
            <div class="clearfix ">
              <label for="address " class="d-block ">Company Address</label>
              <textarea placeholder="Address " class="form-control mrT1 " name="address" id="address"
                [(ngModel)]="companyProfileObj.address" style="min-height:100px; "></textarea>
            </div>
          </div>
          <div class="col-xs-12 ">
            <p class="change-preference ">Note: You can always change your preferences later in Settings.</p>
          </div>
          <div class="col-xs-12 d-flex mrT5">
            <button *ngIf="!isbranch" class="btn btn-primary" (click)="back(isbranch)">Back</button>
            <button *ngIf="isbranch" class="btn btn-primary" (click)="back(isbranch)">Back</button>
            <button type="submit " class="btn btn-pink  " (click)="submit() "
              [disabled]="welcomeForm.invalid || !isGstValid">
              Next
            </button>
          </div>
        </div>

      </form>


    </div>

  </layout-main>
</div>
