.customer-img {
    height: 360px;
    width: 489px;
}

.aging-report-z-index {
    z-index: 101;
}

.icon-pointer {
    margin-left: 6px;
    cursor: pointer;
}
.icon-search {
    font-size: 16px;
}

.linked-entities {
    width: 200px;
}

.icon-pointer .font-size-9 {
    font-size: 16px;
}

.wrap-searching-aging {
    display: none !important;
}

.search-field {
    position: relative;
    margin-bottom: 0;
}

.search-field input {
    width: 235px;
    background-color: var(--color-border-light) !important;
    border-color: var(--color-border-light) !important;
}

.search-field input:focus {
    background-color: var(--color-white) !important;
    border-color: var(--color-black) !important;
}

span.input-addon {
    position: absolute;
    right: 0px;
    padding: 4px 9px;
    background-color: var(--bg-primary-color);
    color: var(--color-white);
    font-size: var(--font-size-16);
    border-radius: var(--mat-border-radius-4);
    top: 0;
}

.name-width {
    width: 210px;
}

.mobile-view {
    display: none;
}

tr.mat-header-row {
    height: 51.5px;
}

.mat-button {
    padding: 0;
    text-decoration: underline;
    margin-right: 0px !important;
}

.pull-left {
    button {
        width: auto;
        margin-right: 15px;
    }
}

::ng-deep {
    .mat-customer-name {
        .icon-pointer {
            .font-size-9 {
                color: var(--text-primary-color) !important;
            }
        }
    }
    .mat-parent-group {
        padding-left: 10px !important;
    }
    .mat-app-days-1,
    .mat-app-days-2,
    .mat-app-days-3,
    .mat-app-days-4 {
        padding-right: 12px !important;
    }
    .mat-header-cell .icon-pointer {
        margin-left: 0px;
    }
    .mat-table tbody {
        tr {
            td {
                &:first-child {
                    padding-left: 18px;
                }
            }
        }
    }
    .search-table {
        margin-left: 7px;
        min-width: 115px;
    }
    .mat-customer-name span:nth-child(2) {
        position: relative;
        right: 3px;
    }
}

::ng-deep .unpaid-invoice-aside-pane {
    .list-wrapper {
        .list-viewport {
            height: calc(100vh - (60px + 30px));
            width: 730px;
        }

        .list-item {
            height: 70px;
            a {
                & > div {
                    height: 70px;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color);
            }
            &:hover {
                background-color: var(--theme-primary-light);
                .customer-name,
                .light-gray {
                    color: var(--color-black) !important;
                }
            }

            .customer-name {
                color: var(--theme-foreground-color);
                white-space: normal;
                word-break: break-all;
            }
        }
    }
}

@media (max-width: 1024px) {
    .main-table {
        th {
            .mat-header-cell {
                &:first-of-type {
                    min-width: 242px !important;
                }
            }
        }
    }
    .customer-img {
        height: 360px;
        width: 489px;
    }
}

.m-0 {
    margin: 0 !important;
}

::ng-deep.aging-dropdown-table {
    max-width: 100%;
    width: 534px;
    max-width: 534px !important;
    height: 93px;
    padding-top: 10px;
    margin-top: 17px;
    box-shadow: 0 0 19px var(--color-shadow-light);
}

.icon-cross {
    line-height: 32px;
}
