@import "../../../assets/css/color.scss";

.dropdown-menu > li > a {
    padding: 2px 10px;
}

.dis {
    display: flex;
}

.pd-1 {
    padding: 5px;
}

.icon-pointer {
    margin-left: 6px;
    cursor: pointer;
}

.linked-entities {
    width: 200px;
}

.icon-pointer .d-block.font-xxs.glyphicon.glyphicon-triangle-top {
    line-height: 0.5;
    height: 8px;
}

.icon-pointer .font-xxs {
    font-size: 12px;
}
.aging-table {
    width: 100%;
    background: transparent;
}
.pagination-wrapper {
    width: 80%;
    padding: 20px 0;
    position: fixed;
    bottom: 20px;
}
.wrap-searching-aging {
    display: none !important;
}
.advance-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 0;
}

.search-field {
    position: relative;
    margin-bottom: 0;
}
.search-field input {
    width: 235px;
    background-color: $whisper !important;
    border-color: $whisper !important;
}
.search-field input:focus {
    background-color: $white !important;
    border-color: $midnight-express !important;
}
span.input-addon {
    position: absolute;
    right: 0px;
    padding: 4px 9px;
    background-color: $chetwode-blue;
    color: $white;
    font-size: 18px;
    border-radius: 5px;
    top: 0;
}

tr.aging-table-top td {
    padding: 8px 0;
}

.refresh-btn {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 1px solid $gainsboro;
    margin-left: 10px !important;
}

.name-width {
    width: 210px;
}

.mobile-view {
    display: none;
}

.word-break {
    word-break: break-word !important;
}
.input-container {
    input {
        height: 36px;
        min-width: 100%;
        padding: 11px;
        padding-right: 40px;
        color: $nero;
        border: none;
        background-color: $gray-95;
        border-radius: 5px;
    }
}
.top-aging-table-top {
    background: none !important;
}
.empty-table {
    height: 120px;
}

// responsive
@media (min-width: 769px) {
    .on-mobile-view > .top-aging-table-top {
        display: none;
    }
}

@media (max-width: 768px) {
    .contact-main .table-aging-report {
        margin-top: 0 !important;
    }
    .table-aging-report span.justify-content-end {
        justify-content: flex-start !important;
    }
}
@media (max-width: 767px) {
    span.input-addon {
        top: 0;
    }
    .pagination-wrapper {
        margin-bottom: 0px;
        position: relative;
        margin-top: 20px;
    }
    .wrap-searching-aging .max-width-250.default-width {
        max-width: calc(100% - 90px);
        width: 100%;
    }
    .advance-clear-filter-icons {
        display: flex;
        width: auto !important;
        margin-left: auto !important;
        span {
            justify-content: center;
            align-items: center;
            display: flex;
            i {
                color: $gray;
            }
        }
    }
    .aging-form-inline {
        flex-direction: column-reverse;
        display: flex;
        margin-bottom: 15px;
        .linked-entities {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }
        .btn-group {
            width: 100%;
            .btn {
                width: 100%;
            }
        }
    }
    .wrap-searching-aging {
        display: flex !important;
        a {
            color: $gray;
        }
        .max-width-250 {
            max-width: 250px;
            width: 100%;
        }
    }
    .wrap-searching-aging .max-width-250.default-width {
        max-width: 250px;
        width: 100%;
    }

    .wrap-searching-aging {
        float: none !important;
        justify-content: space-between;
    }
    .input-grp-date-range-picker {
        display: none;
    }
    .aging-top-bar {
        flex-direction: column;
    }
    .on-desktop-view {
        display: none !important;
    }
    .mobile-view {
        display: block;
    }
}
@media (max-width: 575px) {
    .top-aging-table-top {
        padding: 8px 3px !important;
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    .btn-group.plus-btn {
        float: none;
        width: 100%;
    }
    .btn-group.plus-btn button {
        float: none;
        width: 100%;
    }
    .aging-form-inline {
        .linked-entities {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }
        .btn-group {
            width: 100%;
            .btn {
                width: 100%;
            }
        }
    }
}

@media (max-width: 375px) {
    .wrap-searching-aging + .btn-group {
        float: left !important;
    }
}

@media (min-width: 769px) {
    .mobile-card-wrapper {
        .table-responsive {
            max-height: calc(100vh - 295px);
            overflow-y: auto;
            min-height: 200px;
        }
    }
}
