@import "../../../../assets/css/color.scss";
.template-grid {
    background: $white;
    max-width: 255px;
    width: 100%;
    padding: 20px;
    min-height: 250px;
    border: 1px solid $gainsboro;
    float: left;
    border-radius: 4px;
    margin: 5px 15px 15px 0;
    position: relative;
}

.template-grid h3 {
    text-transform: capitalize;
    font-size: 18px;
}

.template-action {
    overflow: hidden;
    text-align: center;
    padding: 16px 0 0;
    margin-top: 50px;
}

.template-meta {
    padding: 15px 0 0;
}

.primary-color {
    overflow-y: hidden;
    white-space: nowrap;
}

@import "../../../../../../web-giddh/src/assets/css/color.scss";
.btn-warning {
    color: $white;
    background-color: $bright-yellow;
    border-color: $bright-yellow;
}

.more-btn-dropdown {
    border: 1px solid $gainsboro !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    font-size: 14px;
    padding: 5px 10px;
    background: $white !important;
    width: 160px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $charcoal;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: $whisper;
}
.badge {
    background: $whisper-color !important;
    color: $charcoal !important;
    font-family: opensans-regular;
    border: none !important;
    font-weight: 400 !important;
    padding: 10px;
    border-radius: 50px;
}
.badge.btn-success:hover {
    background: $gainsboro-light !important;
    color: $charcoal !important;
}
.badge.btn-sky-blue,
.badge.btn-sky-blue:hover {
    background: $jacksons-purple !important;
    border: none !important;
    color: $white !important;
}
.template-grid-container {
    padding: 0 15px;
}
.full-modal {
    width: 100% !important;
    margin: 0;
    max-width: 100% !important;
}
.select-design {
    height: 44px;
}

.border-radius-none {
    border-radius: 0px !important;
}

@media (max-width: 414px) {
    .template-grid {
        background: $gray-95;
        max-width: 100%;
    }
}
