.project {
    max-width: var(--center-content-max-width);

    .giddh-table {
        border: 1px solid var(--color-table-primary-content-bar-border) !important;
    }
}
.min-height{
    min-height: calc(100vh - 145px);
}

.custom-datepicker-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}