<div id="" class="">
    <div class="modal-header">
        <h3 class="" id="modal-title">Confirmation </h3>
        <span aria-hidden="true" class="close" data-dismiss="modal" (click)="onCancel()">×</span>
        <!-- <i class="fa fa-times text-right close_modal" aria-hidden="true" (click)="onCancel()"></i> -->
    </div>
    <div class="modal-body clearfix" id="export-body">
        <form name="newRole" novalidate class="" autocomplete="off">
            <div class="">
                <h3>{{message}}</h3>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-md btn-success" (click)="onConfirmation()">Yes</button>
        <button type="submit" class="btn btn-md btn-danger" (click)="onCancel()">No</button>
    </div>
</div>
