<div class="giddh-all-items-wrapper">
    <hamburger-menu [pageHeading]="'All Items'"></hamburger-menu>
    <div class="container-fluid">
        <div class="search-any-item">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="icon-search-new"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="all-item-block">
            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-customer mr-r1"></i> Customer </h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1" [routerLink]="['/pages/invoice/preview/sales']">
                               <h4> <i class="icon-invoice-new mr-r1"></i> Invoice </h4>
                               <p>Lorem ipsum dolor sit  amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/estimates']"> <i class="icon-invoice-new mr-r1"></i> Estimate </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-sales-order1 mr-r1"></i> Sales Order </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/contact/customer']"> <i class="icon-customer mr-r1"></i> Customer </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/contact/aging-report']"> <i class="icon-aging-report-new mr-r1"></i> Aging Report </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 href="javascript:void(0);" [routerLink]="['/pages/reports/sales-register']"> <i class="icon-invoice-new mr-r1"></i> Sales Register </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/templates/sales']"> <i class="icon-template-new mr-r1"></i> Template </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/credit%20note']"> <i class="icon-credit-note-new mr-r1"></i> Credit Note </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-customer mr-r1"></i> Vendor </h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-purchase mr-r1"></i> Purchase </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-cash-purchase mr-r1"></i> Cash Purchase </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/purchase-management/purchase/order']"> <i class="icon-sales-order1 mr-r1"></i> Purchase Order </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-vendore mr-r1" [routerLink]="['/pages/contact/vendor']"></i> Vendor </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/contact/aging-report']"> <i class="icon-aging-report-new mr-r1"></i> Aging Report </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/purchase-register']"> <i class="icon-invoice-new mr-r1"></i> Purchase Register </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/templates/sales']"> <i class="icon-template-new mr-r1"></i> Template </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/credit%20note']"> <i class="icon-credit-note-new mr-r1"></i> Credit Note </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-voucher mr-r1"></i> Other Voucher </h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/credit%20note']"> <i class="icon-credit-note-new mr-r1"></i> Credit Note </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/debit%20note']"> <i class="icon-debit-note-new mr-r1"></i> Debit Note </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/receipt']"> <i class="icon-reciept-new mr-r1"></i> Reciept </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-payment-new mr-r1"></i> Payment </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/templates/sales']"> <i class="icon-template-new mr-r1"></i> Template </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-voucher mr-r1"></i> Report </h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/trial-balance-and-profit-loss']"
                                [queryParams]="{ tab: 'trial-balance', tabIndex: 2 }"> <i class="icon-balance-sheet-new mr-r1"></i>Balance Sheet </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/trial-balance-and-profit-loss']" [queryParams]="{ tab: 'trial-balance', tabIndex: 1 }"> <i class="icon-proft-loss-new mr-r1"></i>Profit and Loss </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/trial-balance-and-profit-loss']" [queryParams]="{ tab: 'trial-balance', tabIndex: 0 }"> <i class="icon-trial-balance-new mr-r1"></i>Trial Balance </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/new-vs-old-invoices']"> <i class="icon-sale-bifurcation mr-r1"></i>Sales Bifurcation </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/daybook']"> <i class="icon-daybook-new mr-r1"></i> Daybook </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/settings/taxes']"> <i class="icon-tax-new mr-r1"></i> TAX (GST)</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/ewaybill']"><i class="icon-eway-bill-new mr-r1"></i> E-way Bill</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-import mr-r1"></i>Import </h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-master-new mr-r1"></i>Master </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/import/account']"> <i class="icon-accounts-new mr-r1"></i>Accounts </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/invoice/preview/sales']"> <i class="icon-invoice-new mr-r1"></i>Invoice </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/import/group']"> <i class="icon-group-new mr-r1"></i>Group </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/trial-balance-and-profit-loss']" [queryParams]="{ tab: 'trial-balance', tabIndex: 0 }"> <i class="icon-trial-balance-new mr-r1"></i>Trial Balance</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-item">
                <h3 class="mr-b1 d-flex align-items-center"><i class="icon-other mr-r1"></i>Other</h3>
                <div class="sub-item-block">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/expenses-manager?tab=pending&tabIndex=0']"> <i class="icon-petty-cash mr-r1"></i>Petty Cash </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4> <i class="icon-journal-voucher-new mr-r1"></i>JV </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/home']"> <i class="icon-dashboard-new mr-r1"></i>Dashboard </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/cash-flow-statement']"> <i class="icon-cash-flow-statement mr-r1"></i>Cash Flow </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/monthly-columnar-report']"> <i class="icon-monthly-columnar-report mr-r1"></i>Columnar Report</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/reverse-charge']"><i class="icon-reverse-charge mr-r1"></i>Reverse Charge</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/audit-logs']"> <i class="icon-audit-log mr-r1"></i>Audit Log</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/search']"> <i class="icon-search-new mr-r1"></i>Search</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/onboarding']"> <i class="icon-onboarding-new mr-r1"></i>Onboarding</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/tallysync']"> <i class="icon-tally-import mr-r1"></i>Tally Import</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-12">
                            <div class="single-menu-item mr-b1">
                                <h4 [routerLink]="['/pages/reports/company-import-export']">
                                    <i class="icon-company-import mr-r1"></i>Company Import </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
