.giddh-all-items-wrapper {
    .search-any-item {
        max-width: 530px;
        width: 100%;
        margin: 10px auto;
        .input-group {
            i {
                font-size: var(--font-size-16);
            }
            .input-group-text {
                border: none;
                background-color: var(--color-border-light);
                height: 50px;
                position: relative;
                top: 0px;
                left: 1px;
            }
        }
    }
    .all-item-block {
        .main-item {
            border-bottom: 1px solid var(--color-border-light);
            margin-bottom: 20px;
            h3 {
                color: var(--text-primary-color);
                font-weight: var(--font-weight-semibold);
                i {
                    font-size: 22px;
                }
            }
            .sub-item-block {
                .single-menu-item {
                    cursor: pointer;
                    padding: 15px;
                    white-space: normal;
                    word-break: break-word;
                    width: 14.8%;
                    min-height: 90px;
                    justify-content: center;
                    transition: all 140ms ease-in;
                    p {
                        font-size: var(--font-size-15);
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        color: var(--color-dark-gray);
                        i {
                            font-size: 22px;

                            .unit-mapping-icon {
                                background-image: url('../../assets/images/unit-mapping.svg');
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    .mat-mdc-card-content {
                        &:last-child {
                            padding: 0 !important;
                        }
                    }
                    &:hover,
                    &.active {
                        background-color: var(--bg-primary-color) !important;
                        p {
                            color: var(--color-white);
                        }
                    }
                }
            }
        }
    }
    .width-inherit {
        width: inherit;
    }
    .responsive-sub-items {
        row-gap: 20px;
        column-gap: 30px;
        padding: 0 15px;
        margin-bottom: 20px;
    }
}

.single-item {
    cursor: pointer;
    padding: 15px;
    white-space: normal;
    word-break: break-word;
    min-height: 120px;
    transition: all 140ms ease-in;
    width: 50%;

    &:first-child {
        margin-right: 20px;
    }

    h4 {
        font-size: var(--font-size-15);
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        color: var(--color-dark-gray);

        i {
            font-size: 22px;

            &.unit-mapping-icon {
                background-image: url('../../assets/images/unit-mapping.svg');
                width: 24px;
                height: 24px;
            }
        }
    }

    p {
        color: var(--color-medium-gray);
        font-size: var(--font-size-12);
    }

    &:hover,
    &.active {
        background-color: var(--bg-primary-color) !important;

        h4,
        p {
            color: var(--color-white);
        }
    }
}

@media (max-width: 1680px) {
    .giddh-all-items-wrapper {
        .all-item-block {
            .main-item {
                .sub-item-block {
                    .single-menu-item {
                        width: 17.6%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1380px) {
    .giddh-all-items-wrapper {
        .all-item-block {
            .main-item {
                .sub-item-block {
                    .single-menu-item {
                        width: 22%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .giddh-all-items-wrapper {
        .all-item-block {
            .main-item {
                .sub-item-block {
                    .single-menu-item {
                        width: 30%;
                    }
                }
            }
        }
    }
}
