.pItem {
    padding: 0 4px;
}

.ledgHead.entry-popup table td.select2-ledger>sh-select {
    position: initial;
    margin-top: 1px;
}

table.width100 {
    position: relative
}

.currency_type {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.multicurrency_input {
  padding-right: 35px !important;
}
