.custom-confirmation-modal {
    display: inline-block;
    max-width: 650px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
    font-family: var(--font-regular);
    background-color: var(--color-common-primary-background-for-all-components);
    .modal-header {
        padding: 10px 15px;
        .close {
            font-size: var(--font-size-16);
            right: 15px;
            top: 0px;
        }
    }

    p {
        font-size: var(--font-size-15);
        color: var(--color-nero);
    }
}
@media (max-width: 1366px) {
    .custom-confirmation-modal {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .custom-confirmation-modal {
        max-width: 100%;
        width: 100%;
    }
}
