<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="w-100">
    <mat-tab label="Revenue">
        <div class="d-flex align-items-center justify-content-space-between pd-15">
            <div class="custom-datepicker" (click)="showGiddhDatepicker($event)">
                <input
                    type="text"
                    name="selectedDateRange"
                    [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                    class="giddh-datepicker date-range-picker"
                />
            </div>
            <button [routerLink]="'/pages/project-wise-accounting/list'" mat-stroked-button>< back</button>
        </div>
        <div class="pd-15">
            <button mat-stroked-button>+ Add</button>

            <div class="table-responsive mr-t2">
                <table mat-table [dataSource]="[{}]" class="giddh-table basic w-100">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Select Account</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Select</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Select Method</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef>Amt.</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-2">
                                <input-field [type]="'text'" [name]="'discountValue'" [placeholder]="" [label]="">
                                </input-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                <button mat-raised-button color="primary">save</button>
                                <span><i class="icon-trash mr-l1 font-20"></i></span>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>



            <div class="table-responsive mr-t2">
                <table mat-table [dataSource]="dataSource" class="giddh-table basic w-100">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Select Account</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Select</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Select Method</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-3">
                                <dropdown-field
                                    [name]="'country'"
                                    [autocomplete]="'disabled'"
                                    [label]=""
                                    [placeholder]=""
                                    [options]="selecteAccount"
                                    (selectedOption)="selectProject($event)"
                                >
                                </dropdown-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef>Amt.</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-2">
                                <input-field [type]="'text'" [name]="'discountValue'" [placeholder]="" [label]="">
                                </input-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                <button mat-raised-button color="primary">save</button>
                                <span><i class="icon-trash mr-l1 font-20"></i></span>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-tab>

    <mat-tab label="Expense"> Content 2 </mat-tab>
    <mat-tab label="Profit and Loss"> Content 3 </mat-tab>
</mat-tab-group>

<!-- <table class="table basic w-100">
                 <div class="d-flex mr-t2">
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedTab"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedTab"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedTab"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-2">
                         <input-field 
                             [type]="'text'"
                             [name]="'discountValue'" 
                             [placeholder]=""
                             [label]="">
                         </input-field>
                     </div>
                     <div class="d-flex align-items-center">
                         <button mat-raised-button color="primary">save</button>
                         <span><i class="icon-trash mr-l1 font-20"></i></span>
                     </div>
                 </div>
             </table>

             <table class="table basic w-100">
                 <div class="d-flex mr-t2">
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedProject"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedProject"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-3">
                         <dropdown-field
                             [name]="'country'"
                             [autocomplete]="'disabled'"
                             [label]=""
                             [placeholder]=""
                             [options]="selectedProject"
                             (selectedOption)="selectProject($event)"
                         >
                         </dropdown-field>
                     </div>
                     <div class="col-2">
                         <input-field 
                             [type]="'text'"
                             [name]="'discountValue'" 
                             [placeholder]=""
                             [label]="">
                         </input-field>
                     </div>
                     <div class="d-flex align-items-center">
                         <button mat-raised-button color="primary">save</button>
                         <span><i class="icon-trash mr-l1 font-20"></i></span>
                     </div>
                 </div>
             </table> -->

<!-- Date Picker  -->
<ng-template #datepickerTemplate>
    <div class="datepicker-modal">
        <div class="modal-body">
            <app-datepicker-wrapper
                [inputStartDate]="selectedDateRange?.startDate"
                [inputEndDate]="selectedDateRange?.endDate"
                [alwaysShowCalendars]="true"
                [ranges]="datePickerOption"
                [selectedRangeLabel]="selectedRangeLabel"
                [showCustomRangeLabel]="true"
                [showClearButton]="false"
                [showCancel]="true"
                [linkedCalendars]="true"
                [showDropdowns]="true"
                (rangeClicked)="dateSelectedCallback($event)"
                (datesUpdated)="dateSelectedCallback($event)"
                [keepCalendarOpeningWithRange]="false"
                [showRangeLabelOnInput]="false"
                [dateFieldPosition]="dateFieldPosition"
            >
            </app-datepicker-wrapper>
        </div>
    </div>
</ng-template>
