@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
    $font-family: var(--font-family),
    $headline-1: mat.define-typography-level(var(--font-size-48), var(--line-height-36), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $headline-2: mat.define-typography-level(var(--font-size-32), var(--line-height-32), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $headline-3: mat.define-typography-level(var(--font-size-24), var(--line-height-32), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $headline-4: mat.define-typography-level(var(--font-size-20), var(--line-height-24), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $headline-5: mat.define-typography-level(var(--font-size-16), var(--line-height-24), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $headline-6: mat.define-typography-level(var(--font-size-15), var(--line-height-22), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $subtitle-1: mat.define-typography-level(var(--font-size-16), var(--line-height-24), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $subtitle-2: mat.define-typography-level(var(--font-size-15), var(--line-height-22), var(--font-weight-medium), var(--font-family), var(--letter-spacing-normal)),
    $body-1: mat.define-typography-level(var(--font-size-14), var(--line-height-20), var(--font-weight-regular), var(--font-family), var(--letter-spacing-normal)),
    $body-2: mat.define-typography-level(var(--font-size-14), var(--line-height-20), var(--font-weight-regular), var(--font-family), var(--letter-spacing-normal)),
    $caption: mat.define-typography-level(var(--font-size-12), var(--line-height-16), var(--font-weight-regular), var(--font-family), var(--letter-spacing-normal)),
    $button: mat.define-typography-level(var(--font-size-14), var(--line-height-20), var(--font-weight-medium), var(--font-family), var(--letter-spacing-wide)),
    $overline: mat.define-typography-level(var(--font-size-9), var(--line-height-16), var(--font-weight-regular), var(--font-family), var(--letter-spacing-widest))
);

$exported-custom-typography: $custom-typography;
