@use "@angular/material" as mat;
@use "./_custom-palette" as palette;
@use "./custom_typography" as typography;
@use "../material/material-mixins" as mixins;
@include mat.core();

$primary-palette: palette.$giddh-primary;
$accent-palette: palette.$giddh-accent;
$warn-palette: palette.$giddh-warn;
$typography: typography.$exported-custom-typography;

$primary-palette-dark: palette.$giddh-primary-dark;
$accent-palette-dark: palette.$giddh-accent-dark;
$warn-palette-dark: palette.$giddh-warn-dark;

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
        typography: typography.$exported-custom-typography,
    )
);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $primary-palette-dark,
            accent: $accent-palette-dark,
            warn: $warn-palette-dark,
        ),
        typography: typography.$exported-custom-typography,
    )
);

@include mat.all-component-typographies($light-theme);
@include mat.all-component-densities($light-theme);

@mixin theme-colors($theme, $primary, $accent, $warn) {
    @include mat.all-component-colors($theme);
    @include mixins.define-theme-colors($theme);
}

.default-theme {
    @include theme-colors($light-theme, $primary-palette, $accent-palette, $warn-palette);
}

.dark-theme {
    @include theme-colors($dark-theme, $primary-palette-dark, $accent-palette-dark, $warn-palette-dark);
}

body.mat-typography {
    font-family: var(--font-family), sans-serif !important;
}
