@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ai868m');
  src:  url('fonts/icomoon.eot?ai868m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ai868m') format('truetype'),
    url('fonts/icomoon.woff?ai868m') format('woff'),
    url('fonts/icomoon.svg?ai868m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aging-report:before {
  content: "\e98d";
}
.icon-balance-sheet:before {
  content: "\e967";
}
.icon-cash-invoice:before {
  content: "\e968";
}
.icon-company-import:before {
  content: "\e969";
}
.icon-credit-debit-note:before {
  content: "\e96a";
}
.icon-credit-note:before {
  content: "\e96b";
}
.icon-customer:before {
  content: "\e96c";
}
.icon-day-book:before {
  content: "\e96d";
}
.icon-E-way-bill:before {
  content: "\e96e";
}
.icon-estimate:before {
  content: "\e96f";
}
.icon-gstr:before {
  content: "\e970";
}
.icon-import-from-tally:before {
  content: "\e971";
}
.icon-import-trial-balance:before {
  content: "\e972";
}
.icon-invoice1:before {
  content: "\e973";
}
.icon-journal-voucher:before {
  content: "\e974";
}
.icon-main-search .path1:before {
  content: "\e975";
  color: rgb(84, 94, 101);
}
.icon-main-search .path2:before {
  content: "\e976";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path3:before {
  content: "\e977";
  margin-left: -0.88671875em;
  color: rgb(194, 233, 249);
}
.icon-main-search .path4:before {
  content: "\e978";
  margin-left: -0.88671875em;
  color: rgb(194, 233, 249);
}
.icon-main-search .path5:before {
  content: "\e979";
  margin-left: -0.88671875em;
  color: rgb(194, 233, 249);
}
.icon-main-search .path6:before {
  content: "\e97a";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path7:before {
  content: "\e97b";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path8:before {
  content: "\e97c";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path9:before {
  content: "\e97d";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path10:before {
  content: "\e97e";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path11:before {
  content: "\e97f";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-main-search .path12:before {
  content: "\e980";
  margin-left: -0.88671875em;
  color: rgb(84, 94, 101);
}
.icon-new-old-invoices:before {
  content: "\e981";
}
.icon-onboarding:before {
  content: "\e982";
}
.icon-profit-loss:before {
  content: "\e983";
}
.icon-proforma:before {
  content: "\e984";
}
.icon-purchase-management:before {
  content: "\e985";
}
.icon-purchase-record:before {
  content: "\e986";
}
.icon-search-app:before {
  content: "\e987";
}
.icon-settings-taxes:before {
  content: "\e988";
}
.icon-subscription1:before {
  content: "\e989";
}
.icon-trial-balance:before {
  content: "\e98a";
}
.icon-user1:before {
  content: "\e98b";
}
.icon-vat:before {
  content: "\e98c";
}
.icon-customer-group:before {
  content: "\e9ad";
}
.icon-branch:before {
  content: "\e900";
}
.icon-company-profile:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-financial-year:before {
  content: "\e903";
}
.icon-integration:before {
  content: "\e904";
}
.icon-invoice-managment:before {
  content: "\e905";
}
.icon-linked-accounts:before {
  content: "\e906";
}
.icon-manage-user:before {
  content: "\e907";
}
.icon-subscription:before {
  content: "\e908";
}
.icon-tags:before {
  content: "\e909";
}
.icon-taxes:before {
  content: "\e90a";
}
.icon-trigger:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-warehouse:before {
  content: "\e90d";
}
.icon-help-support-icon:before {
  content: "\e90e";
  color: #fff;
}
.icon-setting-icon:before {
  content: "\e90f";
}
.icon-log:before {
  content: "\e001";
}
.icon-recurring:before {
  content: "\e002";
}
.icon-dashboard:before {
  content: "\e004";
}
.icon-purchase:before {
  content: "\e005";
}
.icon-invoice:before {
  content: "\e006";
}
.icon-report:before {
  content: "\e007";
}
.icon-sales:before {
  content: "\e008";
}
.icon-search1:before {
  content: "\e009";
}
.icon-setting:before {
  content: "\e010";
}
.icon-tbpl:before {
  content: "\e011";
}
.icon-tax:before {
  content: "\e012";
}
.icon-manufacturing:before {
  content: "\e013";
}
.icon-permission:before {
  content: "\e014";
}
.icon-daybook:before {
  content: "\e015";
}
.icon-journal:before {
  content: "\e016";
}
.icon-back-arrow:before {
  content: "\e910";
}
.icon-home-icon:before {
  content: "\e911";
}
.icon-generate-invoice:before {
  content: "\e912";
}
.icon-no-selected:before {
  content: "\e913";
}
.icon-edit-pencil:before {
  content: "\e914";
}
.icon-collapse:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e916";
}
.icon-expandIcon:before {
  content: "\e917";
}
.icon-advance-search:before {
  content: "\e918";
}
.icon-copy:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e91a";
}
.icon-expand:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-favorite-selected:before {
  content: "\e91d";
}
.icon-filter:before {
  content: "\e91e";
}
.icon-sort-asc:before {
  content: "\e91f";
}
.icon-sort-dsc:before {
  content: "\e920";
}
.icon-collapse-icon:before {
  content: "\e921";
}
.icon-info-icon:before {
  content: "\e922";
}
.icon-traingle-info:before {
  content: "\e923";
}
.icon-cash:before {
  content: "\e924";
}
.icon-atm-card:before {
  content: "\e925";
}
.icon-folder-group:before {
  content: "\e926";
}
.icon-file-path:before {
  content: "\e927";
}
.icon-arrow-down-2:before {
  content: "\e928";
}
.icon-image:before {
  content: "\e929";
}
.icon-Revert:before {
  content: "\e92a";
}
.icon-payment:before {
  content: "\e92b";
}
.icon-edit-ico:before {
  content: "\e92c";
}
.icon-copy-icon:before {
  content: "\e92d";
}
.icon-divide-ico:before {
  content: "\e92e";
}
.icon-estimate1:before {
  content: "\e92f";
}
.icon-invoice-icon:before {
  content: "\e930";
}
.icon-sales-order:before {
  content: "\e931";
}
.icon-card:before {
  content: "\e932";
}
.icon-chat2:before {
  content: "\e933";
}
.icon-ecomm:before {
  content: "\e934";
}
.icon-mail:before {
  content: "\e935";
}
.icon-group:before {
  content: "\e936";
}
.icon-bar:before {
  content: "\e937";
}
.icon-Search:before {
  content: "\e938";
}
.icon-add:before {
  content: "\e939";
}
.icon-cross:before {
  content: "\e93a";
}
.icon-inventory:before {
  content: "\e93b";
}
.icon-caret-down:before {
  content: "\e93c";
}
.icon-edit1:before {
  content: "\e93d";
}
.icon-arrow-down:before {
  content: "\e93e";
}
.icon-child:before {
  content: "\e93f";
}
.icon-download:before {
  content: "\e940";
}
.icon-share:before {
  content: "\e941";
}
.icon-magic_link:before {
  content: "\e942";
}
.icon-dropdown:before {
  content: "\e943";
}
.icon-plus:before {
  content: "\e944";
}
.icon-search:before {
  content: "\e945";
}
.icon-building:before {
  content: "\e946";
}
.icon-options:before {
  content: "\e947";
}
.icon-minus:before {
  content: "\e948";
}
.icon-trash:before {
  content: "\e949";
}
.icon-checkbox-icon:before {
  content: "\e94a";
}
.icon-checkboxfill-icon:before {
  content: "\e94b";
}
.icon-dots-three-vertical:before {
  content: "\e94c";
}
.icon-calender:before {
  content: "\e94d";
}
.icon-car:before {
  content: "\e94e";
}
.icon-download1:before {
  content: "\e94f";
}
.icon-edit11:before {
  content: "\e950";
}
.icon-plane:before {
  content: "\e951";
}
.icon-read:before {
  content: "\e952";
}
.icon-search2:before {
  content: "\e953";
}
.icon-ship:before {
  content: "\e954";
}
.icon-train:before {
  content: "\e955";
}
.icon-file:before {
  content: "\e956";
}
.icon-link:before {
  content: "\e957";
}
.icon-pass:before {
  content: "\e958";
}
.icon-vol:before {
  content: "\e959";
}
.icon-support:before {
  content: "\e95a";
}
.icon-summary:before {
  content: "\e95b";
}
.icon-hand_icon:before {
  content: "\e95c";
}
.icon-users:before {
  content: "\e95d";
}
.icon-folder1:before {
  content: "\e95e";
}
.icon-switch-icon:before {
  content: "\e95f";
}
.icon-rupees:before {
  content: "\e960";
}
.icon-export-icon:before {
  content: "\e961";
}
.icon-edit-pencil1:before {
  content: "\e962";
}
.icon-customise-columns:before {
  content: "\e963";
}
.icon-account:before {
  content: "\e964";
}
.icon-group-folder:before {
  content: "\e965";
}
.icon-menu:before {
  content: "\e966";
}
.icon-folderminus:before {
  content: "\f2332";
}
.icon-folderplus:before {
  content: "\f2333";
}
.icon-folder:before {
  content: "\f2334";
}
