@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?ai868m");
    src: url("fonts/icomoon.eot?ai868m#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?ai868m") format("truetype"),
        url("fonts/icomoon.woff?ai868m") format("woff"),
        url("fonts/icomoon.svg?ai868m#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    stroke-width: thin;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-template:before {
    content: "\e9b8";
}
.icon-GSTR:before {
    content: "\e9cd";
}
.icon-settings-cog:before {
    content: "\e9e5";
}
.icon-vendor:before {
    content: "\e908";
}
.icon-left:before {
    content: "\e9e1";
}
.icon-right:before {
    content: "\e9e2";
}
.icon-up:before {
    content: "\e9e3";
}
.icon-security:before {
    content: "\e9e0";
}
.icon-bill:before {
    content: "\e9d3";
}
.icon-branch-transfer:before {
    content: "\e9d4";
}
.icon-create-account:before {
    content: "\e9d5";
}
.icon-gst-vat:before {
    content: "\e9d6";
}
.icon-integration1:before {
    content: "\e9d7";
}
.icon-invoice-management:before {
    content: "\e9d8";
}
.icon-linked-account:before {
    content: "\e9d9";
}
.icon-manufacturing1:before {
    content: "\e9da";
}
.icon-permission1:before {
    content: "\e9db";
}
.icon-purchase-management1:before {
    content: "\e9dc";
}
.icon-subscription2:before {
    content: "\e9dd";
}
.icon-tally-import1:before {
    content: "\e9de";
}
.icon-warehouse1:before {
    content: "\e9df";
}
.icon-calender-new:before {
    content: "\e9c9";
}
.icon-question-new:before {
    content: "\e9cb";
}
.icon-bell-new:before {
    content: "\e9c8";
}
.icon-master-new1:before {
    content: "\e9ca";
}
.icon-user-new:before {
    content: "\e9cc";
}
.icon-add-new:before {
    content: "\e9cf";
}
.icon-company-impex:before {
    content: "\e9d0";
}
.icon-go:before {
    content: "\e9d1";
}
.icon-purchase-order:before {
    content: "\e9d2";
}
.icon-home-new:before {
    content: "\e9ce";
}
.icon-Mask-Group .path1:before {
    content: "\e9c5";
    color: rgb(230, 69, 86);
}
.icon-Mask-Group .path2:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-cash-purchase:before {
    content: "\e9c7";
}
.icon-customer:before {
    content: "\e901";
}
.icon-trial-balance-new:before {
    content: "\e9b9";
}
.icon-tax1:before {
    content: "\e9e4";
}
.icon-tally-import:before {
    content: "\e9ba";
}
.icon-sale-bifurcation:before {
    content: "\e9bb";
}
.icon-reverse-charge:before {
    content: "\e9bc";
}
.icon-petty-cash:before {
    content: "\e9bd";
}
.icon-onboarding-new:before {
    content: "\e9be";
}
.icon-monthly-columnar-report:before {
    content: "\e9bf";
}
.icon-journal-voucher-new:before {
    content: "\e9c0";
}
.icon-group-new:before {
    content: "\e9c1";
}
.icon-dashboard-new:before {
    content: "\e9c2";
}
.icon-cash-flow-statement:before {
    content: "\e9c3";
}
.icon-audit-log:before {
    content: "\e9c4";
}
.icon-accounts-new:before {
    content: "\e900";
}
.icon-aging-report-new:before {
    content: "\e902";
}
.icon-balance-sheet-new:before {
    content: "\e9a7";
}
.icon-branch-connection:before {
    content: "\e9a8";
    color: #999da0;
}
.icon-credit-note-new:before {
    content: "\e9a9";
}
.icon-daybook-new:before {
    content: "\e9aa";
}
.icon-debit-note-new:before {
    content: "\e9ab";
}
.icon-down-new:before {
    content: "\e9ac";
}
.icon-estimate-new:before {
    content: "\e9ad";
}
.icon-eway-bill-new:before {
    content: "\e9ae";
}
.icon-invoice-new:before {
    content: "\e9af";
}
.icon-master-new:before {
    content: "\e9b0";
}
.icon-payment-new:before {
    content: "\e9b1";
}
.icon-proft-loss-new:before {
    content: "\e9b2";
}
.icon-reciept-new:before {
    content: "\e9b3";
}
.icon-register-new:before {
    content: "\e9b4";
}
.icon-sales-order1:before {
    content: "\e9b5";
}
.icon-search-new:before {
    content: "\e9b6";
}
.icon-tax-new:before {
    content: "\e9b7";
}
.icon-import:before {
    content: "\e903";
}
.icon-inventory:before {
    content: "\e904";
}
.icon-other:before {
    content: "\e905";
}
.icon-reports:before {
    content: "\e906";
}
.icon-search:before {
    content: "\e907";
}
.icon-voucher:before {
    content: "\e909";
}
.icon-log:before {
    content: "\e001";
}
.icon-recurring:before {
    content: "\e002";
}
.icon-dashboard:before {
    content: "\e004";
}
.icon-purchase:before {
    content: "\e005";
}
.icon-invoice:before {
    content: "\e006";
}
.icon-report:before {
    content: "\e007";
}
.icon-sales:before {
    content: "\e008";
}
.icon-search1:before {
    content: "\e009";
}
.icon-setting:before {
    content: "\e010";
}
.icon-tbpl:before {
    content: "\e011";
}
.icon-tax:before {
    content: "\e012";
}
.icon-manufacturing:before {
    content: "\e013";
}
.icon-permission:before {
    content: "\e014";
}
.icon-daybook:before {
    content: "\e015";
}
.icon-journal:before {
    content: "\e016";
}
.icon-item-product:before {
    content: "\e90a";
}
.icon-uniE90B:before {
    content: "\e90b";
}
.icon-windows:before {
    content: "\e90c";
}
.icon-mac:before {
    content: "\e90d";
}
.icon-android:before {
    content: "\e90e";
}
.icon-branch-icon:before {
    content: "\e90f";
}
.icon-info:before {
    content: "\e910";
}
.icon-copy-small:before {
    content: "\e911";
}
.icon-envelope:before {
    content: "\e912";
}
.icon-tick:before {
    content: "\e913";
}
.icon-branch:before {
    content: "\e914";
}
.icon-company-profile:before {
    content: "\e915";
}
.icon-discount:before {
    content: "\e916";
}
.icon-financial-year:before {
    content: "\e917";
}
.icon-refresh:before {
    content: "\e918";
}
.icon-history-icon:before {
    content: "\e919";
}
.icon-advance-filter:before {
    content: "\e91a";
}
.icon-integration:before {
    content: "\e91b";
}
.icon-invoice-managment:before {
    content: "\e91c";
}
.icon-linked-accounts:before {
    content: "\e91d";
}
.icon-manage-user:before {
    content: "\e91e";
}
.icon-subscription:before {
    content: "\e91f";
}
.icon-tags:before {
    content: "\e920";
}
.icon-taxes:before {
    content: "\e921";
}
.icon-trigger:before {
    content: "\e922";
}
.icon-user:before {
    content: "\e923";
}
.icon-warehouse:before {
    content: "\e924";
}
.icon-generate-invoice:before {
    content: "\e925";
}
.icon-no-selected:before {
    content: "\e926";
}
.icon-edit-pencil:before {
    content: "\e927";
}
.icon-collapse:before {
    content: "\e928";
}
.icon-info1:before {
    content: "\e929";
}
.icon-expandIcon:before {
    content: "\e92a";
}
.icon-advance-search:before {
    content: "\e92b";
}
.icon-help-support-icon:before {
    content: "\e92c";
}
.icon-back-arrow:before {
    content: "\e92d";
}
.icon-home-icon:before {
    content: "\e92e";
}
.icon-copy:before {
    content: "\e92f";
}
.icon-edit:before {
    content: "\e930";
}
.icon-expand:before {
    content: "\e931";
}
.icon-eye:before {
    content: "\e932";
}
.icon-favorite-selected:before {
    content: "\e933";
}
.icon-filter:before {
    content: "\e934";
}
.icon-sort-asc:before {
    content: "\e935";
}
.icon-sort-dsc:before {
    content: "\e936";
}
.icon-collapse-icon:before {
    content: "\e937";
}
.icon-info-icon:before {
    content: "\e938";
}
.icon-folder-group:before {
    content: "\e939";
}
.icon-file-path:before {
    content: "\e93a";
}
.icon-arrow-down-2:before {
    content: "\e93b";
}
.icon-image:before {
    content: "\e93c";
}
.icon-Revert:before {
    content: "\e93d";
}
.icon-payment:before {
    content: "\e93e";
}
.icon-edit-ico:before {
    content: "\e93f";
}
.icon-traingle-info:before {
    content: "\e940";
}
.icon-cash:before {
    content: "\e941";
}
.icon-atm-card:before {
    content: "\e942";
}
.icon-copy-icon:before {
    content: "\e943";
}
.icon-divide-ico:before {
    content: "\e944";
}
.icon-estimate1:before {
    content: "\e945";
}
.icon-invoice-icon:before {
    content: "\e946";
}
.icon-sales-order:before {
    content: "\e947";
}
.icon-card:before {
    content: "\e948";
}
.icon-chat2:before {
    content: "\e949";
}
.icon-ecomm:before {
    content: "\e94a";
}
.icon-mail:before {
    content: "\e94b";
}
.icon-add:before {
    content: "\e94c";
}
.icon-cross:before {
    content: "\e94d";
}
.icon-inventory1:before {
    content: "\e94e";
}
.icon-caret-down:before {
    content: "\e94f";
}
.icon-edit1:before {
    content: "\e950";
}
.icon-arrow-down:before {
    content: "\e951";
}
.icon-child:before {
    content: "\e952";
}
.icon-group:before {
    content: "\e953";
}
.icon-bar:before {
    content: "\e954";
}
.icon-Search:before {
    content: "\e955";
}
.icon-download:before {
    content: "\e956";
}
.icon-share:before {
    content: "\e957";
}
.icon-magic_link:before {
    content: "\e958";
}
.icon-dropdown:before {
    content: "\e959";
}
.icon-plus:before {
    content: "\e95a";
}
.icon-search2:before {
    content: "\e95b";
}
.icon-building:before {
    content: "\e95c";
}
.icon-options:before {
    content: "\e95d";
}
.icon-checkboxfill-icon:before {
    content: "\e95e";
}
.icon-dots-three-vertical:before {
    content: "\e95f";
}
.icon-calender:before {
    content: "\e960";
}
.icon-car:before {
    content: "\e961";
}
.icon-download1:before {
    content: "\e962";
}
.icon-edit11:before {
    content: "\e963";
}
.icon-plane:before {
    content: "\e964";
}
.icon-minus:before {
    content: "\e965";
}
.icon-trash:before {
    content: "\e966";
}
.icon-checkbox-icon:before {
    content: "\e967";
}
.icon-read:before {
    content: "\e968";
}
.icon-search21:before {
    content: "\e969";
}
.icon-ship:before {
    content: "\e96a";
}
.icon-train:before {
    content: "\e96b";
}
.icon-file:before {
    content: "\e96c";
}
.icon-link:before {
    content: "\e96d";
}
.icon-pass:before {
    content: "\e96e";
}
.icon-vol:before {
    content: "\e96f";
}
.icon-support:before {
    content: "\e970";
}
.icon-summary:before {
    content: "\e971";
}
.icon-switch-icon:before {
    content: "\e972";
}
.icon-rupees:before {
    content: "\e973";
}
.icon-export-icon:before {
    content: "\e974";
}
.icon-edit-pencil1:before {
    content: "\e975";
}
.icon-customise-columns:before {
    content: "\e976";
}
.icon-account:before {
    content: "\e977";
}
.icon-hand_icon:before {
    content: "\e978";
}
.icon-users:before {
    content: "\e979";
}
.icon-folder1:before {
    content: "\e97a";
}
.icon-group-folder:before {
    content: "\e97b";
}
.icon-menu:before {
    content: "\e97c";
}
.icon-balance-sheet:before {
    content: "\e97d";
}
.icon-cash-invoice:before {
    content: "\e97e";
}
.icon-company-import:before {
    content: "\e97f";
}
.icon-credit-debit-note:before {
    content: "\e980";
}
.icon-credit-note:before {
    content: "\e981";
}
.icon-customer1:before {
    content: "\e982";
}
.icon-day-book:before {
    content: "\e983";
}
.icon-E-way-bill:before {
    content: "\e984";
}
.icon-import-trial-balance:before {
    content: "\e985";
}
.icon-invoice1:before {
    content: "\e986";
}
.icon-journal-voucher:before {
    content: "\e987";
}
.icon-header-setting:before {
    content: "\e988";
}
.icon-uniE97A:before {
    content: "\e989";
}
.icon-download-circle:before {
    content: "\e98a";
}
.icon-company-HO:before {
    content: "\e98b";
}
.icon-warehouse-icon:before {
    content: "\e98c";
}
.icon-estimate:before {
    content: "\e98d";
}
.icon-gstr:before {
    content: "\e98e";
}
.icon-import-from-tally:before {
    content: "\e98f";
}
.icon-new-old-invoices:before {
    content: "\e990";
}
.icon-onboarding:before {
    content: "\e991";
}
.icon-profit-loss:before {
    content: "\e992";
}
.icon-proforma:before {
    content: "\e993";
}
.icon-purchase-management:before {
    content: "\e994";
}
.icon-purchase-record:before {
    content: "\e995";
}
.icon-search-app:before {
    content: "\e996";
}
.icon-settings-taxes:before {
    content: "\e997";
}
.icon-subscription1:before {
    content: "\e998";
}
.icon-aging-report:before {
    content: "\e999";
}
.icon-unlink:before {
    content: "\e99a";
}
.icon-notification:before {
    content: "\e99b";
}
.icon-branch-alice:before {
    content: "\e99c";
}
.icon-trial-balance:before {
    content: "\e99d";
}
.icon-user1:before {
    content: "\e99e";
}
.icon-vat:before {
    content: "\e99f";
}
.icon-copy-file:before {
    content: "\e9a0";
}
.icon-user-black:before {
    content: "\e9a1";
}
.icon-uniE9A2:before {
    content: "\e9a2";
}
.icon-upload:before {
    content: "\e9a3";
}
.icon-undo:before {
    content: "\e9a4";
}
.icon-fixed-assets:before {
    content: "\e9a5";
}
.icon-inventory-dashboard:before {
    content: "\e9a6";
}
.icon-folderminus:before {
    content: "\f2332";
}
.icon-folderplus:before {
    content: "\f2333";
}
.icon-folder:before {
    content: "\f2334";
}
