<div id="net-worth" ng-init="getNetWorthData()">
  <div class="panel panel-default shadow">
    <div class="panel-heading">
      <label>Net worth</label>
      <div class="pull-right">
        <label>
        <input type="radio" name="chart" checked='true'  value="Monthly" (click)="togle('Monthly')" checked>Monthly
      </label>
        <label>
        <input type="radio" name="chart"  value="Yearly" (click)="togle('Yearly')" checked>Yearly
      </label>
        <i class="glyphicon glyphicon-refresh pull-right" (click)="fetchChartData()"></i>
      </div>
    </div>
    <div class="panel-body pos-rel">
      <div class="dashboard-reconnectdiv" *ngIf="false">
        <div class="giddh-spinner vertical-center-spinner" ng-if="errorMessage == ''"></div>
        <label class="font-black" ng-if="errorMessage != ''">{{""}}</label>
      </div>
      <a ng-if="chartDataAvailable" class="pull-right pos-abs" ng-click="goToReports()">view detailed</a>
      <div class="chart-div" google-chart chart="myChartData">
        <chart [options]="options"></chart>
      </div>
      <!--<canvas id="line" class="chart-div chart chart-line" chart-data="chartData"-->
      <!--chart-labels="labels" chart-legend="true" chart-series="series" chart-options="chartOptions">-->
      <!--</canvas>-->
    </div>
  </div>
</div>
