<div class="relative">
    <div class="sub-detail-sidebar mr-2" id="inventory-sub-sidebar" *ngIf="subSidebarOpen">
        <div class="h100 clearfix">
            <h4 class="product-name">Group Dummy Name Furniture</h4>
            <ul>
                <li><a href="javascript:void();">Product Name 1 Dummy</a></li>
                <li><a href="javascript:void();">Product Name 2 Dummy</a></li>
            </ul>
            <ul class="sub-group mt-2">
                <li>
                    <i class="icon-folder mr-2"></i>Group Name 1
                    <ul>
                        <li><a href="javascript:void();" class="text-gray">Product Name 1 Dummy</a></li>
                        <li><a href="javascript:void();" class="text-gray">Product Name 1 Dummy</a></li>
                        <li><a href="javascript:void();" class="text-gray">Product Name 1 Dummy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-handle" (click)="openSubSidebar()">
        <i class="icon-arrow-down"></i>
    </div>
</div>
