<<<<<<< HEAD
@import "../../assets/css/color.scss";

.header{
    background-color: $midnight-blue;
=======
.header{
    background-color: #1a237e;
>>>>>>> 64cd98fbc9... shalinee | TEST | fianl design updated of common download button page
    padding: 15px;
    min-height: 60px;
}
.download-button{
    height: calc(100vh - 150px);
}
