

 
@import "../../../assets/css/color.scss";
 
 

.ddMaxHeight {
    max-height: 500px;
}

.giddh-logo {
    width: 100px;
}

.nav-left-bar {
    position: fixed;
    top: 61px;
    bottom: 0;
    min-height: 100vh;
    background: #fff;
    width: 215px;
    left: -215px;
    z-index: 990;
}

.nav-left-bar.open {
    box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.2);
}

.account-search .input-group-addon {
    border-color: $gainsboro;
    border-radius: 2px 0 0 2px;
    color: #484848;
    font-size: 12px;
    padding-right: 0px;
    background-color: transparent;
    vertical-align: top;
    line-height: 1.8;
}

.account-search .input-group-addon i.icon-search {
    position: relative;
    top: 2px;
    left: -3px;
}

.account-search .form-control {
    background: none !important;
    border-color: $gainsboro;
    border-left: 0px;
    border-radius: 0px 2px 2px 0 !important;
    height: 36px;
    padding-left: 3px !important;
}

.account-search .form-control:focus {
    border-color: $gainsboro !important;
    color: #b7b7b7;
}

.account-search {
    margin: 10px 15px 5px 15px;
    position: relative;
    height: 36px;
}

.account-search:hover:after {
    color: $rich-blue;
    cursor: pointer;
}

a[vr-item]:focus {
    background-color: #2d9ee0;
    color: #fff;
    cursor: pointer;
}

.account-search:after {
    content: "Ctrl + G ";
    position: absolute;
    display: block;
    clear: both;
    top: 0;
    right: 10px;
    font-size: 10px;
    line-height: 36px;
    color: #484848;
}

.account-search .form-control:after {
    background: red;
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    display: block;
}

.account-search .form-control::-webkit-input-placeholder {
    color: #484848;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.account-search .form-control::-moz-placeholder {
    color: #484848;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.account-search .form-control:-ms-input-placeholder {
    color: #484848;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.account-search .form-control:-moz-placeholder {
    color: #484848;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.account-search .form-control::-webkit-input-placeholder,
.account-search .form-control::-webkit-input-placeholder,
.account-search .form-control::-moz-placeholder,
.account-search .form-control:-ms-input-placeholder,
.account-search .form-control:-moz-placeholder {
    color: #484848 !important;
}

.left_fixed_header li:hover {
    cursor: pointer;
}

.main-company-name > li > a {
    padding: 6px 15px !important;
}

.main-company-name > li > a:hover .cText .cName,
.main-company-name > li > a:hover .icon-dots-three-vertical {
    color: #fff;
}

.left_fixed_header > li {
    text-transform: capitalize;
    position: relative;
 
}
.no-padding {
    padding: 0px !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .left_fixed_header li {
        display: grid;
    }
}

.left_fixed_header > li > a {
    display: block;
    padding: 7px 15px;
    color: $nero;
    position: relative;
}

.left_fixed_header > li > a:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: 0;
    background-color: transparent;
    top: 0;
}

.left_fixed_header > li > a:hover {
    color: $nero;
   
}

.left_fixed_header > li > a:hover .label > span,
.left_fixed_header > li > a:hover .label {
    color: #01a9f4;
}

.left_fixed_header > li a.active {
    background: $lavender;
}

.left_fixed_header > li > a.active .label,
.left_fixed_header > li > a.active .label > span {
    color:$nero;
 }

.left_fixed_header > li > a .label {
    display: table-cell;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 0px;
    text-align: left;
    color: #262626;
    letter-spacing: 0.6px;
    font-weight: normal;
    padding: 0;
}

.left_fixed_header.open li a .label {
    opacity: 1;
    text-overflow: ellipsis;
    max-width: 170px;
    white-space: inherit;
    line-height: 1.3;
}

/*
.left_fixed_header > li:hover a,
.left_fixed_header > li > a:hover span,
.left_fixed_header > li:hover a span {
    color: #fff;
}
*/

.left_fixed_header [class^="icon-"] {
    font-size: 20px;
    display: none;
}

.left_fixed_header .divider {
    border-bottom: 1px solid #363a41;
    padding: 4px 0;
    height: 0;
    margin-bottom: 4px;
}

.new-item {
    display: flex;
    justify-content: space-between;
}

:host
    ::ng-deep
    .left_fixed_header
    perfect-scrollbar
    > .ps.ps--scrolling-y
    > .ps__rail-y {
    opacity: 0;
}

:host
    ::ng-deep
    .left_fixed_header
    perfect-scrollbar.ps-show-active
    > .ps.ps--active-y
    > .ps-overlay:not(.ps-at-top)
    .ps-indicator-top,
:host
    ::ng-deep
    .left_fixed_header
    perfect-scrollbar.ps-show-active
    > .ps.ps--active-y
    > .ps-overlay:not(.ps-at-bottom)
    .ps-indicator-bottom {
    background: linear-gradient(
        to bottom,
        rgb(43, 42, 42) 0,
        rgba(0, 0, 0, 0) 100%
    );
}

.left_fixed_header h6 {
    color: $midnight-blue;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    // font-family:$opensans-semibold;
}

.left_fixed_header > h6 > i {
    float: right;
    font-size: 10px;
    background: $midnight-blue;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15.9px;
    border-radius: 2px;
    color: #fff;
    margin-top: 1px;
    margin-right: 2px;
}

.other i {
    float: right;
    font-size: 20px;
    background: transparent;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15.9px;
    border-radius: 2px;
    color: #999;
    margin-top: 1px;
}

.left_fixed_header > h6 > i:hover {
    color: #fff;
    background: #6b73c8;
}

.nav-tabs {
    padding-top: 0;
}

.nav-left-bar.open {
    left: 0;
}

.left-sub-menu ul > li > a {
    font-size: 14px;
    color: dimgray;
    display: block;
    clear: both;
    padding: 6px 15px;
    line-height: 16px;
}

.left-sub-menu ul > li > a:hover {
    color: #01a9f4;
}

.left-sub-menu ul {
    list-style-type: none;
    display: inline-block;
    width: 112px;
    vertical-align: top;
}

.left-sub-menu {
    background: #fff;
    position: absolute;
    left: -12px;
    bottom: 0;
    width: 570px;
    z-index: -1;
    display: block;
    clear: both;
    float: none;
    box-shadow: 0 0 3px #00000036;
    border-radius: 2px;
    padding: 5px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
    margin-left: -10px;
    z-index: 9;
}

.sub-menu > a > i {
    font-size: 13px;
    vertical-align: middle;
    text-align: right;
    position: relative;
    color: #a0a0a0;
    top: 6px;
}

.sub-menu > li {
    position: relative;
}

.sub-menu > li > a {
    display: block;
    padding: 8px 20px;
    color: #b7b7b7;
}

.left_fixed_header > li > a > i {
    position: relative;
    top: 3px;
}

.left_fixed_header > li:hover .left-sub-menu {
    opacity: 1;
    z-index: 9;
    visibility: visible;
}

.nav-wrapper {
    position: relative;
    height: calc(100vh - 145px);
}

.menu_wrapper {
    max-height: 100%;
}

.left-sub-menu.open {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.modal-open {
    overflow: hidden !important;
}

.inner-tooltip {
    white-space: nowrap !important;
    max-width: none !important;
}

.posrelative {
    position: relative;
}

.d-inline-block {
    display: inline-block !important;
}

.universal_date li {
    display: inline-block;
    position: relative;
}

.universal_date li input {
    background: $governor-bay !important;
    padding-left: 29px !important;
    color: #fff !important;
    padding-right: 5px !important;
    border: 1px solid $governor-bay;
    text-align: left;
}

.universal_date li input:focus {
    border: 1px solid $governor-bay !important;
}

.header-date {
    background: $governor-bay !important;
    padding: 5px 11px;
    border-radius: 0px 2px 2px 0px;
    color: #fff;
    padding-left: 0;
}

.mobile_menu_icon {
    display: none;
}

.calender-addone {
    background-color: $governor-bay;
    color: #fff;
    padding: 9px 8px 9px 10px;
    vertical-align: bottom;
    font-size: 14px;
    border-radius: 2px 0 0 2px;
    display: inline-flex;
}

.notToday .calender-addone {
    position: absolute;
    border: 1px solid $governor-bay;
    padding: 8px 8px;
}

#AddManage.btn-gray {
    background: $governor-bay;
    color: #fff;
    position: relative;
    padding-left: 32px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 12px;
    border: 1px solid $governor-bay;
}

#AddManage .icon-edit-ico {
    position: absolute;
    left: 0px;
    background-color: $governor-bay;
    padding: 8px 6px 8px 7px;
    top: 0px;
    text-align: center;
    display: inline-flex;
    color: #fff;
}

span.icon-support.dropdown-toggle {
    background-color: $governor-bay;
    color: #fff;
    padding: 6px 7px;
    font-size: 17px;
    border: 1px solid $governor-bay;
    border-radius: 1px;
    position: relative;
    top: 1px;
}

.notToday .date-range-picker {
    height: 32px;
}

.other a {
    color: $extra-dark-gray;
    text-transform: uppercase;
    // font-family:$opensans-semibold;
}

.showMoreOpt {
    font-size: 14px;
    padding: 0 15px;
}

// top header css
.paddingTopFixed {
    padding-top: 60px;
}

.primary-header {
    background-color: $midnight-blue;
    min-height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9990;
}

.primary-header .giddh-logo {
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 60px;
}

.primary-header .right-details {
    transform: translateY(14px);
}

.primary-header li.company-name {
    top: 0;
    list-style-type: none;
}

.primary-header .company-name-finance-year {
    display: inline-block;
    padding-left: 15px;
    width: 90%;
}

.primary-header .company-name-finance-year span {
    display: block;
    vertical-align: middle;
}

.primary-header .cText {
    display: flex;
    align-items: center;
}
.cText {
    padding: 6px 8px 6px 0 !important;
    overflow: hidden;
}

.primary-header ul.main-company-name {
    height: 60px;
    display: flex;
    align-items: center;
}

.unique-name-financial-year span {
    display: inline-block !important;
}

ul.sub-list {
    min-height: 50px;
    max-height: 290px;
}

.upgradePlan.list-inline > li {
    padding-left: 0 !important;
}

.nav-left-bar .company-name .cText span {
    color: $nero;
    word-break: break-all;
}

.nav-left-bar .company-name-finance-year {
    display: inline;
    padding-left: 0;
    /*float: right;
    width: 150px;*/
    position: relative;
    top: -3px;
}

.nav-left-bar .unique-name-financial-year span {
    display: block !important;
}

.nav-left-bar .company-name .branch-unique-name {
    font-size: 12px;
    color: #01a9f4 !important;
    padding: 0 0 3px 0;
}

.company-name .ellp {
    white-space: inherit;
    font-size: 14px;
}

.overlay-cal {
    background: rgba(43, 38, 38, 0.6901960784313725);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

.close-2 {
    position: fixed;
    top: 15px;
    right: 15px;
    background: none;
    color: red;
    border: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    z-index: 9999;
}
.head-nav {
    background: #f1f1f1;
    border-bottom: 1px solid #e4e4e4;
}
.ledger-page {
    position: sticky;
    top: 60px;
    z-index: 10;
}
/* responsive */

@media (max-height: 800px) {
    .nav-wrapper {
        height: calc(100vh - 150px);
    }
}

@media (max-width: 1023px) {
    .modal-liq90 {
        width: 100% !important;
    }
    .logo-hide-ipad {
        display: none;
    }
    .primary-header .col-sm-5 {
        width: 50%;
    }
    .primary-header .btn-group.cp.mrL1.d-inline-block {
        margin-left: 0;
    }
    .primary-header ul.nav.universal_date.mr-2,
    .primary-header #AddManage.btn-gray {
        margin-right: 5px;
    }
    .primary-header .row .col-sm-5:nth-child(3) {
        padding-left: 0;
    }
    .account-search:after {
        display: none;
    }
}

@media (max-width: 768px) {
    .mobileHeader .btn-xs {
        padding: 3px 8px 8px 28px !important;
    }
    span.icon-support.dropdown-toggle {
        top: 7px;
    }
    .lowerLayerHeader {
        padding-top: 10px;
    }
    .hamburger_menu button {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 18px;
    }
    .primary-header .btn-group.cp.mrL1.d-inline-block {
        height: 34px;
    }
}

@media (max-width: 767px) {
    .nav-left-bar {
        width: 270px;
        left: -270px;
    }
    .upperLayerHeader {
        padding-top: 5px;
    }
    .paddingTopFixed {
        display: none;
    }
    .nav-left-bar {
        top: 0;
    }
    .mobile_menu_icon {
        position: absolute;
        top: 14px;
        color: #fff;
        right: -35px;
        background-color: $midnight-blue;
        width: 35px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 3px 3px 0;
        display: none;
    }
    .nav-left-bar.open .mobile_menu_icon {
        display: flex;
    }
    .paddingTopFixed-mobile {
        padding-top: 86px;
    }
    .upperLayerHeader .open .dropdown-menu {
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    .calender-addone {
        height: 36px;
        vertical-align: middle;
        align-items: center;
    }
    .header-date {
        height: 36px;
        vertical-align: top;
        display: inline-flex !important;
        align-items: center;
    }
    .nav-left-bar .company-name-finance-year {
        width: 200px;
        float: left;
    }
    .cText {
        overflow: hidden;
    }
    .cText.head-nav {
        display: none;
    }
}

@media (min-width: 412px) and (max-width: 840px) {
    ul.sub-list {
        min-height: 30px;
        max-height: 190px;
    }
    .sub_menu_nav {
        top: -60px;
    }
}

@media (max-width: 411px) {
    ul.sub-list {
        min-height: 50px;
        max-height: 190px;
    }
}

@media (max-width: 375px) {
    .universal_date li.dateRangPicker {
        display: block;
    }
    .universal_date .header-date {
        display: inline-block;
    }
    button#AddManage {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .universal_date li {
        display: block;
        position: relative;
    }
    .universal_date .btn-link {
        border-bottom: none;
        text-align: left;
        height: 24px !important;
        display: none;
    }
    .lowerLayerHeader {
        padding-top: 5px;
    }
}
