<div class="row" auto-height="" style="min-height: 600px; height: 967.6px;">
  <div id="left">
    <div class="scrClass flow_visible ps-container" style="min-height: 600px; height: 967.6px;">
      <form #search="ngForm" name="searchFormClb" novalidate="" class="col-xs-12">
        <p class="lead mrT2">Search</p>
        <div class="form-group">
          <label>Select Groups</label>
          <input [typeahead]="dataSource" type="text" [(ngModel)]="groupName" (typeaheadOnSelect)="OnSelectGroup($event)" (typeaheadOnBlur)="OnSelectGroup($event)"
            typeaheadOptionField="name" required class="form-control" name="city" autocomplete="off" maxlength="50" placeholder="Select">

        </div>

        <div class="form-group" (clickOutside)="showFromDatePicker=false;">
          <label>From date</label>
          <div class="input-group">
            <input type="text" name="from" [ngModel]="moment(fromDate).format('DD-MM-YYYY')" (focus)="showFromDatePicker = true; showToDatePicker=false;"
              class="form-control" required/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="showFromDatePicker = !showFromDatePicker"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
          </div>
          <div *ngIf="showFromDatePicker" style="position: absolute; z-index:10; min-height:290px;">
            <datepicker name="fromDate" [(ngModel)]="fromDate" (selectionDone)="showFromDatePicker=!showFromDatePicker" [showWeeks]="true"></datepicker>
          </div>
        </div>

        <div class="form-group" (clickOutside)="showToDatePicker=false;">
          <label>To date</label>
          <div class="input-group">
            <input type="text" name="to" required [ngModel]="moment(toDate).format('DD-MM-YYYY')" (focus)="showToDatePicker = true;showFromDatePicker=false;"
              class="form-control" />
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="showToDatePicker = !showToDatePicker"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

          </div>
          <div *ngIf="showToDatePicker" style="position: absolute; z-index:10; min-height:290px;">
            <datepicker name="toDate" [(ngModel)]="toDate" (selectionDone)="showToDatePicker=!showToDatePicker" [showWeeks]="true"></datepicker>
          </div>
        </div>

        <div class="mrB4">
          <button [disabled]="search.invalid" class="btn btn-primary btn-block" (click)="getClosingBalance(false,$event)">Go
          </button>

          <button [disabled]="search.invalid" class="btn btn-primary btn-block mrT1" (click)="getClosingBalance(true,$event)">Refresh
          </button>
        </div>
      </form>
    </div>


  </div>
</div>
