.gst-treatment-wrapper {
    background-color: var(--color-white);
    box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
    height: 290px;

    .gst-treatment-header {
        background-color: var(--color-dark-fog);
        padding: 8px 10px;
        border-bottom: 1px solid var(--color-iron);
    }
}
.gst-treatment-body {
    padding: 5px;
}
.gst-treatment-body label {
    font-size: 12px;
    margin-bottom: 7px;
}
.btn-success {
    background: var(--color-success-enable);
    color: var(--color-white);
}
.aqua-color a {
    color: var(--color-blue);
    font-size: 12px;
}
