@import "../../../../assets/css/color.scss";
.gst-treatment-wrapper {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    height: 290px;

    .gst-treatment-header {
        background-color: #e2e2e2;
        padding: 8px 10px;
        border-bottom: 1px solid #cccccc;
    }
}
.gst-treatment-body {
    padding: 5px;
}
.gst-treatment-body label {
    font-size: 12px;
    margin-bottom: 7px;
}
.btn-success {
    background: #28ab00;
    color: #fff;
}
.aqua-color a {
    color: $deep-sky-blue;
    font-size: 12px;
}
