@import '../../../assets/css/color.scss';
.mobile-home-sidebar-wrapper {
    max-width: 280px;
    width: 100%;
    background-color: $white;
    color: $nero;
    height: 100vh;
    letter-spacing: 0;
    .sidebar-header{
        background-color: $midnight-blue;
        color: $white;
        padding: 15px;
        position: relative;
        .company-name-alice{
            width: 45px;
            height: 45px;
            background: $chetwode-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border-radius: 50%;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .close-btn{
            position: absolute;
            top: 4px;
            right: 5px;
            padding: 8px 10px;
            font-size: 18px;
        }
        .company-details{
            p.company-name{
                white-space: normal;
                word-break: break-word;
            }
        }
    }
    .sidebar-body{
        padding: 15px;
        ul{
            list-style: none;
            li{
                a{
                    padding: 10px 0;
                    color: $nero;
                    font-family: 'opensans-semibold';
                    display: flex;
                    &:hover{
                        color: $deep-sky-blue;
                    }
                }
            }
        }
    }
}