@import "../../../../../assets/css/color.scss";
.invoice-modal-content:after {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 170px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.invoce-controll {
    position: relative;
}

.invoiceDetail-header {
    padding-top: 25px;
}

.invoice-modal-content {
    padding: 0;
    position: fixed;
    top: 59px;
    width: 100%;
    background-color: $white;
    margin: 0 0;
    height: 100vh;
    z-index: 999;
    left: 0;
}

.invoice-sidebar {
    background-color: $white;
    padding: 0;
    height: calc(100vh - 20px);
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invoice-sidebar .invoice-number-date {
    font-size: 12px;
}

.invoice-sidebar .invoice-number-date span.inoviceNumber {
    color: #0c8fe6;
}

.invoice-sidebar .invoice-number-date span.inoviceDate {
    color: #666666;
}

.invoice-sidebar .invoiceHolderName p {
    color: #333333;
    font-size: 14px;
    margin-top: 3px;
}

.invoice-sidebar .singleInvoiceDetail {
    padding: 10px 15px;
    border-bottom: 1px solid #dedede;
    list-style: none;
}

.invoice-sidebar .singleInvoiceDetail:hover {
    background-color: #f0f0f0;
}

.invoice-sidebar .singleInvoiceDetail.activeItem {
    background-color: #f0f0f0;
}

.invoice-sidebar .singleInvoiceDetail:last-child {
    border-bottom: none;
}

.invoice-sidebar .inovice-amount {
    font-size: 12px;
    line-height: 3.4;
}

.dropdown-menu {
    width: 400px;
}

.dropdown-menu .form-group {
    padding: 20px;
    margin-bottom: 0;
}

.dropdown-menu.open {
    display: block;
}

.invoiceDetail-header h3.invoice-num {
    font-size: 16px;
    font-weight: 600;
}

.invoiceDetail-header p.acc-holderName {
    font-size: 14px;
    margin-top: 3px;
}

.invoiceDetail-header .edit-change-status {
    text-align: right;
    padding-right: 15px;
}

.invoiceDetail-header .edit-change-status .btn {
    margin-right: 10px;
}

.invoiceDetail-header .edit-change-status .edit-link {
    color: #0c8fe6;
    padding-right: 10px;
    font-size: 16px;
}

.invoiceDetail-header .edit-change-status .edit-link img {
    width: 15px;
}

.invoiceDetail-header .edit-change-status .edit-action-btn-grps {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    margin-right: 10px;
    span {
        border-left: 1px solid #cbcbcb;
        padding: 5px;
        height: 30px;
        width: 30px;
        &:first-child {
            border-left: none;
        }
        a {
            color: #666666;
            display: block;
            text-align: center;
        }
    }
    .disabled {
        background: $gainsboro !important;
        cursor: not-allowed;
        a {
            cursor: not-allowed;
        }
    }
}

.close-modal img {
    width: 16px;
    opacity: 0.6;
}

.payment-detail {
    margin-top: 30px;
    padding-bottom: 25px;
}

.payment-detail .payment-icon {
    width: 35px;
    height: 35px;
    background-color: #cccccc;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.single-paymentDetail a {
    color: #0c8fe6;
}

.payment-detail p.payment-content {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333;
}

.payment-log {
    padding-top: 10px;
}

.invoice-image-section {
    text-align: center;
    background-color: $white;
    margin-bottom: 35px;
    z-index: -9;
    height: 100%;
    .expand-button {
        position: relative;
        right: 15px;
        font-size: 14px;
        text-align: right;
        margin-top: 15px;
        span {
            margin-right: 5px;
        }
    }
    .error {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 36px;
        max-width: 60%;
        margin: 0 auto;
        color: #ff0d0d;
    }
    .image-preview {
        width: 100%;
    }
    .preview-not-supported-attachment {
        font-size: 18px;
        margin: 16px;
    }
    .pdf-preview {
        height: 100%;
        // margin: 15px 200px;
        // border: 2px dashed #d9d9d9;
        // padding: 10px;
    }
}

.invoice-modal-content .col-xs-4 {
    z-index: 40;
}

.single-paymentDetail {
    color: #0c8fe6;
}

.payment-log-div li {
    list-style: none;
    padding-bottom: 20px;
    padding-left: 0;
}

.payment-log-div li:last-child {
    padding-bottom: 0;
}

.payment-log-div span.small-circle {
    height: 10px;
    width: 10px;
    border: 1px solid #666666;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.payment-log-div .activeLog span.small-circle {
    background-color: #0c8fe6;
    border-color: #0c8fe6;
}

.payment-log-div .aboutPaymentLog {
    color: #666;
}

.payment-log-div .activeLog .aboutPaymentLog {
    color: #0c8fe6;
}

.payment-log-div ul {
    position: relative;
}

.payment-log-div ul:before {
    position: absolute;
    content: "";
    height: calc(100% - 30px);
    width: 1px;
    border-left: 1px dashed #666666;
    top: 16px;
    left: 4.5px;
}

.invoice-detail {
    background-color: #f7f8fa;
    padding-left: 15px;
    padding-bottom: 20px;
}

span.close-modal.cp.pull-right {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #ddd;
    border: 1px solid $gainsboro;
}

.changeStatus-dropdown .dropdown-menu {
    width: 160px;
}

.dropdown-toggle.btn-pink {
    padding: 6px 16px;
}

.changeStatus-dropdown .dropdown-menu.show {
    display: inline-block !important;
    left: auto !important;
    right: 8px !important;
}

.btn-group.changeStatus-dropdown.open.show {
    display: inline-block !important;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: #e5e5e5;
}

.invoice-search-box input {
    flex: 1;
    border: 1px solid #ddd;
    height: 37px;
    padding: 0 30px;
    background-image: url("../../../../../assets/images/searchIcon.svg");
    background-position: 10px 13px;
    background-repeat: no-repeat;
}

.invoice-search-box button {
    margin-left: 10px;
}

.invoice-search-box {
    display: flex;
    padding: 15px 15px 10px;
    justify-content: space-around;
}

.invoice-sidebarWrapper {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.unresponsive {
    overflow-y: hidden;
}

.invoice-detailWrapper {
    height: 100vh;
    //overflow-y: auto;
}

.invoice-editWrapper {
    height: 100vh;
    overflow-y: auto;
    .invoice-editHeader {
        display: flex;
        justify-content: space-between;
        height: 54px;
        background-color: #ffffff;
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        align-items: center;
        span {
            padding: 10px;
            p {
                font-size: 16px;
                font-weight: bold;
            }
        }
        span.close-modal {
            height: 32px;
            width: 32px;
            background-color: #ddd;
            border: 1px solid $gainsboro;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    }
    .invoice-editBody {
        padding-bottom: 140px;
    }
}

.changeStatus-dropdown #setting-tab {
    width: 340px;
    left: auto;
    right: 0;
}

.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 9;
    top: 0px;
    left: 0px;
}

.loader:before {
    display: block;
    position: absolute;
    z-index: 1000000;
    content: "";
    left: 0px;
    top: 0px;
    width: 200px;
    height: 4px;
    background-color: #5b64c9;
    animation: loading 2s linear infinite;
}

label.labeled {
    border: 1px solid #ddd;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 10px 0 0;
    background-color: #d6d6d6;
    position: relative;
    top: -1px;
}

.scroll-half {
    height: 100vh !important;
    overflow-y: auto !important;
}

@keyframes loading {
    from {
        left: 0px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.sendEmailModal {
    min-width: 240px;
    position: absolute;
    top: 40px;
    z-index: 10;
    right: 0;
    border: 1px solid #c7c7c7;
    .sendEmailModalWrapper {
        background-color: $white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        height: 200px;
        .sendEmailModalHeader {
            background-color: #e2e2e2;
            padding: 8px 10px;
            border-bottom: 1px solid #cccccc;
            span {
                width: unset;
            }
        }
    }
    .sendEmailModalBody {
        padding: 5px;
    }
    .sendEmailModalBody label {
        font-size: 12px;
        margin-bottom: 7px;
    }
    .btn-success {
        background: #28ab00;
        color: $white;
    }
    .aqua-color {
        cursor: pointer;
        a {
            color: $deep-sky-blue;
            font-size: 12px;
        }
    }
}
.linked-purchase-order {
    .purchase-order-number {
        color: $gray;
        .aqua-color {
            color: $deep-sky-blue;
            cursor: pointer;
        }
    }
}

.dropdown-width-small {
    width: 165px;
}

.dropdown-btn-new {
    padding: 5px 16px !important;
}

.upload-excel {
    display: flex;
    height: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.max500 {
    max-width: 500px;
}

.dashed-bdr {
    border: 2px dashed $gainsboro;
}

#csv-upload-input {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
}

.select-file {
    color: #089328;
}

.file-uplod-penal {
    width: 100%;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 8px;
    border-radius: 4px;
    color: #cccccc;
}

.file-input-wrapper img {
    width: 100px;
}
/*invoice table*/

.strong {
    font-weight: bold;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
/*
  .font-12 {
  font-size: 12px !important;
  } */
.pb-1 {
    padding-bottom: 10px;
}
p {
    line-height: 17px;
}
/* heading */
#default header h1 {
    /* color: #df4927; */
    font-size: 14px;
}
#default header h2 {
    /* color: #df4927; */
    font-size: 14px;
    font-weight: bold;
}
/* table */
#default table {
    /* font-size: 93%; */
    table-layout: fixed;
    width: 100%;
    border-collapse: inherit;
}

/* page */

#default {
    overflow: auto;
    background: $white;
    padding: 0;
    font-size: 14px;
    max-width: 760px;
    margin: 20px auto 120px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#default::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#default::-webkit-scrollbar-track {
    background: $white-smoke;
}

/* Handle */
#default::-webkit-scrollbar-thumb {
    background: $gainsboro;
    border-radius: 20px;
}

/* Handle on hover */
#default::-webkit-scrollbar-thumb:hover {
    background: $gainsboro;
    border-radius: 20px;
}
#default body {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0 auto;
    padding: 0.1in;
    letter-spacing: 0;
    width: 100%;
    background: $white;
    border-radius: 1px;
}

/* header */

#default header {
    background: $white;
    padding: 10px 15px;
    border-bottom: 2px solid #e1443e;
}

#default header:after {
    clear: both;
    content: "";
    display: table;
}

.pull-right tr td {
    text-align: right !important;
}

#default .meta {
    padding: 0 15px;
    /* margin-bottom: 10px; */
}

#default .meta tbody tr td,
#default .meta tbody tr th {
    border: 0;
    padding: 5px 0;
}

#default .meta tbody tr th {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    color: $nero;
}

.hidden-label {
    opacity: 0;
}

#default .meta tbody tr td {
    padding: 6px 0;
    line-height: 1.3rem;
}
#default header figure {
    margin: 0 0 0.3em 0;
    width: 100%;
    padding: 0px;
}

#default header figure p {
    margin: 0 0 0.25em;
}

#default header span {
    margin: 0 0 0 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

#default header img {
    max-height: 100%;
    max-width: 120px;
    float: left;
    margin-bottom: 0;
}

#default header table tr td {
    border: 0;
    display: table-cell;
    vertical-align: baseline;
}

/* article */

#default article {
    margin-bottom: 10px;
}

#default article:after {
    clear: both;
    content: "";
    display: table;
}

#default article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

#default article address {
    float: left;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.warehouse-table {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    &:last-child {
        border-bottom: none;
    }
}
.warehouse-table tbody tr td {
    padding: 0px 20px 5px 10px;
}
/* table items */

#default table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#default table.item th,
#default table.item tfoot tr th {
    position: relative;
    padding: 8px 7px;
    line-height: 1.2rem;
    background-color: $white-smoke;
    font-size: 12px;
}
#default table.item tfoot tr th {
    padding-right: 7px;
    border-top: 1px solid $light-gray;
}
/* tcs */
.tcs hr {
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid $cinnabar-orange;
}
.tcs table {
    margin: 50px 0px;
    clear: both;
    width: 100%;
    border-collapse: collapse !important;
}
.tcs table td,
.tcs table th {
    border-radius: 0;
    padding: 5px;
    border: 1px solid $light-gray;
    vertical-align: top;
    text-align: right;
}

.tcs table td:first-child {
    text-align: left;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    font-weight: bold;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    text-align: right;
}

.tcs table th:first-child,
.tcs table tfoot tr th:first-child {
    text-align: left;
}

.br0 {
    border-right: 0px !important;
}

.bl0 {
    border-left: 0px !important;
}

.title-template {
    font-size: 20px;
    font-family: "opensans-semibold";
}
#default table.item td {
    border-radius: 0;
    padding: 7px;
    border-top: 1px solid $light-gray;
    line-height: 1.2rem;
    vertical-align: top;
}

#default table.item td p {
    color: $zambezi;
}

#default table.balance {
    width: 85%;
    float: right;
    margin: 10px 7px 10px;
}

#default table.balance th,
#default table.balance td {
    width: 50%;
    text-align: right;
    padding: 0 2px;
    /* font-size: 11px; */
}

/* aside */

#default aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#default aside h1 {
    border-color: $nobel;
    border-bottom-style: solid;
}

/*footer*/

#default footer {
    border-top: 1px solid $eastern-blue;
    padding: 16px 0px 30px 0;
    margin: 8px 0 0;
    background: $white;
}
#default .company-address p {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
#default aside {
    line-height: 1.5rem;
}

#default .subfooter {
    padding: 10px 15px 0px 15px;
}

#default .subfooter hr {
    width: 100%;
    border-bottom: 1px solid $very-light-gray;
    margin: 3px 0;
}

#default .subfooter h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#default .docTitle {
    width: 100%;
    line-height: 20px;
    text-align: center;
    height: 26px;
    position: relative;
}

#default .docTitle h2 {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}

#default .docTitle h2:after {
    content: attr(title);
    width: auto;
    position: relative;
    background: $white;
    margin: 0 auto;
    padding: 6px 16px;
    right: 0;
    line-height: 24px;
    vertical-align: middle;
    z-index: 0;
    left: 0;
}

#default .docTitle h2.no-content:after {
    content: "";
    background: transparent;
}

#default p {
    margin: 0;
}

#default h2 {
    margin: 0;
    font-size: inherit;
}

#default table.item th .bgClr {
    position: absolute;
    top: 0;
    bottom: 0;
    background: aqua;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.05;
    z-index: 0;
}

.docTitle hr {
    position: absolute;
    height: 2px;
    top: 50%;
    width: 100%;
    height: 1px;
}

strong {
    font-weight: bold;
}

@media (max-width: 767px) {
    .center-block .btn-sm {
        float: none !important;
        text-align: center !important;
        display: block;
        margin: 0 !important;
        width: 100%;
        padding: 4px 0;
    }
}

/*responsive*/

@media (max-width: 1024px) {
    .invoice-search-box {
        display: block;
    }
    .invoice-search-box input {
        width: 100%;
    }
    .invoice-search-box button {
        margin-left: 0;
        padding: 5px 16px;
        vertical-align: top;
        margin-top: 4px;
    }
    .dropdown-toggle.btn-pink {
        padding: 6px 8px;
    }
    .invoice-sidebar .singleInvoiceDetail {
        padding: 4px 15px;
    }
}

@media (max-width: 991px) {
    .invoice-sidebar .invoice-number-date span.inoviceDate {
        display: block;
        position: relative;
        margin-left: -6px;
    }
    .invoice-sidebar .invoice-number-date span.inoviceDate:before {
        position: absolute;
        content: "";
        background-color: $white;
        width: 3px;
        height: 12px;
        top: 3px;
    }
    .invoice-sidebar
        li.activeItem
        .invoice-number-date
        span.inoviceDate:before {
        background-color: #f0f0f0;
    }
}

@media (max-width: 768px) {
    .invoice-modal-content:after,
    .invoice-modal-content {
        top: 121px;
    }
}

@media (max-width: 767px) {
    .invoice-sidebar {
        background-color: $white;
        padding: 0;
        height: inherit;
        max-height: 46vmax;
        overflow-y: auto;
    }
    .invoiceDetail-header .edit-change-status .edit-action-btn-grps {
        float: left !important;
    }
    .invoiceDetail-header .edit-change-status {
        padding-top: 10px;
    }
    .invoice-modal-content:after,
    .invoice-modal-content {
        top: 131px;
    }
    .invoice-modal-content {
        height: 100vh !important;
        overflow-y: auto !important;
    }
    .single-paymentDetail {
        margin-bottom: 10px;
    }
    .payment-detail .payment-icon {
        margin-right: 10px;
        margin-bottom: 40px;
        float: left;
    }
}

@media (max-width: 375px) {
    .invoice-modal-content:after,
    .invoice-modal-content {
        top: 121px;
    }
}
