.ImportedFileDesign {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImportedFileDesign-box {
    display: flex;
    //align-items: center;
}

.ImportedFileDesign-box i {
    font-size: 39px;
    color: #bfbfbf;
    float: left;
}

.ImportedFileDesign h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 10px;
}

.ImportedFileDesign h3 {
    font-size: 20px;
    color: #797979;
}

.ImportedFileDesign-content {
    float: right;
}
