.active-tab {
    color: var(--color-quaternary-button-text) !important;
    background: var(--color-quaternary-button-background) !important;
}
.inactive-tab {
    color: var(--color-primary-button-text) !important;
    background: var(--color-primary-button-background) !important;
}
.content-tab {
    .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: var(--color-danger);
        color: var(--color-white);
        width: 25px;
        height: 25px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 1px 6px var(--color-primary-common-box-shadow);
    }
}

.edit-filter-navigation-btn {
    line-height: 0 !important;
    height: 44px;
}
