.active-tab {
    background: var(--color-giddh-blue) !important;
    color: var(--color-white) !important;
}
.inactive-tab {
    background: var(--color-white) !important;
    color: var(--color-giddh-blue) !important;
}
.content-tab {
    .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: var(--color-danger);
        color: var(--color-white);
        width: 25px;
        height: 25px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 1px 6px var(--color-danger);
    }
}
