@import "../../../../../assets/css/color.scss";

.active-tab {
    background: $jacksons-purple !important;
    color: $white !important;
}
.inactive-tab {
    background: $white !important;
    color: $jacksons-purple !important;
}
