.refresh-button {
    border: 1px solid var(--color-medium-gray);
}

.dialog-content {
    height: calc(100% - 60px) !important;
    &/* UNUSED COMPONENT CLASS: mat-mdc-dialog-content - Auto-commented by script
.mat-mdc-dialog-content{
        max-height: unset !important;
    }
*/
}