/* create warehouse css starts */
.create-warehouse-page {
    .create-warehouse-under {
        border-bottom: 1px solid var(--color-common-secondary-border);
        .warehouse-under-company {
            p {
                color: var(--color-nero);
            }
            .warehouse-company-name {
                .label-wrapper {
                    display: flex;
                    font-size: var(--font-size-16);
                    label {
                        color: var(--color-abbey);
                        min-width: 200px;
                    }
                    span {
                        color: var(--color-abbey);
                        display: block;
                    }
                    img {
                        width: 24px;
                    }
                }
            }
        }
        .warehouse-image {
            text-align: right;
            img {
                width: 100%;
                max-width: 200px;
            }
            img.branch-image {
                max-width: 140px;
            }
        }
    }
    .warehouse-form {
        .warehouse-form-field {
            font-size: var(--font-size-16);
            display: flex;
            align-items: center;
            color: var(--color-nero);
            margin-bottom: 15px;
            label {
                min-width: 200px;
            }
            input,
            .form-group {
                width: 100%;
                max-width: 350px;
            }
            .address-dropdown {
                .list-item {
                    .entity-icon {
                        padding: 4px;
                    }
                    .entity-details {
                        margin-left: 6px;
                        flex: 1;
                        .item {
                            font-family: var(--font-semibold);
                        }
                    }
                    .default-entity {
                        align-items: center;
                        display: flex;
                        &:hover:after {
                            color: var(--color-blue);
                        }
                        .icon-favorite-selected {
                            color: var(--color-blue);
                        }
                    }
                }
            }
            input[type="checkbox"] {
                width: auto;
                max-width: auto;
                margin-right: 15px;
            }
            .sub-location-input {
                max-width: 350px;
                width: 350px;
                div {
                    i {
                        padding: 5px;
                        cursor: pointer;
                        &.icon-plus {
                            color: var(--color-teal);
                        }
                    }
                }
            }
        }
    }
}
.footer-btn {
    background-color: var(--color-dark-fog);
    padding: 15px;
}
.linked-entities {
    .list-item {
        .entity-icon {
            padding: 4px;
        }
        .entity-details {
            margin-left: 6px;
            flex: 1;
            .item {
                font-family: var(--font-semibold);
            }
        }
        .default-entity {
            align-items: center;
            display: flex;
            &:hover:after {
                color: var(--color-blue);
            }
            .icon-favorite-selected {
                color: var(--color-blue);
            }
        }
    }
}
.address-dropdown sales-sh-select::ng-deep .menu {
    max-height: inherit !important;
}
@media (max-width: 1023px) {
    .create-warehouse-page {
        .create-warehouse-under {
            .warehouse-image {
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .create-warehouse-page {
        .create-warehouse-under {
            .warehouse-under-company {
                p {
                    margin-bottom: 10px;
                }
                .warehouse-company-name {
                    .label-wrapper {
                        flex-direction: column;
                        label {
                            min-width: 100%;
                        }
                    }
                }
            }
        }
        .warehouse-form {
            .warehouse-form-field {
                flex-direction: column;
                align-items: flex-start;
                label {
                    width: 100%;
                    margin-bottom: 8px;
                }
                .checkbox-label {
                    display: none;
                }
                input,
                sh-select {
                    width: 100%;
                    max-width: 100%;
                }
                .sub-location-input {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}
/* create warehouse css end */
