<ng-container
    appTranslate
    [file]="'accounts'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <div class="modal-header d-flex align-items-center activity-header">
        <h3 mat-dialog-title>{{ localeData?.bulk_add }}</h3>
        <button class="close" mat-dialog-close>×</button>
    </div>
    <mat-dialog-content class="w-100 aside-dialog-overflow bulk-dialog">
        <div class="p-3">
            <form class="create-acc-form d-flex flex-column row-gap15" [formGroup]="bulkAddAccountForm">
                <ng-container formArrayName="customFields">
                    <div class="d-grid column-gap1 pd-b1" [ngClass]="data?.foreignCurrency ? 'grid-columns-4' : 'grid-columns-3'">
                        <h4 class="fw-bold w100">{{ commonLocaleData?.app_branch_name }}</h4>
                        <h4 class="fw-bold text-left" *ngIf="data?.foreignCurrency">
                            {{ localeData?.foreign_opening_balance }}
                        </h4>
                        <h4 class="fw-bold text-left">{{ localeData?.opening_balance }}</h4>
                        <h4 class="fw-bold text-right justify-self-end">{{ localeData?.opening_balance_type }}</h4>
                    </div>
                    <ng-container
                        *ngFor="let item of bulkAddAccountForm.get('customFields')['controls']; let bulkIndex = index"
                        [formGroupName]="bulkIndex"
                    >
                        <div class="d-grid column-gap1" [ngClass]="data?.foreignCurrency ? 'grid-columns-4' : 'grid-columns-3'">
                            <p tooltip="{{ branches[bulkIndex]?.name }}" class="word-wrap-dots text-ellipsis w100">
                                {{ branches[bulkIndex]?.name }}
                            </p>
                            <div *ngIf="data?.foreignCurrency" class="bulk-input-width">
                                <input
                                    type="number"
                                    min="0"
                                    class="form-control text-right mr-1 m-auto"
                                    digitsOnlyDirective
                                    formControlName="foreignOpeningBalance"
                                    [placeholder]="'0.00'"
                                />
                            </div>
                            <div class="bulk-input-width">
                                <input
                                    type="number"
                                    min="0"
                                    class="form-control text-right mr-1"
                                    digitsOnlyDirective
                                    formControlName="openingBalance"
                                    [placeholder]="'0.00'"
                                />
                            </div>
                            <div class="d-flex column-gap5 justify-content-end width-150 justify-self-end">
                                <div
                                    class="input-group-addon"
                                    (click)="openingBalanceTypeChanged('DEBIT', bulkIndex)"
                                    [ngClass]="{
                                        'active-toggle-btn':
                                            item.get('openingBalanceType')?.value === 'DEBIT' &&
                                            (item.get('openingBalance')?.value > 0 ||
                                                item.get('foreignOpeningBalance')?.value > 0),
                                        'cursor-pointer':
                                            item.get('openingBalance')?.value > 0 ||
                                            item.get('foreignOpeningBalance')?.value > 0
                                    }"
                                >
                                    {{ commonLocaleData?.app_dr?.toUpperCase() }}
                                </div>
                                <div
                                    class="input-group-addon"
                                    (click)="openingBalanceTypeChanged('CREDIT', bulkIndex)"
                                    [ngClass]="{
                                        'active-toggle-btn':
                                            item.get('openingBalanceType')?.value === 'CREDIT' &&
                                            (item.get('openingBalance')?.value > 0 ||
                                                item.get('foreignOpeningBalance')?.value > 0),
                                        'cursor-pointer':
                                            item.get('openingBalance')?.value > 0 ||
                                            item.get('foreignOpeningBalance')?.value > 0
                                    }"
                                >
                                    {{ commonLocaleData?.app_cr?.toUpperCase() }}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button
                    class="float-right max-width-50 align-self-end mt-2"
                    mat-stroked-button
                    color="primary"
                    aria-label="save"
                    type="submit"
                    (click)="saveOpeningBalance()"
                >
                    {{ commonLocaleData?.app_save }}
                </button>
            </form>
        </div>
    </mat-dialog-content>
</ng-container>
