.bulk-dialog {
    form {
        p {
            word-wrap: break-word;
        }
    }

    .input-group {
        input {
            border-radius: 5px !important;
        }
    }

    .bulk-input-width {
        input {
            width: 210px;
        }
    }
}
