@import "../../../../assets/css/color.scss";

.white-bg {
    background-color: $white;
}

// .form-group input, .form-group select, .form-group textarea{
//   max-width: 140px;
// }
// .form-group.size-240 input, .form-group.size-240 select, .form-group.size-240 textarea{
//   max-width: 240px;
//   width: 240px;
// }
// .form-group.size-360 input, .form-group.size-360 select, .form-group.size-360 textarea{
//   max-width: 360px;
// }
.flex-row {
    display: flex;
    .flex-row-child {
        align-self: center;
    }
}

#actionPane {
    width: 100%;
    height: 80px;
    padding: 20px 0;
    background-color: $gray;
}

// styles
.form-inline {
    .form-group {
        margin-right: 20px;
        vertical-align: top;
    }
}

.form-group {
    .form-control {
        height: 42px;
        border-radius: 3px;
    }
    input,
    select,
    textarea {
        width: 190px;
    }
    textarea.form-control {
        height: 140px;
        resize: none;
    }
    label {
        display: block;
        font-weight: 400;
        margin-bottom: 5px;
    }
    &.size-175 {
        input,
        select,
        textarea {
            width: 175px;
        }
    }
    &.size-240 {
        input,
        select,
        textarea {
            width: 240px;
        }
    }
    &.size-340 {
        input,
        select,
        textarea {
            width: 340px;
        }
    }
    &.size-380 {
        input,
        select,
        textarea {
            width: 380px;
        }
    }
    &.no-margin {
        margin: 0;
    }
}

:host ::ng-deep sh-select input[type="text"] {
    width: 100%;
    height: 42px;
}
