<input
    type="text"
    [class]="cssClass"
    [placeholder]="placeholder"
    matInput
    [matAutocomplete]="auto"
    (blur)="resetValueIfOptionNotSelected()"
    [name]="name"
    [formControl]="searchFormControl"
    [readonly]="readonly"
    (click)="!readonly ? trigger?.openPanel() : trigger?.closePanel()"
    #trigger="matAutocompleteTrigger"
/>
<mat-autocomplete [displayWith]="displayLabel" (optionSelected)="optionSelected($event)" #auto="matAutocomplete">
    <mat-option *ngFor="let option of fieldFilteredOptions" [value]="option">
        {{ option?.label }}
    </mat-option>
    <mat-option disabled *ngIf="fieldFilteredOptions?.length === 0"> No results found </mat-option>
</mat-autocomplete>
