:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 99999;
}

:host.in #close {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 5;
    border: 0;
    border-radius: 0;
    background: 0 0;
    color: var(--color-popup-list-head-text);
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.sales-aside-tax-pane label {
    margin-bottom: 10px;
}
.form-header {
    padding: 20px 15px;
    background: var(--color-primary-right-side-popup-header-background);
    color: var(--color-popup-list-head-text);
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.label-select-tax {
    margin-top: 3px;
    margin-left: 2px;
}
@media (max-width: 768px) {
    :host {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
