.form-header {
    padding: 20px 15px;
    background: var(--color-primary-right-side-popup-header-background);
    color: var(--color-popup-list-head-text);
}
.label-select-tax {
    margin-top: 3px;
    margin-left: 2px;
}   