
.edit-icon {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.account-detail-custom-title {
  font-family: var(--font-semibold)!important;
  font-size: var(--font-size-15)!important;
  word-break: break-word!important;
  margin-top: 5%;
}
.account-detail-padding {
  padding: 1px;
  text-transform: none!important;
}

.account-detail-custom-header {
  border-right: 0;
  padding: 11px 10px 10px;
  color: var(--color-dropdown-list);
  background: var(--color-dropdown-secondary-background);
  width: 260px;
  margin-top: -8px;
}
