.invoice-control {
    /*.nav UNUSED COMPONENT CLASS: nav-tabs - Auto-commented by script
.nav-tabs {
        margin-bottom: 20px;
        padding: 12px 0px 0 15px !important;
        background-color: var(--color-light-gray);
        z-index: 9;
        position: relative;
        top: -4px;
    }
*/
}

.table-border-bottom {
    margin-bottom: 0px;
}

.table-border-top {
    border-top: 1px solid var(--border-color);
}

.table-border-bottom tbody tr td,
.table-border-bottom thead tr th {
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-top: 1px solid var(--border-color);
    white-space: normal;
}

.table-border-bottom .last-row td {
    background: var(--color-light-gray);
    padding: 14px 10px;
    font-weight: bold;
}

.table-border-bottom thead tr th {
    font-family: var(--font-family);
}

/* UNUSED COMPONENT CLASS: return-sel - Auto-commented by script
.return-sel {
    background-color: var(--color-light-gray);
    border-radius: var(--mat-border-radius-16);
    padding: 5px 15px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid var(--border-color);
}
*/

/* UNUSED COMPONENT CLASS: datepicker-border - Auto-commented by script
.datepicker-border {
    border: 1px solid var(--border-color);
}
*/

/* UNUSED COMPONENT CLASS: tax-engine - Auto-commented by script
.tax-engine {
    background: none;
}
*/

/* UNUSED COMPONENT CLASS: export-btn - Auto-commented by script
.export-btn {
    display: flex;
    justify-content: flex-end;
}
*/

.month-picker {
    position: absolute;
    top: 10px !important;
    left: 160px !important;

    li {
        a {
            background-color: transparent !important;
            border: none !important;
        }
    }
}

.white-box {
    table {
        tbody {
            tr {
                td {
                    a {
                        color: var(--text-primary-color) !important;
                    }

                    /* UNUSED COMPONENT CLASS: btn-link - Auto-commented by script
.btn-link {
                        color: var(--text-primary-color) !important;
                    }
*/
                }
            }
        }

        tfoot {
            background-color: var(--color-light-gray);
        }
    }
}

@media only screen and (max-width: 767px) {
    /* UNUSED COMPONENT CLASS: navbar-header - Auto-commented by script
.navbar-header/* UNUSED COMPONENT CLASS: mb-2 - Auto-commented by script
.mb-2 {
        margin-top: 60px;
    }
*/

    .on-mobile-view.table-hide-title tr td {
        padding-left: 15px !important;
    }
}

/* UNUSED COMPONENT CLASS: daterangePicker - Auto-commented by script
.daterangePicker {
    position: absolute;
    opacity: 0;
    right: -160px;
    top: 0;
    pointer-events: none;
}
*/

/* UNUSED COMPONENT CLASS: tax-dropdown - Auto-commented by script
.tax-dropdown {
    max-width: 30%;
}
*/