.table-border-bottom {
    margin-bottom: 0px;
}

.table-border-top {
    border-top: 1px solid var(--border-color);
}

.table-border-bottom tbody tr td,
.table-border-bottom thead tr th {
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-top: 1px solid var(--border-color);
    white-space: normal;
}

.table-border-bottom .last-row td {
    background: var(--color-light-gray);
    padding: 14px 10px;
    font-weight: bold;
}

.table-border-bottom thead tr th {
    font-family: var(--font-family);
}

.month-picker {
    position: absolute;
    top: 10px !important;
    left: 160px !important;

    li {
        a {
            background-color: transparent !important;
            border: none !important;
        }
    }
}

.white-box {
    table {
        tbody {
            tr {
                td {
                    a {
                        color: var(--text-primary-color) !important;
                    }

                }
            }
        }

        tfoot {
            background-color: var(--color-light-gray);
        }
    }
}

@media only screen and (max-width: 767px) {

    .on-mobile-view.table-hide-title tr td {
        padding-left: 15px !important;
    }
}
