.invoice-control {
    .nav.nav-tabs {
        margin-bottom: 20px;
        padding: 12px 0px 0 15px !important;
        background-color: var(--color-wild-sand);
        z-index: 9;
        position: relative;
        top: -4px;
    }
}

.table-border-bottom {
    margin-bottom: 0px;
}

.table-border-bottom tbody tr td,
.table-border-bottom thead tr th {
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-top: 1px solid var(--color-iron);
    white-space: normal;
}

.table-border-bottom .last-row td {
    background: var(--color-wild-sand);
    padding: 14px 10px;
    font-weight: bold;
}

.table-border-bottom thead tr th {
    font-family: "opensans-regular";
}

.return-sel {
    background-color: var(--color-wild-sand);
    border-radius: 18px;
    padding: 5px 15px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid var(--color-iron);
}
.tax-engine {
    background: none;
}
.advance-search-by-date .btn-group > .dropdown-menu {
    margin-top: 0;
}
.month-picker {
    position: absolute;
    top: 10px !important;
    left: 160px !important;
    li {
        a {
            background-color: transparent !important;
            border: none !important;
        }
    }
}
.advance-search-by-date.date-advance-search {
    width: 280px;
}

.no-report {
    margin: 100px auto;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .navbar-header.mb-2 {
        margin-top: 60px;
    }
    .on-mobile-view.table-hide-title tr td {
        padding-left: 15px !important;
    }
}
.vat-report .dropdown-menu li label {
    padding-left: 0px !important;
}
.daterangePicker {
    position: absolute;
    opacity: 0;
    right: -160px;
    top: 0;
    pointer-events: none;
}
.tax-heading {
    max-width: 10%;
}
.tax-dropdown {
    max-width: 30%;
}
@media (max-width: 575px) {
    .month-picker {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
    }
    .view-summary-btn {
        float: none !important;
        display: block;
        margin-top: 10px;
    }
}
