.bs-table-grid {
    th {
        border: none !important;
        border-bottom: 1px solid var(--color-table-primary-header-bar-border) !important;
        padding: 13px 8px 14px 0 !important;
        &:first-child {
            padding: 0 !important;
        }
        i.glyphicon-search {
            position: relative;
            z-index: 1;
            font-size: 13px;
            color: var(--color-abbey);
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        input {
            height: 47px;
        }
    }
}
.tb-wrapper {
    width: 70%;
    margin: auto;
}
@media (max-width: 1024px) {
    .tb-wrapper {
        width: 100%;
        margin: auto;
        .table-container {
            overflow-x: auto;
        }
    }
}
@media screen and (max-width: 767px) {
    .table-container {
        .profit-loss {
            tr {
                th {
                    width: 100%;
                    white-space: nowrap !important;
                    word-break: normal;
                    width: 30%;
                    max-width: 30%;
                    white-space: nowrap;
                    min-width: 150px;
                }
            }
        }
        .table-container section div .group {
            white-space: nowrap;
            width: 30%;
            max-width: 30%;
            white-space: nowrap;
            min-width: 150px;
        }
        .pl-grid-row,
        .profit-loss {
            .group {
                white-space: nowrap;
                width: 30%;
                max-width: 30%;
                white-space: nowrap;
                min-width: 150px;
            }
        }
        .top-bar {
            &.row {
                flex-wrap: nowrap;
                overflow: initial;
            }
            .group {
                white-space: nowrap;
                width: 30%;
                max-width: 30%;
                white-space: nowrap;
                min-width: 150px;
            }
        }
    }
}
