<div id="single_role">

  <h2 class="role_title" align="center">{{ newRole.name }}</h2>

  <div class="pd3 pdT1 pdB1 bdrB clearfix">
    <button class="btn btn-md btn-primary pull-left" (click)="goToRoles()">Back</button>
    <button class="btn btn-md btn-success mrR1 pull-right" ng-click="updateRole()">Save</button>
  </div>

  <div class="pd3 clearfix">

    <div class="col-xs-4" *ngFor="let item of newRole.scopes">
      <div class="headName">
        {{item.name}}
        <i class="fa fa-times text-right close_modal" aria-hidden="true" ng-click="$dismiss()"></i>
      </div>
      <table class="table">
        <thead>
          <th>{{ newRole.name }}</th>
          <th>Admin</th>
          <th>View Only</th>
        </thead>
        <tbody>
          <tr>
            <td colspan="3"><input type="checkbox" name="selectAll" [(ngModel)]="selectedAll" (change)="selectAll();">Select All</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="View" />View</td>
            <td><input type="checkbox" name="admin" [checked]="checkPermission(item.name, 'view', 'admin')" [disabled]="true"
              /></td>
            <td><input type="checkbox" name="viewOnly" [checked]="checkPermission(item.name, 'view', 'view')" [disabled]="true"
              /></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="Edit" />Edit</td>
            <td><input type="checkbox" name="admin" [checked]="checkPermission(item.name, 'edit', 'admin')" [disabled]="true"
              /></td>
            <td><input type="checkbox" name="viewOnly" [checked]="checkPermission(item.name, 'edit', 'view')" [disabled]="true"
              /></td>
          </tr>

          <tr>
            <td><input type="checkbox" name="Delete" />Delete</td>
            <td><input type="checkbox" name="admin" [checked]="checkPermission(item.name, 'delete', 'admin')" [disabled]="true"
              /></td>
            <td><input type="checkbox" name="viewOnly" [checked]="checkPermission(item.name, 'delete', 'view')" [disabled]="true"
              /></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="Create" />Create</td>
            <td><input type="checkbox" name="admin" [checked]="checkPermission(item.name, 'create', 'admin')" [disabled]="true"
              /></td>
            <td><input type="checkbox" name="viewOnly" [checked]="checkPermission(item.name, 'create', 'view')" [disabled]="true"
              /></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="share" />Share</td>
            <td><input type="checkbox" name="admin" [checked]="checkPermission(item.name, 'share', 'admin')" [disabled]="true"
              /></td>
            <td><input type="checkbox" name="viewOnly" [checked]="checkPermission(item.name, 'share', 'view')" [disabled]="true"
              /></td>
          </tr>
        </tbody>
      </table>
      <!--<li *ngFor="let n of names">
        <input type="checkbox" [(ngModel)]="n.selected" (change)="checkIfAllSelected();"> {{n.name}}
      </li>-->
    </div>

    <!-- new head -->

    <div class="col-xs-4">
      <div class="headName">
        Add Head
      </div>
      <div class="new_col clearfix">
        <div class="">
          <div class="pd4 clearfix">
            <div class="btn-group col-xs-8 pd0" uib-dropdown>
              <button id="headsList" type="button" class="form-control text-left" uib-dropdown-toggle>
                  Select Heads <span class="caret pull-right"></span>
                </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="headsList">
                <li>
                  <label>
                    <input type="checkbox" ng-model="head">
                      Dashboard
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="head">
                      Settings
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="head">
                      TB/P&L
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="head">
                      Invoice
                  </label>
                </li>
              </ul>
            </div>
            <button type="submit" class="btn btn-md btn-success mrT4 clearfix pull-left" ng-click="addNewRole()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- new head -->
  </div>

</div>
