@import "../../../assets/css/color.scss";
.input-group-addon {
    position: relative;
    position: relative;
    width: 45px;
    .checkbox-custom-label {
        position: absolute;
        left: 14px;
    }
}
.input-group-addon {
    .checkbox-custom-label {
        position: absolute;
        left: 14px;
        top: 8px;
    }
}

.custom-select{
    padding:0 !important;
}

.profile-form{
    .form-group{
        .input-group {
            .input-group-addon {
            border-left: 1px solid $very-light-gray !important;
        }
        input{
                border-left: none !important;
                border-right: none !important;
            }
        }
    
    }
} 


///////////////// personal info css ////////////////
.custom-file{
    border: 1px dashed gainsboro;
    border-radius: 2px;
    background: $white;
    width: 100px;
    height: 100px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "";
}

.custom-file-label{
    border: none;
    padding: 30px;
    background: $white;
    height:100%;
    &::after{
        height:0 !important;
        padding:0 !important;
    }
    .icon-plus{
        font-size:40px;
        color: $whisper-color;
    }
}

.unique-name, .country-name , .parent-name{
    color: $dark-gray;
}
.personal-other-deatils{
    label{
        line-height: 2.3;
    }
}
.img-size{
    color: $gray;
}
////////////////////////////////////////////


///////////////// address css ////////////////
.giddh-table {
    tr {
        td {
            vertical-align: top !important;
            .action-icon {
                display: flex;
                align-items: center;
                border: 1px solid $gainsboro;
                a {
                    width: 34px;
                    font-size: 18px;
                    color: $gray;
                    border-right: 1px solid $gainsboro;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                    cursor: pointer;
                    align-items: stretch;
                    height: 34px;
                    align-items: center;
                    background-color: $white;
                }
                &:last-child {
                    border-right: none !important;
                }
            }
        }
    }
    &:hover {
        td {
            .action-icon {
                display: flex !important;
            }
        }
    }
}

.linked-with{
    i{
        color: $gray;
        margin-right:5px;
    }
}

@media(max-width:768px){
    .giddh-table {
        tr {
            td {
                &::before {
                    left: 15px;
                }
            }
        }
    }
}

@media (max-width: 445px) {

    .giddh-table {
        tr {
            td {
                .action-icon {
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:575px){
    .address-list-top{
        display:block !important;
        .btn-sky-blue{
            float:right;
            margin-top:5px;
        }
    }
}

.transinherit {
    transform: inherit !important;
}


/////////////////////////////////////////////


////////////// other css /////////////////////
@media (min-width:1200px) and (max-width:1302px){
    .other-information {
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }
    }
/////////////////////////////////////////////

@media(max-width:768px){
    .multicurrency-checkbox{
        display: block !important;
        font-size: 12px;
    }
}

@media (min-width:992px) and (max-width:1359px){
    .profile-form{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .decimal-system{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (min-width:1360px) and (max-width:1386px){
    .number-system{
        flex-flow: column;
        display: flex;
    }
}
/*branch address design*/
.branch-profile-address-content{
    background-color: $white;
    border: 1px solid $gainsboro;
    padding: 15px;
    .single-branch-detail {
        font-size: 14px;
        h4{
            font-size: 16px;
            font-family: 'opensans-bold';
            margin-bottom: 10px;
            color: $midnight-blue;
            i{
                margin-right:10px;
            }
        }
        label{
            color:$gray;
            line-height: 2.3;
        }
        .set-default{
            .selected-defualt{
                i{
                    color: $chetwode-blue;
                }
            }
            .icon-unlink{
                color: $gray;
            }
        }
    }
}
/*branch other tab design*/
.other-detail-section{
    color: $dark-gray;
    label{
        min-width: 200px;
    }
}
@media(max-width:575px){
    .other-detail-section {
        label{
            min-width: 100%;
        }
    }
}
