.upload-file ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    overflow-y: auto;
}

.upload-file ul > li {
    padding-right: 15px;
}

.upload-file ul li .upload-img {
    width: 120px;
    height: 120px;
    background: var(--color-iron);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    font-size: var(--font-size-48);
    cursor: pointer;
    color: var(--color-gray);
}

.upload-file ul li .upload-img > a {
    color: var(--color-gray);
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.upload-file ul li .upload-img img {
    max-height: 200px;
}

.img-zoom {
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    position: relative;
}

.img-zoom img {
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
}

.img-zoom .img-close {
    position: absolute;
    top: 0;
    right: -29px;
    z-index: 99;
    background: var(--color-iron);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: var(--color-abbey);
    border-radius: 3px;
    cursor: pointer;
}

.textarea.form-control {
    height: 70px;
    width: 99%;
}
#rejectReason {
    width: 98% !important;
}

span {
    &.close-modal {
        display: inline-grid;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        padding: 10px;
        background-color: var(--color-primary-expense-details-span-close-modal-cp-pull-right-background);
        border: 1px solid var(--color-iron);
        border-radius: 5px;
        position: static;
        transform: inherit;
    }
}

.close-modal img {
    width: 16px;
    opacity: 0.6;
}

.upload-img.add-img label {
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    cursor: pointer;
}

.upload-img.add-img input {
    width: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
}
.petty-cash {
    background: var(--color-white);
    .bg-color{
        background-color: var(--color-white) !important;
    }
}

.list-item {
    border-bottom: 1px solid var(--color-iron);
}
.entry-against {
    &.error-box {
        border-radius: 7px;
    }
}
@media only screen and (max-width: 1440px) {
    .petty-cash {
        height: initial;
    }
}
@media only screen and (max-width: 991px) {
    .petty-cash {
        height: initial;
    }
}
@media only screen and (max-width: 767px) {
    .upload-file {
        margin-top: 10px;
    }
}
