<div *ngIf="!isPettyCashEntryLoading">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <p class="bold mr-b05">{{ selectedItem?.entryDate }} | {{ selectedItem.baseAccount.name }}</p>
            </div>
            <div class="col-sm-6 text-right xs-left">
                <div class="d-flex justify-content-end align-items-center">
                    <button
                        mat-raised-button
                        class="mr-b05 btn btn-success d-flex align-items-center"
                        type="button"
                        (click)="showApproveConfirmPopup(approveConfirm)"
                    >
                        {{ localeData?.approve }}
                    </button>
                    <button
                        mat-raised-button
                        class="mr-b05 btn btn-danger"
                        type="button"
                        (click)="openModal(rejectionReason)"
                    >
                        {{ localeData?.reject }}
                    </button>
                    <span class="mr-b05 close-modal cp pull-right" (click)="closeDetailsMode()">
                        <img src="assets/images/multiply.svg" />
                    </span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="upload-file" *ngIf="!isImageZoomView">
                    <ul>
                        <ng-container *ngFor="let item of imageURL; let i = index">
                            <li>
                                <div class="upload-img">
                                    <img [src]="item" (click)="clickZoomImageView(i)" id="signatureImage" />
                                </div>
                            </li>
                        </ng-container>
                        <li>
                            <div class="upload-img add-img">
                                <label for="signatureImg-edit"><i class="icon-add"></i></label>
                                <input
                                    type="file"
                                    accept="image/png, image/jpeg"
                                    id="signatureImg-edit"
                                    ngFileSelect
                                    (uploadOutput)="onUploadFileOutput($event)"
                                    [options]="fileUploadOptions"
                                    [uploadInput]="uploadInput"
                                />
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- img zoom pls uncomment this code -->
                <div class="clearfix img-zoom" *ngIf="isImageZoomView">
                    <img [src]="zoomViewImageSrc" alt="" />
                    <a class="img-close pointer" (click)="hideZoomImageView()">
                        <i class="icon-cross"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="petty-cash">
                    <div class="bg-white pd-b1">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <label>{{ commonLocaleData?.app_description }}</label>
                                        <textarea
                                            matInput
                                            name="comment"
                                            class="textarea form-control mat-field-border mt-2"
                                            [(ngModel)]="comment"
                                            [placeholder]="localeData?.description_placeholder"
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="d-inline-block mr-2">
                                    <label class="font-14">
                                        {{ entryAgainstObject.base }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="clearfix">
                                        <sh-select
                                            class="text-left multi-select"
                                            name="depositAccountUniqueName"
                                            #entryAgainstAccountDropDown
                                            [options]="entryAgainstObject.dropDownOption"
                                            [(ngModel)]="entryAgainstObject.model"
                                            (selected)="onSelectEntryAgainstAccount($event)"
                                            [placeholder]="commonLocaleData?.app_select_account"
                                            [notFoundLink]="false"
                                            [enableDynamicSearch]="true"
                                            [isPaginationEnabled]="true"
                                            (scrollEnd)="handleAccountScrollEnd()"
                                            (dynamicSearchedQuery)="onAccountSearchQueryChanged($event)"
                                            [defaultValue]="entryAgainstObject.name"
                                            [fixedValue]="entryAgainstObject.name"
                                            [forceClearReactive]="forceClear$ | async"
                                            [multiple]="false"
                                            [ItemHeight]="33"
                                            [useInBuiltFilterForIOptionTypeItems]="true"
                                        >
                                            <ng-template #optionTemplate1 let-option="option">
                                                <a href="javascript:void(0)" class="list-item">
                                                    <div class="item">{{ option.label }}</div>
                                                    <div class="item-unique">{{ option.value }}</div>
                                                </a>
                                            </ng-template>
                                        </sh-select>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="col-sm-4 text-right"
                                (click)="toggleEntryAgainst()"
                                *ngIf="entryAgainstObject.against"
                            >
                                <a href="javascript:void(0)" class="d-inline-block pt-3 font-14">
                                    {{ entryAgainstObject.against }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="expense-ledger" *ngIf="accountEntryPettyCash">
                        <div class="row">
                            <div class="col-md-12">
                                <update-ledger-entry-panel
                                    [isPettyCash]="true"
                                    [pettyCashEntry]="accountEntryPettyCash"
                                    [pettyCashBaseAccountTypeString]="entryAgainstObject.base"
                                    [pettyCashBaseAccountUniqueName]="this.accountEntryPettyCash.particular.uniqueName"
                                    (toggleOtherTaxesAsideMenu)="toggleOtherTaxesAsidePane()"
                                ></update-ledger-entry-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal start -->
<ng-template #rejectionReason>
    <div class="modal-header">
        <h3 mat-dialog-title class="modal-title pull-left">{{ localeData?.rejection_reason }}</h3>
        <button
            mat-button
            type="button"
            class="close pull-right"
            [attr.aria-label]="commonLocaleData?.app_close"
            (click)="modalRef?.close()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body petty-cash-reject-modal">
        <div class="clearfix modal-top">
            <p class="font-12 text-gray mr-b1">
                <span>{{ selectedItem?.entryDate }} </span> |
                <span>{{ byCreator }}</span>
            </p>
            <div class="row mr-b1">
                <div class="col-xs-4 col-sm-4">
                    <p class="font-14">{{ localeData?.expenses }}:</p>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <p class="font-14">{{ selectedItem?.particularAccount?.name }}</p>
                </div>
            </div>
            <div class="row mr-b1">
                <div class="col-xs-4 col-sm-4">
                    <p class="font-14">{{ commonLocaleData?.app_payment_mode }}:</p>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <p class="font-14">{{ selectedItem?.baseAccount?.name }}</p>
                </div>
            </div>
            <div class="row mr-b1">
                <div class="col-xs-4 col-sm-4">
                    <p class="font-14">{{ commonLocaleData?.app_amount }}:</p>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <p class="font-14">
                        <i>{{ selectedItem?.currencySymbol }} {{ selectedItem?.amount }}</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill" class="w-100">
                <label for="rejectReason">{{ localeData?.reason_label }}</label> <sup>*</sup>
                <textarea
                    matInput
                    name="rejectReason"
                    id="rejectReason"
                    [formControl]="rejectReason"
                    class="textarea form-control mat-field-border mt-2"
                    [placeholder]="localeData?.reason_placeholder"
                ></textarea>
            </mat-form-field>
        </div>

        <button mat-raised-button class="btn btn-success" [disabled]="!rejectReason.value" (click)="submitReject()">
            {{ commonLocaleData?.app_submit }}
        </button>
    </div>
</ng-template>
<!-- modal end -->

<!-- region approve entry confirm -->
<ng-template #approveConfirm>
    <petty-cash-approve-confirm-dialog
        [selectedEntryForApprove]="selectedEntryForApprove"
        [approveEntryRequestInProcess]="approveEntryRequestInProcess"
        [localeData]="localeData"
        [commonLocaleData]="commonLocaleData"
        [pettyCashEntry]="accountEntryPettyCash"
        [entryAgainstObject]="entryAgainstObject"
        (approveEntry)="hideApproveConfirmPopup($event)"
    >
    </petty-cash-approve-confirm-dialog>
</ng-template>
<!-- endregion -->

<!-- region other taxes aside menu -->
<div class="aside-overlay" *ngIf="asideMenuStateForOtherTaxes === 'in'"></div>
<app-aside-menu-sales-other-taxes
    *ngIf="asideMenuStateForOtherTaxes === 'in'"
    [class]="asideMenuStateForOtherTaxes"
    [taxes]="companyTaxesList"
    [otherTaxesModal]="updateLedgerComponentInstance.vm.selectedLedger.otherTaxModal"
    [@slideInOut]="asideMenuStateForOtherTaxes"
    [commonLocaleData]="commonLocaleData"
    (closeModal)="toggleOtherTaxesAsidePane()"
    (applyTaxes)="updateLedgerComponentInstance.vm.calculateOtherTaxes($event); toggleOtherTaxesAsidePane()"
>
</app-aside-menu-sales-other-taxes>
<!-- endregion -->
