<div class="aside-pane">

    <button id="close" class="btn btn-sm btn-primary" (click)="closeAsidePane($event)">X</button>

    <div class="aside-header">
        <h3 class="aside-title">{{selectedAccountUniqueName ? 'Update' : 'Create'}} Account</h3>
    </div>

    <div class="aside-body">

        <!-- <div class="form-group pdT2">

            <label class="mrB1">Select Group</label>

            <div class="ng-select-wrap liq">

                <ng-select placeholder="Select Group" filterPlaceholder="Type to search..." name="activeGroupUniqueName" [(ngModel)]="activeGroupUniqueName" [options]="flatAccountWGroupsList$ | async" style="width:100%">
                    <ng-template #optionTemplate let-option="option">
                        <div class="account-list-item">{{option?.label}}</div>
                        <div class="account-list-item fs12">{{option?.value}}</div>
                    </ng-template>
                </ng-select>

            </div>
        </div> -->


        <ng-container *ngIf="!selectedAccountUniqueName && activeGroupUniqueName">
            <account-add-new-details [activeGroupUniqueName]="activeGroupUniqueName"
                [fetchingAccUniqueName$]="fetchingAccUniqueName$" [isAccountNameAvailable$]="isAccountNameAvailable$"
                [createAccountInProcess$]="createAccountInProcess$" (submitClicked)="addNewAcSubmit($event)"
                [isDebtorCreditor]="isDebtorCreditor" [flatGroupsOptions]="flatAccountWGroupsList$ | async"
                (isGroupSelected)="isGroupSelected($event)" [isGstEnabledAcc]="isGstEnabledAcc"
                [isHsnSacEnabledAcc]="isHsnSacEnabledAcc">
            </account-add-new-details>
        </ng-container>

        <ng-container *ngIf="selectedAccountUniqueName && activeGroupUniqueName">
            <account-update-new-details [activeGroupUniqueName]="activeGroupUniqueName"
                [fetchingAccUniqueName$]="fetchingAccUniqueName$" [createAccountInProcess$]="createAccountInProcess$"
                [updateAccountInProcess$]="updateAccountInProcess$" [isGstEnabledAcc]="isGstEnabledAcc"
                [isDebtorCreditor]="isDebtorCreditor" [flatGroupsOptions]="flatAccountWGroupsList$ | async"
                (isGroupSelected)="isGroupSelected($event)" [isHsnSacEnabledAcc]="isHsnSacEnabledAcc"
                [showDeleteButton]="false" (submitClicked)="updateAccount($event)">
            </account-update-new-details>
        </ng-container>

    </div>
</div>
