:host {
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 480px;
  z-index: 1045;
}

:host.in #close {
  display: block;
  position: fixed;
  left: -41px;
  top: 0;
  z-index: 5;
  border: 0;
  border-radius: 0;
}

:host .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

:host .aside-pane {
  width: 480px;
}

.custom-tags {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  span {
    border: 1px solid #ddd;
    padding: 5px 8px;
    margin: 10px 10px 12px 0px;
    background-color: #ddd;
  }
}
.input-group {
  width: 100%;
}
@media(max-width:575px){
  :host {
    width: 100%;
    max-width: 320px;
  }
  :host .aside-pane {
    width: 100%;
    max-width: 320px;
  }
}
@media(max-width:375px){
  :host {
    width: 100%;
    max-width: 280px;
  }
  :host .aside-pane {
    width: 100%;
    max-width: 280px;
  }
}
