:host {
    display: block;
    height: 100vh;
    width: var(--aside-pane-width);
}

.custom-tags {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    span {
        padding: 5px 8px;
        margin: 10px 10px 12px 0px;
    }
}
