@import "../../../../assets/css/color.scss";
.form-header {
    padding: 20px 15px;
    background: $midnight-blue;
    color: $white;
}

.aside-pane-form {
    background-color: $white;
    box-shadow: 0px 3px 6px $black-russian;
    padding: 15px 15px;
    //  height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}

.aside-pane-container {
    padding: 15px;
    font-size: 14px;
    color: $nero;
}

.aside-pane-form label {
    margin-bottom: 5px;
    display: block;
}

.cr-dr-account {
    position: relative;
}

.cr-dr-account span {
    width: 36px;
    display: inline-flex;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
}

span.dr-label {
    right: 36px !important;
}

.cr-dr-account span.active {
    background-color: $chetwode-blue;
    color: $white;
}

.aside-pane-form .col-sm-4,
.aside-pane-form .col-sm-8,
.aside-pane-form .col-sm-10,
.aside-pane-form .col-sm-2,
.aside-pane-form .col-sm-6,
.aside-pane-form .col-sm-12 {
    padding: 0 10px;
}

.upper-form {
    margin-bottom: 20px;
    .input-group {
        .input-group-addon {
            border-left: 1px solid $gainsboro !important;
        }
        input {
            border-left: 1px solid $gainsboro !important;
            border-right: none !important;
        }
    }
}

form.gstin-form {
    padding-top: 15px;
}

.add-address-default {
    display: flex;
    justify-content: space-between;
    background-color: $gainsboro;
    padding: 6px 10px;
    align-items: center;
    margin: 20px 0;
}

.add-address-default h3 {
    font-size: 16px;
    color: $nero;
}

.contact-form,
.other-form-wrap,
.bank-details-form {
    padding-top: 15px;
}

.other-form .btn-sky-blue {
    display: block;
}

.mobile-contact {
    width: 60px;
    margin-right: 10px;
}

:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    max-width: 100%;
    z-index: 99999;
}

#close {
    display: none;
}

:host.in #close {
    display: block;
    position: absolute;
    left: auto;
    top: 14px;
    z-index: 5;
    border: 0;
    border-radius: 0;
    right: 0;
    background: transparent;
    color: $white;
    font-size: 20px;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 600px;
    max-width: 600px;
}

.aside-body {
    margin-bottom: 80px;
}
.aside-pane {
    padding: 0;
}
