#template2 * {
  border: 0;
  box-sizing: content-box;
  color: #262626;
  font-family: inherit;
  font-size: 12px;
  /* font-size: inherit; */
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* heading */

#template2 header {
  padding: 30px 15px;
}

#template2 header h1 {
  /* color: #df4927; */
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

/* NOTE:  comment padding, max-width, border in #template2 css for java */

#template2 {
  overflow: auto;
  /* font-size: 93%; */
  background: #fff;
  border: 1px solid #bfbfbf;
  padding: 0;
}

#template2 .text-right {
  text-align: right;
}

#template2 .text-left {
  text-align: left !important;
}

#template2 .pull-right {
  float: right;
}

#template2 .pull-left {
  float: left;
}

#template2 table {
  width: 100%;
  table-layout: fixed;
  line-height: 20px;
  border-collapse: inherit
}

#template2 strong {
  font-weight: bold;
}

#template2 .item {
  padding: 0 20px;
  table-layout: auto !important;
}

#template2 .item tbody tr td,
#template2 .item thead tr th,
#template2 .item tfoot tr th {
  text-align: right;
  padding: 2px 7px;
}

#template2 .mrL2 {
  margin-left: 20px;
}

#template2 .mrR2 {
  margin-right: 20px;
}

#template2 .mrB2 {
  margin-bottom: 20px;
}

#template2 .mrB1 {
  margin-bottom: 10px;
}

#template2 .cargo-Detail {
  margin-top: 10px;
  line-height: 20px !important;
  padding: 0 15px 30px;
}

#template2 .product-table {
  position: relative;
}

#template2 .item thead tr th {
  padding: 20px 7px 0;
  border-bottom: 1px solid #666666;
  line-height: 1.2rem;
  font-weight: bold;
  text-transform: capitalize
}

#template2 .product-table tbody tr:last-child td {
  padding-bottom: 50px;
}

#template2 .inwords {
  color: #939393
}

#template2 .item tfoot tr:last-child th {
  border-top: 1px solid #666666;
  padding: 7px 0px;
  line-height: 1.2rem;
}

#template2 .bdrB {
  border-bottom: 1px solid #666;
}

#template2 .subfooter {
  margin-top: 100px;
  padding: 0 10px;
  float: left;
}

#template2 .subfooter h1 {
  font-size: 24px;
  /* color: #df4927; */
  margin: 10px 0 0;
  font-weight: bold;
}

#template2 .subfooter h4 {
  font-size: 12px;
  /* color: #df4927; */
}

#template2 .vmiddle {
  vertical-align: middle;
}

#template2 .total-amount h2 {
  font-size: 26px;
  background: url('/assets/images/circle-border.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: auto;
  padding: 46px;
  display: inline-block;
  float: right;
}

#template2 .note {
  margin-top: 20px;
  padding-left: 15px;
}

#template2 .note li {
  list-style-type: initial;
}

#template2 footer {
  margin-top: 7px;
  /* border-top: 2px solid; */
  /* padding: 10px 0; */
  line-height: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

#template2 footer p:first-child {
  padding-top: 20px;
  border-top: 2px solid;
}

#template2 .arrow-down {
  width: 0;
  position: absolute;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  z-index: 1;
  margin-left: 90px;
  top: 0px;
}

/* common template css  */

#template2 .disabled-area {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px !important;
}

#template2 .disabled-area:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: rgba(204, 204, 204, 0.5);
  border: 1px dashed #808080;
}

#template2 .edit-template {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  height: 15px;
  z-index: 1;
  background: #fff;
  width: 20px;
}

#template2 .edit-template i {
  background: url(/assets/images/edit-ico.svg) no-repeat;
  width: 15px;
  position: absolute;
  right: 1px;
  background-size: contain;
  height: 12px;
}

#template2 .pos-rel {
  position: relative;
}

/* #template2 [contenteditable="true"]:focus {
  background: #ddd;
} */

#template2 .pdRL3 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.cp {
  cursor: pointer;
}

#Template-table {
  width: 100%;
  float: left;
}

.cargo-Detail tr:nth-child(1) td {
  margin-bottom: 10px;
}

.meta {
  padding: 0 15px !important;
}

th[data-thead="sno"] {
  width: 20px;
}
