<!DOCTYPE html>
<html lang="en" id="template2">

<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body [ngStyle]="{ 'font-family': inputTemplate.font ? inputTemplate.font : 'Open Sans', 'padding-top': inputTemplate.topMargin + 'px', 'padding-bottom': inputTemplate.bottomMargin + 'px', 'padding-right': inputTemplate.rightMargin + 'px', 'padding-left': inputTemplate.leftMargin + 'px' }">
    <div class="">
        <div id="template-header" (click)="onClickSection('header')" [ngClass]="{ 'disabled-area': !templateUISectionVisibility.header, ' ': templateUISectionVisibility.header }">
            <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.header"><i class="fa fa-pencil"></i></a>
            <header>
                <table class="mrB1">
                    <tbody>
                        <tr>
                            <td>
                                <h1 [ngStyle]="{ 'color': inputTemplate.templateColor}">{{( fieldsAndVisibility.header.formNameTaxInvoice?.label.length > 0) ? fieldsAndVisibility.header.formNameTaxInvoice?.label : 'INVOICE' }}</h1>
                                <figure>
                                    <p><span *ngIf="fieldsAndVisibility.header.invoiceNumber?.display">{{(fieldsAndVisibility.header.invoiceNumber?.label.length > 0) ? fieldsAndVisibility.header.invoiceNumber?.label : 'Number'}}: 201770323-64</span>
                                        <span [ngClass]="{'mrL2': fieldsAndVisibility.header.invoiceNumber?.display}" *ngIf="fieldsAndVisibility.header.invoiceDate?.display">{{(fieldsAndVisibility.header.invoiceDate?.label.length > 0) ? fieldsAndVisibility.header.invoiceDate?.label : 'Date'}}: 22/08/2017</span>
                                    </p>
                                    <p><span class="mrR2" [hidden]="!fieldsAndVisibility.header.gstin?.display">{{(fieldsAndVisibility.header.gstin?.label.length > 0) ? fieldsAndVisibility.header.gstin?.label : 'GSTIN'}}: {{companyGSTIN ? companyGSTIN : '22BBBBBB000A1Z0'}}</span>
                                        <span [hidden]="!fieldsAndVisibility.header.pan?.display">{{fieldsAndVisibility.header.pan?.label}}: {{companyPAN ? companyPAN : 'AAACW9768L'}}</span>
                                    </p>
                                </figure>
                            </td>
                            <td class="text-right vmiddle">
                                <figure class="col-xs-12"><img [src]="logoSrc" alt="" class="max-width-180" [ngStyle]="{ 'max-width': inputTemplate.logoSize+'px'}" [hidden]='!showLogo' /></figure>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </header>

            <table class="meta">
                <tbody>
                    <tr>
                        <td>
                            <p><strong>{{(fieldsAndVisibility.header.billingAddress?.label.length > 0) ? fieldsAndVisibility.header.billingAddress?.label : 'Billing Address'}}</strong></p>
                            <p>Green Soft Solutions 24 Buidling Name 3rd Floor, 15 A.B. Road Indore (M.P.) 452000</p>
                            <p><strong>{{(fieldsAndVisibility.header.billingGstin?.label.length > 0) ? fieldsAndVisibility.header.billingGstin?.label : 'GSTIN'}}: {{companyGSTIN ? companyGSTIN : '22BBBBBB000A1Z0'}}</strong></p>
                        </td>
                        <td colspan="2"></td>
                        <td class="text-right vmiddle total-amount">
                            <h2 class="">945/-</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="cargo-Detail">
                <tr>
                    <td>
                        <span class="mrR2" *ngIf="fieldsAndVisibility.header.attentionTo?.display">
                            <strong>Attention to:</strong> <span>Mr. Alok Gangrade</span>
                        </span>
                        <span *ngIf="fieldsAndVisibility.header.dueDate?.display">
                            <strong>{{(fieldsAndVisibility.header.dueDate?.label.length > 0) ? fieldsAndVisibility.header.dueDate?.label : 'Due Date'}}:</strong> <span>22/08/2017</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span *ngIf="fieldsAndVisibility.header.shippingDate?.display" class="mrR2"><strong>{{(fieldsAndVisibility.header.shippingDate?.label.length > 0) ? fieldsAndVisibility.header.shippingDate?.label : 'Ship Date'}}:</strong> <span>22/08/2017</span></span>
                        <span *ngIf="fieldsAndVisibility.header.shippedVia?.display" class="mrR2"><strong>{{(fieldsAndVisibility.header.shippedVia?.label.length > 0) ? fieldsAndVisibility.header.shippedVia?.label : 'Ship Via'}}:</strong> <span>FedEx</span></span>
                        <span *ngIf="fieldsAndVisibility.header.trackingNumber?.display"><strong>{{(fieldsAndVisibility.header.trackingNumber?.label.length > 0) ? fieldsAndVisibility.header.trackingNumber?.label : 'Tracking No'}}:</strong> <span>213456</span></span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Template-table" class="pos-rel" [ngClass]="{ 'disabled-area': !templateUISectionVisibility.table, ' ': templateUISectionVisibility.table }" (click)="onClickSection('table')">
            <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.table"><i class="fa fa-pencil"></i></a>
            <span class="arrow-down"></span>
            <table class="item product-table" cellspacing="0" cellpadding="0" [ngStyle]="{ 'background-color': inputTemplate.tableColor}" [ngStyle]="{ 'padding-right': inputTemplate.rightMargin + 'px', 'padding-left': inputTemplate.leftMargin + 'px'}">
                <thead>
                    <tr>
                        <th *ngIf="fieldsAndVisibility.table.sNo?.display" data-thead="sno" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.sNo?.label?.length > 0) ? fieldsAndVisibility.table.sNo?.label : '#'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.date?.display" class="text-left" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.date?.label?.length > 0) ? fieldsAndVisibility.table.date?.label : 'Date'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.item?.display" data-thead="item" class="text-left" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.item?.label?.length > 0) ? fieldsAndVisibility.table.item?.label : 'Item'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.hsnSac?.display" data-thead="hsn" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.hsnSac?.label?.length > 0) ? fieldsAndVisibility.table.hsnSac?.label : 'HSN/SAC'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.taxes?.display" data-thead="taxes" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.taxes?.label?.length > 0) ? fieldsAndVisibility.table.taxes?.label : 'Tax'}}(₹)</th>
                        <th *ngIf="fieldsAndVisibility.table.quantity?.display" data-thead="qty" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.quantity?.label?.length > 0) ? fieldsAndVisibility.table.quantity?.label : 'Qty.'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.rate?.display" data-thead="rate" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.rate?.label?.length > 0) ? fieldsAndVisibility.table.rate?.label : 'Rate'}} (₹)</th>
                        <th *ngIf="fieldsAndVisibility.table.total?.display" data-thead="total" class="text-right" [ngStyle]="{ 'background-color': inputTemplate.tableColor}">{{(fieldsAndVisibility.table.total?.label?.length > 0) ? fieldsAndVisibility.table.total?.label : 'Total'}} (₹)</th>
                    </tr>
                    <!-- <tr>
                        <th *ngIf="fieldsAndVisibility.table.sNo?.display" class="text-left">{{(fieldsAndVisibility.table.sNo?.label.length > 0) ? fieldsAndVisibility.table.sNo?.label : 'S No'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.item?.display" colspan="2" class="text-left">{{(fieldsAndVisibility.table.item?.label.length > 0) ? fieldsAndVisibility.table.item?.label : 'Description'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.hsnSac?.display" class="text-right">{{(fieldsAndVisibility.table.hsnSac?.label.length > 0) ? fieldsAndVisibility.table.hsnSac?.label : 'HSN/SAC'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.taxableValue?.display" class="text-right">{{(fieldsAndVisibility.table.taxableValue?.label.length > 0) ? fieldsAndVisibility.table.taxableValue?.label : 'Tax Rate'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.total?.display" class="text-right">{{(fieldsAndVisibility.table.total?.label.length > 0) ? fieldsAndVisibility.table.total?.label : 'Qty.'}}</th>
                        <th *ngIf="fieldsAndVisibility.table.description?.display" class="text-right">{{(fieldsAndVisibility.table.description?.label.length > 0) ? fieldsAndVisibility.table.description?.label : 'Rate'}}</th>
                        <th colspan="2" *ngIf="fieldsAndVisibility.table.taxes?.display" class="text-right">{{(fieldsAndVisibility.table.taxes?.label.length > 0) ? fieldsAndVisibility.table.taxes?.label : 'Amount'}}</th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="fieldsAndVisibility.table.sNo?.display" class="text-right">1</td>
                        <td *ngIf="fieldsAndVisibility.table.date?.display" class="text-left">23/07/17</td>
                        <td *ngIf="fieldsAndVisibility.table.item?.display" class="text-left">Transactional Route</td>
                        <td *ngIf="fieldsAndVisibility.table.hsnSac?.display">123456</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">18%</td>
                        <td *ngIf="fieldsAndVisibility.table.quantity?.display">5</td>
                        <td *ngIf="fieldsAndVisibility.table.rate?.display">5000.00</td>
                        <td *ngIf="fieldsAndVisibility.table.total?.display">25000.00</td>
                    </tr>
                    <tr>
                        <td *ngIf="fieldsAndVisibility.table.sNo?.display" class="text-right">2</td>
                        <td *ngIf="fieldsAndVisibility.table.date?.display" class="text-left">23/07/17</td>
                        <td *ngIf="fieldsAndVisibility.table.item?.display" class="text-left">Operational Route</td>
                        <td *ngIf="fieldsAndVisibility.table.hsnSac?.display">345632</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">10%</td>
                        <td *ngIf="fieldsAndVisibility.table.quantity?.display">3</td>
                        <td *ngIf="fieldsAndVisibility.table.rate?.display">2500.00</td>
                        <td *ngIf="fieldsAndVisibility.table.total?.display">7500.00</td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="columnsVisibled"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="fieldsAndVisibility.table.taxableAmount?.display">
                        <th [attr.colspan]="columnsVisibled-2"></th>
                        <th class="text-left">{{fieldsAndVisibility.footer.taxableAmount?.label}}</th>
                        <th class="text-right">32500.00</th>
                    </tr>
                    <tr *ngIf="fieldsAndVisibility.table.discount?.display">
                        <th [attr.colspan]="columnsVisibled-2"></th>
                        <th class="text-left">Discount</th>
                        <th class="text-right">00.00</th>
                    </tr>
                    <tr *ngIf="fieldsAndVisibility.table.taxes?.display">
                        <th [attr.colspan]="columnsVisibled-2"></th>
                        <th class="text-left">IGST</th>
                        <th class="text-right">5250.00</th>
                    </tr>

                    <tr>
                        <th class="text-left inwords" [attr.colspan]="columnsVisibled-2">Thirty Seven Thousand Seven Hundred Fifty Only</th>
                        <th class="text-left"><strong>Total</strong></th>
                        <th class="text-right"><strong>37750.00</strong></th>
                    </tr>
                </tfoot>
            </table>

            <table class="item" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="text-left" *ngIf="fieldsAndVisibility.table.sNo?.display">S.No</th>
                        <th class="text-left" *ngIf="fieldsAndVisibility.table.hsnSac?.display">HSN/SAC</th>
                        <th *ngIf="fieldsAndVisibility.table.taxableValue?.display">Taxable Amt.</th>
                        <th *ngIf="fieldsAndVisibility.table.taxes?.display">IGST Rate</th>
                        <th *ngIf="fieldsAndVisibility.table.taxes?.display">Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left" *ngIf="fieldsAndVisibility.table.sNo?.display">1</td>
                        <td class="text-left" *ngIf="fieldsAndVisibility.table.hsnSac?.display">123456</td>
                        <td *ngIf="fieldsAndVisibility.table.taxableValue?.display">25000.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">18%</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">4500.00</td>
                    </tr>
                    <tr>
                        <td class="text-left" *ngIf="fieldsAndVisibility.table.sNo?.display">1</td>
                        <td class="text-left" *ngIf="fieldsAndVisibility.table.hsnSac?.display">123456</td>
                        <td *ngIf="fieldsAndVisibility.table.taxableValue?.display">25000.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">18%</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display">4500.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="bdrB" *ngIf="fieldsAndVisibility.table.sNo?.display"></th>
                        <th class="bdrB text-right" *ngIf="fieldsAndVisibility.table.hsnSac?.display"></th>
                        <th class="bdrB text-right" *ngIf="fieldsAndVisibility.table.taxableValue?.display"><strong>Total</strong><strong class="mrL2">32500.00</strong></th>
                        <th class="bdrB" *ngIf="fieldsAndVisibility.table.taxes?.display"></th>
                        <th class="text-right bdrB" *ngIf="fieldsAndVisibility.table.taxes?.display"><strong>5250.00</strong></th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div id="Template-footer" class="" [ngClass]="{ 'disabled-area': !templateUISectionVisibility.footer, ' ': templateUISectionVisibility.footer }" (click)="onClickSection('footer')">
            <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.footer"><i class="fa fa-pencil"></i></a>
            <table class="subfooter">
                <tbody>
                    <tr>
                        <td *ngIf="fieldsAndVisibility.footer.thanks?.display" [ngStyle]="{ 'color': inputTemplate.templateColor}" style="vertical-align: bottom;">
                            <h1 [ngStyle]="{ 'color': inputTemplate.templateColor}">THANK YOU</h1>
                            <h4 [ngStyle]="{ 'color': inputTemplate.templateColor}">FOR YOUR BUSINESS.</h4>
                        </td>
                        <td colspan="1"></td>
                        <td style="text-align: center;vertical-align: bottom;">
                            <p class="bdrB"></p>
                            <p> <strong *ngIf="fieldsAndVisibility.footer.slogan?.display">{{fieldsAndVisibility.footer.slogan?.label ? fieldsAndVisibility.footer.slogan?.label : 'Company Name'}}</strong></p>
                            <p>(Signature)</p>
                        </td>
                    </tr>
                    <tr *ngIf="fieldsAndVisibility.footer.message1?.display">
                        <td colspan="3">
                            <ul class="note">
                                <li>{{fieldsAndVisibility.footer.message1?.label ? fieldsAndVisibility.footer.message1?.label : 'Tax to be paid on reverse charge'}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <footer style="text-align: center;" [ngStyle]="{ 'border-color': inputTemplate.templateColor, 'padding-right': inputTemplate.rightMargin + 'px', 'padding-left': inputTemplate.leftMargin + 'px'}">
                <p [ngStyle]="{ 'border-color': inputTemplate.templateColor}"><strong *ngIf="fieldsAndVisibility.header.companyName?.display">{{fieldsAndVisibility.header.companyName?.label}}</strong></p>
                <p *ngIf="fieldsAndVisibility.footer.companyAddress?.display">{{fieldsAndVisibility.footer.companyAddress?.label ? fieldsAndVisibility.footer.companyAddress?.label : companyAddress }}</p>
            </footer>
        </div>

    </div>
</body>

</html>