.webookList li {
    list-style: none;
    margin-bottom: 7px;
    position: relative;
}

.webookList li > div > label {
    position: absolute;
    bottom: 7px;
}

/* .delete-ico {
    font-size: 14px;
} */

.lh34 {
    line-height: 34px;
}

.lh49 {
    line-height: 49px;
}

.icon-estimate .path1:before {
    content: "\e900";
    color: #ffceb1;
}

.genral-tab h4,
.email-tab h4,
.estimate-tab h4 {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.genral-tab,
.email-tab,
.estimate-tab {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    label{
        font-size: 14px;
    }
}
 
h4 > span {
    color: #939292 !important;
    font-size: 12px !important;
}

.estimateProforma {
    width: 100%;
    max-width: 270px;
    display: inline-flex;
}

.headingName input[type="checkbox"] {
    left: 10px;
}

.defaultExpiry input {
    width: 100px;
    display: inline-flex;
    text-align: right;
}

.defaultExpiry span,
.sendAlert span {
    vertical-align: middle;
    padding-left: 5px;
    line-height: 2.4;
    padding-right: 10px;
}

input.form-control.send-alert {
    width: 100px;
    display: inline;
}

.sendAlert .form-control {
    position: static;
    float: none;
    width: auto;
}

.sendAlert .send-alert {
    width: 100px;
    text-align: right;
}

.sendAlert a {
    padding-left: 5px;
    color: #0c8fe6;
}

.p-0 {
    padding: 0px !important;
}

.nextStepEstimate {
    margin-bottom: 10px;
}

.d-inline-flex {
    display: inline-flex;
}

.custom-estimation label {
    position: absolute;
    top: -24px;
    right: 15px;
    font-size: 12px;
    color: #666666;
    text-align: right;
}

.initialnumber {
    width: 70px;
    margin: 0 15px;
}

.select-estimate {
    line-height: 2.2;
}

.estimationCheck {
    top: 7px;
}

span.viasocket {
    position: absolute;
    bottom: -26px;
    right: 0;
    font-size: 12px;
    text-decoration: underline;
}

span.viasocket a {
    color: #c6c6c6;
}

.invoice-lock-date {
    width: 152px;
    position: relative;
}

.show-on-mobile {
    display: none;
}

.invoice-lock-date .icon-calender {
    position: absolute;
    right: 10px;
    top: 25%;
    color: #666666;
    font-size: 16px;
}

.sms-textarea {
    margin-top: 0px;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    width: 260px;
}
@media(max-width:768px){
    .single-tab-block .col-sm-3{
        width: 100% !important;
    }
    .hide-on-mobile {
        display: none;
    }
    #invoice-setting .show-on-mobile {
        display: inline-block;
        float: left;
        width: 20px;
        top: 4px;
    }
    .payment-gateway {
        margin-left: 15px;
        margin-top: 5px;
    }

    #invoice-setting label {
        float: left;
        width: 88%;
    }

    .form-group.clearfix.max150 {
        margin-top: 5px;
    }
    .btn-wrapper {
        padding: 0 15px;
    }

    .integratde-email {
        margin-left: 30px;
    }

    .custom-estimation {
        margin-top: 30px;
    }
    .btn-wrapper {
        padding: 0 15px;
    }

    .sms-textarea {
        margin-top: 5px;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        width: 100%;
    }

    .invoice-lock-date {
        width: 180px !important;
        position: relative;
    }
    .select-estimate {
        margin-right: 0;
    }
}

.show-on-mobile {
    display: none;
}
