<ng-container
    appTranslate
    [file]="'invoice/settings'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
    (translationComplete)="translationComplete($event)"
>
    <div validateSectionPermission [hasPermission]="hasInvoiceSettingPermissions" validateSubscription>
        <section id="invoice-setting">
            <tabset class="tab-integration">
                <!-- region general tab-->
                <tab>
                    <ng-template tabHeading> <span class="icon-chat2"></span> {{ localeData?.general }} </ng-template>

                    <div class="general-tab single-tab-block">
                        <div class="box clearfix">
                            <form class="row" autocomplete="off">
                                <div class="col-sm-12">
                                    <h4 class="clearfix bd-rb">
                                        {{ localeData?.general }}
                                        <span>{{ localeData?.general_settings_applicable }} </span>
                                    </h4>

                                    <div class="clearfix pd-t1">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                                <ngx-switch
                                                    [(status)]="invoiceSetting.enableNarrationOnInvAndVoucher"
                                                    name="enableNarrationOnInvAndVoucher"
                                                    class="show-on-mobile"
                                                    [onText]="commonLocaleData?.app_on"
                                                    [offText]="commonLocaleData?.app_off"
                                                    [onColor]="bootstrapToggleSwitch?.On"
                                                    [offColor]="bootstrapToggleSwitch?.Off"
                                                    [size]="bootstrapToggleSwitch?.Size"
                                                >
                                                </ngx-switch>
                                                <label>{{ localeData?.narration_on_mobile }}</label>
                                            </div>

                                            <div class="col-sm-6 col-md-9 col-lg-8 form-group">
                                                <ngx-switch
                                                    [(status)]="invoiceSetting.enableNarrationOnInvAndVoucher"
                                                    name="enableNarrationOnInvAndVoucher"
                                                    class="hide-on-mobile"
                                                    [onText]="commonLocaleData?.app_on"
                                                    [offText]="commonLocaleData?.app_off"
                                                    [onColor]="bootstrapToggleSwitch?.On"
                                                    [offColor]="bootstrapToggleSwitch?.Off"
                                                    [size]="bootstrapToggleSwitch?.Size"
                                                >
                                                </ngx-switch>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-container *ngTemplateOutlet="buttonsSection"></ng-container>
                                </div>
                            </form>
                        </div>
                    </div>
                </tab>
                <!-- endregion -->

                <!-- region Email tab-->
                <tab>
                    <ng-template tabHeading>
                        <span class="icon-mail"></span> {{ commonLocaleData?.app_email }}
                    </ng-template>

                    <div class="email-tab single-tab-block">
                        <div class="box clearfix mb-2">
                            <h4 class="clearfix bd-rb">
                                {{ localeData?.email_sms }}
                                <span>{{ localeData?.general_settings_applicable }}</span>
                            </h4>

                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.from_email }}</label>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <div class="mb-0 form-group">
                                                    <div class="" [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="email"
                                                            class="form-control"
                                                            [placeholder]="localeData?.enter_email"
                                                            name="invoiceEmail"
                                                            [(ngModel)]="invoiceSetting.email"
                                                            (ngModelChange)="onChangeEmail($event)"
                                                            [disabled]="invoiceSetting.emailVerified"
                                                        />
                                                        <span
                                                            class="input-group-addon"
                                                            *ngIf="!invoiceSetting.emailVerified"
                                                            ><i
                                                                class="fa fa-exclamation-circle"
                                                                [tooltip]="localeData?.unverified"
                                                            ></i
                                                        ></span>
                                                        <span
                                                            class="input-group-addon verify-tick-icon"
                                                            *ngIf="invoiceSetting.emailVerified"
                                                            ><i class="icon-tick" [tooltip]="localeData?.verified"></i
                                                        ></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12 row pl-0">
                                                <div
                                                    class="btn-wrapper d-flex align-items-center justify-content-center"
                                                >
                                                    <button
                                                        class="btn btn-success mr-l15 mr-r15"
                                                        (click)="verfiyEmail(invoiceSetting.email)"
                                                        [disabled]="
                                                            !isEmailChanged &&
                                                            (!invoiceSetting.email || invoiceSetting.email?.length < 4)
                                                        "
                                                        *ngIf="!invoiceSetting.emailVerified"
                                                    >
                                                        {{ localeData?.verify }}
                                                    </button>
                                                    <span *ngIf="invoiceSetting.emailVerified" class="verified-text">{{
                                                        localeData?.verified
                                                    }}</span>
                                                    <span
                                                        class="delete-verified-icon"
                                                        [ngClass]="{
                                                            'delete-icon-opacity':
                                                                !invoiceSetting.email ||
                                                                invoiceSetting.email?.length < 4,
                                                            'cursor-pointer': !(
                                                                !invoiceSetting.email ||
                                                                invoiceSetting.email?.length < 4
                                                            )
                                                        }"
                                                        (click)="
                                                            !(!invoiceSetting.email || invoiceSetting.email?.length < 4)
                                                                ? deleteEmail(invoiceSetting.email)
                                                                : ''
                                                        "
                                                    >
                                                        <i class="icon-trash"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix pd-t1">
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 col-sm-12 flex-container">
                                        <ngx-switch
                                            [(status)]="companyEmailSettings.sendThroughGmail"
                                            name="sendThroughGmail"
                                            class="show-on-mobile"
                                            [disabled]="!isGmailIntegrated"
                                            [onText]="commonLocaleData?.app_on"
                                            [offText]="commonLocaleData?.app_off"
                                            [onColor]="bootstrapToggleSwitch?.On"
                                            [offColor]="bootstrapToggleSwitch?.Off"
                                            [size]="bootstrapToggleSwitch?.Size"
                                        >
                                        </ngx-switch>
                                        <label>{{ localeData?.send_email_gmail }}</label>
                                    </div>

                                    <div class="col-lg-9 col-md-12 col-sm-12 form-group d-flex align-items-center">
                                        <ngx-switch
                                            [(status)]="companyEmailSettings.sendThroughGmail"
                                            name="sendThroughGmail"
                                            class="hide-on-mobile"
                                            [disabled]="!isGmailIntegrated"
                                            [onText]="commonLocaleData?.app_on"
                                            [offText]="commonLocaleData?.app_off"
                                            [onColor]="bootstrapToggleSwitch?.On"
                                            [offColor]="bootstrapToggleSwitch?.Off"
                                            [size]="bootstrapToggleSwitch?.Size"
                                        >
                                        </ngx-switch>

                                        <span class="ml-1 integrated-email" *ngIf="!isGmailIntegrated">
                                            <a [href]="gmailAuthCodeUrl$ | async">{{ localeData?.integrate_gmail }}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngTemplateOutlet="buttonsSection"></ng-container>
                        </div>
                    </div>
                </tab>
                <!-- endregion -->

                <!-- region estimate tab -->
                <tab>
                    <ng-template tabHeading>
                        <span class="icon-estimate1"><span class="path1"></span><span class="path2"></span></span>
                        {{ localeData?.estimate }}
                    </ng-template>

                    <div class="estimate-tab single-tab-block">
                        <div class="box clearfix mb-2">
                            <h4 class="clearfix bd-rb">{{ localeData?.estimate_quotation }} <span></span></h4>
                            <div class="clearfix">
                                <div class="row heading-name">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.heading_name }}<span class="red-text">*</span></label>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div>
                                            <div>
                                                <div class="form-group">
                                                    <div class="estimate-proforma" [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            [(ngModel)]="estimateSetting.headerName"
                                                            [placeholder]="localeData?.eg_placeholder"
                                                            name="estimateHeaderName"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.default_expiry_days }}</label>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-3">
                                        <div class="default-expiry">
                                            <div>
                                                <div class="form-group">
                                                    <div [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="tel"
                                                            class="form-control flex-initial"
                                                            [(ngModel)]="estimateSetting.duePeriod"
                                                            maxlength="3"
                                                            placeholder="00"
                                                            decimalDigitsDirective
                                                            name="estimate-default-expiry"
                                                        />
                                                        <span> {{ commonLocaleData?.app_days }} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row next-step-estimate">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label
                                            >{{ localeData?.estimate_next_step }}<span class="red-text">*</span></label
                                        >
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-7">
                                        <div class="select-estimate mr-r3">
                                            <div class="col-md-12 col-xs-12 p-0">
                                                <span class="p-0 mr-r3">
                                                    <input
                                                        id="radio-5"
                                                        class="radio-custom cp ml-0"
                                                        name="signatureType"
                                                        type="radio"
                                                        [(ngModel)]="estimateSetting.nextStepToEstimate"
                                                        [value]="'salesorder'"
                                                    />
                                                    <label for="radio-5" class="radio-custom-label">{{
                                                        localeData?.proforma
                                                    }}</label>
                                                </span>

                                                <span class="p-0 mr-r3">
                                                    <input
                                                        id="radio-6"
                                                        class="radio-custom cp ml-0"
                                                        name="signatureType"
                                                        type="radio"
                                                        [(ngModel)]="estimateSetting.nextStepToEstimate"
                                                        [value]="'invoice'"
                                                    />
                                                    <label for="radio-6" class="radio-custom-label">{{
                                                        commonLocaleData?.app_invoice
                                                    }}</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="estimateSetting.autoChangeStatusOnExp"
                                                name="estimateAutoChange"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_change_status_expiry }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9 form-group">
                                            <ngx-switch
                                                [(status)]="estimateSetting.autoChangeStatusOnExp"
                                                name="estimateAutoChange"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="estimateSetting.autoMail"
                                                name="estimateAutomail"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_email_generate }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9 form-group">
                                            <ngx-switch
                                                [(status)]="estimateSetting.autoMail"
                                                name="estimateAutomail"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-md-12 col-lg-3">
                                            <input
                                                type="checkbox"
                                                [(ngModel)]="estimateSetting.sendSms"
                                                class="pull-left"
                                                name="invoiceCreatePaymentEntry"
                                                class="show-on-mobile"
                                            /><label>{{ localeData?.enable_sms_estimate }}</label
                                            >
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9">
                                            <div class="form-group clearfix">
                                                <input
                                                    type="checkbox"
                                                    [(ngModel)]="estimateSetting.sendSms"
                                                    class="pull-left"
                                                    name="invoiceCreatePaymentEntry"
                                                    class="hide-on-mobile"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <ng-container *ngTemplateOutlet="buttonsSection"></ng-container>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- endregion -->

                <!-- region sales order tab -->
                <tab>
                    <ng-template tabHeading>
                        <span class="icon-sales-order"></span> {{ localeData?.proforma }}
                    </ng-template>

                    <div class="estimate-tab sales-order-tab single-tab-block">
                        <div class="box clearfix mb-2">
                            <h4 class="clearfix bd-rb">{{ localeData?.proforma_invoice }} <span></span></h4>

                            <div class="clearfix">
                                <div class="row heading-name">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.heading_name }}<span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div>
                                            <div>
                                                <div class="form-group">
                                                    <div class="estimate-proforma" [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            [placeholder]="localeData?.eg_placeholder"
                                                            name="proformaHeaderName"
                                                            [(ngModel)]="proformaSetting.headerName"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.default_expiry_days }}</label>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div class="default-expiry">
                                            <div class="">
                                                <div class="form-group">
                                                    <div [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="tel"
                                                            class="form-control flex-initial"
                                                            placeholder="00"
                                                            name="proformaDuePeriod"
                                                            decimalDigitsDirective
                                                            maxlength="3"
                                                            [(ngModel)]="proformaSetting.duePeriod"
                                                        />
                                                        <span> {{ commonLocaleData?.app_days }} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="proformaSetting.autoChangeStatusOnExp"
                                                name="proformaAutoChange"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_change_status_expiry }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9 form-group">
                                            <ngx-switch
                                                [(status)]="proformaSetting.autoChangeStatusOnExp"
                                                name="proformaAutoChange"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="proformaSetting.autoMail"
                                                name="proformaAutomail"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_mail_generate_update }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9 form-group">
                                            <ngx-switch
                                                [(status)]="proformaSetting.autoMail"
                                                name="proformaAutomail"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3">
                                            <input type="checkbox" [(ngModel)]="proformaSetting.sendSms" class="pull-left"
                                                name="proformaCreatePaymentEntry" class="show-on-mobile" />
                                            <label>{{localeData?.enable_sms_proforma}}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-9">
                                            <div class="form-group clearfix">
                                                <input type="checkbox" [(ngModel)]="proformaSetting.sendSms"
                                                    class="pull-left" name="proformaCreatePaymentEntry"
                                                    class="hide-on-mobile" />
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <ng-container *ngTemplateOutlet="buttonsSection"></ng-container>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- endregion -->

                <!-- region invoice tab -->
                <tab>
                    <ng-template tabHeading>
                        <span class="icon-invoice-icon"></span>{{ commonLocaleData?.app_invoice }}
                    </ng-template>

                    <div class="estimate-tab invoice-tab single-tab-block">
                        <div class="box clearfix mb-2">
                            <h4 class="clearfix bd-rb">{{ commonLocaleData?.app_invoice }} <span></span></h4>
                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-3 lh-34">
                                        <label>{{ localeData?.default_expiry_days }}</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-9">
                                        <div class="default-expiry">
                                            <div>
                                                <div class="form-group">
                                                    <div [ngClass]="{ 'input-group': true }">
                                                        <input
                                                            type="tel"
                                                            class="form-control flex-initial"
                                                            placeholder="00"
                                                            maxlength="3"
                                                            decimalDigitsDirective
                                                            [(ngModel)]="invoiceSetting.duePeriod"
                                                            name="default-expiry"
                                                        />
                                                        <span> {{ commonLocaleData?.app_days }} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3">
                                            <label class="lock-date-label">{{ localeData?.invoice_lock_date }}</label>
                                        </div>

                                        <div class="col-sm-12 col-md-9">
                                            <div class="form-group date-picker-invoice invoice-lock-date mb-0">
                                                <giddh-datepicker
                                                    name="invoiceLockDate"
                                                    [placeholder]="commonLocaleData?.app_select_date"
                                                    [(ngModel)]="invoiceSetting.lockDate"
                                                    [showToggleIcon]="false"
                                                ></giddh-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.showSeal"
                                                name="invoiceStatusPayment"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.show_seal }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 form-group">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.showSeal"
                                                name="invoiceStatusPayment"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.autoMail"
                                                name="invoiceAutomail"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_mail_update }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 form-group">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.autoMail"
                                                name="invoiceAutomail"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="clearfix pd-t1">
                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-3">

                                            <input type="checkbox" [(ngModel)]="invoiceSetting.sendInvLinkOnSms"
                                                (ngModelChange)="onChangeSendInvoiceViaSms(invoiceSetting.sendInvLinkOnSms)"
                                                name="invoiceSetting.sendInvLinkOnSms" class="pull-left show-on-mobile" />

                                            <label>{{localeData?.enable_sms_invoice}}</label>
                                        </div>

                                        <div class="col-sm-12 col-md-9">
                                            <div class="form-group clearfix">
                                                <input type="checkbox" [(ngModel)]="invoiceSetting.sendInvLinkOnSms"
                                                    (ngModelChange)="onChangeSendInvoiceViaSms(invoiceSetting.sendInvLinkOnSms)"
                                                    name="invoiceSetting.sendInvLinkOnSms"
                                                    class="pull-left hide-on-mobile" />

                                                <div class="pull-left sms-textarea" *ngIf="invoiceSetting.sendInvLinkOnSms">
                                                    <textarea [(ngModel)]="invoiceSetting.smsContent"
                                                        class="pull-left form-control"
                                                        name="invoiceSetting.sendInvLinkOnSms" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="clearfix pt-1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.useCustomInvoiceNumber"
                                                name="customInvoice"
                                                class="pull-left estimation-check show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.custom_invoice_no }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                            <div class="form-group clearfix d-flex">
                                                <ngx-switch
                                                    [(status)]="invoiceSetting.useCustomInvoiceNumber"
                                                    name="customInvoice"
                                                    class="pull-left estimation-check hide-on-mobile"
                                                    [onText]="commonLocaleData?.app_on"
                                                    [offText]="commonLocaleData?.app_off"
                                                    [onColor]="bootstrapToggleSwitch?.On"
                                                    [offColor]="bootstrapToggleSwitch?.Off"
                                                    [size]="bootstrapToggleSwitch?.Size"
                                                >
                                                </ngx-switch>
                                                <div
                                                    class="d-inline-flex custom-estimation"
                                                    *ngIf="invoiceSetting.useCustomInvoiceNumber"
                                                >
                                                    <div class="d-inline-flex position-relative">
                                                        <label>{{ localeData?.branch_prefix }}</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="branchPrefix"
                                                            [(ngModel)]="invoiceSetting.branchInvoiceNumberPrefix"
                                                        />
                                                    </div>
                                                    <div class="d-inline-flex position-relative">
                                                        <label>{{ localeData?.sub_prefix }}</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="prefixNumber"
                                                            [(ngModel)]="invoiceSetting.invoiceNumberPrefix"
                                                        />
                                                    </div>
                                                    <div class="d-inline-flex position-relative">
                                                        <label>{{ localeData?.initial_no }}</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="initialNumber"
                                                            [(ngModel)]="invoiceSetting.initialInvoiceNumber"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix pd-t1">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.autoDeleteEntries"
                                                name="invoiceAutoDeleteEntries"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.auto_delete_entries }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 form-group">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.autoDeleteEntries"
                                                name="invoiceAutoDeleteEntries"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                            >
                                            </ngx-switch>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    *ngIf="(activeCompany$ | async)?.countryV2?.alpha2CountryCode === 'IN'"
                                    class="clearfix pd-t1"
                                >
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-3 flex-container">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.gstEInvoiceEnable"
                                                class="show-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                                (statusChange)="handleEInvoiceChange($event)"
                                            >
                                            </ngx-switch>
                                            <label>{{ localeData?.e_invoice_authentication_label }}</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 form-group user-authenticate d-flex">
                                            <ngx-switch
                                                [(status)]="invoiceSetting.gstEInvoiceEnable"
                                                class="hide-on-mobile"
                                                [onText]="commonLocaleData?.app_on"
                                                [offText]="commonLocaleData?.app_off"
                                                [onColor]="bootstrapToggleSwitch?.On"
                                                [offColor]="bootstrapToggleSwitch?.Off"
                                                [size]="bootstrapToggleSwitch?.Size"
                                                (statusChange)="handleEInvoiceChange($event)"
                                            >
                                            </ngx-switch>
                                            <div *ngIf="invoiceSetting.gstEInvoiceEnable" class="d-inline-flex">
                                                <div class="d-inline-flex position-relative mr-l15">
                                                    <label>{{ localeData?.e_invoice_username_label }}</label>
                                                    <input
                                                        [(ngModel)]="invoiceSetting.gstEInvoiceUserName"
                                                        type="text"
                                                        class="form-control"
                                                        name="userName"
                                                    />
                                                </div>
                                                <div class="d-inline-flex position-relative mr-l15">
                                                    <label>{{ localeData?.e_invoice_password_label }}</label>
                                                    <input
                                                        [(ngModel)]="invoiceSetting.gstEInvoiceUserPassword"
                                                        type="password"
                                                        class="form-control"
                                                        name="password"
                                                    />
                                                </div>
                                                <div class="d-inline-flex position-relative mr-l15">
                                                    <label>{{ localeData?.e_invoice_gstin_label }}</label>
                                                    <input
                                                        [(ngModel)]="invoiceSetting.gstEInvoiceGstin"
                                                        type="text"
                                                        class="form-control"
                                                        name="gstin"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- static code end -->
                                <ng-container *ngTemplateOutlet="buttonsSection"></ng-container>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- endregion -->
            </tabset>
        </section>

        <ng-template #buttonsSection>
            <div class="btn-group mr-t2" role="group">
                <button type="button" class="btn btn-success mr-r1" (click)="UpdateForm()">
                    {{ commonLocaleData?.app_save }}
                </button>
                <button type="button" class="btn btn-cancel" (click)="resetForm()">
                    {{ commonLocaleData?.app_cancel }}
                </button>
            </div>
        </ng-template>
    </div>
</ng-container>
