:host ::ng-deep {
.tailed-checkbox {
        display: none;
    }

    .show-tailed-checkbox {
        .tailed-checkbox {
            display: inline-block;
        }
        .tailed-row {
            &:has(:not(.pl-sticky-group)),
            .pl-sticky-group,
            .account {
                background-color: var(--color-success-light);
                color: var(--color-black);

                .mat-mdc-checkbox {
                    .mdc-form-field {
                        .mdc-checkbox {
                            /* UNUSED COMPONENT CLASS: mdc-checkbox - Auto-commented by script
/* UNUSED COMPONENT CLASS: mdc-checkbox__background - Auto-commented by script
.mdc-checkbox__background {
                                border-color: inherit !important;
                            }
*/
                        }
                    }
                }
            }
        }
    }

    /* UNUSED COMPONENT CLASS: uncheck-all-icon - Auto-commented by script
.uncheck-all-icon {
        filter: invert(0);
        width: 20px;
        height: 20px;
    }
*/
}
