:host ::ng-deep {
    .tailed-checkbox {
        display: none;
    }

    .show-tailed-checkbox {
        .tailed-checkbox {
            display: inline-block;
        }
        .tailed-row {
            &:has(:not(.pl-sticky-group)),
            .pl-sticky-group,
            .account {
                background-color: var(--color-success-light);
                color: var(--color-black);
                --mat-checkbox-unselected-icon-color: var(--color-black);
            }
        }
    }

    .uncheck-all-icon {
        width: 20px;
        height: 20px;
    }
}
