:host ::ng-deep {
    .tailed-checkbox {
        display: none;
    }

    .show-tailed-checkbox {
        .tailed-checkbox {
            display: inline-block;
        }
        .tailed-row {
            &:has(:not(.pl-sticky-group)),
            .pl-sticky-group,
            .account {
                background-color: var(--color-success-light);
                color: var(--color-black);

                .mat-mdc-checkbox {
                    .mdc-form-field {
                        .mdc-checkbox {
                            .mdc-checkbox__background {
                                border-color: inherit !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .uncheck-all-icon {
        filter: invert(0);
        width: 20px;
        height: 20px;
    }
}
