.purchase-report-block {
    .purchase-report-head {
        h4 {
            font-family: var(--font-semibold);
        }
        .custom-datepicker {
            min-width: 230px;
            input {
                width: 100% !important;
                max-width: 100%;
                text-align: left;
                padding-left: 40px !important;
            }
        }
    }
    .no-data-contain {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .purchase-report-container {
        border-top: 1px solid var(--color-iron);
        .table-wrapper {
            width: 80%;
            .purchase-report-table {
                font-size: var(--font-size-15);
                th {
                    border-bottom: 1px solid var(--color-iron) !important;
                    border-top: none !important;
                    min-width: 150px;
                }
                tr {
                    td {
                        &:first-child {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }
        .purchase-summary-wrapper {
            width: 20%;
            border-right: 1px solid var(--color-iron);
            .about-purchase-report {
                .text-blue {
                    font-size: var(--font-size-16);
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .purchase-report-block {
        .purchase-report-container {
            flex-direction: column-reverse;
            border-top: none;
            .table-wrapper {
                width: 100%;
            }
            .purchase-summary-wrapper {
                width: 100%;
                border-right: none;
                .about-purchase-report {
                    .purchase-qty {
                        margin-top: 0 !important;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .purchase-report-block {
        .purchase-report-head {
            .custom-datepicker {
                margin-top: 15px;
            }
        }
    }
}
