.action-btn{
    min-width: 42px;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .discount-form-setting-tab label,
    .discount-form-setting-tab br {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .discount-form-setting-tab label,
    .discount-form-setting-tab br {
        display: none !important;
    }
}

@media (min-width: 1360px) {
    .table-bordered {
        width: 33.33%;
    }
}
