.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px !important;
    cursor: pointer;
}

@media (max-width: 767px) {
    .select-status,
    .description-field {
        padding-right: 0;
    }
    .due-amount {
        .col-xs-12 {
            padding-right: 0;
        }
    }
    .status-description {
        .col-xs-12 {
            padding-right: 0 !important;
            margin-bottom: 15px;
        }
    }
    .total-amount {
        .col-xs-12 {
            padding-right: 0 !important;
            margin-bottom: 10px;
        }
    }
}
