.search-field {
    i {
        top: 10px;
        left: 10px;
    }

    .form-control {
        padding-left: 15px !important;
    }
}

::ng-deep .dark-theme .single-invoice-detail {
    &:hover,
    &.active {
        background-color: var(--theme-primary-light) !important;
    }
}

:host ::ng-deep .invoice-preview-wrapper {
    display: flex;
    height: calc(100vh - (var(--header-height) + 30px));

    .preview-list {
        .list-viewport {
            height: calc(100vh - 185px);
        }

        .single-invoice-detail {
            &:hover,
            &.active {
                background-color: var(--color-light-gray);
            }
        }
    }

    .preview-content {
        overflow-y: auto;

        .preview-header {
            .action-btn {
                column-gap: 6px;

                button {
                    &.mdc-button {
                        min-width: 36px;
                        width: 36px;
                        height: 36px;

                        .mdc-button__label {
                            line-height: 14px;
                        }
                    }
                }
            }
            .invoice-status {
                user-select: none;
                max-height: 36px;
                padding: 8px 10px;
                color: var(--color-black);
                background-color: var(--color-silver);
                border: 1px solid var(--border-color);
            }
        }

        .preview-box {
            column-gap: 50px;

            span {
                width: 35px;
                height: 35px;
                background-color: var(--color-silver);
                border-radius: 50px;
            }
        }

        ul {
            &.invoice-history-list {
                list-style-type: circle;

                li {
                    &:not(:last-child) {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 20px;
                            left: -10px;
                            transform: translateX(-90%);
                            height: 100%;
                            border: 1px dashed var(--color-silver);
                        }
                    }
                }
            }
        }

        .pdf-preview {
            h5 {
                background-color: var(--color-light-gray);
            }
            .error {
                font-size: var(--font-size-24);
            }

            .upload-excel {
                height: 320px;
                max-width: 500px;
                margin: 25px auto !important;
            }

            .dashed-border {
                border: 2px dashed var(--color-silver);
            }
            .img-expand-collapse {
                padding: 50px 50px 0 50px;
            }

            #csv-upload-input {
                inset: 0;
                z-index: 2;
            }

            .file-upload-panel {
                border: 1px solid currentColor;
            }
        }
    }
}

.max-width-list {
    max-width: 80%;
}

::ng-deep .default-theme {
    .preview-header {
        background-color: var(--color-light-gray);
    }
}

::ng-deep .dark-theme {
    .preview-header {
        background-color: var(--color-transparent);
    }
}

@media screen and (max-width: 1199px) {
    .list-responsive {
        flex-wrap: wrap;
    }
}
