.backup-data {
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-common-secondary-border);
    font-weight: 500;
    color: var(--color-nero);
}
.main-container-import-export {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: var(--font-size-32);
    }
}
.import-card,
.export-card {
    padding: 40px 67px;
    margin: 0 15px;
    border-radius: 2px;
    border: 1px solid var(--color-common-secondary-border);
    background: var(--color-primary-company-import-export-card-background);
    width: 50%;
    text-align: center;
    transition: 0.5s all ease;
}
.import-export-icon {
    width: 90px;
    height: 90px;
    background: var(--color-dark-fog);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    font-size: 34px;
    color: var(--color-abbey);
    margin: 0 auto 20px;
}

.export-section {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .main-container-import-export {
        h2 {
            font-size: var(--font-size-24);
        }
    }
}
.text-uppercase {
    text-transform: uppercase;
}
