<ng-container
    appTranslate
    [file]="'account-detail-modal'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <!-- AccountInfo -->
    <div
        *ngIf="isModalOpen"
        class="p-modal-tooltip"
        (clickOutside)="accountAsideMenuState === 'out' ? getUpdatedList(false) : ''"
    >
        <div class="tb-pl-modal-header p-0">
            <div class="account-detail-modal-header-div" >
                <div class="account-detail-modal-div">
                    <div class="account-detail-custom-header">
                        <ng-container>
                            <div class="d-flex p-0 border-right-0">
                                <div class="account-detail-padding flex-grow-1 border-right-0">
                                    <h3 class="account-detail-custom-title">{{ accInfo?.name }}</h3>
                                </div>
                                <a
                                     (click)="performActions(0, $event)"
                                    class="edit-icon pl-1 pd-t05"
                                >
                                    <i *ngIf="!isLoading" class="icon-edit-pencil font-16 pr-1 cursor-pointer"></i>
                                </a>
                            </div>

                            <div class="custom-detail account-detail-padding">
                                <h4>{{ accInfo?.mobileNo }}</h4>
                                <h4>{{ accInfo?.email }}</h4>
                            </div>
                        </ng-container>
                    </div>

                    <div class="height-82px">
                        <ul class="list-unstyled">
                            <li class="li-link">
                                <a href="javascript:;" (click)="performActions(1)">{{
                                    commonLocaleData?.app_goto_ledger
                                }}</a>
                            </li>

                            <li class="li-link" *ngIf="shouldShowGenerateInvoice">
                                <a href="javascript:;" (click)="performActions(2)">{{
                                    commonLocaleData?.app_generate_invoice
                                }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aside-overlay" *ngIf="accountAsideMenuState === 'in'"></div>
    <div *ngIf="accountAsideMenuState === 'in'">
        <aside-menu-account
            [activeGroupUniqueName]="activeGroupUniqueName"
            [activeAccountDetails]="accInfo"
            [isUpdateAccount]="true"
            class="account-aside-menu-state transform-inherit"
            [@slideInOut]="accountAsideMenuState"
            [commonLocaleData]="commonLocaleData"
            (closeAsideEvent)="getUpdatedList(false)"
            (getUpdateList)="getUpdatedList(true)"
        >
        </aside-menu-account>
    </div>
</ng-container>
