#gold * {
    border: 0;
    box-sizing: content-box;
    color: #231f20;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

.max-width-180 {
    /* max-width: 180px !important; */
}
.clogo {
    float: none;
    display: block;
    margin: 0 auto !important;
}
.bold {
    font-weight: bold;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}

/* NOTE:  comment padding, max-width, border in #gold css for java */
body {
    font: 12px/1 "Open Sans", sans-serif;
    background: #fff;
}
#gold {
    background: #fff;
    border: 1px solid #bfbfbf;
    max-width: 8.3in;
    width: 100%;
    margin: 0 auto;
}

#gold header h1 {
    /*font-size: 14px;*/
    display: inline-block;
    margin-right: 8px;
}

#gold header p {
    margin-bottom: 10px;
    /*font-size: 10px;*/
    color: #262626;
    display: inline-block;
}

#gold h1.invoice {
    /*font-size: 24px;*/
    font-weight: bold;
}

#gold .invoice-table {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
#gold .invoice-table td {
    padding: 10px 8px !important;
}

#gold header .sub_head {
    font-size: 15px;
    margin-left: 5px;
}

#gold .text-right {
    text-align: right;
}

#gold .text-left {
    text-align: left !important;
}

#gold .pull-right {
    float: right;
}

#gold .pull-left {
    float: left;
}

#gold table {
    width: 100%;
    table-layout: fixed;
    line-height: 20px;
    border-collapse: inherit;
}

#gold .logo {
    max-width: 120px;
    width: 100%;
}

#gold strong {
    font-weight: bold;
}

#gold .total-amount {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 10px;
}

#gold .total-amount h2 {
    /*font-size: 24px;*/
    padding: 0 0;
    display: inline-block;
    float: right;
}

#gold .address th {
    /* text-align:left; */
}

#gold .mr-l2 {
    margin-left: 20px;
}

#gold .mr-b2 {
    margin-bottom: 20px;
}

#gold .mr-b1 {
    margin-bottom: 10px;
}

#gold .meta {
    margin: 2px 0 10px 0;
    /* padding: 0 25px; */
}

#gold .meta h4 {
    font-weight: bold;
    /*font-size: 18px;*/
    line-height: 19px;
}

#gold .product-table {
    background: #df49270d;
    position: relative;
    /* padding-bottom: 10px; */
}

#gold .item {
    table-layout: auto !important;
    clear: both;
    width: 100%;
    table-layout: auto;
}

#gold .item thead tr th {
    padding: 14px 8px;
    line-height: 1.2rem;
    /*font-size: 10px;*/
}

#gold .item th {
    text-align: right;
    padding: 14px 7px;
    line-height: 1.2rem;
}

#gold table.item tr th,
#gold table.item tr td {
    vertical-align: middle;
}

#gold .item td {
    border-radius: 0;
    padding: 7px;
    /* border-top: 1px solid rgba(89, 89, 89, 0.6); */
    text-align: right;
    line-height: 1.2rem;
}

#gold .item thead {
    background: rgba(223, 73, 39, 0.05);
}

#gold .item tfoot tr {
    background: rgba(223, 73, 39, 0.05);
}
#gold .item tbody tr td {
    border-bottom: 1px solid #d6d6d6 !important;
}
#gold .item tfoot tr th,
#gold .item tbody tr td {
    padding: 5px 5px;
    /*font-size: 10px;*/
}

#gold .item tbody tr:nth-child(even) {
    background: #fff;
}

#gold .item tbody tr:nth-child(odd) {
    background: #fafafa;
}

#gold .item tfoot tr:last-child th {
    padding: 14px 10px;
    line-height: 1.2rem;
    vertical-align: middle;
}

#gold table.item td:nth-child(5),
#silver table.item th:nth-child(5) {
    width: 13%;
    text-align: right;
}

#gold .balance {
    width: 75%;
    float: right;
    margin-bottom: 78px;
}

#gold .balance th,
#gold .balance td {
    width: 50%;
    text-align: right;
    padding: 1px 4px;
}

/* #gold article {
    margin: 0 0 3em;
} */

#gold .total-row {
    border-top: 1px solid #000000;
}

#gold .tax-table p {
    color: #595959;
}

#gold .tax-table tfoot th {
    font-weight: bold;
}

#gold .bd-rb {
    border-bottom: 1px solid #666;
    margin-bottom: 6px;
}

#gold .subfooter {
    margin-top: 100px;
}

#gold .subfooter tbody td:nth-child(2) {
    padding-right: 15px;
}

#gold .subfooter h1 {
    /*font-size: 14px;*/
    display: inline-block;
}

#gold .subfooter .normal {
    font-size: 12px;
    vertical-align: baseline;
}

#gold .vertical-align-middle {
    vertical-align: middle;
}

#gold .note {
    margin-top: 10px;
}

#gold .note li {
    list-style-type: none;
    font-size: 10px;
}

#gold footer {
    margin-top: 7px;
    /* border-top: 2px solid; */
    /* padding: 10px 0; */
    line-height: 20px;
    padding-bottom: 8px;
    overflow: hidden;
    background: #fff;
    display: block;
    float: none;
}

#gold footer p:first-child {
    padding-top: 20px;
    border-top: 1px solid;
    font-size: 10px;
}

#gold .position-relative {
    position: relative;
}

#gold .primary-color {
    /* color: #df4927; */
}

#gold .text-center {
    text-align: center;
}

#gold .mr-b05 {
    margin-bottom: 10px;
}

#gold .secondry_clr {
    /* color: #4b4c4f; */
}

#gold .disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

.edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

.edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

img {
    max-width: 180px;
}
.meta > tbody table {
    margin: 2px 0 10px 0;
}
#template-table {
    float: left;
    width: 100%;
}
.half-table {
    display: block !important;
}
.half-table tbody tr td {
    padding-right: 15px !important;
}
.balance tr th,
.balance tr td {
    /*font-size: 10px !important;*/
}

#gold .item tbody tr td p {
    /*font-size: 8px;*/
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
