:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 760px;
    width: 100%;
    z-index: 9999;
}

:host.in #close {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 5;
    border: 0;
    border-radius: 0;
    background: 0 0;
    color: var(--color-white);
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 760px;
    width: 100%;
}

.custom-tags {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    span {
        border: 1px solid var(--color-iron);
        padding: 5px 8px;
        margin: 10px 10px 12px 0px;
        background-color: var(--color-aside-menu-create-tax-custom-tags-span-background);
    }
}
.input-group {
    width: 100%;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
@media (max-width: 768px) {
    :host {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
