/*td-in-searchbox_style*/
@import "../../../assets/css/color.scss";

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    flex: 1 1 auto;
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 3px;
    color: #8080808c;
    padding-right: 8px;
    cursor: pointer;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container input {
    height: 41px;
    width: 100%;
    padding: 11px;
    padding-right: 40px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto;
}

.basic > thead > tr > th {
    border-right: 1px solid #c6c4c4;
}

.icon-pointer .glyphicon {
    cursor: pointer;
}

.mh18_img img {
    max-height: 20px;
    cursor: pointer;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: #e5e5e5;
}

.dropdown-menu {
    margin-top: 0;
}
