.ai-ocr {
    min-height: calc(100vh - 295px);
    .initial-screen {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button {
            width: 260px;
            height: 45px;
            font-size: var(--font-size-20);
        }
    }

    .main-ocr {
       height: calc(100vh - 150px) ;
    }
}

.no-data-found {
    background: var(--color-white);
    text-align: center;
    font-size: var(--font-size-32);
    height: 600px;
    width: 100%;
    padding: 3rem;
    color: var(--color-gray);
}

.icomoon-ico {
    color: var(--color-abbey);
    width: 36px;
    min-width: 36px;
    height: 36px;
    border: 1px solid var(--color-secondary-input-bar-border);
    padding: 3px;
    display: flex;
    justify-content: center;
    border-top-width: 1px;
    background-color: var(--color-white);
    border-radius: 5px;
    margin: 0px 6px;
}

.custom-tab {
    anchor-name: --list;
}