<div
    appTranslate
    [file]="'triggers/advance'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
    (translationComplete)="translationComplete($event)"
>
    <div class="p-3">
        <div *ngIf="isCommunicationPlatformsLoading()" class="mt-5">
            <giddh-page-loader></giddh-page-loader>
        </div>
        <button
            class="pull-right"
            matButton="filled"
            routerLink="/pages/settings/trigger/basic"
            [disabled]="isCommunicationPlatformsLoading()"
        >
            {{ localeData?.communication?.switch_to_basic_trigger }}
        </button>
        <div
            class="discount p-3 clear-both section-center position-relative overflow-visible"
            *ngIf="!isShowIntegrated && !communicationPlatforms?.MSG91?.isConnected && !isCommunicationPlatformsLoading()"
        >
            <div class="initial-screen position-absolute text-center">
                <div class="msg91-container mb-5">
                    <div class="image">
                        <img src="{{ imgPath }}msgOne.png" class="logo" alt="" />
                        <img src="{{ imgPath }}msgTwo.png" class="msg" alt="" />
                    </div>
                </div>
                <button matButton="filled" (click)="isShowIntegrated = true">+ {{ localeData?.communication?.integrate_now }}</button>
            </div>
        </div>
        <ng-template [ngIf]="isShowIntegrated">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <div class="msg91-container" *ngIf="!showTriggerForm && !(editCommunicationPlatform === 'MSG91')">
                        <div class="menu" *ngIf="communicationPlatforms?.MSG91?.isConnected">
                            <button
                                matIconButton
                                disableRipple
                                id="edit-model-basic"
                                [matMenuTriggerFor]="beforeMenu"
                                aria-label="vertical dot img"
                            >
                                <span class="icon-dots-three-vertical"></span>
                            </button>
                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                <button mat-menu-item (click)="editCommunicationPlatform = 'MSG91'">
                                    <span class="font-size-15 edit-buttons">{{ localeData?.communication?.edit_platform }}</span>
                                </button>
                                <button mat-menu-item (click)="deleteCommunicationPlatform(communicationPlatforms?.MSG91?.uniqueName)">
                                    <span class="font-size-15 edit-buttons">{{ localeData?.communication?.remove_platform }}</span>
                                </button>
                            </mat-menu>
                        </div>
                        <div class="image" *ngIf="!communicationPlatforms?.MSG91?.isConnected">
                            <img src="{{ imgPath }}msgOne.png" class="logo" alt="" />
                            <img src="{{ imgPath }}msgTwo.png" class="msg" alt="" />
                        </div>
                        <div class="image" *ngIf="communicationPlatforms?.MSG91?.isConnected">
                            <img src="{{ imgPath }}msgOne-color.png" class="logo" alt="" />
                            <img src="{{ imgPath }}msgTwo-color.png" class="msg" alt="" />
                        </div>
                        <div class="integrate mini-icons" *ngIf="communicationPlatforms?.MSG91?.isConnected">
                            <img src="{{ imgPath }}msg91.png" alt="" />
                            <img src="{{ imgPath }}p1.png" alt="" />
                            <img src="{{ imgPath }}whatsapp.png" alt="" />
                            <img src="{{ imgPath }}msg1.png" alt="" />
                            <img src="{{ imgPath }}91091.png" alt="" />
                            <img src="{{ imgPath }}say1.png" alt="" />
                        </div>
                        <div class="integrate" *ngIf="!communicationPlatforms?.MSG91?.isConnected">
                            <p>{{ localeData?.communication?.integrate_now }}</p>
                        </div>
                    </div>
                    <div
                        class="verify-page mt-3"
                        *ngIf="
                            (!isCommunicationPlatformsLoading() && !communicationPlatforms?.MSG91?.isConnected) ||
                            editCommunicationPlatform === 'MSG91'
                        "
                    >
                        <button
                            class="cursor-pointer font-size-15 d-flex p-0 back-button mat-button msg-btn"
                            (click)="backToHomePage($event)"
                            *ngIf="communicationPlatforms?.MSG91?.isConnected"
                        >
                            <span class="mat-button-wrapper d-flex">
                                <i class="icon-left"></i>
                                <span class="back-text">{{ localeData?.communication?.msg91 }}</span>
                            </span>
                        </button>
                        <div class="d-flex align-items-center verify-form mt-3">
                            <div class="input-field">
                                <input-field
                                    [label]="communicationPlatforms?.MSG91?.fields?.auth_key?.label"
                                    [type]="'text'"
                                    [cssClass]="'auth-key-input'"
                                    [name]="'title'"
                                    [placeholder]="localeData?.communication?.auth_key"
                                    [(ngModel)]="communicationPlatformAuthModel.authFields[0].value"
                                    [required]="mandatoryFields.authKey"
                                ></input-field>
                            </div>
                            <button
                                matButton="filled"
                                class="font-size-15"
                                [disabled]="isCommunicationPlatformVerificationInProcess"
                                (click)="verifyCommunicationPlatform('MSG91')"
                            >
                                {{ localeData?.communication?.verify_integration }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!editCommunicationPlatform">
                <button
                    class="new-trigger font-size-15"
                    matButton="filled"
                    *ngIf="!showTriggerForm && communicationPlatforms?.MSG91?.isConnected"
                    (click)="toggleTriggerForm()"
                >
                    {{ localeData?.communication?.create_new_trigger }}
                </button>

                <div
                    class="table-one campaign-table"
                    *ngIf="
                        !isActiveTriggersLoading &&
                        !showTriggerForm &&
                        communicationPlatforms?.MSG91?.isConnected &&
                        activeTriggersDataSource?.length
                    "
                >
                    <table mat-table [dataSource]="activeTriggersDataSource" class="giddh-table table">
                        <ng-container matColumnDef="title">
                            <th class="active-trigger-title-width" mat-header-cell *matHeaderCellDef>
                                {{ localeData?.communication?.title }}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th class="channel-width" mat-header-cell *matHeaderCellDef>
                                {{ localeData?.communication?.type }}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                        </ng-container>

                        <ng-container matColumnDef="argsMapping">
                            <th class="args-mapping-width" mat-header-cell *matHeaderCellDef>
                                {{ localeData?.communication?.fields_mapping }}
                            </th>
                            <td class="args-mapping-variables" mat-cell *matCellDef="let element">
                                {{ element.argsMapping }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdAt">
                            <th class="created-at-width" mat-header-cell *matHeaderCellDef>
                                {{ localeData?.communication?.created_at }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.createdAt }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th class="icons-left" mat-header-cell *matHeaderCellDef>
                                {{ localeData?.communication?.action }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="small-button" matButton="filled" (click)="updateTriggerStatus(element?.uniqueName)">
                                    {{
                                        element?.isActive > 0
                                            ? localeData?.communication?.activated
                                            : localeData?.communication?.deactivated
                                    }}
                                </button>
                                <img
                                    class="icon-visibility cursor-pointer"
                                    (click)="editTrigger(element, 'copy')"
                                    src="{{ imgPath }}copy.svg"
                                    alt=""
                                />
                                <img
                                    class="ml-4 icon-visibility cursor-pointer"
                                    src="{{ imgPath }}edit.svg"
                                    alt=""
                                    (click)="editTrigger(element, 'update')"
                                />
                                <img
                                    class="ml-4 icon-visibility cursor-pointer"
                                    src="{{ imgPath }}delete.svg"
                                    (click)="deleteTrigger(element?.uniqueName)"
                                />
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="activeTriggersColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: activeTriggersColumns"></tr>
                    </table>
                    <section class="no-logs" *ngIf="!activeTriggersDataSource?.length && !isActiveTriggersLoading">
                        <div class="no-data">
                            <h2>{{ localeData?.communication?.no_triggers_found }}</h2>
                        </div>
                    </section>
                </div>
                <div
                    *ngIf="
                        triggerObj?.totalItems > pageSizeOptions[0] &&
                        !isActiveTriggersLoading &&
                        !showTriggerForm &&
                        activeTriggersDataSource?.length &&
                        communicationPlatforms?.MSG91?.isConnected
                    "
                >
                    <mat-paginator
                        [length]="triggerObj?.totalItems"
                        [pageSize]="triggerObj?.count"
                        [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="triggerObj?.page - 1"
                        [showFirstLastButtons]="true"
                        [hidePageSize]="false"
                        (page)="handlePageEvent($event)"
                        aria-label="Select page of triggers"
                    ></mat-paginator>
                    <section class="mb-custom-80"></section>
                </div>
            </ng-container>
            <!-- Page-6 to Page-9 -->
            <div class="trigger-form" *ngIf="!editCommunicationPlatform && showTriggerForm">
                <div class="trigger-form-left-side">
                    <div class="create-trigger-head">
                        <img class="return" src="{{ imgPath }}return.svg" alt="" (click)="backToListPage($event)" />
                        <p class="trigger-heading font-size-15">
                            {{
                                triggerMode === 'create' || triggerMode === 'copy'
                                    ? localeData?.communication?.create_trigger
                                    : localeData?.communication?.edit_trigger
                            }}
                        </p>
                    </div>

                    <div class="trigger-input">
                        <input-field
                            [label]="localeData?.communication?.title"
                            [type]="'text'"
                            [placeholder]="localeData?.communication?.name_trigger"
                            [name]="'trigger'"
                            [(ngModel)]="createTrigger.title"
                            [ngClass]="{ 'fields-error': mandatoryFields.title }"
                            [allowValueReset]="true"
                            (onClear)="createTrigger.title = ''"
                        ></input-field>
                    </div>
                    <div class="trigger-input mt-3">
                        <reactive-dropdown-field
                            [label]="localeData?.communication?.condition"
                            [placeholder]="localeData?.communication?.select_condition"
                            [options]="triggerCondition"
                            (selectedOption)="selectConditions($event?.value)"
                            [labelValue]="createTrigger.condition.action.length ? createTrigger.condition.action[0] : ''"
                            [ngClass]="{ 'fields-error': mandatoryFields.condition }"
                            (onClear)="createTrigger.condition.action[0] = ''"
                        ></reactive-dropdown-field>
                    </div>
                    <div class="trigger-input mt-3">
                        <reactive-dropdown-field
                            [label]="localeData?.communication?.entity"
                            [placeholder]="localeData?.communication?.select_entity"
                            [options]="triggerEntity"
                            (selectedOption)="selectEntity($event?.value)"
                            [labelValue]="createTrigger.condition.entity"
                            [ngClass]="{ 'fields-error': mandatoryFields.entity }"
                            (onClear)="createTrigger.condition.entity = ''"
                            [required]="true"
                        ></reactive-dropdown-field>
                    </div>
                    <div class="trigger-input mt-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ localeData?.communication?.sub_entity }}</mat-label>
                            <mat-select
                                class="px-0"
                                required="true"
                                [name]="'subentity'"
                                [placeholder]="localeData?.communication?.select_sub_entity"
                                multiple
                                [(ngModel)]="createTrigger.condition.subConditions[0].action"
                                (selectionChange)="selectSubEntity($event?.value)"
                                [ngClass]="{ 'fields-error': mandatoryFields.subConditions }"
                                [allowValueReset]="true"
                                (onClear)="createTrigger.condition.subConditions[0].action = ''"
                            >
                                <mat-option
                                    class="font-size-15"
                                    *ngFor="let action of subConditionAction"
                                    [selected]="action?.isChecked"
                                    [value]="action"
                                >
                                    {{ action | titlecase }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="trigger-input mt-3">
                        <reactive-dropdown-field
                            [label]="localeData?.communication?.campaign"
                            [placeholder]="localeData?.communication?.select_campaign"
                            [options]="campaignList"
                            (selectedOption)="selectCampaign($event, true)"
                            [labelValue]="createTrigger.campaignDetails.campaignName"
                            [ngClass]="{ 'fields-error': mandatoryFields.campaignSlug }"
                            (onClear)="createTrigger.campaignDetails.campaignName = ''"
                            [required]="true"
                        ></reactive-dropdown-field>
                    </div>
                    <button
                        *ngIf="triggerMode === 'create' || triggerMode === 'copy'"
                        matButton="filled"
                        (click)="createNewTrigger()"
                        [disabled]="disableSubmitButton"
                        class="button-trigger-form"
                    >
                        {{ commonLocaleData?.app_create }}
                    </button>
                    <button
                        *ngIf="triggerMode === 'update'"
                        matButton="filled"
                        (click)="updateTrigger()"
                        [disabled]="disableSubmitButton"
                        class="button-trigger-form"
                    >
                        {{ commonLocaleData?.app_update }}
                    </button>
                </div>
                <div class="trigger-form-right-side d-flex" *ngIf="showVariableMapping">
                    <div class="dropdown-box-1">
                        <div class="compose-trigger-dropdowns">
                            <div class="chiplist-wrapper">
                                <div class="pl-4 pr-4 border-bottom mat-form-field-clean">
                                    <span class="dropdown-heading pb-3 d-block">{{ localeData?.communication?.receiver }}</span>
                                    <select-multiple-fields
                                        [commonLocaleData]="commonLocaleData"
                                        [placeholder]="localeData?.communication?.select_mobile"
                                        [options]="triggerMobileDropdown"
                                        (selectedOption)="createTrigger.campaignDetails.mobile = $event"
                                        [selectedValues]="createTrigger.campaignDetails.mobile"
                                        [validations]="['mobile']"
                                        [name]="'mobile'"
                                        class="select-multiple-chiplist mobile-margin"
                                    ></select-multiple-fields>
                                </div>
                                <div class="border-left border-right chip-gap pl-4 pr-4 pt-4 mat-form-field-clean">
                                    <select-multiple-fields
                                        [commonLocaleData]="commonLocaleData"
                                        [showError]="mandatoryFields.triggerToChiplist"
                                        [placeholder]="localeData?.communication?.select_to"
                                        [options]="triggerToDropdown"
                                        (selectedOption)="createTrigger.campaignDetails.to = $event"
                                        [selectedValues]="createTrigger.campaignDetails.to"
                                        [validations]="['email']"
                                        [name]="'to'"
                                        class="select-multiple-chiplist border-bottom"
                                    ></select-multiple-fields>
                                    <select-multiple-fields
                                        [commonLocaleData]="commonLocaleData"
                                        [placeholder]="localeData?.communication?.select_bcc"
                                        [options]="triggerBccDropdown"
                                        (selectedOption)="createTrigger.campaignDetails.bcc = $event"
                                        [selectedValues]="createTrigger.campaignDetails.bcc"
                                        [validations]="['email']"
                                        [name]="'cc'"
                                        class="select-multiple-chiplist border-bottom"
                                    ></select-multiple-fields>
                                    <select-multiple-fields
                                        [commonLocaleData]="commonLocaleData"
                                        [placeholder]="localeData?.communication?.select_cc"
                                        [options]="triggerCcDropdown"
                                        (selectedOption)="createTrigger.campaignDetails.cc = $event"
                                        [selectedValues]="createTrigger.campaignDetails.cc"
                                        [validations]="['email']"
                                        [name]="'bcc'"
                                        class="select-multiple-chiplist border-bottom"
                                    ></select-multiple-fields>
                                </div>
                                <mat-checkbox
                                    class="font-size-15 pl-4 pr-4"
                                    #sendVoucherPdf
                                    color="primary"
                                    name="voucherpdf"
                                    [(ngModel)]="createTrigger.campaignDetails.sendVoucherPdf"
                                    (change)="selectVoucherPdf($event?.checked)"
                                >
                                    <span class="compose">{{ localeData?.communication?.send_voucher }}</span>
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-box-2">
                        <p class="compose variables-bottom-border" *ngIf="createTrigger.campaignDetails.argsMapping?.length">
                            {{ localeData?.communication?.variables }}
                        </p>
                        <div class="variables-wrapper">
                            <div
                                class="grid-box grid-box-content campaign-grid-tile"
                                *ngFor="let variable of createTrigger.campaignDetails.argsMapping; let i = index"
                            >
                                <div class="unit-value" [ngClass]="{ 'mt-2': i > 0 }">{{ variable.name }}</div>
                                <div class="map-unit-value border-bottom mat-form-field-clean">
                                    <select-multiple-fields
                                        [commonLocaleData]="commonLocaleData"
                                        [placeholder]="localeData?.communication?.select_suggestions"
                                        [options]="fieldsSuggestion"
                                        (selectedOption)="selectVariable($event, i)"
                                        [selectedValues]="variable?.value"
                                        [name]="'variable_' + i"
                                        class="select-multiple-chiplist"
                                        #variableComponent
                                    ></select-multiple-fields>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-box-3"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- open trigger aside -->
<ng-template #createNew>
    <aside-trigger-connection
        (closeAsideEvent)="createNewAccountDialogRef?.close()"
        [activeGroupUniqueName]="'discount'"
        [activeAccountDetails]="accInfo"
        [isUpdateAccount]="false"
        [commonLocaleData]="commonLocaleData"
    ></aside-trigger-connection>
</ng-template>
