.ps {
    overflow: visible !important;
}
.select-log {
    display: flex;
    flex-direction: row;
    p {
        label {
            width: 120px;
        }
    }
}
label {
    line-height: 2.5;
    font-size: 14px;
}
