/**new modal design**/

.modal-body label {
    color: var(--color-abbey);
    margin-bottom: 5px;
}

label .required {
    position: relative;
    top: 0px;
    color: var(--color-danger);
}

.form-control {
    color: var(--color-nero) !important;
}

.modal-body p {
    font-size: 14px;
    color: var(--color-gray);
    text-align: center;
    margin-left: -28px;
    margin-right: -28px;
}

.giddh-logo-welcome img {
    max-width: 200px;
    margin: 30px auto;
    display: block;
    filter: var(--color-primary-giddh-logo);
}

.welcome-wrapper {
    padding: 25px 0;
}

.welcome-header:after {
    display: none;
}

.add-company-detail {
    margin-bottom: 0 !important;
    background-color: var(--color-common-primary-background-for-all-components);
}

.welcome-header h1 {
    font-size: 30px;
    font-family: "opensans-regular";
    color: var(--color-common-senary-text);
    background-color: var(--color-common-primary-background-for-all-components);
}

.add-company-detail p {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: 100%;
}

#share-modal .btn.btn-sky-blue {
    width: 100%;
}

.add-company-detail {
    background-color: var(--color-common-primary-background-for-all-components);
}
#share-modal .btn-sky-blue {
    width: 100%;
}

.phone-code-caret {
    width: 85px;
    margin-right: 28px;
}

input::placeholder {
    color: var(--color-common-primary-input-placeholder);
}

@media (max-width: 767px) {
    .giddh-logo-welcome img {
        max-width: 150px;
        margin: 30px auto;
        display: block;
    }
    .welcome-header h1 {
        font-size: 20px !important;
    }
    .welcome-wrapper {
        padding: 15px 0;
    }
}
/**end new modal design**/
