:host ::ng-deep .parent-group {
    padding-left: 0;
}

:host ::ng-deep .account-accordion .main-account-list .title:before {
    content: none;
}

:host ::ng-deep .accountli {
    margin: 7px;
    text-transform: capitalize;
}

:host ::ng-deep .accounts-side-bar {
    box-shadow: none;
    overflow: auto;
    width: 100%;
}

.custom-input-group-addon {
    min-width: 40px;
    border-radius: 0;
    padding: 0;
    border: none;
}

.bg-wrap {
    background: var(--color-common-primary-background-for-all-components);
}

.entry-table thead th {
    font-weight: normal;
    padding: 8px 6px;
    color: var(--color-table-tertiary-heading);
    border-color: var(--color-table-primary-header-bar-border);
}

.entry-table {
    tbody {
        tr {
            td {
                padding: 5px;
                border: 0;
            }
        }
    }
}

.entry-table tbody tr td .form-control {
    border: 0;
    border-radius: 0 !important;
    height: 28px;
    line-height: 28px;
    padding: 0 6px !important;
    color: var(--color-table-quinary-content) !important;
    background: transparent !important;
}

.entry-table tbody tr td .form-control.focus:focus {
    background: transparent !important;
    border: 1px solid var(--color-secondary-input-bar-border) !important;
}

.active-row-transparent {
    background: white !important;
}

.active-row {
    background: var(--color-sidebar-company-background) !important;
}

.confirmation-box {
    background: var(--color-white);
    display: inline-block;
    padding: 20px;
    width: 230px;
    position: absolute;
    right: 15px;
    z-index: 9;
    min-height: 135px;
    margin: 20px 0;
    top: -200px;
}

.total-box {
    padding: 5px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px 0;
    font-size: var(--font-size-15);
    border-color: var(--color-table-primary-content-bar-border);
    margin-bottom: 3px;
}

.min-150 {
    min-width: 150px;
}

.custom-border {
    width: 100%;
}

.total-box>span {
    margin: 0 8px;
    display: inline-block;
    min-width: 80px;
}

.appearance-none {
    background: var(--color-dark-fog) !important;
    border: 0 !important;
    font-size: var(--font-size-15);
    color: var(--color-nero);
}

.account-listbar {
    overflow-y: hidden;
    height: 100vh;
    width: 250px;
    background: var(--color-white);
    position: absolute;
    left: -250px;
    z-index: 0;
}

.sidebar-menu {
    min-height: 100vh;
    background: var(--color-nero);
    color: var(--color-white);
    float: right;
    /* width: 250px; */
    position: relative;
}

.menu-list {
    padding: 15px 0;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: var(--color-white);
    padding: 4px 12px;
    display: block;
}

.menu-list li a.isHidden {
    color: var(--color-abbey);
}

.sidebar-list {
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100vh - 126px);
    overflow: hidden;
    padding: 0 !important;
    border: 0;
    z-index: 0;
    border-left: 1px solid var(--color-iron);
}

.sidebar-list h3 {
    background: var(--color-white);
}

/*
.label.isActive {
  font-weight: normal;
  background: #F85C88;
  color: #fff !important;
  cursor: auto;
} */

input[name="entryDate"] {
    background: transparent !important;
    border: 0;
    padding: 0 !important;
    color: var(--color-nero);
    height: auto;
    width: 100px;
    font-size: var(--font-size-15);
}

.custom-textarea {
    .form-control {
        border: none;
        background: transparent !important;
        width: 50%;
    }
}

textarea[name="narration"]:focus {
    border: 1px solid var(--color-secondary-input-bar-border) !important;
}

.custom-entry-date {
    .form-control {
        border: none;
        background: transparent !important;
    }
}

input[name="entryDate"]:focus {
    border: 1px solid var(--color-secondary-input-bar-border) !important;
    background-color: transparent !important;
}

:host ::ng-deep .menu {
    box-shadow: none !important;
}

:host ::ng-deep .item .list-item {
    border: 0 !important;
}

:host ::ng-deep .menu {
    border-left: 0 !important;
}

.modal-voucher {
    width: 298px !important;
}