.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}
.check-image img {
    max-height: 14px;
    cursor: pointer;
}

.flex-fill {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
}

/*td-in-searchbox_style*/
.td-search-box.nowrap {
    width: 15%;
}
.td-search-box div {
    display: flex;
}

.td-search-box div span {
    padding-left: 8px;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box .input-container input {
    height: 51px;
    width: 100%;
    padding: 11px;
    padding-right: 40px;
}

.td-search-box .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.basic > thead > tr > th {
    border-right: 1px solid var(--color-iron);
}

.icon-pointer .glyphicon {
    cursor: pointer;
}

.dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}

.dropdown-menu {
    margin-top: 0;
}
.download-arrow {
    .icon-download1 {
        visibility: hidden;
        opacity: 0;
        font-size: 17px;
        transition: 0.5s all ease;
    }
}
.download-arrow:hover .icon-download1 {
    visibility: visible;
    opacity: 1;
}
label {
    font-size: 14px;
}
.width-125 {
    width: 125px;
}
.eway-bill-date .form-control {
    background: var(--color-white) !important;
    border: 1px solid var(--color-iron);
}
.input-group {
    position: relative;
    span {
        &::before {
            position: absolute;
            content: "";
            display: block;
            height: 36px;
            width: 1px;
            background-color: var(--color-iron);
            left: 37px !important;
            z-index: 100;
            top: 0;
        }
        .form-control {
            background-image: url("../../../../assets/images/calender-icon.svg") !important;
            background-size: 17px !important;
            background-position: 9px 8px !important;
            background-repeat: no-repeat !important;
            padding-left: 45px !important;
            position: relative;
            z-index: 99;
            cursor: default;
            width: 100%;
        }
    }
}
.list-icon-group {
    label {
        padding: 0 10px;
    }
}
.custom-tabs {
    .table-wrapper {
        height: calc(100vh - 295px);
        overflow-y: auto;

        table {
            margin-top: 15px;
        }
    }
}
.no-data {
    padding-bottom: 20px;
    margin-top: -20px;
    padding-top: 20px;
}
.dropup-menu {
    transform: translateY(-101%) !important;
}
// my css

@media (min-width: 768px) {
    .table-responsive.remove-overflow {
        overflow: inherit;
    }
}
@media (max-width: 768px) {
    .dropdown-left {
        right: auto !important;
        left: 0 !important;
    }
    .modal-body {
        .text-right {
            text-align: left !important;
        }
    }
    .custom-tabs {
        table {
            margin-top: 0;
        }
    }
}
@media (max-width: 767px) {
    .custom-tabs::ng-deep .nav-tabs {
        position: fixed !important;
    }
}
