<div id="live" ng-init="getLiveData()">
  <div class="panel panel-default shadow">
    <div class="panel-heading">
      <label>Bank accounts</label><i class="glyphicon glyphicon-refresh pull-right" (click)="reload()"></i>
    </div>
    <div class="panel-body pos-rel">
      <div class="dashboard-reconnectdiv" *ngIf="(isGetBankAccountsInProcess$ | async)">
        <div class="giddh-spinner vertical-center-spinner" ng-if="errorMessage == ''"></div>
      </div>
      <div [ngClass]="{'dashboard-reconnectdiv': (bankAccountsError$ | async)}" *ngIf="!(isGetBankAccountsInProcess$ | async)">
        <label class="font-black" *ngIf="(bankAccountsError$ | async)">{{bankAccountsError$ | async}}</label>
      </div>

      <div *ngFor="let bankAccounts of (bankAccounts$ | async)">
        <section class="linked-accounts clearfix">
          <aside class="title">{{ bankAccounts.siteName}}</aside>
          <aside class="body">
            <table class="width100">
              <tr *ngFor="let item of bankAccounts.accounts">
                <!--<div ng-if="account.reconnect" class="reconnectDiv">-->
                <!--<button class="btn btn-default" ng-click="reconnectBank(account)">Reconnect</button>-->
                <!--</div>-->
                <td class="pos-rel width100">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="col-xs-6">{{item.name}}</td>
                        <td class="col-xs-4">{{item.currencyCode}} {{item.amount}}</td>
                        <td class="col-xs-2"><i class="glyphicon glyphicon-refresh" (click)="refreshBank(item.loginId)"></i></td>
                      </tr>
                      <tr *ngIf="item.reconnect" class="db-bnk-account">
                        <td class="reconnectDiv text-center col-xs-12">
                          <button class="btn btn-default" (click)="reconnect(item.loginId)">Reconnect</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--                   <span class="error-overlay">

                                    </span> -->
                </td>
              </tr>
            </table>
          </aside>
        </section>
      </div>
    </div>
  </div>
</div>
<!--delete company modal  -->
<div bsModal #refreshBankAccountModal="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Refresh Account</h3>
      </div>
      <div class="modal-body" style="height:400px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" *ngIf="(refreshBankAccount$ | async)?.connectUrl" attr.src="{{connectUrl}}"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
