.account-dialog {
    /* UNUSED COMPONENT CLASS: label-width - Auto-commented by script
.label-width {
        min-width: 220px;
    }
*/

    /* UNUSED COMPONENT CLASS: toggle-width - Auto-commented by script
.toggle-width {
        min-width: 65px;
    }
*/

.export-border {
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 55%;
            background-color: var(--color-medium-gray);
            top: 46%;
            right: -55px;
            transform: translateY(-50%);
        }
    }
}