@import "../../../../assets/css/color.scss";

.bd-rt {
    border-color: $gainsboro;
}

.flex-fill {
    flex: 1 1 auto;
}

.sh-select-dropdown {
    width: 230px;
}
/*td-in-searchbox_style*/

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 1px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}
.td-search-box .input-container {
    position: relative;
}
.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: $nero;
    border: none;
    background-color: $white-smoke;
}

.td-search-box .input-container i {
    position: absolute;
    right: 0px;
    top: 9px;
}

.basic > thead > tr > th {
    border-right: 1px solid $gainsboro;
}

.icon-pointer .glyphicon {
    cursor: pointer;
}

.td-search-box div i:hover {
    color: $nobel;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: $whisper;
}
.stock-input {
    background-color: transparent !important;
    border-bottom: 1px dotted $white !important;
    border: none;
    width: auto;
    padding: 0 !important;
    height: auto;
    text-align: center;
    min-width: 155px;
    color: $white;
}
.inventory-stock-table input.form-control.stock-input {
    color: $nero;
    text-align: left;
}
.table-border input.form-control.stock-input {
    color: $nero;
    text-align: left;
}
.footer-tr td {
    background-color: $whisper;
}
.total-footer {
    background-color: $white;
    display: flex;
    .foot-item {
        padding: 41px;
        h2 {
            color: $wistful;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 32px;
        }
    }
}

.journal-voucher {
    color: $silver;
}

.purchase {
    color: $primary;
}
.sales {
    color: $success-green;
}

/* class name same as what we are getting data */

.journal {
    color: $hint-of-cyan;
}
.credit {
    color: $faux-true;
}
.debit {
    color: $orange;
}
.modal-content {
    border-radius: 0px;
    margin-top: 200px;
}
.btn-download {
    font-size: 14px;
}
.btn-group.open.show {
    display: inline-flex !important;
}
.dropdown-menu.dropdown-menu-download {
    min-width: 110px;
    border-radius: 0px;
}
.dropdown-menu-download li {
    cursor: pointer;
}

/* voucher type DDL */
.c-3 {
    color: $white;
}
.btn-group-voucher-type {
    width: 100%;
    color: $nero !important;
    white-space: nowrap;
    min-width: 140px;
    max-width: 140px;
    &.show {
        display: inline-flex !important;
    }
    button {
        text-align: left;
        width: 100%;
        color: $nero;
        margin-right: 0;
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    .pull-right {
        margin-top: 5px;
    }
}
.voucher-type {
    width: 115%;
    right: -7.5% !important;
    top: 118% !important;
    border-radius: 0px;
    padding: 0px;
    input[type="checkbox"]:after {
        border: 1px solid $gainsboro;
        width: 15px;
        height: 15px;
        top: 2px;
    }
    input[type="checkbox"]:before {
        top: 6px;
        width: 9px;
        height: 5px;
        border: 2px solid $white;
        border-top-style: none;
        border-right-style: none;
    }
    li {
        color: $night-rider;
        padding: 3px 7px !important;
        font-size: 12px;
    }
    li:last-child {
        border: none;
        padding-bottom: 6px !important;
    }
}
button[aria-expanded="true"] i {
    color: $dim-gray;
}
/* voucher type DDL */

.capitalize {
    text-transform: capitalize;
}
.table-border {
    border: 1px solid $gainsboro;
}
.border-none {
    border: none !important;
}
.unit-badge {
    display: inline-block;
    min-width: 30px;
    text-align: left;
    padding-left: 3px;
    text-transform: lowercase;
}
.icon-pointer .icon-sort-asc {
    line-height: 20px;
    width: 15px;
    color: $wild-blue-yonder;
}
.icon-pointer .active-text-color {
    color: $deep-sky-blue;
}
.sticky-footer-sale-amount {
    .inner-content-footer {
        padding-left: 15px;
        padding-right: 80px;
        min-height: 60px;
        .flex-col {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            min-width: 120px;
        }
        .operators {
            font-size: 39px;
            color: $wistful;
        }
        h2 {
            font-size: 18px;
            line-height: 20px;
        }
        h3 {
            font-size: 14px;
            line-height: 20px;
        }
        h4 {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.select-style select {
    width: 100% !important;
}
.text-purple {
    color: $chetwode-blue;
}
.bg-white {
    background: $white;
}
.btn-link-2 {
    color: $primary;
}
.mr-b100 {
    margin-bottom: 100px;
}

.advance-icon {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid $gainsboro;
    border-radius: 5px;
    color: $midnight-blue;
    background: $white;
    .icon-advance-filter {
        padding: 10px;
    }
}
.inventory-stock-table .d-flex {
    align-items: center;
}
.icon-pointer {
    padding-left: 5px;
    cursor: pointer;
}
button.btn.btn-filter {
    background: $whisper;
    border: 1px solid $gainsboro;
    font-size: 14px;
    color: $midnight-blue;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}
.stock-not-found {
    text-transform: none;
}
.head-report {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.td-mobile-head {
    display: none;
}
.table-responsive {
    overflow-x: auto;
    display: table;
}
.icon-btn {
    border: 1px solid $gainsboro;
    border-radius: 5px;
    height: 36px;
    width: 36px;
    margin-top: 0;
    background-color: $white;
    .strong {
        font-weight: bold;
    }
}
.mobile-card-wrapper {
    table.table {
        tr {
            &:last-child {
                td {
                    border-bottom: 1px solid $gainsboro;
                }
            }
        }
    }
}
.inventory-branch-dropdown {
    display: none !important;
}

.wrap-head-report {
    max-width: 60%;
}

@media (max-width: 1440px) {
    .head-report {
        max-width: 245px;
        white-space: normal;
        word-break: break-all;
    }
    .right-inventory {
        width: 43%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row !important;
        text-align: right;
        .transfer-btn {
            margin-top: 0;
            margin-right: 15px;
        }
    }
}
@media (max-width: 1024px) {
    .wrap-head-report {
        width: 55%;
        .head-report {
            font-size: 16px;
            white-space: normal;
            word-break: break-all;
        }
    }
    .sticky-footer.sticky-footer-sale-amount {
        padding-left: 0 !important;
    }
}
@media (max-width: 767px) {
    .btn-sky-blue {
        display: none;
    }
    .advance-icon {
        display: none;
    }
    .head-report {
        font-size: 16px;
    }
    .btn-link {
        font-size: 12px;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
    .inventory-stock-table {
        table-layout: auto;
    }
    .basic > tbody > tr > td,
    .basic > thead > tr > th {
        min-width: 100px !important;
    }

    .download-icon {
        span {
            display: none;
        }
    }
    .td-mobile-head {
        display: block;
    }

    .table-border {
        border: 0px solid $white !important;
    }
}

@media (max-width: 1622px) {
    .table-responsive {
        display: block;
    }
}
