<div class="modal-header">
    <h3 class="modal-title pull-left">Approve</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="approveEntry.emit(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body approve-modal">
    <!-- <app-rejection-reason></app-rejection-reason> -->
    <div class="clearfix modal-top">
        <p class="font-12 text-gray mb-1">
            <span>{{selectedEntryForApprove?.entryDate}} </span> |
            <span>by {{selectedEntryForApprove?.createdBy?.name}}</span>
        </p>
        <div class="row mb-1">
            <div class="col-xs-4">
                <p class="font-14">Expenses:</p>
            </div>
            <div class="col-xs-8">
                <p class="font-14">{{selectedEntryForApprove?.particularAccount?.name}}</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-xs-4">
                <p class="font-14">Payment Mode:</p>
            </div>
            <div class="col-xs-8">
                <p class="font-14">{{selectedEntryForApprove?.baseAccount?.name}}</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-xs-4">
                <p class="font-14">Amount:</p>
            </div>
            <div class="col-xs-8">
                <p class="font-14">
                    <i>{{selectedEntryForApprove?.currencySymbol}} {{ selectedEntryForApprove?.amount}}</i></p>
            </div>
        </div>
    </div>

    <div class="approve-modal">
        <div class="form-group">
            <p>Are you sure to approve above transaction and add into your books ?</p>
        </div>

        <div>
            <button class="btn btn-warning" (click)="approveEntry.emit(false)">No</button>
            <button class="btn btn-success" (click)="approveEntry.emit(true)"
                [ladda]="approveEntryRequestInProcess">Yes</button>
        </div>
    </div>

</div>
