.vouchers {
    padding: 5px 0;

    .invoice-type-text {
        margin-top: 3px;
        margin-left: 2px;
    }
    .remove-invoice-icon {
        position: absolute;
        right: -15px;
        top: 14px
    }
    
    .container-lg {
        max-width: 1540px !important;

        .vouchers-content {
            min-height: 80vh;
        }

        @media screen and (max-width: 768px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .row-gap {
        row-gap: 15px;
    }

    .row-gap-25 {
        row-gap: 25px;
    }

    .vouchers-title {
        height: 50px;
        border-bottom: 1px solid var(--color-grey-bootstrap-border);

        h1 {
            font-size: var(--font-size-24);
            color: var(--color-giddh-blue);
        }
    }

    .differ-currency {
        color: var(--color-common-primary-text);
        font-size: var(--font-size-15);
        padding-right: 6px;
    }

    #button-dropup {
        .caret {
            transform: rotate(180deg);
        }
    }

    .vouchers-content-wrapper {
        padding: 15px 0;

        .vouchers-primary-form {
            .balance-due-label {
                font-size: var(--font-size-15);
            }

            h2 {
                font-size: var(--font-size-24);
            }
        }

        .vouchers-form-fields {
            max-width: 415px;
            min-width: 230px;

        }

        .vouchers-form-fields-detail {
            color: var(--color-giddh-blue);
        }

        .vouchers-copy-sales {
            color: var(--color-giddh-blue);
        }
    }

    .vouchers-secondary-form {
        &.vouchers-form-disable {
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 102%;
                transform: translateX(-1%);
                height: 100%;
                background-color: var(--color-primary-performa-invoice-dissabled-background);
                opacity: 0.7;
            }
        }


        .vouchers-small-container {
            max-width: 860px;
            margin-top: 15px;

            .billing-label {
                height: 40px;
                padding: 11px 0;
            }

            .billing-deliver-label {
                font-size: var(--font-size-16);
                font-weight: 600;
                color: var(--color-giddh-blue);
            }

            .vouchers-address-form {
                display: grid;
                grid-template-areas:
                    'address address'
                    'country state'
                    'gstin pincode';
                grid-template-columns: 48% 48%;
                gap: 15px;
                padding: 15px;
                border: 1px solid var(--color-fields-border);
                border-radius: 4px;
                line-height: 2;

                &.without-gstin {
                    grid-template-areas:
                        'address address'
                        'country state'
                        'pincode pincode' !important;
                }

                .address-field {
                    grid-area: address;

                    textarea {
                        border: none;
                        color: var(--color-common-primary-text);
                    }
                }

                .country-field {
                    grid-area: country;
                    border-bottom: 1px solid var(--color-fields-border);
                }

                .state-field {
                    grid-area: state;
                    border-bottom: 1px solid var(--color-fields-border);
                }

                .gstin-field {
                    grid-area: gstin;
                    border-bottom: 1px solid var(--color-fields-border);
                }

                .pin-code-field {
                    grid-area: pincode;
                    border-bottom: 1px solid var(--color-fields-border);
                }

                &.form-disabled {
                    background: var(--color-dark-fog);
                    opacity: 0.7;
                    pointer-events: none;
                }
            }

            @media screen and (max-width: 768px) {
                .row {
                    .col-6 {
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
                }
            }

        }

        .vouchers-large-container {
            border-top: 1px solid var(--color-common-secondary-border);

            #init-contact-wrapper {
                input {
                    height: 48px;
                }
            }

            .vouchers-entry-table {
                table {
                    tr {
                        th,
                        td {
                            padding: 16px 8px;
                            border: 1px solid var(--color-common-secondary-border);

                            &:not(:first-child, :nth-child(2)) {
                                text-align: right;
                            }

                            &.total-column {
                                min-width: 120px;
                            }

                            &.product-column {
                                @media screen and (max-width: 1280px) {
                                    max-width: 120px;
                                }
                            }
                            @media screen and (max-width: 1140px) {
                                min-width: 200px !important;
                            }
                        }

                        th {
                            color: var(--color-giddh-blue);
                            &:not(:first-child, :nth-child(2)){
                                padding-right: 14px !important;
                            }
                        }

                        td {
                            vertical-align: top;

                            .delete-btn {
                                right: 6px;
                                bottom: 18px;
                                transition: all 200ms;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            &.item-tax {
                                padding-bottom: 36px !important;

                                .wrap-other-tax {
                                    padding-right: 6px;
                                }
                            }

                            .select-account-label {
                                color: var(--color-common-primary-text);
                            }

                            amount-field {
                                display: inline-block;
                            }

                            .description {
                                word-wrap: break-word;
                                p {
                                    padding-left: 6px;
                                }
                            }

                            .wrap-td-data {
                                padding-right: 6px;
                            }
                        }

                        &.default-active {
                            td {
                                &.active {
                                    box-shadow:  0 0 0 2px var(--color-common-secondary-border) inset;
                                }
                                .date-hsn-code{
                                    padding-left: 7px;
                                    padding-right: 7px;
                                }
                            }
                        }
                    }
                }


                @media screen and (max-width: 1140px) {
                    overflow-x: auto;
                }
            }

            .vouchers-other-detail {
                margin: 0;
                max-width: calc(100% - 36px);

                .vouchers-attachment {
                    height: 48px;

                    .attachment-add-icon {
                        width: 36px;
                        height: 36px;
                        text-align: center;
                        line-height: 36px;
                        border-radius: 50%;
                        border: 1px solid var(--color-grey-bootstrap-border);
                    }

                    &.text-success {
                        .attachment-add-icon {
                            border-color: var(--color-success-enable);
                            font-size: var(--font-size-12);
                        }

                        .attachment-placeholder {
                            color: var(--color-success-enable);
                            width: 80%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }

                    .attachment-placeholder {
                        color: var(--color-giddh-blue);
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        left: 0;
                        border-radius: 5px;
                        z-index: 1;
                        opacity: 0;
                        cursor: pointer;

                        //  This will hide "Default Choose file" button
                        &::-webkit-file-upload-button {
                            display: none;
                        }
                    }

                    .remove-attachment {
                        height: 25px;
                        width: 25px;
                        padding: 2px;
                        color: black;
                    }
                }

                .adjustment-height {
                    height: 48px;
                }

                .total-amount-wrapper {
                    amount-field {
                        display: inline-block;
                    }
                }
            }

            .vouchers-actions {
                border-top: 1px solid var(--color-common-secondary-border);

                .vouchers-more-option-btn {
                    min-width: unset;
                }
            }
        }
    }
}

.option-label {
    color: var(--color-common-primary-text);
}

.option-value {
    color: var(--color-gray);
}

.entries-giddh-datepicker {
    height: 0 !important;
}

.product-name {
    display: block;
    word-break: break-word;
}