#content-wrapper {
    height: calc(100vh - 120px);
    padding-bottom: 25px;
    overflow-y: scroll;
}
// @media screen and (min-width: 992px) {
//     #content-wrapper {
//         height: calc(100vh - 120px);
//         padding-bottom: 25px;
//         // overflow-y: scroll;
//         overflow-x: auto;
//     }
// }