.custom-select .select-drop {
    right: 9px;
}

.custom-select-field {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 25px !important;
}

.icon-caret-down {
    right: 14px;
    font-size: 8px;
    position: absolute;
    color: var(--color-primary-icon);
}
