.custom-select .select-drop {
    right: 9px;
}

.custom-select-field {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 25px !important;
}

.icon-caret-down {
    right: 14px;
    font-size: 8px;
    position: absolute;
    color: var(--color-primary-icon);
}

.query-list {
    .condition_tag {
        position: absolute;
        top: 2px;
        right: -48px;
        background: var(--color-dark-fog);
        border-radius: 100%;
        padding: 7px 7px;
        text-transform: uppercase;
        font-size: var(--font-size-12);
        line-height: 24px;

        &::before {
            content: " ";
            position: absolute;
            height: 63px;
            width: 2px;
            background: var(--color-dark-fog);
            top: 29px;
            left: 19px;
        }
    }
    &:nth-last-child(3) {
        .condition_tag {
            &::after {
                content: " ";
                position: absolute;
                height: 2px;
                width: 30px;
                background: var(--color-dark-fog);
                top: 90px;
                left: -10px;
            }
        }
    }
}