.recurring-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    gap: 12px;
    align-items: center;
}

.weekday-toggle {
    display: flex;
    gap: 8px;

    button {
        &.active {
            background-color: var(--bg-primary-color) !important;
            color: var(--color-white) !important;
        }
    }
}

.section {
    margin-top: 16px;
}
