@import "../../../../assets/css/color.scss";

.or-line::before {
    content: " ";
    border-bottom: 1px solid $dim-gray;
    display: inline-block;
    width: 57px;
    margin-right: 13px;
}
.or-line::after {
    content: "";
    border-bottom: 1px solid $dim-gray;
    display: inline-block;
    width: 57px;
    margin-left: 13px;
}
.or-line {
    display: flex;
    align-items: center;
    color: $dim-gray;
    margin-bottom: 10px;
}
.my-dropdown-menu{
    padding: 10px;
}
.percent-label, .value-label{
    width: 50px;
}
.ledger-percent-wrapper{
    width: 110px;
    padding-right: 20px !important;
}
.ledger-discount-wrapper{
    width: 110px;
}
.fa-percent.pos-abs{
    top: 9px;
    right: 6px;
    color: $gray;
}
.discount-list{
    list-style: none;
    overflow: auto;
    max-height: 100px;
}