.date-range-picker {
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 30px !important;
    position: relative;
    z-index: 1;
    cursor: default;
    border: 1px solid var(--color-common-secondary-border);
    text-align: center;
    max-width: 230px;
    width: 230px;
}

.date-range-picker:focus {
    border-color: var(--color-primary-button-border) !important;
}
.input-wrapper {
    position: relative;
    display: block;
    background-color: var(--color-white);
}
.input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: var(--color-iron);
    left: 37px !important;
    z-index: 2;
    top: 0;
}
.transactions-page .form-group label {
    padding-bottom: 5px;
}
.advance-icon {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: var(--font-size-15);
    margin-left: 15px;
    border: 1px solid var(--color-primary-button-border);
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    height: 37px;
    min-width: 37px;
}
.table > tbody + tbody {
    border-top: none;
}
.expand-btn-hide-desktop {
    display: none;
}
.warehouse-name {
    white-space: normal;
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px !important;
    cursor: pointer;
}
.linked-entities {
    width: 200px;
}
.mobile-view {
    display: none !important;
}

.expand-collapse-btn a {
    width: 36px;
    height: 36px;
    background-color: var(--color-white);
    border: 1px solid var(--color-common-secondary-border);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-16);
    color: var(--color-giddh-blue);
    &:hover {
        background: var(--color-blue);
        color: var(--color-white);
    }
}

.export-btn {
    height: 36px;
}

button.btn.btn-filter {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-dark-fog);
    font-size: var(--font-size-15);
    color: var(--color-giddh-blue);
    align-items: center;
}

.daybook-w-100 {
    width: 100px;
}

.daybook-w-150 {
    width: 150px;
}

.daybook-w-200 {
    width: 200px;
    white-space: normal !important;
}

.daybook-w-300 {
    width: 300px;
    white-space: normal !important;
}

/*responsive */
@media (max-width: 768px) {
    .on-mobile-view th {
        display: none !important;
    }
    .hide-td {
        display: none;
    }
    .transaction-report {
        margin-bottom: 0;
    }
    td.text-right.hide-td {
        display: none;
    }
}
@media (max-width: 767px) {
    .expand-collapse-btn.form-group {
        display: none !important;
    }
    .export-btn {
        display: none !important;
    }
    .expand-btn-hide-desktop {
        display: inline-block;
    }
    .linked-entities {
        margin-bottom: 0 !important;
    }
    .desktop-view {
        display: none !important;
    }
    .mobile-view {
        display: inline-block !important;
    }
    .advance-icon {
        margin-right: 0 !important;
    }
}
@media (max-width: 575px) {
    .daybook-filter {
        clear: both;
    }
    .linked-entities {
        width: 100%;
    }
    .advance-icon {
        margin-left: 21px;
        margin-right: 0;
    }
}
@media (min-width: 320px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}
@media (min-width: 769px) {
    .table-responsive {
        max-height: calc(100vh - 245px);
        overflow-y: auto;
    }
}
.daybook-table-tbody > tr {
    cursor: pointer;
}

.table-container section div > div {
    padding: 8px 8px;
}

.trial-balance.table-container > div > section {
    border-left: 0;
}
.daybook-other-transactions {
    min-height: 0;
}
@media (max-width: 1100px) {
    .company-date-picker {
        flex-direction: column;
    }
    .linked-entities {
        padding-bottom: 10px;
    }
}

@media (max-width: 475px) {
    .clear-filter-responsive {
        display: block !important;
        width: 100%;
        .btn {
            width: 100%;
        }
    }

    .clear-filter.form-group {
        display: none;
    }
}
