<ng-container
    appTranslate
    [file]="'daybook'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <hamburger-menu [pageHeading]="localeData?.page_heading"></hamburger-menu>
    <giddh-page-loader *ngIf="showLoader"></giddh-page-loader>
    <ng-container *ngIf="!showLoader">
        <div class="transactions-page pd-t1 position-relative clearfix">
            <!-- ledger header -->
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="d-flex company-date-picker">
                            <div
                                class="form-group mb-0 mr-r15 linked-entities"
                                *ngIf="currentCompanyBranches?.length > 2 && currentOrganizationType === 'COMPANY'"
                            >
                                <div class="form-group mb-0">
                                    <sh-select
                                        [options]="currentCompanyBranches"
                                        [(ngModel)]="currentBranch.uniqueName"
                                        [showClear]="false"
                                        [ItemHeight]="33"
                                        width="100%"
                                        (selected)="handleBranchChange($event)"
                                        [isFilterEnabled]="true"
                                        [placeholder]="localeData?.select_entity"
                                        [fixedValue]="currentBranch?.alias"
                                    >
                                        <ng-template #optionTemplate let-option="option">
                                            <ng-container>
                                                <a href="javascript:void(0)" class="list-item d-flex">
                                                    <span class="entity-icon">
                                                        <i
                                                            class="icon-branch-icon pull-right"
                                                            *ngIf="!option.isCompany"
                                                            [matTooltip]="commonLocaleData?.app_branch"
                                                            [matTooltipPosition]="'above'"
                                                            matTooltipClass="tooltip-black"
                                                        ></i>
                                                        <i
                                                            class="icon-company-profile pull-right"
                                                            *ngIf="option.isCompany"
                                                            [matTooltip]="commonLocaleData?.app_company"
                                                            [matTooltipPosition]="'above'"
                                                            matTooltipClass="tooltip-black"
                                                        ></i>
                                                    </span>
                                                    <span class="entity-details">
                                                        <div class="item giddh-limit single-line-clamp">
                                                            {{ option.label || "-" }}
                                                        </div>
                                                        <div class="item-unique giddh-limit single-line-clamp">
                                                            {{ option.name || "-" }}
                                                        </div>
                                                    </span>
                                                </a>
                                            </ng-container>
                                        </ng-template>
                                    </sh-select>
                                </div>
                            </div>
                            <div class="form-inline align-items-center d-flex flex-nowrap daybook-filter">
                                <div class="form-group custom-datepicker mr-r15" (click)="showGiddhDatepicker($event)">
                                    <i class="icon-calender calendar-addon"></i>
                                    <input
                                        matInput
                                        type="text"
                                        name="selectedDateRange"
                                        [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                                        class="giddh-datepicker form-control date-range-picker"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 expand-collapse-btn">
                            <a
                                class="cp"
                                (click)="toggleExpand()"
                                [matTooltip]="commonLocaleData?.app_expand_all"
                                [matTooltipPosition]="'above'"
                                *ngIf="!isAllExpanded"
                                matTooltipClass="tooltip-black"
                            >
                                <span class="icon-expandIcon"></span>
                            </a>
                            <a
                                class="cp"
                                (click)="toggleExpand()"
                                [matTooltip]="commonLocaleData?.app_collapse_all"
                                [matTooltipPosition]="'above'"
                                *ngIf="isAllExpanded"
                                matTooltipClass="tooltip-black"
                            >
                                <span class="icon-collapse"></span>
                            </a>
                        </div>
                    </div>
                    <div *ngIf="showAdvanceSearchIcon" class="clear-filter form-group mb-0">
                        <button mat-button class="btn btn-filter" (click)="initialRequest()">
                            <span class="icon-cross"></span> {{ commonLocaleData?.app_clear_filter }}
                        </button>
                    </div>
                    <div class="filter-export d-flex align-items-center">
                        <div class="form-group mb-0 cursor-pointer">
                            <button
                                class="advance-icon align-items-center btn btn-primary"
                                [matTooltip]="commonLocaleData?.app_advance_search"
                                [matTooltipPosition]="'above'"
                                matTooltipClass="tooltip-black"
                                (click)="onOpenAdvanceSearch()"
                                mat-raised-button
                            >
                                <span class="pd-r05 d-sm-inline d-none">{{ commonLocaleData?.app_filter }}</span>
                                <span class="icon-advance-filter"></span>
                            </button>
                        </div>
                        <button
                            mat-raised-button
                            type="button"
                            class="btn btn-default bdr export-btn mr-0 d-flex align-items-center"
                            (click)="exportDaybook()"
                            *ngIf="daybookData?.entries?.length > 0"
                        >
                            {{ commonLocaleData?.app_export }}
                        </button>
                    </div>
                </div>
                <div class="d-none clear-filter-responsive mr-t1 clear-filter" *ngIf="showAdvanceSearchIcon">
                    <button mat-raised-button class="btn btn-filter" (click)="initialRequest()">
                        <span class="icon-cross"></span> {{ commonLocaleData?.app_clear_filter }}
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="clearfix mr-t15 daybook-table">
                <div class="clearfix trial-balance table-responsive">
                    <table
                        mat-table
                        class="w-100 on-mobile-view tb-head"
                        [dataSource]="daybookData?.entries"
                        multiTemplateDataRows
                    >
                        <ng-container matColumnDef="entry_date">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="no-wrap daybook-w-100"
                            >
                                {{ commonLocaleData?.app_date }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="no-wrap"
                                [attr.data-title]="commonLocaleData?.app_date"
                            >
                                {{ entry.entryDate }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="particular">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-300"
                            >
                                {{ commonLocaleData?.app_particular }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                [attr.data-title]="commonLocaleData?.app_particular"
                                class="daybook-w-300"
                            >
                                {{ entry.particular.name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="voucher_name">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-200"
                            >
                                {{ localeData?.voucher_name }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                [attr.data-title]="localeData?.voucher_name"
                                class="daybook-w-200"
                            >
                                {{ entry.voucherName }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="voucher_no">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="text-right daybook-w-150"
                            >
                                {{ localeData?.voucher_no }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="text-right"
                                [attr.data-title]="localeData?.voucher_no"
                            >
                                {{
                                    entry.voucherNo
                                        ? entry.voucherNo
                                        : entry.voucherName === "purchase"
                                        ? commonLocaleData?.app_not_available
                                        : ""
                                }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="debit_amount">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="text-right daybook-w-150"
                            >
                                {{ localeData?.debit_amount }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="text-right"
                                [attr.data-title]="localeData?.debit_amount"
                            >
                                <span class="d-flex justify-content-end">
                                    <amount-field
                                        [amount]="entry.debitAmount || 0"
                                        [currencySymbol]="false"
                                        [currencyCode]="false"
                                    >
                                    </amount-field>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="credit_amount">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="text-right daybook-w-150"
                            >
                                {{ localeData?.credit_amount }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="text-right"
                                [attr.data-title]="localeData?.credit_amount"
                            >
                                <span class="d-flex justify-content-end">
                                    <amount-field
                                        [amount]="entry.creditAmount || 0"
                                        [currencySymbol]="false"
                                        [currencyCode]="false"
                                    >
                                    </amount-field>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="product_service">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-200"
                            >
                                {{ localeData?.product_service }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                [attr.data-title]="localeData?.product_service"
                                class="daybook-w-200"
                            ></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="quantity">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                class="text-right daybook-w-100"
                                *matHeaderCellDef
                            >
                                {{ localeData?.qty }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="text-right"
                                [attr.data-title]="localeData?.qty"
                            ></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="unit">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-100"
                            >
                                {{ commonLocaleData?.app_unit }}
                            </th>
                            <td mat-cell *matCellDef="let entry" [attr.data-title]="commonLocaleData?.app_unit"></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="rate">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                class="text-right daybook-w-150"
                                *matHeaderCellDef
                            >
                                {{ commonLocaleData?.app_rate }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                class="text-right"
                                [attr.data-title]="commonLocaleData?.app_rate"
                            ></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="hsn_sac">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-100"
                            >
                                {{ commonLocaleData?.app_hsn_sac }}
                            </th>
                            <td mat-cell *matCellDef="let entry" [attr.data-title]="commonLocaleData?.app_hsn_sac"></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="sku">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-100"
                            >
                                {{ commonLocaleData?.app_sku }}
                            </th>
                            <td mat-cell *matCellDef="let entry" [attr.data-title]="commonLocaleData?.app_sku"></td>
                        </ng-container>
                        <ng-container *ngIf="isEntryExpanded" matColumnDef="warehouse">
                            <th
                                mat-header-cell
                                [hidden]="!daybookData?.entries?.length"
                                *matHeaderCellDef
                                class="daybook-w-200"
                            >
                                {{ commonLocaleData?.app_warehouse }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let entry"
                                [attr.data-title]="commonLocaleData?.app_warehouse"
                                class="daybook-w-200"
                            ></td>
                        </ng-container>

                        <ng-container matColumnDef="expandedDetail">
                            <td
                                mat-cell
                                class="p-0 w-100 child-td"
                                *matCellDef="let entry"
                                [hidden]="!entry.isExpanded"
                                [attr.colspan]="isEntryExpanded ? tableAllColumns?.length : tableColumns?.length"
                            >
                                <div class="d-flex overflow-hidden">
                                    <div class="w-100" *ngIf="entry.isExpanded && entry.otherTransactions?.length">
                                        <table
                                            class="w-100 nested-table"
                                            mat-table
                                            [dataSource]="entry.otherTransactions"
                                        >
                                            <ng-container matColumnDef="expanded_entry_date">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="hide-td daybook-w-100"
                                                ></td>
                                            </ng-container>
                                            <ng-container matColumnDef="expanded_particular">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    [attr.data-title]="commonLocaleData?.app_particular"
                                                    class="daybook-w-300"
                                                >
                                                    {{ details.particular.name }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="expanded_voucher_name">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="hide-td daybook-w-200"
                                                ></td>
                                            </ng-container>
                                            <ng-container matColumnDef="expanded_voucher_no">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="hide-td daybook-w-150"
                                                ></td>
                                            </ng-container>
                                            <ng-container matColumnDef="expanded_debit_amount">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="text-right daybook-w-150"
                                                    [attr.data-title]="localeData?.debit_amount"
                                                >
                                                    <span *ngIf="details.type === 'DEBIT'">
                                                        <span class="d-flex justify-content-end">
                                                            <amount-field
                                                                [amount]="details.amount || 0"
                                                                [currencySymbol]="false"
                                                                [currencyCode]="false"
                                                            >
                                                            </amount-field>
                                                        </span>
                                                    </span>
                                                    <span *ngIf="details.type !== 'DEBIT'">-</span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="expanded_credit_amount">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="text-right daybook-w-150"
                                                    [attr.data-title]="localeData?.credit_amount"
                                                >
                                                    <span *ngIf="details.type === 'CREDIT'">
                                                        <span class="d-flex justify-content-end">
                                                            <amount-field
                                                                [amount]="details.amount || 0"
                                                                [currencySymbol]="false"
                                                                [currencyCode]="false"
                                                            >
                                                            </amount-field>
                                                        </span>
                                                    </span>
                                                    <span *ngIf="details.type !== 'CREDIT'">-</span>
                                                </td>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="isEntryExpanded"
                                                matColumnDef="expanded_product_service"
                                            >
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    [attr.data-title]="localeData?.product_service"
                                                    class="daybook-w-200"
                                                >
                                                    {{ details?.inventory?.stock?.name }}
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_quantity">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="text-right daybook-w-100"
                                                    [attr.data-title]="localeData?.qty"
                                                >
                                                    {{
                                                        details.inventory
                                                            ? (details.inventory.quantity | giddhCurrency)
                                                            : "-"
                                                    }}
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_unit">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    [attr.data-title]="commonLocaleData?.app_unit"
                                                    class="daybook-w-100"
                                                >
                                                    {{ details?.inventory?.unit?.name }}
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_rate">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="text-right daybook-w-150"
                                                    [attr.data-title]="commonLocaleData?.app_rate"
                                                >
                                                    <span class="d-flex justify-content-end" *ngIf="details.inventory">
                                                        <amount-field
                                                            [amount]="details.inventory.rate"
                                                            [currencySymbol]="false"
                                                            [currencyCode]="false"
                                                        >
                                                        </amount-field>
                                                    </span>
                                                    <span *ngIf="!details.inventory" class="text-right">-</span>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_hsn_sac">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    [attr.data-title]="commonLocaleData?.app_hsn_sac"
                                                    class="daybook-w-100"
                                                >
                                                    {{ details?.inventory?.hsnNumber || details?.inventory?.sacNumber }}
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_sku">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    [attr.data-title]="commonLocaleData?.app_sku"
                                                    class="daybook-w-100"
                                                >
                                                    {{ details?.inventory?.skuCode }}
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="isEntryExpanded" matColumnDef="expanded_warehouse">
                                                <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let details"
                                                    class="warehouse-name daybook-w-200"
                                                    [attr.data-title]="commonLocaleData?.app_warehouse"
                                                >
                                                    {{ details?.inventory?.warehouse?.name }}
                                                </td>
                                            </ng-container>
                                            <tr
                                                mat-header-row
                                                [hidden]="true"
                                                *matHeaderRowDef="
                                                    isEntryExpanded ? tableExpandedAllColumns : tableExpandedColumns
                                                "
                                            ></tr>
                                            <tr
                                                mat-row
                                                *matRowDef="
                                                    let entry;
                                                    columns: isEntryExpanded
                                                        ? tableExpandedAllColumns
                                                        : tableExpandedColumns
                                                "
                                            ></tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="isEntryExpanded ? tableAllColumns : tableColumns; sticky: true"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let entry; columns: isEntryExpanded ? tableAllColumns : tableColumns"
                            (click)="expandEntry(entry)"
                            (touchend)="showUpdateLedgerModalIpad(entry)"
                            (dblclick)="showUpdateLedgerModal(entry)"
                            (keydown.enter)="showUpdateLedgerModal(entry)"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let entry; columns: ['expandedDetail']"
                            [ngClass]="{
                                'daybook-other-transactions': true,
                                'border-none':
                                    !entry.isExpanded || (entry.isExpanded && entry.otherTransactions?.length === 1)
                            }"
                            [hidden]="!entry.isExpanded"
                        ></tr>
                    </table>
                </div>

                <div class="mr-t2 text-center" [hidden]="!daybookData?.entries?.length">
                    <small class="grey" *ngIf="daybookData?.totalItems"
                        >{{ daybookData?.totalItems }}
                        {{ commonLocaleData?.app_transactions }}
                        | {{ daybookData?.totalPages }} {{ commonLocaleData?.app_pages }}
                    </small>
                    <small class="grey" *ngIf="!daybookData?.totalItems"
                        >0 {{ commonLocaleData?.app_transactions }} | 0 {{ commonLocaleData?.app_pages }}</small
                    >
                </div>

                <!-- pagination -->
                <div class="mt-1" [hidden]="!daybookData?.entries?.length">
                    <pagination
                        [totalItems]="daybookData?.totalItems"
                        [(ngModel)]="daybookData.page"
                        [maxSize]="5"
                        class="pagination-sm"
                        [boundaryLinks]="true"
                        [itemsPerPage]="daybookData?.count"
                        [rotate]="false"
                        (pageChanged)="pageChanged($event)"
                        [firstText]="commonLocaleData?.app_first"
                        [previousText]="commonLocaleData?.app_previous"
                        [nextText]="commonLocaleData?.app_next"
                        [lastText]="commonLocaleData?.app_last"
                    >
                    </pagination>
                </div>
                <!-- pagination -->
            </div>
            <div class="no-data" *ngIf="!daybookData?.entries?.length">
                <no-data></no-data>
            </div>
        </div>
    </ng-container>

    <!-- Advance search popup -->
    <ng-template #advanceSearchModal>
        <daybook-advance-search-model
            [startDate]="daybookQueryRequest.from"
            [endDate]="daybookQueryRequest.to"
            [localeData]="localeData"
            [commonLocaleData]="commonLocaleData"
            [searchFilterData]="searchFilterData"
            (closeModelEvent)="closeAdvanceSearchPopup($event)"
        >
        </daybook-advance-search-model>
    </ng-template>
    <!-- ./Advance  search popup -->

    <!-- export ladger popup -->
    <ng-template #exportDaybookModal>
        <export-daybook
            [localeData]="localeData"
            [commonLocaleData]="commonLocaleData"
            (closeExportDaybookModal)="hideExportDaybookModal($event)"
        ></export-daybook>
    </ng-template>
    <!-- ./ export ladger popup -->
    <ng-template #datepickerTemplate>
        <div class="datepicker-modal">
            <div class="modal-body">
                <app-datepicker-wrapper
                    [inputStartDate]="selectedDateRange?.startDate"
                    [inputEndDate]="selectedDateRange?.endDate"
                    [alwaysShowCalendars]="true"
                    [ranges]="datePickerOption"
                    [selectedRangeLabel]="selectedRangeLabel"
                    [showCustomRangeLabel]="true"
                    [showClearButton]="false"
                    [showCancel]="true"
                    [linkedCalendars]="true"
                    [showDropdowns]="true"
                    (rangeClicked)="dateSelectedCallback($event)"
                    (datesUpdated)="dateSelectedCallback($event)"
                    [keepCalendarOpeningWithRange]="false"
                    [showRangeLabelOnInput]="false"
                    [dateFieldPosition]="dateFieldPosition"
                ></app-datepicker-wrapper>
            </div>
        </div>
    </ng-template>
</ng-container>

<!-- update ladger entry popup -->
<ng-template #updateLedgerModal>
    <update-ledger-entry-panel
        [isPettyCash]="false"
        (closeUpdateLedgerModal)="hideUpdateLedgerModal()"
        (toggleOtherTaxesAsideMenu)="toggleOtherTaxesAsidePane()"
    ></update-ledger-entry-panel>
</ng-template>

<!-- aside menu section -->
<div class="aside-overlay" *ngIf="asideMenuStateForOtherTaxes === 'in'"></div>
<app-aside-menu-sales-other-taxes
    *ngIf="asideMenuStateForOtherTaxes === 'in'"
    [class]="asideMenuStateForOtherTaxes"
    [taxes]="companyTaxesList"
    [otherTaxesModal]="updateLedgerComponent.vm.selectedLedger.otherTaxModal"
    [commonLocaleData]="commonLocaleData"
    [@slideInOut]="asideMenuStateForOtherTaxes"
    (closeModal)="toggleOtherTaxesAsidePane(null)"
    (applyTaxes)="calculateOtherTaxes($event); toggleOtherTaxesAsidePane(null)"
>
</app-aside-menu-sales-other-taxes>
