@import "../../assets/css/color.scss";
.date-range-picker {
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 30px !important;
    position: relative;
    z-index: 1;
    cursor: default;
    border: 1px solid $gainsboro;
    text-align: center;
    max-width: 230px;
    width: 230px;
}

.date-range-picker:focus {
    border-color: $gainsboro !important;
}
.input-wrapper {
    position: relative;
    display: block;
    background-color: $white;
}
.input-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: $gainsboro;
    left: 37px !important;
    z-index: 2;
    top: 0;
}
.transactions-page .form-group label {
    padding-bottom: 5px;
}
.advance-icon {
    width: 36px;
    height: 36px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    margin-left: 15px;
    border: 1px solid $gainsboro;
    border-radius: 2px;
    color: $midnight-blue;
    margin-right: 15px;
    background: $white;
    cursor: pointer;
}
.table > tbody + tbody {
    border-top: none;
}
.expand-btn-hide-desktop {
    display: none;
}
.expand-export {
    float: right;
}
.warehouse-name {
    white-space: normal;
}
.linked-entities {
    width: 200px;
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px !important;
    border-right: 1px solid $gainsboro !important;
    cursor: pointer;
}
/*responsive */
@media (max-width: 768px) {
    .on-mobile-view th {
        display: none !important;
    }
    .hide-td {
        display: none;
    }
    .transaction-report {
        margin-bottom: 0;
    }
    td.text-right.hide-td {
        display: none;
    }
}
@media (max-width: 767px) {
    .expand-collapse-btn.form-group {
        display: none !important;
    }
    .expand-btn-hide-desktop {
        display: inline-block;
    }
    .expand-export {
        float: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
    }
    .linked-entities {
        margin-bottom: 0 !important;
    }
}
@media (max-width: 575px) {
    .daybook-filter {
        clear: both;
    }
    .linked-entities {
        width: 100%;
    }
    .advance-icon {
        margin-left: 21px;
        margin-right: 0;
    }
}
@media (min-width: 320px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}
.daybook-table-tbody > tr {
    cursor: pointer;
}
.table-container section div > div {
    padding: 8px 8px;
}

.trial-balance.table-container > div > section {
    border-left: 0;
}
