.virtual-group-list {
    height: 193px;
}
.dropdown-bg {
    background-color: var(--color-white);
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 99;
    .arrow-dropdown {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
        top: 8px;
        right: 4px;
    }
}
.select-field-container {
    input {
        border: 0 !important;
        background-color: transparent;
    }
}
