<div class="container-fluid">
  <tabset id="settingTab" #staticTabsTBPL>
        <!-- *ngIf="CanNewTBLoadOnThisEnv" -->
        <tab heading="Trial Balance" (select)="CanNewTBLoad = true; CanTBLoad = false">
            <!-- *ngIf="CanNewTBLoad" -->
            <tb [isV2]="true" [selectedCompany]="selectedCompany"></tb>
        </tab>
        <!-- <tab heading="Trial Balance" (select)="CanTBLoad = true; CanNewTBLoad = false">
            <tb [isV2]="false" [selectedCompany]="selectedCompany" *ngIf="CanTBLoad"></tb>
        </tab> -->
        <tab heading="Profit &amp; Loss" (select)="CanPLLoad = true">
            <pl [selectedCompany]="selectedCompany" *ngIf="CanPLLoad"></pl>
        </tab>
        <tab heading="Balance Sheet" (select)="CanBSLoad = true">
            <bs [selectedCompany]="selectedCompany" *ngIf="CanBSLoad"></bs>
        </tab>
    </tabset>
</div>
