.square-switch input[type="checkbox"]:checked ~ label {
    background: initial;
    color: initial;
}

.square-switch img {
    top: -1px;
    position: relative;
}

.division {
    display: flex;
    align-items: center;
}

.division > div {
    display: inline-block;
    width: auto;
    padding: 0 7px;
}

.hr {
    border-bottom: 2px solid #ddd;
    margin: 3px 0;
}
