.square-switch input[type="checkbox"]:checked ~ label {
    background: initial;
    color: initial;
}
.square-switch img {
    top: -1px;
    position: relative;
    filter: var(--color-image-filter);
}
.division {
    display: flex;
    align-items: center;
}
.select-unit {
    min-width: 185px !important;
    border-radius: 5px;
}
.select-unit-x {
    min-width: 215px !important;
    border-radius: 5px;
}
.unit-add {
    position: absolute;
    right: -37px !important;
}
.equal-sign {
    font-size: 22px;
    color: var(--color-giddh-blue);
}
.custom-css {
    margin: auto;
}
.inventory-section,
.inventory-wrapper {
    float: left;
    width: 100%;
}
.division > div {
    display: inline-block;
    width: auto;
    padding: 0 7px;
}
.hr {
    border-bottom: 2px solid var(--color-iron);
    margin: 3px 0;
}
#close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-primary-right-side-popup-header-text);
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
    .basic {
        .action {
            .delete-btn {
                .fa-trash {
                    color: var(--color-septenary-button-text);
                }
                &:hover {
                    .fa-trash {
                        color: var(--color-secondary-button-text);
                    }
                }
            }
        }
    }
}
