.import-table-container {
    .import-table {
        width: 100%;
        /* UNUSED COMPONENT CLASS: import-table-btn - Auto-commented by script
.import-table-btn {
            color: var(--color-dark-gray);
            background-color: var(--color-transparent);
            box-shadow: none;
            border-radius: var(--mat-border-radius-4);
            i {
                font-size: 16px;
            }
        }
*/
        .mat-row {
            .mat-cell:first-child {
                color: var(--color-dark-gray) !important;
            }
        }
    }
    /* UNUSED COMPONENT CLASS: custom-datepicker-wrapper - Auto-commented by script
.custom-datepicker-wrapper {
        display: flex;
        text-align: center;
        justify-content: center;
    }
*/
    .clear-filter {
        color: var(--mat-primary-color);
        cursor: pointer;
    }
    /* UNUSED COMPONENT CLASS: btn-success - Auto-commented by script
.btn-success {
        background-color: var(--color-green);
        color: var(--color-white);
        &:hover {
            background-color: var(--color-green) !important;
        }
    }
*/
    .import-button-status {
        min-width: 160px;
        max-width: 160px;
        text-align: center;
    }
    .import-text {
        width: 160px;
        min-width: 160px;
    }
    /* UNUSED COMPONENT CLASS: btn-filter - Auto-commented by script
.btn-filter {
        background: var(--color-border-light);
        border: 1px solid var(--color-silver);
        font-size: var(--font-size-15);
        color: var(--mat-primary-color);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 10px;
    }
*/
}

@media screen and (max-width: 1280px) {
    .import-table-container {
        .table-content {
            /* UNUSED COMPONENT CLASS: mdc-data-table__cell - Auto-commented by script
.mdc-data-table__cell {
                padding: 0 8px 0 8px;
            }
*/
        }
    }
}