@use "../../../../assets/styles/abstracts/_mixins.scss" as *;
.import-table-container {
    .import-table {
        width: 100%;

        .mat-row {
            .mat-cell:first-child {
                color: var(--color-dark-gray) !important;
            }
        }
    }

    .clear-filter {
        color: var(--text-primary-color);
        cursor: pointer;
    }

    .import-button-status {
        min-width: 160px;
        max-width: 160px;
        text-align: center;
        
        @include media-breakpoint-down("large-desktop") {
            min-width: 100%;
        }
    }
    
    .import-text {
        width: 160px;
        min-width: 160px;
    }

}
