@import "../../../../assets/css/color.scss";

.btn-success:disabled {
    color: $white !important;
}
.mat-form-field {
    width: 80% !important;
    margin-top: 2px;
}
.p-0 {
    padding-left: 5px !important;
}
