.output-row > td {
    padding: 12px 10px 12px 0 !important;
}

.basic > tbody > tr > td {
    padding: 2px 10px 2px 0;
}

.table-label {
    border-color: var(--color-iron);
    td {
        padding-top: 12px !important;
        padding-bottom: 5px;
    }
}

.dropdown-menu {
    max-height: 168px;
    overflow: auto;
    width: 100%;
}
.sku-row {
    label {
        width: 100%;
    }
    position: relative;
    .label-input {
        background: none;
        border: none;
        max-width: 108px;
        border-bottom: 1px solid var(--color-iron);
    }
    .item-label {
        display: inline-block;
    }
    .item-label:first-child {
        max-width: 108px;
    }
    .item-label:last-child {
        text-align: right;
    }
    i {
        margin-left: 10px;
        padding-bottom: 3px;
        border-bottom: 1px solid var(--color-iron);
    }
    .new-custom-btn {
        font-size: var(--font-size-12);
        color: var(--color-blue);
        padding-top: 30px;
        cursor: pointer;
    }
    .text-danger {
        color: var(--color-danger);
    }
}

.opacity {
    opacity: 0.5;
}
.fsstock td {
    padding-right: 10px;
}
tr.fsstock td {
    padding-bottom: 15px;
}
.table-label strong {
    color: var(--color-nero);
    font-weight: normal !important;
    font-size: var(--font-size-14);
    font-family: var(--font-regular);
}
.input-label-stock {
    display: none;
}

#close {
    position: absolute;
    left: auto;
    right: 18px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-primary-right-side-popup-header-text);
    font-size: var(--font-size-17);
    top: 18px;
    margin-right: 0;
    border: 0;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}

.collapse-icons {
    font-size: var(--font-size-10);
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    padding: 2px;
    top: 0 !important;
}
.output-row sh-select,
.output-row .form-group input {
    min-width: 140px;
}
.section-head.bd-rb,
.output-row span {
    white-space: normal;
    word-break: break-word;
}
@media (max-width: 767px) {
    section.form-body table.no-hover td {
        width: 100%;
        display: block;
        margin-bottom: 0;
    }
    tr.no-hover.table-label {
        display: none;
    }
    .input-label-stock {
        display: block;
    }
}
::ng-deep {
    .ng-untouched {
        .pull-right {
            button {
                padding-right: 10px !important;
                min-width: auto !important;
            }
        }
    }
}
