.other-information {
    label {
        padding-bottom: 5px;
    }
}

@media (min-width: 1200px) and (max-width: 1302px) {
    .other-information {
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }
}

/*branch other tab design*/
.other-detail-section {
    color: var(--color-abbey);
    label {
        min-width: 200px;
    }
}
@media (max-width: 767px) {
    .other-setting-container {
        padding-top: 15px;
    }
    .other-information {
        margin-top: 15px;
    }
    .border-bottom {
        padding-top: 0;
    }
}
@media (max-width: 575px) {
    .other-detail-section {
        label {
            min-width: 100%;
        }
    }
}
