.btn-default {
    background: var(--color-white);
    border-color: var(--color-blue);
    color: var(--color-common-primary-blue-border);
}
.btn-default.active {
    background: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active.focus .btn-default:disabled,
.btn-default[disabled]:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active,
.btn-default:active:focus {
    background: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
}
