.btn-default {
    background: var(--white);
    border-color: var(--chetwode-blue);
    color: var(--midnight-express);
}
.btn-default.active {
    background: var(--chetwode-blue);
    color: var(--white);
    border-color: var(--chetwode-blue);
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active.focus .btn-default:disabled,
.btn-default[disabled]:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active,
.btn-default:active:focus {
    background: var(--chetwode-blue);
    color: var(--white);
    border-color: var(--chetwode-blue);
}
