@import "../../assets/css/color.scss";
.btn-default {
    background: #fff;
    border-color: $chetwode-blue;
    color: $midnight-express;
}
.btn-default.active {
    background: $chetwode-blue;
    color: #fff;
    border-color: $chetwode-blue;
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active.focus .btn-default:disabled,
.btn-default[disabled]:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active,
.btn-default:active:focus {
    background: $chetwode-blue;
    color: #fff;
    border-color: $chetwode-blue;
}
