<mat-form-field [appearance]="appearance" [floatLabel]="'auto'">
    <mat-label *ngIf="appearance === 'outline'">{{ placeholder }}</mat-label>
    <input
        matInput
        [matDatepicker]="picker"
        [placeholder]="placeholder"
        [value]="calendarDate"
        [min]="minDate"
        autocomplete="off"
        (focus)="emitDatepickerState(true); picker.open()"
        (click)="emitDatepickerState(true); picker.open()"
        (dateChange)="dateChange($event)"
        [class]="cssClass"
        [disabled]="disabled"
        [ngClass]="{ 'error-box': showError }"
    />
    <ng-container *ngIf="showToggleIcon">
        <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            (focusout)="!isDatepickerOpen ? focusOut.emit(true) : ''"
            (click)="emitDatepickerState(true); picker.open()"
        >
        </mat-datepicker-toggle>
    </ng-container>
    <mat-datepicker (closed)="isDatepickerOpen = false; emitDatepickerState(false)" #picker></mat-datepicker>
</mat-form-field>
