.mat-datepicker-toggle {
    visibility: hidden;
    color: var(--color-dark-gray) !important;
}
.toggle-Icon {
    &:hover {
        mat-datepicker-toggle {
            visibility: visible;
        }
    }
}
