<div class="container-fluid">
    <div class="create-branch-page mr-b15">
        <div class="create-branch-under mr-b15">
            <div class="row">
                <div class="col-lg-10 col-sm-10">
                    <div class="branch-under-company">
                        <p class="heading mr-t15 mr-b15">Create Branch under:</p>
                        <div class="branch-company-name">
                            <div class="label-wrapper mr-b15">
                                <label>Company:</label>
                                <span>{{companyDetails?.name}} ({{companyDetails?.businessType}})</span>
                            </div>
                            <div class="label-wrapper mr-b15">
                                <label>Country & Currency:</label>
                                <span><img
                                        src="https://cdn.jsdelivr.net/gh/hjnilsson/country-flags@master/svg/{{companyDetails?.country?.countryCode}}.svg">
                                    {{companyDetails?.country?.countryName}} - {{companyDetails?.country?.currencyCode}}
                                    {{companyDetails?.country?.currencyName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="branch-image">
                        <img class="branch-image m-15" src="{{ imgPath }}" alt="Branch image">
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="branchForm" novalidate (ngSubmit)="handleFormSubmit()">
            <div class="branch-form">
                <div class="branch-form-field">
                    <label>
                        Branch Name <span class="red-text">*</span>
                    </label>
                    <input maxlength="50" [class.error-box]="branchForm?.get('alias')?.touched && branchForm?.get('alias')?.invalid"
                        type="text" class="form-control" formControlName="alias" placeholder="Enter Name">
                    <span class="danger pl-1"
                        *ngIf="branchForm?.get('alias')?.touched && branchForm?.get('alias')?.errors?.maxlength">
                        Max. 50 characters allowed
                    </span>
                </div>
                <!-- This field is kept hidden, DO NOT REMOVE -->
                <div hidden class="branch-form-field">
                    <label>
                        Branch Name <span class="red-text">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                    <!-- <span class="ml-2">
                    <input type="checkbox" class="mr-4"> Is it a Sub-Branch ?
                </span> -->
                </div>
                <div class="branch-form-field">
                    <label>
                        Address/es
                    </label>
                    <div class="address-dropdown form-group mb-0">
                        <sales-sh-select [options]="addresses" formControlName="address" name="particulars"
                            [notFoundLink]="true" (clearSingleItem)="handleFinalSelection($event)"
                            [isFilterEnabled]="true" [multiple]="true" placeholder="Select Address/es"
                            class="linked-add create" (noResultsClicked)="handleShortcutPress()">
                            <ng-template #optionTemplate let-option="option">
                                <ng-container>
                                    <a (click)="selectAddress(option)"
                                        href="javascript:void(0)" class="list-item d-flex">
                                        <span><input type="checkbox"
                                                [checked]="branchForm?.get('address')?.value?.includes(option.value)"
                                                [value]="option.value"></span>&nbsp;
                                        <span class="entity-details">
                                            <div class="item giddh-limit single-line-clamp">{{ option.label || '-' }}</div>
                                            <div class="item-unique">
                                                <p *ngIf="option.taxType && option.taxNumber">{{ option.taxType }} :
                                                    {{ option.taxNumber }}</p>
                                            </div>
                                        </span>
                                        <span class="default-entity">
                                            <i (click)="setDefault(option, $event)" *ngIf="!option.isDefault"
                                                class="icon-no-selected mr-r05"></i>
                                            <i (click)="setDefault(option, $event)" *ngIf="option.isDefault"
                                                class="icon-favorite-selected mr-r05"></i>
                                        </span>
                                    </a>
                                </ng-container>
                            </ng-template>
                            <ng-template #notFoundLinkTemplate>
                                <a href="javascript:void(0)" [keyboardShortcut]="'alt+c'"
                                    (onShortcutPress)="handleShortcutPress()"
                                    class="list-item pd-l05 pd-r05 border-none d-flex justify-content-between w-100"
                                    [keyboardShortcut]="'alt+c'">
                                    <div class="item">+Add Address</div>
                                    <div class="item">Alt+C</div>
                                </a>
                            </ng-template>
                        </sales-sh-select>
                    </div>
                </div>
                <!-- static pincode start -->
                <div class="branch-form-field">
                    <label>
                        Pincode
                    </label>
                    <div class="from-group w-100">
                        <input type="text" class="form-control" value="000000" disabled>
                    </div>
                </div>
                <!-- static pincode end -->
                <!-- <div class="branch-form-field">
                    <label>
                        Parent <span class="red-text">*</span>
                    </label>
                    <sh-select [options]="selectParentBranch"></sh-select>
                </div> -->
                <!-- <div class="branch-form-field">
                    <label>
                        Select Warehouse
                    </label>
                    <sh-select [options]="selectWarehouse"></sh-select>
                </div>
                <div class="branch-form-field">
                    <label>
                        Time Zone
                    </label>
                    <input type="text" class="form-control" value="(GMT 5:30) India Standard Time (Asia/Calcutta)">
                </div> -->
                <!-- <div class="branch-form-field">
                    <label class="checkbox-label">
                        &nbsp;
                    </label>
                    <div class="justify-content-center">
                        <input type="checkbox" class="mr-4"><span> Does it has sub-location / Division ?</span>
                    </div>
                </div>
                <div class="branch-form-field">
                    <label>
                        Sub - Location
                    </label>
                    <div class="d-flex flex-column sub-location-input">
                        <div class="d-flex align-item-center flex-row mr-b15">
                            <input type="text" class="form-control" placeholder="Enter Name">
                            <i class="icon-trash"></i>
                        </div>
                        <div class="d-flex align-item-center flex-row mr-b15">
                            <input type="text" class="form-control" placeholder="Enter Name">
                            <i class="icon-plus"></i>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="footer-btn row">
                <div class="button-group">
                    <button type="reset" (click)="handleFormClear()" class="btn btn-primary mr-r15">Clear</button>
                    <button type="submit" [disabled]="branchForm?.invalid" class="btn btn-success">Create
                        Branch</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="aside-overlay" *ngIf="addressAsideMenuState === 'in'"></div>
<create-address [class]="addressAsideMenuState" [@slideInOut]="addressAsideMenuState" [keyboardShortcut]="'esc'"
    (onShortcutPress)="toggleAddressAsidePane()"
    [currentOrganizationUniqueName]="currentOrganizationUniqueName" [showLoader]="isAddressChangeInProgress"
    (saveAddress)="createNewAddress($event)" [addressConfiguration]="addressConfiguration"
    (closeAsideEvent)="toggleAddressAsidePane($event)" *ngIf="addressAsideMenuState === 'in'"></create-address>
