<ng-container
    appTranslate
    [file]="'settings/branch'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <hamburger-menu></hamburger-menu>
    <div class="container-fluid setting-data">
        <div class="create-branch-page mr-b15">
            <div class="create-branch-under mr-b15">
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <div class="branch-under-company">
                            <p class="heading mr-t15 mr-b15">{{ localeData?.create_branch_under }}:</p>
                            <div class="branch-company-name">
                                <div class="label-wrapper mr-b15">
                                    <label>{{ commonLocaleData?.app_company }}:</label>
                                    <span>{{ companyDetails?.name }} ({{ companyDetails?.businessType }})</span>
                                </div>
                                <div class="label-wrapper mr-b15">
                                    <label>{{ localeData?.country_currency }}:</label>
                                    <span
                                        ><img
                                            *ngIf="companyDetails?.country?.countryCode"
                                            src="https://cdn.jsdelivr.net/gh/hjnilsson/country-flags@master/svg/{{
                                                companyDetails?.country?.countryCode
                                            }}.svg"
                                        />
                                        {{ companyDetails?.country?.countryName }} -
                                        {{ companyDetails?.country?.currencyCode }}
                                        {{ companyDetails?.country?.currencyName }}</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <div class="branch-image">
                            <img class="branch-image m-15" src="{{ imgPath }}" [alt]="localeData?.branch_image" />
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="branchForm" novalidate (ngSubmit)="handleFormSubmit()">
                <div class="branch-form">
                    <div class="branch-form-field">
                        <div class="address-dropdown">
                            <input-field
                                [label]="commonLocaleData?.app_branch_name"
                                [maxlength]="50"
                                [class.error-box]="
                                    branchForm?.get('alias')?.touched && branchForm?.get('alias')?.invalid
                                "
                                [type]="'text'"
                                formControlName="alias"
                                [placeholder]="localeData?.enter_name"
                                [required]="true"
                            ></input-field>
                            <span
                                class="danger pl-1"
                                *ngIf="branchForm?.get('alias')?.touched && branchForm?.get('alias')?.errors?.maxlength"
                            >
                                {{ commonLocaleData?.app_max_50_characters_allowed_limit }}
                            </span>
                        </div>
                    </div>
                    <!-- This field is kept hidden, DO NOT REMOVE -->
                    <div hidden class="branch-form-field">
                        <div class="address-dropdown">
                            <input-field
                                [label]="commonLocaleData?.app_branch_name"
                                [type]="'text'"
                                formControlName="name"
                                [placeholder]="localeData?.enter_name"
                                [required]="true"
                            ></input-field>
                        </div>
                    </div>
                    <div class="branch-form-field">
                        <div class="address-dropdown form-group mb-0">
                            <mat-form-field appearance="outline" class="w-100" (click)="trigger.open()">
                                <mat-label>{{ localeData?.addresses }}</mat-label>
                                <mat-chip-grid #chipGrid  class="d-flex flex-wrap column-gap5 row-gap1">
                                    <ng-container *ngFor="let chipItem of branchForm?.get('address')?.value">
                                        <mat-chip-row (removed)="removeItem(chipItem)" role="option" >
                                            <span>{{ chipItem?.label }}</span>
                                            <span matChipRemove><i class="icon-cross"></i></span>
                                        </mat-chip-row>
                                    </ng-container>
                                    <input type="text" autocomplete="off" (focus)="trigger.open()" [formControl]="addressQuery" matInput name="particulars" [placeholder]="localeData?.select_addresses" [matChipInputFor]="chipGrid" >
                                </mat-chip-grid>
                                <mat-select-trigger>
                                </mat-select-trigger>
                                <mat-select formControlName="address" multiple #trigger>
                                    <div>
                                        <div class="bg-grey-on-hover">
                                            <a  href="javascript:;"
                                                [keyboardShortcut]="'alt+c'"
                                                (onShortcutPress)="handleShortcutPress()"
                                                (click)="handleShortcutPress(); trigger.close()"
                                                class="px-2 py-3 d-flex justify-content-between w-100"
                                                [keyboardShortcut]="'alt+c'"
                                            >
                                                <div class="item">{{ localeData?.add_address }}</div>
                                                <div class="item">{{ commonLocaleData?.app_alt_c }}</div>
                                            </a>
                                        </div>
                                    </div>
                                    <ng-container *ngFor="let option of addresses">
                                        <mat-option [value]="option">
                                            <div (click)="selectAddress(option)"  class="d-flex justify-content-between">
                                                <span>
                                                    <div>
                                                        {{ option.label || "-" }}
                                                    </div>
                                                    <div >
                                                        <p *ngIf="option.taxType && option.taxNumber">
                                                            {{ option.taxType }} : {{ option.taxNumber }}
                                                        </p>
                                                    </div>
                                                </span>
                                                <span class="default-entity">
                                                    <i
                                                        (click)="setDefault(option, $event)"
                                                        *ngIf="!option.isDefault"
                                                        class="icon-no-selected mr-r05"
                                                    ></i>
                                                    <i
                                                        (click)="setDefault(option, $event)"
                                                        *ngIf="option.isDefault"
                                                        class="icon-favorite-selected mr-r05"
                                                    ></i>
                                                </span>
                                            </div>
                                        </mat-option>
                                        <mat-option *ngIf="addresses?.length === 0">{{ commonLocaleData?.app_no_result_found }}</mat-option>
                                    </ng-container>
                                </mat-select>
                              </mat-form-field>
                        </div> 
                    </div>
                </div>
                <div class="pd-l15 pd-r15">
                    <div class="row">
                        <div class="button-group">
                            <button mat-stroked-button type="reset" (click)="handleFormClear()" class="btn custom-btn">
                                {{ commonLocaleData?.app_clear }}
                            </button>
                            <button
                                mat-stroked-button
                                color="primary"
                                type="submit"
                                [disabled]="branchForm?.invalid"
                            >
                                {{ localeData?.create_branch }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #asideAccountAsidePane>
        <ng-container
            appTranslate
            [file]="'settings/profile'"
            (localeData)="profileLocaleData = $event"
            [requireCommonData]="false"
        >
            <create-address
                [keyboardShortcut]="'esc'"
                (onShortcutPress)="closeAddressAsidePane()"
                [currentOrganizationUniqueName]="currentOrganizationUniqueName"
                [showLoader]="isAddressChangeInProgress"
                (saveAddress)="createNewAddress($event)"
                [addressConfiguration]="addressConfiguration"
                (closeAsideEvent)="closeAddressAsidePane($event)"
                [localeData]="profileLocaleData"
                [commonLocaleData]="commonLocaleData"
                [hideLinkEntity]="addresses?.length <= 0 && hideLinkEntity"
            ></create-address>
        </ng-container>
    </ng-template>
</ng-container>
