.audit-log-detail {
    border-top: 1px solid var(--color-iron);
    padding: 8px 0;
    .user-basic-detail {
        align-items: center;
        flex-wrap: wrap;
        div {
            align-items: center;
            justify-content: space-between;
            display: flex;
            margin-right: 15px;
        }
        p {
            padding-left: 5px;
        }
    }
    .address-row-wrapper {
        justify-content: space-between;
        .address-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            .single-address-row {
                margin-bottom: 5px;
                flex-wrap: wrap;
                flex-direction: row;
                display: flex;
                div {
                    display: flex;
                    flex-direction: row;
                    margin-right: 15px;
                }
                .address-field {
                    margin-left: 5px;
                }
            }
        }
        .angle-right-icon {
            padding: 2px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}
