<div id="exportModal">
    <div class="modal-header">
        <span aria-hidden="true" class="close" data-dismiss="modal" (click)="closeModal.emit()" aria-label="Close">×</span>
        <h3>Upload Bank Statement</h3>
    </div>
    <div class="modal-body mr-b4" id="export-body">
        <form name="addShareEmailForm" novalidate autocomplete="off">
            <div class="pd-b2 clearfix">
                <label class="w100">File:</label>
                <label class="radio-inline p-0">
                    <input type="file" name="File" [(ngModel)]="selectedFile" (change)="onFileChange($event.target.files)" required accept="application/pdf">
                </label>
            </div>
            <div class="pd-b2 clearfix">
                <label class="w100">Password:</label>
                <label class="radio-inline p-0">
                    <input type="password" name="Password" [(ngModel)]="postRequest.Password">
                </label>
            </div>
            <div class="modal-wrap">
                <button [disabled]="!postRequest.File" class="btn btn-success mr-t1" (click)="uploadBankStatement()">Upload</button>
            </div>
        </form>
    </div>
</div>