.file-upload-label {
    vertical-align: top;
}
.file-upload-field {
    white-space:normal;
    word-break: break-all;
}
.file-upload-label sup {
    font-size: 14px;
    color: #ff0000;
    top: 0px;
}
#uploadBankStatementModal label.radio-inline.p-0 {
    width: 287px;
}