<div class="relative" appTranslate [file]="'trial-profit-balance'" (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event">
    <hamburger-menu [pageHeading]="getPageHeading()"></hamburger-menu>
    <tabset class="setting-page tb-pl-bs-tabs" id="setting-tab" #staticTabsTBPL>
        <tab heading="{{localeData?.tabs?.trial_balance}}"
            (selectTab)="preventTabChangeWithRoute = false;tabChanged('trial-balance', 0); CanTBLoad = true;CanPLLoad = false;CanBSLoad = false;"
            [id]="(CanTBLoad) ? 'giddh-page-heading': ''">
            <div class="container-fluid pd-t15">
                <tb [isV2]="false" [selectedCompany]="selectedCompany" *ngIf="CanTBLoad"></tb>
            </div>
        </tab>
        <tab heading="{{localeData?.tabs?.profit_loss}}"
            (selectTab)="preventTabChangeWithRoute = false;tabChanged('profit-loss', 1); CanPLLoad = true;CanTBLoad = false;CanBSLoad = false;"
             [id]="(CanPLLoad) ? 'giddh-page-heading': ''">
            <div class="container-fluid pd-t15">
                <pl [selectedCompany]="selectedCompany" *ngIf="CanPLLoad"></pl>
            </div>
        </tab>
        <tab heading="{{localeData?.tabs?.balance_sheet}}"
            (selectTab)="preventTabChangeWithRoute = false;tabChanged('balance-sheet', 2); CanBSLoad = true;CanTBLoad = false;CanPLLoad = false;"
            [id]="(CanBSLoad) ? 'giddh-page-heading': ''">
            <div class="container-fluid pd-t15">
                <bs [selectedCompany]="selectedCompany" *ngIf="CanBSLoad"></bs>
            </div>
        </tab>

        <!--hide this tab for now-->
        <!--<tab *ngIf="CanNewTBLoadOnThisEnv || isWalkoverCompany" heading="Trial Balance New" (selectTab)="CanNewTBLoad = true; CanTBLoad = false">-->
        <!--<tb *ngIf="CanNewTBLoad" [isV2]="true" [selectedCompany]="selectedCompany"></tb>-->
        <!--</tab>-->

        <!-- <tab heading="Synram Design">
            <tb-synram></tb-synram>
        </tab> -->
    </tabset>
</div>
