/* ::ng-deep .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
} */

::ng-deep .dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #eceeef;
}

::ng-deep .dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 7px;
    clear: both;
    font-weight: normal;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    text-transform: capitalize;
}

::ng-deep .dropdown-item:focus,
.dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

::ng-deep .dropdown-item.active,
.dropdown-item:active {
    background: #f4f5f8;
}

::ng-deep .dropdown-item.disabled,
.dropdown-item:disabled {
    color: #636c72;
    cursor: not-allowed;
    background-color: transparent;
}

::ng-deep .dropdown-item.active,
.dropdown-item:active {
    background: #f4f5f8;
}

.hasError {
    border: 1px solid red;
}

#createCompForm p {
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
    margin-left: -28px;
    margin-right: -28px;
}

#createCompForm .text-danger {
    display: block;
    /* clear: both; */
    /* float: none; */
}

.giddh-logo-welcome img {
    max-width: 140px;
    margin: 50px auto;
    display: block;
}

.add-companyDetail p {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: 100%;
}

#shareModal .btn.btn-pink {
    width: 100%;
}
.add-companyDetail {
    background-color: #f7f8fa;
}
