@import "../../../../../assets/css/color.scss";

/* ::ng-deep .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: $night-rider;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
} */

::ng-deep .dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: $whisper-light;
}

::ng-deep .dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 7px;
    clear: both;
    font-weight: normal;
    color: $night-rider;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    text-transform: capitalize;
}

::ng-deep .dropdown-item:focus,
.dropdown-item:hover {
    color: $night-rider;
    text-decoration: none;
    background-color: $white-smoke;
}

::ng-deep .dropdown-item.active,
.dropdown-item:active {
    background: $solitude;
}

::ng-deep .dropdown-item.disabled,
.dropdown-item:disabled {
    color: $dark-gray;
    cursor: not-allowed;
    background-color: transparent;
}

::ng-deep .dropdown-item.active,
.dropdown-item:active {
    background: $solitude;
}

.has-error {
    border: 1px solid $red;
}

#createCompForm p {
    font-size: 14px;
    color: $silver;
    text-align: center;
    margin-left: -28px;
    margin-right: -28px;
}

#createCompForm .text-danger {
    display: block;
    /* clear: both; */
    /* float: none; */
}

.giddh-logo-welcome img {
    max-width: 140px;
    margin: 50px auto;
    display: block;
}

.add-company-detail p {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: 100%;
}

#share-modal .btn.btn-sky-blue {
    width: 100%;
}
.add-company-detail {
    background-color: $alice-blue-light;
}

.phone-code-caret {
    width: 85px;
    margin-right: 28px;
}
