@import "../../../../web-giddh/src/assets/css/color.scss";

.return-body .main-wrapper {
    background-color: #f5f5f5;
    padding: 0;
    border-right: 1px solid #eee;
}

.return-content {
    padding: 15px;
    background-color: #fff;
}

.btn-primary {
    border-color: #5b64c9 !important;
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover .btn-primary[disabled],
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.receipt-wrapper .doc-checkbox:checked,
.doc-actions {
    border-color: #5b64c9 !important;
    background: #5b64c9;
    color: #ffffff;
}

.btn,
.btn-sm,
.btn-xs {
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg.icon.icon-xxlg-md {
    height: 40px;
    width: 40px;
}

.return-content .return-top {
    display: inline-block;
    margin-left: 1%;
}

.text-middle {
    vertical-align: middle;
}

.return-content:not(:first-child) {
    margin: 22px 0;
}

.return-content .return-filed {
    background-color: #00b177;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #777;
}

.return-content .content-graph {
    padding: 35px 0;
}

svg.icon.gstr-icon {
    width: 42px;
    height: 42px;
}

.return-content .sales-colm {
    width: 32%;
    display: inline-block;
    vertical-align: text-top;
}

.font-xs {
    font-size: 12px;
}

.return-body b {
    font-weight: 600;
}

.return-content .line {
    margin: 5px 18px;
    border-bottom: 1px solid #ededed;
}

.return-content .line::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: #ededed;
    position: relative;
    top: 5px;
    right: 19px;
}

.return-content .count a {
    color: var(--dark-blue01);
}

.font-xxxlarge {
    font-size: 24px;
}

.bottom-action,
.tax-engine a,
.tax-engine a > .dropdown {
    cursor: pointer;
}

.return-content .line-gradient {
    border-image: linear-gradient(to right, #eee 0, #eee 30%, #fff 60%);
    border-image-slice: 1;
}

.return-content .purchase-colm {
    width: 24%;
    display: inline-block;
}

svg.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.text-overdue {
    color: $chetwode-blue;
}

svg.icon.icon-xxlg-md {
    height: 40px;
    width: 40px;
}

.content-disabled {
    opacity: 0.5;
    position: relative;
    cursor: not-allowed;
    pointer-events: none;
}

.return-content:last-child {
    margin-bottom: 0;
}

.btn-default {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.return-body .notification {
    padding-top: 25px;
    background: #fff;
}

.filing-demo-video {
    padding: 10px;
    display: block;
    border-radius: 2px;
    margin-bottom: 12px;
}

.filing-demo-video .video-thumbnail {
    display: inline-block;
}

.filing-demo-video .video-thumbnail > svg {
    width: 60px;
    height: 40px;
}

.filing-demo-video .video-desc {
    display: inline-block;
    padding-left: 10px;
}

.font-medium {
    font-size: 15px;
}

.label-default {
    background-color: #999;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

.filing-due-date {
    margin: 10px 0 25px;
}

.filing-due-date .return-details {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.filing-due-date .return-details > table {
    width: 100%;
    font-size: 13px;
}

.filing-due-date .return-details > table > tbody > tr > td:first-child {
    padding: 10px 15px;
    vertical-align: top;
}

.filing-due-date .return-details > table > tbody > tr > td:first-child:before {
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    background-color: #41aaff;
}

.filing-due-date .return-details > table > tbody > tr > td:last-child {
    padding: 10px 15px;
    text-align: right;
}

.filing-due-date {
    margin: 10px 0 25px;
}

.return-body .notification .notify-title {
    font-size: 13px;
    color: #999;
}

.return-body .notification .activity-graph {
    padding: 20px 0 25px;
}

.return-body .notification .activity-graph .notify {
    position: relative;
    padding-bottom: 30px;
}

.return-body .notification .activity-graph .notify:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    bottom: 5px;
    height: 75%;
    border-left: 1px solid #e4e4e4;
}

.return-body .notification .activity-graph .notify-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #2a85fb;
    display: inline-block;
    margin-right: 15px;
    margin-top: 4px;
}

.return-body .notification .activity-graph .notify-content {
    display: inline-block;
    width: 90%;
}

.return-body .notification .activity-graph h4 {
    line-height: 1.5;
    margin-bottom: 2px;
    margin-top: 10px;
}

.notify label.font-xs.text-muted strong {
    font-weight: 600;
    color: #777 !important;
}

.font-normal {
    font-size: 13px;
    color: #777;
}

.return-body .notification .faq-list {
    padding: 10px 0 10px 20px;
}

.return-body .notification .faq-list li {
    padding: 6px 10px;
    color: #428bca;
    font-size: 13px;
}

.return-body .notification .faq-list li a:hover {
    color: #005bd0;
}

#c-tab ::ng-deep .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 2px solid #ddd;
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom-color: #025cff;
}

.my-dropdown-menu {
    top: 8px;
}

.section-disabled {
    pointer-events: none;
    opacity: 0.6;
}

.daterangePicker {
    position: absolute;
    opacity: 0;
    right: -160px;
    top: 0;
    /* visibility: hidden; */
    pointer-events: none;
}

:host ::ng-deep .daterangepicker.opensright:after,
:host ::ng-deep .daterangepicker.opensright:before {
    content: none;
}

.rotate-90 {
    transform: rotate(-90deg);
}

:focus {
    outline: none !important;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: #e5e5e5;
}

.month-picker {
    position: absolute;
    top: 10px !important;
    left: 160px !important;
    li{
        a{
            background-color: transparent !important;
            border: none !important;
        }
    }
}

.icon-download {
    font-weight: 600;
}

.header-info .btn-group > .dropdown-menu {
    margin-top: 40px;
}

::ng-deep #monthPicker .btn-info > .text-success {
    color: #2680EB !important;
}
::ng-deep #monthPicker .btn-info:hover .text-success {
    color: #fff !important;
}
::ng-deep #monthPicker .btn-default > .text-success {
    color: #333;
}
::ng-deep #monthPicker .btn-default:hover > .text-success {
    color: #fff !important;
}
.parent {
    position: relative;
}

.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1000000;
    top: 0px;
    left: 0px;
}

.loader:before {
    display: block;
    position: absolute;
    z-index: 1000000;
    content: "";
    left: 0px;
    top: 0px;
    width: 200px;
    height: 4px;
    background-color: #5b64c9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {
        left: 0px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}
/*responsive*/
@media (max-width: 767px) {
  
    .return-content {
        background-color: #fff;
    }
    .filing-steps .font-large {
        font-size: 14px;
    }
    .return-content .content-graph {
        padding: 15px 0;
    }
}
@media(max-width:575px){
    .month-picker {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
    }
    .view-summary-btn {
        float: none !important;
        display: block;
        margin-top: 10px;
    }
}