.return-body .main-wrapper {
    background-color: var(--color-gst-primary-background-color);
    padding: 0;
    border-right: 1px solid transparent;
}

.return-content {
    padding: 15px;
    background-color: var(--color-white);
}

.btn-primary {
    border-color: var(--color-common-secondary-border) !important;
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover .btn-primary[disabled],
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.receipt-wrapper .doc-checkbox:checked,
.doc-actions {
    border-color: var(--color-blue) !important;
    background: var(--color-blue);
    color: var(--color-white);
}

.btn,
.btn-sm,
.btn-xs {
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg.icon.icon-xxlg-md {
    height: 40px;
    width: 40px;
}

.return-content {
    .return-top {
        display: inline-block;
        margin-left: 1%;
        .font-xlarge {
            margin: 3px auto;
        }
    }
}

.text-middle {
    vertical-align: middle;
}

.return-content:not(:first-child) {
    margin: 22px 0;
}

.return-content .return-filed {
    background-color: var(--color-gst-primary-return-content-return-filed);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: var(--color-abbey);
}

.return-content .content-graph {
    padding: 35px 0;
}

svg.icon.gstr-icon {
    width: 42px;
    height: 42px;
}

.return-content .sales-colm {
    width: 32%;
    display: inline-block;
    vertical-align: text-top;
}

.font-xs {
    font-size: var(--font-size-12);
}

.return-body b {
    font-weight: 500;
}

.return-content .line {
    margin: 5px 18px;
    border-bottom: 1px solid var(--color-common-secondary-border);
}

.return-content .line::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: var(--color-dark-fog);
    position: relative;
    top: 5px;
    right: 19px;
}

.return-content .count a {
    color: var(--dark-blue01);
}

.font-xxxlarge {
    font-size: var(--font-size-24);
}

.bottom-action,
.tax-engine a,
.tax-engine a > .dropdown {
    cursor: pointer;
}

.return-content .line-gradient {
    border-image: linear-gradient(to right, #eee 0, #eee 30%, #fff 60%);
    border-image-slice: 1;
}

.return-content .purchase-colm {
    width: 24%;
    display: inline-block;
}

svg.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.text-overdue {
    color: var(--color-blue);
    margin: 20px 0px 0px;
    i {
        padding: 0 4%;
    }
}
svg.icon.icon-xxlg-md {
    height: 40px;
    width: 40px;
}

.content-disabled {
    opacity: 0.5;
    position: relative;
    cursor: not-allowed;
    pointer-events: none;
}

.return-content:last-child {
    margin-bottom: 0;
}

.btn-default {
    color: var(--color-nero);
    background-color: var(--color-wild-sand);
    border-color: var(--color-iron);
}

.return-body .notification {
    padding-top: 25px;
    background: var(--color-white);
}

.filing-demo-video {
    padding: 10px;
    display: block;
    border-radius: 2px;
    margin-bottom: 12px;
}

.filing-demo-video .video-thumbnail {
    display: inline-block;
}

.filing-demo-video .video-thumbnail > svg {
    width: 60px;
    height: 40px;
}

.filing-demo-video .video-desc {
    display: inline-block;
    padding-left: 10px;
}

.font-medium {
    font-size: var(--font-size-16);
}

.label-default {
    background-color: var(--color-gray);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid var(--color-iron);
}

.return-body .notification .activity-graph {
    padding: 20px 0 25px;
}

.return-body .notification .activity-graph .notify {
    position: relative;
    padding-bottom: 30px;
}

.return-body .notification .activity-graph .notify:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    bottom: 5px;
    height: 75%;
    border-left: 1px solid var(--color-dark-fog);
}

.return-body .notification .activity-graph .notify-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-blue);
    display: inline-block;
    margin-right: 15px;
    margin-top: 4px;
}

.return-body .notification .activity-graph .notify-content {
    display: inline-block;
    width: 90%;
}

.return-body .notification .activity-graph h4 {
    line-height: 1.5;
    margin-bottom: 2px;
    margin-top: 10px;
}

.notify label.font-xs.text-muted strong {
    font-weight: 600;
    color: var(--color-abbey) !important;
}

#c-tab ::ng-deep .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: var(--color-abbey);
    cursor: default;
    background-color: var(--color-white);
    border: 2px solid var(--color-iron);
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom-color: var(--color-gst-primary-c-tab-nav-tabs-active-hover-focus-border-bottom);
}

.my-dropdown-menu {
    top: 8px;
}

.section-disabled {
    pointer-events: none;
    opacity: 0.6;
}

.daterangePicker {
    position: absolute;
    opacity: 0;
    right: -160px;
    top: 0;
    /* visibility: hidden; */
    pointer-events: none;
}

:host ::ng-deep .daterangepicker.opensright:after,
:host ::ng-deep .daterangepicker.opensright:before {
    content: none;
}

.rotate-90 {
    transform: rotate(-90deg);
}

:focus {
    outline: none !important;
}

.dropdown-menu > li > a:hover {
    color: var(--color-blue);
    background: var(--color-dark-fog);
}

.month-picker {
    position: absolute;
    top: 10px !important;
    left: 160px !important;
    z-index: 9 !important;
    li {
        a {
            background-color: transparent !important;
            border: none !important;
        }
    }
}

.icon-download {
    font-weight: 600;
}

.header-info .btn-group > .dropdown-menu {
    margin-top: 0;
    z-index: 989;
}
::ng-deep #monthPicker button.btn.btn-default.btn-info {
    background: var(--color-blue) !important;
    color: var(--color-white) !important;
    text-decoration: none;
    border-radius: 3px;
}

::ng-deep #monthPicker .btn-info > .text-success {
    color: var(--color-blue) !important;
}
::ng-deep #monthPicker .btn-default.btn-info > .text-success {
    color: inherit !important;
}
::ng-deep #monthPicker .btn-info:hover .text-success {
    color: var(--color-white) !important;
}
::ng-deep #monthPicker .btn-default > .text-success {
    color: inherit !important;
}
::ng-deep #monthPicker .btn-default:hover > .text-success {
    color: var(--color-white) !important;
}
.parent {
    position: relative;
}

.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1000000;
    top: 0px;
    left: 0px;
}

.loader:before {
    display: block;
    position: absolute;
    z-index: 1000000;
    content: "";
    left: 0px;
    top: 0px;
    width: 200px;
    height: 4px;
    background-color: var(--color-blue);
    animation: loading 2s linear infinite;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}
@keyframes loading {
    from {
        left: 0px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}
.header-info ul#dropdown-nested li label {
    padding-left: 0;
    padding-bottom: 10px;
    color: inherit;
}
/*responsive*/
@media screen and (max-width: 768px) {
    .month-picker {
        position: absolute;
        top: 100px !important;
        left: 0 !important;
        right: auto !important;
    }
}
@media (max-width: 767px) {
    .daterangePicker {
        right: 0;
    }
    .return-content {
        background-color: var(--color-white);
    }
    .filing-steps .font-large {
        font-size: var(--font-size-16);
    }
    .return-content .content-graph {
        padding: 15px 0;
    }
    .gstr-1-label,
    .gstr-2-label {
        display: flex !important;
        margin-left: 0 !important;
        img {
            margin-right: 10px;
        }
    }
}
.return-content .sales-colm {
    width: 100%;
}
@media (max-width: 575px) {
    .view-summary-btn {
        float: none !important;
        display: block;
        margin-top: 10px;
    }
    .list-inline.list-middle {
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 8px;
        }
    }
}
