@use "@angular/material" as mat;

/** Consolidated mixin to define all theme color variables */
@mixin define-theme-colors($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    // Complete Example Start
    // $theme-color-map: (
    //     'primary': ($primary, 'default'),
    //     'primary-contrast': ($primary, 'default-contrast'),
    //     'accent': ($accent, 'default'),
    //     'accent-contrast': ($accent, 'default-contrast'),
    //     'warn': ($warn, 'default'),
    //     'warn-contrast': ($warn, 'default-contrast'),

    //     // Foreground variants
    //     'foreground': ($foreground, 'text'),
    //     'secondary-text': ($foreground, 'secondary-text'),
    //     'disabled-text': ($foreground, 'disabled-text'),
    //     'hint-text': ($foreground, 'hint-text'),
    //     'icon': ($foreground, 'icon'),
    //     'divider': ($foreground, 'divider'),

    //     // Background variants
    //     'background': ($background, 'background'),
    //     'card': ($background, 'card'),
    //     'dialog': ($background, 'dialog'),
    //     'hover': ($background, 'hover'),
    //     'app-bar': ($background, 'app-bar'),
    //     'raised-button': ($background, 'raised-button'),
    //     'tooltip': ($background, 'tooltip')
    // );
    // Complete Example End

    // Theme color variables with contrast
    $theme-color-map: (
        "primary": (
            $primary,
            "default",
        ),
        "primary-contrast": (
            $primary,
            "default-contrast",
        ),
        "accent": (
            $accent,
            "default",
        ),
        "accent-contrast": (
            $accent,
            "default-contrast",
        ),
        "warn": (
            $warn,
            "default",
        ),
        "warn-contrast": (
            $warn,
            "default-contrast",
        ),
        "foreground": (
            $foreground,
            "text",
        ),
        "background": (
            $background,
            "background",
        ),
        "border": (
            $foreground,
            "divider",
        ),
    );

    @each $name, $palette-info in $theme-color-map {
        $palette: nth($palette-info, 1);
        $variant: nth($palette-info, 2);

        --theme-#{$name}-color: #{mat.get-color-from-palette($palette, $variant)};

        .theme-#{$name}-color {
            color: var(--theme-#{$name}-color) !important;
        }
        .theme-#{$name}-bg-color {
            background-color: var(--theme-#{$name}-color) !important;
        }
    }
}
