#invoice-setting {
    margin-top: 55px;
    .single-tab-block {
        box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
        margin: 0 15px;
        label {
            font-size: 14px;
            line-height: 34px;
            display: inline-block;
        }
        h4 {
            padding-bottom: 10px;
            margin-bottom: 15px;
            span {
                color: var(--color-gray) !important;
                font-size: 12px !important;
            }
        }

        .d-inline-flex {
            display: inline-flex;
        }

        .custom-estimation label {
            position: absolute;
            top: -24px;
            right: 15px;
            font-size: 12px;
            color: var(--color-abbey);
            text-align: left;
        }

        .initial-number {
            width: 70px;
            margin: 0 15px;
        }

        .r-0 {
            right: 0px;
        }
    }
    .input-group {
        width: 100%;
        .verified-icon {
            position: absolute;
            color: var(--color-secondary-success) !important;
            right: 10px;
            z-index: 2;
            top: 10px;
        }
        .unverified-icon {
            position: absolute;
            color: var(--color-danger) !important;
            right: 10px;
            z-index: 2;
            top: 10px;
        }
    }
    .default-expiry {
        input {
            width: 100px;
            display: inline-flex;
        }
        .expiry-days {
            display: flex;
            align-items: center;
        }
    }
    .show-on-mobile {
        display: none;
    }
    .bill-lock-date {
        width: 152px;
        position: relative;
        .icon-calender {
            position: absolute;
            right: 10px;
            top: 25%;
            color: var(--color-gray);
            font-size: 16px;
        }
    }
    .sms-textarea {
        margin-top: 0;
        margin-bottom: 20px !important;
        margin-left: 10px !important;
        width: 260px;
    }
}
.verified-text {
    color: var(--color-teal);
    padding: 6px 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.delete-verified-icon {
    padding: 6px 10px;
    border: 1px solid var(--color-primary-button-border);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    i.icon-trash {
        font-size: 18px;
    }
}
.verify-tick-icon {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray);
}
@media (max-width: 991px) {
    .custom-estimation {
        margin-top: 10px;
    }
    .sms-textarea {
        width: 100%;
    }
    #invoice-setting {
        .show-on-mobile {
            display: inline-block;
            float: left;
            width: 20px;
            top: 4px;
            + {
                label {
                    line-height: 26px;
                    margin-left: 36px;
                }
            }
        }
        .integrated-email {
            margin-left: 30px;
        }
        .single-tab-block .col-sm-3 {
            width: 100% !important;
        }
        .hide-on-mobile {
            display: none;
        }
        .bill-lock-date {
            width: 180px !important;
            position: relative;
        }
        .btn-wrapper {
            padding: 0 15px;
        }
    }

    .sales-order-tab {
        .custom-purchase-order-input-fields {
            margin-top: 8px;
        }
    }
}
@media screen and (max-width: 767px) {
    #invoice-setting {
        margin-top: 15px;
        .btn-wrapper {
            margin-top: 15px;
        }
    }
}
