@import "../../../assets/css/color.scss";
#invoice-setting {
    .single-tab-block {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin: 0 15px;
        label {
            font-size: 14px;
            line-height: 34px;
            display: inline-block;
        }
        h4 {
            padding-bottom: 10px;
            margin-bottom: 15px;
            span {
                color: $nobel !important;
                font-size: 12px !important;
            }
        }
    }
    .input-group {
        width: 100%;
        .verified-icon {
            position: absolute;
            color: green !important;
            right: 10px;
            z-index: 2;
            top: 10px;
        }
    }
    .defaultExpiry {
        input {
            width: 100px;
            display: inline-flex;
        }
        .expiry-days {
            display: flex;
            align-items: center;
        }
    }
    .show-on-mobile {
        display: none;
    }
    .bill-lock-date {
        width: 152px;
        position: relative;
        .icon-calender {
            position: absolute;
            right: 10px;
            top: 25%;
            color: $nobel;
            font-size: 16px;
        }
    }
}
@media (max-width: 768px) {
    #invoice-setting {
        .show-on-mobile {
            display: inline-block;
            float: left;
            width: 20px;
            top: 4px;
            + {
                label {
                    line-height: 26px;
                }
            }
        }
        .integrated-email {
            margin-left: 30px;
        }
        .single-tab-block .col-sm-3 {
            width: 100% !important;
        }
        .hide-on-mobile {
            display: none;
        }
        .bill-lock-date {
            width: 180px !important;
            position: relative;
        }
        .btn-wrapper {
            padding: 0 15px;
        }
    }
}
