@font-face {
  font-family: 'ledgerfont';
  src: url('../../fonts/ledgerfont/ledgerfont.eot?61305536');
  src: url('../../fonts/ledgerfont/ledgerfont.eot?61305536#iefix') format('embedded-opentype'),
       url('../../fonts/ledgerfont/ledgerfont.woff2?61305536') format('woff2'),
       url('../../fonts/ledgerfont/ledgerfont.woff?61305536') format('woff'),
       url('../../fonts/ledgerfont/ledgerfont.ttf?61305536') format('truetype'),
       url('../../fonts/ledgerfont/ledgerfont.svg?61305536#ledgerfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ledgerfont';
    src: url('../font/ledgerfont.svg?61305536#ledgerfont') format('svg');
  }
}
*/
 
 [class^="icon-ledger-"]:before, [class*="icon-ledger-"]:before {
  font-family: "ledgerfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  speak: none !important;
 
  display: inline-block !important;
  text-decoration: inherit !important;
  width: 1em !important;
  margin-right: .2em !important;
  text-align: center !important;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal !important;
  text-transform: none !important;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
   font-size: 69% !important;
   font-variant: normal !important;
   text-transform: none !important;
   line-height: 0.5em !important;
   margin-left: .2em !important;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ledger-path:before { content: '\e800'; } /* '' */
.icon-ledger-union-5:before { content: '\e801'; } /* '' */
