@import "../../../../assets/css/color.scss";
.about-group{
    .group-detail{
        .group-thumbnail{
            width: 60px;
            height: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .group-name{
            h4{
                font-family: 'opensans-semibold';
                font-size: 16px;
            }
        }
    }
    .more-add-button {
        .btn-download{
            border: 1px solid $gainsboro;
            color: $gray;
            background-color: $white;
            width: 36px;
        }
    }
}
.select-product-type{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gainsboro;
    margin-bottom: 15px;
    font-size: 14px;
    padding-bottom: 5px;
    img{
        width: 86px;
    }

}
.custom-tabs::ng-deep .nav-tabs{
    position: static !important;
    padding-left: 15px !important;
    margin-left: -12px;
    margin-bottom: 15px;
    width: 101%;
}
.combo-table{
    max-width: 1000px;
    width: 100%;
}
.combo-table tr, .combo-table th, .combo-table td, .combo-table tbody {
    border: 1px solid $gainsboro;
    border-collapse: collapse;
    min-width: 160px;
}
.combo-table th{
    border-bottom: 1px solid $gainsboro;
}
.combo-table th:first-child , .combo-table td:first-child{
    min-width: auto !important;
}
.create-group-footer{
    background-color: $whisper-color;
    height: 60px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .footer-wrapper{
        padding: 15px;
    }
}
.right-side-content{
    table{
        .image-thumbnail{
            width: 40px;
            height: 40px;
            display: inline-flex;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.checkbox-custom-label, .radio-custom-label{
    display: inline-block !important;
}
@media(max-width:767px){
    .right-img-div{
        display: none;
    }
    .more-add-button{
        margin-top: 8px;
    }
    .select-product-type{
        padding-bottom: 10px;
    }
    .custom-tabs::ng-deep .nav-tabs{
        padding-left: 0 !important;
        margin-left: 0;
        margin-top:5px;
    }
    ul#more-inventory-dropdown{
        right: 0 !important;
        left: auto !important;
    }
}
