@import "../../../assets/css/color.scss";

.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: $white;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    min-width: max-content;
    margin-top: 1px;
}

.item {
    cursor: pointer;
    white-space: inherit;
    display: table;
    width: 100%;
    word-break: break-word;
    height: auto !important;
}
.item.selected {
    color: $chetwode-blue !important;
    background: $lavender !important;
}

.item.hilighted  {
    color: $chetwode-blue !important;
    background: $lavender !important;
}
.item.hilighted a  {
    color: $chetwode-blue !important;
}

.item > a {
    padding: 3px 10px;
}

.no-result-link > a {
    color: #10aae0 !important;
}

#noresult:hover {
    background: transparent;
}

.no-result-link {
    top: 0;
    z-index: 99;
    background: $white;
    width: calc(100% - 15px);
}
.no-result-link {
    width: 100%;
}
.no-result-link a.btn-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
