:host {
    display: block;
    position: relative;
}
.header:hover {
    cursor: text;
}

.header.inline {
    background-color: transparent;
    width: max-content;
    border: none;
}

.header.open {
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    line-height: auto;
}

.header:focus {
    outline: 0;
}

div {
    display: block;
}

input[type="text"] {
    outline: none;
    width: 100%;
    border-radius: 5px !important;
}

[hidden] {
    display: none;
}

i.close.icon.clear::after {
    content: "✕";
    padding-right: 8px;
    font-weight: 800;
    color: var(--color-abbey);
}

i.close.icon.clear:hover::after {
    color: var(--color-danger);
}

.clear {
    position: absolute;
    right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    top: 15px;
    cursor: pointer;
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 100%;
    opacity: 0.5;
    color: var(--color-nero);
    transform: translateY(-50%);
}

.sh-select-disabled {
    background-color: var(--color-dark-fog);
    color: var(--color-primary-sh-select-disabled);
    cursor: not-allowed;
    border-radius: 5px;
}

.chip {
    display: inline-block;
    padding: 0 7px;
    height: 30px;
    font-size: var(--font-size-14);
    line-height: 30px;
    border-radius: 4px;
    background-color: var(--color-chips-primary-background);
    margin: 8px 0 5px 8px;
}

.chip-close-btn {
    padding-left: 10px;
    font-weight: 500;
    float: right;
    font-size: var(--font-size-20);
    cursor: pointer;
    opacity: 0.6;
}

.chip-close-btn:hover {
    font-weight: 700;
    opacity: 0.5;
    color: var(--color-nero);
}

.sh-select-disabled .selected-val,
.sh-select-disabled .form-control {
    background: var(--color-dark-fog) !important;
    pointer-events: none;
    cursor: not-allowed;
}

.selected-val {
    padding-right: 5px !important;
    background: var(--color-white) !important;
    border: 1px solid var(--color-secondary-input-bar-border) !important;
}

.header.open > input[type="text"] {
    border-color: var(--color-secondary-input-bar-border);
}

.header .bdr > input[type="text"] {
    border: 0;
}
.header .bdr > input[type="text"]::-webkit-input-placeholder {
    color: var(--color-gray) !important;
}
.header .bdr > input[type="text"]::-moz-placeholder {
    color: var(--color-gray) !important;
}
.header .bdr > input[type="text"]:-ms-input-placeholder {
    color: var(--color-gray) !important;
}
.header .bdr > input[type="text"]:-moz-placeholder {
    color: var(--color-gray) !important;
}

.toggle {
    position: absolute;
    right: 0;
    border: 1px solid var(--color-iron);
    height: 100%;
    width: 28px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background: var(--color-wild-sand);
    color: var(--color-abbey);
    font-size: var(--font-size-16);
}

button.form-control:focus {
    border-color: var(--color-iron) !important;
}

.form-control::placeholder {
    color: var(--color-common-primary-input-placeholder);
}

.label-btn {
    border: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: var(--font-size-20);
    color: var(--color-nero);
}

.toggle:hover {
    background: var(--color-dark-fog);
}

.label-toggle {
    border: 0 !important;
    background: transparent !important;
    border-radius: 0;
}

.bottom-border-only {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid var(--color-secondary-input-bar-border) !important;
}
.advance-search .header {
    position: relative;
}
