.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 102;
    box-shadow: 0 6px 12px var(--color-primary-common-box-shadow);
    border: 1px solid var(--color-common-secondary-border);
    border-radius: 4px;
    min-width: max-content;
    margin-top: 1px;
}

.item {
    cursor: pointer;
    white-space: inherit;
    display: table;
    width: 100%;
    word-break: break-word;
    height: auto !important;
    &:hover {
        background: var(--color-dark-fog);
    }
}
.item.selected {
    color: var(--color-blue) !important;
    background: var(--color-dark-fog) !important;
}

.item.hilighted {
    color: var(--color-blue) !important;
    background: var(--color-dark-fog) !important;
}
.item.hilighted a {
    color: var(--color-blue) !important;
}

.item > a {
    padding: 5px 10px;
}

.no-result-link > a {
    color: var(--color-blue) !important;
}

#noresult:hover {
    background: transparent;
}

.no-result-link {
    top: 0;
    z-index: 99;
    background: var(--color-white);
    width: calc(100% - 15px);
}
.no-result-link {
    width: 100%;
}
.no-result-link a.btn-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
@media (max-width: 767px) {
    .menu {
        z-index: 100;
    }
}
