.whiteBg {
    background-color: #fff;
}

// .form-group input, .form-group select, .form-group textarea{
//   max-width: 140px;
// }
// .form-group.size_240 input, .form-group.size_240 select, .form-group.size_240 textarea{
//   max-width: 240px;
//   width: 240px;
// }
// .form-group.size_360 input, .form-group.size_360 select, .form-group.size_360 textarea{
//   max-width: 360px;
// }
.flex-row {
    display: flex;
    .flex-row-child {
        align-self: center;
    }
}

#actionPane {
    width: 100%;
    height: 80px;
    padding: 20px 0;
    background-color: "$very-light-gray";
}

// styles
.form-inline {
    .form-group {
        margin-right: 0;
        vertical-align: top;
    }
}

.form-group {
    .form-control {
        height: 42px;
        border-radius: 3px;
    }
    input,
    select,
    textarea {
        width: 190px;
    }
    textarea.form-control {
        height: 140px;
        resize: none;
        overflow-y: auto;
    }
    label {
        display: block;
        font-weight: 400;
        margin-bottom: 5px;
    }
    &.size_175 {
        input,
        select,
        textarea {
            width: 175px;
        }
    }
    &.size_240 {
        input,
        select,
        textarea {
            width: 240px;
        }
    }
    &.size_340 {
        input,
        select,
        textarea {
            width: 340px;
        }
    }
    &.size_380 {
        input,
        select,
        textarea {
            width: 380px;
        }
    }
    &.noMarg {
        margin: 0;
    }
}

:host ::ng-deep sh-select input[type="text"] {
    width: 100%;
    height: 42px;
}
.staticInvoiceTable table {
    max-width: 1280px;
    width: 100%;
}
.wrap-billing-address {
    padding-top: 0;
}
input.shipping-checkbox {
    width: auto !important;
    margin-right: 20px;
    top: 0 !important;
}
