.other-tax{
    width: 760px;
    height: 100vh;

    .other-tax-header{
        background-color: var(--color-primary-header-background);
        color: var(--color-popup-list-head-text);
        height: 60px;
    }
}