<section class="pd2" *ngIf="!vm.stockId" >
  <p>Select a Stock to Load Report </p>
  <a href (click)="getStockReport()">Refresh</a>
</section>

<section class="pd2 h100" *ngIf="vm.stockId">

  <div class="clearfix mrB2">
    <button (click)="goToManageStock()" class="btn btn-primary btn-md gico-wrap">
      <i class="icon-edit" aria-hidden="true"></i> Manage {{vm.selectedStock.name}} Stock</button>
  </div>

  <div class="filterForm clearfix pr">
    <div class="form-group mrB pull-left">
      <label>From Date</label>
      <p class="input-group">
        <input type="text" class="form-control"
                required
               datepicker-options="vm.dateOptions"
               is-open="vm.fromDatePickerIsOpen"
               ng-click="vm.fromDatePickerOpen($event)"
               ng-model="vm.fromDate.date"
               max-date="vm.today"
               placeholder="from date"
        />
      </p>
    </div>
    <div class="form-group mrB pull-left">
      <label>To Date</label>
      <p class="input-group">
        <input type="text"
               class="form-control"
               required
               datepicker-options="vm.dateOptions"
               is-open="vm.toDatePickerIsOpen"
               ng-click="vm.toDatePickerOpen($event)"
               ng-model="vm.toDate.date"
               min-date="vm.fromDate.date"
               max-date="vm.today"
               placeholder="to date"
        />
      </p>
    </div>
    <div class="form-group">
      <label>&nbsp;</label>
      <button class="btn btn-primary" (click)="getStockReport()">Go</button>
    </div>
  </div>

  <p class="mrT1" *ngIf="vm.report.transactions.length === 0">No Transactions for this Stock</p>

  <section style="margin-bottom: 40px">

    <div class="row fs13"  *ngIf="vm.report.openingBalance">
      <div class="col-xs-12 text-right">

				<span class="mrR2">
					<label>O/B Qty:
						{{vm.report.openingBalance.quantity}}
						{{vm.report.openingBalance.stockUnit}} &amp;
					</label>
					<label  placement="top"
                 tooltip="Rate {{vm.report.openingBalance.amount/vm.report.openingBalance.quantity | number:4}}">&#8377;&nbsp;{{vm.report.openingBalance.amount}}</label>
				</span>

        <span>
					<label>C/B Qty:
						{{vm.report.closingBalance.quantity}}
						{{vm.report.closingBalance.stockUnit}} &amp;
					</label>
					<label tooltip-placement="top"
                 tooltip="Rate {{vm.report.closingBalance.amount/vm.report.closingBalance.quantity | number:4}}">&#8377;&nbsp;{{vm.report.closingBalance.amount}}</label>
				</span>

      </div>
    </div>

    <table class="mrT1 stkRprtTbl table_theme width100" *ngIf="vm.report.transactions.length > 0">
      <thead>
      <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Voucher Type</th>
        <th rowspan="2" class="bdrR">Account name</th>
        <th colspan="4" class="alC">Transactions</th>
        <th class="bdrL" class="alC">Closing Stock</th>
      </tr>
      <tr>
        <th>Inwards</th>
        <th>Outwards</th>
        <th>Rate</th>
        <th>Value</th>
        <th class="bdrL">Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="txn in vm.report.transactions">
        <td ng-bind="txn.entryDate"></td>
        <td ng-bind="txn.voucherType"></td>
        <td ng-bind="txn.account.name"></td>
        <td>
						<span *ngIf="txn.type == 'dr'">
							{{txn.quantity}}&nbsp;{{txn.stockUnit}}
						</span>
          <span *ngIf="txn.type == 'cr'">-</span>
        </td>
        <td>
						<span *ngIf="txn.type == 'cr'">
							{{txn.quantity}}&nbsp;{{txn.stockUnit}}
						</span>
          <span *ngIf="txn.type == 'dr'">-</span>
        </td>
        <td ng-bind="txn.rate" ng-class="txn.type === 'cr'? 'cr' : 'dr' "></td>
        <td ng-class="txn.type === 'cr'? 'cr' : 'dr' ">
          {{txn.amount}}
        </td>
        <td>
          {{txn.closingQuantity}}&nbsp;{{vm.report.stockUnit}}
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="14">
          <div class="pagination pull-right">
            <ul class="list-inline">
              <li>
                <button class="btn btn-default" ng-click="vm.report.page = vm.report.page-1; vm.getStockReport()" ng-disabled="vm.report.page == 1">Prev</button>
              </li>
              <li>{{vm.report.page}}/{{vm.report.totalPages}}</li>
              <li>
                <button class="btn btn-default" ng-click="vm.report.page = vm.report.page+1; vm.getStockReport()" ng-disabled="vm.report.page == vm.report.totalPages">Next</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </section>
</section>
