* {
    border: 0;
    box-sizing: content-box;
    color: #262626;
    font-family: inherit;
    /*font-size: 10px;*/
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

.max-width-180 {
    /* max-width: 180px; */
}
.font-11 {
    /*font-size: 11px !important;*/
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}

/* heading */

#default header h1 {
    /* color: #df4927; */
    font-size: 16px;
}

#default header h2 {
    /* color: #df4927; */
    font-size: 18px;
    font-weight: bold;
}

/* table */

#default table {
    /* font-size: 93%; */
    table-layout: fixed;
    width: 100%;
    border-collapse: inherit;
}

#default table {
}

#default .item th,
#default tfoot tr th {
    /* background: #f2f2f2; */
    /*border: 0;*/
}

/* page */

#default {
    overflow: auto;
    /* font-size: 93%; */
    background: #fff;
    border: 1px solid #bfbfbf;
    padding: 0;
}

#default body {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.1in;
    letter-spacing: 0;
    width: 100%;
    background: #fff;
    border-radius: 1px;
}

/* header */

#default header {
    margin: 0;
    background: #fff;
    /* padding: 0.23in 0.23in 0.03in; */
}

#default header:after {
    clear: both;
    content: "";
    display: table;
}

.pull-right tr td {
    text-align: right !important;
}

#default header .number-detail-series strong {
    width: 50px;
    float: left;
}

#default .meta {
    /*padding: 0 0.23in 0.03in;
   margin-bottom: 10px; */
}

#default .meta tbody tr td,
#default .meta tbody tr th {
    border: 0;
    padding: 5px 0;
}

#default .meta tbody tr th {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    color: #262626;
}

.hidden-label {
    opacity: 0;
}

#default .meta tbody tr td {
    padding: 7px 0;
}

/*#default .meta tbody tr td:nth-child(2)>table tbody tr td{background: #f2f2f2;padding: 0 10px;line-height: 2rem;margin: 4px 0; display: -webkit-box;}*/

#default header figure {
    float: left;
    font-style: normal;
    margin: 0 0 0.3em 0;
    width: 100%;
}

#default header figure p {
    margin: 0 0 0.25em;
}

#default header span,
header img {
    display: block;
    float: right;
}

#default header span {
    margin: 0 0 1em 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

#default header img {
    max-height: 100%;
    max-width: 180px;
    float: left;
    margin-bottom: 2px;
}

#default header table tr td {
    border: 0;
    /* padding: 4px 0; */
}

/* article */

#default article {
    margin-bottom: 10px;
}

#default article:after {
    clear: both;
    content: "";
    display: table;
}

#default article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

#default article address {
    float: left;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* table items */

#default table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#default table.item th,
#default table.item tfoot tr th {
    position: relative;
    padding: 14px 7px;
}

#default table.item tfoot tr th {
    padding-right: 7px;
}

/* #default table.item tr th,
#default table.item tfoot tr th {
  font-weight: bold;
} */
/*
#default table.item tfoot tr th {
  border-top: 1px solid rgba(89, 89, 89, 0.6);
} */

#default table.item td {
    border-radius: 0;
    padding: 7px;
    /* border-top: 1px solid rgba(89, 89, 89, 0.6); */
}

#default table.item td p {
    color: #595959;
}

#default table.balance {
    width: 85%;
    float: right;
    margin: 0px 7px 40px;
}

#default table.balance th,
#default table.balance td {
    width: 50%;
    text-align: right;
    padding: 0 2px;
}

/* aside */

#default aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#default aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

/*footer*/

/* #default footer {
  border-top: 2px solid;
  padding: 10px;
  margin: 8px 0 0;
  background: #fff;
} */

/* #default .subfooter {
  padding: 0 20px;
} */

#default .subfooter hr {
    width: 100%;
    border-bottom: 1px solid #595959;
    margin: 3px 0;
}

#default .subfooter h4 {
    font-size: 17px;
    /* color: #df4927; */
    margin: 10px 0 0;
}

#default .docTitle {
    width: 100%;
    text-align: center;
    height: 26px;
    position: relative;
}

#default .docTitle h2 {
    text-align: center;
    position: absolute;
    right: 0;
    left: -21px;
    width: 105.5%;
}

#default .docTitle h2:after {
    content: attr(title);
    width: auto;
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 6px 16px;
    right: 0;
    vertical-align: middle;
    z-index: 0;
    left: 0;
}

#default .docTitle h2.no-content:after {
    content: "";
    background: transparent;
}

#default p {
    margin: 0;
}

#default h2 {
    margin: 0;
    font-size: inherit;
}

#default table.item th .bgClr {
    position: absolute;
    top: 0;
    bottom: 0;
    background: aqua;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.05;
    z-index: 0;
}

.docTitle hr {
    position: absolute;
    height: 2px;
    top: 50%;
    width: 100%;
}

strong {
    font-weight: bold;
}

/* common template css  */

.disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

.edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

.edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

footer p {
    font-size: 14px;
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
