.setting-container {
    padding:15px 15px;
}
.ml-215{
    margin-left: 215px;
}
@media(max-width:767px){
    .setting-sidebar-wrapper{
        z-index: 9999;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,0.1);
        position: absolute;
        top: 0; 
    }
    .ml-215{
        margin-left: 0;
    }
}
