#setting-tab {
    .setting-container {
        padding: 0 15px 15px !important;
        min-height: calc(100vh - 84px);
    }

    .video-link {
        right: 0;
        top: 15px;
        z-index: 2;
    }

    .auto-save {
        top: 22px !important;
    }
}
