.setting-container {
    padding: 0 15px 15px !important;
    min-height: calc(100vh - 84px);
    .mat-tab-body-wrapper {
        overflow: auto !important;
    }
}
.video-link {
    right: 0;
    top: 15px;
    z-index: 2;
}
