<!-- loader -->


<!-- no data start -->
<div class="no-data" *ngIf="noData">
  <h1>Sorry, No Data Found!</h1>
  <img src="/assets/images/no-data.png" alt="">
</div>
<!-- nodata end -->
<div *ngIf="!noData">
  <div class="mrT2 clearfix">
    <!-- start main content -->
    <div class="table-container clearfix trial-balance">
      <!--<table class="tb-head table basic">-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th-->
      <!--style="width: 33.70%; border-left: unset !important; border-right: 1px solid #ABABAB;padding: 1px 0px !important;">-->
      <!--<div>-->
      <!--<div *ngIf="!showClearSearch" style="display:flex">-->
      <!--<span style="margin-left: 15px; flex: 1;">Particular</span>-->
      <!--<i class="glyphicon glyphicon-search"-->
      <!--style="position: relative;top:3px;left:-3%;z-index: 1; font-size: 13px;color: #A6A6A6;cursor: pointer;"-->
      <!--(click)="showClearSearch = true;"></i>-->
      <!--</div>-->
      <!--<div *ngIf="showClearSearch">-->
      <!--<input style="margin-bottom: -19px;" type="search" #searchInput class="form-control"-->
      <!--placeholder="Search"-->
      <!--aria-describedby="sizing-addon3"-->
      <!--id="w-398px" [formControl]="accountSearchControl">-->
      <!--<i class="glyphicon glyphicon-search" (click)="showClearSearch = false;"-->
      <!--style="position: relative;top:-4px;left:94%;z-index: 1; font-size: 13px;color: #A6A6A6;cursor: pointer;"></i>-->
      <!--</div>-->
      <!--</div>-->
      <!--</th>-->
      <!--<th style="width: 16.7%;border-right: 1px solid #ABABAB;" class="text-right">Opening Bal</th>-->
      <!--<th style="width: 33.2%;border-right: 1px solid #ABABAB;" class="text-center">-->
      <!--Transactions-->
      <!--<table class="width100">-->
      <!--<thead>-->
      <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<th style="width: 49.8%;" class="text-right">Debit (Dr.)</th>&ndash;&gt;-->
      <!--&lt;!&ndash;<th style="width: 49.8%;" class="text-right">Credit (Cr.)</th>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->
      <!--</thead>-->
      <!--</table>-->
      <!--</th>-->
      <!--<th class="text-right">Closing Bal</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--</table>-->
      <section class="row" style="padding-left: 7px;background-color: #e5e5e5;">
        <div class="row" style="display: flex;">


          <div class="col-xs-4"
               style="border-left: unset !important; border-right: 1px solid #ABABAB;padding: 0;display: flex;align-items: center"
               #searchContainer (clickOutside)="clickedOutside($event, searchContainer)">

            <span [ngStyle]="{'display': showClearSearch ? 'none' : 'flex'}" style="display:flex;width: 100%">
              <span style="flex: 1;"><strong>Particular</strong></span>
              <i class="glyphicon glyphicon-search" id="showSearch"
                 style="position: relative;top:3px;left:-3%;z-index: 1; font-size: 13px;color: #A6A6A6;cursor: pointer;"
                 (click)="toggleSearch()"></i>
            </span>

            <span [hidden]="!showClearSearch" style="width: 103%;margin-left: -7px;display: flex">
              <input style="height: 45px;" type="search" #searchInputEl class="form-control"
                     placeholder="Search"
                     aria-describedby="sizing-addon3"
                     [formControl]="accountSearchControl">
              <!--<i class="glyphicon glyphicon-search" (click)="showClearSearch = false;$event.stopPropagation();"-->
              <!--id="hideSearch"-->
              <!--style="position: relative;top: -11px;left:94%;z-index: 1; font-size: 13px;color: #A6A6A6;cursor: pointer;"></i>-->
            </span>

          </div>

          <div style="border-right: 1px solid #ABABAB;padding: 14px 20px 14px 0;" class="col-xs-2 text-right"><strong>Opening
            Bal</strong></div>
          <div style="border-right: 1px solid #ABABAB;padding: 14px 20px 14px 0;" class="col-xs-4 text-center">
            <strong> Transactions</strong>
            <table class="width100">
              <thead>
              <!--<tr>-->
              <!--<th style="width: 49.8%;" class="text-right">Debit (Dr.)</th>-->
              <!--<th style="width: 49.8%;" class="text-right">Credit (Cr.)</th>-->
              <!--</tr>-->
              </thead>
            </table>
          </div>
          <div class="col-xs-2 text-right" style="padding: 14px 20px 14px 0;"><strong>Closing Bal</strong></div>


        </div>
      </section>
      <!--Start Grid-->
      <div *ngIf="data$.groupDetails">

        <ng-template #groupDetails let-list let-padding="padding">
          <ng-container *ngFor="let grp of list">
            <section class="row row-1" *ngIf="grp.isVisible || grp.isCreated" [hidden]="!grp.isVisible"
                     [ngClass]="grp.category" tb-pl-bs-grid-row [groupDetail]="grp"
                     [padding]="padding" [search]="search" [from]="from" [to]="to">
              <ng-container
                *ngTemplateOutlet="groupDetails; context:{ $implicit: grp.childGroups,padding: padding + 20  }"></ng-container>
            </section>
          </ng-container>

        </ng-template>
        <ng-container
          *ngTemplateOutlet="groupDetails; context:{ $implicit: data$.groupDetails | tbsearch: search, padding: 0, tbfrom: from, tbto: to }"></ng-container>


      </div>
      <!--<section class="row row-1"-->
      <!--*ngFor="let grp of (data$ | async).groupDetails"-->
      <!--[ngClass]="grp.category">-->
      <!--&lt;!&ndash; filter:filterTBSearch:index:data  &ndash;&gt;-->
      <!--&lt;!&ndash; |  tbsearch:keyWord | filter:filterTBSearch:tbsearch &ndash;&gt;-->


      <!--</section>-->
      <!--End Grid-->
      <div>
        <div class="table-responsive">
          <table class="table basic" style="margin-bottom:0;">
            <thead>
            <tr>
              <th class="" style="width: 33.5%;">
                <span class="">Grand Total</span>
              </th>
              <th style="width: 16.6%;" class="text-right">{{ data$.forwardedBalance?.amount | giddhCurrency}}</th>
              <th style="width: 16.6%;" class="text-right">{{ data$.debitTotal | giddhCurrency}}</th>
              <th style="width: 16.6%;" class="text-right">{{ data$.creditTotal | giddhCurrency}}</th>
              <th style="width: 16.6%;" class="text-right">
                <span class="">{{ data$.closingBalance?.amount | giddhCurrency}}</span>
              </th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- end main content -->

    <!-- start template trial bal -->
    <!--<script type="text/ng-template" id="trialBalSubGroup">-->

    <!--</script>-->
    <!-- end template -->
  </div>
</div>
