<!-- loader -->


<!-- no data start -->
<div class="no-data" *ngIf="noData">
    <h1>Sorry, No Data Found!</h1>
    <img src="/assets/images/no-data.png" alt="">
</div>
<!-- nodata end -->
<div *ngIf="!noData" class="tb-wrapper">
    <div class=" clearfix">
        <!-- start main content -->
        <div class="mt-1 mb-1 pull-right">

            <div class="tbplList">

                <ul class="list-inline color-codes pull-right">

                    <li>
                        <span class="circle square liabilities"></span>
                        <span>Liabilities</span>
                    </li>

                    <li>
                        <span class="circle square  assets"></span>
                        <span>Assets</span>
                    </li>

                    <li>
                        <span class="circle square income"></span>
                        <span>Income</span>
                    </li>

                    <li>
                        <span class="circle square expenses"></span>
                        <span>Expenses</span>
                    </li>

                </ul>
            </div>

            <!-- end of column -->
        </div>
        <div class="table-container clearfix trial-balance">
            <section class="tb-section">
                <div class="row">
                    <div class="col-4 search-container"  #searchContainer
                        (clickOutside)="clickedOutside($event, searchContainer)">

                        <span [ngStyle]="{'display': showClearSearch ? 'none' : 'flex'}" class="align-items-center">
                            <span class="pd-r1"><strong>Particular</strong></span>
                            <i class="icon-search2" id="showSearch" (click)="toggleSearch()"></i>
                        </span>

                        <span [hidden]="!showClearSearch" class="show-clear-search">
                            <input type="search" #searchInputEl class="form-control"
                                placeholder="Search" aria-describedby="sizing-addon3"
                                [formControl]="accountSearchControl">
                            <!--<i class="icon-search2" (click)="showClearSearch = false;$event.stopPropagation();"-->
                            <!--id="hideSearch"-->
                            <!--style="position: relative;top: -11px;left:94%;z-index: 1; font-size: 13px;color: #A6A6A6;cursor: pointer;"></i>-->
                        </span>

                    </div>

                    <div class="col-2 text-right table-th">
                        <strong>Opening
                            Bal</strong></div>
                    <div class="col-2 text-right table-th">
                        <strong> Debit</strong>

                    </div>
                    <div class="col-2 text-right table-th">
                        <strong> Credit</strong>

                    </div>
                    <div class="col-2 text-right table-th-closing"><strong>Closing Bal</strong>
                    </div>

                </div>
            </section>
            <!--Start Grid-->
            <div *ngIf="data$.groupDetails">

                <ng-template #groupDetails let-list let-padding="padding">
                    <ng-container *ngFor="let grp of list">
                        <section class="row-1" *ngIf="grp.isVisible || grp.isCreated" [hidden]="!grp.isVisible"
                            [ngClass]="grp.category" tb-pl-bs-grid-row [groupDetail]="grp" [padding]="padding"
                            [search]="search" [from]="from" [to]="to">
                            <ng-container
                                *ngTemplateOutlet="groupDetails; context:{ $implicit: grp.childGroups,padding: padding + 20  }">
                            </ng-container>
                        </section>
                    </ng-container>

                </ng-template>
                <ng-container
                    *ngTemplateOutlet="groupDetails; context:{ $implicit: data$.groupDetails | tbsearch: search, padding: 0, tbfrom: from, tbto: to }">
                </ng-container>


            </div>
            <!--<section class="row row-1"-->
            <!--*ngFor="let grp of (data$ | async).groupDetails"-->
            <!--[ngClass]="grp.category">-->
            <!--&lt;!&ndash; filter:filterTBSearch:index:data  &ndash;&gt;-->
            <!--&lt;!&ndash; |  tbsearch:keyWord | filter:filterTBSearch:tbsearch &ndash;&gt;-->


            <!--</section>-->
            <!--End Grid-->
            <div>
                <div class="table-responsive">
                    <table class="table basic mb-0 table-footer">
                        <thead>
                            <tr>
                                <th width="33.5%;">
                                    <span>Grand Total</span>
                                </th>
                                <th width="16.6%;" class="text-right">
                                    {{ data$.forwardedBalance?.amount | giddhCurrency}}</th>
                                <th width="16.6%;" class="text-right">{{ data$.debitTotal | giddhCurrency}}</th>
                                <th width="16.6%;" class="text-right">{{ data$.creditTotal | giddhCurrency}}</th>
                                <th width="16.6%;" class="text-right">
                                    <span>{{ data$.closingBalance?.amount | giddhCurrency}}</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- end main content -->

        <!-- start template trial bal -->
        <!--<script type="text/ng-template" id="trialBalSubGroup">-->

        <!--</script>-->
        <!-- end template -->
    </div>
</div>
