@import "../../../../../assets/css/color.scss";
.trailBlnctble {
    max-width: 1050px;
    width: 100%;
    margin-top: 15px;
}
.liabilities-assets {
    max-width: 760px;
    width: 100%;
}
.trial-balance{
    span{
        i.glyphicon-search{
        position: relative;z-index: 1; font-size: 13px;
        color: $gray;
        padding-right: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        }
    }
}
