@import "../../../../../assets/css/color.scss";
.liabilities-assets {
    max-width: 760px;
    width: 100%;
}
.trial-balance {
    span {
        i.glyphicon-search {
            position: relative;
            z-index: 1;
            font-size: 13px;
            color: $gray;
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    input {
        height: 47px;
    }
}
.tb-wrapper {
    width: 70%;
    margin: auto;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    >li {
        display: inline-block;
        padding-right: 5px;
    }
}
@media (max-width: 991px) {
    .tb-wrapper {
        width: 100%;
        margin: auto;
    }
}
