:host {
    .search-wrapper {
        padding: 1.25rem 2rem 1.25rem 4.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-popup-background);
        flex-wrap: wrap !important;
        width: 100% !important;
        max-width: 580px;
        .search-element {
            outline: none;
            border: none;
            font-size: var(--font-size-14);
            font-weight: normal;
            line-height: initial;
            width: 95%;
            background-color: var(--color-popup-background);
        }
        .icon-search-icon {
            position: absolute;
            left: 0;
            right: 0;
            width: 4.2rem;
            text-align: center;
            color: var(--color-abbey);
        }
    }
    .vR {
        margin-right: 2px;
        vertical-align: baseline;
        .vN {
            height: 24px;
            line-height: 21px;
            display: inline-flex;
            box-sizing: border-box;
            text-transform: capitalize;
            font-size: var(--font-size-14);
            .vT {
                letter-spacing: 0.3px;
                display: inline-block;
                max-width: 325px;
                line-height: 22px;
                max-height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                direction: ltr;
            }
            .vM {
                font-size: var(--font-size-24);
                margin-left: 6px;
            }
        }
    }
}

.universal-data-list-wrapper {
    background-color: var(--color-popup-background);
    overflow: auto;
    display: none;
    box-sizing: border-box;
    min-width: max-content;
    position: relative;
    &.isVisible {
        display: block;
    }
    &.isFlying {
        position: absolute;
        z-index: 10;
        box-shadow: 0 2px 3px 0 var(--color-primary-common-box-shadow);
        border: 1px solid var(--color-common-secondary-border);
        border-radius: 2px;
    }
    &:not(.isFlying),
    &.wider {
        .universal-members-list {
            .item {
                .member-details {
                    max-width: inherit;
                }
            }
        }
    }
    &.isOpenFromBottom {
        bottom: 0;
    }
    .inner {
        position: relative;
        overflow: auto;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a,
    a:hover {
        text-decoration: none;
    }
    .universal-list-items {
        position: relative;
        overflow: auto;
        &:focus {
            outline: none;
        }
        .item {
            min-height: auto;
            overflow: initial;
            padding: 0 24px;
            a {
                min-height: auto;
            }
            .item-icon {
                color: var(--color-gray);
                font-size: 14px;
                .icon-account {
                    font-size: 11px;
                }
                .icon-group {
                    font-size: 16px;
                }
            }
            .item-details {
                position: relative;
                font-size: var(--font-size-14);
                color: var(--color-popup-secondary-list-head-text);
                text-transform: capitalize;
                margin-left: 25px;
                padding: 5px 0;
                .width-65 {
                    width: 65%;
                }
                .small-para-details {
                    margin: 0;
                    width: 320px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                small {
                    font-size: var(--font-size-12);
                    color: var(--color-abbey);
                }
                .command-hover-text {
                    color: var(--color-common-primary-text);
                    right: 0;
                    text-transform: initial;
                    width: 25%;
                    word-break: break-word;
                    text-align: right;
                }
                .command-bread-crumb {
                    max-width: 150px;
                    overflow: hidden;
                }
            }
            // hover effect
            &.selected {
                background-color: var(--color-popup-list-hover);
                .item-details {
                    color: var(--color-popup-list-input-text-hover);
                    small {
                        color: var(--color-popup-list-input-text-hover);
                    }
                }
                .item-icon {
                    color: var(--color-popup-list-input-text-hover);
                }
            }
        }
    }
    .jumper-results {
        overflow: hidden;
        padding: 20px 24px;
    }
}
.close-navigation {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-popup-list-input-text);
}

::ng-deep {
    .jumper-results {
        .block {
            color: var(--color-popup-list-input-text);
        }
    }
}

/*responsive*/
@media (max-width: 767px) {
    :host {
        .search-wrapper {
            padding: 1rem 2rem 1rem 3.9rem;
            margin-bottom: 10px;
            max-width: 100%;
            .icon-search-icon {
                left: -3px;
            }
        }
    }
    .close-navigation {
        top: 6px;
        font-size: 17px;
    }
    .universal-data-list-wrapper {
        .universal-list-items {
            .item {
                height: 40px;
                margin-bottom: 3px;
                a {
                    height: 40px;
                }
                .item-details {
                    padding-left: 24px;
                    line-height: 1.4;
                    font-size: var(--font-size-12);
                }
            }
        }
    }
    .item-icon {
        margin-right: 15px;
    }
}
