.total-amount {
    font-size: 18px;
}

.customer-due-text {
    color: var(--color-teal);
}

.vendor-due-text {
    color: var(--color-primary-total-overdues-chart-vendor-due-text);
}

span.month-dropdown {
    font-size: 12px;
    color: var(--color-abbey);
    vertical-align: top;
}

.dashboard-filter .btn-group {
    display: block;
    line-height: 1;
}

.dashboard-filter .btn-group span {
    vertical-align: middle;
    color: var(--color-abbey);
}

.underline {
    text-decoration: underline;
}

.dashboard-filter {
    display: inline-flex;
    color: var(--color-abbey);
    align-items: center;
}

.dashboard-filter .icon-collapse-icon {
    margin-left: 8px;
    font-size: 14px;
}

.due-amount {
    color: var(--color-common-primary-text);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

span.icon-rupees {
    font-size: 12px;
}

.panel-body small {
    color: var(--color-abbey);
}
.dashboard-datepicker {
    max-width: 190px;
    min-width: 190px;
    border-radius: 30px;
    border: 1px solid var(--color-primary-button-border);
}
@media (max-width: 1300px) and (min-width: 991px) {
    .panel-heading {
        align-items: baseline;
        flex-direction: column;
        .dashboard-filter {
            flex-direction: row-reverse;
            margin-top: 5px;
            i {
                margin-left: 15px;
            }
        }
    }
}
@media (max-width: 480px) {
    .dashboard-filter {
        display: flex;
        float: none !important;
        margin-top: 10px;
    }
    .panel-heading {
        align-items: baseline;
        flex-direction: column;
        .dashboard-filter {
            flex-direction: row-reverse;
            margin-top: 5px;
            i {
                margin-left: 15px;
            }
        }
    }
}
@media (max-width: 360px) {
    .due-amount {
        font-size: 14px;
        display: block;
    }
    .vendor-due-text,
    .customer-due-text {
        font-size: 14px;
        float: none !important;
    }
    .panel-body small {
        display: block;
        float: none !important;
    }
    .due {
        margin-bottom: 10px;
    }
}
