<!--new inventory header-->
<div class="inventory-filter-bar">
    <div class="custom-datepicker-wrapper">
        <div class="custom-datepicker" (click)="showGiddhDatepicker($event)">
            <i class="icon-calender calendar-addon"></i>
            <input
                type="text"
                name="selectedDateRange"
                [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                class="giddh-datepicker date-range-picker"
            />
        </div>
    </div>
    <div class="pl-1">
        <mat-select
            name="selectedWarehouse"
            [multiple]="true"
            [(ngModel)]="selectedWarehouse"
            class="stock-mat-salect"
            [placeholder]="'Select Warehouse'"
        >
            <mat-option class="balance-options">
                <ngx-mat-select-search
                    [noEntriesFoundLabel]="'No Result Found'"
                    [formControl]="warehousesDropdown"
                    [placeholderLabel]="'Select Warehouse'"
                >
                    <i class="icon-cross" ngxMatSelectSearchClear></i>
                </ngx-mat-select-search>
            </mat-option>

            <mat-option class="balance-options"> Warehouse 1 </mat-option>
            <mat-option class="balance-options"> Warehouse 2 </mat-option>
            <mat-option class="balance-options"> Warehouse 3 </mat-option>
        </mat-select>
    </div>
    <div class="pl-1">
        <mat-select
            name="selectedBranch"
            [multiple]="true"
            [(ngModel)]="selectedBranch"
            class="stock-mat-salect"
            [placeholder]="'Select Branch'"
        >
            <mat-option class="balance-options">
                <ngx-mat-select-search
                    [noEntriesFoundLabel]="'No Result Found'"
                    [formControl]="branchesDropdown"
                    [placeholderLabel]="'Select Branch'"
                >
                    <i class="icon-cross" ngxMatSelectSearchClear></i>
                </ngx-mat-select-search>
            </mat-option>

            <mat-option class="balance-options"> Branch 1 </mat-option>
            <mat-option class="balance-options"> Branch 2 </mat-option>
            <mat-option class="balance-options"> Branch 3 </mat-option>
        </mat-select>
    </div>
    <div
        class="clear-filter align-items-center d-flex justify-content-xl-center justify-content-lg-start w-50"
        *ngIf="showClearFilter"
    >
        <button
            mat-raised-button
            class="create-btn-inventory btn-sky-blue ml-3 mr-0"
            color="primary"
            (click)="resetAdvanceSearch()"
        >
            <span class="icon-cross"></span> Clear
        </button>
    </div>
</div>

<div class="inventory-filter-bar">
    <div class="search-control">
        <i class="icon-search search-icon"></i>
        <sh-select placeholder="Search Branch Alice"></sh-select>
        <!-- This will remove after select field component or any othe input -->
        <div class="menu-btn-control">
            <button mat-button (click)="openModal()">
                <i class="icon-advance-filter mr-2"></i>
                Advance Filter
            </button>

            <button mat-button [matMenuTriggerFor]="customise" aria-label="Customise">
                <i class="icon-options mr-2"> </i>
                Customise
            </button>
            <mat-menu #customise="matMenu">
                <div class="menu-selector">
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Select All</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Opening Value</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Inward Value</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Outward Value</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Less Stock</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Zero Stock</mat-checkbox>
                    </button>
                    <button mat-menu-item>
                        <mat-checkbox color="primary">Negative Stock</mat-checkbox>
                    </button>
                </div>
            </mat-menu>
        </div>
    </div>

    <div class="d-flex">
        <button class="round-btn" mat-icon-button [matMenuTriggerFor]="importExport" aria-label="Customise">
            <i class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="12.444" height="16" viewBox="0 0 12.444 16">
                    <path
                        class="a"
                        d="M82.456,1185.2l3.556,3.556H83.344v6.222H81.567v-6.222H78.9Zm6.222,12.444h2.667l-3.556,3.556-3.556-3.556H86.9v-6.222h1.778Z"
                        transform="translate(-78.9 -1185.2)"
                    />
                </svg>
            </i>
        </button>
        <mat-menu #importExport="matMenu">
            <div class="menu-selector">
                <button mat-menu-item>
                    <span>CSV</span>
                </button>
                <button mat-menu-item>
                    <span>XLS</span>
                </button>
            </div>
        </mat-menu>
    </div>
</div>

<!-- end new inventory header-->
<div class="inventory-transaction-list">
    <div class="p-3">
        <div class="row">
            <div class="col-12">
                <div class="top-content">
                    <div class="d-flex w-100 justify-content-between overflow-x-auto">
                        <div class="total-details-box mr-r05 count-box">
                            <h5>
                                Transaction Count
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 1.00 </span>
                                </div>
                            </h5>
                        </div>
                        <div class="total-details-box mr-r05 border-none opening-box">
                            <h5>
                                Profit/Loss
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 1,02,377.50 </span>
                                </div>
                            </h5>
                        </div>
                        <div class="total-details-box mr-r05 border-none sales-purchase">
                            <h5>
                                Opening
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 432.00 </span>
                                </div>
                            </h5>
                        </div>
                        <div class="total-details-box mr-r05 border-none payment-receipt">
                            <h5>
                                Inward
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 432.00 </span>
                                </div>
                            </h5>
                        </div>
                        <div class="total-details-box mr-r05 border-none due-box">
                            <h5>
                                Outward
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 1,02,378.50 </span>
                                </div>
                            </h5>
                        </div>
                        <div class="total-details-box border-none closing-box">
                            <h5>
                                Closing
                                <div class="mt-2">
                                    <span class="d-inline-flex number-total"> 432.00 </span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 horizontal-padding">
            <div *ngIf="isLoading">
                <giddh-page-loader></giddh-page-loader>
            </div>
            <div class="table-responsive" *ngIf="!isLoading">
                <table mat-table [dataSource]="dataSource" class="table giddh-table on-mobile-view">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td data-title="Date" mat-cell *matCellDef="let element">{{ element.date }}</td>
                    </ng-container>

                    <ng-container matColumnDef="voucherType">
                        <th mat-header-cell *matHeaderCellDef>Voucher Type</th>
                        <td date-title="Voucher Type" mat-cell *matCellDef="let element">{{ element.voucherType }}</td>
                    </ng-container>

                    <ng-container matColumnDef="accountName">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>Account Name</th>
                        <td data-title="Account Name" class="text-right" mat-cell *matCellDef="let element">
                            {{ element.accountName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="inwards">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>Inwards</th>
                        <td data-title="Inwards" class="text-right" mat-cell *matCellDef="let element">
                            {{ element.inwards }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="outwards">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>Outwards</th>
                        <td data-title="Outwards" class="text-right" mat-cell *matCellDef="let element">
                            {{ element.outwards }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rate">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>Rate</th>
                        <td data-title="Rate" class="text-right" mat-cell *matCellDef="let element">
                            {{ element.rate }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>Value</th>
                        <td data-title="Value" class="text-right" mat-cell *matCellDef="let element">
                            {{ element?.value }}
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="qty">
                        <th class="text-right" mat-header-cell *matHeaderCellDef>qty</th>
                        <td data-title="Qty" class="text-right" mat-cell *matCellDef="let element">
                            {{ element.qty }}
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <section class="no-logs" *ngIf="!dataSource?.length && !isLoading">
                    <div class="no-data">
                        <h1>No data found</h1>
                    </div>
                </section>
            </div>
            <!-- *ngIf="inventoryObj?.totalItems > inventoryObj.count && !isLoading" -->
            <div class="pagination-wrapper">
                <pagination
                    [totalItems]="inventoryObj?.totalItems"
                    [(ngModel)]="inventoryObj.page"
                    [maxSize]="5"
                    class="pagination-sm"
                    [boundaryLinks]="true"
                    [itemsPerPage]="inventoryObj.count"
                    [rotate]="false"
                    (pageChanged)="pageChanged($event)"
                    [firstText]="'First'"
                    [previousText]="'Previous'"
                    [nextText]="'Next'"
                    [lastText]="'Last'"
                ></pagination>
            </div>
        </div>
    </div>
</div>
<ng-template #datepickerTemplate>
    <div class="datepicker-modal">
        <div class="modal-body">
            <app-datepicker-wrapper
                [inputStartDate]="selectedDateRange?.startDate"
                [inputEndDate]="selectedDateRange?.endDate"
                [alwaysShowCalendars]="true"
                [ranges]="datePickerOptions"
                [selectedRangeLabel]="selectedRangeLabel"
                [showCustomRangeLabel]="true"
                [showClearButton]="false"
                [showCancel]="true"
                [linkedCalendars]="true"
                [showDropdowns]="true"
                [locale]="{ applyLabel: commonLocaleData?.app_done }"
                (rangeClicked)="dateSelectedCallback($event)"
                (datesUpdated)="dateSelectedCallback($event)"
                [keepCalendarOpeningWithRange]="false"
                [showRangeLabelOnInput]="false"
                [dateFieldPosition]="dateFieldPosition"
            ></app-datepicker-wrapper>
        </div>
    </div>
</ng-template>
<!-- inventory advance search  -->
<ng-template #inventoryAdvanceSearch>
    <new-inventory-advance-search></new-inventory-advance-search>
</ng-template>
