.pagination-wrapper {
    padding-bottom: 20px !important;
}

.stock-group-footer {
    background-color: var(--color-white);
    z-index: 3;
    width: calc(100% - 240px);
    padding-right: 15px;
    line-height: 1.8;
    box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
    padding-top: 5px;

    .stock-value {
        padding-right: 80px;

        .total-stock-value {
            padding-left: 30px;
        }
    }
}

.virtual-group-list {
    height: 100%;
    min-height: 51px;
    max-height: 193px !important;
}

.stock-mat-salect {
    border: 1px solid var(--color-secondary-input-bar-border);
    border-radius: 5px !important;
    padding: 8px;
    font-size: 13px;
    min-width: 250px;
}

.transactional-filter-section {
    .transactional-wise-common-btn {
        height: 42px;
        width: 42px;
        border: 1px solid var(--color-gray);
        border-radius: 20px;
        box-shadow: none;
        background: var(--color-white);
    }

    .icon-download-circle {
        font-size: 16px;
        color: var(--color-gray);
    }
}

.unit-badge {
    text-transform: lowercase;
}

.td-search-box {
    .input-container {
        input {
            height: 36px;
            min-width: 100%;
            padding: 11px 40px 11px 11px;
            color: var(--color-nero);
            border: none;
            background-color: var(--color-wild-sand);
            border-radius: 5px;
        }
    }
}

.inventory-report-table {
    overflow-x: visible !important;

    .mat-table-sticky {
        top: 60px !important;
    }
}

::ng-deep {
    .mat-pseudo-checkbox-checked {
        background: var(--color-giddh-blue) !important;
    }

    .inventory-transaction-list {
        tbody {
            .mat-no-data-row:last-child {
                border-bottom: none !important;

                td {
                    border-bottom: none !important;
                }
            }
        }
    }
}

.transaction-report-wrapper {
    margin-bottom: 40px;
}

.select-multiple-chiplist-inventory {
    font-weight: 400 !important;
    font-size: 14px !important;
    min-width: 78%;

    .mat-chip.mat-standard-chip {
        color: var(--color-chips-primary) !important;
        background-color: var(--color-body-background) !important;
        border: 1px solid var(--color-primary-login-box-body-text) !important;
        font-size: 12px !important;
    }
}

.no-data-inventory {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
    font-size: 36px;
    color: var(--color-gray);
}

.filter-dropdown {
    max-width: 250px;
}

@media (max-width: 1440px) {
    .select-multiple-chiplist-inventory {
        min-width: 70%;
    }
}

@media (max-width: 1024px) {
    .select-multiple-chiplist-inventory {
        min-width: 55%;
    }

    .stock-mat-salect {
        min-width: 187px;
    }
}

@media (max-width: 1019px) {
    .select-multiple-chiplist-inventory {
        min-width: 55%;
    }

    .stock-mat-salect {
        min-width: 199px;
    }

    .stock-group-footer {
        width: 100% !important;
        position: fixed !important;
        margin-top: 15px;

        .stock-value {
            justify-content: space-between !important;
        }

        .by-date {
            display: flex;
        }
    }
}

.account-name-column {
    padding-left: 0 !important;
}

@media (max-width: 767px) {
    .stock-group-footer {
        position: static !important;

        .stock-value {
            padding-right: 0 !important;
        }
    }
}

@media (max-width: 575px) {
    .stock-group-footer {
        text-align: left;

        p,
        label {
            padding-left: 15px;
        }

        .pd-l15 {
            padding-left: 0 !important;
        }

        .stock-value {
            justify-content: flex-start !important;
            text-align: left;
            padding-left: 0;
            flex-direction: column;

            .total-stock-value {
                padding-left: 0;
            }
        }
    }
}
