<!-- Review Field start-->
<div class="reviewData">
  <strong>10 suppliers are ready to be imported</strong>
  <form class="form-inline pull-right mrB1">
    <input type="search" class="form-control" placeholder="filter by name"/>
  </form>
  <table class="table basic table-bordered mrT1">
    <thead>
    <tr>
      <th><input type="checkbox"/></th>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Fax</th>
      <th>Website</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Opening Balance</th>
      <th>Opening Balance Date</th>
      <th>Currency</th>
      <th>GST Registration Type</th>
      <th>GSTIN</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox"/></td>
      <td class="has-error"><input type="text" class="form-control" value="Praveen Kulkarni"/></td>
      <td><input type="text" class="form-control" value="Aggarwal's Generators"/></td>
      <td><input type="text" class="form-control" value="mukeshaggarwal"/></td>
      <td><input type="text" class="form-control" value="040-55551234"/></td>
      <td class="has-error"><input type="text" class="form-control" value="040-55555678"/></td>
      <td><input type="text" class="form-control" value="040-555591011"/></td>
      <td><input type="text" class="form-control" value="http://www.aggarwalgenerators.net.in"/></td>
      <td><input type="text" class="form-control" value="Shop No. 16, First Floor, Ram Nagar Street No. 8"/></td>
      <td><input type="text" class="form-control" value="Townville"/></td>
      <td class="has-error"><input type="text" class="form-control" value="Manipur"/></td>
      <td><input type="text" class="form-control" value="India"/></td>
      <td><input type="text" class="form-control" value="10999"/></td>
      <td><input type="text" class="form-control" value="2015-09-23"/></td>
      <td><input type="text" class="form-control" value="INR"/></td>
      <td class="has-error"><input type="text" class="form-control"
                                   value="Deemed exports- EOU's, STP's EHTP's etc"/></td>
      <td><input type="text" class="form-control" value="11AAAAA2323D2D5"/></td>
    </tr>
    <tr>
      <td><input type="checkbox"/></td>
      <td><input type="text" class="form-control" value="Praveen Kulkarni"/></td>
      <td><input type="text" class="form-control" value="Aggarwal's Generators"/></td>
      <td><input type="text" class="form-control" value="mukeshaggarwal"/></td>
      <td><input type="text" class="form-control" value="040-55551234"/></td>
      <td><input type="text" class="form-control" value="040-55555678"/></td>
      <td><input type="text" class="form-control" value="040-555591011"/></td>
      <td><input type="text" class="form-control" value="http://www.aggarwalgenerators.net.in"/></td>
      <td class="has-error"><input type="text" class="form-control"
                                   value="Shop No. 16, First Floor, Ram Nagar Street No. 8"/></td>
      <td><input type="text" class="form-control" value="Townville"/></td>
      <td><input type="text" class="form-control" value="Manipur"/></td>
      <td><input type="text" class="form-control" value="India"/></td>
      <td><input type="text" class="form-control" value="10999"/></td>
      <td class="has-error"><input type="text" class="form-control" value="2015-09-23"/></td>
      <td><input type="text" class="form-control" value="INR"/></td>
      <td><input type="text" class="form-control" value="Deemed exports- EOU's, STP's EHTP's etc"/></td>
      <td><input type="text" class="form-control" value="11AAAAA2323D2D5"/></td>
    </tr>
    <tr>
      <td><input type="checkbox"/></td>
      <td><input type="text" class="form-control" value="Praveen Kulkarni"/></td>
      <td><input type="text" class="form-control" value="Aggarwal's Generators"/></td>
      <td><input type="text" class="form-control" value="mukeshaggarwal"/></td>
      <td class="has-error"><input type="text" class="form-control" value="040-55551234"/></td>
      <td><input type="text" class="form-control" value="040-55555678"/></td>
      <td><input type="text" class="form-control" value="040-555591011"/></td>
      <td><input type="text" class="form-control" value="http://www.aggarwalgenerators.net.in"/></td>
      <td><input type="text" class="form-control" value="Shop No. 16, First Floor, Ram Nagar Street No. 8"/></td>
      <td><input type="text" class="form-control" value="Townville"/></td>
      <td><input type="text" class="form-control" value="Manipur"/></td>
      <td class="has-error"><input type="text" class="form-control" value="India"/></td>
      <td><input type="text" class="form-control" value="10999"/></td>
      <td><input type="text" class="form-control" value="2015-09-23"/></td>
      <td><input type="text" class="form-control" value="INR"/></td>
      <td><input type="text" class="form-control" value="Deemed exports- EOU's, STP's EHTP's etc"/></td>
      <td><input type="text" class="form-control" value="11AAAAA2323D2D5"/></td>
    </tr>

    </tbody>
  </table>
  <div class="mrT2 text-right">
    <button class="btn btn-default" (click)="onBack.emit()">Back</button>
    <button class="btn btn-success" (click)="onSubmit.emit()">Import</button>
  </div>
</div>
<!-- Review Field end-->
