.modal-header > .close {
    top: 10px !important;
}
// .mat-mdc-dialog-title{
//     color: var(--color-white);
// }

#exportModal {
    #export-body {
        .clearfix {
            .radio-inline {
                mat-slide-toggle {
                    position: relative;
                    top: 8px;
                }
            }
        }
    }
}