/**new modal design**/
@import "../../../assets//css/color.scss";
.modal-body label {
    color: #707070;
    margin-bottom: 5px;
}

label .required {
    position: relative;
    top: 0px;
    color: #cf0606;
}

.form-control {
    color: #707070;
}

.modal-body p {
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
    margin-left: -28px;
    margin-right: -28px;
}

.giddh_logo_welcome img {
    max-width: 200px;
    margin: 30px auto;
    display: block;
}

.welcome_wrapper {
    padding: 25px 0;
}

.welcome_header:after {
    display: none;
}

.add-companyDetail {
    background-color: #f7f8fa;
    margin-bottom: 0 !important;
}

.welcome_header h1 {
    font-size: 30px;
    font-family: "opensans-regular";
    color: $midnight-blue;
}

.add-companyDetail p {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: 100%;
}

#shareModal .btn.btn-pink {
    width: 100%;
}

.name-error {
    color: #e51f0c;
    font-size: 11px;
    float: right;
}

.add-companyDetail {
    background-color: #f7f8fa;
}

@media (min-width: 768px) {
    /* .form-inline .input-group>.form-control {
  width: 86%;
} */
}

@media (max-width: 414px) {
    .welcome_header h1 {
        font-size: 30px !important;
    }
    .welcome_wrapper {
        padding: 20px 0;
    }
}

/**end new modal design**/
