/**new modal design**/

.modal-body label {
    color: var(--color-abbey);
    margin-bottom: 5px;
}

label .required {
    position: relative;
    top: 0px;
    color: var(--color-primary-onboarding-label-required);
}

.form-control {
    color: var(--color-abbey);
}

.modal-body p {
    font-size: var(--font-size-14);
    color: var(--color-primary-on-boarding-modal-body-p);
    text-align: center;
    margin-left: -28px;
    margin-right: -28px;
}

.giddh-logo-welcome img {
    max-width: 200px;
    margin: 30px auto;
    display: block;
}

.welcome-wrapper {
    padding: 25px 0;
}

.welcome-header:after {
    display: none;
}

.add-company-detail {
    background-color: var(--color-wild-sand);
    margin-bottom: 0 !important;
}

.welcome-header h1 {
    font-size: var(--font-size-32);
    font-family: var(--font-regular);
    color: var(--color-giddh-blue);
}

.add-company-detail p {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: 100%;
}

#share-modal .btn.btn-sky-blue {
    width: 100%;
}

.name-error {
    color: var(--color-danger);
    font-size: var(--font-size-12);
    float: right;
}

.add-company-detail {
    background-color: var(--color-wild-sand);
}

.welcome-select {
    .select-caret {
        width: 85px;
        margin-right: 28px;
    }
}

@media (min-width: 768px) {
    /* .form-inline .input-group>.form-control {
  width: 86%;
} */
}

@media (max-width: 767px) {
    .giddh-logo-welcome img {
        max-width: 150px;
        margin: 30px auto;
        display: block;
    }
    .welcome-header h1 {
        font-size: var(--font-size-18) !important;
    }
    .welcome-wrapper {
        padding: 15px 0;
    }
}

/**end new modal design**/
