.mobile-item-icon:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 1s;
    cursor: pointer;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 10px 50px 0 var(--color-primary-common-box-shadow);
}
@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.mobile-home-view {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-dark-fog);
    padding: 0;
    .search-field {
        padding: 10px 5px;
        input {
            width: 100%;
            border: 1px solid var(--color-iron);
            padding: 5px 20px;
            border-radius: 30px;
            height: 36px;
            font-size: var(--font-size-14);
        }
    }
    .mobile-item-wrapper {
        padding: 0 8px 15px;
        margin-bottom: 0;
        .mobile-single-item {
            float: left;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            box-sizing: border-box;
            padding-bottom: 0;
            &:nth-child(2n) {
                margin-right: 0;
            }
            .single-item-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                min-height: 90px;
                border-radius: 2px;
            }
            .mobile-item-icon {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-white);
                border-radius: 11px;
                margin-bottom: 8px;
                transform: scaleX(1);
                img {
                    width: 58px;
                    border-radius: 5px;
                }
                i {
                    font-size: var(--font-size-20);
                    display: block;
                    color: var(--color-giddh-blue);
                }
            }
            .mobile-item-name {
                h4 {
                    font-size: var(--font-size-10);
                    color: var(--color-giddh-blue);
                    text-align: center;
                    font-family: var(--font-semibold);
                    height: 40px;
                    line-height: inherit;
                    line-height: 1.2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            }
            &:hover {
                border-color: var(--color-giddh-blue);
                .mobile-item-icon {
                    i {
                        color: var(--color-giddh-blue);
                    }
                }
                .mobile-item-name {
                    h4 {
                        color: var(--color-giddh-blue);
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .search-accounts-groups {
        padding: 15px 0 0;
        border-top: 1px solid var(--color-iron);
        margin: 0 15px 0;
        color: var(--color-nero);
        .single-search-group {
            display: flex;
            align-items: center;
            padding: 7px 15px;
            margin: 5px -15px 5px;
            &:hover {
                background-color: var(--color-common--primary-light-background) !important;
            }
            .group-icon {
                padding-right: 10px;
                color: var(--color-abbey);
                font-size: var(--font-size-12);
                .icon-account {
                    font-size: var(--font-size-11);
                }
            }
            .group-name {
                h4 {
                    font-size: var(--font-size-12);
                    color: var(--color-nero);
                }
                p {
                    font-size: var(--font-size-10);
                    color: var(--color-abbey);
                }
            }
        }
        .search-accounts {
            .single-search-group {
                h4 {
                    line-height: 0.5;
                }
                .account-unique-name {
                    color: var(--color-abbey);
                    font-size: var(--font-size-10);
                }
            }
        }
    }
}
.mobile-home-search {
    background-color: var(--color-dark-fog);
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    .dropdown-menu {
        left: -1px !important;
        position: fixed;
        top: -3px !important;
        z-index: 9999;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0;
        max-width: 280px;
        li {
            a {
                padding: 10px 15px;
                margin-bottom: 3px;
                background-color: transparent;
                letter-spacing: 0;
                &:hover {
                    color: var(--color-blue) !important;
                    background: var(--color-dark-fog) !important;
                }
            }
        }
    }
    .company-name-alice {
        width: 36px;
        height: 36px;
        background-color: var(--color-blue);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-13);
        color: var(--color-white);
        letter-spacing: -1px;
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            cursor: pointer;
        }
    }
    .account-search {
        margin: 0;
        padding: 15px 0 15px 10px;
        width: calc(100% - 36px);
        position: relative;
        .input-group {
            background-color: var(--color-white);
            border-radius: 50px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            &.group-list {
                border-radius: 5px !important;
            }
            .input-group-addon {
                background-color: transparent;
                border-radius: 0;
                padding-left: 20px;
                line-height: 1.2;
                height: auto;
                padding-right: 5px;
                color: var(--color-abbey);
                border: none;
                padding: 0 !important;
                padding-right: 25px !important;
                display: inline-flex;
                position: absolute;
                i {
                    position: relative;
                    top: 1px;
                }
            }
            .close-addon {
                border-radius: 0;
                padding-left: 0;
                line-height: 1.2;
                height: auto;
                color: var(--color-abbey);
                border: none;
                padding: 0 !important;
                padding-right: 0;
                display: inline-flex;
                vertical-align: middle;
                white-space: normal;
                position: relative;
                width: 20px;
                height: 15px;
                i.icon-cross {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 3;
                    color: var(--color-abbey);
                }
            }
            input {
                width: 100% !important;
                border: none !important;
                padding: 0 0 !important;
                border-radius: 0;
                height: auto !important;
                font-size: var(--font-size-14);
                background-color: transparent !important;
                display: inline-block;
                &:focus {
                    border-color: var(--color-iron) !important;
                }
            }
        }
    }
    .wrap-group-account-input {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        .item-search-wrapper {
            font-size: var(--font-size-14);
            padding-left: 0;
            white-space: nowrap;
        }
    }
}
.top-button {
    width: 40px;
    height: 40px;
    display: flex;
    position: fixed;
    background-color: var(--color-giddh-blue);
    color: var(--color-white);
    bottom: 15px;
    right: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 var(--color-primary-common-box-shadow), 0 2px 32px 0 var(--color-primary-common-box-shadow);
    cursor: pointer;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
    i {
        font-size: var(--font-size-20);
        transform: rotate(180deg);
    }
}
.top-button.sticky {
    visibility: visible;
    opacity: 1;
}
/*responsive*/
@media (max-width: 320px) {
    .mobile-home-view {
        .mobile-item-wrapper {
            .mobile-single-item {
                .mobile-item-name {
                    h4 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
