//colors
$color_shark_approx: #262626;
$color_alto_approx: #ddd;
$white: #fff;
$color_silver_approx: #bfbfbf;
$black: #000;
$color_storm_dust_approx: #666666;
$color_mountain_mist_approx: #939393;
$color_chicago_approx: #595959;
$color_punch_approx: #df4927;

#template3 {
	font: 12px/1 'Open Sans', sans-serif;
	overflow: auto;
	background: $white;
	border: 1px solid $color_silver_approx;
	max-width: 8.3in;
	width: 100%;
	margin: 0 auto;
	* {
		border: 0;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: content-box;
		color: $color_shark_approx;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		list-style: none;
		margin: 0;
		padding: 0;
		text-decoration: none;
		vertical-align: top;
	}
	header {
		border-bottom: 1px solid $black;
	}
	.text-right {
		text-align: right;
	}
	.text-left {
		text-align: left !important;
	}
	.pull-right {
		float: right;
	}
	.pull-left {
		float: left;
	}
	table {
		width: 100%;
		table-layout: fixed;
		line-height: 20px;
		border-collapse: inherit;
	}
	.logo {
		max-width: 120px;
		width: 100%;
	}
	strong {
		font-weight: bold;
	}
	.item {
		table-layout: auto !important;
		tbody tr td {
			text-align: right;
			padding: 3px 0;
		}
		thead tr th {
			text-align: right;
			padding: 14px 0;
			border-bottom: 1px solid $color_storm_dust_approx;
			line-height: 1.2rem;
			font-weight: bold;
		}
		tfoot tr {
			th {
				padding: 3px 0;
			}
			&:last-child th {
				border-top: 1px solid $color_storm_dust_approx;
				padding: 14px 0;
				line-height: 1.2rem;
				vertical-align: middle;
			}
		}
	}
	.mrL2 {
		margin-left: 20px;
	}
	.mrB2 {
		margin-bottom: 20px;
	}
	.mrB1 {
		margin-bottom: 10px;
	}
	.meta {
		margin: 20px 0;
		h4 {
			font-weight: bold;
			font-size: 18px;
			line-height: 19px;
		}
	}
	.product-table {
		background: #df49270d;
		position: relative;
		padding-bottom: 10px;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			content: ' ';
			left: -20px;
			width: 105.1%;
			z-index: -1;
		}
		tbody tr:last-child td {
			padding-bottom: 50px;
		}
		tfoot tr:last-child th {
			border-top: 0;
			&:last-child {
				border-top: 1px solid $color_storm_dust_approx;
				border-bottom: 4px double $color_storm_dust_approx;
			}
		}
	}
	.inwords {
		color: $color_mountain_mist_approx;
	}
	.tax-table {
		p {
			color: $color_chicago_approx;
		}
		tfoot th {
			font-weight: bold;
		}
	}
	.bdrB {
		border-bottom: 1px solid$color_storm_dust_approx;
	}
	.subfooter {
		margin-top: 100px;
		h1 {
			font-size: 24px;
			margin: 10px 0 0;
		}
		.normal {
			font-size: 12px;
			vertical-align: baseline;
		}
	}
	.vmiddle {
		vertical-align: middle;
	}
	.note {
		margin-top: 20px;
		padding-left: 15px;
		li {
			list-style-type: initial;
		}
	}
	footer {
		margin-top: 7px;
		border-top: 2px solid $color_punch_approx;
		padding: 10px 0 0;
		line-height: 20px;
	}
	.pos-rel {
		position: relative;
	}
	.primary-clr {
		color: $color_punch_approx;
	}
}
:focus {
	outline: 0;
	border: 1px solid $color_alto_approx !important;
}
.pdRL3 {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.logo-wrap{
  width: 120px;
  figure {
    height: 50px;
    overflow: hidden;
  }
}
