//colors
@import '../template.variables';


#template-3 {

  .logo-wrap {
    width: 120px;
    figure {
      height: 50px;
      overflow: hidden;
    }
  }
  .logo {
      max-width: 120px;
      width: 100%;
      max-height: 75px;
      object-fit: contain;
  }

  .item {
      table-layout: fixed !important;
      tbody tr td {
          text-align: right;
          padding: 3px 0;
      }
      thead tr th {
          text-align: right;
          padding: 14px 0;
          border: 0;
          border-bottom: 1px solid $color_storm_dust_approx;
          line-height: 1.2rem;
          font-weight: bold;
      }
      tfoot tr {
          th {
              padding: 0px 0;
          }
          &:last-child th {
              border: 0;
              border-top: 1px solid $color_storm_dust_approx;
              padding: 4px 0;
              line-height: 1.2rem;
              vertical-align: middle;
          }
      }
  }

  .meta {
      margin: 20px 0;
      h4 {
          font-weight: bold;
          font-size: 18px;
          line-height: 19px;
      }
  }
  .product-table {
      background: #df49270d;
      position: relative;
      padding-bottom: 10px;
      &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          content: ' ';
          left: -20px;
          width: 105.1%;
          z-index: -1;
      }
      tbody tr:last-child td {
          padding-bottom: 50px;
      }
      tfoot tr:last-child th {
          border-top: 0;
          &:last-child {
              border-top: 1px solid $color_storm_dust_approx;
              border-bottom: 4px double $color_storm_dust_approx;
          }
      }
  }
  .inwords {
      color: $color_mountain_mist_approx;
  }
  .tax-table {
      p {
          color: $color_chicago_approx;
      }
      tfoot th {
          font-weight: bold;
      }
  }

  .subfooter {
      margin-top: 100px;
      h1 {
          font-size: 24px;
          margin: 10px 0 0;
      }
      .normal {
          font-size: 12px;
          vertical-align: baseline;
      }
  }
  .vmiddle {
      vertical-align: middle;
  }
  .note {
      margin-top: 20px;
      padding-left: 15px;
      li {
          list-style-type: initial;
      }
  }
}