@import "../../../assets/css/color.scss";
.invoice-modal-content:after {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 170px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.invoce-controll {
    position: relative;
}

.invoice-detail-header {
    padding-top: 25px;
}

.invoice-modal-content {
    padding: 0;
    position: fixed;
    top: 59px;
    width: 100%;
    background-color: $white;
    margin: 0 0;
    height: 100vh;
    z-index: 999;
    left: 0;
}

.invoice-sidebar {
    background-color: $white;
    padding: 0;
    height: calc(100vh - 20px);
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invoice-sidebar .invoice-number-date {
    font-size: 12px;
    .order-number {
        color: $primary;
    }
    .order-date {
        color: $dark-gray;
    }
}
.invoice-sidebar .invoice-holder-name p {
    color: $night-rider;
    font-size: 14px;
    margin-top: 3px;
}

.invoice-sidebar .single-invoice-detail {
    padding: 10px 15px;
    border-bottom: 1px solid $gainsboro;
    list-style: none;
}

.invoice-sidebar .single-invoice-detail:hover {
    background-color: $white-smoke;
}

.invoice-sidebar .single-invoice-detail.activeItem {
    background-color: $white-smoke;
}

.invoice-sidebar .single-invoice-detail:last-child {
    border-bottom: none;
}

.invoice-sidebar .inovice-amount {
    font-size: 12px;
    line-height: 3.4;
}

.dropdown-menu {
    width: 400px;
}

.dropdown-menu .form-group {
    padding: 20px;
    margin-bottom: 0;
}

.dropdown-menu.open {
    display: block;
}

.invoice-detail-header h3.invoice-number {
    font-size: 16px;
    font-weight: 600;
}

.invoice-detail-header p.account-holder-name {
    font-size: 14px;
    margin-top: 3px;
}

.invoice-detail-header .edit-change-status {
    text-align: right;
    padding-right: 15px;
}

.invoice-detail-header .edit-change-status .btn {
    margin-right: 10px;
}

.invoice-detail-header .edit-change-status .edit-link {
    color: $primary;
    padding-right: 10px;
    font-size: 16px;
}

.invoice-detail-header .edit-change-status .edit-link img {
    width: 15px;
}

.invoice-detail-header .edit-change-status .edit-action-btn-groups {
    display: flex;
    background-color: $white;
    border: 1px solid $very-light-gray;
    margin-right: 10px;
    span {
        border-left: 1px solid $very-light-gray;
        padding: 5px;
        height: 30px;
        width: 30px;
        &:first-child {
            border-left: none;
        }
        a {
            color: $dark-gray;
            display: block;
            text-align: center;
        }
    }
    .disabled {
        background: $gainsboro !important;
        cursor: not-allowed;
        a {
            cursor: not-allowed;
        }
    }
}

.close-modal img {
    width: 16px;
    opacity: 0.6;
}
.invoice-image-section {
    text-align: center;
    background-color: $alice-blue-light;
    margin-bottom: 35px;
    z-index: -9;
    height: 100vh;
    overflow-y: auto;
    padding: 30px 0 120px;
    .error {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 36px;
        max-width: 60%;
        margin: 0 auto;
        color: $red;
    }
    .image-preview {
        width: 100%;
    }
    .preview-not-supported-attachment {
        font-size: 18px;
        margin: 16px;
    }
    .pdf-preview {
        height: 100%;
    }
}

.invoice-modal-content .col-xs-4 {
    z-index: 40;
}

span.close-modal.cp.pull-right {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: $gainsboro;
    border: 1px solid $gainsboro;
}

.change-status-dropdown .dropdown-menu {
    width: 160px;
}

.dropdown-toggle.btn-pink {
    padding: 6px 16px;
}

.change-status-dropdown .dropdown-menu.show {
    display: inline-block !important;
    left: auto !important;
    right: 8px !important;
}

.btn-group.change-status-dropdown.open.show {
    display: inline-block !important;
}

.dropdown-menu > li > a:hover {
    color: $chetwode-blue;
    background: $whisper-color;
}

.invoice-search-box input {
    flex: 1;
    border: 1px solid $gainsboro;
    height: 37px;
    padding: 0 30px;
    background-image: url("../../../assets/images/searchIcon.svg");
    background-position: 10px 13px;
    background-repeat: no-repeat;
}

.invoice-search-box button {
    margin-left: 10px;
}

.invoice-search-box {
    display: flex;
    padding: 15px 15px 10px;
    justify-content: space-around;
}

.invoice-sidebar-wrapper {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

.invoice-detail-wrapper {
    height: 100vh;
    background-color: $alice-blue-light;
}

.invoice-editWrapper {
    height: 100vh;
    overflow-y: auto;
    .invoice-editHeader {
        display: flex;
        justify-content: space-between;
        height: 54px;
        background-color: $white;
        border-top: 1px solid $gainsboro;
        border-bottom: 1px solid $gainsboro;
        align-items: center;
        span {
            padding: 10px;
            p {
                font-size: 16px;
                font-weight: bold;
            }
        }
        span.close-modal {
            height: 32px;
            width: 32px;
            background-color: $very-light-gray;
            border: 1px solid $gainsboro;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    }
    .invoice-editBody {
        padding-bottom: 140px;
    }
}

.change-status-dropdown #setting-tab {
    width: 340px;
    left: auto;
    right: 0;
}

.sendEmailModal {
    min-width: 240px;
    position: absolute;
    top: 40px;
    z-index: 10;
    right: 0;
    border: 1px solid $gainsboro;
    .sendEmailModalWrapper {
        background-color: $white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        height: 200px;
        .sendEmailModalHeader {
            background-color: $whisper-color;
            padding: 8px 10px;
            border-bottom: 1px solid $gainsboro;
            span {
                width: unset;
            }
        }
    }
    .sendEmailModalBody {
        padding: 5px;
    }
    .sendEmailModalBody label {
        font-size: 12px;
        margin-bottom: 7px;
    }
    .btn-success {
        background: $success-green;
        color: $white;
    }
    .aqua-color a {
        color: $deep-sky-blue;
        font-size: 12px;
    }
}

.dropdown-width-small {
    width: 165px;
}

.dropdown-btn-new {
    padding: 5px 16px !important;
}
.upload-file-wrapper {
    background-color: $white;
    padding-top: 15px;
    .upload-excel {
        display: flex;
        height: 320px;
        position: relative;
        align-items: center;
        justify-content: center;
    }
}

.upload-excel {
    max-width: 500px;
}

.dashed-border {
    border: 2px dashed $gainsboro;
}

#csv-upload-input {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
}

.select-file {
    color: $success-green;
}

.file-uplod-penal {
    width: 100%;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 8px;
    border-radius: 4px;
    color: $very-light-gray;
}

.file-input-wrapper img {
    width: 100px;
}
/*invoice table*/

.strong {
    font-weight: bold;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
/*
  .font-12 {
  font-size: 12px !important;
  } */
.pb-1 {
    padding-bottom: 10px;
}
p {
    line-height: 17px;
}
/* heading */
#default header h1 {
    font-size: 14px;
}
#default header h2 {
    font-size: 14px;
    font-weight: bold;
}
/* table */
#default table {
    table-layout: fixed;
    width: 100%;
    border-collapse: inherit;
}

/* page */

#default {
    overflow: auto;
    background: $white;
    padding: 0;
    font-size: 14px;
    max-width: 760px;
    margin: 20px auto 120px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#default::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#default::-webkit-scrollbar-track {
    background: $white-smoke;
}

/* Handle */
#default::-webkit-scrollbar-thumb {
    background: $gainsboro;
    border-radius: 20px;
}

/* Handle on hover */
#default::-webkit-scrollbar-thumb:hover {
    background: $gainsboro;
    border-radius: 20px;
}
#default body {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0 auto;
    padding: 0.1in;
    letter-spacing: 0;
    width: 100%;
    background: $white;
    border-radius: 1px;
}

/* header */

#default header {
    background: $white;
    padding: 10px 15px;
    border-bottom: 2px solid #e1443e;
}

#default header:after {
    clear: both;
    content: "";
    display: table;
}

.pull-right tr td {
    text-align: right !important;
}

#default .meta {
    padding: 0 15px;
    /* margin-bottom: 10px; */
}

#default .meta tbody tr td,
#default .meta tbody tr th {
    border: 0;
    padding: 5px 0;
}

#default .meta tbody tr th {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    color: $nero;
}

.hidden-label {
    opacity: 0;
}

#default .meta tbody tr td {
    padding: 6px 0;
    line-height: 1.3rem;
}
#default header figure {
    margin: 0 0 0.3em 0;
    width: 100%;
    padding: 0px;
}

#default header figure p {
    margin: 0 0 0.25em;
}

#default header span {
    margin: 0 0 0 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

#default header img {
    max-height: 100%;
    max-width: 120px;
    float: left;
    margin-bottom: 0;
}

#default header table tr td {
    border: 0;
    display: table-cell;
    vertical-align: baseline;
}

/* article */

#default article {
    margin-bottom: 10px;
}

#default article:after {
    clear: both;
    content: "";
    display: table;
}

#default article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

#default article address {
    float: left;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* table items */

#default table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#default table.item th,
#default table.item tfoot tr th {
    position: relative;
    padding: 8px 7px;
    line-height: 1.2rem;
    background-color: $white-smoke;
    font-size: 12px;
}
#default table.item tfoot tr th {
    padding-right: 7px;
    border-top: 1px solid $light-gray;
}
/* tcs */
.tcs hr {
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid $cinnabar-orange;
}
.tcs table {
    margin: 50px 0px;
    clear: both;
    width: 100%;
    border-collapse: collapse !important;
}
.tcs table td,
.tcs table th {
    border-radius: 0;
    padding: 5px;
    border: 1px solid $light-gray;
    vertical-align: top;
    text-align: right;
}

.tcs table td:first-child {
    text-align: left;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    font-weight: bold;
}

.tcs table th,
.tcs table tfoot tr th {
    position: relative;
    padding: 5px;
    text-align: right;
}

.tcs table th:first-child,
.tcs table tfoot tr th:first-child {
    text-align: left;
}

.br0 {
    border-right: 0px !important;
}

.bl0 {
    border-left: 0px !important;
}

/* #default table.item tr th,
  #default table.item tfoot tr th {
  font-size: 10px;
  } */

#default table.item td {
    border-radius: 0;
    padding: 7px;
    border-top: 1px solid $light-gray;
    line-height: 1.2rem;
    vertical-align: top;
}

#default table.item td p {
    color: $zambezi;
}

#default table.balance {
    width: 85%;
    float: right;
    margin: 10px 7px 10px;
}

#default table.balance th,
#default table.balance td {
    width: 50%;
    text-align: right;
    padding: 0 2px;
    /* font-size: 11px; */
}

/* aside */

#default aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#default aside h1 {
    border-color: $nobel;
    border-bottom-style: solid;
}

/*footer*/

#default footer {
    border-top: 1px solid $eastern-blue;
    padding: 16px 0px 30px 0;
    margin: 8px 0 0;
    background: $white;
}
#default .company-address p {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
#default aside {
    line-height: 1.5rem;
}

#default .subfooter {
    padding: 10px 15px 0px 15px;
}

#default .subfooter hr {
    width: 100%;
    border-bottom: 1px solid $very-light-gray;
    margin: 3px 0;
}

#default .subfooter h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#default .docTitle {
    width: 100%;
    line-height: 20px;
    text-align: center;
    height: 26px;
    position: relative;
}

#default .docTitle h2 {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}

#default .docTitle h2:after {
    content: attr(title);
    width: auto;
    position: relative;
    background: $white;
    margin: 0 auto;
    padding: 6px 16px;
    right: 0;
    line-height: 24px;
    vertical-align: middle;
    z-index: 0;
    left: 0;
}

#default .docTitle h2.no-content:after {
    content: "";
    background: transparent;
}

#default p {
    margin: 0;
}

#default h2 {
    margin: 0;
    font-size: inherit;
}

#default table.item th .bgClr {
    position: absolute;
    top: 0;
    bottom: 0;
    background: aqua;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.05;
    z-index: 0;
}

.docTitle hr {
    position: absolute;
    height: 2px;
    top: 50%;
    width: 100%;
    height: 1px;
}

strong {
    font-weight: bold;
}

/* common template css  */

.title-template {
    font-size: 20px;
    font-family: "opensans-semibold";
}
.disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed $gray;
}

.edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: $white;
    width: 20px;
}

.edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.2em;
    text-align: center;
    font-size: 12px;
}

.inner {
    width: 60%;
    height: 1px;
    margin: 0px 0 auto auto;
    border-bottom: 1px solid $very-light-gray;
}

.green-row {
    border-bottom: solid 1px rgb(121, 189, 88);
    padding: 6px 16px;
}
.tax-table p {
    color: $zambezi;
}

.tax-table tfoot th {
    font-weight: bold;
}
.tax-table {
    table-layout: fixed;
}

.tax-table thead tr th,
.tax-table tbody tr td,
.tax-table tfoot tr th {
    padding: 6px;
    border-right: 1px solid $light-gray;
}

.tax-table thead tr th:last-child,
.tax-table tbody tr td:last-child,
.tax-table tfoot tr th:last-child {
    border-right: 0px solid;
}

table.tax-table.item {
    padding-top: 0px !important;
}
.tax-table.item tfoot tr th {
    border-bottom: 1px solid $light-gray;
}
.tax-table tbody tr td {
    border-top: 0px solid;
}
.warehouse-table {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    &:last-child {
        border-bottom: none;
    }
}
.warehouse-table tbody tr td {
    padding: 0px 20px 5px 10px;
}
.img-signature {
    text-align: center;
    vertical-align: bottom;
    width: 35%;
}
.inner-img-signature {
    height: 60px;
    min-width: 40px;
}
.eastern-blue-text {
    color: $eastern-blue;
}
.invoice-title {
    margin: 0 20px 0;
    position: relative;
    font-size: 14px;
    &:after {
        width: 40%;
        height: 1px;
        background-color: $eastern-blue;
        position: absolute;
        content: "";
        left: 15px;
        top: 10px;
    }
    &:before {
        width: 40%;
        height: 1px;
        background-color: $eastern-blue;
        position: absolute;
        content: "";
        right: 15px;
        top: 10px;
    }
}
