.item-padding {
    padding: 0 4px;
}

.height-30 {
    height: 30px;
}

.ledg-head.entry-popup table td.select2-ledger > sh-select {
    position: initial;
    margin-top: 1px;
}

table.width-100 {
    position: relative;
}

.currency-type {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.multi-currency-input {
    padding-right: 35px !important;
}

.modal-header ng-select {
    width: 339px !important;
}

.modal-header ng-select div {
    border: 0;
    background-color: transparent;
}

.modal-header ng-select div a.ng-star-inserted {
    font-size: 18px;
    color: var(--color-white);
}

.modal-header ng-select div i.fa.fa-caret-up::before {
    color: var(--color-white);
    font-size: 24px;
}

ng-select > div i.fa.fa-caret-down::before {
    color: var(--color-white);
    font-size: 20px;
}

ng-select > div a.ng-star-inserted {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 16px;
}

ng-select > div {
    background-color: transparent;
    border: none;
}

ng-select .select-drop i.fa.fa-caret-up::before {
    color: var(--color-white);
    font-size: 20px;
}

.transaction-particular-name {
    width: 100%;
    background: transparent;
    border: none !important;
    padding: 5px;
    color: var(--color-abbey);
}

.notfound-option.active {
    background: var(--color-dark-fog) !important;
    padding: 2px 5px !important;
}

.p-0 {
    padding: 0px !important;
}

.amount-total {
    font-size: 12px;
    color: var(--color-gray);
}

.other-tax {
    justify-content: flex-end;
    padding-top: 25px;
    display: flex;
    padding-left: 8px;
}

.total-col span.bd-rt {
    width: 150px;
    display: inline-flex;
    padding: 2px 0;
    justify-content: flex-end;
}

.ledger-main .form-control {
    background: var(--color-white) !important;
    top: 0px !important;
}

.ledger-book {
    position: relative;
    width: 100%;
    display: flex;
}

.left-col-new,
.right-col-new {
    width: 100%;
    padding-bottom: 100px;
    height: initial;
}

.ledg-head.entry-popup table td:last-child {
    border-right: 0px;
}

.custom-tabs {
    display: none !important;
}

.total-detail-table {
    display: flex;
}

.total-detail-table .table-amount {
    width: 100%;
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
    font-size: 12px;
    height: 60px;
    label {
        margin-top: 10px;
    }
}

.add-multicurrency .icon-box {
    padding-bottom: 0px;
    align-items: center;
}

.width-80 {
    width: 80px !important;
    min-width: 80px;
}

.download-invoice-ledger > i {
    background-color: var(--color-white);
    padding-left: 5px;
}

.checkbox-custom-label strong {
    display: contents;
}

span.eligible-ITC {
    font-size: 11px;
    cursor: pointer;
    padding-top: 5px;
    display: inline-block;
    span {
        color: var(--color-blue);
        font-size: 10px;
    }
}

.taxable-amount-section {
    display: inline-block;
    margin-bottom: 12px;
    .itc-label {
        margin-bottom: 4px;
    }
}

.adjust-receipt {
    padding: 10px;
    border: 1px solid var(--color-common-secondary-border);
    margin-top: 10px;
    position: relative;
}

.pd-r05 {
    padding-right: 5px;
}

.pd-l05 {
    padding-left: 5px;
}

.ledger-bottom {
    display: flex;
}

.ledger-head th {
    color: var(--color-giddh-blue);
    padding-left: 0;
    padding-bottom: 10px;
}

.update-ledger-account {
    align-items: center;
    span {
        padding-left: 5px;
        padding-top: 4px;
    }
    sh-select {
        width: 100%;
    }
}
.advanced {
    background: var(--color-dropdown-primary-background);
    table.xs-table-block {
        tr {
            td.remove-invoice {
                span:first-child {
                    font-size: 16px;
                    vertical-align: middle;
                    color: var(--color-abbey);
                    padding-right: 8px;
                }
                .remove-invoice-label {
                    vertical-align: middle;
                    color: var(--color-abbey);
                    font-size: 13px;
                }
            }
        }
    }
}
#update-ledger-select-account {
    width: 30%;
}
.edit-adjustment {
    padding: 0 5px 0;
}
.icon-info {
    color: var(--color-abbey);
    cursor: pointer;
    padding: 8px 5px 0;
}
.adjusted-info {
    background-color: var(--color-white);
    padding: 15px;
    z-index: 1;
    max-width: 360px;
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
    color: var(--color-abbey);
    .info-text {
        font-family: var(--font-regular);
    }
}
.left-col-new .row,
.right-col-new .row,
.ledger-head .row {
    margin: 0;
}
.show-if-ledger-open {
    height: 300px;
}
.dropdown-container[disabled],
.table-amount[disabled] {
    pointer-events: none;
}
#update-ledger-assign-tag.disabled-ledger::ng-deep .sh-select-disabled .bg-white {
    background-color: var(--color-dark-fog) !important;
}
#update-ledger-assign-tag.disabled-ledger::ng-deep input,
#update-ledger-select-warehouse.disabled-ledger::ng-deep input,
#update-ledger-price-input.disabled-ledger,
#update-ledger-invoice-voucher-number.disabled-ledger::ng-deep input,
#update-ledger-invoice-number.disabled-ledger::ng-deep input,
#update-ledger-select-variant.disabled-ledger::ng-deep input {
    background-color: var(--color-dark-fog) !important;
}
.tourist-scheme-wrapper {
    input[type="checkbox"] {
        opacity: 0;
    }
}
p.edit-message {
    background-color: var(--color-dark-fog);
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid var(--color-common-secondary-border);
    font-size: 16px;
    font-family: var(--font-semibold);
    margin-top: 15px;
}

.collapse-icons {
    font-size: 10px;
    border: 1px solid;
    padding: 2px;
}

.amount-width {
    width: 125px;
}

.tax-width {
    width: 100px;
}
.delete-attachment {
    margin-right: 14px;
    margin-left: 7px;
    float: right;
    margin-top: 1px;
    a {
        color: var(--color-dark-gray);
        font-size: 15px;
    }
}
/* responsive */

@media only screen and (max-width: 1359px) {
    .ledger-bottom {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .ledger-book {
        display: block;
    }
    .left-col-new,
    .right-col-new {
        width: 100% !important;
        float: left;
        height: initial;
        display: none;
    }
    .custom-tabs {
        display: block !important;
    }
    .left-col-new.active,
    .right-col-new.active {
        display: block !important;
    }
    .total-detail-table {
        flex-wrap: wrap;
    }
    .total-detail-table .table-amount {
        width: 100%;
        flex: 0 0 30%;
        white-space: initial;
    }
}

@media only screen and (max-width: 767px) {
    .last-table-amount {
        max-width: 100% !important;
    }
    .ledger-book .h-table tbody .ledger-row td {
        padding-left: 80px !important;
    }
    .card-table tbody tr td {
        padding-left: 90px !important;
        margin-right: 10px !important;
    }
    .ledger-footer-1 {
        position: absolute;
        bottom: 0;
    }
    .total-detail-table {
        flex-wrap: wrap;
    }
    .total-detail-table .table-amount {
        width: 100%;
        flex: 0 0 50%;
        max-width: 39%;
        white-space: initial;
    }
    .other-tax {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-top: 10px;
    }
    .entrypanel:before {
        display: none;
    }
    .total-amount-ledger {
        width: 100%;
    }
    .xs-table-block {
        width: 100%;
        display: block;
    }
    .xs-table-block tr td {
        display: block;
    }
    .ledg-head .ledger-book .left-col-new.bd-rr {
        border-right: 0 !important;
    }
    .remove-border-left-onmo {
        border-left: 0 !important;
    }
    .advanced input {
        width: 200px !important;
    }
    .file_attached span {
        white-space: initial;
        word-break: break-word;
        width: 100%;
        display: inline-block;
    }
    .entrypanel .primary-color {
        padding-left: 15px;
        padding-top: 5px;
    }
    .card-table tbody tr:last-child {
        border-bottom: none;
    }
    sh-select#credit-select,
    sh-select#debit-select {
        width: 185px;
    }
    #credit-select input,
    #debit-select input {
        border: 1px solid var(--color-iron) !important;
        height: 36px;
    }
    .ledger-main .form-control {
        width: 185px;
        height: 36px !important;
    }
    .debit-blank-row .amount-total {
        width: 185px;
        margin-top: 5px;
    }
    .currency-convertor {
        float: right;
        display: block;
        width: 100%;
        text-align: right;
        margin: 10px 0;
    }
    .entrypanel .bl-1 {
        border-left: 0;
    }
    .advanced input[type="checkbox"] {
        width: initial !important;
    }
    .xs-pt-0 {
        padding-top: 0px !important;
    }
    .adjustment-field .pd-r05 {
        padding-right: 15px;
    }
    .adjustment-field .pd-l05 {
        padding-left: 15px;
    }
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
.ledger-head th:first-child {
    span {
        position: relative;
        right: 15px;
    }
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.mat-expansion-panel,
.total-detail-table {
    .mat-input-element {
        box-sizing: border-box !important;
    }
}

@media (max-width: 1075px) {
    .icon-box {
        padding: 10px 0px 0 0px;
    }
}

@media (max-width: 991px) {
    .ledger-head {
        display: none !important;
    }
    .ledg-head {
        .custom-tabs {
            .nav.nav-tabs {
                width: 100%;
                top: 0px !important;
                padding-top: 0px !important;
                left: 0px !important;
            }
        }
    }
    .ledger-book {
        padding-top: 15px;
    }
}
@media (min-width: 1301px) and (max-width: 1386px) {
    .reference-invoice {
        width: 150px;
    }
}
