<ng-container appTranslate [file]="'invoice'" (localeData)="localeData = $event">
    <section>
        <nav class="navbar">
            <div class="invoice-control w-100 white-bg">
                <div class="row mr-0 ml-0">
                    <div class="w-100">
                        <div class="video-link position-absolute" *ngIf="['sales', 'settings', 'templates'].includes(activeTab)">
                            <watch-video
                                *ngIf="activeTab === 'sales'"
                                [cssClass]="'text-primary pr-0'"
                                [moduleName]="'SALES_PREVIEW'"
                            ></watch-video>
                            <watch-video
                                *ngIf="activeTab === 'settings'"
                                [cssClass]="'text-primary pr-0'"
                                [moduleName]="'INVOICE_SETTING'"
                            ></watch-video>
                            <watch-video
                                *ngIf="activeTab === 'templates'"
                                [cssClass]="'text-primary pr-0'"
                                [moduleName]="'INVOICE_TEMPLATE'"
                            ></watch-video>
                        </div>
                        <hamburger-menu class="header-hamburger-menu position-absolute" *ngIf="localeData?.tabs"></hamburger-menu>
                        <ng-template
                            [ngIf]="selectedVoucherType === 'debit note' || selectedVoucherType === 'credit note'"
                        >
                            <mat-tab-group 
                                #staticTabs
                                class="table-header-sticky"
                                mat-stretch-tabs="false" 
                                mat-align-tabs="start"
                                [selectedIndex]="getTabIndex(activeTab, 'debitCredit')"
                                (selectedTabChange)="onTabChange($event, 'debitCredit')">
                                <mat-tab
                                    [label]="localeData?.tabs?.debit_note"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'debit note'" class="debit-note">
                                            <app-invoice-preview
                                                [selectedVoucher]="selectedVoucherType"
                                            ></app-invoice-preview>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.credit_note"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'credit note'">
                                            <app-invoice-preview
                                                [selectedVoucher]="selectedVoucherType"
                                            ></app-invoice-preview>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.pending"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'pending'">
                                            <app-invoice-generate [selectedVoucher]="selectedVoucherType">
                                            </app-invoice-generate>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    *ngIf="!isMobileView"
                                    [label]="localeData?.tabs?.templates"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'templates'">
                                            <edit-invoice></edit-invoice>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab
                                    [label]="localeData?.tabs?.settings"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'settings'">
                                            <app-invoice-setting
                                                [selectedVoucher]="selectedVoucherType"
                                            ></app-invoice-setting>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-template>

                        <ng-template
                            [ngIf]="selectedVoucherType !== 'debit note' && selectedVoucherType !== 'credit note'"
                        >
                            <mat-tab-group 
                                #staticTabs
                                class="table-header-sticky"
                                mat-stretch-tabs="false" 
                                mat-align-tabs="start"
                                [selectedIndex]="getTabIndex(activeTab, 'main')"
                                (selectedTabChange)="onTabChange($event, 'main')">
                                <mat-tab
                                    [label]="localeData?.tabs?.estimates"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'estimates'">
                                            <app-proforma-list-component [voucherType]="selectedVoucherType">
                                            </app-proforma-list-component>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.proformas"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'proformas'">
                                            <app-proforma-list-component [voucherType]="selectedVoucherType">
                                            </app-proforma-list-component>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.invoices"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'sales'">
                                            <app-invoice-preview
                                                [selectedVoucher]="selectedVoucherType"
                                            ></app-invoice-preview>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.recurring"
                                    [ngClass]="voucherApiVersion === 2 ? 'd-none' : ''"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'recurring'">
                                            <app-recurring></app-recurring>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.pending"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'pending'">
                                            <app-invoice-generate [selectedVoucher]="selectedVoucherType">
                                            </app-invoice-generate>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.templates"
                                    *ngIf="!isMobileView"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'templates'">
                                            <edit-invoice></edit-invoice>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab
                                    [label]="localeData?.tabs?.settings"
                                >
                                    <div class="pd-t15 pd-b15">
                                        <div *ngIf="activeTab === 'settings'">
                                            <app-invoice-setting
                                                [selectedVoucher]="selectedVoucherType"
                                            ></app-invoice-setting>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-template>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</ng-container>
