<section>
    <nav class="navbar">
        <div class="invoce-controll">
            <div class="row" style="margin: 0 !important;">
                <div class="btn-group" dropdown *ngIf="selectedVoucherType === 'debit note' || selectedVoucherType === 'credit note' && tabsDropdown">
                    <button id="button1-basic" dropdownToggle type="button" class="btn more-btn-dropdown dropdown-toggle" aria-controls="dropdown-basic"></button>
                        <ul id="dropdown1-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item cp">Debit Note</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">Credit Note</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">Pending</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">Template</a>
                            </li>
                        </ul>
                </div>
                <div class="btn-group tabs-dropdown" dropdown *ngIf="selectedVoucherType !== 'debit note' && selectedVoucherType !== 'credit note' && tabsDropdown">
                    <button id="button1-basic" dropdownToggle type="button" class="btn more-btn-dropdown dropdown-toggle" aria-controls="dropdown-basic">
                        Estimates
                        <span class="caret"></span>
                    </button>
                        <ul id="dropdown1-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item cp">estimates</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">proformas</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">sales</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">recurring</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">pending</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">settings</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item cp">template</a>
                            </li>


                            
                        </ul>
                </div>

                <!--<invoice-page-dd (pageChanged)="goToRoute($event)" (selectVoucher)="voucherChange($event)"></invoice-page-dd>-->
                <div id="setting-tab">
                    <ng-template [ngIf]="selectedVoucherType === 'debit note' || selectedVoucherType === 'credit note'">

                        
                        <tabset #staticTabs>

                            <tab heading="Debit Note" [active]="activeTab === 'debit note'" (select)="tabChanged('debit note', $event);voucherChanged('debitNote')">
                                <div *ngIf="activeTab === 'debit note'" class="debit-note">
                                    <app-invoice-preview [selectedVoucher]="selectedVoucherType"></app-invoice-preview>
                                </div>
                            </tab>

                            <tab heading="Credit Note" [active]="activeTab === 'credit note'" (select)="tabChanged('credit note', $event);voucherChanged('creditNote')">
                                <div *ngIf="activeTab === 'credit note'">
                                    <app-invoice-preview [selectedVoucher]="selectedVoucherType"></app-invoice-preview>
                                </div>
                            </tab>

                            <tab heading="Pending" (select)="tabChanged('pending', $event, 'debit note');" [active]="activeTab === 'pending'">
                                <div *ngIf="activeTab === 'pending'">
                                    <app-invoice-generate [selectedVoucher]="selectedVoucherType">
                                    </app-invoice-generate>
                                </div>
                            </tab>

                            <tab *ngIf="!isMobileView" heading="Templates" (select)="tabChanged('templates', $event, 'debit note');" [active]="activeTab === 'templates'">
                                <div *ngIf="activeTab === 'templates'">
                                    <edit-invoice></edit-invoice>
                                </div>
                            </tab>

                            <tab heading="Setting" (select)="tabChanged('settings', $event , 'debit note')" [active]="activeTab === 'settings'">
                                <div *ngIf="activeTab === 'settings'">
                                    <app-invoice-setting></app-invoice-setting>
                                </div>
                            </tab>

                        </tabset>

                    </ng-template>


                    <ng-template [ngIf]="selectedVoucherType !== 'debit note' && selectedVoucherType !== 'credit note'">

                        <tabset #staticTabs>

                            <tab heading="Estimates (Beta)" (select)="tabChanged('estimates', $event);
                   voucherChanged('generateEstimate')" [active]="activeTab === 'estimates'">
                                <div *ngIf="activeTab === 'estimates'">
                                    <app-proforma-list-component [voucherType]="selectedVoucherType">
                                    </app-proforma-list-component>
                                </div>
                            </tab>

                            <tab heading="Proformas" (select)="tabChanged('proformas', $event);voucherChanged('generateProforma')" [active]="activeTab === 'proformas'">
                                <div *ngIf="activeTab === 'proformas'">
                                    <app-proforma-list-component [voucherType]="selectedVoucherType">
                                    </app-proforma-list-component>
                                </div>
                            </tab>

                            <tab heading="Invoices" (select)="tabChanged('sales', $event);voucherChanged('sales')" [active]="activeTab === 'sales'">
                                <div *ngIf="activeTab === 'sales'">
                                    <app-invoice-preview [selectedVoucher]="selectedVoucherType"></app-invoice-preview>
                                </div>
                            </tab>

                            <tab heading="Recurring" (select)="tabChanged('recurring', $event)" [active]="activeTab === 'recurring'">
                                <div *ngIf="activeTab === 'recurring'">
                                    <app-recurring></app-recurring>
                                </div>
                            </tab>

                            <tab heading="Pending" (select)="tabChanged('pending',$event, 'sales');" [active]="activeTab === 'pending'">
                                <div *ngIf="activeTab === 'pending'">
                                    <app-invoice-generate [selectedVoucher]="selectedVoucherType">
                                    </app-invoice-generate>
                                </div>
                            </tab>

                            <tab heading="Templates" *ngIf="!isMobileView" (select)="tabChanged('templates', $event, 'sales');" [active]="activeTab === 'templates'">
                                <div *ngIf="activeTab === 'templates'">
                                    <edit-invoice></edit-invoice>
                                </div>
                            </tab>

                            <tab heading="Settings" (select)="tabChanged('settings', $event, 'sales')" [active]="activeTab === 'settings'">
                                <div *ngIf="activeTab === 'settings'">
                                    <app-invoice-setting></app-invoice-setting>
                                </div>
                            </tab>
                            <tab heading="Purchase Order">
                                <div>
                                    <!-- <purchase-order></purchase-order> -->
                                </div>
                            </tab>
                            <tab heading="Purchase Bill">
                                <div>
                                    <!-- <app-invoice-preview></app-invoice-preview> -->
                                </div>
                            </tab>
                            <tab heading="Pending">
                                <div>
                                </div>
                            </tab>
                            <tab heading="Setting">
                                <div>
                                </div>
                            </tab>

                        </tabset>

                    </ng-template>

                    <!-- Purchase order tabs -->

                    <ng-template>
                        <tabset #staticTabs>
                            <tab heading="Purchase Order">
                                <div>
                                </div>
                            </tab>
                        </tabset>
                    </ng-template>
                </div>

            </div>
        </div>
    </nav>


    <!--<router-outlet></router-outlet>-->

</section>