.create-template-aside {
    .sticky-header {
        z-index: 10;
        box-shadow: 0 2px 4px var(--color-shadow-light);
        overflow: visible;
    }

    .scrollable-content {
        flex: 1;
        height: calc(100vh - 80px);
    }

    .template-left-side {
        width: 45%;
    }

    .template-right-side {
        width: 65%;
    }
}
