.ocr-container {
    max-width: var(--center-content-max-width);

}

.td-search-box {
    padding: 0 0 0 10px !important;
}

.action-icon {
    visibility: hidden;
    transition: 0ms;
}

tr {
    &:hover {
        .action-icon {
            visibility: visible;
            z-index: 9999;
        }
    }
}
