.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.your-account span {
    display: block;
    font-size: 16px;
    color: #9b9b9b;
    margin-bottom: 10px;
}

.your-account p {
    color: #2c2c2c;
    font-size: 16px;
}

.your-account p.success-text {
    color: #2fab4a !important;
}

.welcome-msg {
    padding: 25px 15px 0;
}

.choose-ur-plan {
    padding-top: 40px;
}

.your-account {
    padding-top: 12px;
}

.choose-ur-plan label.radio-inline {
    display: block;
}
.select-plan-block {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
    .welcome-msg .btn-default {
        margin-top: 10px;
    }
    .select-plan-block {
        margin-bottom: 10px;
    }
}
@media (max-width: 414px) {
    .your-account span,
    .your-account p {
        font-size: 14px;
    }
    .choose-ur-plan {
        padding-top: 0px;
        margin-bottom: 20px;
    }
}
