.multi-select .caret {
    display: block !important;
}
.fa-percent {
    top: 9px;
    right: 6px;
    color: var(--color-gray);
}
.discount-name-ul {
    list-style: none;
    overflow: auto;
    max-height: 100px;
    min-height: 88px;
}
.width-50 {
    width: 50px;
}
.value-width {
    width: 110px;
}
.percentage-width {
    padding-right: 22px !important;
}
.label-line {
    line-height: 1.4 !important;
}
.custom-item {
    height: 40px;
    padding-left: 5px;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
