.multi-select .caret {
    display: block !important;
}
.fa-percent {
    top: 9px;
    right: 6px;
    color: var(--color-gray);
}
.discount-name-ul {
    list-style: none;
    overflow: auto;
    max-height: 100px;
}
.width-50 {
    width: 50px;
}
.value-width {
    width: 80px;
}
.percentage-width {
    padding-right: 22px !important;
    width: 80px;
}
.label-line {
    line-height: 1.4 !important;
}
