@import "../../../../../assets/css/color.scss";

:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 580px;
    z-index: 99999;
}

#close {
    display: none;
}

:host.in #close {
    display: block;
    position: fixed;
    left: -41px;
    top: 0;
    z-index: 5;
    border: 0;
    border-radius: 0;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 100%;
    max-width: 580px;
    background: $white;
}

.aside-pane {
    width: 100%;
}

.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexy-child-1 {
    flex-grow: 1;
}

.vertical-align-middle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

.destination-right {
    margin-right: 20% !important;
}

.product-right {
    margin-right: 24% !important;
}

.quantity-right {
    margin-right: 9% !important;
}

.unit-right {
    margin-right: 9% !important;
}

.form-items {
    .form-group {
        margin-right: 2% !important;
    }
}
