<div class="middleBody bdrR bdrL row" auto-height>

  <!-- <div class="no-data" *ngIf="!srchDataFound">
  <h1>Sorry, No Data Found!</h1>
  <img src="/public/webapp/images/no-data.png" alt="">
  </div> -->

  <div class="loader mrT4" *ngIf="searchLoader$ | async">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- result -->
  <section class="pd2" *ngIf="!(searchLoader$ | async)">
    <search-filter (isFiltered)="resetFilters($event)" (createCsv)="createCSV()"
                   (searchQuery)="filterData($event)"></search-filter>

    <table class="mrT2 table table-bordered table-striped">
      <thead>
      <tr>
        <th class="col-xs-2">
          <div ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-2">
          <div ng-click="sortType = 'uniqueName'; sortReverse = !sortReverse">
            UniqueName
            <span ng-show="sortType == 'uniqueName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'uniqueName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-2">
          <div ng-click="sortType = 'openingBalance'; sortReverse = !sortReverse">
            Opening Bal.
            <span ng-show="sortType=='openingBalance' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType=='openingBalance' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-1">
          <div ng-click="sortType = 'debitTotal'; sortReverse = !sortReverse">
            DR Total
            <span ng-show="sortType == 'debitTotal' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'debitTotal' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-1">
          <div ng-click="sortType = 'creditTotal'; sortReverse = !sortReverse">
            CR Total
            <span ng-show="sortType == 'creditTotal' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'creditTotal' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-2">
          <div ng-click="sortType = 'closingBalance'; sortReverse = !sortReverse">
            Closing Bal.
            <span ng-show="sortType=='closingBalance' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType=='closingBalance' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
        <th class="col-xs-2">
          <div ng-click="sortType = 'parent'; sortReverse = !sortReverse">
            Parent
            <span ng-show="sortType == 'parent' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'parent' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of searchResponse$ | async">
        <td>{{item.name}}</td>
        <td>{{item.uniqueName}}</td>
        <td class="alR">
          <span *ngIf="item.openingBalance > 0">
          <span class="text-success pull-left" *ngIf="item.openBalType === 'DEBIT'">DR</span>
          <span class="text-danger pull-left" *ngIf="item.openBalType === 'CREDIT'">CR</span>
          &nbsp;
          </span>
          {{item.openingBalance }}
        </td>
        <td class="alR">{{item.debitTotal }}</td>
        <td class="alR">{{item.creditTotal}}</td>
        <td class="alR">
          <span *ngIf="item.closingBalance > 0">
          <span class="text-success pull-left" *ngIf="item.closeBalType === 'DEBIT'">DR</span>
          <span class="text-danger pull-left" *ngIf="item.closeBalType === 'CREDIT'">CR</span>
          &nbsp;
          </span>
          {{item.closingBalance }}
        </td>
        <td>{{item.parent}}</td>
      </tr>
      </tbody>
    </table>
  </section>
  <!-- end pd div -->

</div>
