.modal-body .grp-col {
    max-width: 58.333%;
}

.height-in-vh {
    height: calc(100vh - 70px);
}

.close {
    color: var(--color-primary-right-side-popup-header-text) !important;
    opacity: 1 !important;
    text-shadow: none !important;
    font-size: var(--font-size-30) !important;
    line-height: 36px;
    &:hover {
        color: var(--color-primary-right-side-popup-header-text) !important;
    }
}

@media (max-width: 767px) {
    .search-account {
        float: none !important;
    }
    .search-bar .form-control {
        position: relative;
        top: 0;
    }
    .modal-header {
        border-radius: 0px;
    }
}

@media (max-width: 575px) {
    .manage-group-acc .col-xs-6 {
        width: 100%;
        margin-bottom: 5px;
    }
    .manage-group-acc .search-bar-wrapper {
        float: none !important;
    }
    .form-group.search-bar {
        margin-bottom: 0;
    }
    .manage-group-acc .modal-header {
        padding: 0 15px 10px;
    }
    .manage-group-acc .modal-title {
        font-size: var(--font-size-16) !important;
    }
}
