@import "../../../../../assets/css/color.scss";

.modal-body .grp-col {
    max-width: 58.333%;
}
.custom-filed-list-wrapper {
    padding: 15px;
    height: 768px;
    overflow-y: auto;
    form {
        max-width: 1280px;
        width: 100%;
    }
    label {
        line-height: 2.3;
    }
    .edit-close-btn {
        .close-button {
            margin-right: 15px;
            i {
                font-size: 18px;
            }
        }
        i {
            color: $black !important;
        }
    }
}

.height-in-vh {
    height: calc(100vh - 70px);
}

.close {
    color: $white !important;
    opacity: 1 !important;
    text-shadow: none !important;
    font-size: 30px !important;
    &:hover {
        color: $white !important;
    }
}
@media (max-height: 800px) {
    .custom-filed-list-wrapper {
        height: 550px;
        overflow-y: auto;
    }
}
@media (max-width: 767px) {
    .search-account {
        float: none !important;
    }
    .search-bar .form-control {
        position: relative;
        top: 0;
    }
    .modal-header {
        border-radius: 0px;
    }
}

@media (max-width: 575px) {
    .manage-group-acc .col-xs-6 {
        width: 100%;
        margin-bottom: 5px;
    }
    .manage-group-acc .search-bar-wrapper {
        float: none !important;
    }
    .form-group.search-bar {
        margin-bottom: 0;
    }
    .manage-group-acc .modal-header {
        padding: 0 15px 10px;
    }
    .manage-group-acc .modal-title {
        font-size: 16px !important;
    }
}
