.date-advance-search {
    justify-content: space-between;
    align-items: center;
    .form-group {
        display: inline-flex;
        .input-wrapper {
            display: block !important;
            width: 230px !important;
            position: relative;
            height: 36px !important;
            border: 1px solid var(--color-primary-button-border);
            background-color: var(--color-white);
            &:before {
                position: absolute;
                content: "";
                display: block;
                height: 36px;
                width: 1px;
                background-color: var(--color-iron);
                left: 37px !important;
                z-index: 100;
                top: 0;
            }
            input.form-control {
                padding-left: 35px !important;
                background-size: 17px !important;
                background-position: 9px 8px !important;
                background-repeat: no-repeat !important;
                padding-left: 45px !important;
                position: relative;
                z-index: 99;
                cursor: default;
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .advance-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-15);
        margin-left: 10px;
        border-radius: 5px;
    }
    .search-icon-block {
        width: 36px;
        height: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-16);
        margin-left: 10px;
        border: 1px solid var(--color-primary-button-border);
        border-radius: 5px;
        color: var(--color-abbey);
        background: var(--color-white);
        color: var(--color-abbey);
        &:hover {
            background: var(--color-dark-fog);
        }
    }
}
.search-icon-block {
    display: none;
}
.clear-filter {
    button.btn.btn-default {
        font-size: var(--font-size-15);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
        .icon-cross {
            margin-right: 5px;
        }
    }
}

.check-img img {
    max-height: 14px;
    cursor: pointer;
}

.giddh-table {
    tr {
        td {
            .action-icon {
                display: flex;
                align-items: center;
                border: 1px solid var(--color-primary-button-border);
                border-radius: 5px;
                a {
                    width: 30px;
                    font-size: var(--font-size-16);
                    color: var(--color-abbey);
                    border-right: 1px solid var(--color-primary-button-border);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                    cursor: pointer;
                    align-items: stretch;
                    height: 30px;
                    align-items: center;
                    background-color: var(--color-white);
                }
                &:last-child {
                    border-right: none !important;
                }
            }
        }
    }
    &:hover {
        td {
            .action-icon {
                display: flex !important;
            }
        }
    }
}

.table-checkbox-field {
    img {
        width: 14px;
    }
}
.btn-group.open.show {
    display: inline-block !important;
}
.purchase-order-bulk-update {
    .modal-header {
        border-radius: 5px 5px 0 0;
        h4 {
            color: var(--color-white);
        }
    }
    .select-date {
        .input-group {
            display: block;
            .form-control:focus {
                z-index: 2;
            }
            input {
                width: 100% !important;
                min-width: 100%;
                flex: 1 auto;
            }
            .input-group-addon {
                background-color: transparent;
                position: absolute;
                border: none;
                z-index: 2;
                right: 0;
                top: 0;
                color: var(--color-abbey);
            }
        }
    }
    .modal-form {
        sh-select,
        .select-date {
            width: 100%;
        }
    }
    p {
        color: var(--color-abbey);
        font-size: var(--font-size-15);
    }
    .btn-group {
        .btn {
            border-radius: 2px !important;
        }
    }
}
.mobile-search {
    display: none;
}
.check-uncheck,
.download-purchase-order {
    display: none;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-mobile {
    .d-flex {
        padding: 14px 0;
    }
}
.giddh-table {
    border-bottom: 1px solid var(--color-gray) !important;
    tbody {
        tr {
            td {
                margin-top: -1px !important;
                &:last-child {
                    border-bottom: none !important;
                }
                &.status-mobile {
                    border-bottom: none !important;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .purchase-order-header {
        margin-bottom: 15px;
    }
    .action-icon {
        display: flex !important;
        margin-left: 0px;
        margin-top: 5px;
    }
    .status-mobile {
        display: flex !important;
        justify-content: space-between !important;
    }
    .mobile-search {
        flex-direction: row;
        margin-top: 15px;
    }
    .add-invoice {
        display: none;
    }
    .search-icon-block {
        display: flex !important;
    }
    .full-width-on-mobile {
        width: 100%;
        margin: 5px 0;
    }
    .download-purchase-order {
        width: 30px;
        height: 30px;
        border: 1px solid var(--color-primary-button-border);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        top: 3px;
        border-radius: 2px;
        background-color: var(--color-white);
    }
    .giddh-table {
        tr {
            td {
                &::before {
                    left: 15px;
                }
                .action-icon {
                    a {
                        height: 24px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .mobile-search {
        margin-top: 0;
        display: flex;
    }
    .purchase-order-header {
        margin-top: 0;
    }
}
@media (max-width: 575px) {
    .purchase-order-header {
        width: 100%;
        align-items: flex-start;
        form {
            width: 100%;
            .form-group {
                display: flex;
                margin-right: 0;
            }
        }
        .date-advance-search {
            width: 100%;
            flex-direction: column-reverse;
            .btn-wrapper {
                margin-right: auto;
            }
        }
        .add-invoice {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .clear-filter {
            button.btn.btn-default {
                width: 100%;
                justify-content: center;
            }
        }
    }
    .mobile-search {
        margin-top: 0;
        display: flex;
    }

    .check-uncheck {
        display: flex;
    }

    .advance-icon {
        height: 36px;
        margin-left: auto;
    }
    .more-toggle {
        margin-top: 15px;
        .btn-primary {
            margin-right: 0 !important;
        }
    }
}
.ontime-delivery {
    color: var(--color-secondary-success);
}
.late-delivery {
    color: var(--color-danger);
}

@media (max-width: 445px) {
    .status-mobile {
        display: block !important;
    }

    .giddh-table {
        tr {
            td {
                .action-icon {
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 445px) {
    .status-mobile::before {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .min-wid-status {
        min-width: 270px;
    }

    .min-wid-check {
        min-width: 14px;
        .check-img {
            width: 14px;
        }
    }

    .min-wid-amt {
        min-width: 170px;
    }
}

@media (min-width: 769px) {
    .table-responsive {
        max-height: calc(100vh - 230px);
        overflow-y: auto;
    }
}
