<div appTranslate [file]="'downloads/exports'" (commonLocaleData)="commonLocaleData = $event" (localeData)="localeData = $event">
    <div class="download-table-container overflow-visible p-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <div class="custom-datepicker-wrapper">
                    <div
                        class="custom-datepicker"
                        [matMenuTriggerFor]="universalDatepicker"
                        #universalDatepickerTrigger="matMenuTrigger"
                        role="button"
                        aria-haspopup="true"
                        aria-controls="universalDatepicker"
                    >
                        <input
                            matInput
                            type="text"
                            name="selectedDateRange"
                            [value]="selectedDateRangeUi ? selectedDateRangeUi : ''"
                            class="giddh-datepicker date-range-picker"
                            readonly
                        />
                    </div>
                </div>
                <div class="clear-filter" *ngIf="showClearFilter">
                    <button matButton="outlined" class="min-width-100 ml-2" (click)="resetFilter()">
                        <span class="icon-cross icon-font-size-14"></span>
                        {{ commonLocaleData?.app_clear_filter }}
                    </button>
                </div>
            </div>
            <button
                matButton="outlined"
                class="btn-stroked-icon"
                (click)="getDownloads()"
                [matTooltip]="commonLocaleData?.app_refresh"
                [matTooltipPosition]="'above'"
            >
                <span class="icon-refresh"></span>
            </button>
        </div>
        <div *ngIf="isLoading">
            <giddh-page-loader></giddh-page-loader>
        </div>
        <div *ngIf="!isLoading && dataSource?.length" class="overflow-visible">
            <table mat-table [dataSource]="dataSource" class="download-table">
                <!-- Requested Date Column -->
                <div matColumnDef="requestedDate">
                    <th mat-header-cell *matHeaderCellDef>{{ localeData?.requested_date }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.date | giddhDate }}</td>
                </div>

                <!-- User Column -->
                <div matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>{{ localeData?.user }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
                </div>

                <!-- Services Column -->
                <div matColumnDef="services">
                    <th mat-header-cell *matHeaderCellDef>{{ commonLocaleData?.app_services }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </div>

                <!-- Filter Column -->
                <div matColumnDef="filter">
                    <th mat-header-cell *matHeaderCellDef>{{ commonLocaleData?.app_filter }}</th>
                    <td mat-cell *matCellDef="let element">
                        <button matMiniFab class="download-table-btn" aria-label="info icon" (click)="openDialog(element)">
                            <i class="icon-info theme-foreground-color"></i>
                        </button>
                    </td>
                </div>

                <!-- Download Column -->
                <div matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef>{{ commonLocaleData?.app_status }}</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="download-text" *ngIf="element?.status !== 'COMPLETED'">
                            {{ element?.status }}
                        </div>
                        <a
                            target="_blank"
                            [href]="element.s3Path"
                            *ngIf="!isElectron && element.status === 'COMPLETED'"
                            matButton="filled"
                            class="download-button-status desktop"
                        >
                            {{ commonLocaleData?.app_download }}
                        </a>
                        <a
                            *ngIf="isElectron && element.status === 'COMPLETED'"
                            (click)="downloadFile(element.s3Path)"
                            matButton="filled"
                            class="download-button-status electron"
                        >
                            {{ commonLocaleData?.app_download }}
                        </a>
                    </td>
                </div>

                <!-- Expiry Column -->
                <div matColumnDef="expiry">
                    <th mat-header-cell *matHeaderCellDef>{{ localeData?.expiry }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.expireAt | giddhDate }}</td>
                </div>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
                *ngIf="downloadRequest?.totalItems > pageSizeOptions[0] && !isLoading"
                [length]="downloadRequest?.totalItems"
                [pageSize]="downloadRequest.count"
                [pageIndex]="downloadRequest.page - 1"
                [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"
                [hidePageSize]="false"
                (page)="handlePageEvent($event)"
            ></mat-paginator>
            <section class="mb-custom-80"></section>
        </div>
        <section class="no-logs" *ngIf="!dataSource?.length && !isLoading">
            <div class="no-data">
                <h2>{{ commonLocaleData?.app_no_record_found }}</h2>
            </div>
        </section>
    </div>
</div>
<mat-menu #universalDatepicker="matMenu" class="universal-datepicker-menu-panel" xPosition="after">
    <ng-template matMenuContent>
        <app-datepicker-wrapper
            [inputStartDate]="selectedDateRange?.startDate"
            [inputEndDate]="selectedDateRange?.endDate"
            [alwaysShowCalendars]="true"
            [ranges]="datePickerOptions"
            [selectedRangeLabel]="selectedRangeLabel"
            [showCustomRangeLabel]="true"
            [showClearButton]="false"
            [showCancel]="true"
            [linkedCalendars]="true"
            [showDropdowns]="true"
            (rangeClicked)="dateSelectedCallback($event)"
            (datesUpdated)="dateSelectedCallback($event)"
            (closeCalender)="toggleGiddhDatepicker(false)"
            [keepCalendarOpeningWithRange]="false"
            [showRangeLabelOnInput]="false"
        ></app-datepicker-wrapper>
    </ng-template>
</mat-menu>
