.download-table-container {
    .download-table {
        width: 100%;
        .download-table-btn {
            background-color: var(--color-transparent);
            box-shadow: none;
            border-radius: var(--mat-border-radius-4);
            i {
                font-size: 16px;
            }
        }
        .mat-row {
            .mat-cell:first-child {
                color: var(--color-dark-gray) !important;
            }
        }
    }
    .custom-datepicker-wrapper {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .download-button-status {
        min-width: 160px;
        max-width: 160px;
        text-align: center;
    }
    .download-text {
        width: 160px;
        min-width: 160px;
    }

}
