@import "../../../../assets/css/color.scss";

.transaction-list .box {
    height: 400px;
    overflow-y: auto;
}
.campanien-list ul {
    list-style-type: none;
    height: 300px;
    overflow-y: auto;
}
.transaction-list .campanien-list {
    min-height: 0;
}
.subscription-table th {
    padding: 15px !important;
    font-family: "opensans-regular" !important;
}
.subscription-table tbody tr td,
.head-title {
    border: 0px;
    font-size: 15px;
    padding: 15px !important;
    font-family: inherit !important;
}
.transection-popup {
    position: absolute;
    right: 0;
    top: -60px;
    background: #fff7f7;
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #e01b1b;
}
.subscription-dropdown {
    display: block;
    clear: both;
}
.subscription-dropdown .btn {
    border: 1px solid #c4c0c0;
    width: 342px;
    text-align: left;
    background: white;
}
.subscription-dropdown .btn .caret {
    margin-top: 9px;
    float: right;
}
.subscription-dropdown .dropdown-menu {
    width: 342px;
    margin-top: 9px;
    max-height: 300px;
    overflow-y: auto;
}
.subscription-dropdown .dropdown-menu li {
    padding: 5px 4px;
    border-bottom: 1px solid #e6e6e6;
    transition: 0.5s all ease;
}
.subscription-dropdown li a {
    display: block;
    align-items: center;
    position: relative;
    padding-right: 60px;
}
.subscription-dropdown li:hover a,
.subscription-dropdown li:hover {
    background: #f1f1f1;
}
.subscription-dropdown .dropdown-menu li a span {
    position: absolute;
    top: 40%;
    right: 8px;
}
.transaction-list .box,
.transaction-list .box2,
.transaction-list .campanien-list ul {
    height: auto !important;
}
.subscription-table {
    border: 1px solid $gainsboro;
}
.custom-dropdown .dropdown-toggle {
    background: no-repeat;
    border: 0px;
    font-size: 20px;
    padding: 0px;
    color: $nobel;
    line-height: 14px;
}
.associated-companies > ul > li {
    border-bottom: 1px solid $gainsboro;
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.associated-companies > ul > li > a {
    color: #1C1C1C;
    font-size: 14px;
    padding: 12px 20px;
    display: inline-block;
}
.associated-companies > ul > li > a span {
    margin-right: 20px;
}
.associated-companies > ul > li > a:hover {
    color: $deep-sky-blue;
}
.active {
    color: $light-green;
    font-size: 14px;
}
.green-dote, .red-dote {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 40px;
    background-color: $light-green;
}
.red-dote {
    background-color: $red;
}
.basic > tbody > tr td:first-child, .basic > thead > tr th:first-child {
    border-left: 0px solid #ddd !important;
}
.basic > tbody > tr td:last-child, .basic > thead > tr th:last-child {
    border-right: 0px solid #ddd !important;
}
.table-subscription {
    border-right: 1px solid $gainsboro;
    border-left: 1px solid $gainsboro;
    border-bottom: 1px solid $gainsboro;
    min-height: 360px;
    overflow-y: auto;
}
.left-div {
    border-left: 1px solid $gainsboro;
    padding-left: 0px;
    padding-bottom: 60px;
}
.giddh-table tbody {
    tr:last-child {
        td {
            border-bottom: 0px solid $gainsboro !important;
        }
    }
}
.buy-transactions {
    position: absolute;
    bottom: 0;
    left: 0;
}
.plan-list > li {
    padding-right: 40px;
}
.section_head {
    margin-bottom: 10px;
}
.associated-companies-list {
    max-height: 600px;
    overflow-y: auto;
}
.plan-row {
    color: $nero;
}
.btn-group.custom-dropdown {
    line-height: 14px;
}

@media only screen and (max-width: 1024px) {
    .table-subscription {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .transection-popup {
        position: relative;
        top: 0px;
    }
    .xs-pr-0 {
        padding-right: 0px !important;
    }
    .xs-pl-0 {
        padding-left: 0px !important;
    }
}
