.transaction-list .box {
    height: 400px;
    overflow-y: auto;
}
.company-list ul {
    list-style-type: none;
    height: 300px;
    overflow-y: auto;
}
.transaction-list .company-list {
    min-height: 0;
}
.subscription-table th {
    padding: 15px !important;
    font-family: "opensans-regular" !important;
}
.subscription-table tbody tr td,
.head-title {
    border: 0px;
    font-size: 15px;
    padding: 15px !important;
    font-family: inherit !important;
}
.transaction-popup {
    position: absolute;
    right: 0;
    top: -60px;
    background: var(--color-lavender);
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid var(--color-danger);
}
.subscription-dropdown {
    display: block;
    clear: both;
}
.subscription-dropdown .btn {
    border: 1px solid var(--color-gainsboro);
    width: 342px;
    text-align: left;
    background: var(--color-white);
}
.subscription-dropdown .btn .caret {
    margin-top: 9px;
    float: right;
}

.dropdown-menu {
    position: absolute;
    /*top: 100%;*/
    /* left: 0; */
    z-index: 99;
    min-width: 160px;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: var(--color-dropdown-primary-background);
    background-clip: padding-box;
    border: 1px solid var(--color-gainsboro);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.subscription-dropdown .dropdown-menu {
    max-width: 400px;
    width: 100%;
    margin-top: 0;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9;
}
.subscription-dropdown .dropdown-menu li {
    padding: 5px 4px;
    border-bottom: 1px solid var(--color-gainsboro);
    transition: 0.5s all ease;
}
.subscription-dropdown .dropdown-menu li.active {
    background: var(--color-lavender);
}
.subscription-dropdown .dropdown-menu li.active a,
.subscription-dropdown .dropdown-menu li.active a strong {
    background: none;
    color: var(--color-chetwode-blue);
}
.subscription-dropdown li a {
    display: block;
    align-items: center;
    position: relative;
    padding-right: 60px;
}
.subscription-dropdown li:hover a,
.subscription-dropdown li:hover {
    background: var(--color-gray-95);
}
.subscription-dropdown .dropdown-menu li a span {
    position: absolute;
    top: 40%;
    right: 8px;
}
.transaction-list .box,
.transaction-list .box2,
.transaction-list .company-list ul {
    height: auto !important;
}
.subscription-table {
    border: 1px solid var(--color-gainsboro);
}
.custom-dropdown .dropdown-toggle {
    background: no-repeat;
    border: 0px;
    font-size: 20px;
    padding: 0px;
    color: var(--color-nobel);
    line-height: 14px;
}
.associated-companies-li {
    border-bottom: 1px solid var(--color-gainsboro);
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.associated-companies-li > a {
    color: var(--color-common-primary-text);
    font-size: 14px;
    padding: 12px 20px;
    display: flex;
    white-space: initial;
    word-break: break-all;
    width: 100%;
}
.associated-companies-li > a span {
    margin-right: 8px;
    white-space: nowrap;
    min-width: 20px;
}
.associated-companies-li > a:hover {
    color: var(--color-common-primary-text-hover);
}
.associated-company-name {
    flex-direction: column;
    p {
        img {
            width: 16px;
        }
    }
    .custom-dropdown {
        right: 0;
        top: 13px;
        position: absolute;
    }
}
.box-border {
    border: 1px solid var(--color-gainsboro);
}
.active {
    color: var(--color-primary-subscription-active);
    font-size: 14px;
}
.green-dot,
.red-dot,
.orange-dot {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 40px;
    background-color: var(--color-primary-subscription-green-red-orange-dot-background);
}
.red-dot {
    background-color: var(--color-danger);
}
.orange-dot {
    background-color: var(color-orange);
}
.basic > tbody > tr td:first-child,
.basic > thead > tr th:first-child {
    border-left: 0px solid var(--color-gainsboro) !important;
}
.basic > tbody > tr td:last-child,
.basic > thead > tr th:last-child {
    border-right: 0px solid var(--color-gainsboro) !important;
}
.table-subscription {
    border-right: 1px solid var(--color-gainsboro);
    border-left: 1px solid var(--color-gainsboro);
    border-bottom: 1px solid var(--color-gainsboro);
    min-height: 360px;
    overflow-y: auto;
}
.left-div {
    border-left: 1px solid var(--color-gainsboro);
    padding-left: 0px;
    padding-bottom: 60px;
    padding-right: 0;
    .custom-dropdown {
        .dropdown-toggle {
            margin-right: 13px;
        }
    }
}
.giddh-table tbody {
    tr:last-child {
        td {
            border-bottom: 0px solid var(--color-gainsboro) !important;
        }
    }
}
.buy-transactions {
    position: absolute;
    bottom: 0;
    left: 0;
}
.plan-list > li {
    padding-right: 40px;
}
.section-head {
    margin-bottom: 10px;
}
.associated-companies-list {
    max-height: 600px;
}
.plan-row {
    color: var(--color-nero);
}
.btn-group.custom-dropdown {
    line-height: 14px;
}
.subscription-dropdown-wrapper {
    max-width: 400px;
    width: 100%;
}
.subscription-table-box {
    th,
    td {
        padding: 3px 0 !important;
    }
}
.trial-plan-section {
    border: 1px solid var(--color-gainsboro);
}

.plan-row-wrapper {
    .plan-list {
        li {
            padding-right: 25px;
            margin-bottom: 0px;
        }
    }
}

.list-inline {
    padding-left: 0;
    list-style: none;
    > li {
        display: inline-block;
    }
}

/*resposnive*/
@media only screen and (max-width: 1024px) {
    .table-subscription {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .section-head {
        margin-bottom: 0 !important;
    }
    .table-subscription {
        min-height: initial;
        border: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    .transaction-popup {
        position: relative;
        top: 0px;
    }
    .xs-pr-0 {
        padding-right: 0px !important;
    }
    .xs-pl-0 {
        padding-left: 0px !important;
    }
    .search-subscription {
        .subscription-dropdown-wrapper {
            max-width: 100%;
            width: calc(100% - 120px);
        }
    }
    .plan-row-wrapper {
        position: relative;
        .plan-row {
            justify-content: start;
            .plan-list {
                margin-top: 10px;
                li {
                    padding-right: 0;
                    width: 50%;
                    line-height: 24px;
                }
            }
            .trial-plan-state {
                position: absolute;
                top: 12px;
                right: 0;
                text-align: right !important;
            }
        }
    }
    .table-responsive {
        margin-top: 10px;
    }
    table.on-mobile-view tbody tr {
        box-shadow: none !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    table.on-mobile-view tbody > tr > td {
        margin-bottom: 5px;
    }
    table.on-mobile-view tbody td:before {
        left: 0;
    }
    .left-div {
        border-left: none;
        padding-right: 0;
        .main-associated-companies {
            margin-top: 10px;
            overflow: hidden;
            .associated-company-heading {
                background-color: var(--color-gainsboro);
                padding: 5px 5px;
                margin-top: 15px;
            }
        }
        .associated-companies-list {
            .search-company-here {
                padding-right: 20px;
            }
        }
        .custom-dropdown {
            .dropdown-toggle {
                margin-right: 0;
            }
        }
    }
    .btn-group.custom-dropdown {
        margin-right: 10px;
    }
    .trial-plan-state {
        span.font-26 {
            font-size: 16px;
            font-weight: bold;
        }
    }
}
@media (max-width: 767px) {
    .search-subscription {
        margin-top: 55px;
    }
}
@media (max-width: 575px) {
    .plan-row-wrapper {
        .plan-list {
            li {
                padding-right: 0;
                width: 100% !important;
                span {
                    &:first-child {
                        min-width: 150px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .subscription-dropdown .dropdown-menu {
        min-width: 320px;
    }
}
@media (max-width: 320px) {
    .subscription-dropdown .dropdown-menu {
        min-width: 290px;
    }
    .subscription-dropdown .dropdown-menu li p {
        white-space: normal;
    }
    .custom-input-search .form-control {
        font-size: 12px !important;
    }
}
cdk-virtual-scroll-viewport {
    height: 540px;
}
