.transaction-list .box {
  height: 400px;
  overflow-y: auto;
}
.campanien-list ul {
  list-style-type: none;
  height: 300px;
  overflow-y: auto;
}
.transaction-list .campanien-list {
  min-height: 0;
}
.subscription-table th {
  padding: 15px !important;
  font-family: 'LatoWebMedium' !important;
}
.subscription-table tbody tr td, .head-title {
  border: 0px;
  font-size: 15px;
  padding: 15px !important;
  font-family: inherit !important;
}
.transection-popup {
  position: absolute;
  right: 0;
  top: -60px;
  background: #FFF7F7;
  font-size: 14px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #E01B1B;
}
.subscription-dropdown {
  /* overflow: hidden; */
  display: block;
  clear: both;
  padding-bottom: 25px;
}
.subscription-dropdown .btn {
  border: 1px solid #C4C0C0;
  width: 285px;
  text-align: left;
}
.subscription-dropdown .btn .caret {
  margin-top: 9px;
  float: right;
}
.subscription-dropdown .dropdown-menu {
  width: 285px;
  margin-top: 9px;
}
.subscription-dropdown .dropdown-menu li {
  padding: 5px 4px;
  border-bottom: 1px solid #e6e6e6;
}
.subscription-dropdown li a {
  display: block;
  align-items: center;
  position: relative;
  padding-right: 60px;
}
.subscription-dropdown .dropdown-menu li a span {
  position: absolute;
  top: 40%;
  right: 8px;
}




@media only screen and (max-width: 767px) {
  .transection-popup {
    position: relative;
    top: 0px;
  }
}