<div class="fake_header">
    <h2>Create Stock</h2>
</div>

<div class="row">
    <div class="form-group col-xs-12">
        <label>Create Stock Under<span class="required">*</span></label>
        <div class="ng-select-wrap liq">
            <ng-select name="selectedGroupUniqueName" placeholder="Group name" filterPlaceholder="Type to search..." notFoundMsg="No Group found" notFoundLink="true" [allowClear]="true" [(ngModel)]="selectedGroupUniqueName" [options]="stockGroups$ | async" (noResultsClicked)="onNoResultsOfGroup()"
                style="width:100%;">
                <ng-template #optionTemplate let-option="option">
                    <div class="account-list-item">{{option?.label}}</div>
                    <div class="account-list-item fs12">{{option?.value}}</div>
                </ng-template>
            </ng-select>
        </div>
    </div>
</div>

<form *ngIf="selectedGroupUniqueName" name="addStockForm" [formGroup]="addStockForm" novalidate>

    <div class="row">
        <div class="form-group col-xs-6">
            <label>Name<span class="required">*</span></label>
            <input type="text" (change)="generateUniqueName()" name="name" class="form-control" formControlName="name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);">
        </div>
        <div class="form-group col-xs-6">
            <label>Unique Name</label>
            <input type="text" name="uniqueName" UniqueNameDirective class="form-control" formControlName="uniqueName">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label>Stock Unit<span class="required">*</span></label>
            <select class="form-control" formControlName="stockUnitCode">
        <option [ngValue]="null">Select</option>
        <option *ngFor="let unit of stockUnitsDropDown$ | async;" [ngValue]="unit.value">{{unit.label}}</option>
      </select>
        </div>

        <div class="form-group col-xs-6">
            <label>Open. Qty</label>
            <input type="text" name="openingQuantity" decimalDigitsDirective [DecimalPlaces]="4" (change)="calculateRate()" class="form-control" formControlName="openingQuantity">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label>Rate/stock unit</label>
            <input type="text" name="stockRate" formControlName="stockRate" class="form-control" placeholder="calculate later">
        </div>
        <div class="form-group col-xs-6">
            <label>Amount</label>
            <input type="text" name="openingAmount" (change)="calculateRate()" decimalDigitsDirective [DecimalPlaces]="2" class="form-control" formControlName="openingAmount">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label>HSN Code</label>
            <input type="text" class="form-control" maxlength="10" decimalDigitsDirective formControlName="hsnNumber" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label class="boldHead">Purchase A/c</label>
            <div class="ng-select-wrap liq">
                <ng-select placeholder="Purchase A/c" filterPlaceholder="Type to search..." notFoundMsg="No Purchase A/c found" notFoundLink="true" [allowClear]="true" formControlName="purchaseAccountUniqueName" [options]="purchaseAccountsDropDown$ | async" (noResultsClicked)="onNoResultsOfAc('Purchase')"
                    style="width:100%">
                    <ng-template #optionTemplate let-option="option">
                        <div class="account-list-item">{{option?.label}}</div>
                        <div class="account-list-item fs12">{{option?.value}}</div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>

    <div class="row mrB">
        <div class="col-xs-6">
            <label>Unit</label>
        </div>
        <div class="col-xs-6">
            <label>Rate</label>
        </div>
    </div>
    <!-- purchase unit row repeat -->
    <section formArrayName="purchaseUnitRates">
        <div [formGroupName]="i" class="row mrB15" *ngFor="let item of addStockForm.get('purchaseUnitRates')['controls']; let i=index; let f = first; let l = last">
            <div class="col-xs-6">
                <select class="form-control" formControlName="stockUnitCode">
          <option [ngValue]="null">Select</option>
          <option *ngFor="let unit of stockUnitsDropDown$ | async;" [ngValue]="unit.value">{{unit.label}}</option>
        </select>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" formControlName="rate">
            </div>
            <div class="col-xs-1 mutliple_unit">
                <button (click)="addUnitRow('purchaseUnitRates', item)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                <button (click)="removeUnitRow(i, 'purchaseUnitRates')" *ngIf="!l"><i class="fa fa-times dlet"></i></button>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="form-group col-xs-12">
            <label class="boldHead">Sales A/c</label>
            <div class="ng-select-wrap liq">
                <ng-select placeholder="Sales A/c" filterPlaceholder="Type to search..." notFoundMsg="No Sales A/c found" notFoundLink="true" [allowClear]="true" formControlName="salesAccountUniqueName" [options]="salesAccountsDropDown$ | async" (noResultsClicked)="onNoResultsOfAc('Sales')"
                    style="width:100%;">
                    <ng-template #optionTemplate let-option="option">
                        <div class="account-list-item">{{option?.label}}</div>
                        <div class="account-list-item fs12">{{option?.value}}</div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row mrB">
        <div class="col-xs-6">
            <label>Unit</label>
        </div>
        <div class="col-xs-5">
            <label>Rate</label>
        </div>
    </div>
    <!-- sales unit row repeat -->
    <section formArrayName="salesUnitRates">
        <div [formGroupName]="i" class="row mrB15" *ngFor="let item of addStockForm.get('salesUnitRates')['controls']; let i=index; let f = first; let l = last">
            <div class="col-xs-6">
                <select class="form-control" formControlName="stockUnitCode">
          <option [ngValue]="null">Select</option>
          <option *ngFor="let unit of stockUnitsDropDown$ | async;" [ngValue]="unit.value">{{unit.label}}</option>
        </select>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" decimalDigitsDirective [DecimalPlaces]="4" formControlName="rate">
            </div>
            <div class="col-xs-1 mutliple_unit">
                <button (click)="addUnitRow('salesUnitRates', item)" *ngIf="l"><i class="fa fa-plus add_row"></i></button>
                <button (click)="removeUnitRow(i, 'salesUnitRates')" *ngIf="!l"><i class="fa fa-times dlet"></i></button>
            </div>
        </div>
    </section>

    <div class="row mrB4">
        <div class="col-xs-12 text-right mrT2">
            <button type="submit" [ladda]="stockCreationInProcess" (click)="addStockFormSubmit()" class="btn btn-md btn-success mrR" [disabled]="addStockForm.invalid">Save</button>
            <button type="button" (click)="resetStockForm()" class="btn btn-md btn-primary">Cancel</button>
        </div>
    </div>

</form>