#close/* UNUSED COMPONENT CLASS: close-btn-absolute - Auto-commented by script
.close-btn-absolute {
    position: absolute !important;
    left: auto !important;
    right: 0 !important;
    z-index: 9999999 !important;
    background-color: transparent;
    color: var(--color-white);
    font-size: 17px;
    top: 9px !important;
    margin-right: 0;
}
*/
:host {
    position: fixed;
    left: auto;
    top: var(--top-distance);
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 99999;

    &.page-leave-confirmation-showing {
        z-index: 9999 !important;
    }
}

:host #close {
    position: absolute;
    left: auto;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-white);
    font-size: 17px;
    top: 10px !important;
    margin-right: 0 !important;
    border: 0;
    right: 0;
    display: block;
}

:host /* UNUSED COMPONENT CLASS: container-fluid - Auto-commented by script
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
*/

:host {
    .aside-pane {
        width: 100%;
        max-width: 760px;
        background: var(--color-white);
    }
}

/* UNUSED COMPONENT CLASS: flexy-child - Auto-commented by script
.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/

/* UNUSED COMPONENT CLASS: vertical-align-middle - Auto-commented by script
.vertical-align-middle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}
*/

#back {
    display: none;
}

:host #back {
    display: block;
    position: absolute;
    left: auto;
    top: 12px;
    z-index: 999999;
    right: 58px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        min-width: 150px;
        margin-right: 0 !important;
    }
}

@media (max-width: 991px) {
    :host {
        max-width: 500px;
    }
    :host .aside-pane {
        max-width: 500px;
    }
}