<div class="modal-header">
    <span aria-hidden="true" class="close" data-dismiss="modal" (click)="closePopup()">×</span>
    <h3>All Features</h3>
</div>
<div id="my-frame" class="modal-body clearfix">
    <p class="mb-2">All the plan come with all the features with <strong>90 days money back guarantee</strong>. Following are the available features in Giddh - Accounting Software.</p>

    <div class="row">
        <div class="col-md-4 col-sm-6">

            <div class="mb-2">
                <p class="bold font-14">Shortcut Key</p>
                <ul class="all-features-list">
                    <li>Command+g or Control+g</li>
                    <li>Alt+c</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Unique Code</p>
                <ul class="all-features-list">
                    <li>Unique Name for everything</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Sales</p>
                <ul class="all-features-list">
                    <li>Sales Invoice</li>
                    <li>Copy from previous invoice </li>
                    <li>Generate Sales and update account</li>
                    <li>Recurring Invoice
                    <li>E-way Bill generation</li>
                    <li>Edit Invoice
                    <li>Invoices Copy like Transport, Customer and Original</li>
                    <li>Generate Bulk Invoice
                    <li>Generate Compound Invoice</li>
                    <li>Bulk Update In Invoices</li>
                    <li>Default Expiry Date
                    <li>Invoice Lock Date</li>
                    <li>Show seal according to the Status of payment</li>
                    <li>Auto Paid
                    <li>Auto email</li>
                    <li>Invoice through SMS</li>
                    <li>Custom Invoice Number</li>
                    <li>Custom Invoice Template</li>
                    <li>Integrate Gmail for Invoice</li>
                    <li>Set Default Email for Sending Invoice </li>
                    <li>Download Invoice From Ledger</li>
                    <li>Customer Invoice Report
                    <li>Search Through Description</li>
                </ul>
            </div>




            <div class="mb-2">
                <p class="bold font-14">Cash Invoice</p>
                <ul class="all-features-list">
                    <li>Generate Cash Invoice</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Branch</p>
                <ul class="all-features-list">
                    <li>Add and Remove Branch</li>
                    <li>Inventory Branch Transfer</li>
                    <li>Consolidate Report</li>
                    <li>Separate Report</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Warehouse</p>
                <ul class="all-features-list">
                    <li>Create, Edit Warehouse</li>
                    <li>Warehouse Management</li>
                </ul>
            </div>


            <div class="mb-2">
              <p class="bold font-14">Vendor Page</p>
              <ul class="all-features-list">
                  <li>Vendor Report as per Purchase, Payment and Closing</li>
                  <li>Bulk Emails and SMS</li>
                  <li>Download Report CSV</li>
                  <li>Create Vendor</li>
                  <li>Add Comment</li>
              </ul>
          </div>

          <div class="mb-2">
              <p class="bold font-14">Settings</p>
              <ul class="all-features-list">
                  <li>TAXES</li>
                  <li>INTEGRATION</li>
                  <li>Payment Gateway</li>
                  <li>Profile</li>
                  <li>Financial Year</li>
                  <li>Permission</li>
              </ul>
          </div>

          <div class="mb-2">
              <p class="bold font-14">Tags</p>
              <ul class="all-features-list">
                  <li>Create, Edit and Delete Tags</li>
              </ul>
          </div>

          <div class="mb-2">
              <p class="bold font-14">Trigger</p>
              <ul class="all-features-list">
                  <li>Create, Edit and Delete Trigger</li>
              </ul>
          </div>

          <div class="mb-2">
              <p class="bold font-14">Discount</p>
              <ul class="all-features-list">
                  <li>Create, Edit and Delete Discount</li>
              </ul>
          </div>

          <div class="clearfix">
            <p class="bold font-14">Subscription</p>
            <ul class="all-features-list">
                <li>Buy Plan</li>
                <li>Update Plan</li>
                <li>Renew Plan</li>
                <li>Check Transactions</li>
            </ul>
        </div>


        </div>

        <div class="col-md-4 col-sm-6">

            <div class="mb-2">
                <p class="bold font-14">Estimate/Proforma</p>
                <ul class="all-features-list">
                    <li>Custom Heading Name</li>
                    <li>Set Default Expiry Days</li>
                    <li>Next Step To Estimate</li>
                    <li>Auto Change Status on Expiry</li>
                    <li>Auto Email</li>
                    <li>Enable Send Via SMS</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Purchase</p>
                <ul class="all-features-list">
                    <li>Custom Heading Name</li>
                    <li>Set Default Expiry Days</li>
                    <li>Next Step To Estimate</li>
                    <li>Auto Change Status on Expiry</li>
                    <li>Auto Email</li>
                    <li>Enable Send Via SMS</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Credit Note/Debit Note</p>
                <ul class="all-features-list">
                    <li>Create Credit Note</li>
                    <li>Edit Credit Note</li>
                    <li>Custom Template For Credit Note/Debit Note</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Manage Group and Accounts</p>
                <ul class="all-features-list">
                    <li>Create Financial Groups</li>
                    <li>Create Financial Accounts</li>
                    <li>Share Groups</li>
                    <li>Export Groups</li>
                    <li>Share Accounts</li>
                    <li>Edit Groups and Accounts</li>
                    <li>Delete Groups and Accounts</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Ledger</p>
                <ul class="all-features-list">
                    <li>Export Ledger</li>
                    <li>Columnar Report</li>
                    <li>Email Ledger</li>
                    <li>Share Ledger</li>
                    <li>Generate Vouchers From Ledger</li>
                    <li>Download Vouchers From Ledger</li>
                    <li>Edit / Delete Entry</li>
                    <li>Bulk Voucher Generate</li>
                    <li>Bulk Voucher Delete</li>
                    <li>Attach File</li>
                    <li>Check Cancelled Entries</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Advance Search in Ledger</p>
                <ul class="all-features-list">
                    <li>Temporary Merge Accounts</li>
                    <li>Temporary Merge Groups</li>
                    <li>Search With Description</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Customer Page</p>
                <ul class="all-features-list">
                    <li>Customer Report as per Sales, Receipt and Closing</li>
                    <li>Bulk Emails and SMS</li>
                    <li>Download Report CSV</li>
                    <li>Create Customer</li>
                    <li>Add Comment</li>
                    <li>Ageing Report</li>
                </ul>
            </div>


          <div class="mb-2">
            <p class="bold font-14">Import Data</p>
            <ul class="all-features-list">
                <li>Import Groups</li>
                <li>Import Accounts</li>
                <li>Import Inventory</li>
                <li>Import Entries</li>
                <li>Import Trial Balance</li>
            </ul>
        </div>

        <div class="mb-2">
            <p class="bold font-14">Export Data</p>
            <ul class="all-features-list">
                <li>Company Import/Export</li>
            </ul>
        </div>

        <div class="mb-2">
            <p class="bold font-14">Audit Logs</p>
            <ul class="all-features-list">
                <li>User Wise</li>
            </ul>
        </div>

        </div>

        <div class="col-md-4 col-sm-12 inventory-last-box">
            <div class="mb-2">
                <p class="bold font-14">Inventory</p>
                <ul class="all-features-list">
                    <li>Create Stock Group</li>
                    <li>Create Custom Unit</li>
                    <li>Custome Field in Inventory</li>
                    <li>Fix Tax with Stock</li>
                    <li>Receipt Note (Create, Edit and Delete)</li>
                    <li>Delivery Challan (Create, Edit and Delete)</li>
                    <li>Account Wise Report</li>
                    <li>Group Wise Report</li>
                    <li>Stock Wise Report</li>
                </ul>
            </div>


            <div class="mb-2">
                <p class="bold font-14">Manufacturing</p>
                <ul class="all-features-list">
                    <li>Define Manufacturing Process</li>
                    <li>Create Manufacturing </li>
                    <li>Manufacturing Report</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Search</p>
                <ul class="all-features-list">
                    <li>Accounting Group Search</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">GSTR</p>
                <ul class="all-features-list">
                    <li>GSTR1</li>
                    <li>GSTR2</li>
                    <li>GSTR3b</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Report</p>
                <ul class="all-features-list">
                    <li>Daybook</li>
                    <li>Trial Balance</li>
                    <li>Profit and Loss</li>
                    <li>Balance Sheet</li>
                    <li>Customer Report</li>
                    <li>Aging Report</li>
                    <li>Vendor Report</li>
                    <li>Inventory</li>
                    <li>Sales Register</li>
                    <li>Purchase Register</li>
                    <li>New v/s Old Invoice</li>
                    <li>E-way Bill</li>
                    <li>Manufacturing</li>
                    <li>Reverse Charge</li>
                    <li>Petty Cash Management</li>
                    <li>Receipt</li>
                    <li>Delivery Challan</li>
                    <li>Monthly Columnar Report</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Desktop App</p>
                <ul class="all-features-list">
                    <li>Windows</li>
                    <li>Mac</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Mobile App</p>
                <ul class="all-features-list">
                    <li>Android</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Security</p>
                <ul class="all-features-list">
                    <li>Two way authentication</li>
                    <li>Auth Key</li>
                    <li>Session</li>
                    <li>Delete Company</li>
                    <li>Upcoming</li>
                    <li>Feature Request</li>
                    <li>Changelog</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Tally</p>
                <ul class="all-features-list">
                    <li>Tally to Giddh Plugin</li>
                </ul>
            </div>

            <div class="mb-2">
                <p class="bold font-14">Support</p>
                <ul class="all-features-list">
                    <li>Talk to Sales</li>
                    <li>Send Email</li>
                    <li>Help Doc</li>
                    <li>Schedule a Demo</li>
                </ul>
            </div>

        </div>
    </div>
</div>
