#silver * {
    border: 0;
    box-sizing: content-box;
    color: #231f20;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
body {
    /** font: 14px/1 'Open Sans', sans-serif;**/
    font-family: "Open Sans", sans-serif;
    background: #fff;
}
.bold {
    font-weight: bold !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}
:focus {
    outline: 0;
    border: 1px solid #ddd !important;
}
contenteditable {
    border: 1px solid transparent;
}

.detail-header thead tr th {
    text-align: left;
}

.detail-header thead tr th:nth-child(1) {
    width: 40%;
}

.detail-header thead tr th:nth-child(2) {
    width: 45%;
}

.detail-header thead tr th:nth-child(3) {
    text-align: left;
}
/* NOTE:  comment padding, max-width, border in #silver css for java */

#silver {
    overflow: auto;
    background: #fff;
    border: 1px solid #bfbfbf;
    max-width: 8.3in;
    width: 100%;
    margin: 0 auto;
}

#silver header {
    padding: 20px 20px 0;
}

#silver header h1 strong {
    /* margin-bottom: 10px; */
    font-size: 14px;
}

#silver header h2 strong {
    /* margin-bottom: 10px; */
    font-size: 24px;
    color: #4261ad;
}

#silver header p,
#silver header span {
    margin-bottom: 10px;
    font-size: 12px;
    color: #262626;
    line-height: 30px;
}

#silver h1.invoice {
    font-size: 24px;
    color: #df4927;
}

#silver .invoice-table {
    border-top: 2px solid #e4e4e4;
    padding: 20px 0px 0;
}

#silver header .sub_head {
    font-size: 15px;
    margin-left: 5px;
}

#silver .text-right {
    text-align: right;
}

#silver .text-left {
    text-align: left !important;
}

#silver .pull-right {
    float: right;
}

#silver .pull-left {
    float: left;
}

#silver table {
    width: 100%;
    table-layout: fixed;
    line-height: 20px;
    border-collapse: inherit;
    /*font-size: 12px;*/
}

#silver .logo {
    max-width: 120px;
    width: 100%;
}

#silver strong {
    font-weight: bold;
}

#silver .total-amount {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 10px;
}

#silver .total-amount h2 {
    font-size: 24px;
    padding: 0 0;
    display: inline-block;
    float: right;
}

#silver .address th {
    /* text-align:left; */
}

#silver .mr-l2 {
    margin-left: 20px;
}

#silver .mr-b2 {
    margin-bottom: 20px;
}

#silver .mr-b1 {
    margin-bottom: 10px;
}

#silver .meta {
    margin: 2px 0 10px 0;
    padding: 0;
}

#silver .meta h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
}

#silver .product-table {
    position: relative;
    /* padding-bottom: 10px; */
}

#silver .item {
    table-layout: auto !important;
    clear: both;
    width: 100%;
    table-layout: auto;
}

#silver .item th,
#silver .item td {
    border-right: 1px solid rgba(179, 179, 179, 0.6);
}

#silver .item th:last-child,
#silver .item td:last-child {
    border-right: 0px solid transparent;
}

#silver table.item tr th,
#silver table.item tr td {
    padding-right: 10px;
    vertical-align: middle;
    /*font-size: 10px;*/
}

#silver .item td {
    border-radius: 0;
    padding: 7px;
    text-align: right;
    line-height: 1.2rem;
}

#silver .item thead {
    background: rgba(66, 97, 173, 0.05);
}

#silver .item tfoot {
    background: rgba(66, 97, 173, 0.05);
}

#silver .item thead tr th {
    padding: 14px 5px;
}

#silver .item tfoot tr th,
#silver .item tbody tr td {
    padding: 5px 5px;
}

#silver .item tfoot tr:last-child th {
    /*border-top: 1px solid #666666;*/
    padding: 14px 5px;
    vertical-align: middle;
}
/* table items */

#silver table.item {
    clear: both;
    width: 100%;
    table-layout: auto;
}

#silver table.item th,
#silver table.item tfoot td {
    text-align: right;
    padding: 14px 7px;
    line-height: 1.2rem;
}

#silver table.item tfoot td {
    padding-right: 7px;
}

#silver table.item td {
    border-radius: 0;
    padding: 7px;
    text-align: right;
    line-height: 1.2rem;
}

#silver table.item td p {
    color: #595959;
    /*font-size: 8px;*/
}

#silver .balance {
    width: 75%;
    float: right;
    margin: 10px 7px 40px;
}

#silver .balance th,
#silver .balance td {
    width: 50%;
    text-align: right;
    padding: 1px 4px;
    font-size: 11px;
}

#silver article {
    /* margin: 0 0 3em; */
    float: left;
    width: 100%;
}

#silver .total-row {
    border-top: 1px solid #000000;
}

#silver .tax-table p {
    color: #595959;
}

#silver .tax-table tfoot th {
    font-weight: bold;
}

#silver .bd-rb {
    border-bottom: 1px solid#666;
    margin-bottom: 6px;
}

#silver .subfooter {
    padding-top: 40px;
}

#silver .subfooter tbody td:nth-child(2) {
    padding-right: 15px;
}

#silver .subfooter h1 {
    font-size: 24px;
    /* color: #df4927; */
    margin: 10px 0 0;
    font-weight: bold;
}

#silver .subfooter h1 span:last-child {
    font-size: 12px;
}

#silver .subfooter .normal {
    font-size: 12px;
    vertical-align: baseline;
}

#silver .vertical-align-middle {
    vertical-align: middle;
}

#silver .note {
    margin-top: 10px;
}

#silver .note li {
    list-style-type: none;
    font-size: 10px;
}

#silver footer {
    margin-top: 7px;
    /* border-top: 2px solid; */
    /* padding: 10px 0; */
    line-height: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff;
}

#silver footer p:first-child {
    padding-top: 20px;
    border-top: 1px solid;
}

#silver .primary-color {
    color: #df4927;
}

#silver .text-center {
    text-align: center;
}

#silver .mr-b05 {
    margin-bottom: 10px;
}

#silver .secondry_clr {
    color: #4b4c4f;
}

.number-detail-series td:first-child {
    width: 30%;
}

.number-detail-series td:last-child {
    width: 70%;
}

.disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

.edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

.edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

img {
    max-width: 180px;
    margin-bottom: 10px;
}

#template-table {
    float: left;
}
#invoice-table-td {
    width: 33.33%;
}
#silver .invoice-table tbody tr td {
    padding-bottom: 10px;
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
