<!DOCTYPE html>
<html lang="en" id="silver">

<head>
    <title></title>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <style type="text/css">
        /* reset */
    </style>
</head>

<body
    [ngStyle]="{'font-size': inputTemplate.fontSize +'px', 'font-family': inputTemplate.font ? inputTemplate.font : 'opensans-regular', 'padding-top': inputTemplate.topMargin + 'px', 'padding-bottom': inputTemplate.bottomMargin + 'px', 'padding-right': inputTemplate.rightMargin + 'px', 'padding-left': inputTemplate.leftMargin + 'px' }">

    <div id="template-header" (click)="onClickSection('header')"
        [ngClass]="{ 'disabled-area': !templateUISectionVisibility.header, ' ': templateUISectionVisibility.header }">
        <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.header">
            <i class="fa fa-pencil"></i>
        </a>

        <header>
            <table>
                <tbody>
                    <tr>
                        <td class="text-left" colspan="2">
                            <img class="clogo" [hidden]='!showLogo' [src]="logoSrc" alt=""
                                [ngStyle]="{ 'height': inputTemplate.logoSize+'px'}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1 [hidden]="!fieldsAndVisibility.header.companyName?.display"
                                [ngStyle]="{ 'color': inputTemplate.templateColor}">
                                <strong
                                    [ngStyle]="{ 'color': inputTemplate.templateColor}">{{fieldsAndVisibility.header.companyName?.label}}</strong>
                            </h1>
                            <p>
                                <span
                                    [hidden]="!fieldsAndVisibility.header.gstin?.display">{{fieldsAndVisibility.header.gstin?.label}}:{{companyGSTIN ? companyGSTIN : '22BBBBBB000A1Z0'}}</span>
                                <!-- <span style="margin-left: 7px;" [hidden]="!fieldsAndVisibility.header.pan?.display">{{fieldsAndVisibility.header.pan?.label}}: {{companyPAN ? companyPAN : 'AAACW9768L'}}</span> -->
                            </p>

                        </td>
                        <td align="right">

                            <h2 class="mr20"
                                [ngClass]="{'no-content' : (fieldsAndVisibility.header.formNameTaxInvoice && !fieldsAndVisibility.header.formNameTaxInvoice?.display)}"
                                [ngStyle]="{ 'color': inputTemplate.templateColor}"
                                title="{{( fieldsAndVisibility.header.formNameTaxInvoice && fieldsAndVisibility.header.formNameTaxInvoice?.label?.length > 0) ? fieldsAndVisibility.header.formNameTaxInvoice?.label : 'INVOICE' }}"
                                *ngIf="fieldsAndVisibility.header.formNameTaxInvoice">
                                <strong [ngStyle]="{ 'color': inputTemplate.templateColor}"> {{( fieldsAndVisibility.header.formNameTaxInvoice && fieldsAndVisibility.header.formNameTaxInvoice?.label?.length
                                    > 0) ? fieldsAndVisibility.header.formNameTaxInvoice?.label : 'INVOICE' }}
                                </strong>

                            </h2>
                            <p>
                                <ng-container *ngIf="voucherType==='sales'">
                                    <span [hidden]="!fieldsAndVisibility.header.invoiceNumber?.display">{{(fieldsAndVisibility.header.invoiceNumber?.label?.length > 0) ? fieldsAndVisibility.header.invoiceNumber?.label
                                    : 'Invoice No.'}} 20170911-1</span>
                                    <span style="margin-left: 7px;"
                                        [hidden]="!fieldsAndVisibility.header.invoiceDate?.display"> {{(fieldsAndVisibility.header.invoiceDate?.label?.length > 0) ? fieldsAndVisibility.header.invoiceDate?.label
                                    : 'Invoice Date'}} 11/09/2017</span>
                                </ng-container>


                                <ng-container *ngIf="voucherType!='sales'">
                                    <span [hidden]="!fieldsAndVisibility.header.voucherNumber?.display">{{(fieldsAndVisibility.header.voucherNumber?.label?.length > 0) ? fieldsAndVisibility.header.voucherNumber?.label
                                            : 'Voucher No.'}} 20170911-1</span>
                                    <span style="margin-left: 7px;"
                                        [hidden]="!fieldsAndVisibility.header.voucherDate?.display"> {{(fieldsAndVisibility.header.voucherDate?.label?.length > 0) ? fieldsAndVisibility.header.voucherDate?.label
                                            : 'Voucher Date'}} 11/09/2017</span>
                                </ng-container>

                            </p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </header>

        <table class="invoice-table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>

                    <td class="invoice-table-td"
                        *ngIf="fieldsAndVisibility.header.customerName?.display || fieldsAndVisibility.header.customerEmail?.display || fieldsAndVisibility.header.customerMobileNumber?.display || fieldsAndVisibility.header.attentionTo?.display">
                        <p *ngIf="fieldsAndVisibility.header.attentionTo?.display">
                            <span>Attn: Mr. Alok Gangrade</span>
                        </p>
                        <p *ngIf="fieldsAndVisibility.header.customerEmail?.display">alokgangrade@gmail.com</p>
                        <p *ngIf="fieldsAndVisibility.header.customerMobileNumber?.display">+91 901212XXXX</p>
                    </td>

                    <td class="invoice-table-td">
                        <ng-container *ngIf="fieldsAndVisibility.header.billingAddress?.display">
                            <p>
                                <span class="font-11">{{(fieldsAndVisibility.header.billingAddress?.label?.length > 0) ? fieldsAndVisibility.header.billingAddress?.label
                                : 'Billing Address'}}</span>
                            </p>
                            <p *ngIf="fieldsAndVisibility.header.customerName?.display">Green Soft Solutions</p>
                            <p>5 A.B. Road</p>
                            <p>Indore (M.P.) 452000</p>
                            <p *ngIf="fieldsAndVisibility.header.billingState?.display">Madhya Pradesh</p>
                        </ng-container>
                    </td>
                    <!--<td >
                        <p *ngIf="(fieldsAndVisibility.header.billingAddress?.display && !fieldsAndVisibility.header.billingGstin?.display) || !fieldsAndVisibility.header.billingAddress?.display">&nbsp;</p>
                    </td>-->
                    <td class="invoice-table-td">
                        <ng-container *ngIf="fieldsAndVisibility.header.shippingAddress?.display">
                            <p>
                                <span class="font-11">{{(fieldsAndVisibility.header.shippingAddress?.label?.length > 0) ? fieldsAndVisibility.header.shippingAddress?.label
                                : 'Shipping Address'}}</span>
                            </p>
                            <p *ngIf="fieldsAndVisibility.header.customerName?.display">Green Soft Solutions</p>
                            <p>5 A.B. Road</p>
                            <p>Indore (M.P.) 452000</p>
                            <p *ngIf="fieldsAndVisibility.header.shippingState?.display">Madhya Pradesh</p>
                        </ng-container>
                    </td>
                </tr>
                <tr>

                    <!-- <td *ngIf="fieldsAndVisibility.header.customerName?.display || fieldsAndVisibility.header.customerEmail?.display || fieldsAndVisibility.header.customerMobileNumber?.display">&nbsp;</td> -->
                    <td class="invoice-table-td">
                        <ng-container *ngIf="fieldsAndVisibility.header.dueDate?.display">
                            <p>
                                <span class="font-11">{{(fieldsAndVisibility.header.dueDate?.label?.length > 0) ? fieldsAndVisibility.header.dueDate?.label
                                    : 'Due Date'}}</span>
                            </p>
                            <p>30/09/2017</p>
                        </ng-container>
                    </td>
                    <td class="invoice-table-td">
                        <ng-container
                            *ngIf="fieldsAndVisibility.header.billingAddress?.display && fieldsAndVisibility.header.billingGstin?.display">
                            <p>
                                <span class="font-11">{{(fieldsAndVisibility.header.billingGstin?.label?.length > 0) ? fieldsAndVisibility.header.billingGstin?.label
                                : 'GSTIN'}}</span>
                            </p>
                            <p>22BBBBBB000A1Z0</p>
                        </ng-container>
                    </td>
                    <!--<td >
                        <p *ngIf="(fieldsAndVisibility.header.billingAddress?.display && !fieldsAndVisibility.header.billingGstin?.display) || !fieldsAndVisibility.header.billingAddress?.display">&nbsp;</p>
                    </td>-->
                    <td class="invoice-table-td">
                        <ng-container
                            *ngIf="fieldsAndVisibility.header.shippingAddress?.display && fieldsAndVisibility.header.shippingGstin?.display">
                            <p>
                                <span class="font-11">{{(fieldsAndVisibility.header.shippingGstin?.label?.length > 0) ? fieldsAndVisibility.header.shippingGstin?.label
                                : 'GSTIN'}}</span>
                            </p>
                            <p>22BBBBBB000A1Z0</p>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="meta" style="padding: 20px 0;">
            <tbody>
                <tr>
                    <td
                        *ngIf="fieldsAndVisibility.header.shippingDate?.display && fieldsAndVisibility.header.shippingAddress?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.shippingDate?.label?.length > 0) ? fieldsAndVisibility.header.shippingDate?.label
                            : 'Ship Date'}}</span>
                        <p>30/09/2017</p>
                    </td>

                    <td
                        *ngIf="fieldsAndVisibility.header.shippedVia?.display && fieldsAndVisibility.header.shippingAddress?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.shippedVia?.label?.length > 0) ? fieldsAndVisibility.header.shippedVia?.label
                            : 'Ship Via'}}</span>
                        <p>FedEx</p>
                    </td>

                    <td
                        *ngIf="fieldsAndVisibility.header.trackingNumber?.display && fieldsAndVisibility.header.shippingAddress?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.trackingNumber?.label?.length > 0) ? fieldsAndVisibility.header.trackingNumber?.label
                            : 'Tracking No'}}</span>
                        <p>00115467</p>
                    </td>
                    <td *ngIf="fieldsAndVisibility.header.customField1?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.customField1?.label?.length > 0) ? fieldsAndVisibility.header.customField1?.label
                            : 'Custom Field1'}}</span>
                        <p>Sample 1</p>
                    </td>

                    <td *ngIf="fieldsAndVisibility.header.customField2?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.customField2?.label?.length > 0) ? fieldsAndVisibility.header.customField2?.label
                            : 'Custom Field2'}}</span>
                        <p>Sample 2</p>
                    </td>

                    <td *ngIf="fieldsAndVisibility.header.customField3?.display">
                        <span class="font-11">{{(fieldsAndVisibility.header.customField3?.label?.length > 0) ? fieldsAndVisibility.header.customField3?.label
                            : 'Custom Field3'}}</span>
                        <p>Sample 3</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="template-table" class="pos-rel" (click)="onClickSection('table')"
        [ngClass]="{ 'disabled-area': !templateUISectionVisibility.table, ' ': templateUISectionVisibility.table }">
        <!-- <span class="arrow-down"></span> -->
        <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.table">
            <i class="fa fa-pencil"></i>
        </a>
        <article>
            <table class="item product-table" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <!-- <th *ngIf="fieldsAndVisibility.table.sNo?.display" class="text-left">{{(fieldsAndVisibility.table.sNo?.label?.length > 0) ? fieldsAndVisibility.table.sNo?.label : 'S No'}}</th> -->
                        <th *ngIf="fieldsAndVisibility.table.date?.display" class="text-left"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.date?.label?.length > 0) ? fieldsAndVisibility.table.date?.label : 'Date'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.hsnSac?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.hsnSac?.label?.length > 0) ? fieldsAndVisibility.table.hsnSac?.label : 'HSN/SAC'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.item?.display" class="text-left"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.item?.label?.length > 0) ? fieldsAndVisibility.table.item?.label : 'Item'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.quantity?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.quantity?.label?.length > 0) ? fieldsAndVisibility.table.quantity?.label : 'Qty.'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.rate?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.rate?.label?.length > 0) ? fieldsAndVisibility.table.rate?.label : 'Rate'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.discount?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.discount?.label?.length > 0) ? fieldsAndVisibility.table.discount?.label : 'Disc.'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.taxableValue?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.taxableValue?.label?.length > 0) ? fieldsAndVisibility.table.taxableValue?.label : 'Taxable Value'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.taxes?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.taxes?.label?.length > 0) ? fieldsAndVisibility.table.taxes?.label : 'Tax'}}
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.total?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            {{(fieldsAndVisibility.table.total?.label?.length > 0) ? fieldsAndVisibility.table.total?.label : 'Total'}}
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="text-right" *ngIf="fieldsAndVisibility.table.previousDue?.display">

                        <td [attr.colspan]="columnsVisibled-2" class="font-12">
                            {{(fieldsAndVisibility.table.previousDue?.label?.length > 0) ? fieldsAndVisibility.table.previousDue?.label : 'Previous Due'}}
                        </td>
                        <td [attr.colspan]="columnsVisibled-2" class="font-12">5000.00</td>
                    </tr>

                    <tr>
                        <td *ngIf="fieldsAndVisibility.table.date?.display" class="text-left">10-09-2017
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.hsnSac?.display" class="text-right">12345 (H)</td>
                        <td *ngIf="fieldsAndVisibility.table.item?.display" class="text-left">Dummy Product Edition 1
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.quantity?.display" class="text-right">2.00 Kg</td>
                        <td *ngIf="fieldsAndVisibility.table.rate?.display" class="text-right">1000.00</td>
                        <td *ngIf="fieldsAndVisibility.table.discount?.display" class="text-right">-300.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxableValue?.display" class="text-right">1700.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display" class="text-right">306.00
                            <p [ngStyle]="{ 'font-size': inputTemplate.fontSmall + 'px'}">@18.00%</p>
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.total?.display" class="text-right">2006.00</td>
                    </tr>
                    <tr>
                        <td *ngIf="fieldsAndVisibility.table.date?.display" class="text-left">10-09-2017
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.hsnSac?.display" class="text-right">54321 (H)</td>
                        <td *ngIf="fieldsAndVisibility.table.item?.display" class="text-left">Dummy Product Edition 2
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.quantity?.display" class="text-right">1.00 Nos
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.rate?.display" class="text-right">6000.00</td>
                        <td *ngIf="fieldsAndVisibility.table.discount?.display" class="text-right">-500.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxableValue?.display" class="text-right">5500.00</td>
                        <td *ngIf="fieldsAndVisibility.table.taxes?.display" class="text-right">660.00

                            <p [ngStyle]="{ 'font-size': inputTemplate.fontSmall + 'px'}">@12.00%
                            </p>
                        </td>
                        <td *ngIf="fieldsAndVisibility.table.total?.display" class="text-right">6160.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th *ngIf="fieldsAndVisibility.table.date?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.hsnSac?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.item?.display" class="text-left"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.quantity?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.rate?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.discount?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}"></th>
                        <th *ngIf="fieldsAndVisibility.table.taxableValue?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            7200.00
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.taxes?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            966.00
                        </th>
                        <th *ngIf="fieldsAndVisibility.table.total?.display" class="text-right"
                            [ngStyle]="{ 'background-color': inputTemplate.tableColor}">
                            8166.00
                        </th>
                    </tr>
                </tfoot>
            </table>
        </article>

    </div>

    <div id="template-footer" class=""
        [ngClass]="{ 'disabled-area': !templateUISectionVisibility.footer, ' ': templateUISectionVisibility.footer }"
        (click)="onClickSection('footer')">
        <a href="javascript:void(0);" class="edit-template" *ngIf="!templateUISectionVisibility.footer">
            <i class="fa fa-pencil"></i>
        </a>
        <table class="balance">
            <tr [hidden]="!fieldsAndVisibility.footer.taxableAmount?.display">
                <th>
                    Taxable Amount
                </th>
                <td>
                    <span>
                        7200.00
                    </span>
                </td>
            </tr>
            <tr [hidden]="!fieldsAndVisibility.footer.totalTax?.display">
                <th>
                    Total Tax*
                </th>
                <td>
                    <span>
                        966.00
                    </span>
                </td>
            </tr>
            <tr>
                <th class="bold">
                    Invoice Total (INR)
                </th>
                <td class="bold">
                    8166.00
                </td>
            </tr>
            <tr [hidden]="!fieldsAndVisibility.footer.totalInWords?.display">
                <th>
                    Invoice Total (In words)
                </th>
                <td>
                    Eight Thousand One Hundred Sixty Six Only
                </td>
            </tr>
        </table>

        <div class="clearfix"
            [ngStyle]="{ 'padding-right': inputTemplate.rightMargin + 'px', 'padding-left': inputTemplate.leftMargin + 'px'}">

            <table class="subfooter">
                <tbody>
                    <tr>

                        <td [ngStyle]="{ 'color': inputTemplate.templateColor}" style="vertical-align: bottom;">

                            <ng-container
                                *ngIf="fieldsAndVisibility.footer.thanks?.display && !fieldsAndVisibility.footer.thanks?.label">
                                <h1 [ngStyle]="{ 'color': inputTemplate.templateColor}">THANK YOU</h1>
                                <h4 [ngStyle]="{ 'color': inputTemplate.templateColor}">FOR YOUR BUSINESS.</h4>
                            </ng-container>
                            <ng-container
                                *ngIf="fieldsAndVisibility.footer.thanks?.display && fieldsAndVisibility.footer.thanks?.label">
                                <h1 [ngStyle]="{ 'color': inputTemplate.templateColor}"
                                    [innerHTML]="fieldsAndVisibility.footer.thanks?.label"></h1>
                            </ng-container>

                            <ul class="note">
                                <li style="white-space:pre-line;" class="font-10"
                                    *ngIf="fieldsAndVisibility.footer.message1?.display">
                                    {{fieldsAndVisibility.footer.message1?.label ? fieldsAndVisibility.footer.message1?.label : 'We declare that this invoice shows the actual price of the services rendered and that all particulars are true and correct.'}}
                                </li>
                            </ul>
                        </td>
                        <td colspan="1"></td>
                        <!-- <td style="text-align: center;vertical-align: bottom;">
                            <p class="bdrB"></p>
                            <p>
                                <strong class="font-10">{{fieldsAndVisibility.header.companyName?.label}}</strong>
                            </p>
                            <p *ngIf="fieldsAndVisibility.footer.slogan?.display">
                                <small>{{fieldsAndVisibility.footer.slogan?.label ? fieldsAndVisibility.footer.slogan?.label: '(Signature)'}}
                            </small>
                            </p>

                        </td> -->
                        <td class="text-center" style="vertical-align: bottom; width: 35%;" *ngIf="!showImageSignature">
                            <ng-container *ngIf="fieldsAndVisibility.footer.slogan?.display">
                                <strong class="slogan-pre-line">
                                    <small *ngIf="fieldsAndVisibility.footer.slogan?.label">
                                        {{fieldsAndVisibility.footer.slogan?.label }}
                                    </small>
                                </strong>
                                <p class="bdrB"></p>
                                <strong>
                                    <small *ngIf="fieldsAndVisibility.header.companyName?.label">
                                        {{fieldsAndVisibility.header.companyName?.label}}
                                    </small>
                                </strong>
                            </ng-container>
                        </td>

                        <td class="text-center" style="vertical-align: bottom; width: 35%;" *ngIf="showImageSignature">
                            <ng-container>
                                <img [hidden]="!showImageSignature" [src]="imageSignatureSrc" class="max-width-180"
                                    alt="" style="min-width: 60px;height: 60px;" />
                                <p class="bdrB"></p>
                                <strong>
                                    <small *ngIf="fieldsAndVisibility.header.companyName?.label">
                                        {{fieldsAndVisibility.header.companyName?.label}}
                                    </small>
                                </strong>
                            </ng-container>
                        </td>
                    </tr>
                    <!-- <tr *ngIf="fieldsAndVisibility.footer.message1?.display">
                    <td colspan="3">
                        <ul class="note">
                            <li>{{fieldsAndVisibility.footer.message1?.label ? fieldsAndVisibility.footer.message1?.label : 'Tax to be paid on reverse charge'}}</li>
                        </ul>
                    </td>
                </tr> -->
                </tbody>
            </table>

        </div>

        <footer style="text-align: center;" [ngStyle]="{ 'border-color': inputTemplate.templateColor}">
            <p class="font-10" [ngStyle]="{ 'border-color': inputTemplate.templateColor}">
                <strong
                    *ngIf="fieldsAndVisibility.footer.companyName?.display">{{fieldsAndVisibility.header.companyName?.label}}</strong>
            </p>
            <p style="white-space:pre-line;" class="font-10" *ngIf="fieldsAndVisibility.footer.companyAddress?.display">
                {{fieldsAndVisibility.footer.companyAddress?.label ? fieldsAndVisibility.footer.companyAddress?.label : companyAddress }}
            </p>
        </footer>
    </div>

</body>

</html>
