.ledger-panel {
    overflow: visible;
    .more-details {
        background-color: var(--color-white);
        padding: 15px;
        .cheq {
            table {
                td.remove-invoice {
                    span:first-child {
                        font-size: 16px;
                        vertical-align: middle;
                        color: var(--color-abbey);
                    }
                    .label {
                        vertical-align: middle;
                        color: var(--color-abbey);
                        font-size: var(--font-size-16);
                    }
                }
            }
        }
    }
}

.ledger-panel table tbody tr td a {
    color: var(--color-nero);
}

.dropdown-menu-2 {
    max-height: 190px;
    overflow-y: scroll;
}

.amount-total {
    font-size: var(--font-size-12);
    color: var(--color-gray);
    padding-left: 5px;
}

.width-70 {
    width: 70px;
    min-width: 70px;
}

.table-minus label {
    font-size: var(--font-size-32);
    line-height: 23px;
}
.warehouse-field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.checkbox-custom-label strong {
    display: contents;
}
.rcm-entry {
    padding-left: 4px;
}
.taxable-amount-section {
    display: inline-block;
    margin-bottom: 12px;
}
.in-words.words-inline {
    float: right;
}
.width-115 {
    width: 115px;
    font-size: var(--font-size-12);
}
.advance-receipt-edit {
    i {
        color: var(--color-blue);
    }
}
#ledger-unit {
    width: 78px;
}
.disabled-item {
    pointer-events: none;
}
.custom-component[disabled] {
    pointer-events: none;
}
.collapse-icons {
    font-size: 10px;
    border: 1px solid var(--color-nero);
    padding: 2px;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: var(--color-tab-primary-background) !important;
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
    font-size: 12px;
    height: 60px;
    label {
        margin-top: 10px;
    }
}

#saveLedger {
    margin-right: 0 !important;
}
.delete-attachment {
    margin-right: 14px;
    margin-left: 7px;
    float: right;
    margin-top: -6px;
    a {
        color: var(--color-dark-gray);
        i {
            font-size: var(--font-size-16);
        }
    }
}
@media only screen and (max-width: 767px) {
    .ledger-panel .btn {
        margin-bottom: 13px;
    }
    .xs-d-block {
        display: block;
        float: none;
        width: 100%;
    }
    .qty-unit {
        width: 90%;
    }
    .table-plus {
        width: 10%;
        text-align: center;
    }
    .price {
        width: 40%;
    }
    .equal-2,
    .table-minus {
        width: 10%;
        text-align: center;
    }
    .amount {
        width: 40%;
    }
    .total-amount-ledger {
        width: 100%;
    }
    .total-detail-table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
    }
    .qty-unit table tr td.text-right {
        padding-right: 10px;
    }
    .xs-mb-1 {
        margin-bottom: 1px;
    }
    .warehouse-field {
        display: flex;
        flex-direction: column-reverse;
    }
    .xs-justify-content-start {
        justify-content: start;
    }
}
.sh-template {
    border-bottom: 1px solid var(--color-iron);
}
.min-width-auto {
    min-width: auto !important;
}

/* Rotate animation for spinner in uploading file */

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 1075px) {
    .icon-box {
        padding: 10px 0px 0 0px;
    }

    .more-details {
        .cheque-no-clear {
            .default-color {
                white-space: nowrap;
            }
            giddh-datepicker {
                min-width: auto !important;
            }
        }
    }
}
