.ledger-panel {
    background-color: var(--color-white);
    overflow: visible;
    .more-details {
        background-color: var(--color-white);
        padding: 0 15px 15px;
        .cheque {
            table {
                td.remove-invoice {
                    span:first-child {
                        font-size: 16px;
                        vertical-align: middle;
                        color: var(--color-dark-gray);
                    }
                    .label {
                        vertical-align: middle;
                        color: var(--color-dark-gray);
                        font-size: var(--font-size-15);
                    }
                }
            }
        }
    }
    .basic-detail {
        .d-grid {
            --field-width: minmax(200px, 1fr);
            --label: 30px;
            --small-field-division: 1.5;
            --common-column: var(--field-width) var(--label) var(--field-width) var(--label) var(--field-width)
                var(--label) var(--field-width);
            --grid-column-with-stock: calc(var(--field-width) / var(--small-field-division))
                calc(var(--field-width) / var(--small-field-division)) var(--label)
                calc(var(--field-width) / var(--small-field-division)) var(--label) var(--common-column);

            grid-gap: 5px;
            grid-template-columns: var(--common-column);
            &.stock-grid {
                --field-width: 132px;
                grid-template-columns: var(--grid-column-with-stock);
            }

            @media screen and (max-width: 1440px) {
                --field-width: minmax(170px, 1fr);
                &.stock-grid {
                    --label: 20px;
                    --field-width: 120px;
                    grid-template-columns: var(--grid-column-with-stock);
                }
            }

            @media screen and (max-width: 1280px) {
                --field-width: minmax(150px, 1fr);
                &.stock-grid {
                    --small-field-division: 1;
                    --field-width: 100px;
                    grid-template-columns: var(--grid-column-with-stock);
                }
            }

            @media screen and (max-width: 992px) {
                --field-width: minmax(140px, 1fr);
                &.stock-grid {
                    --field-width: 90px;
                    grid-template-columns: var(--grid-column-with-stock);
                }
            }
        }
    }
    .more-details {
        table {
            tr {
                td {
                    padding-right: 10px;
                    reactive-dropdown-field,
                    input-field,
                    ledger-discount,
                    tax-control {
                        display: block;
                        width: 100%;
                        max-width: 230px;

                        @media screen and (max-width: 1520px) {
                            max-width: 200px;
                        }
                        @media screen and (max-width: 1440px) {
                            max-width: 160px;
                        }
                    }
                }
            }
        }
        .tag-wrapper {
            max-width: 445px;
        }
    }
    #ledger-description {
        background-color: var(--color-transparent) !important;
    }
    .multi-currency-wrapper {
        width: fit-content;
    }

    .adjust-label {
        width: 158px !important;
        min-width: 158px !important;
    }
}

.ledger-panel table tbody tr td a {
    color: var(--color-black);
}

/* UNUSED COMPONENT CLASS: dropdown-menu-2 - Auto-commented by script
.dropdown-menu-2 {
    max-height: 190px;
    overflow-y: scroll;
}
*/

.amount-total {
    font-size: var(--font-size-12);
    color: var(--color-medium-gray);
    padding-left: 5px;
}

/* UNUSED COMPONENT CLASS: width-70 - Auto-commented by script
.width-70 {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}
*/

.table-minus label {
    font-size: var(--font-size-32);
    line-height: 23px;
}
.warehouse-field {
    display: flex;
    align-items: center;
}
/* UNUSED COMPONENT CLASS: checkbox-custom-label - Auto-commented by script
.checkbox-custom-label strong {
    display: contents;
}
*/
.rcm-entry {
    padding-left: 4px;
}
.taxable-amount-section {
    display: inline-block;
    margin-bottom: 12px;
}
.in-words.words-inline {
    float: right;
}
.passport-no-width {
    width: 150px;
    font-size: var(--font-size-12);
}
.advance-receipt-edit {
    i {
        color: var(--text-primary-color);
    }
}
.ledger-price {
    width: 78px;
}
.disabled-item {
    pointer-events: none;
}
/* UNUSED COMPONENT CLASS: custom-component - Auto-commented by script
.custom-component[disabled] {
    pointer-events: none;
}
*/

.mat-expansion-panel-header/* UNUSED COMPONENT CLASS: mat-expanded - Auto-commented by script
.mat-expanded {
    background-color: var(--color-white) !important;
}
*/

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 10px;
    font-size: 12px;
    label {
        margin-top: 10px;
    }
}

#saveLedger {
    margin-right: 0 !important;
}
.delete-attachment {
    a {
        color: var(--color-dark-gray);
        i {
            font-size: var(--font-size-15);
        }
    }
}
.attachment-file-name {
    max-width: 175px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .ledger-panel .btn {
        margin-bottom: 13px;
    }
    /* UNUSED COMPONENT CLASS: xs-d-block - Auto-commented by script
.xs-d-block {
        display: block;
        float: none;
        width: 100%;
    }
*/
    /* UNUSED COMPONENT CLASS: qty-unit - Auto-commented by script
.qty-unit {
        width: 90%;
    }
*/
    /* UNUSED COMPONENT CLASS: table-plus - Auto-commented by script
.table-plus {
        width: 10%;
        text-align: center;
    }
*/
    .price {
        width: 40%;
    }
    /* UNUSED COMPONENT CLASS: equal-2 - Auto-commented by script
.equal-2,
    /* UNUSED COMPONENT CLASS: table-minus - Auto-commented by script
.table-minus {
        width: 10%;
        text-align: center;
    }
*/
    .amount {
        width: 40%;
    }
    /* UNUSED COMPONENT CLASS: total-amount-ledger - Auto-commented by script
.total-amount-ledger {
        width: 100%;
    }
/* UNUSED COMPONENT CLASS: total-detail-table - Auto-commented by script
    .total-detail-table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
    }
*/
    .qty-unit table tr td.text-right {
        padding-right: 10px;
    }
    /* UNUSED COMPONENT CLASS: xs-mb-1 - Auto-commented by script
.xs-mb-1 {
        margin-bottom: 1px;
    }
*/
    .warehouse-field {
        display: flex;
        flex-direction: column-reverse;
    }
    .xs-justify-content-start {
        justify-content: start;
    }
}
.sh-template {
    border-bottom: 1px solid var(--color-silver);
}
.min-width-auto {
    min-width: auto !important;
}

span {
    &.icon-info {
        line-height: 40px;
    }
}

/* Rotate animation for spinner in uploading file */

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@media (max-width: 1075px) {
    /* UNUSED COMPONENT CLASS: icon-box - Auto-commented by script
.icon-box {
        padding: 10px 0px 0 0px;
    }
*/

    .more-details {
        .cheque-no-clear {
            /* UNUSED COMPONENT CLASS: text-default - Auto-commented by script
.text-default {
                white-space: nowrap;
            }
*/
            giddh-datepicker {
                min-width: auto !important;
            }
        }
    }
}