@import "../../../../../assets/css/color.scss";
.ul_0 {
    height: calc(100vh - 69px);
    overflow: scroll;
}

.accountli {
    margin: 5px 0 0 45px;
    list-style: none;
    font-size: 13px;
    text-transform: lowercase;
}

.parent-group {
    padding-left: 20px;
}


/* width */

.account-accordion::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.account-accordion::-webkit-scrollbar-track {
    background:  $white-smoke;
}


/* Handle */

.account-accordion::-webkit-scrollbar-thumb {
    background:  $nobel;
}
