.ul_0 {
    height: calc(100vh - 69px);
    overflow: scroll;
}

.accountli {
    margin: 5px 0 0 45px;
    list-style: none;
    font-size: 13px;
    text-transform: lowercase;
}

.parent-Group {
    padding-left: 20px;
    /* padding-top: 0; */
}

/* width */

.acntAccordion::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.acntAccordion::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.acntAccordion::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

.acntAccordion::-webkit-scrollbar-thumb:hover {
    background: #555;
}
