:host.in {
    left: auto;
    top: 0;
    right: 0;
    max-width: 760px;
    width: 100%;
    z-index: 99999;
    display: block;
    position: fixed;
    transition: 400ms ease-in-out;
}

:host.out {
    display: none;
    transform: translate3d(100%, 0px, 0px);
    transition: 400ms ease-in-out;
}

:host.in #close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-white);
    font-size: var(--font-size-17);
    top: 18px;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    display: block;
}

:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 760px;
    width: 100%;
    background: var(--color-white);
    width: 100%;
    padding: 0px;
}

.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexy-child-1 {
    flex-grow: 1;
}

.vertical-align-middle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

:host.in #back {
    display: block;
    position: absolute;
    left: auto;
    top: 15px;
    z-index: 6;
    border: 0;
    border-radius: 0;
    right: 218px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 3px 14px;
    font-size: var(--font-size-14);
}
:host.in #back:hover {
    color: var(--color-giddh-blue);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.btn-lg {
    min-width: 155px;
    background: var(--color-white);
    color: var(--color-blue);
    box-shadow: none;
}

.btn-lg:hover {
    background: var(--color-dark-fog);
    color: var(--color-blue);
    box-shadow: 0px 4px 4px -3px var(--color-primary-common-box-shadow);
    border-radius: 0px;
    border-color: var(--color-blue);
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
.form-header {
    padding: 20px 15px;
    background: var(--color-giddh-blue);
}
@media (max-width: 768px) {
    :host.in {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host.in {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
}
@media (max-width: 375px) {
    :host.in {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host.in {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
