.max-width-180 {
    /* max-width: 180px !important; */
}

#template2 * {
    border: 0;
    box-sizing: content-box;
    color: #262626;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
body {
    font-size: 12px;
    background: #fff;
}
/* heading */
.text-gray {
    color: #939393 !important;
}
#template2 header {
    padding: 10px 10px 0px 10px;
}

#template2 header h1 {
    /* color: #df4927; */
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

/* NOTE:  comment padding, max-width, border in #template2 css for java */

#template2 {
    background: #fff;
    border: 1px solid #bfbfbf;
    padding: 0;
}

#template2 .text-right {
    text-align: right;
}

#template2 .text-left {
    text-align: left !important;
}

#template2 .pull-right {
    float: right;
}

#template2 .pull-left {
    float: left;
}

#template2 table {
    width: 100%;
    table-layout: fixed;
    line-height: 20px;
    border-collapse: inherit;
}

#template2 strong {
    font-weight: bold;
}

#template2 .item {
    table-layout: auto !important;
}

#template2 .item tbody tr td,
#template2 .item thead tr th,
#template2 .item tfoot tr th {
    text-align: right;
    padding: 7px 7px;
}

#template2 .mr-l2 {
    margin-left: 20px;
}

#template2 .mr-r2 {
    margin-right: 20px;
}

#template2 .cargo-Detail {
    margin-top: 10px;
    line-height: 20px !important;
}

#template2 .product-table {
    position: relative;
}

#template2 .item thead tr th {
    padding: 15px 7px 13px;
    border-bottom: 1px solid #666666;
    line-height: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: normal;
}

#template2 .product-table tbody tr:last-child td {
    padding-bottom: 50px;
}

#template2 .in-words {
    color: #939393;
}

#template2 .item tfoot tr:last-child th {
    border-top: 1px solid #666666;
    /* padding: 7px 0px;
line-height: 1.2rem; */
}

#template2 .bd-rb {
    border-bottom: 1px solid #666;
}

#template2 .subfooter {
    margin-top: 100px;
    /* padding: 0 25px; */
    float: left;
    margin-bottom: 15px;
}

#template2 .subfooter h1 {
    font-size: 24px;
    /* color: #df4927; */
    margin: 10px 0 0;
    font-weight: bold;
}

#template2 .subfooter h4 {
    font-size: 12px;
    /* color: #df4927; */
}

#template2 .vertical-align-middle {
    vertical-align: middle;
}

#template2 .total-amount h2 {
    font-size: 26px;
    background: url("/assets/images/circle-border.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: auto;
    padding: 46px;
    display: inline-block;
    float: right;
}

#template2 .note {
    margin-top: 10px;
    padding-left: 15px;
}

#template2 .note li {
    list-style-type: initial;
    font-size: 10px;
}

#template2 footer {
    line-height: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    float: none;
    background: #fff;
    display: block;
    text-align: left;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#template2 footer p:first-child {
    padding-top: 20px;
    border-top: 2px solid;
}

#template2 .arrow-down {
    width: 0;
    position: absolute;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    z-index: 1;
    margin-left: 90px;
    top: 0px;
}

/* common template css  */

#template2 .disabled-area {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px !important;
}

#template2 .disabled-area:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: rgba(204, 204, 204, 0.5);
    border: 1px dashed #808080;
}

#template2 .edit-template {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    height: 15px;
    z-index: 1;
    background: #fff;
    width: 20px;
}

#template2 .edit-template i {
    background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMS4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ2OS4zMzEgNDY5LjMzMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDY5LjMzMSA0NjkuMzMxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPHBhdGggZD0iTTQzOC45MzEsMzAuNDAzYy00MC40LTQwLjUtMTA2LjEtNDAuNS0xNDYuNSwwbC0yNjguNiwyNjguNWMtMi4xLDIuMS0zLjQsNC44LTMuOCw3LjdsLTE5LjksMTQ3LjQgICBjLTAuNiw0LjIsMC45LDguNCwzLjgsMTEuM2MyLjUsMi41LDYsNCw5LjUsNGMwLjYsMCwxLjIsMCwxLjgtMC4xbDg4LjgtMTJjNy40LTEsMTIuNi03LjgsMTEuNi0xNS4yYy0xLTcuNC03LjgtMTIuNi0xNS4yLTExLjYgICBsLTcxLjIsOS42bDEzLjktMTAyLjhsMTA4LjIsMTA4LjJjMi41LDIuNSw2LDQsOS41LDRzNy0xLjQsOS41LTRsMjY4LjYtMjY4LjVjMTkuNi0xOS42LDMwLjQtNDUuNiwzMC40LTczLjMgICBTNDU4LjUzMSw0OS45MDMsNDM4LjkzMSwzMC40MDN6IE0yOTcuNjMxLDYzLjQwM2w0NS4xLDQ1LjFsLTI0NS4xLDI0NS4xbC00NS4xLTQ1LjFMMjk3LjYzMSw2My40MDN6IE0xNjAuOTMxLDQxNi44MDNsLTQ0LjEtNDQuMSAgIGwyNDUuMS0yNDUuMWw0NC4xLDQ0LjFMMTYwLjkzMSw0MTYuODAzeiBNNDI0LjgzMSwxNTIuNDAzbC0xMDcuOS0xMDcuOWMxMy43LTExLjMsMzAuOC0xNy41LDQ4LjgtMTcuNWMyMC41LDAsMzkuNyw4LDU0LjIsMjIuNCAgIHMyMi40LDMzLjcsMjIuNCw1NC4yQzQ0Mi4zMzEsMTIxLjcwMyw0MzYuMTMxLDEzOC43MDMsNDI0LjgzMSwxNTIuNDAzeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=")
        no-repeat;
    width: 17px;
    position: absolute;
    right: 1px;
    background-size: 14px;
    height: 18px;
}

/* #template2 [contenteditable="true"]:focus {
background: #ddd;
} */

#template2 .pdRL3 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.cp {
    cursor: pointer;
}

#template-table {
    width: 100%;
    float: left;
}

.cargo-Detail tr:nth-child(1) td {
    margin-bottom: 10px;
}

.meta {
    padding: 0 10px !important;
}

th[data-thead="sno"] {
    width: 40px;
}

img {
    max-width: 180px;
}
.bold {
    font-weight: bold !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-10 {
    font-size: 10px !important;
}
.font-12 {
    font-size: 12px !important;
}
.meta tr td {
    padding-bottom: 4px !important;
}
.slogan-pre-line {
    display: block;
    white-space: pre-line;
    line-height: 1.1em;
}
