.tags-table {
    max-width: 600px;
    width: 100%;
}

.tags-table td:nth-child(3) {
    white-space: inherit !important;
}
@media (max-width: 768px) {
    .tags-table {
        max-width: 100%;
        width: 100%;
    }
}
