.aside-pane {
    mat-dialog-content {
        overflow: inherit;
    }
}

.tags-table td:nth-child(3) {
    white-space: inherit !important;
}

@media (max-width: 991px) {
    .tags-table {
        max-width: 100%;
        width: 100%;
    }
}
