files:
    "/tmp/ssh_port_config.sh":       
        mode: 700        
        owner: root        
        group: root        
        content: |            
            sed 's/^#Port 22.*/Port 22/g' /etc/ssh/sshd_config > /etc/ssh/sshd_config.bak
            rm /etc/ssh/sshd_config            
            mv /etc/ssh/sshd_config.bak /etc/ssh/sshd_config
            /etc/init.d/sshd restart

container_commands:
    00_run_command:
        command: "/tmp/ssh_port_config.sh"
