.hamburger-menu-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 5px;
    width: 45px;
    li {
        display: flex;
        align-items: center;
        color: var(--color-giddh-blue);
        button {
            margin: 10px;
            padding: 0;
            width: 40px;
            height: 40px;
            position: fixed;
            top: 0;
            left: 0;
            i {
                color: var(--color-primary-header-icons);
            }
        }
    }
    &.page-has-heading {
        width: 100%;
        h4 {
            font-family: var(--font-semibold);
            font-size: var(--font-size-20);
        }
    }
}
.nav.navbar-nav {
    position: relative;
    z-index: 999 !important;
}
@media screen and (max-width: 767px) {
    .hamburger-menu-icon.page-has-heading {
        display: flex !important;
        top: 9px;
        z-index: 999 !important;
        width: calc(100% - 130px) !important;
        left: 45px;
        border: none !important;
        position: fixed !important;
        li {
            display: flex;
            button {
                display: none;
            }
            h4 {
                color: var(--color-white);
                font-size: var(--font-size-16);
                text-transform: initial !important;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .hamburger-menu-icon.page-has-heading {
        width: calc(100% - 130px) !important;
        li {
            width: calc(100% - 80px);
            h4 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 186px;
            }
        }
    }
}

@media screen and (max-width: 1019px) {
    .hamburger-menu-icon {
        li {
            button {
                margin: 10px 0 10px 4px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .hamburger-menu-icon.page-has-heading {
        display: flex !important;
        top: 9px;
        z-index: 999 !important;
        width: calc(100% - 130px) !important;
        left: 45px;
        border: none !important;
        position: fixed !important;
        li {
            display: flex;
            button {
                display: none;
            }
            h4 {
                color: var(--color-white);
                font-size: var(--font-size-16);
                text-transform: initial !important;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .hamburger-menu-icon.page-has-heading {
        width: calc(100% - 130px) !important;
        li {
            width: calc(100% - 80px);
            h4 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 186px;
            }
        }
    }
}
