.hamburger-menu-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 5px;
    width: 45px;
    li{
        display: flex;
        align-items: center;
        button{
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
        }
    }
}
.nav.navbar-nav {
    position: relative;
    z-index: 10;
}
