@import "../../../../../assets/css/color.scss";
.hamburger-menu-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 5px;
    width: 45px;
    li {
        display: flex;
        align-items: center;
        color: $midnight-blue;
        button {
            margin: 10px;
            padding: 0;
            width: 40px;
            height: 40px;
            position: fixed;
            top: 0;
            left: 0;
            i {
                color: $white;
            }
        }
    }
    &.page-has-heading {
        width: 100%;
        h4 {
            font-family: "opensans-semibold";
            font-size: 20px;
        }
    }
}
.nav.navbar-nav {
    position: relative;
    z-index: 999;
}

@media screen and (max-width:1019px){
    .hamburger-menu-icon {
        li {
            button {
                margin: 10px 0 10px 4px;
            }
        }
    }
}
