@import "../../../../../assets/css/color.scss";
.hamburger-menu-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 5px;
    width: 45px;
    li {
        display: flex;
        align-items: center;
        color: $midnight-blue;
        button {
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
            i {
                color: $midnight-blue;
            }
        }
    }
    &.page-has-heading {
        width: 100%;
        border-bottom: 1px solid $gainsboro;
        h4 {
            font-family: "opensans-semibold";
            font-size: 20px;
        }
    }
}
.nav.navbar-nav {
    position: relative;
    z-index: 10;
}
