.dropdown-menu {
    max-width: 400px;
    width: 100%;
}

.dropdown-menu .form-group {
    padding: 20px;
    margin-bottom: 0;
}

.dropdown-menu.open {
    display: block;
}

.pdf-height {
    height: 600px;
}