.form-horizontal .control-label {
    text-align: left;
}

.dropdown-menu {
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.bunch-list li {
    position: relative;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.bunch-list li:hover {
    background: var(--color-solitude);
}

.company-action {
    right: 15px;
    top: 50%;
    opacity: 0;
    z-index: -1;
    transform: translateY(-50%);
}

.bunch-parent .panel-body {
    /* height: 245px;
  max-height: 245px; */
    overflow: auto;
    padding: 0;
    padding-bottom: 52px;
}

.bunch-parent {
    position: relative;
}

.footer-btn {
    bottom: 0;
    padding: 10px 15px;
    width: 100%;
    text-align: right;
    right: 0;
    left: 0;
    background: var(--color-solitude);
}

.bunch-list li:hover .company-action {
    z-index: 1;
    opacity: 1;
}

.btn-link {
    padding-left: 0;
}
