.primary_color {
  color: #d35f29 !important;
}
.ledger-panel {
  overflow: visible;
}
.ledger-panel table tbody tr td a {
  color: #333;
}
.pItem {
  padding: 0 4px;
}
.dropdown-menu-2 {
  max-height: 190px;
  overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
  .ledger-panel .btn {
    margin-bottom: 13px;
  }
  .xs-d-block {
    display: block;
    float: none;
    width: 100%;
  }
}