<ng-container appTranslate [file]="'schedule-now'" (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event" (translationComplete)="translationComplete($event)">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{commonLocaleData?.app_schedule_now}}</h4>
        <button type="button" class="close pull-right" [attr.aria-label]="commonLocaleData?.app_close" (click)="closeModal.emit(true);">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="scheduleNowForm" class="pb-5  mb-4" (ngSubmit)="submit()">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>{{commonLocaleData?.app_name}} <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control" [placeholder]="commonLocaleData?.app_name" name="name" formControlName="name"
                        maxlength="100" />
                </div>
                <div class="form-group col-sm-12">
                    <label>{{commonLocaleData?.app_email}} <sup class="text-danger">*</sup></label>
                    <input type="email" class="form-control" [placeholder]="localeData?.email_placeholder" name="email"
                        formControlName="email" maxlength="100" />
                    <span class="error-msg"
                        *ngIf="scheduleNowForm.get('email').dirty && scheduleNowForm.get('email').errors">{{localeData?.invalid_email}}</span>
                </div>
                <div class="form-group col-sm-12">
                    <label>{{commonLocaleData?.app_mobile_number}} <sup class="text-danger">*</sup></label>
                    <div>
                        <sh-select class="pull-left select-caret phone-code-caret width-20" required name="phoneCode"
                            [placeholder]="commonLocaleData?.app_country_code" [options]="callingCodes$ | async" formControlName="phoneCode"
                            [defaultValue]="localeData?.default_country_code"></sh-select>
                        <input type="text" class="form-control pull-left width-765" placeholder="Mobile Number"
                            name="mobileNo" formControlName="mobileNo" (keypress)="allowOnlyNumbers($event)" />
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label>{{commonLocaleData?.app_description}}</label>
                    <textarea class="form-control" [placeholder]="commonLocaleData?.app_description" name="description"
                        formControlName="description" maxlength="2000"></textarea>
                </div>
                <div class="form-group col-sm-6">
                    <label>{{commonLocaleData?.app_date}}</label>
                    <giddh-datepicker [minDate]="minDate" name="date" formControlName="date" [placeholder]="commonLocaleData?.app_date"
                        (dateSelected)="createTimeSlots()">
                    </giddh-datepicker>
                </div>
                <div class="form-group col-sm-6">
                    <label>{{commonLocaleData?.app_time}}</label>
                    <sh-select class="time-selection" [options]="timeSlots" name="time" formControlName="time"
                        [isFilterEnabled]="true" [ItemHeight]="67" [forceClearReactive]="forceClear$ | async"
                        [placeholder]="localeData?.choose_time"></sh-select>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="button-group">
                        <button class="btn btn-primary" [ladda]="isLoading$ | async"
                            [disabled]="scheduleNowForm.invalid">{{commonLocaleData?.app_submit}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>