<div class="modal-header">
    <h4 class="modal-title pull-left">Schedule Now</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal.emit(true);">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="scheduleNowForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label>Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Name" name="name" formControlName="name" />
            </div>
            <div class="form-group col-sm-12">
                <label>Email <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email" />
            </div>
            <div class="form-group col-sm-12">
                <label>Mobile Number <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Mobile Number" name="mobileNo"
                    formControlName="mobileNo" />
            </div>
            <div class="form-group col-sm-12">
                <label>Description</label>
                <textarea class="form-control" placeholder="Description" name="description"
                    formControlName="description"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label>Date</label>
                <giddh-datepicker [minDate]="minDate" name="date" formControlName="date" placeholder="Date" (dateSelected)="createTimeSlots()">
                </giddh-datepicker>
            </div>
            <div class="form-group col-sm-6">
                <label>Time</label>
                <sh-select [options]="timeSlots" name="time" formControlName="time" [isFilterEnabled]="true"
                    [ItemHeight]="67" [forceClearReactive]="forceClear$ | async"></sh-select>
            </div>
            <div class="col-sm-12">
                <div class="button-group">
                    <button class="btn btn-primary" [ladda]="isLoading$ | async"
                        [disabled]="scheduleNowForm.invalid">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>