.label-width {
    min-width: 220px;
}

.toggle-width {
    min-width: 65px;
}

.export-border {
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 95%;
        background-color: var(--color-medium-gray);
        top: 49%;
        right: -55px;
        transform: translateY(-50%);
    }
}
