.parent-group > ul > li ul li div {
    color: var(--color-gray);
}
.btn-group.show {
    display: inline-block !important;
}
.btn-group > .btn:first-child {
    margin-left: 8px;
    margin-top: -3px;
    background: none;
    color: var(--color-gray);
    padding: 6px;
    margin-right: 0px !important;
}
.dropdown-menu > li > a:hover {
    background: var(--color-whisper);
    cursor: pointer;
}
.dropdown-menu > li > a {
    color: var(--color-chetwode-blue);
}
span.caret {
    display: none;
}
#inventory-sidebar {
    background: var(--color-white);
    min-height: 100vh;
    width: 260px;
}
.stock-grp-list > li:hover {
    background: var(--color-lavender);
}
.stock-grp-list > li.active {
    background: var(--color-lavender);
}
.stock-grp-list > li > a:hover {
    color: var(--color-night-rider);
}
:host ::ng-deep .nav-tabs > li {
    width: 50%;
    text-align: center;
    background: var(--color-gray-95);
}
.width-sidebar-form-control {
    width: 205px;
}
.width-sidebar-form-control-search {
    padding-left: 32px !important;
    width: 205px;
    display: inline-block;
}
.btn-link-2 {
    color: var(--color-primary);
}
.no-data-box {
    border-top: 1px solid var(--color-whisper) !important;
}

.text-light-2 {
    position: absolute;
    top: 10px;
    left: 11px;
}
