@import "../../../../assets/css/color.scss";
.parent-group > ul > li ul li div {
    color: $gray;
}
.btn-group.show {
    display: inline-block !important;
}
.btn-group > .btn:first-child {
    margin-left: 8px;
    margin-top: -3px;
    background: none;
    color: $gray;
    padding: 6px;
    margin-right: 0px !important;
}
.dropdown-menu > li > a:hover {
    background: $whisper;
    cursor: pointer;
}
.dropdown-menu > li > a {
    color: $chetwode-blue;
}
span.caret {
    display: none;
}
#inventory-sidebar {
    background: $white;
    min-height: 100vh;
    width: 260px;
}
.stock-grp-list > li:hover {
    background: $lavender;
}
.stock-grp-list > li.active {
    background: $lavender;
}
.stock-grp-list > li > a:hover {
    color: $night-rider;
}
:host ::ng-deep .nav-tabs > li {
    width: 50%;
    text-align: center;
    background: $gray-95;
}
.width-sidebar-form-control {
    width: 205px;
}
.width-sidebar-form-control-search {
    padding-left: 32px !important;
    width: 205px;
    display: inline-block;
}
.btn-link-2 {
    color: $primary;
}
.no-data-box {
    border-top: 1px solid $whisper !important;
}

.text-light-2{
    position: absolute;
    top: 10px;
    left: 11px;
}