:host.inventory-sidebar {
    position: fixed;
    top: var(--top-sidebar);
    bottom: 0;
    min-height: 100vh;
    background-color: var(--color-white);
    width: 240px;
    left: -240px;
    z-index: 991;

    .inventory-aside-pane {
        padding-bottom: 60px !important;
    }

    .help-aside-body {
        overflow-y: unset !important;
    }

    .aside-pane {
        background-color: var(--color-white) !important;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: unset;
        padding-bottom: 200px;

        .back-to-main-slider {
            display: block;
            padding: 15px 13px;
            margin-bottom: 0;
            .heading {
                position: relative;
                left: 21px;
                bottom: 25px;
                z-index: 1;
                font-size: var(--font-size-16);
                font-family: var(--font-regular);
                text-transform: uppercase !important;
            }
            .icon-pull-top {
                position: relative;
                z-index: 2;
                top: -6px;
                height: 14px;
            }
        }

        .help-aside-body {
            .inventory-items {
                ul {
                    li {
                        padding: 0px;

                        a {
                            display: flex;
                            align-items: flex-start;
                            padding: 7px 15px;

                            span {
                                i {
                                    color: var(--color-lavender);
                                    margin-right: 10px;
                                    font-size: var(--font-size-15);
                                }
                            }
                        }
                    }
                }
                mat-tree {
                    width: 240px;
                    background-color: var(--color-white);

                    mat-tree-node {
                        min-height: 30px;
                        .sidebar-menu-icons {
                            position: relative;
                            right: 7px;
                            height: 14px;
                            width: 14px;
                            filter: var(--color-image-filter-quaternary);
                        }
                        &:first-child {
                            .sidebar-menu-icons {
                                top: 2px;
                            }
                        }
                    }

                    .sidebar-list-icon {
                        position: absolute;
                        bottom: 15px;
                        left: 220px;
                    }
                    .sub-option {
                        cursor: pointer;
                        color: var(--color-sidebar-content-text);
                        letter-spacing: 0.14px;
                        height: 27px;
                        align-items: center;
                        font: normal normal 600 var(--font-size-15) / 30px var(--font-regular);
                        &:hover {
                            color: var(--color-white-tertiary);
                            background-color: var(--color-giddh-blue);
                            .sidebar-menu-icons {
                                filter: invert(99%) sepia(93%) saturate(24%) hue-rotate(68deg) brightness(106%) contrast(100%);
                            }
                        }
                        &.sub-option[aria-level="1"] {
                            position: relative;
                            padding-left: 20px !important;
                            height: 27px;
                            width: 100%;
                            line-height: 15px;
                            &:hover {
                                color: var(--color-giddh-blue);
                                background-color: var(--color-white);
                                .sidebar-menu-icons {
                                    filter: brightness(0) saturate(100%) invert(15%) sepia(31%) saturate(4938%) hue-rotate(224deg) brightness(91%) contrast(104%);
                                }
                            }
                        }
                    }
                    .hide-node {
                        display: none;
                    }
                    .list {
                        width: 260px;
                        position: relative;
                        right: 20px;
                        cursor: pointer;
                        letter-spacing: 0.14px;
                        height: 27px;
                        font: normal normal 600 var(--font-size-15) / 30px;
                        font-family: var(--font-regular);
                        color: var(--color-sidebar-content-text);
                        &:last-child {
                            min-height: 37px;
                        }
                        &:hover {
                            color: var(--color-giddh-blue);
                            .sidebar-list-icon {
                                color: var(--color-giddh-blue);
                            }
                            .sidebar-menu-icons {
                                filter: brightness(0) saturate(100%) invert(15%) sepia(31%) saturate(4938%) hue-rotate(224deg) brightness(91%) contrast(104%);
                            }
                            .sidebar-icon {
                                color: var(--color-giddh-blue);
                            }
                        }
                    }
                }
            }
        }
    }
}

.inventory-items {
    position: relative;
    bottom: 25px;

    ul {
        padding: 0;
        list-style: none;
        font-size: var(--font-size-15);
        font-family: var(--font-semibold);

        li {
            padding: 6px 20px;
            margin-bottom: 0px;

            a {
                cursor: pointer;

                img {
                    margin-right: 12px;
                }

                span {
                    color: var(--color-nero);
                    &:first-child {
                        line-height: 1.6;
                        height: 20px;
                        display: inline-flex;
                        -webkit-box-align: center;
                        align-items: center;
                        width: 28px;
                        float: left;
                    }

                    &:last-child {
                        float: left;
                        width: 80%;
                    }
                }
            }

            &:hover {
                background-color: var(--color-sidebar-list-background-hover);
            }
        }
    }
}

.inventory-items ul li:hover a span i {
    color: var(--color-nero) !important;
}

.inventory-sub-bar {
    font-family: var(--font-regular) !important;

    li {
        a {
            color: var(--color-nero) !important;
            padding-left: 50px !important;

            &:hover {
                background-color: var(--color-dark-fog);
                color: var(--color-giddh-blue) !important;
            }

            &.active {
                background-color: var(--color-dark-fog);
                color: var(--color-giddh-blue) !important;
            }
        }
    }
}
.active {
    background-color: var(--color-giddh-blue) !important;
    color: var(--color-white) !important;
    .sidebar-menu-icons {
        filter: invert(99%) sepia(93%) saturate(24%) hue-rotate(68deg) brightness(106%) contrast(100%) !important;
    }
    &:hover {
        background-color: var(--color-giddh-blue) !important;
        color: var(--color-white) !important;
    }
}

@media (max-width: 767px) {
    :host.inventory-sidebar {
        z-index: 9999;
        top: var(--top-sidebar);
    }
}

@media (max-height: 700px) {
    .help-aside-body {
        height: 100%;
        overflow-y: scroll;
    }
}
