@import "../../../assets/css/color.scss";

.primary-sidebar {
    background-color: $solitude;
    .company-branch-block {
        .company-name{
            .head-nav {
                background: $white-smoke;
                border-bottom: 1px solid $gainsboro;
                margin-bottom: 5px;
            }
            .user-dropdown-header{
                left: auto !important;
                right: -286px !important;
                top: 0 !important;
            }
            .company-text {
                padding: 6px 8px 6px 0 !important;
                overflow: hidden;
                .company-name-finance-year {
                    display: inline-block;
                    padding-left: 15px;
                    width: 90%;
                }
            }
        }
        h3 {
            font-family: "opensans-semibold";
            color: $black-pearl;
            .company-alice {
                width: 30px;
                height: 30px;
                border: 2px solid $black-pearl;
                padding: 5px;
                border-radius: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                letter-spacing: -2px;
                font-size: 13px !important;
            }
            .company-full-name{
                margin-top: 5px;
                height: 38px;
            }
            img.company-icon {
                width: 28px;
            }
        }
        .current-branch-name {
            li {
                a {
                    color: $trout;
                }
            }
            .branch-alice {
                display: none;
            }
        }
        .branch-connection {
            position: absolute;
            top: 36px;
            font-size: 30px;
            left: 15px;
            color: $grey-chateau;
        }
    }
    .search-box {
        .input-group-text {
            background-color: $white;
            padding: 8px !important;
        }
        input {
            border-left: none;
            padding-left: 0 !important;
             &:focus{
                border-color: $gainsboro !important;
            }
        }
        &:after {
            content: "Cmd + G ";
            position: absolute;
            display: block;
            clear: both;
            top: 0;
            right: 10px;
            font-size: 12px;
            line-height: 36px;
            color: $trout;
            z-index: 1;
            color: $grey-chateau;
        }
    }
    .wrap-menus {
        height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .account-block {
        .account-collapse {
            p{
                i{
                    font-size: 18px;
                    color: $grey-chateau;
                }
            }
            .left-fixed-header > li a.active {
                background: $lavender;
                color: $cornflower-blue;
            }
        }
        p {
            color: $black-pearl;
            font-family: "opensans-semibold";
        }
        ul {
            li {
                line-height: 1.5;
                margin-bottom: 12px;
                margin-top: 12px;
                a {
                    color: $trout;
                    line-height: 16px;
                    &.show-more {
                        color: $midnight-blue;
                        text-decoration: underline;
                    }
                }
            }
        }
        .account-dropdown {
            display: none;
        }
    }
    .menu-block {
        .menu-item {
            font-family: "opensans-semibold";
            p {
                display: flex;
                justify-content: space-between;
                span {
                    .icon-arrow-down {
                        transform: rotate(-85deg);
                    }
                }
            }
        }
        .menu-item-wrapper {
            line-height: 40px;
            ul {
                .main-item {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    a {
                        color: $trout;
                        font-family: "opensans-semibold";
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &.dropdown-toggle {
                            padding: 0 15px;
                        }
                        span {
                            min-width: 140px;
                            display: flex;
                            align-items: center;
                            i {
                                font-size: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                    li {
                        .icon-arrow-down {
                            transform: rotate(-85deg);
                        }
                        a {
                            color: $trout;
                            align-items: center;
                            display: flex;
                            font-family: "opensans-regular";
                        }
                    }
                    .sub-menu {
                        &.show {
                            position: static;
                            box-shadow: none;
                            border: none;
                            background-color: transparent;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            padding-left: 0 !important;
                            margin-top: 0;
                            padding-top: 0;
                        }
                        li {
                            padding: 0;
                            a {
                                color: $trout;
                                align-items: center;
                                display: flex;
                                font-family: "opensans-regular";
                                background-color: transparent;
                                justify-content: flex-start;
                                padding: 10px 0 10px 50px;

                                i {
                                    font-size: 20px;
                                    margin-right: 10px;
                                }
                            }
                            &:hover {
                                a {
                                    background-color: $cornflower !important;
                                    color: $white !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .toogle-sidebar {
        i {
            width: 20px;
            height: 20px;
            background-color: $white;
            border-radius: 50%;
            border: 1px solid $gainsboro;
            transform: rotate(90deg);
            position: absolute;
            top: 70px;
            right: -10px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .switch-branch-wrapper {
        margin-top: 15px;
        .btn-group {
            display: flex;
            a.dropdown-toggle {
                font-size: 16px;
                display: flex;
                padding: 0;
                font-family: "opensans-regular";
                color: $nero;
                width: 100%;
                align-items: flex-start;
                justify-content: space-between;
                word-break: break-word;
                white-space: inherit;
                i{
                    position: relative;
                    top: 2px;
                }
                span {
                    font-size: 9px;
                    float: right;
                    padding-top: 4px;
                    transform: rotate(270deg);
                    border: 2px solid $gray;
                    padding: 3px;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    color: $gray;
                }
            }
            .dropdown-menu {
                left: auto !important;
                right: -270px !important;
                top: 17px !important;
                transform: translateY(0px);
                bottom: auto;
                border: 1px solid $gainsboro;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                min-width: 270px;
                max-width: 270px;
                max-height: 315px;
                overflow-y: auto;
                padding-top: 0;
                border-top: none;
                overflow-x: hidden;
                li {
                    a {
                        padding: 6px 10px;
                        white-space: normal;
                        word-break: break-word;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: $nero !important;
                        cursor: pointer;
                        &.dropdown-item.active-branch {
                            color: $chetwode-blue;
                            font-weight: bold;
                        }
                        &.company-create {
                            color: $chetwode-blue !important;
                        }
                        &:hover {
                            color: $chetwode-blue !important;
                        }
                    }
                    span {
                        a {
                            padding: 0;
                        }
                    }
                    .branch-alias-name {
                        width: 90%;
                    }
                }
                .go-to-company {
                    color: $deep-sky-blue;
                    &.company-label {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                }
                .company-create {
                    color: $chetwode-blue;
                }
                div {
                    input {
                        padding-left: 30px;
                        border-left: none;
                    }
                    .input-group-addon {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    &.sidebar-collapse {
        .company-full-name {
            margin-top: 5px;
            display: none !important;
        }
        .company-branch-block {
            padding: 0 10px !important;
            h3 {
                justify-content: center;
                .company-alice {
                    margin-right: 0;
                    width: 34px;
                    height: 34px;
                }
            }
             .current-branch-name {
                margin-top: 0;
                margin-left: 0;
                .branch-name {
                    display: none;
                }
                .branch-alice {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin-top: 15px;
                    font-family: "opensans-semibold";
                }
             }
        }
        .account-dropdown-collapse {
                            position: absolute !important;
                            left: 60px !important;
                            z-index: 9999999 !important;
                            background-color: $white !important;
                            border: 1px solid $cornflower !important;
                            border-radius: 0;
                            width: 180px;
                            top: 0px !important;
                            padding-bottom: 0 !important;
                            li {
                                margin-top: 0 !important;
                                margin-bottom: 0 !important;
                                a {
                                    padding: 10px 10px !important;
                                    line-height: 20px;
                                    display: flex;
                                    i {
                                        transform: none !important;
                                        height: auto !important;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
        .branch-connection {
            display: none;
        }
        .search-block {
            padding: 0 10px !important;
            .search-box {
                margin-top: 15px !important;
                .input-group {
                    .input-group-prepend {
                        .input-group-text {
                            border-radius: 50%;
                            width: 36px;
                            height: 36px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    input {
                        display: none;
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
        .wrap-menus {
            overflow: initial !important;
            .menu-block {
                .menu-item {
                    display: none;
                }
                .menu-item-wrapper {
                    .giddh-primary-items {
                        margin-top: 80px;
                    }
                    .main-item {
                        margin-bottom: 0;
                        a {
                            padding: 10px 10px !important;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            &:hover {
                                background-color: $cornflower;
                                color: $white;
                            }
                            a.dropdown-toggle {
                                padding: 0 10px;
                            }
                            span {
                                min-width: auto !important;
                                .item-name {
                                    display: none;
                                }
                                i {
                                    font-size: 20px;
                                    margin-right: 0px !important;
                                    width: 22px !important;
                                    height: 20px;
                                    transform: none;
                                }
                            }
                            i{
                                transform: rotate(-90deg);
                                margin-left: 0;
                                width: 15px;
                                height: 10px;
                                display: flex;
                            }
                        }
                        .sub-menu {
                            position: absolute !important;
                            left: 60px !important;
                            z-index: 9999999 !important;
                            background-color: $white !important;
                            border: 1px solid $cornflower !important;
                            border-radius: 0;
                            width: 180px;
                            top: 0px !important;
                            padding-bottom: 0 !important;
                            li {
                                a {
                                    padding: 10px 10px !important;
                                    line-height: 20px;
                                    display: flex;
                                    i {
                                        transform: none !important;
                                        height: auto !important;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .account-block {
                padding-left: 0 !important;
                margin-top: 15px;
                .account-collapse {
                    display: none;
                }
                .account-dropdown {
                    display: flex !important;
                    padding: 0 10px;
                    a {
                        &.dropdown-toggle {
                            display: flex;
                            span {
                                display: flex;
                            }
                        }
                        span {
                            i {
                                font-size: 20px;
                                color: $trout;
                                transform: none;
                            }
                        }
                        i {
                            font-size: 14px;
                            transform: rotate(-90deg);
                            display: inline-flex;
                            color: $trout;
                            width: 16px;
                            height: 19px;
                        }
                    }
                }
            }
            .toogle-sidebar {
                i {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
/*responsive starts here*/
@media(max-height:800px){
    .sidebar-collapse{
         .other-sub-menu-item{
            height: 200px;
            overflow-y: auto;
        }
    }
    .menu-block{
        padding-bottom: 40px;
    }
    .wrap-menus{
          padding-bottom: 80px;
    }
}
