@mixin highlight-color($bgColor, $color) {
    background-color: $bgColor !important;
    color: $color !important;
}
.primary-sidebar {
    padding-top: 0 !important;
    background-color: var(--color-sidebar-background);
    .company-branch-block {
        background-color: var(--color-sidebar-company-background);
        ul.branch-connection {
            padding: 14px 0;
        }
        #button-company-branch {
            list-style: none;
        }
        .branch-connection {
            span.outer-span {
                width: 12px;
                height: calc(100% - 54px);
                border: 2px solid var(--color-primary-sidebar-branch-connection-outer-span-background);
                max-height: 100%;
                min-height: 33px;
                display: block;
                border-top: none;
                border-right: none;
                position: absolute;
                left: 32px;
                top: 40px;
                display: none;
                &:after {
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    display: block;
                    background-color: var(--color-primary-sidebar-branch-connection-outer-span-background);
                    border-radius: 50%;
                    content: "";
                    left: -4px;
                }
                &:before {
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    display: block;
                    background-color: var(--color-primary-sidebar-branch-connection-outer-span-background);
                    border-radius: 50%;
                    content: "";
                    bottom: -4px;
                    right: -4px;
                }
            }
        }
        .company-name {
            .icon-down-new {
                position: relative;
                right: 5px;
                color: var(--color-sidebar-content-text);
            }
            .icon-cross {
                display: flex;
                font-size: 12px;
                color: var(--color-sidebar-content-text);
            }
            .head-nav {
                background: var(--color-wild-sand);
                border-bottom: 10px solid var(--color-iron);
                margin-bottom: 0;
            }
        }
        h3 {
            font-family: var(--font-semibold);
            color: var(--color-primary-sidebar-company-branch-block-h3);
            .company-alice {
                width: 30px;
                height: 30px;
                min-width: 30px;
                border: 1px solid var(--color-sidebar-content-text);
                padding: 15px;
                border-radius: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                letter-spacing: -2px;
                font-size: var(--font-size-16) !important;
                color: var(--color-sidebar-content-text);
            }
            .company-full-name {
                white-space: normal;
                word-break: break-word;
                font-size: var(--font-size-16);
                padding-left: 5px;
                .icon-branch-connect {
                    position: absolute;
                    bottom: 0;
                }
                .company-ellipsis {
                    white-space: nowrap;
                    width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--color-sidebar-content-text);
                }
                .branch-ellipsis {
                    white-space: nowrap;
                    width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: var(--font-regular);
                    font-size: var(--font-size-12);
                    margin-left: 18px;
                    margin-top: 7px;
                }
            }
            img.company-icon {
                width: 28px;
            }
        }
        .current-branch-name {
            li {
                a {
                    color: var(--color-primary-sidebar-current-branch-name-anchor);
                }
            }
            .branch-alice {
                display: none !important;
            }
            .switch-branch {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
            }
            .switch-branch-alice {
                display: none;
            }
        }
        .company-branch-nav {
            height: calc(100vh - 110px);
            box-shadow: none;
            background-color: var(--color-sidebar-background);
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
        }
    }
    .search-box {
        .input-group-text {
            padding: 8px !important;
            color: var(--color-sidebar-search-bar-text);
            background-color: var(--color-sidebar-primary-search-bar-background);
            border: none;
        }
        input {
            border-left: none;
            padding-left: 0 !important;
            border-right: none !important;
            background-color: var(--color-sidebar-primary-search-bar-background) !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            border: none;
            position: relative;
            left: 1px;
            &:focus {
                border-color: var(--color-iron) !important;
            }
            &::placeholder {
                color: var(--color-sidebar-search-bar-text);
            }
        }
        .input-group-append {
            font-size: var(--font-size-12);
            color: var(--color-sidebar-search-bar-text);
            right: 10px;
            top: 0;
            padding: 0 5px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-sidebar-primary-search-bar-background);
            border-radius: 5px;
            border-left: none;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border: none;
            position: relative;
            left: 2px;
        }
    }
    .wrap-menus {
        min-height: calc(100vh - 200px);
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .account-block {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        .account-collapse {
            p {
                display: block;
                i {
                    font-size: var(--font-size-18);
                    color: var(--color-primary-sidebar-account-collapse-i);
                }
            }
            .left-fixed-header > li a.active {
                @include highlight-color(var(--color-sidebar-background), var(--color-sidebar-anchor-text-hover));
            }
        }
        p {
            color: var(--color-sidebar-list-head);
            font-family: var(--font-semibold);
        }
        ul {
            li {
                line-height: 1.3;
                margin-bottom: 10px;
                margin-top: 10px;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
                a {
                    color: var(--color-sidebar-primary-anchor-text);
                    line-height: 16px;
                    &.show-more {
                        color: var(--color-primary-sidebar-show-more);
                        text-decoration: underline;
                        font-size: var(--font-size-12);
                    }
                    &:hover {
                        color: var(--color-sidebar-anchor-text-hover);
                    }
                }
            }
        }
        .account-dropdown {
            display: none;
        }
    }
    .menu-block {
        .menu-item {
            font-family: var(--font-semibold);
            p {
                display: flex;
                justify-content: space-between;
                line-height: 20px;
                color: var(--color-sidebar-list-head);
                // background-color: var(--color-body-background);
                span {
                    .icon-arrow-down {
                        transform: rotate(0deg);
                    }
                    &.rotate-180 {
                        i.icon-down-new {
                            transform: rotate(180deg);
                        }
                    }
                    &.rotate-0 {
                        i.icon-down-new {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }
        .menu-item-wrapper {
            line-height: 20px;
            ul {
                .main-item {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    p {
                        span.text-gray {
                            display: flex;
                        }
                    }
                    a {
                        color: var(--color-sidebar-secondary-anchor-text);
                        font-family: var(--font-semibold);
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:hover {
                            color: var(--color-sidebar-anchor-text-hover);
                        }
                        &.dropdown-toggle {
                            padding: 0 20px;
                        }
                        &.active {
                            color: var(--color-sidebar-anchor-text-hover) !important;
                            background-color: transparent;
                        }
                        &:first-child {
                            span {
                                padding: 10px 0;
                                &.item-name {
                                    padding: 0;
                                }
                            }
                        }
                        span {
                            min-width: 140px;
                            display: flex;
                            align-items: center;
                            i {
                                font-size: 22px;
                                margin-right: 10px;
                            }
                        }
                        i.icon-right {
                            transform: rotate(90deg);
                        }
                    }
                    &.open {
                        a {
                            i.icon-right {
                                transform: rotate(270deg);
                            }
                        }
                    }
                    li {
                        .icon-arrow-down {
                            transform: rotate(-85deg);
                        }
                        a {
                            color: var(--color-primary-sidebar-menu-item-wrapper-list-anchor);
                            align-items: center;
                            display: flex;
                            font-family: var(--font-regular);
                        }
                    }
                    .sub-menu {
                        &.show {
                            position: static;
                            box-shadow: none;
                            border: none;
                            background-color: transparent;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            padding-left: 0 !important;
                            margin-top: 0;
                            padding-top: 0;
                        }
                        li {
                            padding: 0;
                            margin-bottom: 0 !important;
                            a {
                                color: var(--color-sidebar-primary-anchor-text);
                                align-items: center;
                                display: flex;
                                font-family: var(--font-regular);
                                background-color: transparent;
                                justify-content: flex-start;
                                padding: 10px 0 10px 50px;

                                i {
                                    font-size: 22px;
                                    margin-right: 10px;
                                }
                                &.active {
                                    @include highlight-color(
                                        var(--color-sidebar-anchor-text-hover),
                                        var(--color-sidebar-menu-list-items)
                                    );
                                }
                            }
                            &:hover {
                                a {
                                    @include highlight-color(
                                        var(--color-sidebar-anchor-text-hover),
                                        var(--color-sidebar-menu-list-items)
                                    );
                                    &.active {
                                        @include highlight-color(
                                            var(--color-sidebar-anchor-text-hover),
                                            var(--color-sidebar-menu-list-items)
                                        );
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .toogle-sidebar {
        i {
            width: 20px;
            height: 20px;
            background-color: var(--color-white);
            border-radius: 50%;
            border: 1px solid var(--color-iron);
            transform: rotate(90deg);
            position: absolute;
            top: 70px;
            right: -10px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.sidebar-collapse {
        .company-branch-nav {
            display: none !important;
        }
        .company-full-name {
            margin-top: 5px;
            display: none !important;
        }
        .company-branch-block {
            padding: 0 10px !important;
            .branch-connection {
                padding: 20px 0;
                .outer-span {
                    display: none;
                }
                &.padding-14 {
                    padding: 14px 10px !important;
                }
            }
            h3 {
                justify-content: center;
                align-items: center;
                .company-alice {
                    margin-right: 0;
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                }
            }
            .company-name {
                .icon-down-new {
                    right: 5px;
                    transform: rotate(-90deg);
                    display: none;
                }
                .icon-cross {
                    display: none;
                }
            }
            .current-branch-name {
                margin-top: 0;
                margin-left: 0;
                .branch-name {
                    .branch-name-full {
                        display: none;
                    }
                    .switch-branch-alice {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin-top: 15px;
                        font-family: var(--font-semibold);
                        letter-spacing: 0;
                        font-size: var(--font-size-16);
                        height: 36px;
                        width: 36px;
                        min-width: 45px;
                        i {
                            top: 0;
                        }
                    }
                }
                .branch-alice {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin-top: 15px;
                    font-family: var(--font-semibold);
                    letter-spacing: 0;
                    font-size: var(--font-size-16);
                    height: 36px;
                    width: 36px;
                }
            }
            .company-branch-nav {
                display: block;
            }
        }
        .account-dropdown-collapse {
            position: absolute !important;
            left: 60px !important;
            z-index: 9999999 !important;
            background-color: var(--color-white) !important;
            border: 1px solid var(--color-primary-sidebar-account-dropdown-collapse) !important;
            border-radius: 0;
            width: 180px;
            top: 0px !important;
            padding-bottom: 0 !important;
            li {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                a {
                    padding: 10px 10px !important;
                    line-height: 20px;
                    display: flex;
                    i {
                        transform: none !important;
                        height: auto !important;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .search-block {
            padding: 0 10px !important;
            .search-box {
                .input-group {
                    display: flex;
                    justify-content: center;
                    .input-group-prepend {
                        .input-group-text {
                            border-radius: 50%;
                            width: 36px;
                            height: 36px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    input,
                    .input-group-append {
                        display: none;
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
        .wrap-menus {
            overflow: initial !important;
            .menu-block {
                .menu-item {
                    display: flex;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    span {
                        i.icon-go {
                            display: none;
                        }
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        background-color: var(--color-body-background);
                        width: 100%;
                        height: 100%;
                        left: 40px;
                        z-index: 999;
                        top: 0;
                        box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
                        filter: blur(7px);
                    }
                }
                .menu-item-wrapper {
                    .giddh-primary-items {
                        margin-top: 0;
                    }
                    .main-item {
                        margin-bottom: 0;
                        a {
                            padding: 0 20px !important;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            &:hover,
                            &.active {
                                @include highlight-color(
                                    var(--color-primary-sidebar-menu-item-anchor-active-hover-highlight),
                                    var(--color-white)
                                );
                            }
                            a.dropdown-toggle {
                                padding: 0 10px;
                            }
                            span {
                                min-width: auto !important;
                                .item-name {
                                    display: none;
                                }
                                i {
                                    font-size: 22px;
                                    margin-right: 0px !important;
                                    width: 22px !important;
                                    height: 20px;
                                    transform: none;
                                }
                            }
                            i {
                                margin-left: 0;
                                width: 14px;
                                height: 14px;
                                display: flex;
                                &.icon-right {
                                    transform: none;
                                    opacity: 0.5;
                                    display: none;
                                }
                            }
                        }
                        .sub-menu {
                            position: absolute !important;
                            left: 60px !important;
                            z-index: 9999999 !important;
                            background-color: var(--color-white) !important;
                            border: 1px solid var(--color-primary-sidebar-menu-item-wrapper-sub-menu-border) !important;
                            border-radius: 0;
                            width: 180px;
                            top: 0px !important;
                            padding-bottom: 0 !important;
                            li {
                                a {
                                    padding: 10px 10px !important;
                                    line-height: 20px;
                                    display: flex;
                                    i {
                                        transform: none !important;
                                        height: auto !important;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .account-block {
                padding-right: 10px !important;
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
                .account-collapse {
                    display: block;
                    ul {
                        li {
                            overflow: hidden;
                            white-space: nowrap;
                            position: relative;
                        }
                    }
                }
                .account-dropdown {
                    display: none !important;
                    padding: 8px 8px 8px 22px;
                    justify-content: center;
                    a {
                        &.dropdown-toggle {
                            display: flex;
                            span {
                                display: flex;
                            }
                        }
                        span {
                            i {
                                font-size: 20px;
                                color: var(--color-primary-sidebar-account-dropdown-i);
                                transform: none;
                            }
                        }
                        i {
                            font-size: var(--font-size-16);
                            display: inline-flex;
                            color: var(--color-primary-sidebar-account-dropdown-i);
                            width: 14px;
                            height: 14px;
                            justify-content: center;
                            align-items: center;
                            margin-left: 0;
                            &.icon-right {
                                margin-left: 3px;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                &:after {
                    position: absolute;
                    content: "";
                    background-color: var(--color-body-background);
                    width: 100%;
                    height: 100%;
                    left: 40px;
                    z-index: 999;
                    top: 0;
                    box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
                    filter: blur(7px);
                }
            }
            .toogle-sidebar {
                i {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
/*responsive starts here*/
@media (min-height: 800px) and (max-height: 1024px) {
    .primary-sidebar {
        .wrap-menus {
            height: 100vh;
            max-height: calc(100vh - 240px);
            min-height: calc(100vh - 240px);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}
@media (max-height: 950px) {
    .sidebar-collapse {
        .other-sub-menu-item {
            height: 200px;
            overflow-y: auto;
        }
    }
    .menu-block {
        padding-bottom: 20px;
    }
    .primary-sidebar.sidebar-collapse {
        .menu-item-wrapper {
            ul {
                .main-item {
                    .sub-menu {
                        overflow-y: auto;
                        max-height: 285px;
                    }
                }
            }
        }
    }
}
