.radio-inline{
    margin-left: 6px;
}
.export-type{
    display: flex;
}
.show-columnar-button{
    display: inline-block;
}
@media (max-width: 767px) {
    .descendingRadioBtn {
        display: block !important;
        margin-left: 100px !important;
    }
    .export-type {
        flex-direction: column;
        span{
            margin-right: 15px !important;
        }
    }
    .show-columnar-button{
        display: none;
    }
}
