.giddh-table {
    //background: var(--color-white);
    font-weight: var(--font-weight-semibold);
    border: 1px solid var(--color-silver);
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 0;

    thead > tr > td,
    thead > tr > th {
        vertical-align: middle;
        font-size: var(--font-size-15);
        border-left: none;
        border-right: none;
        //background: var(--color-white);
        padding: 15px 11px;
        border-bottom: 1px solid var(--color-silver);
        font-weight: var(--font-weight-semibold);
    }
    thead > tr > th {
        border-top: none;
        white-space: nowrap;
        color: var(--color-blue-primary) !important;
        position: sticky !important;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid var(--color-silver) !important;
        //background-color: var(--color-white);
        .d-flex {
            align-items: center;
        }
        .icon-pointer {
            margin-left: 0px;
            cursor: pointer;
        }
    }
    thead > .register-table-th > th {
        //color: var(--color-black) !important;
        border-bottom: none !important;
        background: var(--color-orange-light);
        font-size: var(--font-size-16);
    }
    thead > .register-sales-purchase > th {
        top: 54px !important;
    }

    thead > tr > th.td-search-box {
        min-width: 190px !important;
    }
    tbody > tr > td {
        font-weight: 400;
        padding: 14px 10px;
        text-transform: capitalize;
        border-right: none;
        vertical-align: middle !important;
        font-size: var(--font-size-15);
        word-break: break-word;
        border-left: none;
        border-right: none;
        font-family: var(--font-family);
        border-bottom: none !important;
        white-space: nowrap !important;
        //color: var(--color-black);
        border-top: 1px solid var(--color-silver) !important;
        //background-color: var(--color-white) !important;
        &.text-break {
            white-space: normal !important;
        }
    }
    tbody > tr > td:first-child {
        //color: var(--color-black);
    }
    thead > tr > th:first-child,
    tbody > tr > td:first-child {
        border-left: none;
        white-space: normal !important;
        word-break: inherit;
    }
    tbody > tr > td.no-wrap {
        white-space: nowrap !important;
    }
    thead > tr > th:last-child,
    tbody > tr > td:last-child {
        border-right: none;
    }
    tfoot > tr > td {
        vertical-align: middle !important;
        font-size: var(--font-size-15);
        word-break: break-word;
        white-space: nowrap;
    }
    tbody tr:hover td {
        background: var(--color-blue-light) !important;
    }
    tbody tr:last-child td {
        border-bottom: 1px solid var(--color-silver) !important;
    }
    tbody tr:last-child .status-mobile {
        border-bottom: none !important;
    }
    tbody tr:first-child .status-mobile {
        border-top: none !important;
    }
    .icon-sort-asc {
        //color: var(--color-dark-gray);
        font-size: 16px !important;
    }
    .icon-pointer .active-text-color {
        color: var(--color-blue-primary);
        opacity: 1;
    }
    .td-search-box {
        padding: 0px !important;
        position: relative;

        div {
            display: flex;
            span {
                padding: 8px 0 8px 0px;
            }
        }
        div i {
            margin-top: 1px;
            color: var(--color-blue-primary);
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 8px;
        }
        .input-container input {
            height: 36px;
            min-width: 100%;
            padding: 11px;
            padding-right: 40px;
            //color: var(--color-black);
            border: none;
            background-color: var(--color-light-gray) !important;
            border-radius: 5px;
        }
    }
}
/* Material Table Cell Font Size */
.mat-cell,
.mat-footer-cell {
    font-size: var(--font-size-15) !important;
}
