.input-search {
    width: 100%;
}

.filter-list .inner-filter-list .mat-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto !important;
}

.filter-list .inner-filter-list .mat-list-item:hover {
    background: var(--color-dark-fog);
    transition: 0.5s all ease;
}

.filter-list .inner-filter-list .mat-list-item .left-item {
    width: 100%;
}

.filter-list .inner-filter-list .mat-list-item .right-item {
    width: 160px;
    text-align: right;
}

.filter-list .inner-filter-list .mat-list-item .right-item i {
    color: var(--color-gray);
    margin-left: 5px;
}

.filter-list .inner-filter-list {
    overflow-y: auto;
}

.filter-list .activeItem {
    background-color: var(--color-dark-fog);
}
