@import "../../../../assets/css/color.scss";

.input-search {
    width: 100%;
}

.filter-list .inner-filter-list li {
    border-bottom: 1px solid $gainsboro;
    padding: 15px;
    display: flex;
}

.filter-list .inner-filter-list li:hover {
    background: $whisper-light;
    transition: 0.5s all ease;
}

.filter-list .inner-filter-list li .left-item {
    width: 100%;
}

.filter-list .inner-filter-list li .right-item {
    width: 160px;
    text-align: right;
}

.filter-list .inner-filter-list li .right-item i {
    color: $nobel;
    margin-left: 5px;
}

.filter-list .inner-filter-list {
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.filter-list .activeItem {
    background-color: $whisper-light;
}
