@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Inconsolata');

/* font-family: 'Arvo', serif; */


/* font-family: 'Inconsolata', monospace; */

#magicLink {
    font-size: 14px;
}

.nav-link>.active {
    background-color: #f26122;
}

#demo {
    padding-top: 25.833px;
    font-size: 26px;
    color: #fff;
    font-weight: regular;
}

.account_name {
    font-weight: 300;
    font-size: 14px;
}

.rec {
    font-weight: 600;
    font-size: 14px;
}

.text-white {
    color: #fff;
}

.nav-tabs>li>a {
    color: #000;
}

.bg-f9 {
    background: #f9f9f9;
}

.bg-gr {
    background: #ccc;
}

.bg-wh {
    background: #fff;
}

.bg-yl {
    background: #fff7ea;
}

.wid-50 {
    width: 50%;
}

.bg-bl {
    background: #27273b;
}

.fs-18 {
    font-size: 18px;
}

.download-invoice-ledger {
    position: absolute;
}

#transaction_table table th[class*=col-]:last-child {
    border-right: 1px solid #ddd !important;
}

#transaction_table table td[class*=col-],
table th[class*=col-] {
    padding: 8px;
}

.compoundEntry td,
.compoundEntry td .form-control {
    background: #fddfa4 !important;
    border-left: 1px solid #ccc;
}

.nav.nav-tabs {
    padding: 0;
    border: 0;
}

.nav-tabs>li>a {
    border-radius: 0;
}

.nav-tabs>li>a.active,
.nav-tabs>li>a.active:focus,
.nav-tabs>li>a.active:hover {
    background-color: #f26122;
    color: #fff !important;
}

.table-bordered {
    border: 0;
}

.pd350 {
    padding-bottom: 350px;
}


/* general css */

.cmnPd80 {
    padding: 80px 0;
}

.ylwBg {
    background-color: #FFF8EA;
}

.ledger-stat {
    margin-bottom: 0;
}

.homeBtmhalf h3 {
    letter-spacing: 1px;
    line-height: 36px;
    margin-bottom: 20px;
}

.arvo,
.head3 {
    /* font-family: 'Arvo', serif; */
    font-weight: 400;
}

.sub_footer {
    background: #f26122;
    color: #fff;
}


/*footer style start*/

#contact p.mrT3,
.mrT3 {
    margin-top: 30px
}

#contact {
    background-color: #f26122;
    padding: 60px 0;
    /* font-family: 'Inconsolata', serif; */
    font-weight: 400;
    color: #fff;
    /* letter-spacing: 1px; */
    /* font-family: 'Arvo', serif; */
}

.headerline {
    font-size: 30px;
    /* font-family: 'Arvo', serif; */
    color: white;
}

#contact p {
    margin: 0;
    line-height: 28px;
    font-size: 18px;
}

#contact label {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#contact textarea.form-control {
    resize: none;
    height: 150px;
}

footer {
    margin-top: 0;
}

footer small {
    color: #565B5B
}

footer small a {
    color: #565B5B;
}

#footer-mascot {
    position: absolute;
    bottom: -60px;
    left: 0;
    background: url('images/footer-mascot.png') no-repeat;
    width: 111px;
    height: 220px;
}


/*social icons*/

.social {
    -moz-transition: 0.3s ease 0s;
    margin-bottom: 30px;
}

.social a {
    display: inline-block;
    background-color: #26263A;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.scicn {
    width: 48px;
    height: 48px;
    /* background: url(../images/new/social-icons.png) no-repeat; */
    text-indent: -999em
}

.fb {
    background-position: 0 0
}

.twit {
    background-position: 0 -48px
}

.in {
    background-position: 0 -96px
}

.social a:hover .fb {
    background-position: -48px 0
}

.social a:hover .twit {
    background-position: -48px -48px
}

.social a:hover .in {
    background-position: -48px -96px
}

#farzi {
    height: 310px;
}

.arvo,
.head3,
strong {
    /* font-family: 'Arvo', serif; */
    font-weight: 400;
}

strong {
    font-weight: 700 !important;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

#web_footer .h1,
#web_footer .h2,
#web_footer .h3,
#web_footer h1,
#web_footer h2,
#web_footer h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#web_footer {
    /* font-family: 'Arvo', serif; */
}

.green {
    color: #00796b;
}

.inconsolata {
    /* font-family: 'Inconsolata', monospace; */
}

.font-black {
    color: black !important;
}

:host ::ng-deep footer {
    margin-top: 0;
}

#contact a:hover,
#contact a:focus {
    color: #fff;
}


/* Chrome/Opera/Safari */

.form-control::-webkit-input-placeholder {
    color: #f9ac80;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #f9ac80;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #f9ac80;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #f9ac80;
}


/*footer style end*/


/* --------------- Responsive Fixes --------------- */


/* small device */

@media (max-width: 992px) {
    .device-big {
        display: none;
    }
    .device-small {
        display: block;
    }
    #web-cont {
        display: none;
    }
    #web-bg {
        background-color: #fff;
    }
     :host ::ng-deep footer>div>a {
        display: block;
        text-align: center;
    }
     :host ::ng-deep footer>div>span {
        display: none;
    }
     :host ::ng-deep footer>div>a:first-child {
        margin-left: 22px
    }
    #contact p {
        line-height: 28px;
    }
     :host ::ng-deep .headerline {
        font-size: 18px;
    }
    #contact .form-control {
        background-color: transparent !important;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
    #farzi {
        height: 20px;
    }
}


/* big device */

@media only screen and (min-width: 993px) {
    .device-big,
    .tab-content>.tab-pane {
        display: block;
    }
    .device-small {
        display: none;
    }
    .tab-content>.tab-pane {
        display: inline;
    }
    #mob-cont {
        display: none;
    }
    #contact .btn-lg {
        font-size: 18px;
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .col-md-6 {
        width: 50%;
    }
    .ledger_book:before {
        content: ' ';
        height: 100%;
        position: absolute;
        width: 0;
        border-left: 1px solid #ccc;
        top: 0;
        bottom: 0;
        z-index: 9;
        margin: 0 auto;
        left: 0px;
        right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        margin-right: 20px;
        margin-left: 20px;
    }
    #contact .btn-lg {
        font-size: 14px !important;
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #contact .form-group>label {
        display: none;
    }
}

@media (min-width: 769px) {
    #contact .form-control {
        background-color: #fd7134 !important;
        border-color: #f26122 !important;
        border-radius: 0 !important;
        color: #FFECDF !important;
    }
}

@media (max-width: 600px) {
    #contact p {
        font-size: 16 !important;
    }
    /* .headerline {
        font-size: 22px !important;
    } */
}

@media only screen and (max-width: 1300px) {
    .container {
        width: inherit !important;
    }
}


/* --------------- / Responsive Fixes --------------- */

.app_download {
    margin: 7px 0;
    padding: 0;
    float: left;
    display: block;
    width: 100%;
}

.app_download h3 {
    color: #fff;
}

.app_download li {
    display: inline-block;
    list-style: none;
    float: left;
    color: #fff;
    margin: 0 4px;
}

.app_download li a {
    border: 1px solid #CC3F1C;
    font-size: 17px;
    color: #fff;
    padding: 5px 9px;
    border-radius: 2px;
    background: #cc3f1c;
    transition: all 0.2s ease-in;
    float: left;
}

.app_download li a:hover {
    box-shadow: 0px 1px 4px #f76845;
}