:host {
  .badge{
    cursor: pointer;
    margin-right:.3rem;
    [class^="icon-"]{
      cursor: pointer;
    }
  }
}
.universal-data-list-wrapper {
  background-color: white;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  min-width: max-content;
  &.isVisible{
    display: block;
  }
  &.isFlying{
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, .15);
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 2px;
  }
  &:not(.isFlying), &.wider {
    .universal-members-list{
      .item{
        .member-details{
          max-width: inherit;
        }
      }
    }
  }
  &.isOpenFromBottom{
    bottom: 0
  }
  .inner{
    position: relative;
    overflow: auto;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a, a:hover {
    text-decoration: none;
  }
  .universal-members-list {
    position: relative;
    overflow: auto;
    &:focus{
      outline: none;
    }
    .item {
      height: 38px;
      overflow: hidden;
      padding: 4px;
      .member-pic{
        margin-right: 10px;
      }
      .member-action {
        width: 30px;
        color: white;
        opacity: 0;
      }
      .member-details{
        max-width: 150px;
        color: #444;
      }
      .member-status{
        position: relative;
        &.online:before {
          color: green;
          content: "\e506";
        }
        &:before {
          color: #444;
          content: "\e506";
          font-family: 'icomoon';
          font-size: 1.25rem;
          width: 20px;
          opacity: 0.64;
          text-align: center;
          display: inline-block;
          margin-left: -4px;
        }
      }
      // hover effect
      &.selected{
        background-color: #298fca;
        .member-details{
          color: white;
        }
      }
      &.active {
        .member-action {
          opacity: 10;
          color: #298fca;
        }
      }
      &.selected.active{
        .member-action {
          color: white;
        }
      }
    }
    .item.teamList {
      padding: 0;
      &::before {
        margin-left: -10px;
        width: 27px;
      }
      a {
        color: #2c2d30;
        height: 38px;
        span:first-child{
          padding: 0 0.625rem 0 2rem;
          line-height:1rem;
        }
        .hash:before{
          content: '#'
        }
        .lock:before {
          font-family: 'icomoon';
          content: "\e568";
          font-size: 1.25rem;
          margin-left: -6px;
        }
        .mytask:before {
          font-family: 'icomoon';
          content: "\e903";
          margin-left: -4px;
        }
      }
      // hover and selection effect
      &.selected, &.selected.active{
        a,  a > span:first-child {
          color: white;
        }
      }
    }
  }
}


.inline-items{
  .chat-bot-menu-item {
    display: inline-block;
    padding: 7px 10px;
    text-align: center;
    &.selected{
      background-color: #298fca;
    }
  }
}
