.panel-body {
    padding: 0 !important;
}
.panel-heading {
    padding: 10px 0 !important;
    background: transparent !important;
}
.panel-body .table td {
    border-bottom: 1px solid var(--color-iron);
}

.permission-table {
    margin-bottom: 40px !important;
}
