<div class="previous-estimate-wrapper" (click)="clickInside($event)">
    <ul>
        <perfect-scrollbar>
            <li *ngFor="let item of data" (click)="onInvoiceSelected(item)">
                <div class="d-flex justify-content-between pd">

                    <div class="d-flex flex-column">
                        <span class="left-text-orange">{{ item.versionNumber }}</span>
                        <span class="left-text-orange">{{ item.date }} ( {{ item.account?.name }} )</span>
                    </div>

                    <span>{{ item.grandTotal?.amountForAccount }}</span>

                </div>
            </li>
        </perfect-scrollbar>
    </ul>
</div>
