.previous-estimate-wrapper {
    ul {
        list-style: none !important;
        background-color: var(--white);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 5px;
        height: auto;
        max-height: calc(210px);
        overflow-y: auto;

        li {
            font-size: 12px;
            border-bottom: 1px solid var(--gainsboro);
            padding-right: 12px;

            &:hover {
                background-color: var(--gray-90);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
