.previous-estimate-wrapper {
    ul {
        list-style: none !important;
        background-color: var(--color-white);
        box-shadow: 0 0 6px var(--color-primary-common-box-shadow);
        padding: 5px;
        height: auto;
        max-height: calc(210px);
        overflow-y: auto;

        li {
            font-size: 12px;
            border-bottom: 1px solid var(--color-iron);
            padding-right: 12px;

            &:hover {
                background-color: var(--color-dark-fog);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
