<div class="previous-estimate-wrapper" (click)="clickInside($event)">
    <ul>
        <perfect-scrollbar>
            <li
                tabindex="0"
                *ngFor="let item of data"
                (click)="onInvoiceSelected(item)"
                (keydown.enter)="onInvoiceSelected(item)"
            >
                <div class="pd">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <span class="left-text-purple">{{ item.versionNumber }}</span>
                            <span>{{ item.grandTotal?.amountForAccount }}</span>
                        </div>
                        <span class="left-text-purple">{{ item.date }} ( {{ item.account?.name }} )</span>
                    </div>
                </div>
            </li>
        </perfect-scrollbar>
    </ul>
</div>
