<div>

  <form #invoiceForm="ngForm" novalidate
        class="form-inline input-grp-dateRangePicker pr">

    <div class="d-flex">

      <div class="form-group mrR1 d-flex" style="flex: 1 1 auto;">

        <div class="input-group">
          <input type="text" name="dateRange" #dateRangePickerCmp daterangepicker
                 class="form-control"/>
        </div>

        <div class="d-flex" style="align-items: center">
          <a href="javascript:void(0);" class="btn btn-link-2"
             style="margin: 0px;padding-right: 8px">Advance search</a>

          <a class="cp" href="javascript: void 0" *ngIf="showResetAdvanceSearchIcon">
            <i aria-hidden="true" class="glyphicon glyphicon-refresh" style="color: #333333" tooltip="Reset Filter"></i>
          </a>
        </div>
      </div>

      <div class="d-flex">

        <!-- region more items -->
        <div *ngIf="selectedItems.length === 1" style="height: 30px; margin-right: 75px;">

          <div class="btn-group" dropdown triggers="mouseover" #dp="bs-dropdown" (mouseleave)="dp.hide()"
               style="margin-bottom: 10px;display: inline-block !important;">

            <button dropdownToggle type="button" class="btn spcl_dropdown dropdown-toggle"
                    aria-controls="dropdown-basic">
              More
              <span class="caret"></span>
            </button>

            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">

            </ul>
          </div>
        </div>
        <!-- endregion -->

      </div>
    </div>
  </form>

  <table class="table basic table-bordered mrT2 invoice-table">

    <thead class="t-h-bg1">
    <tr>

      <th *ngIf="selectedItems.length > 0">

        <div class="mh18_img" style="justify-content: center;display: flex">
          <img src="assets/images/unchecked.png">
          <img src="assets/images/checked.png">
        </div>

      </th>

      <th *ngIf="selectedItems.length === 0">
        <div class="mh18_img" style="justify-content: center;display: flex">
          #
        </div>
      </th>

      <th class="td_in_searchBox" #searchVoucherNumberContainer
          (clickOutside)="clickedOutside($event, searchVoucherNumberContainer, 'voucherNumber')">

        <ng-container
          *ngTemplateOutlet="searchTemplate;context:{ $implicit: showVoucherNoSearch, title: 'Proforma No. #', fieldName: 'voucherNumber',
           formControl: voucherNumberInput}"
        ></ng-container>

      </th>

      <th class="td_in_searchBox" #searchCustomerContainer
          (clickOutside)="clickedOutside($event, searchCustomerContainer, 'customerName')">

        <ng-container
          *ngTemplateOutlet="searchTemplate;context:{ $implicit: showCustomerSearch, title: 'Customer', fieldName: 'customerName',
           formControl: customerNameInput}"
        ></ng-container>

      </th>

      <th>
        <div class="d-flex">
          <div class="flex-fill">Estimate Date</div>

          <div class="icon-pointer">
            <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'proformaDate'}"></ng-container>
          </div>
        </div>
      </th>

      <th>

        <div class="d-flex">
          <div class="flex-fill text-right pr-1"> Total Amt.</div>

          <div class="icon-pointer">
            <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'grandTotal'}"></ng-container>
          </div>
        </div>
      </th>

      <th width="10%">
        <div class="d-flex">

          <div class="flex-fill">Expiry Date</div>
          <div class="icon-pointer">
            <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'dueDate'}"></ng-container>
          </div>
        </div>
      </th>

      <th width="10%">
        <div class="d-flex">
          <div class="flex-fill">Status</div>
        </div>
      </th>

    </tr>
    </thead>

<!--    <tbody (clickOutside)="hoveredItemForAction = ''; clickedHoveredItemForAction = ''"-->
<!--           (mouseleave)="hoveredItemForAction = ''; clickedHoveredItemForAction = ''">-->

<!--    <tr *ngFor="let item of voucherData.items; let i = index" (mouseover)="hoveredItemForAction = item.uniqueName">-->

<!--      <td class="mh18_img"-->
<!--          *ngIf="hoveredItemForAction === item.uniqueName || item.isSelected || selectedItems.length > 0">-->
<!--        <div class="mh18_img" style="justify-content: center;display: flex">-->
<!--          <img *ngIf="!item.isSelected" src="assets/images/unchecked.png" (click)="toggleItem(item, true)"/>-->
<!--          <img *ngIf="item.isSelected" src="assets/images/checked.png" (click)="toggleItem(item, false)"/>-->
<!--        </div>-->
<!--        &lt;!&ndash;<div *ngIf="item.hasGenerationErr">&ndash;&gt;-->
<!--        &lt;!&ndash;<i class='fa fa-info-circle' placement="right" [tooltip]="item.errMsg"></i>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </td>-->

<!--      <td *ngIf="!item.isSelected && hoveredItemForAction !== item.uniqueName && selectedItems.length === 0">-->
<!--        <div style="justify-content: center;display: flex">{{ i + 1}} </div>-->
<!--      </td>-->

<!--      <td>-->
<!--        <div style="position: relative" class="d-flex">-->
<!--          <a href="javascript:void(0);" class="btn-link-2" (click)="onSelectInvoice(item)">{{item.voucherNumber}}</a>-->
<!--          <img style="position: absolute;right: 0px;top: 5px;" class="cp mb-2" src="assets/icon/vol.svg"-->
<!--               tooltip="Invoice sent" placement="left"/>-->
<!--        </div>-->

<!--        <span *ngIf="item.dueDays !== null">-->

<!--          <small class="text-danger" *ngIf="item.dueDays > 0">-->
<!--            Overdue by {{ item.dueDays }} Days-->
<!--          </small>-->

<!--          <small class="text-danger" *ngIf="item.dueDays === 0">-->
<!--            Overdue by Today-->
<!--          </small>-->


<!--        </span>-->

<!--      </td>-->

<!--      &lt;!&ndash; <td><a href="javascript:void(0);" class="btn-link-2">13643131</a></td> &ndash;&gt;-->

<!--      <td (dblclick)="modalUniqueName = item.uniqueName" class="cp no-dbl-click-select"-->
<!--          (clickOutside)="modalUniqueName = ''">-->
<!--        {{item.account.name}}-->
<!--        <div *ngIf="modalUniqueName === item.uniqueName" account-detail-modal-component-->
<!--             [accountUniqueName]="item.account.uniqueName" [from]="this.invoiceSearchRequest.from"-->
<!--             [to]="this.invoiceSearchRequest.to" [isModalOpen]="modalUniqueName === item.uniqueName">-->
<!--        </div>-->
<!--      </td>-->

<!--      <td>{{item.voucherDate}}</td>-->
<!--      <td class="text-right">{{item.grandTotal | giddhCurrency}}</td>-->
<!--      <td class="text-right">{{item.balanceDue | giddhCurrency}}</td>-->
<!--      <td>{{item.dueDate ? item.dueDate : '-' }}</td>-->

<!--      &lt;!&ndash;for not cancelled status&ndash;&gt;-->
<!--      <td (click)="clickedHoveredItemForAction = item.uniqueName" class="cp" *ngIf="item.balanceStatus !== 'cancel'">-->
<!--        <div class="d-flex" style="align-items: center">-->
<!--          <div class="flex-fill">-->
<!--            <span-->
<!--              [ngClass]="{'text-light-2': !item.balanceStatus}">{{ item.balanceStatus ? item.balanceStatus : 'Select Action' }}</span>-->
<!--          </div>-->

<!--          <div class="click-dropdwon">-->

<!--            <i class="fa fa-ellipsis-v"-->
<!--               *ngIf="hoveredItemForAction === item.uniqueName || clickedHoveredItemForAction === item.uniqueName"></i>-->

<!--            <ul *ngIf="clickedHoveredItemForAction === item.uniqueName">-->

<!--              <li (click)="onPerformAction(item, 'paid')">-->
<!--                <a class="cp" href="javascript:void(0)">paid</a>-->
<!--              </li>-->

<!--              <li (click)="onPerformAction(item, 'unpaid')">-->
<!--                <a class="cp" href="javascript:void(0)">unpaid</a>-->
<!--              </li>-->

<!--              <li (click)="onPerformAction(item, 'hold')">-->
<!--                <a class="cp" href="javascript:void(0)">Hold</a>-->
<!--              </li>-->

<!--              <li (click)="onPerformAction(item, 'cancel')">-->
<!--                <a class="cp" href="javascript:void(0)">Cancel</a>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

<!--      </td>-->

<!--      &lt;!&ndash;for cancelled status&ndash;&gt;-->
<!--      <td *ngIf="item.balanceStatus === 'cancel'">-->
<!--        <span>{{ item.balanceStatus}}</span>-->
<!--      </td>-->

<!--    </tr>-->
<!--    </tbody>-->

  </table>

  <!--No Entry-->
  <!--  <div class="no-data mrT2" *ngIf="!voucherData && !(isGetAllRequestInProcess$ | async)">-->
  <!--    <h1>No Entry found in sales!</h1>-->
  <!--    <h1>Have to do some sales before creating invoice</h1>-->
  <!--  </div>-->

  <!--  &lt;!&ndash;no data&ndash;&gt;-->
  <!--  <div class="no-data" *ngIf="voucherData && voucherData.items.length === 0 && !(isGetAllRequestInProcess$ | async)">-->
  <!--    <h1>No entries found within given criteria.</h1>-->
  <!--    <h1>Do search with some other dates</h1>-->
  <!--  </div>-->

  <!--  &lt;!&ndash;loading&ndash;&gt;-->
  <!--  <div class="no-data mrT2 d-flex" *ngIf="(isGetAllRequestInProcess$ | async)"-->
  <!--       style="justify-content: center;align-items: center">-->
  <!--    <div class="giddh-spinner vertical-center-spinner"></div>-->
  <!--  </div>-->

</div>


<!-- region search template -->
<ng-template #searchTemplate let-show let-title="title" let-fieldName="fieldName" let-formControl="formControl">

  <div [hidden]="show">
    <span> {{ title }}</span>
    <i class="icon-search" (click)="toggleSearch(fieldName, searchBox);"></i>
  </div>

  <div class="input-container" [hidden]="!show">
    <input type="text" placeholder="Search {{ title }}" class="w100" #searchBox
           [formControl]="formControl"/>
  </div>

</ng-template>
<!-- endregion -->

<!-- region sort icon template -->
<ng-template #sortTemplate let-column="column">

  <div class="fa fa-long-arrow-up"
       *ngIf="sortRequestForUi.sortBy !== column"
       (click)="sortButtonClicked('asc', column)"
       [ngClass]="{'activeTextColor': sortRequestForUi.sortBy === column && sortRequestForUi.sort === 'asc'}"></div>

  <div class="fa fa-long-arrow-up"
       *ngIf="sortRequestForUi.sortBy === column && sortRequestForUi.sort === 'asc'"
       (click)="sortButtonClicked('desc', column)"
       [ngClass]="{'activeTextColor': sortRequestForUi.sortBy === column && sortRequestForUi.sort === 'asc'}"></div>

  <div class="fa fa-long-arrow-down"
       *ngIf="sortRequestForUi.sortBy === column && sortRequestForUi.sort === 'desc'"
       (click)="sortButtonClicked('asc', column)"
       [ngClass]="{'activeTextColor': sortRequestForUi.sortBy === column && sortRequestForUi.sort === 'desc'}"></div>

</ng-template>
<!-- endregion -->
