<div class="proforma-container">

    <div class="d-flex date-advanceSearch">
        <form #invoiceForm="ngForm" novalidate class="form-inline input-grp-dateRangePicker pr">

            <div class="d-flex">

                <div class="form-group mrR1 d-flex">
                    <div class="input-group ">
                        <!-- <span class="icon-calender"></span> -->
                        <span class="inputWrapper">
                            <input type="text" name="dateRange" daterangepicker [options]="datePickerOptions"
                                class="form-control" (applyDaterangepicker)="dateRangeChanged($event)" />

<!--                            <input type="text"-->
<!--                                   [(ngModel)]="selectedDateRange"-->
<!--                                   ngxDaterangepickerMd-->
<!--                                   [alwaysShowCalendars]="true"-->
<!--                                   [ranges]="datePickerOptions.ranges"-->
<!--                                   [showClearButton]="false"-->
<!--                                   [showCancel]="true"-->
<!--                                   [showDropdowns]="true"-->
<!--                                   [locale]="{applyLabel: 'Done'}"-->
<!--                                   (datesUpdated)="dateRangeChanged($event)"-->
<!--                                   [keepCalendarOpeningWithRange]="true"-->
<!--                                   [showRangeLabelOnInput]="false"-->
<!--                                   name="selectedDateRange"-->
<!--                                   class="form-control"-->
<!--                                   placeholder="Select please..."/>-->
                        </span>
                    </div>

                    <div class="advance-icon" style="align-items: center">
                        <span class="icon-advance-search" (click)="toggleAdvanceSearchPopup()" tooltip="Advance Search"></span>
                        <!-- -->
                    </div>
                    <!-- <a class="cp pd smallLoading" *ngIf="showResetAdvanceSearchIcon" href="javascript: void 0"
            (click)="resetAdvanceSearch()">
            <i aria-hidden="true" class="glyphicon glyphicon-refresh" style="color: #333333" tooltip="Reset Filter"></i>
          </a> -->
                </div>


            </div>
        </form>

        <!-- need to add functionality -->
        <div class="clear-filter" *ngIf="showResetAdvanceSearchIcon" (click)="resetAdvanceSearch()">
            <button class="btn btn-filter">
                <span class="icon-cross"></span> Clear Filter
            </button>
        </div>

        <div class="d-flex">

            <!-- region more items -->
            <div *ngIf="selectedItems.length === 1" style="height: 30px;">

                <div class="btn-group" dropdown #dp="bs-dropdown"
                    style="margin-bottom: 10px;display: inline-block !important;">

                    <button dropdownToggle type="button" class="btn more-dropdown dropdown-toggle"
                        aria-controls="dropdown-basic">
                        More
                        <span class="caret"></span>
                    </button>

                    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">

                        <li role="menuitem">
                            <a class="dropdown-item cp" href="javascript:void(0)" (click)="toggleConfirmationModel(true)">Delete</a>
                        </li>

                    </ul>

                </div>
            </div>
            <!-- endregion -->

            <div *ngIf="voucherType === 'proformas'" class="btn-wrapper">
                <button class="btn btn-pink" style="margin: 0 !important;" (click)="goToInvoice('proformas')">+ New
                    Proforma
                </button>
            </div>

            <div *ngIf="voucherType === 'estimates'" class="btn-wrapper">
                <button class="btn btn-pink" style="margin: 0 !important;" (click)="goToInvoice('estimates')">+ New
                    Estimate
                </button>
            </div>

        </div>
    </div>

    <div class="mobileSearch mrB1">
        <div class="row">
            <div class="col-sm-6 col-xs-6 full-width-on-mobile">
                <div class="input-container">
                    <input type="text"
                        placeholder="{{voucherType === 'proformas' ? 'Serach Proforma #' : 'Search Estimate #'}}"
                        class=" form-control" #searchBox [formControl]="voucherNumberInput" />
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 full-width-on-mobile">
                <div class="input-container">
                    <input type="text" placeholder="Search Customer Name" class=" form-control" #searchBox
                        name="customerNameInput" [formControl]="customerNameInput" />
                </div>
            </div>
        </div>

    </div>

    <!--  -->
    <div class="clearfix">
        <div class="table-responsive remove-responsive">
            <table class="table basic table-bordered mt-15 invoice-table onMobileView table-responsive">
                <thead class="thead-bg">
                    <tr>

                        <th *ngIf="selectedItems.length > 0" style="min-width:50px; width: 4%">

                            <div class="mh18_img" style="justify-content: center;display: flex">
                                <img src="assets/images/unchecked.png" *ngIf="!allItemsSelected"
                                    (click)="toggleAllItems(true)">
                                <img src="assets/images/checked.png" *ngIf="allItemsSelected"
                                    (click)="toggleAllItems(false)">
                            </div>

                        </th>

                        <th *ngIf="selectedItems.length === 0" style="min-width:50px; width: 4%">
                            <div class="mh18_img" style="justify-content: center;display: flex">
                                #
                            </div>
                        </th>

                        <th width="13%" class="td_in_searchBox" #searchVoucherNumberContainer
                            (clickOutside)="clickedOutside($event, searchVoucherNumberContainer, 'voucherNumber')">

                            <ng-container *ngTemplateOutlet="searchTemplate;context:{ $implicit: showVoucherNoSearch,
          title: voucherType === 'proformas' ? 'Proforma No.' : 'Estimate No.',
          fieldName: 'voucherNumber',
           formControl: voucherNumberInput}"></ng-container>

                        </th>

                        <th width="19%" class="td_in_searchBox" #searchCustomerContainer
                            (clickOutside)="clickedOutside($event, searchCustomerContainer, 'customerName')">

                            <ng-container *ngTemplateOutlet="searchTemplate;context:{ $implicit: showCustomerSearch, title: 'Customer', fieldName: 'customerName',
           formControl: customerNameInput}"></ng-container>

                        </th>

                        <th width="10%">
                            <div class="d-flex">
                                <div class="">{{ voucherType === 'proformas' ? 'Proforma' : 'Estimate' }} Date</div>
                                <div class="icon-pointer">
                                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'proformaDate'}">
                                    </ng-container>
                                </div>
                            </div>
                        </th>

                        <th width="12%">

                            <div class="d-flex justify-content-end">
                                <div class=" text-right ">Total Amt.</div>
                                <div class="icon-pointer">
                                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'grandTotal'}">
                                    </ng-container>
                                </div>
                            </div>
                        </th>

                        <th width="12%">
                            <div class="d-flex">

                                <div class="">Expiry Date</div>
                                <div class="icon-pointer">
                                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'dueDate'}">
                                    </ng-container>
                                </div>
                            </div>
                        </th>

                        <th width="10%">
                            <div class="d-flex">
                                <div class="flex-fill">Status</div>
                            </div>
                        </th>

                        <th width="10%">
                            <div class="d-flex">
                                <div class="flex-fill">Action</div>
                            </div>
                        </th>


                    </tr>
                </thead>

                <tbody *ngIf="voucherData && voucherData.results.length > 0 && !(isGetAllInProcess$ | async)"
                    (clickOutside)="hoveredItemUniqueName = ''; clickedItemUniqueName = ''"
                    (mouseleave)="hoveredItemUniqueName = ''; clickedItemUniqueName = ''">

                    <tr *ngFor="let item of voucherData.results; let i = index"
                        (mouseover)="hoveredItemUniqueName = item.uniqueName">

                        <td class="mh18_img" data-title="#"
                            *ngIf="hoveredItemUniqueName === item.uniqueName || item.isSelected || selectedItems.length > 0">
                            <div class="mh18_img" style="justify-content: center;display: flex"
                                class="justify-content-sm-start">
                                <img *ngIf="!item.isSelected" src="assets/images/unchecked.png"
                                    (click)="toggleItem(item, true)" />
                                <img *ngIf="item.isSelected" src="assets/images/checked.png"
                                    (click)="toggleItem(item, false)" />
                            </div>
                        </td>

                        <td *ngIf="!item.isSelected && hoveredItemUniqueName !== item.uniqueName && selectedItems.length === 0"
                            data-title="#">
                            <div style="justify-content: center;display: flex" class="justify-content-sm-start">
                                {{ i + 1}} </div>
                        </td>

                        <!-- <td data-title="Estimates No. #">
        <div style="position: relative" class="d-flex">
          <a href="javascript:void(0);" class="btn-link-2" (click)="onSelectInvoice(item, i)">{{item.uniqueName}}</a>
                   <img style="position: absolute;right: 0px;top: 5px;" class="cp mb-2" src="assets/icon/vol.svg"
                        tooltip="Invoice sent" placement="left"/>
        </div>
      </td> -->


                        <td attr.data-title="{{voucherType === 'proformas' ? 'Proforma No.' : 'Estimates No.'}} ">
                            <div style="position: relative" class="d-flex">
                                <a href="javascript:void(0);" class="btn-link-2"
                                    (click)="onSelectInvoice(item)">{{item.uniqueName}}</a>
                                <!--          <img style="position: absolute;right: 0px;top: 5px;" class="cp mb-2" src="assets/icon/vol.svg"-->
                                <!--               tooltip="Invoice sent" placement="left"/>-->
                            </div>
                            <span *ngIf="item.expiredDays !== null">
                                <small class="text-danger" *ngIf="item.expiredDays === 0">
                                    Expired by Today
                                </small>
                            </span>

                        </td>

                        <td (dblclick)="selectedCustomerUniqueName = item.uniqueName" class="cp no-dbl-click-select"
                            (clickOutside)="selectedCustomerUniqueName = ''" data-title="Customer">
                            {{item.customerName}}
                            <div *ngIf="selectedCustomerUniqueName === item.uniqueName" account-detail-modal-component
                                [accountUniqueName]="item.customerUniqueName" [from]="this.advanceSearchFilter.from"
                                [to]="this.advanceSearchFilter.to"
                                [isModalOpen]="selectedCustomerUniqueName === item.uniqueName">
                            </div>
                        </td>

                        <td attr.data-title="{{ voucherType === 'proformas' ? 'Proforma' : 'Estimate' }} Date">
                            {{item.invoiceDate}}
                        </td>
                        <td class="text-right" data-title="Total Amt.">{{item.grandTotal | giddhCurrency}}</td>
                        <td class="" data-title="Expiry Date">{{item.expiryDate}}</td>
                        <td data-title="Status">{{ item.status }}</td>

                        <!--for not cancelled status-->

                        <td data-title="Action" (click)="clickedItemUniqueName = item.uniqueName" class="cp"
                            *ngIf="item.action !== 'invoiced'">



                            <div class="d-flex" style="align-items: center">
                                <div class="flex-fill selectAction">
                                    <span
                                        [ngClass]="{'text-light-2': !item.action}">{{ item.action ? item.action : 'Select Action' }}</span>
                                </div>

                                <!-- dropdown -->

                                <div class="btn-group icon-ellipse selectAction" dropdown #dropdown="bs-dropdown"
                                    container="body">
                                    <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                        class="dropdown-toggle icon-dots-three-vertical pull-right"
                                        aria-controls="dropdown-basic">
                                    </a>

                                    <div id="dropdown-basic" *dropdownMenu
                                        class="dropdown-menu dropdown-menu-right wd00" role="menu"
                                        aria-labelledby="edit-model-basic">
                                        <ul role="menu" class="selectActionDropdown" aria-labelledby="button-basic">
                                            <li (click)="updateVoucherAction('Accepted', item)">
                                                <a class="cp" href="javascript:void(0)">Accepted</a>
                                            </li>
                                            <li (click)="updateVoucherAction('Decline', item)">
                                                <a class="cp" href="javascript:void(0)">Declined</a>
                                            </li>
                                            <li (click)="updateVoucherAction('ConvertToSalesOrder', item)"
                                                *ngIf="voucherType === 'estimate' || voucherType === 'estimates'">
                                                <a class="cp" href="javascript:void(0)">Convert to Proforma</a>
                                            </li>
                                            <li (click)="updateVoucherAction('ConvertToInvoice', item)">
                                                <a class="cp" href="javascript:void(0)">Convert to Invoice</a>
                                            </li>
                                            <li (click)="updateVoucherAction('Expired', item)">
                                                <a class="cp" href="javascript:void(0)">Expired</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>



                                <!-- <div *ngIf="hoveredItemUniqueName === item.uniqueName || clickedItemUniqueName === item.uniqueName">
                <div dropdown #dropdown="bs-dropdown" container="body" [autoClose]="false"
                  class="icon-ellipse selectAction">
                  <a id="edit-model-basic" dropdownToggle class="dropdown-toggle icon-dots-three-vertical pull-right"
                    aria-controls="dropdown-basic"></a>

                  <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right wd00" role="menu"
                    aria-labelledby="edit-model-basic">
                    <ul class="selectActionDropdown">

                      <li (click)="updateVoucherAction('Accepted', item)">
                        <a class="cp" href="javascript:void(0)">Accepted</a>
                      </li>

                      <li (click)="updateVoucherAction('Decline', item)">
                        <a class="cp" href="javascript:void(0)">Declined</a>
                      </li>

                      <li (click)="updateVoucherAction('ConvertToSalesOrder', item)"
                        *ngIf="voucherType === 'estimate' || voucherType === 'estimates'">
                        <a class="cp" href="javascript:void(0)">Convert to Proforma</a>
                      </li>

                      <li (click)="updateVoucherAction('ConvertToInvoice', item)">
                        <a class="cp" href="javascript:void(0)">Convert to Invoice</a>
                      </li>
                      <li (click)="updateVoucherAction('Expired', item)">
                        <a class="cp" href="javascript:void(0)">Expired</a>
                      </li>

                    </ul>

                  </div>
                </div>
              </div> -->




                            </div>

                        </td>

                        <!--for cancelled/ declined status-->
                        <td *ngIf="item.action === 'invoiced'" data-title="Action">
                            <span>{{ item.action}}</span>
                        </td>

                    </tr>
                </tbody>

                <tfoot *ngIf="voucherData && voucherData?.totalItems > 20 && !(isGetAllInProcess$ | async)">
                    <tr>
                        <td colspan="100%">
                            <div class="alC">

                                <pagination [totalItems]="voucherData.totalItems" [(ngModel)]="voucherData.page"
                                    [maxSize]="5" class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="20"
                                    [rotate]="false" previousText="&#9668;" nextText="&#9658;"
                                    (pageChanged)="pageChanged($event)"></pagination>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <!--No Entry-->
        <div class="no-data mrT2" *ngIf="!voucherData && !(isGetAllInProcess$ | async)">
            <h1>No Entry found in sales!</h1>
            <h1>Have to do some sales before creating invoice</h1>
        </div>

        <!--no data-->
        <div class="no-data" *ngIf="voucherData && voucherData.results.length === 0 && !(isGetAllInProcess$ | async)">
            <h1>No entries found within given criteria.</h1>
            <h1>Do search with some other dates</h1>
        </div>

        <!--loading-->
        <div class="no-data mrT2 loader-main" *ngIf="(isGetAllInProcess$ | async)">
            <!-- <div class="giddh-spinner vertical-center-spinner"></div> -->
            <div class="spinner2">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>

    </div>

    <!-- region search template -->
    <ng-template #searchTemplate let-show let-title="title" let-fieldName="fieldName" let-formControl="formControl">

        <div [hidden]="show">
            <span> {{ title }}</span>
            <i class="icon-search" (click)="toggleSearch(fieldName, searchBox);"></i>
        </div>

        <div class="input-container" [hidden]="!show">
            <input type="text" placeholder="Search {{ title }}" class="w100" #searchBox [formControl]="formControl" />
        </div>

    </ng-template>
    <!-- endregion -->

    <!-- region sort icon template -->
    <ng-template #sortTemplate let-column="column">

        <div class="icon-sort-asc" *ngIf="advanceSearchFilter.sortBy !== column"
            (click)="sortButtonClicked('asc', column)"
            [ngClass]="{'activeTextColor': advanceSearchFilter.sortBy === column && advanceSearchFilter.sort === 'asc'}">
        </div>

        <div class="icon-sort-asc" *ngIf="advanceSearchFilter.sortBy === column && advanceSearchFilter.sort === 'asc'"
            (click)="sortButtonClicked('desc', column)"
            [ngClass]="{'activeTextColor': advanceSearchFilter.sortBy === column && advanceSearchFilter.sort === 'asc'}">
        </div>

        <div class="icon-sort-dsc" *ngIf="advanceSearchFilter.sortBy === column && advanceSearchFilter.sort === 'desc'"
            (click)="sortButtonClicked('asc', column)"
            [ngClass]="{'activeTextColor': advanceSearchFilter.sortBy === column && advanceSearchFilter.sort === 'desc'}">
        </div>

    </ng-template>
    <!-- endregion -->

    <!-- region invoice-preview-details -->
    <div *ngIf="selectedVoucher">
        <invoice-preview-details-component [selectedItem]="selectedVoucher" [items]="itemsListForDetails"
            [voucherType]="selectedVoucher.voucherType" [invoiceSetting]="invoiceSetting"
            [voucherNoForDetail]="voucherNoForDetail" [voucherDetailAction]="voucherDetailAction"
            (closeEvent)="invoicePreviewClosed()" [appSideMenubarIsOpen]="appSideMenubarIsOpen"
            (deleteVoucher)="deleteVoucher()" (sendEmail)="sendEmail($event)" (refreshDataAfterVoucherUpdate)="getAll()"
            (updateVoucherAction)="updateVoucherAction($event)"></invoice-preview-details-component>
    </div>
    <!-- endregion -->

    <!--advance_search Modal-->
    <div bsModal #advanceSearch="bs-modal" class="modal fade" role="dialog" [config]="modalConfig" tabindex="-1">
        <div class="modal-dialog" *ngIf="showAdvanceSearchModal">
            <div class="modal-content">
                <invoice-advance-search-component [type]="'proforma'" [request]="advanceSearchFilter"
                    (applyFilterEvent)="applyAdvanceSearch($event)" (closeModelEvent)="toggleAdvanceSearchPopup()">
                </invoice-advance-search-component>
            </div>
        </div>

    </div>

    <!-- Delete Proforma/Estimate confirmation model -->
    <div bsModal #deleteConfirmationModel="bs-modal" class="modal fade" role="dialog" [config]="{keyboard:true}" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <delete-role-confirmation-model [module]="voucherType+'list'" (confirmDeleteEvent)="deleteVoucher()" (closeModelEvent)="toggleConfirmationModel()">
                </delete-role-confirmation-model>
            </div>
        </div>
    </div>
