<ng-container
    appTranslate
    [file]="'settings/trigger'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
    (translationComplete)="translationComplete($event)"
>
    <div class=" p-3 clear-both">
        <p class="section-head pt-0">{{ localeData?.tab_heading }}</p>
        <div class="row">
            <form
                #createTriggerForm="ngForm"
                (ngSubmit)="onSubmit(newTriggerObj)"
                class="col-lg-10 col-md-12 col-xs-12"
            >
                <div class="row">
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <label>{{ commonLocaleData?.app_name }}</label
                        ><br />
                        <input
                            type="text"
                            [placeholder]="commonLocaleData?.app_name"
                            autocomplete="off"
                            [(ngModel)]="newTriggerObj.name"
                            name="name"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <reactive-dropdown-field
                            (onClear)="onResetEntityType()"
                            (selectedOption)="onEntityTypeSelected($event)"
                            [options]="entityList"
                            [name]="'entityType'"
                            [(ngModel)]="newTriggerObj.entity"
                            [placeholder]="localeData?.select_entity_type"
                            [label]="localeData?.select_entity_type"
                        >
                        </reactive-dropdown-field>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <reactive-dropdown-field
                            [disabled]="!newTriggerObj.entity"
                            [options]="entityOptions$ | async"
                            [name]="'entityOptions'"
                            [(ngModel)]="newTriggerObj.entityUniqueName"
                            [placeholder]="commonLocaleData?.app_select_entity"
                            [label]="commonLocaleData?.app_select_entity"
                            [enableDynamicSearch]="true"
                            [isPaginationEnabled]="true"
                            (scrollEnd)="
                                newTriggerObj.entity === 'account' ? handleScrollEnd() : handleGroupScrollEnd()
                            "
                            (dynamicSearchedQuery)="
                                newTriggerObj.entity === 'account'
                                    ? onAccountSearchQueryChanged($event)
                                    : onGroupSearchQueryChanged($event)
                            "
                        >
                        </reactive-dropdown-field>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <reactive-dropdown-field
                            [options]="filterList"
                            [name]="'filter'"
                            [(ngModel)]="newTriggerObj.filter"
                            [placeholder]="localeData?.filter_placeholder"
                            [label]="commonLocaleData?.app_filter"
                        >
                        </reactive-dropdown-field>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <reactive-dropdown-field
                            [placeholder]="localeData?.scope_placeholder"
                            [name]="'scope'"
                            [(ngModel)]="newTriggerObj.scope"
                            [options]="scopeList"
                            [label]="localeData?.scope_label"
                            (selectedOption)="onSelectScope($event)"
                        >
                        </reactive-dropdown-field>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <label>{{ localeData?.url }}</label
                        ><br />
                        <input
                            type="text"
                            [(ngModel)]="newTriggerObj.url"
                            name="url"
                            [placeholder]="localeData?.url"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        <label>{{ commonLocaleData?.app_description }}</label
                        ><br />
                        <textarea
                            class="form-control"
                            [(ngModel)]="newTriggerObj.description"
                            name="description"
                        ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button mat-raised-button color="primary" type="submit">{{ commonLocaleData?.app_add }}</button>
                        <button mat-stroked-button type="button" (click)="onCancel()">
                            {{ commonLocaleData?.app_cancel }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 pt-4">
            <div class="row">
                <p class="section-head pt-2">{{ localeData?.added_triggers }}</p>
                <div class="table-responsive">
                    <table class="table border trigger-table basic mb-1 on-mobile-view">
                        <thead [hidden]="!availableTriggers?.length">
                            <tr>
                                <th>#</th>
                                <th>{{ commonLocaleData?.app_name }}</th>
                                <th>{{ localeData?.entity_type }}</th>
                                <th>{{ commonLocaleData?.app_entity }}</th>
                                <th>{{ localeData?.scope_label }}</th>
                                <th>{{ commonLocaleData?.app_filter }}</th>
                                <th>{{ commonLocaleData?.app_action }}</th>
                                <th>{{ localeData?.url }}</th>
                                <th>{{ commonLocaleData?.app_description }}</th>
                                <th class="text-center">{{ commonLocaleData?.app_action }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!isLoading && availableTriggers?.length">
                            <tr *ngFor="let trigger of availableTriggers; let i = index">
                                <td data-title="#">{{ i + 1 }}</td>
                                <td [attr.data-title]="commonLocaleData?.app_name">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.name }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.name"
                                    />
                                </td>
                                <td [attr.data-title]="localeData?.entity_type">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.entity }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.entity"
                                    />
                                </td>
                                <td [attr.data-title]="commonLocaleData?.app_entity">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.entityUniqueName }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.entityUniqueName"
                                    />
                                </td>
                                <td [attr.data-title]="localeData?.scope_label">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.scope }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.scope"
                                    />
                                </td>
                                <td [attr.data-title]="commonLocaleData?.app_filter">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger?.filter }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.filter"
                                    />
                                </td>
                                <td [attr.data-title]="commonLocaleData?.app_action">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.action }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.action"
                                    />
                                </td>
                                <td [attr.data-title]="localeData?.url">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.url }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.url"
                                    />
                                </td>
                                <td [attr.data-title]="commonLocaleData?.app_description">
                                    <span *ngIf="!triggerToEdit[i]">{{ trigger.description }}</span>
                                    <input
                                        *ngIf="triggerToEdit[i]"
                                        class="form-control"
                                        type="text"
                                        name="name_{{ i }}"
                                        [(ngModel)]="trigger.description"
                                    />
                                </td>

                                <td class="text-center ico-btn" [attr.data-title]="commonLocaleData?.app_action">
                                    <button
                                        *ngIf="!triggerToEdit[i]"
                                        type="button"
                                        mat-stroked-button
                                        (click)="triggerToEdit = []; triggerToEdit[i] = true"
                                    >
                                        <i
                                            class="icon-edit-pencil"
                                            aria-hidden="true"
                                            [matTooltip]="commonLocaleData?.app_edit"
                                        ></i>
                                    </button>
                                    <button
                                        *ngIf="!triggerToEdit[i]"
                                        type="button"
                                        mat-stroked-button
                                        (click)="deleteTax(trigger)"
                                    >
                                        <i
                                            class="fa fa-trash"
                                            aria-hidden="true"
                                            [matTooltip]="commonLocaleData?.app_delete"
                                        ></i>
                                    </button>
                                    <button
                                        *ngIf="triggerToEdit[i]"
                                        type="button"
                                        mat-stroked-button
                                        (click)="updateTrigger(i); triggerToEdit[i] = false"
                                    >
                                        <i
                                            class="fa fa-check"
                                            aria-hidden="true"
                                            [matTooltip]="commonLocaleData?.app_save"
                                        ></i>
                                    </button>
                                    <button
                                        *ngIf="triggerToEdit[i]"
                                        type="button"
                                        mat-stroked-button
                                        (click)="triggerToEdit[i] = false"
                                    >
                                        <i
                                            class="icon-cross"
                                            aria-hidden="true"
                                            [matTooltip]="commonLocaleData?.app_reset"
                                        ></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="isLoading">
                            <tr>
                                <td colspan="10" class="text-center empty-table">
                                    <giddh-page-loader [cssClass]="'mt-0 mb-0'"></giddh-page-loader>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="no-data" *ngIf="!isLoading && !availableTriggers?.length">
                <no-data [secondaryMessage]="' '" [secondaryMessage]="' '" [secondaryMessageClass]="'p-0'"></no-data>
            </div>
        </div>
    </div>
    <!-- Trigger Confirmation Model template -->
    <ng-template #triggerConfirmationTemplate>
        <delete-tax-confirmation-model
            [message]="confirmationMessage"
            [commonLocaleData]="commonLocaleData"
            (userConfirmationEvent)="userConfirmation($event)"
        >
        </delete-tax-confirmation-model>
    </ng-template>
</ng-container>
