.mat-grid-wrapper {
    justify-content: space-between;
    padding: 0 0 15px 0;
    flex-wrap: wrap;
    background-color: var(--color-white);
    height: calc(100vh - 90px);
    position: relative;
    .inventory-search {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        text-field {
            .form-control {
                height: 42px;
            }
        }
    }
    .mat-list-wrap {
        overflow-x: auto;
        display: flex;
        height: 100%;
        .inventory-sideabar {
            max-width: 49.66%;
            float: left;
            .inventory-sub-sideabar {
                display: inline-flex;
                float: left;
                height: 100%;
            }
        }
        .inventory-btnside {
            position: relative;
            overflow-x: scroll;
            width: 100%;
            padding-left: 15px;
            .create-btn-grp {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-end;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
                &.create-btn-inventory {
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    button {
                        min-width: 120px;
                    }
                }
            }
            .inventory-modal {
                width: 100%;
                // overflow: auto;
            }
            .pd-l15 {
                padding-left: 15px !important;
            }
            .breadcrumb {
                li {
                    a {
                        color: var(--color-abbey);
                    }
                    &:last-child {
                        a {
                            color: var(--color-common-senary-text);
                        }
                    }
                    & + li {
                        &::before {
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
        .item-list {
            width: 205px;
            // margin: 0 0 0 15px;
            // padding-right: 15px;
            height: 100%;
            float: left;
            position: relative;
            overflow-y: auto;
            a {
                display: block;
                height: 28px;
                line-height: 20px;
                color: var(--color-black);
                &.account-name {
                    .mat-list-item-content {
                        color: var(--color-master-page-sidebar-primary-group);
                    }
                }
            }
            .create-head {
                color: var(--color-master-page-text-secondary-hover);
                font-size: var(--font-size-15);
                background-color: var(--color-master-page-main-content-primary-background);
                width: 100%;
                padding: 4px 10px;
                height: 37px;
                line-height: 30px;
                &:hover {
                    text-decoration: underline;
                }
            }

            .items {
                font-size: var(--font-size-15);
                &.map-item {
                    .mat-list-item-content {
                        float: right !important;
                        width: 140px;
                        overflow: hidden;
                        display: inline-block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
            .list-head {
                display: flex;
                justify-content: space-between;
                padding-top: 0px;
            }
            &:last-child {
                border: 0px !important;
            }
        }
        .border-grid {
            border-right: 1px solid var(--color-iron);
        }
    }
}
