.font-xlarge {
    font-size: 18px;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

svg.icon.icon-lg {
    height: 18px;
    width: 18px;
    filter: invert(0);
    color: var(--color-primary-checkbox-and-expansion-panel-arrow);
}

.text-middle {
    vertical-align: middle;
}

.tax-engine .bottom-action,
.tax-engine a,
.tax-engine a > .dropdown {
    cursor: pointer;
}

.tax-engine .gstr3b-sel {
    display: inline-block;
    padding: 4px 4px 4px 8px;
    border: 1px solid var(--color-iron);
    border-radius: 2px;
    background: var(--color-white);
}

svg.icon.icon-sm {
    height: 14px;
    width: 14px;
}

.tax-engine .gstr3b-sel input {
    border: none;
    width: 150px;
    cursor: pointer;
}

.font-large {
    font-size: 16px;
}

.text-primary {
    color: var(--color-blue);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid var(--color-nero);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
    content: "";
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn,
.input-group-addon {
    font-weight: 400;
    text-align: center;
}

.btn,
input.gsc-input {
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.btn,
.datepicker table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.content-column .body {
    padding: 0 20px 50px;
}

.tax-engine .gstr3b-header {
    margin: 25px auto;
    position: relative;
}

.content-disabled {
    opacity: 0.5;
    position: relative;
}

.tax-engine .gstr3b-header .sel-tab {
    border: 1px solid var(--color-iron);
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
    position: static;
    max-width: 835px;
    margin: auto;
    &.no-border {
        border: none !important;
    }
}

.content-disabled::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    cursor: not-allowed;
    display: block;
}

.tax-engine .gstr3b-header .sel-tab .active {
    background-color: var(--color-blue);
}

.tax-engine .gstr3b-header .sel-tab li:before {
    border-left: 23px solid var(--color-iron);
    top: 42%;
    margin-top: -22px;
    margin-left: 1px;
    z-index: 1;
}

.tax-engine .gstr3b-header .sel-tab .active:after {
    border-left: 23px solid var(--color-blue);
}

.tax-engine .gstr3b-header .sel-tab li:after {
    border-left: 23px solid var(--color-white);
    top: 41%;
    margin-top: -21px;
    z-index: 2;
}

.tax-engine .gstr3b-header .sel-tab li:after,
.tax-engine .gstr3b-header .sel-tab li:before {
    content: " ";
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    left: 100%;
}

.tax-engine .gstr3b-header .sel-tab .gstr3b-nav {
    padding: 12px 0 12px 18px;
    cursor: pointer;
}

svg.icon.icon-xxlg {
    height: 25px;
    width: 25px;
}

.tax-engine .gstr3b-header .sel-tab .active a {
    color: var(--color-primary-gstr3-page-main-button);
}

.tax-engine .gstr3b-header .sel-tab li a {
    padding: 0 10px;
    color: var(--color-nero);
}

svg.icon.icon-xxlg {
    height: 25px;
    width: 25px;
}

.column.content-column.gst-filing-container.navs-list {
    background: var(--color-white);
}

.tax-engine .gstr3b-header .sel-tab li {
    list-style: none;
    display: inline-block;
}

.tax-engine .gstr3b-page-header {
    margin: 0 auto;
    border: none;
    max-width: 903px;
    padding-bottom: 9px;
}

.font-xxxlarge {
    font-size: 24px;
}

.tax-engine .summary-content {
    max-width: 930px;
    margin: 0 auto 30px;
    font-family: "opensans-regular";
}

.tax-engine .summary-content .gstr-3b-user {
    border: none;
}

.font-medium {
    font-size: 15px;
}

.table,
address {
    margin-bottom: 20px;
}

.tax-engine .summary-content .gstr-3b-user.table > tbody > tr > td {
    border: 1px solid var(--color-table-primary-content-bar-border);
    padding: 10px 30px 10px 10px;
}

.tax-engine .summary-content .gstr-3b-user.table > tbody > tr > td:first-child {
    padding: 10px 0;
    border: none;
}

.tax-engine .summary-content .gstr-3b-report.table > thead > tr > td:first-child {
    padding-left: 14px;
}

.tax-engine .summary-content .gstr-3b-report.table > thead > tr > td {
    border: 1px solid var(--color-table-primary-header-bar-border) !important;
    padding: 6px;
    font-size: 13px;
}

.btn-link:focus,
.btn-link:hover {
    color: var(--color-blue);
    background-color: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.gstr-3b-report tr:hover {
    background-color: var(--color-invoice-preview-giddh-table-tbody-tr-background-hover);
}

.tax-engine .summary-content .gstr-3b-report.table > tbody > tr > td {
    font-size: 13px;
    border: 1px solid var(--color-table-primary-content-bar-border) !important;
    padding: 6px;
}

.gstr3-subheading,
.vat-summary thead > tr {
    background-color: var(--color-wild-sand);
}

.dropdown-menu li .help-text,
.modal-header .help-text,
.text-muted {
    color: var(--color-abbey);
    background-color: var(--color-table-body-secondary-background);
}

*,
:after,
:before {
    box-sizing: border-box;
}

.h4,
h4 {
    font-size: 18px;
}

h4,
h5,
h6 {
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "opensans-regular";
    font-weight: 500;
    line-height: 1.1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    z-index: 1030;
    background-color: var(--color-white);
    transition: all 0.3s;
}

.modal-sm {
    width: 500px !important;
}

.modal-content {
    box-shadow: 0 5px 15px var(--color-primary-common-box-shadow);
}

.modal-header {
    font-size: 18px;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid var(--color-iron);
    min-height: 21.43px;
    background-color: var(--color-wild-sand);
}

.highlight-info {
    background-color: var(--color-wild-sand);
}

.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover .btn-primary[disabled],
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.receipt-wrapper .doc-checkbox:checked,
.doc-actions {
    color: var(--color-white);
    background-color: var(--color-gst-primary-doc-actions);
    border-color: var(--color-gst-primary-doc-actions);
}

.btn,
.btn-sm,
.btn-xs {
    border-radius: 3px;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-footer {
    display: table;
    width: 100%;
}

.tax-engine .gstr3-filing-procedure {
    margin-bottom: 50px;
}

.tax-engine .gstr3-points .point {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 23px 0 -53px;
}

.caret-right {
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

tax-engine .caret-right {
    display: inline-block;
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.tax-engine .gstr3-points a .caret-right {
    color: var(--color-gray);
}

.gstr3-filing-procedure > div {
    width: 900px;
    margin: 30px auto 0;
    box-shadow: 1px 1px 11px var(--color-primary-common-box-shadow);
    border-radius: 3px;
    padding: 20px 50px 10px;
}

.tax-engine .gstr3-points {
    border-left: 1px dashed var(--color-iron);
    padding-left: 41px;
}

dropdown-menu-right {
    right: 0;
    left: auto;
    top: 30px !important;
}

.successful-file-detail h3,
.gst-return-date h3 {
    color: var(--color-nero) !important;
    font-size: 24px !important;
    margin: 20px 0 7px !important;
}

.btn-2 {
    background: var(--color-white);
    color: var(--color-blue);
    border: 0px;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
}

.btn-2:hover {
    color: var(--color-white);
    background: var(--color-blue);
}

.file-your-return {
    font-size: 18px;
}

.authenticate-btn {
    font-size: 14px;
}

ul#dropdown-menu {
    top: 30px !important;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.gstr-summary-head {
    padding: 15px;
    height: 65px;
}

.dropdown-menu-right {
    min-width: 350px;
}

.pd-r120 {
    padding-right: 120px;
}

.pd-r160 {
    padding-right: 160px;
}

.pd-r190 {
    padding-right: 190px;
}

.bg-thead {
    background-color: var(--color-dark-fog);
    color: var(--color-nero);
}

.bg-thead-dark {
    background: var(--color-table-body-secondary-background);
    color: var(--color-nero);
}

.pointer-none {
    pointer-events: none !important;
}
.summary-content {
    table {
        th,
        td {
            white-space: nowrap !important;
            word-break: break-all !important;
        }
    }
}
.month-picker {
    li {
        a:hover {
            background-color: transparent !important;
            border: none !important;
        }
    }
}
@media (max-width: 991px) {
    .gstr-summary-head {
        height: auto;
        .dropdown {
            float: none;
        }
        .download-authenticate-btn {
            text-align: right;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 0;
            padding-top: 15px;
            float: none;
            .list-middle {
                .dropdown-menu {
                    left: 0;
                    right: auto;
                }
            }
        }
        .month-picker {
            right: 0 !important;
            left: auto !important;
        }
    }
    .gstr3b-header {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 575px) {
    .gstr-summary-head {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .wrap-gst-date {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 15px;
            .font-xlarge {
                font-size: 16px;
            }
            .dropdown {
                margin-left: 0;
            }
        }
        .download-authenticate-btn {
            align-items: flex-start;
            justify-content: flex-start;
        }
        span {
            margin-bottom: 10px;
            padding-right: 0;
        }
    }
}
