/* UNUSED COMPONENT CLASS: font-xlarge - Auto-commented by script
.font-xlarge {
    font-size: var(--font-size-16);
}
*/

a {
    color: var(--color-blue-primary);
    text-decoration: none;
}

svg.icon.icon-lg {
    height: 18px;
    width: 12px;
    filter: invert(0);
    color: var(--color-black);
    position: relative;
    top: -1px;
}

.text-middle {
    vertical-align: middle;
}

/* UNUSED COMPONENT CLASS: bottom-action - Auto-commented by script
.tax-engine .bottom-action,
.tax-engine a,
.tax-engine a > /* UNUSED COMPONENT CLASS: dropdown - Auto-commented by script
.dropdown {
    cursor: pointer;
}
*/
*/

.tax-engine /* UNUSED COMPONENT CLASS: gstr3b-sel - Auto-commented by script
.gstr3b-sel {
    display: inline-block;
    padding: 4px 4px 4px 8px;
    border: 1px solid var(--color-silver);
    border-radius: 2px;
    background: var(--color-white);
}
*/

svg.icon/* UNUSED COMPONENT CLASS: icon-sm - Auto-commented by script
.icon-sm {
    height: 14px;
    width: 14px;
}
*/

.tax-engine .gstr3b-sel input {
    border: none;
    width: 150px;
    cursor: pointer;
}

/* UNUSED COMPONENT CLASS: font-large - Auto-commented by script
.font-large {
    font-size: var(--font-size-16);
}
*/

.text-primary {
    color: var(--color-blue-primary);
}

/* UNUSED COMPONENT CLASS: caret - Auto-commented by script
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid var(--color-black);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
    content: "";
}
*/

/* UNUSED COMPONENT CLASS: btn - Auto-commented by script
.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

.btn,
/* UNUSED COMPONENT CLASS: input-group-addon - Auto-commented by script
.input-group-addon {
    font-weight: 400;
    text-align: center;
}
*/

.btn,
input/* UNUSED COMPONENT CLASS: gsc-input - Auto-commented by script
.gsc-input {
    font-size: var(--font-size-15);
    line-height: 1.42857143;
    vertical-align: middle;
}
*/

.btn,
.datepicker table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.content-column .body {
    padding: 0 20px 50px;
}

.tax-engine /* UNUSED COMPONENT CLASS: gstr3b-header - Auto-commented by script
.gstr3b-header {
    margin: 25px auto;
    position: relative;
}
*/

/* UNUSED COMPONENT CLASS: content-disabled - Auto-commented by script
.content-disabled {
    opacity: 0.5;
    position: relative;
}
*/

.tax-engine .gstr3b-header .sel-tab {
    border: 1px solid var(--color-silver);
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
    position: static;
    max-width: 835px;
    margin: auto;
    /* & UNUSED COMPONENT CLASS: no-border - Auto-commented by script
.no-border {
        border: none !important;
    }
*/
}

.content-disabled::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    cursor: not-allowed;
    display: block;
}

/* UNUSED COMPONENT CLASS: sel-tab - Auto-commented by script
.tax-engine .gstr3b-header .sel-tab .active {
    background-color: var(--color-blue-primary);
}
*/

.tax-engine .gstr3b-header .sel-tab li:before {
    border-left: 23px solid var(--color-silver);
    top: 42%;
    margin-top: -22px;
    margin-left: 1px;
    z-index: 1;
}

.tax-engine .gstr3b-header .sel-tab .active:after {
    border-left: 23px solid var(--color-blue-primary);
}

.tax-engine .gstr3b-header .sel-tab li:after {
    border-left: 23px solid var(--color-white);
    top: 41%;
    margin-top: -21px;
    z-index: 2;
}

.tax-engine .gstr3b-header .sel-tab li:after,
.tax-engine .gstr3b-header .sel-tab li:before {
    content: " ";
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    left: 100%;
}

.tax-engine .gstr3b-header .sel-tab /* UNUSED COMPONENT CLASS: gstr3b-nav - Auto-commented by script
.gstr3b-nav {
    padding: 12px 0 12px 18px;
    cursor: pointer;
}
*/

svg.icon/* UNUSED COMPONENT CLASS: icon-xxlg - Auto-commented by script
.icon-xxlg {
    height: 25px;
    width: 25px;
}
*/

.tax-engine .gstr3b-header .sel-tab .active a {
    color: var(--color-white);
}

.tax-engine .gstr3b-header .sel-tab li a {
    padding: 0 10px;
    color: var(--color-black);
}

svg.icon.icon-xxlg {
    height: 25px;
    width: 25px;
}

.column.content-column.gst-filing-container.navs-list {
    background: var(--color-white);
}

.tax-engine .gstr3b-header .sel-tab li {
    list-style: none;
    display: inline-block;
}

.tax-engine /* UNUSED COMPONENT CLASS: gstr3b-page-header - Auto-commented by script
.gstr3b-page-header {
    margin: 0 auto;
    border: none;
    max-width: 903px;
    padding-bottom: 9px;
}
*/

/* UNUSED COMPONENT CLASS: font-xxxlarge - Auto-commented by script
.font-xxxlarge {
    font-size: var(--font-size-24);
}
*/

.tax-engine .summary-content {
    max-width: 1085px;
    margin: 0 auto 30px;
    font-family: var(--font-family);
}

.tax-engine .summary-content .gstr-3b-user {
    border: none;
}

.font-medium {
    font-size: var(--font-size-15);
}

.table,
address {
    margin-bottom: 20px;
}

.tax-engine .summary-content .gstr-3b-user.table > tbody > tr > td:first-child {
    padding: 10px 0;
    border: none;
}

.tax-engine .summary-content .gstr-3b-report.table > thead > tr > td:first-child {
    padding-left: 14px;
}

.tax-engine .summary-content .gstr-3b-report.table > thead > tr > td {
    border: 1px solid var(--color-silver) !important;
    padding: 6px;
    font-size: var(--font-size-15);
}

.btn-link:focus,
/* UNUSED COMPONENT CLASS: btn-link - Auto-commented by script
.btn-link:hover {
    color: var(--color-blue-primary);
    background-color: transparent;
    text-decoration: none;
}
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tax-engine .summary-content .gstr-3b-report.table > tbody > tr > td {
    font-size: var(--font-size-15);
    border: 1px solid var(--color-silver) !important;
    padding: 6px;
}

/* UNUSED COMPONENT CLASS: vat-summary - Auto-commented by script
.gstr3-subheading,
.vat-summary thead > tr {
    background-color: var(--color-light-gray);
}
*/

/* UNUSED COMPONENT CLASS: help-text - Auto-commented by script
.dropdown-menu li .help-text,
// .modal-header .help-text,
.text-muted {
    color: var(--color-dark-gray);
    background-color: var(--color-light-gray);
}
*/

.dropdown-menu {
    /* UNUSED COMPONENT CLASS: btn-default - Auto-commented by script
.btn-default {
        &.disabled {
            cursor: not-allowed;
            opacity: 1 !important;
        }
    }
*/
}

*,
:after,
:before {
    box-sizing: border-box;
}

/* UNUSED COMPONENT CLASS: h4 - Auto-commented by script
.h4,
h4 {
    font-size: var(--font-size-16);
}
*/

h4,
h5,
h6 {
    margin-bottom: 10px;
}

/* UNUSED COMPONENT CLASS: h6 - Auto-commented by script
/* UNUSED COMPONENT CLASS: h5 - Auto-commented by script
/* UNUSED COMPONENT CLASS: h3 - Auto-commented by script
/* UNUSED COMPONENT CLASS: h2 - Auto-commented by script
/* UNUSED COMPONENT CLASS: h1 - Auto-commented by script
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.1;
}
*/
*/
*/
*/
*/

/* UNUSED COMPONENT CLASS: modal-backdrop - Auto-commented by script
.modal-backdrop {
    position: fixed;
    top: var(--top-distance);
    z-index: 991;
    background-color: var(--color-white);
    transition: all 0.3s;
}
*/

/* UNUSED COMPONENT CLASS: modal-sm - Auto-commented by script
.modal-sm {
    width: 500px !important;
}
*/

/* UNUSED COMPONENT CLASS: modal-content - Auto-commented by script
.modal-content {
    box-shadow: 0 5px 15px var(--color-shadow-light);
}
*/

/* UNUSED COMPONENT CLASS: modal-header - Auto-commented by script
.modal-header {
    font-size: var(--font-size-16);
}
*/

// .modal-header {
//     padding: 20px;
//     border-bottom: 1px solid var(--color-silver);
//     min-height: 21.43px;
//     background-color: var(--color-light-gray);
// }

/* UNUSED COMPONENT CLASS: highlight-info - Auto-commented by script
.highlight-info {
    background-color: var(--color-light-gray);
}
*/

/* UNUSED COMPONENT CLASS: alert - Auto-commented by script
.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 2px;
}
/* UNUSED COMPONENT CLASS: receipt-wrapper - Auto-commented by script
/* UNUSED COMPONENT CLASS: dropdown-toggle - Auto-commented by script
/* UNUSED COMPONENT CLASS: doc-checkbox - Auto-commented by script
*/

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover .btn-primary[disabled],
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.receipt-wrapper .doc-checkbox:checked,
/* UNUSED COMPONENT CLASS: doc-actions - Auto-commented by script
.doc-actions {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
}
*/
*/
*/
*/

/* UNUSED COMPONENT CLASS: btn-sm - Auto-commented by script
.btn,
.btn-sm,
/* UNUSED COMPONENT CLASS: btn-xs - Auto-commented by script
.btn-xs {
    border-radius: 3px;
}
*/
*/

:host ::ng-deep button {
    &.btn-success {
        /* UNUSED COMPONENT CLASS: mdc-button__label - Auto-commented by script
.mdc-button__label {
            color: var(--color-white);
        }
*/
    }
}

/* UNUSED COMPONENT CLASS: btn-primary - Auto-commented by script
.btn-primary {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
}
*/

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* UNUSED COMPONENT CLASS: modal-footer - Auto-commented by script
.modal-footer {
    display: table;
    width: 100%;
}
*/

.tax-engine /* UNUSED COMPONENT CLASS: gstr3-filing-procedure - Auto-commented by script
.gstr3-filing-procedure {
    margin-bottom: 50px;
}
*/

.tax-engine .gstr3-points .point {
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 23px 0 -53px;
}

/* UNUSED COMPONENT CLASS: caret-right - Auto-commented by script
.caret-right {
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
*/

tax-engine .caret-right {
    display: inline-block;
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.tax-engine .gstr3-points a .caret-right {
    color: var(--color-medium-gray);
}

.gstr3-filing-procedure > div {
    width: 900px;
    margin: 30px auto 0;
    box-shadow: 1px 1px 11px var(--color-shadow-light);
    border-radius: 3px;
    padding: 20px 50px 10px;
}

.tax-engine /* UNUSED COMPONENT CLASS: gstr3-points - Auto-commented by script
.gstr3-points {
    border-left: 1px dashed var(--color-silver);
    padding-left: 41px;
}
*/

dropdown-menu-right {
    right: 0;
    left: auto;
    top: 30px !important;
}

/* UNUSED COMPONENT CLASS: successful-file-detail - Auto-commented by script
.successful-file-detail h3,
.gst-return-date h3 {
    color: var(--color-black) !important;
    font-size: var(--font-size-24) !important;
    margin: 20px 0 7px !important;
}
*/

/* UNUSED COMPONENT CLASS: btn-2 - Auto-commented by script
.btn-2 {
    background: var(--color-white);
    color: var(--color-blue-primary);
    border: 0px;
    border-radius: 4px;
    border: 1px solid var(--color-blue-primary);
}
*/

.btn-2:hover {
    color: var(--color-white);
    background: var(--color-blue-primary);
}

/* UNUSED COMPONENT CLASS: file-your-return - Auto-commented by script
.file-your-return {
    font-size: var(--font-size-16);
}
*/
ul#dropdown-menu {
    top: 30px !important;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.gstr-summary-head {
    padding: 15px;
    height: 65px;
}

/* UNUSED COMPONENT CLASS: dropdown-menu-right - Auto-commented by script
.dropdown-menu-right {
    min-width: 350px;
}
*/

/* UNUSED COMPONENT CLASS: pd-r120 - Auto-commented by script
.pd-r120 {
    padding-right: 120px;
}
*/

/* UNUSED COMPONENT CLASS: pd-r160 - Auto-commented by script
.pd-r160 {
    padding-right: 160px;
}
*/

.pd-r190 {
    padding-right: 190px;
}

/* UNUSED COMPONENT CLASS: bg-thead-dark - Auto-commented by script
.bg-thead-dark {
    background: var(--color-light-gray);
    color: var(--color-black);
}
*/

.pointer-none {
    pointer-events: none !important;
}
.summary-content {
    table {
        th,
        td {
            white-space: nowrap !important;
            word-break: break-all !important;
        }
    }
}
.month-picker {
    li {
        a:hover {
            background-color: transparent !important;
            border: none !important;
        }
    }
}
@media (max-width: 991px) {
    .gstr-summary-head {
        height: auto;
        .dropdown {
            float: none;
        }
        .download-authenticate-btn {
            text-align: right;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 0;
            padding-top: 15px;
            float: none;
            /* UNUSED COMPONENT CLASS: list-middle - Auto-commented by script
.list-middle {
                /* UNUSED COMPONENT CLASS: dropdown-menu - Auto-commented by script
.dropdown-menu {
                    left: 0;
                    right: auto;
                }
            }
*/
        }
        /* UNUSED COMPONENT CLASS: month-picker - Auto-commented by script
.month-picker {
            right: 0 !important;
            left: auto !important;
        }
*/
    }
    .gstr3b-header {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 1200px) {
    .list-inline {
        width: 130px;
    }
}