@import "../../../assets/css/color.scss";

.font-xlarge {
    font-size: 18px;
}

a {
    color: #428bca;
    text-decoration: none;
}

svg.icon.icon-lg {
    height: 18px;
    width: 18px;
}

.text-middle {
    vertical-align: middle;
}

.tax-engine .bottom-action,
.tax-engine a,
.tax-engine a > .dropdown {
    cursor: pointer;
}

.tax-engine .gstr3b-sel {
    display: inline-block;
    padding: 4px 4px 4px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
}

svg.icon.icon-sm {
    height: 14px;
    width: 14px;
}

.tax-engine .gstr3b-sel input {
    border: none;
    width: 150px;
    cursor: pointer;
}

.font-large {
    font-size: 16px;
}

.text-primary {
    color: #428bca;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
    content: "";
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn,
.input-group-addon {
    font-weight: 400;
    text-align: center;
}

.btn,
input.gsc-input {
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.btn,
.datepicker table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.content-column .body {
    padding: 0 20px 50px;
}

.tax-engine .gstr3b-header {
    margin: 25px auto;
    position: relative;
}

.content-disabled {
    opacity: 0.5;
    position: relative;
}

.tax-engine .gstr3b-header:before {
    /* content: '';
    position: absolute;
    border-bottom: 1px solid #eee;
    top: 24px;
    width: 100%; */
}

.tax-engine .gstr3b-header .sel-tab {
    border: 1px solid #eee;
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
    position: static;
    max-width: 835px;
    margin: auto;
}

.content-disabled::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    cursor: not-allowed;
    display: block;
}

.tax-engine .gstr3b-header .sel-tab .active {
    background-color: $light-text-blue;
}

.tax-engine .gstr3b-header .sel-tab li:before {
    border-left: 23px solid #eee;
    top: 42%;
    margin-top: -22px;
    margin-left: 1px;
    z-index: 1;
}

.tax-engine .gstr3b-header .sel-tab .active:after {
    border-left: 23px solid $light-text-blue;
}

.tax-engine .gstr3b-header .sel-tab li:after {
    border-left: 23px solid #fff;
    top: 41%;
    margin-top: -21px;
    z-index: 2;
}

.tax-engine .gstr3b-header .sel-tab li:after,
.tax-engine .gstr3b-header .sel-tab li:before {
    content: " ";
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    left: 100%;
}

.tax-engine .gstr3b-header .sel-tab .gstr3b-nav {
    padding: 12px 0 12px 18px;
    cursor: pointer;
}

svg.icon.icon-xxlg {
    height: 25px;
    width: 25px;
}

.tax-engine .gstr3b-header .sel-tab .active a {
    color: #fff;
}

.tax-engine .gstr3b-header .sel-tab li a {
    padding: 0 10px;
    color: #222;
}

svg.icon.icon-xxlg {
    height: 25px;
    width: 25px;
}

.column.content-column.gst-filing-container.navs-list {
    background: #fff;
}

.tax-engine .gstr3b-header .sel-tab li {
    list-style: none;
}

.tax-engine .gstr3b-page-header {
    margin: 0 auto;
    border: none;
    max-width: 903px;
    padding-bottom: 9px;
}

.font-xxxlarge {
    font-size: 24px;
}

.tax-engine .summary-content {
    max-width: 930px;
    margin: 0 auto 30px;
    font-family: ProximaNovaLight, ProximaNovaRegular, "Source Sans Pro", Arial,
        sans-serif;
}

.tax-engine .summary-content .gstr-3b-user {
    border: none;
}

.font-medium {
    font-size: 15px;
}

.table,
address {
    margin-bottom: 20px;
}

.tax-engine .summary-content .gstr-3b-user.table > tbody > tr > td {
    border: 1px solid #adb4c3;
    padding: 10px 30px 10px 10px;
}

.tax-engine .summary-content .gstr-3b-user.table > tbody > tr > td:first-child {
    padding: 10px 0;
    border: none;
}

.tax-engine
    .summary-content
    .gstr-3b-report.table
    > thead
    > tr
    > td:first-child {
    padding-left: 14px;
}

.tax-engine .summary-content .gstr-3b-report.table > thead > tr > td {
    border: 1px solid #adb4c3 !important;
    padding: 6px;
    font-size: 13px;
}

.btn-link:focus,
.btn-link:hover {
    color: #2a6496;
    background-color: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.gstr-3b-report tr:hover {
    background-color: #f5f4f3;
}

.tax-engine .summary-content .gstr-3b-report.table > tbody > tr > td {
    font-size: 13px;
    border: 1px solid #adb4c3 !important;
    padding: 6px;
}

.gstr3-subheading,
.vat-summary thead > tr {
    background-color: #f5f4f3;
}

.dropdown-menu li .help-text,
.modal-header .help-text,
.text-muted {
    color: #777;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.h4,
h4 {
    font-size: 18px;
}

h4,
h5,
h6 {
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ProximaNovaRegular, "Source Sans Pro", Helvetica, Arial,
        sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    z-index: 1030;
    background-color: #fff;
    transition: all 0.3s;
}

.modal-sm {
    width: 500px !important;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
    font-size: 18px;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid #eee;
    min-height: 21.43px;
    background-color: #f5f5f5;
}

.highlight-info {
    background-color: #f4f8ff;
}

.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover .btn-primary[disabled],
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.receipt-wrapper .doc-checkbox:checked,
.doc-actions {
    color: #fff;
    background-color: #ea795b;
    border-color: #ea795b;
}

.btn,
.btn-sm,
.btn-xs {
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #d64830;
    border-color: #c53e27;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-footer {
    display: table;
    width: 100%;
}

.tax-engine .gstr3-filing-procedure {
    margin-bottom: 50px;
}

.tax-engine .gstr3-points .point {
    background-color: #2799fb;
    color: #fff;
    width: 22px;
    height: 22px;
    /* padding-top: 3px; */
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 23px 0 -53px;
}

.caret-right {
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

tax-engine .caret-right {
    display: inline-block;
    margin-left: 2px;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.tax-engine .gstr3-points a .caret-right {
    color: #bbb;
}

.gstr3-filing-procedure > div {
    width: 900px;
    margin: 30px auto 0;
    box-shadow: 1px 1px 11px #ccc;
    border-radius: 3px;
    padding: 20px 50px 10px;
}

.tax-engine .gstr3-points {
    border-left: 1px dashed #ddd;
    padding-left: 41px;
}

dropdown-menu-right {
    right: 0;
    left: auto;
    top: 30px !important;
}

.successful-fileDetail h3,
.gstReturnDate h3 {
    color: #333333 !important;
    font-size: 24px !important;
    margin: 20px 0 7px !important;
}

.btn-2 {
    background: #fff;
    color: $light-text-blue;
    border: 0px;
    border-radius: 4px;
    border: 1px solid $light-text-blue;
}

.btn-2:hover {
    color: #ffffff;
    background: $light-text-blue;
}

ul#dropdown-menu {
    top: 30px !important;
}
