.modal-body {
    p {
        color: var(--color-sidebar-content-text);
    }
}
.label-width {
    min-width: 220px;
}

.toggle-width {
    min-width: 65px;
}

.export-border {
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 55%;
        background-color: var(--color-gray);
        top: 46%;
        right: -55px;
        transform: translateY(-50%);
    }
}