.export-border {
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 55%;
        background-color: var(--color-medium-gray);
        top: 46%;
        right: -55px;
        transform: translateY(-50%);
    }
}
