<nav *ngIf="breadCrumbService.breadCrumbPath?.length > 0">
    <ol class="breadcrumb">
        <li
            *ngFor="let crumb of breadCrumbService.breadCrumbPath; let last = last; let index = index; trackBy: trackByUrl"
            [ngClass]="{ 'active text-underline': !last }"
        >
            <a
                *ngIf="!last && crumb.url"
                (click)="navigateTo(index)"
                href="javascript:;"
            >
                {{ crumb.currentPageName }}
            </a>
            <span *ngIf="last">
                {{ crumb.currentPageName }}
            </span>
        </li>
    </ol>
</nav>
