<ng-container
    appTranslate
    [file]="'import-data'"
    (localeData)="localeData = $event"
    (commonLocaleData)="commonLocaleData = $event"
>
    <hamburger-menu [pageHeading]="localeData?.page_heading"></hamburger-menu>
    <div class="container-fluid clearfix">
        <div class="top-bar" *ngIf="step <= 3">
            <h2 class="section-title" *ngIf="step === 1"></h2>
            <h2 class="section-title" *ngIf="step === 2">{{ localeData?.map_fields }}</h2>
            <h2 class="section-title" *ngIf="step === 3">{{ localeData?.import_data }}</h2>
        </div>
    </div>

    <div class="clearfix col-xs-12 col-sm-12" *ngIf="localeData?.page_heading">
        <div class="col-xs-12 col-sm-12 p-0">
            <div class="clearfix">
                <div [ngSwitch]="step">
                    <ng-container *ngSwitchCase="1">
                        <upload-file
                            [isLoading]="isUploadInProgress"
                            [entity]="entity"
                            [localeData]="localeData"
                            [commonLocaleData]="commonLocaleData"
                            (onFileUpload)="onFileUpload($event)"
                        >
                        </upload-file>
                    </ng-container>

                    <ng-container *ngSwitchCase="2">
                        <map-excel-data
                            [importData]="excelState?.importExcelData"
                            [entity]="entity"
                            [localeData]="localeData"
                            [commonLocaleData]="commonLocaleData"
                            (onNext)="mappingDone($event)"
                            (onBack)="onBack()"
                        ></map-excel-data>
                    </ng-container>

                    <ng-container *ngSwitchCase="3">
                        <import-process
                            [entity]="entity"
                            [isLoading]="excelState?.requestState === 4"
                            [importData]="mappedData"
                            [commonLocaleData]="commonLocaleData"
                            (onSubmit)="onSubmit($event)"
                            (onBack)="onBack()"
                        ></import-process>
                    </ng-container>

                    <ng-container *ngSwitchCase="4">
                        <upload-success
                            [localeData]="localeData"
                            [commonLocaleData]="commonLocaleData"
                            (onContinueUpload)="onContinueUpload($event)"
                            (onShowReport)="showReport()"
                            [UploadExceltableResponse]="UploadExceltableResponse"
                        ></upload-success>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
