.steps-wizard {
    padding: 30px 70px;
    background: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    li {
        padding-bottom: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: auto;
        position: relative;
        justify-content: center;
        align-items: center;
        > label {
            width: 30px;
            height: 30px;
            border: 2px solid var(--color-iron);
            border-radius: 100%;
            transition: background-color 1s;
            background-color: var(--color-white);
            position: relative;
            color: var(--color-import-excel-and-wizard-steps-wizard-li-label);
            line-height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

.steps-wizard li.active > label {
    color: var(--color-white);
}

.steps-wizard:before {
    content: " ";
    position: absolute;
    border-top: 2px solid var(--color-iron);
    right: 0;
    left: 0;
    top: 40%;
    width: calc(100% - 172px);
    margin: 0 auto;
}
