.flex-fill {
    flex: 1 1 auto;
}
.basic > tbody > tr > td,
.basic > thead > tr > th,
.basic > tfoot > tr > th {
    padding: 10px 14px;
}
.basic > tfoot > tr > th {
    background: #e3e3e3;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}
.td-search-box div {
    display: flex;
}
.td-search-box div span {
    flex: 1 1 auto;
    padding-left: 8px;
}
.td-search-box div i {
    margin-top: 3px;
    color: #8080808c;
    padding-right: 8px;
    cursor: pointer;
}
.td-search-box div {
    display: flex;
}
.td-search-box .input-container input {
    height: 41px;
    width: 100%;
    padding: 11px;
    padding-right: 40px;
}
.p-modal-tolltip {
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 257px;
    border: 1px solid #b4afaf;
    border-radius: 4px;
    box-shadow: 0 7px 24px #00000038;
}
.account-detail-modal-div {
    height: 100%;
    padding: 0;
}
.account-detail-custom-header {
    border-right: 0;
    padding: 11px 10px 10px 10px;
    width: 100%;
    background: #ffece094;
}
.account-detail-custom-title {
    font-family: "opensans-semibold" !important;
    font-size: 16px !important;
}
.account-detail-padding {
    padding: 1px;
    text-transform: none !important;
}
.account-detail-padding {
    padding: 1px;
    text-transform: none !important;
}
.custom-detail h4 {
    color: #707070;
    margin-top: 7px;
    font-size: 14px !important;
    font-family: opensans-regular !important;
}
.height-82px {
    padding: 10px 10px 15px 10px;
    border-top: 1px solid #c7c7c7;
}
ul.list-unstyled li a {
    color: black;
}
.li-link {
    margin-top: 15px !important;
}
.btn-group > a {
    color: #333333;
}
.ac-detail,
.ac-detail a {
    display: block;
}
