.export-modal-wrapper {
    font-size: var(--font-size-15);
    span {
        min-width: 100px;
        display: inline-flex;
    }
    .multiple-email {
        min-height: 80px;
    }
    .show-on-mobile {
        display: none;
    }
    span.min-width-auto {
        min-width: auto;
    }
}
@media (max-width: 575px) {
    .export-modal-wrapper {
        label {
            padding-bottom: 5px;
        }
        .hide-on-mobile {
            display: none;
        }
        .show-on-mobile {
            display: flex;
        }
        .square-switch {
            width: 100px;
            margin-bottom: 10px;
        }
    }
}
