.role {
    background: var(--color-dark-fog);
    border: 1px solid var(--color-dark-fog);
    box-shadow: 0 3px 6px var(--color-primary-common-box-shadow);
}

.role ul {
    padding: 2rem;
    float: left;
    width: 100%;
}

.role ul li {
    display: inline-block;
    float: left;
    width: 100px;
}

.inline-block {
    display: inline-block;
}

#headsList .caret {
    top: 9px;
    position: relative;
}

#single-role table {
    background: var(--color-wild-sand);
}

#single-role td {
    border-bottom: 1px solid var(--color-iron);
}

#single-role thead th {
    color: var(--color-nero) !important;
    font-weight: 400;
    text-align: center;
}

#single-role tbody tr td:first-child,
#single-role thead th:first-child {
    color: var(--color-abbey);
    text-align: left;
    border-right: 1px solid var(--color-iron);
}

#single-role tbody tr td:first-child input[type="checkbox"]:checked:after {
    background: var(--color-red);
    border-color: var(--color-red);
}

.head-name {
    padding: 13px;
    background: var(--color-red);
    color: var(--color-white);
    position: relative;
}

#single-role tbody td,
#single-role thead td {
    text-align: center;
}

#single-role tbody tr:first-child {
    background: var(--color-white);
}

#single-role thead th:first-child {
    padding-left: 18px;
}

.role-title {
    font-size: 2rem;
    position: relative;
    width: calc(100% - 220px);
    margin: 0 auto;
    top: 48px;
    text-align: center;
}

.new-col {
    background: var(--color-wild-sand);
    border: 1px solid var(--color-iron);
}

.role-head {
    background: var(--color-white);
    min-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.role-head h1 {
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    white-space: inherit;
}

.role ul li {
    width: 25%;
    color: var(--color-nero);
    padding: 6px;
    font-family: "opensans-semibold";
    word-break: break-word;
}

.not-allowed {
    color: var(--color-iron) !important;
}

.new-box h1 {
    font-size: 2.5rem;
    color: var(--color-nero);
}

.dropdown_select.open > .dropdown-menu {
    display: block;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 0;
}

.dropdown_select .dropdown-menu li {
    padding: 6px 0;
}

#single-role input[type="checkbox"]:checked:after {
    background: var(--color-red);
    border-color: var(--color-red);
}

#headsList {
    box-shadow: none;
}

#single-role tbody tr td:nth-child(1n + 2) input[type="checkbox"]:before {
    border-color: var(--color-nero);
}

#single-role tbody tr td:nth-child(1n + 2) input[type="checkbox"]:checked:after {
    background: var(--color-wild-sand);
    border-color: var(--color-wild-sand);
    content: "";
}

#single-role tbody tr td:nth-child(1n + 2) input[type="checkbox"]:checked:before {
    content: "\f00c";
    font-family: FontAwesome;
    border: none;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
}

#single-role tbody tr td:nth-child(1n + 2) input[type="checkbox"]:after {
    content: "\f00d";
    font-family: FontAwesome;
    background: var(--color-wild-sand);
    border-color: var(--color-wild-sand);
}
.role-head .vertical-center {
    max-width: 100%;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.new-box {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);
}
@media (max-width: 767px) {
    .role {
        ul {
            padding: 15px 0;
            li {
                display: block;
                float: left;
                width: 50%;
            }
        }
    }
    .role-head {
        min-height: 110px;
    }
}
@media (max-width: 360px) {
    .role ul li {
        width: 100%;
        float: none;
    }
}
