@import "../../../assets/css/color.scss";
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}

.mh18_img img {
    max-height: 20px;
    cursor: pointer;
}

.basic>thead>tr>th {
    border-right: 1px solid #c6c4c4;
}

.flex-fill {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
}

.td_in_searchBox div {
    display: flex;
}

.td_in_searchBox div span {
    /*flex: 1 1 auto;*/
    padding: 8px 0 8px 10px;
}

.perform-payment {
    max-width: 420px !important;
    min-width: 420px !important;
}

.td_in_searchBox div i {
    margin-top: 1px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td_in_searchBox div i:hover {
    color: $deep-sky-blue;
}

.td_in_searchBox {
    padding: 0px !important;
}

.td_in_searchBox .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: #1c1c1c;
    border: none;
    background-color: #f2f2f2;
}

.td_in_searchBox .input-container i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.icon-pointer .glyphicon {
    cursor: pointer;
    color: $wild-blue-yonder;
}

.icon-pointer .glyphicon:hover {
    color: $deep-sky-blue;
}

.dropdown-menu>li>a:hover {
    color: $chetwode-blue !important;
    background: #eeeff9 !important;
}

.dropdown-menu {
    margin-top: 0;
}

.input-h .td_in_searchBox .input-container input {
    height: 50px !important;
}

.click-dropdwon ul {
    list-style: none;
    position: absolute;
    left: -114px;
    background-color: white;
    width: 131px;
    box-shadow: 0px 4px 7px #bfbfbf;
    border-radius: 3px;
    z-index: 100;
    border: 1px solid gainsboro;
}

.click-dropdwon {
    position: relative;
}

.click-dropdwon ul li {
    padding: 3px 6px;
    margin-bottom: 4px;
    color: orange;
    cursor: pointer;
}

.click-dropdwon ul li:hover {
    background-color: $gainsboro;
}

.click-dropdwon ul li:hover a {
    color: orangered;
}

.click-dropdwon ul li a {
    color: black;
}

.invoice-table tr:hover .dropdown-btn {
    display: inline-block !important;
    cursor: pointer;
}

.click-dropdwon .dropdown-btn {
    display: none;
}

.btn.btn-pink:focus,
.btn.btn-pink:hover {
    color: #fff;
    text-decoration: none;
    outline: none !important;
}


/* my css */

.card {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card td:hover {
    background: transparent !important;
}

.card th,
.card td {
    width: 100%;
}

.card .basic {
    width: 100%;
}

.card .basic>tbody>tr>td,
.card .basic>thead>tr>th {
    padding: 5px 14px;
    border: none !important;
}

td.card-header.clearfix {
    background-color: #eee;
    padding: 10px !important;
}

.card .dueDate {
    text-align: right;
    padding-right: 10px;
}

.card #inovice_td {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd !important;
    padding-top: 10px;
}

.card .overDueDate {
    position: absolute;
    font-size: 12px;
    bottom: -15px;
    right: 0;
}

.card .invoiceNumberA {
    display: inline-block;
    padding-right: 20px;
}

.invoiceNameDownload {
    position: relative;
    text-align: right;
}

.card #inovice_td img {
    right: 0px !important;
    top: 5px;
    left: auto !important;
}

.card .moreBtn {
    padding-bottom: 20px !important;
    text-align: right;
}

.card .moreBtn .moreBtnWrapper {
    margin-right: 0;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.p-0 {
    padding: 0;
}

.mobileTable {
    display: none;
}

.paginationWrapper {
    background-color: transparent;
    padding: 20px 0;
    margin-bottom: 0;
}

.invoice-table {
    margin-bottom: 0;
}

.date-advanceSearch {
    justify-content: space-between;
}

.mobile-search {
    display: none;
    margin-bottom: 15px;
}

.icon-pointer {
    cursor: pointer;
    color: $wild-blue-yonder;
    margin-left: 6px;
}

.icon-pointer .activeTextColor {
    color: $deep-sky-blue;
}

.btn-dropdown-ddl-newinv {
    padding: 7px 16px !important;
}

button.btn.btn-orange.ladda-button {
    height: 33px;
    padding: 6px 16px;
    overflow: inherit;
}

ul.selectActionDropdown {
    list-style: none;
}

.selectActionDropdown a {
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    display: block;
}

.selectActionDropdown a:hover {
    color: $chetwode-blue !important;
    background: #eeeff9 !important;
}

.add-invoice .dropdown-toggle {
    color: #fff;
}

.invoice-container {
    padding: 0 15px;
}

.input-group {
    position: relative;
}

.input-group input.form-control {
    padding-left: 35px !important;
    border-color: $chetwode-blue;
    background-image: url("../../../assets/images/calender.svg") !important;
    background-size: 17px !important;
    background-position: 9px 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 45px !important;
    position: relative;
    z-index: 99;
    cursor: default;
    width: 100%;
}

.input-group input.form-control:focus {
    border-color: $gainsboro;
}

.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $gainsboro;
    color: #999999;
}

.advance-icon,
.search-icon-block {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid $gainsboro;
    border-radius: 2px;
    color: $gray;
    background: #fff;
    color: $gray;
}

.search-icon-block {
    display: none;
}

.advance-icon:hover {
    background: #eaeaea;
}

.dropdown-toggle.more-btn-dropdown {
    color: $navy !important;
    border: 1px solid $chetwode-blue;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    color: $midnight-express;
    background-color: #fff;
}

.dropdown-toggle.more-btn-dropdown:hover {
    background: $chetwode-blue;
    color: #fff !important;
    border-color: $chetwode-blue;
}

.dropdown-toggle.more-btn-dropdown:hover .caret {
    color: #fff !important;
}

.dropdown-toggle.more-btn-dropdown .caret {
    color: #999999;
}

button.btn.btn-default.ladda-button {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 36px;
}

button.btn.btn-filter {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    color: #1a237e;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}

button.btn.btn-filter span.icon-cross {
    margin-right: 5px;
}

.invoice-table th .d-flex {
    align-items: center;
}

.btn-link-2 {
    color: #1c1c1c;
}

.inputWrapper {
    display: block !important;
    width: 196px !important;
    position: relative;
    height: 36px !important;
}

.inputWrapper:before {
    position: absolute;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background-color: $gainsboro;
    left: 37px !important;
    z-index: 100;
    top: 0;
}

.invoice-footer h3 {
    font-size: 16px;
    color: #999999;
    display: inline-block;
    margin-right: 10px;
}

.invoice-footer h1 {
    font-size: 28px;
    color: #333;
    display: inline-block;
}

.add-invoice .btn-group.show {
    display: inline-block !important;
}

div.remove-capitalize {
    text-transform: none !important;
}

span.icon-export-icon {
    color: $gray;
}


/* responsive */

@media (max-width: 768px) {
    .search-icon-block {
        display: flex;
    }
    .card-header .mh18_img {
        margin-right: 5px;
    }
    .mobileTable {
        display: block;
    }
    .desktop-table {
        display: none;
    }
    .mobileViewPagination {
        display: block;
        text-align: center;
    }
    .paginationWrapper {
        margin-top: 20px;
        border: none;
        background-color: transparent;
    }
    .perform-payment {
        max-width: 100% !important;
        min-width: 100% !important;
    }
    .date-advanceSearch .dropdown-menu.show.fixedDropdownPlus {
        left: auto !important;
        right: 8px !important;
        top: 100%;
        position: fixed;
        top: auto !important;
        bottom: 188px;
        border: none;
    }
    .date-advanceSearch .dropdown-menu.show.fixedDropdownPlus:after {
        position: absolute;
        width: 20px;
        height: 20px;
        left: auto;
        top: 70px;
        display: block;
        content: "";
        bottom: 0;
        right: 14px;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
        transform: rotate(45deg);
        background-color: #fff;
        z-index: -1;
    }
    .displayBlock {
        display: block !important;
    }
    .click-dropdwon ul {
        left: auto;
        right: 0;
    }
    .invoice-footer .font-xxlarge {
        font-size: 20px;
    }
    .click-dropdwon ul {
        left: auto;
        right: 0;
    }
    .plusMoreBtn {
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
        vertical-align: middle;
        position: fixed;
        right: 0;
        bottom: 120px;
        z-index: 99;
        line-height: 0;
        background-color: #36a1ce;
        color: #fff;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3) !important;
        display: block;
    }
    .date-advanceSearch .dropdown-menu>li>a {
        padding: 8px 10px;
    }
    .paginationWrapper {
        top: 0px;
    }
    .input-grp-dateRangePicker .form-group {
        margin-bottom: 10px;
    }
    .invoice-preview {
        padding-bottom: 0px;
    }
    .desktop-view-btn {
        display: none;
    }
    .date-advanceSearch {
        .add-invoice {
            display: none;
        }
    }
    .mobile-search {
        display: flex;
        margin-bottom: 0;
        flex-direction: column-reverse;
    }
    .mobile-search .input-container input {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .invoice-modal-content:after,
    .invoice-modal-content {
        top: 131px;
    }
    .invoice-footer .font-xxlarge {
        font-size: 16px;
    }
    .invoice-footer h1 {
        font-size: 18px !important;
    }
    .invoice-container {
        padding-top: 55px;
    }
    .total-due-sale-wrap {
        display: block !important;
    }
    .totalDueSale {
        padding-bottom: 5px;
    }
}

@media (max-width: 575px) {
    button.btn.btn-filter {
        width: 100%;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .invoce-controll .nav.nav-tabs {
        margin-bottom: 28px;
    }
    #dropdown-ddl-newinv {
        right: -20px !important;
    }
    .invoice-footer {
        display: flex;
        padding: 10px 0;
    }
    .full-width-on-mobile {
        width: 100%;
        margin: 5px 0;
    }
    .date-advanceSearch {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .smallLoading {
        padding-left: 0;
        color: #333333;
        font-size: 12px;
        position: relative;
        top: 2px;
        padding-right: 0;
    }
}

@media (max-width: 360px) {
    .input-grp-dateRangePicker .btn {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .smallLoading {
        top: 5px;
    }
}

@media (max-width: 320px) {
    .mobile-search .input-container input {
        letter-spacing: -0.99px;
    }
}