.imported-file-design {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imported-file-design-box {
    display: flex;
}

.imported-file-design-box i {
    font-size: 39px;
    color: var(--color-gray);
    float: left;
}

.imported-file-design h2 {
    font-size: var(--font-size-24);
    color: var(--color-nero);
    margin-bottom: 10px;
}

.imported-file-design h3 {
    font-size: var(--font-size-16);
    color: var(--color-abbey);
}

.imported-file-design-content {
    float: right;
}
