<div
    class="top-aging-table-top1 top-aging-table-top1-mat"
    (clickOutside)="closeAging($event)"
    [clickOutsideEnabled]="true"
    [delayClickOutsideInit]="true"
>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <p>{{ localeData?.first_interval }}</p>
            <div class="top-aging-table-box">
                <span>0 -</span>
                <text-field
                    [cssClass]="'form-control input-design'"
                    [name]="'opt_4th'"
                    [type]="'number'"
                    digitsOnlyDirective
                    (change)="saveAgingDropdown()"
                    [(ngModel)]="options.fourth"
                    (click)="$event.stopPropagation()"
                ></text-field>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <p>{{ localeData?.second_interval }}</p>
            <div class="top-aging-table-box">
                <span>{{ +options.fourth + 1 }} -</span>
                <text-field
                    [cssClass]="'form-control input-design'"
                    [name]="'opt_4th'"
                    [type]="'number'"
                    digitsOnlyDirective
                    [(ngModel)]="options.fifth"
                    (change)="saveAgingDropdown()"
                    (click)="$event.stopPropagation()"
                ></text-field>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <p>{{ localeData?.third_interval }}</p>
            <div class="top-aging-table-box">
                <span>{{ +options.fifth + 1 }} -</span>
                <text-field
                    [cssClass]="'form-control input-design'"
                    [name]="'opt_4th'"
                    digitsOnlyDirective
                    [type]="'number'"
                    [(ngModel)]="options.sixth"
                    (change)="saveAgingDropdown()"
                    (click)="$event.stopPropagation()"
                ></text-field>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <p>{{ localeData?.last_interval }}</p>
            <div class="top-aging-table-box">
                <span>+{{ +options.sixth + 1 }}</span>
            </div>
        </div>
    </div>
</div>
