/* UNUSED COMPONENT CLASS: li-design - Auto-commented by script
.li-design {
    display: flex;
    padding: 5px;
    border: none;
}
*/

/* UNUSED COMPONENT CLASS: lable-design - Auto-commented by script
.lable-design {
    width: 60%;
}
*/

.input-design {
    width: 40%;
}

/* UNUSED COMPONENT CLASS: depth - Auto-commented by script
.depth {
    z-index: 0 !important;
}
*/
