/** Aside dialog example
<section class="aside-dialog-wrapper">
    <div class="dialog-header">...</div>
    <mat-dialog-content class="dialog-body">...</mat-dialog-content>
</section>
*/
.aside-dialog-wrapper {
    height: 100vh;
    .dialog-header {
        height: var(--header-height);
    }
}

.dialog-header {
    height: 45px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    background-color: var(--bg-primary-color);

    button {
        &.mdc-icon-button {
            padding: 0 !important;
            .icon-cross {
                color: var(--color-white) !important;
                font-size: var(--font-size-16);
            }
        }
    }
}
.dialog-body {
    width: 100%;
    height: calc(100% - 60px);

    &.max-height-80vh {
        &.mat-mdc-dialog-content {
            max-height: 80vh !important;
        }
    }
    &.mdc-dialog__content {
        &.mat-mdc-dialog-content {
            padding: 15px !important;
        }
    }
}

// Handel Asidepan header height with giddh header
// .cdk-overlay-pane {
//     transform: translateY(-1px) !important;
// }

// modal width
.master-export {
    .modal-body {
        overflow: scroll;
        height: calc(100vh - 370px) !important;
    }
    .modal-dialog {
        &.modal-lg {
            max-width: 750px !important;
        }
    }
}

// aside dialog height
.aside-dialog-overflow {
    &.mat-mdc-dialog-content {
        max-height: calc(100vh - 65px) !important;
    }
}

// Override material dialog title
.mdc-dialog__title {
    &::before {
        display: none !important;
    }
}
