.custom-confirmation-modal {
    display: inline-block;
    max-width: 630px;
    position: relative;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    .modal-header {
        padding: 10px 15px;
        .close {
            font-size: 18px;
            right: 15px;
            top: 0px;
        }
    }

    p {
        font-size: 14px;
        color: #000;
    }
}
