@import '.././../../assets/css/color.scss';
.search-copmany-page{
    background-color: $alice-blue-light;
    padding: 15px;
    .search-compnay-field{
        .input-group{
            background-color: $white;
            border-radius: 50px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            border: 1px solid $gainsboro;
            .input-group-addon{
                background-color: transparent;
                border-radius: 0;
                padding-left: 20px;
                line-height: 1.2;
                height: auto;
                padding-right: 5px;
                color: $gray;
                border: none;
                padding: 0;
                padding-right: 25px;
                display: inline-flex;
                position: absolute;
                i{
                    position: relative;
                    top: 0;
                }
            }
            .close-addon{
                border-radius: 0;
                padding-left: 0;
                line-height: 1.2;
                height: auto;
                color: $gray;
                border: none;
                padding: 0;
                padding-right: 0;
                display: inline-flex;
                vertical-align: middle;
                white-space: normal;
                position: relative;
                width: 20px;
                height: 15px;
                i.icon-cross{
                    position: absolute;
                    right:0;
                    top: 0;
                    z-index: 3;
                    color: $gray;
                }
            }
            .wrap-group-account-input{
                width: 100%;
                padding: 1px 0 1px 20px;
                input{
                    width: 100%;
                    border: none;
                    padding:0 0;
                    border-radius: 0;
                    height: auto;
                    font-size: 14px;
                    background-color: transparent;
                    display: inline-block;
                    &:focus{
                        border-color: $gainsboro;
                    }
                }
            }
        }
    }
    .all-company-list{
        ul{
            list-style: none;
            li{
                font-size: 14px;
                a{
                    padding: 10px 0;
                    color: $nero;
                    font-family: 'opensans-semibold';
                    display: flex;
                    white-space: normal;
                    word-break: break-word;
                    &:hover{
                        color: $deep-sky-blue;
                    }   
                }
            }
        }
    }
}