.height-25px {
    height: 25px;
}
.div-table {
    display: table;
    width: 50%;
    padding: 15px 30px;
}

.div-row {
    display: flex;
    margin-top: 10px;
    width: auto;
}

.div-cell {
    float: left;
    display: table-column;
    width: 150px;
}

@media (max-width: 991px) {
    .div-table {
        display: block;
        width: 100%;
    }
}
