@import "../../../../assets/css/color.scss";
.pItem {
    padding: 0 4px;
}

.height-30 {
    height: 30px;
}

.ledg-head.entry-popup table td.select2-ledger>sh-select {
    position: initial;
    margin-top: 1px;
}

.mr-15 {
    margin-right: -15px;
}

table.width100 {
    position: relative;
}

.currency_type {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.multicurrency_input {
    padding-right: 35px !important;
}

.modal-header ng-select {
    width: 339px !important;
}

.modal-header ng-select div {
    border: 0;
    background-color: transparent;
}

.modal-header ng-select div a.ng-star-inserted {
    font-size: 18px;
    color: $white;
}

.modal-header ng-select div i.fa.fa-caret-up::before {
    color: $white;
    font-size: 24px;
}

ng-select>div i.fa.fa-caret-down::before {
    color: $white;
    font-size: 20px;
}

ng-select>div a.ng-star-inserted {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
}

ng-select>div {
    background-color: transparent;
    border: none;
}

ng-select .select_drop i.fa.fa-caret-up::before {
    color: $white;
    font-size: 20px;
}

.trxFakeInput {
    width: 100%;
    height: 38px;
    background: #f1f1f1;
    border: none !important;
    padding: 5px;
    color: #b5b5b5;
}

.notfound-option.active {
    background: #efeff1 !important;
    padding: 2px 5px !important;
}

.no-padding {
    padding: 0px !important;
}

.amnt-total {
    font-size: 12px;
    color: #999999;
}

.other-tax {
    justify-content: flex-end;
    display: flex;
    padding-top: 25px;
    display: flex;
    padding-left: 8px;
}

.total_col span.bdrT {
    width: 150px;
    display: inline-block;
    padding: 2px 0;
}


/* .ledger-main .form-control {
    height: 26px;
} */

.ledger-main .form-control {
    background: $white !important;
    height: 45px;
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.ledger-book {
    position: relative;
    width: 100%;
    display: flex;
}

.left-col-new,
.right-col-new {
    width: 100%;
    padding-bottom: 100px;
    height: initial;
}

.ledg-head.entry-popup table td:last-child {
    border-right: 0px;
}

.custom-tabs {
    display: none !important;
}


/* .total-detail-table tbody tr td {
  vertical-align: top;
} */

.total-detail-table {
    display: flex;
}

.total-detail-table .table-amount {
    width: 100%;
}

.icon-box {
    text-align: center;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    padding: 8px 10px 10px;
}

.add-multicurrency .icon-box {
    padding-bottom: 0px;
    align-items: center;
}

.width-80 {
    width: 80px !important;
    min-width: 80px;
}

.download-invoice-ledger>i {
    top: 15px;
    position: relative;
}

.checkbox-custom-label strong {
    display: contents;
}

span.eligible-ITC {
    font-size: 11px;
    cursor: pointer;
    padding-top: 5px;
    display: inline-block;
    span {
        color: $deep-sky-blue;
        font-size: 10px;
    }
}

.taxable-amount-section {
    display: inline-block;
    margin-bottom: 12px;
    .itc-label {
        margin-bottom: 4px;
    }
}

.adjust-receipt {
    padding: 10px;
    border: 1px solid $gainsboro;
    margin-top: 10px;
    position: relative;
}

.pr-05 {
    padding-right: 5px;
}

.pl-05 {
    padding-left: 5px;
}

.adjustment-field {
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 160px;
}

.ledger-bottom {
    display: flex;
}

.ledger-head th {
    color: $jacksons-purple;
    padding-left: 0;
    padding-bottom: 10px;
}

.update-ledger-account {
    align-items: center;
    span {
        padding-left: 10px;
    }
    sh-select {
        width: 100%;
    }
}
.advanced {
    table.xs-table-block {
        tbody tr {
            td.remove-invoice {
                span:first-child {
                    font-size: 25px;
                    vertical-align: middle;
                    color: $gray;
                    padding-right: 8px;
                }
                .remove-invoice-label {
                    vertical-align: middle;
                    color: $gray;
                    font-size: 13px;
                }
            }
        }
    }
}

.edit-adjustment {
    padding: 0 5px 0;
}
.icon-info{
    color: $gray;
    cursor: pointer;
    padding: 8px 5px 0;
}
.adjusted-info {
    background-color: $white;
    padding: 15px;
    z-index: 1;
    max-width: 360px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    color: $dark-gray;
    .info-text{
        font-family: 'opensans-regular';
    }
}

/* responsive */

@media only screen and (max-width: 1359px) {
    .ledger-bottom {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .ledger-book {
        display: block;
    }
    .left-col-new,
    .right-col-new {
        width: 100% !important;
        float: left;
        height: initial;
        display: none;
    }
    .custom-tabs {
        display: block !important;
    }
    .left-col-new.active,
    .right-col-new.active {
        display: block !important;
    }
    .total-detail-table {
        flex-wrap: wrap;
    }
    .total-detail-table .table-amount {
        width: 100%;
        flex: 0 0 30%;
        max-width: 30%;
        white-space: initial;
    }
}

@media only screen and (max-width: 767px) {
    .last-ttable-amount {
        max-width: 100% !important;
    }
    .ledger-book .h-table tbody .ledger-row td {
        padding-left: 80px !important;
    }
    .card-table tbody tr td {
        padding-left: 90px !important;
        margin-right: 10px !important;
    }
    .ledger-footer-1 {
        position: absolute;
        bottom: 0;
    }
    .total-detail-table {
        flex-wrap: wrap;
    }
    .total-detail-table .table-amount {
        width: 100%;
        flex: 0 0 50%;
        max-width: 39%;
        white-space: initial;
    }
    .other-tax {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-top: 10px;
    }
    .entrypanel:before {
        display: none;
    }
    .total-amn {
        width: 100%;
    }
    .xs-table-block {
        width: 100%;
        display: block;
    }
    .xs-table-block tbody tr td {
        display: block;
    }
    .ledg-head .ledger-book .left-col-new.bdrR {
        border-right: 0 !important;
    }
    .remove-border-left-onmo {
        border-left: 0 !important;
    }
    .advanced input {
        width: 200px !important;
    }
    .file_attached span {
        white-space: initial;
        word-break: break-word;
        width: 100%;
        display: inline-block;
    }
    .entrypanel .primary_clr {
        padding-left: 15px;
        padding-top: 5px;
    }
    .card-table tbody tr:last-child {
        border-bottom: none;
    }
    sh-select#crdID,
    sh-select#dbtID {
        width: 185px;
    }
    #crdID input,
    #dbtID input {
        border: 1px solid $gainsboro !important;
        height: 36px;
    }
    .ledger-main .form-control {
        width: 185px;
        height: 36px !important;
    }
    .debit-blank-row .amnt-total {
        width: 185px;
        margin-top: 5px;
    }
    .currency-convertor {
        float: right;
        display: block;
        width: 100%;
        text-align: right;
        margin: 10px 0;
    }
    .entrypanel .bl-1 {
        border-left: 0;
    }
    .advanced input[type="checkbox"] {
        width: initial !important;
    }
    .xs-pt-0 {
        padding-top: 0px !important;
    }
    .adjustment-field .pr-05 {
        padding-right: 15px;
    }
    .adjustment-field .pl-05 {
        padding-left: 15px;
    }
}

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) } }
