.inner-tabs {
    padding: 15px;
    background: var(--color-gst-primary-background-color);
}
.basic > thead > tr > th {
    position: relative;
}
.sort-table {
    display: inline-block;
    position: relative;
    position: absolute;
    top: 6px;
    right: 10px;
}
.sort-table .top-sort {
    border-bottom: 6px solid var(--color-iron);
    border-top: 4px solid transparent;
}
.sort-table .bottom-sort,
.sort-table .top-sort {
    display: block;
    margin-bottom: 3px;
    content: "";
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    width: 0px;
    height: 0px;
    line-height: 0;
}
.sort-table .bottom-sort {
    border-top: 7px solid var(--color-iron);
    border-bottom: 4px solid transparent;
    margin-bottom: 0px;
}
.bg-white {
    background: var(--color-white);
    padding: 15px;
}
.error-shit-total .table tr td {
    border: 0px !important;
}
.error-shit-total .table tr td h4 {
    font-size: var(--font-size-24);
    color: var(--color-nero);
}
.error-shit-total .table tr td p {
    color: var(--color-gray);
    font-size: var(--font-size-18);
}
.error-shit-total .table {
    margin: 0px;
}
.error-shit-total {
    background: var(--color-white);
    padding: 20px;
    width: 100%;
    display: block;
}
.text-purple {
    color: var(--color-blue) !important;
}
.gst-error {
    display: block;
    clear: both;
    float: none;
    /* height: 75vh; */
}
.table-sgt {
    /* max-height: 60vh; */
    overflow-y: scroll;
}
#content-wrapper {
    padding-bottom: 80px !important;
}
.tax-engine,
.transactions-overview {
    background: none !important;
}
