.dropdown-menu {
    height: auto !important;
}
.custom-dropdown-ledger {
    .dropdown-menu li label span {
        max-width: calc(100% - 31px) !important;
    }
}
.dropdown-menu {
    max-width: 100%;
    width: 100%;
}
.dropdown-menu li label {
    font-size: var(--font-size-14);
}
:host .disabled-label {
    cursor: not-allowed;
    opacity: 0.5;
}
.update-ledger-tax-dropdown {
    max-height: 102px;
    min-height: 80px;
}
.checkbox {
    .text-ellipsis {
        margin-left: -20px;
    }
}
.clearfix {
    .mat-input-element {
        box-sizing: border-box !important;
    }
}
