@import "../../../../assets/css/color.scss";
.flex-fill {
    flex: 1 1 auto;
}

.basic > tbody > tr > td,
.basic > thead > tr > th,
.basic > tfoot > tr > th {
    white-space: nowrap !important;
}

.td-search-box {
    padding: 0px !important;
    position: relative;
}

.td-search-box div {
    display: flex;
}

.td-search-box div span {
    padding-left: 8px;
}

.td-search-box div i {
    margin-top: 1px;
    color: $wild-blue-yonder;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td-search-box div {
    display: flex;
}

.td-search-box .input-container input {
    height: 50px;
    min-width: 100%;
    padding: 11px;
    padding-right: 40px;
    color: $nero;
    border: none;
    background-color: $white-smoke;
}

.p-modal-tooltip {
    position: absolute;
    background-color: $white;
    z-index: 1000;
    width: 257px;
    border: 1px solid $pink-swan;
    border-radius: 4px;
    box-shadow: 0 7px 24px $black-russian;
}

.account-detail-modal-div {
    height: 100%;
    padding: 0;
}

.account-detail-custom-header {
    border-right: 0;
    padding: 11px 10px 10px 10px;
    width: 100%;
    background: #ffece094;
}

.account-detail-custom-title {
    font-family: "opensans-semibold" !important;
    font-size: 16px !important;
}

.account-detail-padding {
    padding: 1px;
    text-transform: none !important;
}

.custom-detail h4 {
    color: $gray;
    margin-top: 7px;
    font-size: 14px !important;
    font-family: "opensans-regular" !important;
}

.height-82px {
    padding: 10px 10px 15px 10px;
    border-top: 1px solid $gainsboro;
}

ul.list-unstyled li a {
    color: $black;
}

.li-link {
    margin-top: 15px !important;
}

.btn-group > a {
    color: $night-rider;
}

.ac-detail,
.ac-detail a {
    display: block;
}

.main-sale-register-box .sale-register-box p {
    color: $gray;
}

.main-sale-register-box .sale-register-box h4 {
    font-size: 18px;
    color: $night-rider;
}

.sales-register p {
    color: $gray;
    margin-bottom: 5px;
}
.sale-register {
    .transaction-count-data {
        p {
            &:first-child {
                min-width: 140px;
            }
        }
    }
}
.main-sale-register-box .sale-register-box {
    margin-left: 30px;
}

.main-sale-register-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.sale-register-box a {
    display: inline-block;
}

.sale-register-box a > img {
    width: 60px;
}

.sale-register {
    overflow: hidden;
    display: block;
    display: flex;
    align-items: center;
}

.text-purple {
    color: $chetwode-blue !important;
}

.sales-register {
    background: $white;
    padding: 15px;
    box-shadow: 0px -3px 6px $gainsboro;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 90%;
    z-index: 2;
    padding-right: 90px !important;
    width: calc(100% - 240px);
}

.responsive {
    padding: 0 15px;
}

#content-wrapper {
    padding-bottom: 80px !important;
}

.basic tbody tr td p {
    margin-bottom: 10px;
}

.basic tbody tr td p:last-child {
    margin-bottom: 0px;
}

.icon-pointe .glyphicon {
    cursor: pointer;
}

.middle {
    vertical-align: middle;
}

.report-dropdown li {
    float: left;
    width: 51px;
}

.report-dropdown {
    min-width: 210px;
}

ul#dropdown-nested {
    min-width: 254px;
}

ul#dropdown-nested li .caret {
    float: right;
    margin-top: 8px;
}

.report-dropdown {
    left: 100% !important;
}

.custom-month-select.show {
    display: inline-block !important;
}

.top-bar {
    padding: 15px;
}

.custom-month-select li:hover a.dropdown-item {
    background-color: $whisper;
}

.custom-month-select button.btn {
    background: transparent !important;
    padding-left: 3px;
    padding-right: 3px;
}

.custom-month-select button.btn:active,
.custom-month-select button.btn:focus,
.custom-month-select button.btn:hover {
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

.icon-pointer .d-block.font-xxs.glyphicon.glyphicon-triangle-top {
    line-height: 0.5;
    height: 8px;
}

.icon-pointer .font-xxs {
    font-size: 12px;
}

table th {
    position: relative;
}

.verticle-align-top {
    vertical-align: top !important;
}
.icon-pointer {
    cursor: pointer;
    color: $wild-blue-yonder;
    margin-left: 6px;
}
.icon-pointer .active-text-color {
    color: $deep-sky-blue;
}
.table-middle th .d-flex {
    align-items: center;
}
.expand-collapse-btn {
    margin-bottom: 0 !important;
}
.expand-collapse-btn a {
    display: flex;
    width: 36px;
    height: 36px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: $white;
    font-size: 18px;
    color: $midnight-blue;
    border: 1px solid $gainsboro;
}
.top-bar {
    .icon-options {
        width: 36px;
        height: 36px;
        border: 1px solid $gainsboro;
        background-color: $white;
        color: $gray;
        font-size: 20px;
        position: relative;
        padding: 7px;
    }
    .btn-group.d-flex.open.show {
        display: flex !important;
    }
}

.verticle-align-top a {
    color: $chetwode-blue;

    &:hover {
        color: $deep-sky-blue;
    }
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.report-breadcrum {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0px 10px 36px !important;
    border-bottom: 1px solid $gainsboro;
    .nav-report {
        li {
            font-family: "opensans-semibold";
            font-size: 20px;
            a {
                color: $midnight-blue;
            }
        }
    }
    .custom-month-select {
        font-family: "opensans-semibold";
        color: $midnight-blue;
        .btn {
            font-size: 19px;
            padding: 0;
        }
        li {
            font-family: "opensans-regular";
        }
    }
}

.voucher-width {
    width: 210px;
}
@media screen and (max-width: 1019px) {
    .sales-register {
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .sales-register {
        display: block;
        width: 100%;
    }
    .main-sale-register-box {
        justify-content: start;
        text-align: left;
        .sale-register-box {
            margin: 10px 0;
            text-align: left !important;
            width: 48%;
        }
    }
}
@media screen and (max-width: 768px) {
    .giddh-table {
        tbody {
            tr {
                td.voucher-type-td {
                    width: 100%;
                }
            }
        }
    }
    .sales-register {
        position: relative;
    }
}
@media (max-width: 767px) {
    .report-breadcrum {
        position: static !important;
        padding-left: 15px !important;
        padding-top: 0 !important;
        .nav-report {
            li {
                font-size: 16px;
            }
        }
        .custom-month-select {
            .btn {
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .main-sale-register-box {
        .sale-register-box {
            width: 100%;
        }
    }
}
