<!-- <div class="pr" [ngClass]="{'open': showComponent}">
  <ul class="dropdown-menu pd depth dropdown-menu-right" *ngIf="showComponent" (click)="$event.stopPropagation()">

    <li class="li-design">
      <label class="oh width100 lable-design pdB">4th Column</label>
      <input class="pull-left input-design" name="opt_4th" type="number" digitsOnlyDirective
             [(ngModel)]="options.fourth" (click)="$event.stopPropagation()"/>
    </li>

    <li class="li-design">
      <label class="oh width100 lable-design pdB">5th Column</label>
      <input class="pull-left input-design" name="opt_4th" type="number" digitsOnlyDirective [(ngModel)]="options.fifth"
             (click)="$event.stopPropagation()"/>
    </li>

    <li class="li-design">
      <label class="oh width100 lable-design pdB">6th Column</label>
      <input class="pull-left input-design" name="opt_4th" digitsOnlyDirective type="number" [(ngModel)]="options.sixth"
             (click)="$event.stopPropagation()"/>
    </li>
    <li class="li-design">
      <button class="btn btn-share pull-right ladda-button" [ladda]="setDueRangeRequestInFlight$  | async"
              (click)="saveAgingDropdown()" style="margin:5px">Save
      </button>
      <button class="btn btn-default pull-right" (click)="closeAgingDropDown()" style="margin:5px">cancel
      </button>
    </li>
  </ul>

</div> -->
<!-- <section class="modal-backdrop fade show light-backdrop" (click)="closeAgingDropDown()"></section> -->
<div class="text-center top-aging-table-top1">
<div class="row">
    <div class="col-md-3">
      <p>First interval</p>
      <div class="top-aging-table-box">
        <span>0 -</span>
        <input class="pull-left input-design" name="opt_4th" type="number" digitsOnlyDirective
        [(ngModel)]="options.fourth" (click)="$event.stopPropagation()"/>
        <!-- <input type="number" value="30"> -->
      </div>
    </div>
    <div class="col-md-3">
        <p>Second interval</p>
        <div class="top-aging-table-box">
          <span>{{options.fourth+1}}</span>
          <input class="pull-left input-design" name="opt_4th" type="number" digitsOnlyDirective [(ngModel)]="options.fifth"
             (click)="$event.stopPropagation()"/>
          <!-- <input type="number" value="30"> -->
        </div>
      </div>
      <div class="col-md-3">
          <p>Third interval</p>
          <div class="top-aging-table-box">
            <span>{{options.fifth+1}}</span>
            <input class="pull-left input-design" name="opt_4th" digitsOnlyDirective type="number" [(ngModel)]="options.sixth"
            (click)="$event.stopPropagation()"/>
            <!-- <input type="number" value="30"> -->
          </div>
        </div>
        <div class="col-md-3">
            <p>Last interval</p>
            <div class="top-aging-table-box">
              <span>91 +</span>
            </div>
          </div>
  </div>
  </div>