<div id="" >
    <div class="modal-header d-flex justify-content-between">
        <h3>Confirmation</h3>
        <button mat-stroked-button aria-hidden="true" class="close" data-dismiss="modal" (click)="onCancel()">×</button>
    </div>
    <div class="modal-body clearfix" id="export-body">
        <form name="newRole" novalidate autocomplete="off">
            <h3 *ngIf="!isMessageTextOrHeading" [innerHTML]="message"></h3>
            <ng-container *ngIf="isMessageTextOrHeading">
                <div class="modal-wrap mr-b2">
                    <h3>{{ messageHeader }}</h3>
                    <p class="text-gray font-15 mr-t05">{{ messageBody }}</p>
                </div>
            </ng-container>

            <div class="text-right mr-t4">
                <button type="button" mat-stroked-button color="accent" (click)="onConfirmation()">Yes</button>
                <button type="button" mat-raised-button color="primary" (click)="onCancel()">No</button>
            </div>
        </form>
    </div>
</div>
