.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: row wrap;
}

table {
  table-layout: fixed
}

/* .table.basic tbody tr td {
    background-color: #fff;
}

.table.basic .table tbody tr td {
    border: none;
} */

.mh18_img img {
  max-height: 20px;
  cursor: pointer
}

/*
.table.basic>tbody>tr>td>table tbody tr td {
    padding: 5px 0;
}

tfoot {
    background: #fff;
} */
