<ng-container
    appTranslate
    [file]="'inventory/manufacturing'"
    (commonLocaleData)="commonLocaleData = $event"
    (localeData)="localeData = $event"
>
    <section id="create-manufacturing" class="clearfix">
        <hamburger-menu></hamburger-menu>
        <div class="manufacturing-wrapper">
            <form autocomplete="off" novalidate #manufacturingForm="ngForm">
                <div class="row">
                    <div class="form-fields w-100">
                        <div class="d-inline-flex flex-wrap align-items-end">
                            <div class="col">
                                <giddh-datepicker
                                    name="date"
                                    [cssClass]="'w-100' + (errorFields.date ? ' required-field-error' : '')"
                                    [showToggleIcon]="false"
                                    [(ngModel)]="manufacturingObject.manufacturingDetails[0].date"
                                    (dateSelected)="errorFields.date = false"
                                    [placeholder]="commonLocaleData?.app_date"
                                    [appearance]="'outline'"
                                >
                                </giddh-datepicker>
                            </div>
                            <div class="col" *ngIf="warehouses?.length > 1">
                                <dropdown-field
                                    [name]="'warehouseUniqueName'"
                                    [placeholder]="commonLocaleData?.app_select_warehouse"
                                    [options]="warehouses"
                                    (selectedOption)="
                                        manufacturingObject.manufacturingDetails[0].warehouseUniqueName = $event.value;
                                        selectedWarehouseName = $event.label
                                    "
                                    [defaultValue]="selectedWarehouseName"
                                >
                                </dropdown-field>
                            </div>
                            <div class="col">
                                <div class="custom-card bg-green">
                                    <p class="card-head-text">{{ localeData?.total_cost }}</p>
                                    <p class="card-text">{{ totals.totalAmount }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-card bg-vivid-gamboge">
                                    <p class="card-head-text">{{ localeData?.item_cost }}</p>
                                    <p class="card-text">{{ totals.costPerItem }}</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-3 max-width-stock" />
                    </div>
                </div>
                <div class="row max-width-stock">
                    <div class="col-3">
                        <div class="row">
                            <div class="form-fields w-100">
                                <div class="d-flex flex-column flex-wrap gap-between w-100">
                                    <h1 class="section-head">{{ localeData?.finished_stock }}</h1>
                                    <div>
                                        <dropdown-field
                                            [cssClass]="errorFields.finishedStockName ? ' required-field-error' : ''"
                                            [name]="'stockUniqueName'"
                                            [scrollableElementId]="'finishedStockDropdown'"
                                            [placeholder]="commonLocaleData?.app_select_stock"
                                            [options]="manufacturingObject.manufacturingDetails[0].stocks"
                                            (selectedOption)="
                                                manufacturingObject.manufacturingDetails[0].manufacturingUnitCode =
                                                    $event?.additional?.stockUnitCode;
                                                errorFields.finishedStockName = false;
                                                selectedInventoryType = $event?.additional?.inventoryType;
                                                getStockVariants(
                                                    manufacturingObject.manufacturingDetails[0],
                                                    $event,
                                                    true,
                                                    0
                                                )
                                            "
                                            [defaultValue]="manufacturingObject.manufacturingDetails[0].stockName"
                                            [enableDynamicSearch]="true"
                                            [isPaginationEnabled]="true"
                                            (dynamicSearchedQuery)="
                                                getStocks(manufacturingObject.manufacturingDetails[0], 1, $event)
                                            "
                                            (scrollEnd)="stockScrollEnd(manufacturingObject.manufacturingDetails[0])"
                                            [allowValueReset]="true"
                                            (onClear)="resetStocks(manufacturingObject.manufacturingDetails[0])"
                                        >
                                        </dropdown-field>
                                    </div>

                                    <div *ngIf="manufacturingObject.manufacturingDetails[0].variants?.length > 1">
                                        <dropdown-field
                                            [cssClass]="errorFields.finishedStockVariant ? ' required-field-error' : ''"
                                            [name]="'variantUniqueName'"
                                            [placeholder]="commonLocaleData?.app_select_variant"
                                            [options]="manufacturingObject.manufacturingDetails[0].variants"
                                            (selectedOption)="
                                                errorFields.finishedStockVariant = false;
                                                manufacturingObject.manufacturingDetails[0].variant.name = $event.label;
                                                manufacturingObject.manufacturingDetails[0].variant.uniqueName =
                                                    $event.value;
                                                getVariantRecipe()
                                            "
                                            [defaultValue]="manufacturingObject.manufacturingDetails[0].variant.name"
                                        >
                                        </dropdown-field>
                                    </div>

                                    <div>
                                        <small class="float-right pt-1">{{
                                            manufacturingObject.manufacturingDetails[0].manufacturingUnitCode
                                        }}</small>
                                        <input-field
                                            [cssClass]="errorFields.finishedQuantity ? ' required-field-error' : ''"
                                            [type]="'number'"
                                            [name]="'manufacturingQuantity'"
                                            [placeholder]="commonLocaleData?.app_quantity"
                                            [(ngModel)]="
                                                manufacturingObject.manufacturingDetails[0].manufacturingQuantity
                                            "
                                            (change)="
                                                errorFields.finishedQuantity = false;
                                                updateRawStocksQuantity();
                                                calculateTotals()
                                            "
                                        >
                                        </input-field>
                                        <small class="float-right"
                                            >{{ localeData?.multiple_of }}
                                            <span>{{
                                                manufacturingObject.manufacturingDetails[0].manufacturingMultipleOf
                                            }}</span>
                                        </small>
                                    </div>

                                    <div class="d-flex generate-clear w-100">
                                        <button
                                            mat-raised-button
                                            color="primary"
                                            class="mt-2 mr-0"
                                            [disabled]="isLoading"
                                            (click)="createManufacturing()"
                                            *ngIf="!manufactureUniqueName"
                                        >
                                            {{ commonLocaleData?.app_create }}
                                        </button>
                                        <button
                                            mat-stroked-button
                                            class="mt-2"
                                            (click)="resetForm()"
                                            *ngIf="!manufactureUniqueName"
                                        >
                                            {{ commonLocaleData?.app_clear }}
                                        </button>

                                        <button
                                            mat-raised-button
                                            color="primary"
                                            class="mt-2 mr-0"
                                            [disabled]="isLoading"
                                            (click)="updateManufacturing()"
                                            *ngIf="manufactureUniqueName"
                                        >
                                            {{ commonLocaleData?.app_update }}
                                        </button>
                                        <button
                                            mat-flat-button
                                            class="mt-2"
                                            color="warn"
                                            (click)="deleteManufacturing()"
                                            *ngIf="manufactureUniqueName"
                                        >
                                            {{ commonLocaleData?.app_delete }}
                                        </button>
                                        <button
                                            mat-stroked-button
                                            class="mt-2"
                                            [routerLink]="['/pages/inventory/v2/manufacturing/list']"
                                            *ngIf="manufactureUniqueName"
                                        >
                                            {{ commonLocaleData?.app_cancel }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-1 d-flex justify-content-center align-items-center"
                        *ngIf="manufacturingObject.manufacturingDetails[0].variant.uniqueName"
                    >
                        <span class="less-than-text"> <i class="icon-left"></i></span>
                    </div>
                    <div class="col-8 pr-0" *ngIf="manufacturingObject.manufacturingDetails[0].variant.uniqueName">
                        <div class="row">
                            <div class="consumption-details-wrapper w-100">
                                <h1 class="section-head">{{ localeData?.raw_stock }}</h1>
                                <div class="mt-2">
                                    <table id="table-raw-stock">
                                        <thead>
                                            <tr>
                                                <th>{{ commonLocaleData?.app_name }}</th>
                                                <th>{{ commonLocaleData?.app_variant }}</th>
                                                <th>{{ commonLocaleData?.app_quantity }}</th>
                                                <th>{{ commonLocaleData?.app_unit }}</th>
                                                <th>{{ commonLocaleData?.app_rate }}</th>
                                                <th>{{ commonLocaleData?.app_amount }}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody (mouseleave)="activeLinkedStockIndex = null">
                                            <ng-container
                                                *ngFor="
                                                    let linkedStock of manufacturingObject.manufacturingDetails[0]
                                                        .linkedStocks;
                                                    let i = index
                                                "
                                            >
                                                <tr
                                                    (mouseenter)="activeLinkedStockIndex = i; showBorder(linkedStock)"
                                                    (mouseleave)="
                                                        activeLinkedStockIndex = null; hideBorder(linkedStock)
                                                    "
                                                >
                                                    <td>
                                                        <div>
                                                            <select-field
                                                                [cssClass]="
                                                                    linkedStock.cssClass +
                                                                    (linkedStock.stockNameError
                                                                        ? ' required-field-error'
                                                                        : '')
                                                                "
                                                                [name]="'stock' + i"
                                                                [scrollableElementId]="'stock' + i"
                                                                [placeholder]="commonLocaleData?.app_select_stock"
                                                                [options]="linkedStock.stocks"
                                                                (selectedOption)="
                                                                    linkedStock.selectedStock = $event;
                                                                    validateSelectedStock(i);
                                                                    getStockVariants(linkedStock, $event, false, i)
                                                                "
                                                                [defaultValue]="linkedStock.selectedStock?.label"
                                                                [enableDynamicSearch]="true"
                                                                [isPaginationEnabled]="true"
                                                                (dynamicSearchedQuery)="
                                                                    getStocks(
                                                                        linkedStock,
                                                                        1,
                                                                        $event,
                                                                        selectedInventoryType
                                                                    )
                                                                "
                                                                (scrollEnd)="stockScrollEnd(linkedStock)"
                                                                [allowValueReset]="true"
                                                                (onClear)="
                                                                    resetStocks(linkedStock, selectedInventoryType)
                                                                "
                                                            >
                                                            </select-field>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <select-field
                                                                [cssClass]="
                                                                    linkedStock.cssClass +
                                                                    (linkedStock.variantNameError
                                                                        ? ' required-field-error'
                                                                        : '')
                                                                "
                                                                [name]="'variantUniqueName' + i"
                                                                [scrollableElementId]="'variant' + i"
                                                                [placeholder]="commonLocaleData?.app_select_variant"
                                                                [options]="linkedStock.variants"
                                                                (selectedOption)="
                                                                    linkedStock.variant.name = $event.label;
                                                                    linkedStock.variant.uniqueName = $event.value;
                                                                    validateSelectedVariant(i);
                                                                    getRateForStock(linkedStock, i)
                                                                "
                                                                [defaultValue]="linkedStock.variant.name"
                                                            >
                                                            </select-field>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <text-field
                                                                [cssClass]="
                                                                    linkedStock.cssClass +
                                                                    (linkedStock.quantityError
                                                                        ? ' required-field-error'
                                                                        : '')
                                                                "
                                                                [type]="'number'"
                                                                [name]="'quantity' + i"
                                                                [(ngModel)]="linkedStock.quantity"
                                                                [placeholder]="commonLocaleData?.app_quantity"
                                                                (change)="
                                                                    validateQuantity(i); calculateRowTotal(linkedStock)
                                                                "
                                                            >
                                                            </text-field>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <select-field
                                                                    [cssClass]="linkedStock.cssClass"
                                                                    [name]="'variantUnit' + i"
                                                                    [scrollableElementId]="'variantUnit' + i"
                                                                    [placeholder]="commonLocaleData?.app_unit"
                                                                    [options]="
                                                                        linkedStock.selectedStock?.additional?.unitsList
                                                                    "
                                                                    (selectedOption)="
                                                                        linkedStock.stockUnitUniqueName = $event.value;
                                                                        linkedStock.stockUnitCode = $event.label;
                                                                        getRateForStock(linkedStock, i)
                                                                    "
                                                                    [defaultValue]="linkedStock.stockUnitCode"
                                                                >
                                                                </select-field>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <text-field
                                                                [cssClass]="linkedStock.cssClass"
                                                                [type]="'number'"
                                                                [name]="'rate' + i"
                                                                [(ngModel)]="linkedStock.rate"
                                                                [placeholder]="commonLocaleData?.app_rate"
                                                                (change)="calculateRowTotal(linkedStock)"
                                                            >
                                                            </text-field>
                                                        </div>
                                                    </td>
                                                    <td>{{ linkedStock.amount }}</td>
                                                    <td>
                                                        <i
                                                            [ngClass]="{
                                                                'unvisible':
                                                                    activeLinkedStockIndex !== i ||
                                                                    manufacturingObject.manufacturingDetails[0]
                                                                        .linkedStocks?.length <= 1
                                                            }"
                                                            class="icon-trash cursor-pointer"
                                                            aria-hidden="true"
                                                            (click)="removeLinkedStock(i)"
                                                        ></i>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <tr>
                                                <td colspan="7">
                                                    <a class="mb-2" (click)="addNewLinkedStock()" href="javascript:;">
                                                        {{ localeData?.add_stock }}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>{{ commonLocaleData?.app_total }}</td>
                                                <td colspan="4">{{ totals.totalRate }}</td>
                                                <td>{{ totals.totalAmount }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</ng-container>
