#create-manufacturing {
    .manufacturing-wrapper {
        padding: 15px;

        .row {
            margin-left: unset;
            margin-right: unset;
        }
        .max-width-stock {
            max-width: 1400px;
        }
        .less-than-text {
            font-size: 32px;
            color: var(--color-abbey);
            position: absolute;
            top: 120px;
        }

        .branch-msg {
            color: var(--color-primary-header-background);
        }

        .form-fields {
            .max-width-230 {
                display: block;
                width: auto;
            }
            .gap-between {
                gap: 1rem;
            }
            small {
                font-size: var(--font-size-12);
            }
            label {
                font-size: var(--font-size-15);
                font-weight: 400;
            }
        }

        .consumption-details-wrapper {
            #table-raw-stock {
                width: 100%;
                th,
                td {
                    padding: 10px 15px;
                    font-size: var(--font-size-15);
                    text-align: right;
                    &:first-child {
                        text-align: left;
                    }
                }

                thead {
                    border-bottom: 1px solid var(--color-iron);
                    tr {
                        th {
                            color: var(--color-primary-button-text);
                            font-weight: 500;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &.before-line {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: -1px;
                                    top: 20px;
                                    width: 14px;
                                    height: 50px;
                                    border: 2px solid
                                        var(--color-manufacture-source-tbody-tr-td-nth-child1-before-background);
                                    border-right: 0px;
                                    border-top: 0px;
                                    border-radius: 3px 0 0 3px;
                                }
                            }

                            .mat-stroked-button {
                                padding: 4px 6px !important;
                                line-height: unset !important;
                                font-size: var(--font-size-12) !important;
                            }
                        }
                        &:first-child {
                            td {
                                &.before-line {
                                    &::before {
                                        border-top: 2px solid
                                            var(--color-manufacture-source-tbody-tr-td-nth-child1-before-background) !important;
                                    }
                                }
                            }
                        }
                    }
                }
                tfoot {
                    border-top: 1px solid var(--color-iron);
                    border-bottom: 1px solid var(--color-iron);
                    tr {
                        td {
                            color: var(--color-nero);
                            font-weight: 100;
                        }
                    }
                }
            }
            .section-head {
                padding-left: 15px;
            }
            .icon-cross {
                color: var(--color-red);
            }
        }
        .total-cost-card {
            padding: 15px 0;

            &-head {
                padding: 12px 19px;
                background-color: var(--color-abbey);
                color: var(--color-white);
            }

            &-body {
                font-weight: 600;
                padding: 10px 0;

                .col-5 {
                    flex: unset !important;
                    & ~ .col-5 {
                        text-align: right;
                    }
                }
            }
        }
        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 44px;
        }

        .custom-card {
            padding: 12px 15px;
            border-radius: 5px;
            min-width: 280px;

            &.bg-green {
                background-color: var(--color-opening-box-background);
                color: var(--color-success-enable);
            }
            &.bg-vivid-gamboge {
                background-color: var(--color-total-details-secondary-background);
                color: var(--color-total-details-secondary-content);
            }
            .card-head-text {
                font-size: var(--font-size-12);
                color: var(--color-total-details-heading);
            }
            .card-text {
                font-size: var(--font-size-16);
                font-weight: 500;
            }
        }
    }
}
.generate-clear {
    column-gap: 10px;
}
