<section id="create-manufacturing" class="clearfix">
    <hamburger-menu [pageHeading]="'Create Manufacture'"></hamburger-menu>
    <div class="manufacturing-wrapper">
        <form autocomplete="off" novalidate #manufacturingForm="ngForm">
            <div class="row">
                <div class="form-fileds w-100">
                    <div class="d-inline-flex flex-wrap align-items-end">
                        <div class="col">
                            <label>Date<span class="text-danger">*</span></label>
                            <giddh-datepicker
                                name="date"
                                [cssClass]="
                                    'mat-field-border bdr form-control w-100' +
                                    (errorFields.date ? ' required-field-error' : '')
                                "
                                [showToggleIcon]="false"
                                [(ngModel)]="manufacturingObject.manufacturingDetails[0].date"
                                (dateSelected)="errorFields.date = false"
                            >
                            </giddh-datepicker>
                        </div>
                        <div class="col" *ngIf="warehouses?.length > 1">
                            <label>Warehouse</label>
                            <select-field
                                [cssClass]="'form-control mat-field-border'"
                                [name]="'warehouseUniqueName'"
                                [placeholder]="'Select Warehouse'"
                                [options]="warehouses"
                                (selectedOption)="
                                    manufacturingObject.manufacturingDetails[0].warehouseUniqueName = $event.value
                                "
                            >
                            </select-field>
                        </div>
                        <div class="col">
                            <div class="custom-card bg-green">
                                <p class="card-head-text">Total Cost</p>
                                <p class="card-text">{{ totals.totalAmount }}</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-card bg-vivid-gamboge">
                                <p class="card-head-text">Cost per Item</p>
                                <p class="card-text">{{ totals.costPerItem }}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3 max-width-1300" />
                </div>
            </div>
            <div class="row max-width-1300">
                <div class="col-3">
                    <div class="row">
                        <div class="form-fileds w-100">
                            <div class="d-flex flex-column flex-wrap gap-between w-100">
                                <h1 class="section-head">Finished Stock</h1>
                                <div>
                                    <label>Name<span class="text-danger">*</span></label>
                                    <select-field
                                        [cssClass]="
                                            'form-control mat-field-border' +
                                            (errorFields.finishedStockName ? ' required-field-error' : '')
                                        "
                                        [name]="'stockUniqueName'"
                                        [placeholder]="'Select Stock'"
                                        [options]="stocks"
                                        (selectedOption)="
                                            errorFields.finishedStockName = false;
                                            getStockVariants(manufacturingObject.manufacturingDetails[0], $event, true)
                                        "
                                        [defaultValue]="manufacturingObject.manufacturingDetails[0].stockName"
                                        [required]="true"
                                    >
                                    </select-field>
                                </div>

                                <div *ngIf="manufacturingObject.manufacturingDetails[0].variants?.length > 1">
                                    <label>Variant<span class="text-danger">*</span></label>
                                    <select-field
                                        [cssClass]="
                                            'form-control mat-field-border' +
                                            (errorFields.finishedStockVariant ? ' required-field-error' : '')
                                        "
                                        [name]="'variantUniqueName'"
                                        [placeholder]="'Select Variant'"
                                        [options]="manufacturingObject.manufacturingDetails[0].variants"
                                        (selectedOption)="
                                            errorFields.finishedStockVariant = false;
                                            manufacturingObject.manufacturingDetails[0].variant.name = $event.label;
                                            manufacturingObject.manufacturingDetails[0].variant.uniqueName =
                                                $event.value;
                                            getVariantRecipe()
                                        "
                                        [defaultValue]="manufacturingObject.manufacturingDetails[0].variant.name"
                                        [required]="true"
                                    >
                                    </select-field>
                                </div>

                                <div>
                                    <label>Quantity<span class="text-danger">*</span></label>
                                    <small class="float-right pt-1">{{
                                        manufacturingObject.manufacturingDetails[0].manufacturingUnitCode
                                    }}</small>
                                    <text-field
                                        [cssClass]="
                                            'form-control mat-field-border' +
                                            (errorFields.finishedQuantity ? ' required-field-error' : '')
                                        "
                                        [type]="'number'"
                                        [name]="'manufacturingQuantity'"
                                        [placeholder]="'Quantity'"
                                        [(ngModel)]="manufacturingObject.manufacturingDetails[0].manufacturingQuantity"
                                        (change)="errorFields.finishedQuantity = false; calculateTotals()"
                                    >
                                    </text-field>
                                    <small class="float-right pt-1"
                                        >Multiple of
                                        <span>{{
                                            manufacturingObject.manufacturingDetails[0].manufacturingMultipleOf
                                        }}</span>
                                    </small>
                                </div>

                                <div class="d-flex justify-content-space-between">
                                    <button
                                        mat-raised-button
                                        color="primary"
                                        class="mt-2"
                                        [disabled]="isLoading"
                                        (click)="createManufacturing()"
                                    >
                                        Generate Manufacturing
                                    </button>
                                    <button mat-stroked-button class="mt-2" (click)="resetForm()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-1 d-flex justify-content-center align-items-center"
                    *ngIf="manufacturingObject.manufacturingDetails[0].variant.uniqueName"
                >
                    <span class="less-than-text"> <i class="icon-left"></i></span>
                </div>
                <div class="col-8 pr-0" *ngIf="manufacturingObject.manufacturingDetails[0].variant.uniqueName">
                    <div class="row">
                        <div class="consumption-details-wrapper w-100">
                            <h1 class="section-head">Raw Stock</h1>
                            <div class="mt-2">
                                <table id="table-raw-stock">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Variant</th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody (mouseleave)="activeLinkedStockIndex = null">
                                        <ng-container
                                            *ngFor="
                                                let linkedStock of manufacturingObject.manufacturingDetails[0]
                                                    .linkedStocks;
                                                let i = index
                                            "
                                        >
                                            <tr
                                                (mouseenter)="activeLinkedStockIndex = i; showBorder(linkedStock)"
                                                (mouseleave)="activeLinkedStockIndex = null; hideBorder(linkedStock)"
                                            >
                                                <td>
                                                    <div>
                                                        <select-field
                                                            [cssClass]="
                                                                linkedStock.cssClass +
                                                                (errorFields.linkedStockName
                                                                    ? ' required-field-error'
                                                                    : '')
                                                            "
                                                            [name]="'stock' + i"
                                                            [placeholder]="'Select Stock'"
                                                            [options]="stocks"
                                                            (selectedOption)="
                                                                checkLinkedStockValidation();
                                                                linkedStock.selectedStock = $event;
                                                                getStockVariants(linkedStock, $event)
                                                            "
                                                            [defaultValue]="linkedStock.selectedStock?.label"
                                                        >
                                                        </select-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <select-field
                                                            [cssClass]="
                                                                linkedStock.cssClass +
                                                                (errorFields.linkedVariantName
                                                                    ? ' required-field-error'
                                                                    : '')
                                                            "
                                                            [name]="'variantUniqueName' + i"
                                                            [placeholder]="'Select Variant'"
                                                            [options]="linkedStock.variants"
                                                            (selectedOption)="
                                                                checkLinkedStockValidation();
                                                                linkedStock.variant.name = $event.label;
                                                                linkedStock.variant.uniqueName = $event.value;
                                                                getRateForStock(linkedStock)
                                                            "
                                                            [defaultValue]="linkedStock.variant.name"
                                                        >
                                                        </select-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <text-field
                                                            [cssClass]="
                                                                linkedStock.cssClass +
                                                                (errorFields.linkedQuantity
                                                                    ? ' required-field-error'
                                                                    : '')
                                                            "
                                                            [type]="'number'"
                                                            [name]="'quantity' + i"
                                                            [(ngModel)]="linkedStock.quantity"
                                                            (change)="
                                                                checkLinkedStockValidation();
                                                                calculateRowTotal(linkedStock)
                                                            "
                                                        >
                                                        </text-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <div>
                                                            {{ linkedStock.stockUnitCode }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        {{ linkedStock.rate }}
                                                    </div>
                                                </td>
                                                <td>{{ linkedStock.amount }}</td>
                                                <td>
                                                    <i
                                                        *ngIf="
                                                            manufacturingObject.manufacturingDetails[0].linkedStocks
                                                                ?.length > 1
                                                        "
                                                        class="icon-cross cursor-pointer"
                                                        aria-hidden="true"
                                                        (click)="removeLinkedStock(i)"
                                                    ></i>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <td colspan="7">
                                                <button
                                                    mat-stroked-button
                                                    color="primary"
                                                    class="mb-2"
                                                    (click)="addNewLinkedStock()"
                                                >
                                                    + Add Stock
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total</td>
                                            <td colspan="4">{{ totals.totalRate }}</td>
                                            <td>{{ totals.totalAmount }}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
