.reports-main p > a {
    font-weight: normal;
    color: var(--color-blue);
}
.reports-main p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.coming-soon-report {
    color: var(--color-abbey) !important;
}
