@import "../../../../assets/css/color.scss";

.ledger-panel {
    overflow: visible;
    .more-details {
        background-color: $white;
        .cheq {
            table {
                td.remove-invoice {
                    span:first-child {
                        font-size: 25px;
                        vertical-align: middle;
                        color: $gray;
                    }
                    .label {
                        vertical-align: middle;
                        color: $gray;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.ledger-panel table tbody tr td a {
    color: $night-rider;
}

.item-padding {
    padding: 0 4px;
}

.dropdown-menu-2 {
    max-height: 190px;
    overflow-y: scroll;
}

.amount-total {
    font-size: 12px;
    color: $nobel;
    padding-left: 5px;
}

.total-detail-table tbody tr td {
    vertical-align: top;
}

.width-70 {
    width: 70px;
    min-width: 70px;
}

.equal-2,
.table-minus {
    line-height: 1.6;
}

.pd-t04 {
    padding-top: 4px;
}

.table-minus label {
    font-size: 40px;
    line-height: 23px;
}
.warehouse-field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.checkbox-custom-label strong {
    display: contents;
}
span.eligible-ITC {
    font-size: 11px;
    cursor: pointer;
    padding-top: 5px;
    display: inline-block;
    span {
        color: $deep-sky-blue;
        font-size: 10px;
    }
}
.rcm-entry {
    padding-left: 4px;
}
.taxable-amount-section {
    display: inline-block;
    margin-bottom: 12px;
}
.in-words.words-inline {
    float: right;
}
.width-115 {
    width: 115px;
    font-size: 12px;
}
.advance-receipt-edit {
    i {
        color: $deep-sky-blue;
    }
}
#ledger-unit {
    width: 78px;
}
.disabled-item {
    pointer-events: none;
}
.custom-component[disabled] {
    pointer-events: none;
}
.collapse-icons {
    font-size: 10px;
    border: 1px solid $black;
    padding: 2px;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: $solitude !important;
}
@media only screen and (max-width: 767px) {
    .ledger-panel .btn {
        margin-bottom: 13px;
    }
    .xs-d-block {
        display: block;
        float: none;
        width: 100%;
    }
    .qty-unit {
        width: 90%;
    }
    .table-plus {
        width: 10%;
        text-align: center;
    }
    .price {
        width: 40%;
    }
    .equal-2,
    .table-minus {
        width: 10%;
        text-align: center;
    }
    .amount {
        width: 40%;
    }
    .equal-2,
    .table-minus {
        width: 10%;
        text-align: center;
    }
    .total-amount-ledger {
        width: 100%;
    }
    .total-detail-table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
    }
    .qty-unit table tr td.text-right {
        padding-right: 10px;
    }
    .xs-mb-1 {
        margin-bottom: 1px;
    }
    .warehouse-field {
        display: flex;
        flex-direction: column-reverse;
    }
    .xs-justify-content-start {
        justify-content: start;
    }
}
.sh-template {
    border-bottom: 1px solid $gainsboro;
}
#new-ledger-enter-amount,
#new-ledger-enter-amount-advance-receipt,
#ledger-total-amount {
    padding-right: 10px !important;
    width: 95%;
}
#ledger-cheque-number {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 93%;
}
#ledger-description {
    width: 98.6%;
}
#ledger-quantity {
    padding-right: 6px !important;
    width: 83%;
    height: 34px;
}
#ledger-price {
    padding-right: 6px !important;
    width: 90%;
}
#ledger-invoice-number {
    width: 173px !important;
    padding-left: 6px !important;
}
/* Rotate animation for spinner in uploading file */
.more-details td,
.ledger-panel td {
    padding: 0;
    border-top: none;
}
.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
