.form-horizontal .control-label {
    text-align: left;
}

.dropdown-menu {
    overflow-y: auto;
}

.dropdown-menu li {
    font-size: 14px;
}

.custom-multi-select {
    li {
        background: var(--color-wild-sand);
        color: var(--color-white);
        margin: 4px;
        padding: 2px 10px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
        a {
            color: var(--color-abbey);
        }
    }
}
.select-companies {
    font-size: 14px;
    margin-bottom: 5px;
}
.button-yes-cancel {
    margin-top: 25px;
    margin-bottom: 20px;
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-iron);
    color: var(--color-gray);
    left: 0;
}
.input-group-date-range-picker input.form-control {
    padding-left: 35px !important;
    width: 210px;
}
.content-view {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.branch-card {
    background-color: var(--color-common-primary-background-for-all-components);
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid var(--color-common-secondary-border);
}
.card-basic-details span:nth-child(2) {
    width: 83%;
}
.card-basic-details .clearfix {
    margin-bottom: 10px;
    color: var(--color-nero);
}
.clearfix {
    .icon-favorite-selected {
        color: var(--color-blue);
    }
    .icon-branch-icon,
    .icon-company-HO {
        padding: 4px 5px 0 0;
        color: var(--color-common-senary-text);
        font-size: 12px;
    }
}
.card-basic-details h2 {
    font-size: 16px;
    color: var(--color-common-senary-text);
    font-family: "opensans-bold";
    margin-bottom: 12px;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    margin-right: 15px;
    margin-bottom: 0;
}
.card-basic-details {
    padding: 20px;
    border-bottom: 1px solid var(--color-common-secondary-border);
}
.branch-sales-details {
    border-top: 1px solid var(--color-common-secondary-border);
    padding-top: 20px;
    label {
        font-family: var(--font-semibold);
        margin-bottom: 10px;
        color: var(--color-nero);
    }
    .total-amount {
        width: 70%;
    }
}

.unlink a {
    color: var(--color-blue) !important;
    cursor: pointer;
}

.card-basic-details ul.dropdown-menu {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 5px;
    left: auto !important;
    right: 0 !important;
    overflow: hidden;
}
.card-basic-details .dropdown-menu > li > a {
    padding: 5px 10px;
    cursor: pointer;
}
.card-basic-details a#button-basic {
    color: var(--color-abbey);
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 2.8;
    position: relative;
    right: -15px;
}
.branch-views {
    cursor: pointer;
}
.btn-link {
    border-width: 0px !important;
    background: var(--color-white) !important;
}

.modal-width {
    width: 900px !important;
}

.search-branch-box {
    max-width: 220px;
    width: 100%;
    margin-right: 8px;
    input {
        background-image: url("../../../assets/images/searchIcon.svg") !important;
        background-repeat: no-repeat !important;
        padding-left: 30px !important;
        background-position: 7px 9px !important;
        background-size: 15px !important;
        width: 100% !important;
    }
}
.search-field {
    display: flex;
    flex-direction: row;
    .clear-filter-btn {
        color: var(--color-giddh-blue);
        font-size: 14px;
        border: 1px solid var(--color-giddh-blue);
        border-radius: 20px;
        padding: 0 12px;
        width: 150px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);
        i {
            font-size: 12px;
            padding-right: 8px;
            top: 0;
            color: var(--color-giddh-blue);
        }
    }
}

.advance-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    background: var(--color-white);
    margin-right: 15px;

    li {
        padding-top: 5px;
        &:hover {
            background-color: var(--color-dark-fog);
            color: var(--color-giddh-blue);
        }
    }
}

.branch-sales-collapsed {
    display: none;
}

.active-status {
    color: var(--color-primary-branch-active-status);
}

.status-bullet {
    &:before {
        content: " \2022";
        font-size: 34px;
    }
}

.parent-branch {
    color: var(--color-abbey);
}

.star-radio {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    top: -3px;
    position: relative;
    margin-right: 10px;

    &:before {
        content: "\2606";
        position: absolute;
        visibility: visible;
    }

    &:checked {
        &:before {
            content: "\2605";
            position: absolute;
            border-color: var(--color-blue);
            color: var(--color-blue);
        }
    }
}

.btn-group.more-btn.open.show {
    display: inline-block !important;
}

.icon-advance-search {
    font-size: 18px;
    color: var(--color-abbey);
}

.more-btn {
    margin-left: 20px;
    .btn-default {
        min-width: 100px;
    }
    .dropdown-menu {
        min-width: 100px;
    }
    li {
        padding: 5px;
        cursor: default;
        &:hover {
            background-color: var(--color-dark-fog);
            color: var(--color-giddh-blue);
        }
    }
}

.advance-search-list {
    min-width: 123px;
    .search-checkbox {
        label {
            padding-bottom: 5px;
            padding-left: 5px;
        }
    }
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: var(--color-nero);
    background-color: var(--color-dark-fog);
    border-color: var(--color-dark-fog);
    box-shadow: none !important;
}

.linked-add {
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    white-space: normal;
    word-break: break-word;
}

.right-card-section {
    margin-top: -15px;

    .branch-status {
        float: left;
        margin-top: 11px;
        margin-right: -18px;

        &.branch-active {
            color: var(--color-teal);
            span {
                background-color: var(--color-teal);
                width: 8px;
                height: 8px;
                float: left;
                border-radius: 5px;
                margin-top: 8px;
                margin-right: 4px;
            }
        }
        &.branch-archived {
            color: var(--color-red);
            span {
                background-color: var(--color-red);
                width: 8px;
                height: 8px;
                float: left;
                border-radius: 5px;
                margin-top: 8px;
                margin-right: 4px;
            }
        }
    }
}
.branch-vector {
    text-align: right;
    position: absolute;
    bottom: -70px;
    right: 90px;
}
@media (max-width: 375px) {
    .grey-color button.btn.btn-default {
        margin-left: 0;
        margin-top: 5px;
    }
}
@media (max-width: 768px) {
    .content-view {
        display: none;
    }
}
@media (max-width: 767px) {
    .branch-card {
        min-height: auto;
    }
    .branch-header-content {
        margin-right: 0 !important;
        flex-direction: column;
        .content-view {
            margin-left: 0;
        }
        .input-group {
            display: flex;
            justify-content: space-between;
            button {
                margin-right: 0;
            }
        }
        .search-field {
            margin-right: 0;
            .clear-filter-btn {
                padding: 0 8px;
            }
        }
    }
    .input-group-date-range-picker {
        .form-group {
            margin-bottom: 0;
        }
    }
    .btn-sky-blue.pull-right {
        float: none;
        margin-bottom: 15px;
    }
    .branch-vector {
        img {
            width: 150px;
        }
    }
}
@media (max-width: 370px) {
    .date-advance-search {
        display: block;
        .input-group-date-range-picker {
            .form-group {
                margin-bottom: 0;
            }
        }
        .btn {
            float: left !important;
        }
    }
    .branch-header-content {
        margin-right: 0;
        .search-field {
            margin-right: 0;
            .search-branch-box {
                max-width: 160px;
            }
            .clear-filter-btn {
                width: 122px !important;
                padding: 0 6px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1359px) {
    .branch-card-view {
        .col-lg-4 {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }
}

@media (min-width: 1020px) and (max-width: 1092px) {
    .form-top-fields {
        .input-addon {
            top: 18px;
        }
    }
}

@media (min-width: 575px) and (max-width: 991px) {
    .select-branch {
        margin-top: -35px;
    }
}

@media (max-width: 950px) {
    .modal-width {
        width: auto !important;
    }
}

@media (max-width: 575px) {
    .date-advance-search {
        .input-group-date-range-picker {
            width: 100%;
        }
    }
    .branch-header {
        flex-direction: column;
        .search-branch-box {
            max-width: 100%;
            margin-bottom: 15px;
        }
    }

    .search-field {
        .clear-filter-btn {
            padding: 0px 8px;
            font-size: 12px;
            height: 36px;
        }
    }
}
