@import "../../../assets/css/color.scss";

.form-horizontal .control-label {
    text-align: left;
}

.dropdown-menu {
    padding: 10px;
    max-height: 162px;
    overflow-y: scroll;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.custom-multi-select li {
    background: #f1f1f1;
    color: white;
    margin: 4px;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.selectCompanies {
    font-size: 14px;
    margin-bottom: 5px;
}
.buttonYesCancel {
    margin-top: 25px;
    margin-bottom: 20px;
}
.icon-calender {
    position: absolute;
    z-index: 9;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d9d9d9;
    color: #999999;
    left: 0;
}
.input-grp-dateRangePicker input.form-control {
    padding-left: 35px !important;
    width: 210px;
}
.contentView {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.branchCard {
    background-color: #eeeff1;
    min-height: 340px;
    margin-bottom: 15px;
    font-size: 14px;
}
.cardBasicDetails span:first-child {
    width: 60px;
}
.cardBasicDetails span:nth-child(2) {
    width: 83%;
}
.cardBasicDetails .clearfix {
    margin-bottom: 10px;
    color: #1c1c1c;
}
.cardBasicDetails h2 {
    font-size: 16px;
    color: #1a237e;
    font-family: "opensans-bold";
    margin-bottom: 12px;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    width: 90%;
}
.cardBasicDetails {
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
}
.branchSalesDetails {
    padding: 20px;
}
.branchSalesDetails label {
    font-family: "opensans-semibold";
    margin-bottom: 10px;
}
.unlink a {
    color: #5b64c9 !important;
    cursor: pointer;
}

.cardBasicDetails ul.dropdown-menu {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 5px;
    left: auto !important;
    right: 0 !important;
    overflow: hidden;
}
.cardBasicDetails .dropdown-menu > li > a {
    padding: 5px 10px;
    cursor: default;
}
.cardBasicDetails a#button-basic {
    color: #333;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 2;
}

@media (max-width: 375px) {
    .grey_clr button.btn.btn-default {
        margin-left: 0;
        margin-top: 5px;
    }
}
.branch-views {
    cursor: pointer;
}
