.aside-pane {
    position: fixed;
    left: auto;
    top: var(--top-distance);
    right: 0;
    bottom: 0;
    max-width: 760px;
    width: 100%;
    z-index: 99999;

    &.page-leave-confirmation-showing {
        z-index: 9999 !important;
    }
}
.aside-pane {
    padding: 0 !important;
}

#close {
    display: block;
    position: absolute;
    right: 12px;
    top: 16px;
    z-index: 5;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: var(--color-primary-right-side-popup-header-text);
}
.aside-body {
    padding: 0 15px;
}
.aside-pane-form {
    background-color: var(--color-common-primary-background-for-all-components);
    box-shadow: 0px 3px 6px var(--color-primary-aside-pane-form-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}

.linked-entities {
    .list-item {
        .entity-icon {
            padding: 4px;
        }
        .entity-details {
            margin-left: 6px;
            flex: 1;
            .item {
                font-family: var(--font-semibold);
            }
        }
        .default-entity {
            align-items: center;
            display: flex;
            &:hover:after {
                color: var(--color-blue);
            }
            .icon-favorite-selected {
                color: var(--color-blue);
            }
        }
    }
}

.giddh-table {
    tr {
        td {
            vertical-align: top !important;
            .action-icon {
                display: flex;
                align-items: center;
                border: 1px solid var(--color-iron);
                a {
                    width: 34px;
                    font-size: var(--font-size-16);
                    color: var(--color-abbey);
                    border-right: 1px solid var(--color-iron);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                    cursor: pointer;
                    align-items: stretch;
                    height: 34px;
                    align-items: center;
                    background-color: var(--color-white);
                }
                &:last-child {
                    border-right: none !important;
                }
            }
        }
    }
    &:hover {
        td {
            .action-icon {
                display: flex !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .giddh-table {
        tr {
            td {
                &::before {
                    left: 15px;
                }
            }
        }
    }
}

@media (max-width: 445px) {
    .giddh-table {
        tr {
            td {
                .action-icon {
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .address-list-top {
        display: block !important;
        .btn-sky-blue {
            float: right;
            margin-top: 5px;
        }
    }
}

@media (min-height: 300px) and (max-height: 730px) {
    .aside-body {
        padding-bottom: 100px;
    }
    .aside-pane-form {
        overflow: inherit;
        &.edit-branch-mode {
            height: calc(100vh - 90px);
        }
    }
}
