.reciptNoteHeader {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-family: 'opensans-bold';
    padding: 15px 15px;
    align-items: center;
}
section.reciptNote {
    background-color: #fff;
}
.reciptNoteRadioBtn {
    padding: 15px;
    color: #1c1c1c;
    border-bottom: 1px solid #d9d9d9;
}
.reciptNoteContent {
    padding: 15px 0;
    font-size: 14px;
}
.multipleProducts label {
    vertical-align: middle;
    line-height: 2.5;
}
