@import "../../../../../assets/css/color.scss";
.group-shared-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $gainsboro;
    margin-top: 15px;
    padding-top: 20px;
    li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: none !important;
    }
    .custom-select {
        width: 40%;
        border: 1px solid $gainsboro !important;
        select.form-control {
            padding: 7px !important;
            display: block;
            min-width: 200px;
            margin: 0 !important;
            width: 100%;
            padding-right: 0px !important;
        }
        .select-drop i {
            background: $white;
        }
    }
    .delete-icon {
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        background: $whisper-light;
        border: 1px solid $gainsboro;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-name-email {
        width: 40%;
        color: $night-rider !important;
        display: flex;
        white-space: normal;
        word-break: break-all;
        i {
            position: relative;
            top: 3px;
        }
        .user-email {
            display: inline-flex;
            flex-direction: column;
            small {
                &:first-child {
                    font-size: 16px;
                }
            }
        }
    }
}

.input-share-width {
    width: 45%;
}

.input-group-btn {
    width: 53%;
}

.selected-permission {
    width: 60% !important;
}

.btn-share {
    width: 36% !important;
}

.share-grp.account-share-modal {
    .add-mailer {
        .input-group {
            input {
                min-width: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

@media (min-width: 576px) {
    #share-modal select {
        max-width: 100%;
    }
}
