.main-container {
    .left-side {
        border-right: 1px solid var(--color-black);
        padding-bottom: 15px;
        .left-side-center {
            text-align: center;
        }
    }
    .right-side-center {
        text-align: center;
    }
    .downloads-button {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .list-group-item {
        border: none;
        padding-bottom: 0 !important;
    }
    .json-button {
        margin-left: 6%;
    }
    .summary-content {
        font-family: "opensans-regular";
    }
    .last-content {
        margin-bottom: 20px;
    }
    .return-link {
        text-decoration: underline;
    }
}
