.wrap-tab-content-pd-15 {
    padding: 0 15px;
}
.activity-title {
    justify-content: space-between;
}
.btn i.icon-trash {
    font-size: 13px;
    vertical-align: baseline;
    line-height: 1.7;
    text-align: center;
}