.snack-container {
    padding: 13px 45px 13px 50px;
    width: 400px;
    background-size: 24px;
    background-position: 12px 12px;
    background-repeat: no-repeat;

    .snack-progress-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        opacity: 0.4;
        background-color: var(--color-nero);
        width: 100%;
    }

    .snack-close-button {
        position: absolute;
        right: 10px;
        top: -2px;
        float: right;
        font-size: var(--font-size-25);
        color: var(--color-toast-primary-text);
        opacity: 1;
        font-weight: normal;

        i {
            font-size: var(--font-size-15);
        }
    }
    .snack-close-button:after {
        position: absolute;
        content: "";
        width: 26px;
        height: 26px;
        background-color: var(--color-primary-toast-cross-background);
        top: 50%;
        transform: translateY(-42%);
        right: -5px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .snack-close-button:hover,
    .snack-close-button:focus {
        // color: var(--color-white);
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
    }
    /*Additional properties for button version
     iOS requires the button element instead of an anchor tag.
     If you want the anchor version, it requires `href="#"`.*/
    button.snack-close-button {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 100%;
    }
}
