.import-type {
    display: flex;
    justify-content: center;
}

.import-type li {
    list-style: none;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border: 1px solid var(--color-silver);
    background: var(--color-light-gray);
    cursor: pointer;
    transition: all 0.3s ease;
    color: initial;
    border-radius: var(--mat-border-radius-0);
    justify-content: center;
}

.import-type h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: var(--font-size-15);
}

.lead {
    font-size: var(--font-size-32);
    margin-bottom: 10px;
}

/* UNUSED COMPONENT CLASS: has-error - Auto-commented by script
.has-error /* UNUSED COMPONENT CLASS: form-control - Auto-commented by script
.form-control {
    border-color: var(--color-red) !important;
}
*/

.import-type img {
    max-width: 90px;
    filter: invert(0);
}
.import-type > li > a {
    display: block;
    padding: 30px 40px;
    width: 100%;
    background-color: var(--color-white);
}
.text-link-2 {
    color: var(--mat-primary-color) !important;
    &:hover {
        color: var(--mat-primary-color) !important;
    }
}
@media (max-width: 991px) {
    .import-type {
        flex-wrap: wrap;
        li {
            width: 27%;
            margin: 0 15px 30px;
        }
    }
}

.import-type {
    /* UNUSED COMPONENT CLASS: icon-import - Auto-commented by script
.icon-import, /* UNUSED COMPONENT CLASS: icon-invoice-new - Auto-commented by script
.icon-invoice-new {
        background: var(--color-light-gray);
        width: 90px;
        height: 90px;
        line-height: 90px;
    }
*/
}