@import "../../../assets/css/color.scss";
.import_type {
    display: flex;
    justify-content: center;
}

.import_type li {
    list-style: none;
    width: 20%;
    //height: 275px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px;
    border: 1px solid $gainsboro;
    background: #fafafa;
    cursor: pointer;
    transition: all 0.3s ease;
    color: initial;
    border-radius: 2px;
    justify-content: center;
}

.import_type h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.lead {
    font-size: 36px;
    margin-bottom: 10px;
}

.has-error .form-control {
    border-color: red !important;
}

.import_type img {
    max-width: 90px;
}
.import_type > li > a {
    display: block;
    padding: 30px 40px;
    width: 100%;
    // height: 100%;
}
.text-link-2 {
    color: #0c8fe6 !important;
    &:hover {
        color: #0c8fe6 !important;
    }
}

@media (max-width: 767px) {
    .import_type {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .import_type li {
        width: 30.33%;
        margin: 10px;
        float: left;
    }
}

@media (max-width: 575px) {
    .import_type li {
        width: 100%;
        margin: 10px auto;
        float: none;
        max-width: 220px;
        text-align: center;
        display: block;
    }
    .lead {
        font-size: 25px;
    }
}
