<div class="col-xs-12">
    <div class="pt-2 mt-2">
        <div class="text-center mrT2 mrB2">
            <h1 class="lead">Have data in CSV or Excel files?</h1>
            <h4>It’s easy to import from your computer</h4>
            <a href="javascript:void 0" class="text-link-2 mt-1 d-block text-center"
                [routerLink]="['/pages','import', 'report', 'import-report']">Previous Imports</a>
        </div>
        <!--Buttons-->
        <ul class="import_type row mrB2 mrT4 pdT4">

            <li>
                <a class="text-link-2" [routerLink]="['/pages','import','group']">
                    <img src="assets/images/new/group-import.svg" />
                    <h2>Groups</h2>
                </a>

            </li>

            <li>
                <a class="text-link-2" [routerLink]="['/pages','import','account']">
                    <img src="assets/images/new/acc-import.svg" />
                    <h2>Accounts</h2>
                </a>
            </li>

            <li>
                <a class="text-link-2" [routerLink]="['/pages','import','stock']">
                    <img src="assets/images/new/Inventory-13.svg" />
                    <h2>Inventory</h2>
                </a>
            </li>

            <li>
                <a class="text-link-2" [routerLink]="['/pages','import','entries']">
                    <img src="assets/images/new/entries-import.svg" />
                    <h2>Entries</h2>
                </a>
            </li>

            <li>
                <a class="text-link-2" [routerLink]="['/pages','import','trial-balance']">
                    <img src="assets/images/new/tb-import.svg" />
                    <h2>Trial Balance</h2>
                </a>

            </li>

        </ul>
    </div>
</div>
