@import "../../../assets/css/color.scss";
.import-type {
    display: flex;
    justify-content: center;
}

.import-type li {
    list-style: none;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border: 1px solid $gainsboro;
    background: $gray-95;
    cursor: pointer;
    transition: all 0.3s ease;
    color: initial;
    border-radius: 2px;
    justify-content: center;
}

.import-type h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.lead {
    font-size: 36px;
    margin-bottom: 10px;
}

.has-error .form-control {
    border-color: $red !important;
}

.import-type img {
    max-width: 90px;
}
.import-type > li > a {
    display: block;
    padding: 30px 40px;
    width: 100%;
    background-color: var(--common-background-color-for-all-components);
}
.text-link-2 {
    color: var(--csv-or-excel-file-card-text-color) !important;
    &:hover {
        color: var(--csv-or-excel-file-card-text-color) !important;
    }
}
@media (max-width: 991px) {
    .import-type {
        flex-wrap: wrap;
        li {
            width: 27%;
            margin: 0 15px 30px;
        }
    }
}

@media (max-width: 767px) {
    .import-type {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .import-type li {
        width: 30.33%;
        margin: 10px;
        float: left;
    }
}

@media (max-width: 575px) {
    .import-type li {
        width: 100%;
        margin: 10px auto;
        float: none;
        max-width: 220px;
        text-align: center;
        display: block;
    }
    .lead {
        font-size: 25px;
    }
}
