.basic > thead > tr > th {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 11px;
    color: var(--color-abbey);
    top: 13px;
}

.arrow-filter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    color: var(--color-gray);
    cursor: pointer;
    top: 12px;
}
.action-btns {
    display: flex;
}
.btn-icon {
    display: inline-block;
    padding: 0px 8px;
    color: var(--color-abbey);
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin: 0 5px;
    border: 1px solid var(--color-iron);
    border-radius: 5px;
    height: 34px;
    width: 34px;
    background-color: var(--color-white);
}

.btn-icon .icon-trash {
    font-size: 20px;
}
.icon-pointer .active-text-color {
    color: var(--color-blue) !important;
}
.icon-pointer {
    cursor: pointer;
}
@media (min-width: 769px) {
    .table-responsive {
        max-height: calc(100vh - 245px);
        overflow-y: auto;
    }
}
