/* UNUSED COMPONENT CLASS: basic - Auto-commented by script
.basic > thead > tr > th {
    position: relative;
}
*/
.action-btns {
    display: flex;
    height: 52px;
}
.btn-icon {
    display: inline-block;
    padding: 0px 8px;
    color: var(--color-dark-gray);
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin: 0 5px;
    border: 1px solid var(--color-silver);
    border-radius: 5px;
    height: 34px;
    width: 34px;
    background-color: var(--color-white);
}

.btn-icon .icon-trash {
    font-size: 20px;
}
.icon-pointer /* UNUSED COMPONENT CLASS: active-text-color - Auto-commented by script
.active-text-color {
    color: var(--color-blue-primary) !important;
}
*/
/* UNUSED COMPONENT CLASS: icon-pointer - Auto-commented by script
.icon-pointer {
    cursor: pointer;
}
*/
