.basic > thead > tr > th {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 11px;
    color: #7d7d7d;
    top: 13px;
}

.arrow-filter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    color: #a9a9a9;
    cursor: pointer;
    top: 12px;
}

.btn-icon {
    display: inline-block;
    padding: 0px 8px;
    color: #666666;
    font-size: 16px;
    cursor: pointer;
}

.btn-icon .icon-trash {
    font-size: 20px;
}

.icon-pointer .activeTextColor {
    color: #757bb9 !important;
}
.icon-pointer {
    cursor: pointer;
}
