<ng-container
    appTranslate
    [file]="'inventory'"
    (commonLocaleData)="commonLocaleData = $event"
    (localeData)="localeData = $event"
    (translationComplete)="translationComplete($event)"
>
    <div class="aside-dialog-wrapper">
        <div class="dialog-header">
            <span>{{ commonLocaleData?.app_create_new }}</span>
            <button mat-icon-button aria-label="close" (click)="closeAsidePane($event)">
                <i class="icon-cross"></i>
            </button>
        </div>
        <mat-dialog-content class="dialog-body d-flex flex-column justify-content-center align-items-center">
            <ng-container *ngIf="moduleType === 'branch-transfer'">
                <div class="pb-3">
                    <button mat-raised-button color="primary" (click)="openCreateBranchTransfer('receipt-note')">
                        {{commonLocaleData?.app_receipt_note}}
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="openCreateBranchTransfer('delivery-challan')">
                        {{commonLocaleData?.app_delivery_challan}}
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="moduleType !== 'branch-transfer' && moduleType !== 'inventory-adjustment'">
                <div class="pb-3">
                    <button mat-raised-button color="primary" (click)="createNewByAsidePanel('stock')">
                        {{ commonLocaleData?.app_create_stock }}
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="createNewByAsidePanel('group')">
                        {{ commonLocaleData?.app_create_group }}
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="moduleType === 'inventory-adjustment'">
                <div class="pb-3">
                    <button mat-raised-button color="primary" (click)="closeAsidePane()" [routerLink]="['/pages/inventory/v2/adjust-product-and-service']" >
                        Adjust Group
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="closeAsidePane()" [routerLink]="['/pages/inventory/v2/adjust-product-and-service']">
                        Adjust Stock
                    </button>
                </div>
            </ng-container>
        </mat-dialog-content>
    </div>
</ng-container>
