:host {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    z-index: 99999;
}
#close {
    position: absolute;
    left: auto;
    right: 10px;
    z-index: 9999999;
    background-color: transparent;
    color: var(--color-white);
    font-size: 17px;
    top: 18px;
    margin-right: 0;
    border: 0;
    border-radius: 0;
}
:host .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    width: 100%;
    max-width: 760px;
}

.flexy-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexy-child-1 {
    flex-grow: 1;
}

.vertical-align-middle {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}
.aside-body {
    padding: 40px 10px;
}
.create-product-wrapper {
    .create-one-item {
        padding: 15px 0 0;
        &:hover {
            background-color: var(--color-lavender);
        }
        .wrapper-create-item {
            border-bottom: 1px solid var(--color-iron);
            display: flex;
            margin: 0 45px 0;
            padding: 25px 0;
            cursor: pointer;
            .circle-icon {
                width: 80px;
                height: 80px;
                border: 1px solid var(--color-giddh-blue);
                background-color: var(--color-white);
                border-radius: 50%;
                padding: 14px;
                i {
                    font-size: 18px;
                }
            }
            .create-item {
                max-width: 80%;
                margin-left: 15px;
                width: 100%;
                h4 {
                    font-size: 16px;
                    font-family: "opensans-semibold";
                    margin-bottom: 5px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        &:last-child {
            .wrapper-create-item {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 768px) {
    :host {
        max-width: 600px;
    }
    :host .aside-pane {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    :host {
        max-width: 370px;
    }
    :host .aside-pane {
        max-width: 370px;
    }
    .create-product-wrapper {
        .create-one-item {
            .wrapper-create-item {
                border-bottom: 1px solid var(--color-iron);
                display: flex;
                margin: 0;
                padding-bottom: 15px;
                cursor: pointer;
                .circle-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    :host {
        max-width: 310px;
    }
    :host .aside-pane {
        max-width: 310px;
    }
}
@media (max-width: 320px) {
    :host {
        max-width: 280px;
    }
    :host .aside-pane {
        max-width: 280px;
    }
}
