<div class="aside-pane">
  <button id="close" class="btn btn-sm btn-primary" (click)="closeAsidePane($event)">X</button>
  <div class="aside-header">
    <h3 class="aside-title">Payment</h3>
  </div>
  <div class="aside-body">
    <div class="creditors_detail">
      <p>{{user.user.name}} <span class="red-text">Creditor's Name</span></p>
      <div class="contactDetails">
        <p class="contactNo">
          {{user.user.contactNo}}
        </p>
        <p>{{user.user.uniqueName}}</p>
        <p>{{selectedAccForPayment.gstIn}}</p>
      </div>
    <div class="accountDetils">
      <div class="selectMode">
        <form #paymentForm="ngForm" autocomplete="off">
          <div class="row mrB2">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group custom-select pos-rel">
                <label>Select Mode</label>
                <div class="btn-group" dropdown>
                  <select class="form-control" [disabled]="OTPsent" [(ngModel)]="mode" name = "mode" id="mode">
                    <option *ngFor="let account of registeredAccounts" [value]="account">{{account.bank}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mrB1">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Account Number</label>
                <input class="form-control"  [value]= "accountDetails?.accountBankDetails[0]?.bankAccountNo" type="text" disabled>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <label>IFSC Code</label>
                <input class="form-control" [value]= "accountDetails?.accountBankDetails[0]?.ifsc" type="text" disabled>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <label>Amount</label>
                <input class="form-control" name ="amount" [(ngModel)]="amount" [disabled]="OTPsent" type="text">
              </div>
            </div>
          </div>
          <div class="row mrB1" *ngIf="OTPsent">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Enter OTP</label>
                <input class="form-control" name ="OTP" [(ngModel)]="OTP" type="number" maxlength="4">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <button *ngIf = "!OTPsent"class="btn btn-success" [disabled]="!mode || amount===0" (click) = "sendOTP()">Send OTP</button>
                <button *ngIf =  "OTPsent"class="btn btn-success" [disabled]="!mode || amount===0" (click) = "confirmOTP()">Confirm</button>
              </div>
            </div>
         </form>
        </div>
      </div>
    </div>
  </div>
</div>
