@import "../../../assets/css/color.scss";
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

:host .aside-pane {
    max-width: 760px;
    width: 100%;
}
.aside-header {
    background-color: #fff;
    padding: 20px 10px;
}
.aside-pane {
    padding: 0;
    background-color: #fff;
}
.aside-title {
    padding-bottom: 0;
    border-bottom: none;
}
.creditors_detail {
    padding: 10px;
    background-color: #f7f8fa;
    line-height: 1.6;
}
.creditors_detail > p {
    font-size: 16px;
    color: #2d3b4b;
}
.creditors_detail span.red-text {
    color: #ff0000;
}
.contactDetails p {
    font-size: 12px;
    color: #2d3b4b;
}
.accountDetils {
    padding: 10px 0;
}
form label {
    font-size: 14px;
    margin-bottom: 0;
}
.accountDetils .btn-default {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 1px solid #ccc;
}
.accountDetils .btn-group {
    width: 230px;
    display: block;
    text-align: left;
}
.accountDetils {
    padding: 10px;
}
.accountDetils span.caret {
    position: absolute;
    right: 20px;
    top: 14px;
}
.aside-pane-form {
    background-color: #fff;
    box-shadow: 0px 3px 6px #0000001a;
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
/*new css of new payemtndesign*/
.modal-title{
    color: $white;
}
.btn-success {
    padding: 7px 25px;
}
.payment-top-form .d-flex {
    flex-wrap: wrap;
}
.payment-top-form .d-flex .form-group {
    min-width: 190px;
}
.payment-top-form .d-flex .form-group:last-child {
    min-width: 220px;
}
.pt-25 {
    padding-top: 25px;
}
.payment-top-form{
    .form-group{
        margin-bottom: 0;
        .resend-btn{
            position: absolute;
            right: 0;
        }
    }
    .otp-success-msg{
        color: $light-sea-green;
        font-size: 14px;
    }
}
.selected-bank-details{
    border-top: 1px solid $gainsboro;
    padding-top: 25px;
    margin-top: 5px;
    .account-holder-name{
        display: flex;
        font-size: 14px;
        .due-amount{
            max-width: 100%;
            width: 100%;
        }
         p{
             &:first-child{
                max-width: 450px;
                width: 100%;
             }
             span{
                 float: right;
             }

        }
    }
    .bank-deatils-wrapper{
        border: 1px solid $gainsboro;
        border-radius: 2px;
        margin-top: 3px;
        display: flex;
        .readonly-bank-deatils {
            width: 100%;
            max-width: 450px;
            font-size: 14px;
            background-color: #EAEAEA;
            padding: 10px;
            border-right: 1px solid $gainsboro;
            .label-value-data{
                display: flex;
                align-items: center;
                margin: 5px 0;
                label{
                    margin-right: 5px;
                }
                .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
                    background-color: transparent !important;
                    display: inline;
                    width: auto;
                    height: 22px;
                    max-width: 90px;
                    border: none !important;
                }
            }
        }
        .amount-remark-section{
            padding: 15px;
            width: 100%;
            .form-group{
                margin-bottom: 0;
            }
            .remark-block{
                width: 100%;
                textarea{
                    min-height: 36px;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .payment-top-form {
        .otp-success-msg {
            text-align: left;
            margin: 10px 0;
        }
    }
    .payment-top-form {
        display: block;
    }
}
@media (max-width: 767px) {
    .selected-bank-details
    .bank-deatils-wrapper
    .readonly-bank-deatils {
        max-width: 100% !important;
    }

    .bank-deatils-wrapper {
        display: block !important;
        .readonly-bank-deatils {
            max-width: 100%;
        }
    }
    .selected-bank-details {
        .account-holder-name {
            p {
                &:first-child {
                    max-width: 100%;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .payment-top-form .d-flex .form-group, .payment-top-form .d-flex .form-group:last-child {
        min-width: 100%;
    }
}