.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.all-payment-side {
    margin: 0 !important;
    padding: 1rem !important;
    height: 325px;
}
:host .aside-pane {
    max-width: 760px;
    width: 100%;
}
.aside-header {
    background-color: var(--color-white);
    padding: 20px 10px;
}
.aside-pane {
    padding: 0;
    background-color: var(--color-white);
}
.aside-title {
    padding-bottom: 0;
    border-bottom: none;
}
.creditors-detail {
    padding: 10px;
    background-color: var(--color-wild-sand);
    line-height: 1.6;
}
.creditors-detail > p {
    font-size: var(--font-size-16);
    color: var(--color-primary-payment-aside-creditors-detail);
}
.creditors-detail span.red-text {
    color: var(--color-danger);
}
.contact-details p {
    font-size: var(--font-size-12);
    color: var(--color-primary-payment-aside-contact-details);
}
.account-details {
    padding: 10px 0;
}
form label {
    font-size: var(--font-size-16);
    margin-bottom: 0;
}
.account-details .btn-default {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 1px solid var(--color-iron);
}
.account-details .btn-group {
    width: 230px;
    display: block;
    text-align: left;
}
.account-details {
    padding: 10px;
}
.account-details span.caret {
    position: absolute;
    right: 20px;
    top: 14px;
}
.aside-pane-form {
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px var(--color-primary-common-box-shadow);
    padding: 15px 15px;
    height: calc(100vh - 90px);
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 15px;
}
/*new css of new payemtndesign*/
.modal-title {
    color: var(--color-popup-list-head-text);
}

.payment-top-form .d-flex {
    flex-wrap: wrap;
}
.payment-top-form .d-flex .form-group {
    min-width: 190px;
}
.payment-top-form .d-flex .form-group:last-child {
    min-width: 220px;
}
.pt-25 {
    padding-top: 25px;
}
.payment-top-form {
    .form-group {
        margin-bottom: 0;
        .resend-btn {
            position: absolute;
            right: 0;
        }
    }
    .otp-success-msg {
        color: var(--color-teal);
        font-size: var(--font-size-16);
    }
}
.selected-bank-details {
    border-top: 1px solid var(--color-common-secondary-border);
    padding-top: 25px;
    margin-top: 5px;
    .account-holder-name {
        display: flex;
        font-size: var(--font-size-16);
        .due-amount {
            max-width: 100%;
            width: 100%;
        }
        p {
            &:first-child {
                max-width: 450px;
                width: 100%;
            }
            span {
                float: right;
            }
        }
    }
    .bank-details-wrapper {
        border: 1px solid var(--color-common-secondary-border);
        border-radius: 2px;
        margin-top: 3px;
        display: flex;
        .readonly-bank-details {
            width: 100%;
            max-width: 450px;
            font-size: var(--font-size-16);
            background-color: var(--color-dark-fog);
            padding: 10px;
            border-right: 1px solid var(--color-common-secondary-border);
            .label-value-data {
                display: flex;
                align-items: center;
                margin: 5px 0;
                label {
                    margin-right: 5px;
                }
                .form-control[disabled],
                .form-control[readonly],
                fieldset[disabled] .form-control {
                    background-color: transparent !important;
                    display: inline;
                    width: auto;
                    height: 22px;
                    max-width: 90px;
                    border: none !important;
                }
            }
        }
        .amount-remark-section {
            padding: 15px;
            width: 100%;
            padding-top: 0px;
            .form-group {
                margin-bottom: 0;
            }
            .remark-block {
                width: 100%;
                textarea {
                    min-height: 80px;
                }
            }
        }
    }
}
.dropdown-loader {
    position: absolute;
    width: 18px;
    z-index: 9;
    right: 8px;
    top: 9px;
}
.align-items-center {
    align-items: center;
}
.modal-header {
    height: 63px !important;
}
@media (max-width: 1100px) {
    .payment-top-form {
        .otp-success-msg {
            text-align: left;
            margin: 10px 0;
        }
    }
    .payment-top-form {
        display: block;
    }
}
@media (max-width: 767px) {
    .selected-bank-details .bank-details-wrapper .readonly-bank-details {
        max-width: 100% !important;
    }

    .bank-details-wrapper {
        display: block !important;
        .readonly-bank-details {
            max-width: 100%;
        }
    }
    .selected-bank-details {
        .account-holder-name {
            p {
                &:first-child {
                    max-width: 100%;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .payment-top-form .d-flex .form-group,
    .payment-top-form .d-flex .form-group:last-child {
        min-width: 100%;
    }
    .amount-remark-section .d-flex {
        display: block;
        .form-group.pd-r15 {
            padding-right: 0px;
        }
    }
}
