.invoice-bg {
    background-color: var(--color-wild-sand);
    padding: 20px;
}

.invoice-nav.navbar-nav > li > a {
    padding: 6px 30px;
    font-size: var(--font-size-16);
    color: var(--color-nero);
    background-color: var(--color-dark-fog);
}

.invoice-nav.navbar-nav > li > a:hover {
    color: var(--color-white);
}

.invoice-nav.navbar-nav > li > a.active {
    background-color: var(--color-white);
}
