.invoice-bg {
    background-color: var(--color-light-gray);
    padding: 20px;
}

.invoice-nav.navbar-nav > li > a {
    padding: 6px 30px;
    font-size: var(--font-size-15);
    //color: var(--color-black);
    background-color: var(--color-border-light);
}

.invoice-nav.navbar-nav > li > a:hover {
    color: var(--color-white);
}

.invoice-nav.navbar-nav > li > a.active {
    //background-color: var(--color-white);
}
