.invoice-bg {
    background-color: var(--color-solitude);
    padding: 20px;
}

.invoice-nav.navbar-nav > li > a {
    padding: 6px 30px;
    font-size: 14px;
    color: var(--color-night-rider);
    background-color: var(--color-whisper);
}

.invoice-nav.navbar-nav > li > a:hover {
    color: var(--color-white);
}

.invoice-nav.navbar-nav > li > a.active {
    background-color: var(--color-white);
}
