.obligations {
    .custom-datepicker {
        input {
            height: 48px;
            width: 100% !important;
            min-width: 230px;
            max-width: unset !important;
        }
    }

    dropdown-field {
        width: 230px;
        display: block;
    }

    .action-btn {
        min-width: 125px;
    }
        
    .initial-screen {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}