<form [formGroup]="convertToBillForm" autocomplete="off" novalidate (ngSubmit)="onFormSubmit()">
    <div class="dialog-header">
        <span mat-dialog-title class="font-16">{{ localeData?.convert_to_bill }}</span>
        <i mat-dialog-close class="icon-cross icon-font-16"></i>
    </div>
    <mat-dialog-content class="dialog-body custom-height">
        <ng-container
            formArrayName="purchaseOrders"
            *ngFor="let voucher of convertToBillForm?.get('purchaseOrders')?.controls; let i = index"
        >
            <div [formGroupName]="i">
                <input-field
                    [type]="'tel'"
                    [label]="localeData?.purchase_bill_number"
                    class="w-50"
                    formControlName="purchaseNumber"
                >
                </input-field>
                <span class="ml-1">{{ form?.get("purchaseOrders")?.value[i]?.orderNumber }}</span>
            </div>
        </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="d-flex column-gap1 justify-content-end mt-4">
            <button mat-stroked-button color="primary" type="submit">{{ commonLocaleData?.app_save }}</button>
            <button mat-stroked-button mat-dialog-close type="button">{{ commonLocaleData?.app_cancel }}</button>
        </div>
    </mat-dialog-actions>
</form>
