@import "../../../assets/css/color.scss";

.wrapper {
    .header {
        display: flex;
        align-items: center;
        background-color: $midnight-blue;
        color: $white;
        width: 100%;
        padding-left: 10px;
        height: 50px;
    }
    .section {
        display: flex;
        height: 77vh;
        .left-side {
            border-right: 1px solid $dim-gray;
            width: 35%;
            padding: 10px 10px 10px 13px;
            .left-side-subHead {
                font-size: 1.2rem;
                margin-top: 10px;
            }
            .invoice-head {
                display: flex;
                position: relative;
                span {
                    margin-left: 5px;
                    width: 71%;
                    margin-top: 3px;
                }
                .clear-icon {
                    position: absolute;
                    right: 0px;
                }
            }
            .attachment {
                font-size: 1.2rem;
                margin-top: 10px;
            }
            .attachment-list {
                height: 52vh;
                overflow: auto;
                margin-bottom: 14px;
                mat-list {
                    mat-list-item {
                        height: 45px;
                        .file-name {
                            margin-left: 5px;
                            width: 77%;
                            margin-top: 1px;
                        }
                        .clear-icon {
                            position: absolute;
                            right: 0px;
                        }
                    }
                }
            }
        }
        .right-side {
            width: 65%;
            padding: 10px 13px;
            .right-side-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .download-button {
                    margin: 0px 15px;
                }
            }
            .display-area {
                height: 90%;
                margin-top: 12px;
                border-radius: 5px;
                overflow: hidden;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

::ng-deep {
    .mat-list-item-content {
        height: auto !important;
        padding: 0px !important;
        align-items: flex-start !important;
    }
}

@media (max-width: 767px) {
    .wrapper {
        .section {
            .left-side {
                width: 100%;
            }
            .right-side {
                display: none;
            }
        }
    }
}
