.bulk-entry {
    $height: 85vh;
    width: 1200px;
    max-width: 80vw;
    height: $height;

    .bulk-entry-body {
        .bulk-entry-list {
            border-right: 1px solid var(--color-common-primary-border);
            padding-right: 16px;
            width: 40%;

            .list-wrapper {
                .list-viewport {
                    height: calc(#{$height} - 154.5px);
                }

                .list-item {
                    min-height: 40px;
                    max-width: 80%;
                    cursor: pointer;

                    .stock-icon {
                        margin-bottom: 2px;
                    }
                }

                .variants-wrapper {
                    margin-left: 15px;

                    .list-item {
                        padding-left: 32px !important;
                        max-width: 86%;
                    }
                }

                .mat-expansion-panel {
                    box-shadow: unset !important;
                }

                .mat-expansion-panel-header {
                    &.mat-expanded {
                        height: unset;
                    }
                }
            }
        }

        .bulk-entry-selected-items {
            padding: 0 16px;
            width: 60%;

            .selected-item-title,
            .selected-item-action {
                height: 52px;
            }

            .selected-item-title {
                line-height: 52px;
            }

            .selected-item-action {
                padding-top: 10px;
            }

            .selected-item-wrapper {
                overflow-y: auto;
                padding-top: 10px;
                padding-bottom: 10px;
                height: calc(#{$height} - 196px);
                border-top: 1px solid var(--color-common-primary-border);
                border-bottom: 1px solid var(--color-common-primary-border);

                mat-list-item {
                    height: auto;
                    min-height: 48px;

                    p {
                        width: 85%;
                        white-space: normal;
                        word-break: break-all;
                        line-height: 18px;
                    }
                }

                button {
                    width: 0;
                    min-width: 36px;
                    height: 36px;
                    padding-top: 4px;
                }
            }

        }
    }
}