Resources:
  ListenerARNFetcherLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: { "Fn::Sub": "ListenerARNFetcherLambda-${AWS::StackName}" }
      Handler: index.lambda_handler
      Runtime: python3.9
      Role: { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/giddh-lambda-role" }
      Timeout: 30
      Code:
        ZipFile: |
          import boto3
          import json
          import traceback
          import cfnresponse

          def lambda_handler(event, context):
              try:
                  env_id = event['ResourceProperties'].get('EnvId')
                  eb = boto3.client('elasticbeanstalk')
                  eb_response = eb.describe_environment_resources(EnvironmentId=env_id)
                  load_balancers = eb_response.get('EnvironmentResources', {}).get('LoadBalancers', [])
                  if not load_balancers:
                      raise Exception("No load balancer found for environment id: " + env_id)
                  lb_arn = load_balancers[0]['Name']
                  elbv2 = boto3.client('elbv2')
                  listeners_response = elbv2.describe_listeners(LoadBalancerArn=lb_arn)
                  listeners = listeners_response.get('Listeners', [])
                  result = {}
                  for listener in listeners:
                      port = listener.get('Port')
                      if port == 80:
                          result['HTTPListenerArn'] = listener.get('ListenerArn')
                      elif port == 443:
                          result['HTTPSListenerArn'] = listener.get('ListenerArn')
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, result)
              except Exception as e:
                  print(traceback.format_exc())
                  cfnresponse.send(event, context, cfnresponse.FAILED, {"Message": str(e)})

  ListenerUpdaterLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: { "Fn::Sub": "ListenerUpdaterLambda-${AWS::StackName}" }
      Handler: index.handler
      Runtime: python3.9
      Role: { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/giddh-lambda-role" }
      Timeout: 30
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          import traceback
          import json

          def handler(event, context):
              try:
                  listener_arn = event['ResourceProperties']['ListenerArn']
                  target_group_arn = event['ResourceProperties']['TargetGroupArn']
                  elbv2 = boto3.client('elbv2')
                  print(json.dumps(event, indent=2))
                  print('Event type : ', event['RequestType'])

                  if event['RequestType'] == 'Delete':
                      elbv2.modify_listener(
                          ListenerArn=listener_arn,
                          DefaultActions=[{
                              'Type': 'fixed-response',
                              'FixedResponseConfig': {
                                  'StatusCode': '200',
                                  'ContentType': 'application/json',
                                  'MessageBody': '{"status": "success", "body": "The application may be temporarily unavailable. Please check back shortly."}'
                              }
                          }]
                      )
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                      return

                  rules = elbv2.describe_rules(ListenerArn=listener_arn)['Rules']
                  all_tgs = set()
                  for rule in rules:
                      for action in rule['Actions']:
                          if action['Type'] == 'forward':
                              if 'TargetGroupArn' in action:
                                  all_tgs.add(action['TargetGroupArn'])
                              elif 'ForwardConfig' in action:
                                  for tg in action['ForwardConfig']['TargetGroups']:
                                      all_tgs.add(tg['TargetGroupArn'])

                  if event['RequestType'] in ['Create', 'Update']:
                      if len(all_tgs) > 1:
                          raise ValueError(f"Multiple TGs found: {', '.join(all_tgs)}")
                      if len(all_tgs) == 1:
                          existing_tg = all_tgs.pop()
                          if existing_tg != target_group_arn:
                              raise ValueError(f"Existing TG ({existing_tg}) conflicts with new ({target_group_arn})")

                      elbv2.modify_listener(
                          ListenerArn=listener_arn,
                          DefaultActions=[{
                              'Type': 'forward',
                              'TargetGroupArn': target_group_arn
                          }]
                      )

                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {'Message' : 'Target group attached through cfn'})
              except Exception as e:
                  print(traceback.format_exc())
                  error_data = { 'error': str(e) }
                  cfnresponse.send(event, context, cfnresponse.FAILED, error_data)
  FetchListenerARNs:
      Type: Custom::FetchListenerARNs
      Properties:
        ServiceToken: { "Fn::GetAtt": ["ListenerARNFetcherLambda", "Arn"] }
        EnvId: { "Ref": "AWSEBEnvironmentId" }

  UpdateHTTPDefaultAction:
    Type: Custom::ALBListenerUpdater
    Properties:
      ServiceToken: { "Fn::GetAtt": ["ListenerUpdaterLambda", "Arn"] }
      ListenerArn: { "Fn::GetAtt": ["FetchListenerARNs", "HTTPListenerArn"] }
      TargetGroupArn: { "Ref": "AWSEBV2LoadBalancerTargetGroup" }

  UpdateHTTPSDefaultAction:
    Type: Custom::ALBListenerUpdater
    Properties:
      ServiceToken: { "Fn::GetAtt": ["ListenerUpdaterLambda", "Arn"] }
      ListenerArn: { "Fn::GetAtt": ["FetchListenerARNs", "HTTPSListenerArn"] }
      TargetGroupArn: { "Ref": "AWSEBV2LoadBalancerTargetGroup" }